﻿<form class="kt-form kt-form--label-right" id="email_provider_create_form">
    <div class="kt-portlet__body">

        <div class="form-group pos-relative">
            <label class="input-abs-text">No:</label>
            <input type="text" name="id" class="form-control"  autocomplete="off" required>
        </div>

      <div class="form-group pos-relative">
            <label class="input-abs-text">Email Sağlayıcı Adı:</label>
            <input type="text" name="name" class="form-control"  autocomplete="off" required>
        </div>

    </div>
</form>