﻿@model ECommerce.Application.Panel.ViewModels.EmailProviderCompanies.Update


    <form class="kt-form" id="email_provider_update_form">

     <div class="kt-widget4">
            <input type="hidden" name="id" value="@Model.EmailProviderCompany.Id" />

            @foreach (var accLoop in Model.EmailProviderCompany.EmailProviderConfigurations)
            {

                var index = Model.EmailProviderCompany.EmailProviderConfigurations.IndexOf(accLoop);
                <div class="kt-widget4__item">
                    <div class="kt-widget4__info">
                        <input type="hidden" name="emailProviderConfigurations[@index][id]" value="@accLoop.Id" />
                        <span>@accLoop.Key</span>
                        <input type="text" name="emailProviderConfigurations[@index][value]" class="form-control" value="@accLoop.Value" placeholder="Değer adı giriniz">

                    </div>
                </div>
            }
        </div>

    </form>
