﻿@model ECommerce.Application.Panel.ViewModels.BulkOrders.Index


<!--Order Body Begin-->
<div id="summary"></div>

<div class="row">
    <div class="col-md-12">
        <div class="kt-portlet" id="kt_page_portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Sipariş Toplama
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">

                        <div class="btn-group dropleft">

                            <a href="javascript:BulkOrderIndex.Print()" class="btn btn-brand" type="button">
                                <i class="la la-print"></i>   Yazdır
                            </a>

                        </div>

                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <!-- Filter Head Begin-->
                <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row" id="orderFilterRow">
                        <div id="kt_table_1_filter" class="dataTables_filter orderFilterBox flex-box">


                            <div class="form-group">
                                <label>
                                    <span class="label-text">Sipariş Hazırlama:&nbsp;</span>
                                    <select id="ajax_data_search_order_preparation"
                                            class="form-control kt-select2 order_preparation-select"
                                            onchange="BulkOrderIndex.Read(0)">
                                        <option value="-1">Tümü</option>
                                        <option value="1">
                                            Tekli
                                        </option>
                                        <option value="2">
                                            Çoklu
                                        </option>
                                    </select>
                                </label>
                            </div>

                            <div class="form-group">
                                <label>
                                    <span class="label-text">Pazaryeri:&nbsp;</span>
                                    <select id="ajax_data_search_marketplace"
                                            class="form-control kt-select2 marketplace-select"
                                            onchange="BulkOrderIndex.Read(0)">
                                        <option value="-1">Tümü</option>
                                        @foreach (var mpLoop in Model.MarketPlaces)
                                        {
                                            <option data-html="<img height='30' width='90' src='org/img/marketplace-icons/@(mpLoop.Key).png'/>"
                                                value="@mpLoop.Key">
                                                @mpLoop.Value
                                            </option>
                                        }
                                    </select>
                                </label>
                            </div>

                            <div class="form-group">
                                <label class="pos-relative">
                                    <span class="label-text"> Raf No:</span>
                                    <input id="ajax_data_search_shelf_code" type="search"
                                           class="form-control" placeholder="Raf No Arama..."
                                           aria-controls="kt_table_1" onchange="BulkOrderIndex.Read(0)" />
                                </label>
                            </div>

                             <div class="form-group">
                                <label>
                                    <span class="label-text"> Ürün Model Kodu:</span>
                                    <input id="ajax_data_search_model_code" type="text" class="form-control" placeholder="Model Kodu Arama..." aria-controls="kt_table_1" onchange="BulkOrderIndex.Read(0)">
                                </label>
                            </div>

                            <div class="form-group">
                                <label>
                                    <span class="label-text"> Ürün Stok Kodu:</span>
                                    <input id="ajax_data_search_stock_code" type="text" class="form-control" placeholder="Ürün Stok Kodu Arama..." aria-controls="kt_table_1" onchange="BulkOrderIndex.Read(0)">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="label-text"> Ürün Barkod:</span>
                                    <input id="ajax_data_search_barcode" type="text" class="form-control" placeholder="Barkod Arama..." aria-controls="kt_table_1" onchange="BulkOrderIndex.Read(0)">
                                </label>
                            </div>

                            <div class="form-group">
                                <label>
                                    <span class="label-text"> Tarih:</span>
                                    <input id="ajax_data_search_date" class="form-control" autocomplete="off" value="@Html.Raw($"{DateTime.Now.AddDays(-7):dd-MM-yyyy} / {DateTime.Now:dd-MM-yyyy}")" />
                                </label>
                            </div>

                            <div class="form-group">
                                <label>
                                    <span class="label-text">Ürün Kategori:&nbsp;</span>
                                    <select id="ajax_data_search_category"
                                            class="form-control kt-select2 marketplace-select"
                                            onchange="BulkOrderIndex.Read(0)">
                                        <option value="-1">Tümü</option>
                                        @foreach (var mpLoop in Model.Categories)
                                        {
                                            <option 
                                                    value="@mpLoop.Key">
                                                @mpLoop.Value
                                            </option>
                                        }
                                    </select>
                                </label>
                            </div>

                            <div class="form-group">
                                <label>
                                    <span class="label-text">Sipariş Kategorileri:&nbsp;</span>
                                    <select id="ajax_data_search_product_category_preparation"
                                            class="form-control kt-select2 order_preparation-select"
                                            onchange="BulkOrderIndex.Read(0)">
                                        <option value="-1">Tümü</option>
                                        <option value="1">
                                            Aynı Kategorili Siparişler
                                        </option>
                                        <option value="2">
                                            Farklı Kategorili Siparişler
                                        </option>
                                    </select>
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Filter Head End-->
            </div>
        </div>
    </div>
</div>

<!-- Pagination::Begin -->
<div class="row">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__body">

                <!--begin: Pagination-->
                <div class="kt-pagination kt-pagination--brand">
                    <div class="kt-pagination__toolbar flex-wrap">
                        <div class="pos-relative mr-3 flex-child">
                            <label class="input-abs-text">Sıralama</label>
                            <select class="kt-hidden-select2 ajax_data_sorting" onchange="BulkOrderIndex.ChangeSorting(this)">
                                <option value="OrderDateAsc">Sipariş Tarihi Azalan</option>
                                <option value="OrderDateDesc">Sipariş Tarihi Artan</option>
                                <option value="SellerCodeAsc">Model Kodu Azalan</option>
                                <option value="SellerCodeDesc">Model Kodu Artan</option>
                            </select>
                        </div>

                        <span class="pagination__desc flex-child">
                            ...
                        </span>
                    </div>
                    <div class="pagination-box">
                        <ul class="kt-pagination__links">
                            ...
                        </ul>
                    </div>
                </div>

                <!--end: Pagination-->
            </div>
        </div>
    </div>
</div>
<!-- Pagination::End -->

<div class="kt-portlet">
    <div class="kt-portlet__body">

        <div class="row">

            <input id="ajax_data_page" type="hidden" value="0" />
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
                    <thead>
                        <tr class="bgGrey">
                            <th width="80%">Detay</th>
                            <th width="20%">Raf</th>
                        </tr>
                    </thead>
                    <tbody id="ajax_data"></tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- Pagination::Begin -->
@*<div class="row">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__body">

                <!--begin: Pagination-->
                <div class="kt-pagination kt-pagination--brand">
                    <div class="kt-pagination__toolbar flex-wrap">

                    </div>
                    <div class="pagination-box">
                        <ul class="kt-pagination__links">
                            ...
                        </ul>
                    </div>
                </div>

                <!--end: Pagination-->
            </div>
        </div>
    </div>
</div>*@
<!-- Pagination::End -->
@section Scripts {
    <script src="/org/library/js/jquery-serializer.js"></script>
    <script src="/org/library/js/jquery-table.js?v=2.1"></script>
    <script src="/org/library/js/jquery-autocomplete.js?v=0.3"></script>
    <script src="/org/js/views/bulk-order/index.js?v=8"></script>



    @if (Model.ShowStock)
    {
        <script>
            BulkOrderIndex.ShowStock = true;
        </script>
    }
}