﻿@model DataResponse<Supplier>

@if (Model.Success)
{
    <form class="kt-form" id="supplier_update_form">

        <input type="hidden" name="id" value="@Model.Data.Id" />

        <div class="kt-portlet__body">
            <div class="kt-section kt-section--first">
                <div class="form-group pos-relative">
                    <label class="input-abs-text">Tedarikçi Adı:</label>
                    <input type="text" name="name" class="form-control" value="@Model.Data.Name" required>
                </div>
            </div>
        </div>

    </form>
}