﻿@model ECommerce.Domain.Entities.SizeTable

<form id="size_table_form" class="kt-form kt-form--label-right">

    <div class="kt-portlet__body">

        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="productId" value="@Model.ProductId" />

        @for (int i = 0; i < Model.SizeTableItems.Count; i++)
        {
            <input type="hidden" name="[sizeTableItems][@i][id]" value="@Model.SizeTableItems[i].Id" />
            <input type="hidden" name="[sizeTableItems][@i][size]" value="@Model.SizeTableItems[i].Size" />

            <div class="row">
                <div class="col-md-3">@Model.SizeTableItems[i].Size</div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Göğüs:</label>
                        <input name="[sizeTableItems][@i][chest]" class="form-control" value="@Model.SizeTableItems[i].Chest" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Bel:</label>
                        <input name="[sizeTableItems][@i][waist]" class="form-control" value="@Model.SizeTableItems[i].Waist" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Basen:</label>
                        <input name="[sizeTableItems][@i][hip]" class="form-control" value="@Model.SizeTableItems[i].Hip" />
                    </div>
                </div>
            </div>
        }

    </div>

</form>