﻿@model ECommerce.Application.Panel.ViewModels.MarketplaceBrandMappings.IndexPartial

@if (Model.Marketplaces == null || Model.Marketplaces.Count == 0)
{
    <div class="alert alert-info" role="alert">
        <div class="alert-icon"><i class="flaticon-danger"></i></div>
        <div class="alert-text">Herhangi bir pazaryeri entegrasyonu bulunmamaktadır.</div>
    </div>
}
else
{
    <form id="marketplace_brand_form">

        <input type="hidden" value="@Model.BrandId" name="BrandId" />

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h5>@Model.BrandName</h5>
                </div>
            </div>
        </div>

        <div class="row">

            @foreach (var mLoop in Model.Marketplaces.OrderByDescending(x => x.BrandAutocomplete))
            {
                var marketplaceBrandMapping = Model.MarketplaceBrandMappings.FirstOrDefault(mcm => mcm.MarketplaceId == mLoop.Id);
                <div class="col-md-2">
                    @mLoop.Name Marka
                </div>

                <div class="col-md-10 marketplace-container-@mLoop.Id">

                    <div class="form-group">

                        <input type="hidden" value="@mLoop.Id" name="marketplaceBrandMappings[@(Model.Marketplaces.IndexOf(mLoop))][MarketplaceId]" />

                        <input type="hidden" value="@Model.BrandId" name="marketplaceBrandMappings[@(Model.Marketplaces.IndexOf(mLoop))][BrandId]" />

                        @if (mLoop.BrandAutocomplete)
                        {
                            <div class="typeahead">
                                <div class="kt-input-icon kt-input-icon--left">

                                    <input type="text" 
                                        data-brand-market-place-id="@mLoop.Id" 
                                        data-is-ecommerce="@mLoop.IsECommerce.ToString().ToLower()"
                                        autocomplete="off" 
                                        class="form-control" 
                                        placeholder="@mLoop.Name Marka Arama..." 
                                        value="@marketplaceBrandMapping?.MarketplaceBrandName" 
                                        name="marketplaceBrandMappings[@(Model.Marketplaces.IndexOf(mLoop))][MarketplaceBrandName]" />

                                    <input type="hidden" 
                                        
                                        id="marketplaceBrandCode_@mLoop.Id" 
                                        value="@marketplaceBrandMapping?.MarketplaceBrandCode" 
                                        name="marketplaceBrandMappings[@(Model.Marketplaces.IndexOf(mLoop))][MarketplaceBrandCode]" />

                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                                <span class="form-text text-muted">Marka ile arama yapmak için burayı kullanabilirsiniz.</span>
                            </div>
                        }
                        else
                        {
                            <input type="text" 
                                
                                autocomplete="off" 
                                class="form-control" 
                                placeholder="@mLoop.Name Marka Yazınız" 
                                value="@marketplaceBrandMapping?.MarketplaceBrandName" 
                                name="marketplaceBrandMappings[@(Model.Marketplaces.IndexOf(mLoop))][MarketplaceBrandName]" />
                        }
                    </div>

                </div>
            }

        </div>

    </form>
}