﻿@model ECommerce.Application.Panel.ViewModels.Stocktakings.Create

<form class="kt-form" id="stocktaking_create_form">
    <div class="kt-portlet__body">
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="kt-portlet h-100">

                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Stok Sayım Bilgileri
                                </h3>
                            </div>
                        </div>

                        <div class="kt-form">
                            <div class="kt-portlet__body">

                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Adı</label>
                                    <input type="text" class="form-control" name="name" required>
                                </div>

                                <div class="form-group pos-relative">
                                    <label class="input-abs-text" for="exampleTextarea">Açıklama</label>
                                    <textarea class="form-control" rows="3" name="description"></textarea>
                                </div>

                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Model Kodu</label>
                                    <input type="text" class="form-control" name="modelCode" required>
                                </div>

                                <div class="form-group">
                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                        <input name="checkGroup:boolean" value="true" data-unchecked-value="false" type="checkbox" checked>
                                        Ürün grubu kontrol edilsin mi?
                                        <span></span>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                        <input name="manuel:boolean" value="true" data-unchecked-value="false" type="checkbox" checked>
                                        Manuel sayıma izin verilsin mi?
                                        <span></span>
                                    </label>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</form>