﻿@model ECommerce.Application.Panel.ViewModels.Stocktakings.Index

<!--Stocktaking Body Begin-->
<div class="row mt25">
    <div class="col-md-12">
        <div class="kt-portlet" id="kt_page_portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Stok Sayımları
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">

                        <div class="btn-group dropleft">
                            <button class="btn btn-brand dropleft dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                İşlemler
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                <a class="dropdown-item" href="javascript:StocktakingIndex.OpenCreateModal()">
                                    <i class="la la-plus"></i>
                                    Yeni Stok Sayım
                                </a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <!-- Filter Head Begin-->
                <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div id="kt_table_1_filter" class="dataTables_filter flex-box">

                            <div class="form-group">
                                <label class="pos-relative">
                                    <span class="input-abs-text"> Stok Sayım Tipi</span>
                                    <select id="ajax_data_search_stocktaking_type_id" class="ot-selectpicker">
                                        @foreach (var theStocktakingType in Model.StocktakingTypes)
                                        {
                                            <option value="@theStocktakingType.Key">@theStocktakingType.Value</option>
                                        }
                                    </select>
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Filter Head End-->
            </div>
        </div>
    </div>
</div>

<!-- Pagination::Begin -->
<div class="row">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__body">

                <!--begin: Pagination-->
                <div class="kt-pagination kt-pagination--brand">
                    <div class="kt-pagination__toolbar flex-wrap">
                        <div class="pos-relative mr-3 flex-child">
                            <label class="input-abs-text">Kayıt Sayısı</label>
                            <select class="kt-hidden-select2 ajax_data_length" onchange="StocktakingIndex.ChangePageRecordsCount(this)">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <span class="pagination__desc flex-child">
                            ...
                        </span>
                    </div>
                    <div class="pagination-box">
                        <ul class="kt-pagination__links">
                            ...
                        </ul>
                    </div>
                </div>

                <!--end: Pagination-->
            </div>
        </div>
    </div>
</div>
<!-- Pagination::End -->

<div class="kt-portlet">
    <div class="kt-portlet__body">

        <div class="row">

            <input id="ajax_data_page" type="hidden" value="0" />
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
                    <thead>
                        <tr class="bgGrey">
                            <th width="10%">Stok Sayım No</th>
                            <th width="77%">Ad</th>
                            <th width="10%">Oluşturulma Tarihi</th>
                            <th width="3%"></th>
                        </tr>
                    </thead>
                    <tbody id="ajax_data"></tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- Pagination::Begin -->
<div class="row">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__body">

                <!--begin: Pagination-->
                <div class="kt-pagination kt-pagination--brand">
                    <div class="kt-pagination__toolbar flex-wrap">
                        <div class="pos-relative mr-3 flex-child">
                            <label class="input-abs-text">Kayıt Sayısı</label>
                            <select class="kt-hidden-select2 ajax_data_length" onchange="StocktakingIndex.ChangePageRecordsCount(this)">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <span class="pagination__desc flex-child">
                            ...
                        </span>
                    </div>
                    <div class="pagination-box">
                        <ul class="kt-pagination__links">
                            ...
                        </ul>
                    </div>
                </div>

                <!--end: Pagination-->
            </div>
        </div>
    </div>
</div>
<!-- Pagination::End -->
<!--Order Body End-->
<!-- Modal::Begin-->
<div class="modal fade" id="stocktaking_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="modal_submit" type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
@section Scripts {
    <script src="/org/library/js/jquery-serializer.js"></script>
    <script src="/org/library/js/jquery-table.js?v=2.1"></script>
    <script src="/org/js/views/stocktaking/index.js?v=7"></script>
}