﻿@model ECommerce.Application.Panel.ViewModels.Stocktakings.Update

<form class="kt-form" id="stocktaking_update_form">

    <input type="hidden" name="id:number" value="@Model.Stocktaking.Id" />

    <div class="kt-portlet__body">
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="row">
                <div class="col-md-4">

                    <div class="kt-portlet">

                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Stok Sayım Bilgileri
                                </h3>
                            </div>
                        </div>

                        <div class="kt-form">
                            <div class="kt-portlet__body">

                                <div class="form-group pos-relative" id="stocktaking_type">
                                    <label class="input-abs-text"> Stok Sayım Tipi</label>
                                    <select name="stocktakingTypeId" style="width: 100%" class="form-control kt-select2" @(Model.Stocktaking.StocktakingTypeId == "TA" || Model.Stocktaking.StocktakingTypeId == "ON" || Model.Stocktaking.StocktakingTypeId == "BE" ? "disabled" : "")>
                                        @foreach (var theStocktakingType in Model.StocktakingTypes)
                                        {
                                            if ((Model.Stocktaking.StocktakingTypeId != "ON" && theStocktakingType.Key == "ON") || (Model.Stocktaking.StocktakingTypeId != "TA" && theStocktakingType.Key == "TA"))
                                            {
                                                continue;
                                            }

                                            <option value="@theStocktakingType.Key" @(theStocktakingType.Key == Model.Stocktaking.StocktakingTypeId ? "selected" : "")>@theStocktakingType.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Adı</label>
                                    <input type="text" class="form-control" name="name" value="@Model.Stocktaking.Name" required>
                                </div>

                                <div class="form-group pos-relative">
                                    <label class="input-abs-text" for="exampleTextarea">Açıklama</label>
                                    <textarea class="form-control" rows="3" name="description">@Model.Stocktaking.Description</textarea>
                                </div>

                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Model Kodu</label>
                                    <input type="text" class="form-control" name="modelCode" value="@Model.Stocktaking.ModelCode" required>
                                </div>

                                <div class="form-group">
                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                        <input name="checkGroup:boolean" value="true" data-unchecked-value="false" type="checkbox" @(Model.Stocktaking.CheckGroup ? "checked" : "")>
                                        Ürün grubu kontrol edilsin mi?
                                        <span></span>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                        <input name="manuel:boolean" value="true" data-unchecked-value="false" type="checkbox" @(Model.Stocktaking.Manuel ? "checked" : "")>
                                        Manuel sayıma izin verilsin mi?
                                        <span></span>
                                    </label>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-8">

                    <div class="kt-portlet h-100">

                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Ürünler
                                </h3>
                            </div>
                        </div>

                        <div class="kt-form">
                            <div class="kt-portlet__body">

                                <div class="table-responsive">

                                    @if (Model.Stocktaking.StocktakingDetails?.Count > 0 && Model.Stocktaking.StocktakingTypeId == "OB")
                                    {
                                        <button id="stocktaking_approve" type="button" class="btn btn-primary">Sayımı Onayla</button>
                                    }

                                    <table class="table table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
                                        <thead>
                                            <tr>
                                                <th>Görsel</th>
                                                <th>Ürün</th>
                                                <th>Satılabilir Stok</th>
                                                <th>Rezerve Stok</th>
                                                <th>Toplandı</th>
                                                <th>Paketlendi</th>
                                                <th>Sayılan</th>
                                                <th>Değişim</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Stocktaking.StocktakingDetails?.Count == 0)
                                            {
                                                <tr>
                                                    <td colspan="8">
                                                        <div class="alert alert-info" role="alert">
                                                            <div class="alert-icon"><i class="flaticon-danger"></i></div>
                                                            <div class="alert-text">Herhangi bir ürün bulunmamaktadır.</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                foreach (var theStocktakingDetail in Model.Stocktaking.StocktakingDetails)
                                                {
                                                    var reservedStock = theStocktakingDetail.ProductInformation.ReservedStock;
                                                    var collectedQuantity = theStocktakingDetail.CollectedQuantity;
                                                    var packedQuantity = theStocktakingDetail.PackedQuantity;

                                                    if (reservedStock < (collectedQuantity + packedQuantity))
                                                        reservedStock = (collectedQuantity + packedQuantity);

                                                    var difference = theStocktakingDetail.Quantity - (theStocktakingDetail.ProductInformation.Stock + (reservedStock - (collectedQuantity + packedQuantity)));

                                                    <tr>
                                                        <td align="center">
                                                            <img src="@theStocktakingDetail.ProductInformation?.ProductInformationPhotos?.FirstOrDefault()?.FileName" height="50" class="table-product-img" />
                                                        </td>
                                                        <td>
                                                            <div>@theStocktakingDetail.ProductInformation.ProductInformationTranslations[0].Name</div>
                                                            <div>@theStocktakingDetail.ProductInformation.ProductInformationTranslations[0].VariantValuesDescription</div>
                                                            <div>

                                                                <a style="font-weight: 500" href="javascript:navigator.clipboard.writeText('@theStocktakingDetail.ProductInformation.Barcode');Notify.Show(NotifyType.Info, '<b>@theStocktakingDetail.ProductInformation.Barcode</b> kopyalandı.');">@theStocktakingDetail.ProductInformation.Barcode <i class="la la-copy"></i> </a>

                                                            </div>
                                                        </td>
                                                        <td>@theStocktakingDetail.ProductInformation.Stock</td>
                                                        <td>@reservedStock</td>
                                                        <td>@collectedQuantity</td>
                                                        <td>@packedQuantity</td>
                                                        <td>@theStocktakingDetail.Quantity</td>
                                                        <td class="font-weight-bolder kt-font-@(difference > 0 ? "success" : "danger")">@(difference > 0 ? $"+{difference}" : difference)</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        @if (Model.Stocktaking.StocktakingDetails?.Count > 0)
                                        {
                                            <tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th>@Model.Stocktaking.StocktakingDetails.Sum(sd=>sd.Quantity)</th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>
                                        }
                                    </table>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</form>