﻿@model ECommerce.Application.Panel.ViewModels.Products.MarketplaceSettings.Partial

@if (Model.Success == false)
{
    <div class="alert alert-info" role="alert">
        <div class="alert-icon"><i class="flaticon-danger"></i></div>
        <div class="alert-text">@Model.Message</div>
    </div>
}
else
{
    <form id="marketplace_form" class="kt-form kt-form--label-right">

        <input type="hidden" id="product-id" value="@Model.Product.Id" />

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                        <input type="checkbox" class="handle-barcode-stock-code-changes">
                        Barkod/Stok Kodu Değişikliklerini Tümüne Uygula
                        <span></span>
                    </label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                        <input type="checkbox" class="handle-prices-changes">
                        Fiyat Değişikliklerini Tümüne Uygula
                        <span></span>
                    </label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                        <input type="checkbox" class="handle-open-close-changes" checked>
                        Aç/Kapa Seçimlerini Tümüne Uygula
                        <span></span>
                    </label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                        <input type="checkbox" class="handle-variant-entries">
                        Varyasyon Girişlerini Tümüne Uygula
                        <span></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var theMarketplace in Model.Marketplaces)
            {
                var productMarketplace = Model.ProductMarketplaces.FirstOrDefault(pm => pm.MarketplaceId == theMarketplace.Id);

                <div class="col-md-2 product-marketplace-container" data-marketplace-id="@theMarketplace.Id" data-is-ecommerce="@theMarketplace.IsECommerce.ToString().ToLower()" data-product-marketplace-id="@productMarketplace?.Id" data-brand-autocomplete="@theMarketplace.BrandAutocomplete" data-matchable="@theMarketplace.Matchable.ToString().ToLower()">
                    <div class="form-group">

                        <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                            <input type="checkbox" class="active" @(productMarketplace.Active ? "checked" : "")>
                            <img src="/org/img/marketplace-icons/@(theMarketplace.Id).png" height="25" />
                            <span></span>
                        </label>

                    </div>

                    @if (theMarketplace.Matchable)
                    {
                        <div class="form-group pos-relative" data-marketplace-category-code="@productMarketplace.MarketplaceCategoryCode" data-marketplace-category-name="@productMarketplace.MarketplaceCategoryName">
                            <label class="input-abs-text">
                                Kategori
                            </label>
                            <select data-live-search="true" class="form-control kt-selectpicker">
                                <option value="">Seçiniz</option>

                                @foreach (var theCategory in Model.MarketplaceCategories.FirstOrDefault(mc => mc.MarketplaceId == theMarketplace.Id).Items)
                                {
                                    <option value="@theCategory.Code"
                                            data-content="<small style='padding-left: 0px'>@((string.IsNullOrEmpty(theCategory.Breadcrumb) ? theCategory.Name : theCategory.Breadcrumb))</small><br />@theCategory.Name"
                                            data-company-id="@theCategory.CompanyId" @(productMarketplace.MarketplaceCategoryCode == theCategory.Code ? "selected" : "")>
                                        @theCategory.Name
                                    </option>
                                }
                            </select>
                        </div>

                        @if (theMarketplace.BrandAutocomplete)
                        {
                            <div class="form-group pos-relative"
                                 data-marketplace-brand-code="@productMarketplace.MarketplaceBrandCode"
                                 data-marketplace-brand-name="@productMarketplace.MarketplaceBrandName"
                                 data-marketplace-brand-autocomplete="@theMarketplace.BrandAutocomplete.ToString().ToLower()"
                            @Html.Raw(@theMarketplace.BrandAutocomplete ? "required":"")
                            @Html.Raw(@theMarketplace.BrandAutocomplete ? "data-required-field=\"marketplace-brand-code\"" : "")>
                                <label class="input-abs-text">Marka: <span class="kt-font-danger">* Zorunlu</span></label>

                                <div class="typeahead">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input type="text" class="form-control" placeholder="Marka arayınız" value="@productMarketplace.MarketplaceBrandName" />
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        }
                        else
                        {
                            <div class="form-group pos-relative" data-marketplace-brand-code="@productMarketplace.MarketplaceBrandCode" data-marketplace-brand-name="@productMarketplace.MarketplaceBrandName" data-marketplace-brand-autocomplete="@theMarketplace.BrandAutocomplete.ToString().ToLower()">
                                <label class="input-abs-text">Marka: <span class="kt-font-danger">* Zorunlu</span></label>

                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Marka giriniz" value="@productMarketplace.MarketplaceBrandName" required />
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-i-cursor"></i></span>
                                    </span>
                                </div>

                            </div>
                        }

                        <div class="form-group pos-relative">
                            <label class="input-abs-text">Model Kodu: <span class="kt-font-danger">* Zorunlu</span></label>
                            <input type="text" class="form-control" placeholder="Model Kodu giriniz" value="@productMarketplace?.SellerCode" />
                        </div>

                        <div class="form-group pos-relative">
                            <label class="input-abs-text">Kargo Teslim Gün Sayısı: <span class="kt-font-danger">* Zorunlu</span></label>
                            <input type="text" class="form-control" placeholder="Kargo Teslim Gün Sayısı giriniz" value="@productMarketplace?.DeliveryDay" />
                        </div>
                    }
                </div>
            }
        </div>

        @foreach (var theProductInformation in Model.Product.ProductInformations)
        {
            var index = Model.Product.ProductInformations.IndexOf(theProductInformation);

            <div id="product-informations" class="accordion accordion-light accordion-toggle-arrow">
                <div class="card">

                    <div class="card-header">
                        <div class="card-title collapsed" data-toggle="collapse" data-target="#product-information-@index" aria-expanded="false" aria-controls="collapseOne2">
                            <div>
                                @theProductInformation.ProductInformationTranslations[0].Name
                                <br />
                                <small>
                                    @theProductInformation.ProductInformationTranslations[0].FullVariantValuesDescription
                                </small>
                            </div>
                        </div>
                    </div>

                    <div id="product-information-@index" class="collapse" data-parent="#product-informations">
                        <div class="card-body">

                            <div class="row">
                                @foreach (var theMarketplace in Model.Marketplaces)
                                {
                                    var productInformationMarketplace = Model.ProductInformationMarketplaces.FirstOrDefault(pim => pim.MarketplaceId == theMarketplace.Id && pim.ProductInformationId == theProductInformation.Id);

                                    <div class="col-md-2 product-information-marketplace-container" data-marketplace-id="@theMarketplace.Id" data-product-information-id="@theProductInformation.Id" data-product-information-marketplace-id="@productInformationMarketplace?.Id" data-matchable="@theMarketplace.Matchable.ToString().ToLower()">
                                        <div class="form-group">

                                            <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                                <input type="checkbox" class="active" @(productInformationMarketplace.Active ? "checked" : "")>
                                                <img src="/org/img/marketplace-icons/@(theMarketplace.Id).png" height="25" />
                                                <span></span>
                                            </label>

                                        </div>

                                        @if (Model.IncludeAccounting)
                                        {
                                            <div class="form-group">

                                                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                                    <input type="checkbox" class="accounting-price" @(productInformationMarketplace.AccountingPrice ? "checked" : "")>
                                                    Xml/Erp Fiyat Güncellensin
                                                    <span></span>
                                                </label>

                                            </div>
                                        }

                                        @if (productInformationMarketplace.Id > 0)
                                        {
                                            <div class="form-group">

                                                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                                    <input type="checkbox" class="disabled-update-product" @(!productInformationMarketplace.DisabledUpdateProduct ? "checked" : "")>
                                                    Fiyat ve Bilgiler Güncellensin
                                                    <span></span>
                                                </label>

                                            </div>
                                        }

                                        <div class="form-group">

                                            <div class="form-group pos-relative">
                                                <label class="input-abs-text">Barkod: <span class="kt-font-danger">* Zorunlu</span></label>
                                                <input type="text" class="form-control barcode" placeholder="Barkod giriniz" value="@productInformationMarketplace?.Barcode" required />
                                            </div>

                                        </div>

                                        @if (theMarketplace.Matchable)
                                        {
                                            <div class="form-group">

                                                <div class="form-group pos-relative">
                                                    <label class="input-abs-text">Stok Kodu: <span class="kt-font-danger">* Zorunlu</span></label>
                                                    <input type="text" class="form-control stock-code" placeholder="Stok Kodu giriniz" value="@productInformationMarketplace?.StockCode" required />
                                                </div>

                                            </div>
                                        }

                                        <div class="form-group">

                                            <div class="form-group pos-relative">
                                                <label class="input-abs-text">Liste Fiyatı: <span class="kt-font-danger">* Zorunlu</span></label>
                                                <input type="text" class="form-control list-unit-price" placeholder="Liste Fiyatı giriniz" value="@productInformationMarketplace?.ListUnitPrice" required />
                                            </div>

                                        </div>

                                        <div class="form-group">

                                            <div class="form-group pos-relative">
                                                <label class="input-abs-text">Satış Fiyatı: <span class="kt-font-danger">* Zorunlu</span></label>
                                                <input type="text" class="form-control unit-price" placeholder="Satış Fiyatı giriniz" value="@productInformationMarketplace?.UnitPrice" required />
                                            </div>

                                        </div>

                                        <div class="marketplace-variant-container" data-marketplace-id="@theMarketplace.Id" data-is-ecommerce="@theMarketplace.IsECommerce.ToString().ToLower()">

                                            @foreach (var theVariant in Model.MarketplaceVariants.FirstOrDefault(mv => mv.MarketplaceId == theMarketplace.Id)?.Items.OrderByDescending(v => v.Mandatory))
                                            {
                                                var productInformationMarketplaceVariantValue = productInformationMarketplace?.ProductInformationMarketplaceVariantValues.FirstOrDefault(pimvv => pimvv.MarketplaceVariantCode == theVariant.Code);

                                                if (theVariant.AllowCustom)
                                                {
                                                    <div class="form-group pos-relative"
                                                         data-marketplace-variant-code="@theVariant.Code"
                                                         data-marketplace-variant-name="@theVariant.Name"
                                                         data-allow-custom="@theVariant.AllowCustom.ToString().ToLower()"
                                                         data-mandatory="@theVariant.Mandatory.ToString().ToLower()"
                                                         data-varianter="@theVariant.Varianter.ToString().ToLower()"
                                                         data-multiple="@theVariant.Multiple.ToString().ToLower()"
                                                         data-marketplace-variant-value-code="@productInformationMarketplaceVariantValue?.MarketplaceVariantValueCode"
                                                         data-marketplace-variant-value-name="@productInformationMarketplaceVariantValue?.MarketplaceVariantValueName">
                                                        <label class="input-abs-text">
                                                            @theVariant.Name:
                                                            @if (theVariant.Mandatory)
                                                            {
                                                                <span class="kt-font-danger">* Zorunlu</span>
                                                            }
                                                        </label>
                                                        <div class="kt-input-icon kt-input-icon--left">
                                                            <input type="text"
                                                                   class="form-control"
                                                                   placeholder=""
                                                                   value="@productInformationMarketplaceVariantValue?.MarketplaceVariantValueName"
                                                            @Html.Raw((theVariant.Mandatory ? "required" : "")) />
                                                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                <span><i class="la la-i-cursor"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    if (theMarketplace.IsECommerce)
                                                    {
                                                        <div class="form-group pos-relative"
                                                             data-marketplace-variant-code="@theVariant.Code"
                                                             data-marketplace-variant-name="@theVariant.Name"
                                                             data-allow-custom="@theVariant.AllowCustom.ToString().ToLower()"
                                                             data-mandatory="@theVariant.Mandatory.ToString().ToLower()"
                                                             data-varianter="@theVariant.Varianter.ToString().ToLower()"
                                                             data-multiple="@theVariant.Multiple.ToString().ToLower()"
                                                             data-marketplace-variant-value-code="@productInformationMarketplaceVariantValue?.MarketplaceVariantValueCode"
                                                             data-marketplace-variant-value-name="@productInformationMarketplaceVariantValue?.MarketplaceVariantValueName"
                                                        @Html.Raw(theVariant.Mandatory ? "data-required-field=\"marketplace-variant-value-code\"" : "")
                                                        @Html.Raw((theVariant.Mandatory? "required":""))>
                                                            <label class="input-abs-text">
                                                                @theVariant.Name:
                                                                @if (theVariant.Mandatory)
                                                                {
                                                                    <span class="kt-font-danger">* Zorunlu</span>
                                                                }
                                                            </label>
                                                            <div class="typeahead">
                                                                <div class="kt-input-icon kt-input-icon--left">
                                                                    <input type="text" class="form-control" placeholder="" value="@productInformationMarketplaceVariantValue?.MarketplaceVariantValueName" />
                                                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                        <span><i class="la la-search"></i></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <div class="form-group pos-relative"
                                                                     data-marketplace-variant-code="@theVariant.Code"
                                                                     data-marketplace-variant-name="@theVariant.Name"
                                                                     data-allow-custom="@theVariant.AllowCustom.ToString().ToLower()"
                                                                     data-mandatory="@theVariant.Mandatory.ToString().ToLower()"
                                                                     data-varianter="@theVariant.Varianter.ToString().ToLower()"
                                                                     data-multiple="@theVariant.Multiple.ToString().ToLower()"
                                                                     data-marketplace-variant-value-code="@productInformationMarketplaceVariantValue?.MarketplaceVariantValueCode"
                                                                     data-marketplace-variant-value-name="@productInformationMarketplaceVariantValue?.MarketplaceVariantValueName"
                                                                @Html.Raw(theVariant.Mandatory ? "data-required-field=\"marketplace-variant-value-code\"" : "")
                                                                @Html.Raw((theVariant.Mandatory? "required":""))>
                                                                    <label class="input-abs-text">
                                                                        @theVariant.Name:
                                                                        @if (theVariant.Mandatory)
                                                                        {
                                                                            <span class="kt-font-danger">* Zorunlu</span>
                                                                        }
                                                                    </label>
                                                                    <div class="typeahead">
                                                                        <div class="kt-input-icon kt-input-icon--left">
                                                                            <input type="text" class="form-control" placeholder="" value="@productInformationMarketplaceVariantValue?.MarketplaceVariantValueName" />
                                                                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                                <span><i class="la la-search"></i></span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <button class="btn btn-primary btn-icon btn-sm"
                                                                        type="button"
                                                                        data-full-search-marketplace-variant-name="@theVariant.Name"
                                                                        data-full-search-marketplace-variant-code="@theVariant.Code">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    }

                                                }
                                            }

                                        </div>

                                    </div>
                                }
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        }

    </form>
}