﻿<form class="kt-form" id="showcase_create_form">

    <div class="kt-portlet__body">

        <div class="row">

            <div class="col-lg-3">

                <div class="kt-portlet sticky-tool">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Araçlar
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="kt-notification-v2">
                            <!-- Row::Begin -->
                            <div class="kt-notification-v2__item" id="row" type="row" scope="playground">
                                <div class="kt-notification-v2__item-icon">
                                    <i class="flaticon2-right-arrow kt-font-warning"></i>
                                </div>
                                <div class="kt-notification-v2__itek-wrapper">
                                    <div class="kt-notification-v2__item-title">
                                        Satır
                                    </div>
                                </div>
                            </div>
                            <!-- Row::End -->
                            <!-- Column::Begin -->
                            <div class="kt-notification-v2__item" id="column" type="column" scope="row">
                                <div class="kt-notification-v2__item-icon">
                                    <i class="flaticon2-arrow-1 kt-font-warning"></i>
                                </div>
                                <div class="kt-notification-v2__itek-wrapper">
                                    <div class="kt-notification-v2__item-title">
                                        Sütun
                                    </div>
                                </div>
                            </div>
                            <!-- Column::End -->
                            <!-- Product::Begin -->
                            <div class="kt-notification-v2__item" id="product" type="product" scope="column">
                                <div class="kt-notification-v2__item-icon">
                                    <i class="flaticon2-cube kt-font-warning"></i>
                                </div>
                                <div class="kt-notification-v2__itek-wrapper">
                                    <div class="kt-notification-v2__item-title">
                                        Ürün
                                    </div>
                                </div>
                            </div>
                            <!-- Product::End -->
                            <!-- Banner::Begin -->
                            <div class="kt-notification-v2__item" id="banner" type="banner" scope="column">
                                <div class="kt-notification-v2__item-icon">
                                    <i class="flaticon2-photograph kt-font-warning"></i>
                                </div>
                                <div class="kt-notification-v2__itek-wrapper">
                                    <div class="kt-notification-v2__item-title">
                                        Banner
                                    </div>
                                </div>
                            </div>
                            <!-- Banner::End -->
                            <!-- Slider::Begin -->
                            <div class="kt-notification-v2__item" id="slider" type="slider" scope="column">
                                <div class="kt-notification-v2__item-icon">
                                    <i class="flaticon2-files-and-folders kt-font-warning"></i>
                                </div>
                                <div class="kt-notification-v2__itek-wrapper">
                                    <div class="kt-notification-v2__item-title">
                                        Slider
                                    </div>
                                </div>
                            </div>
                            <!-- Slider::End -->
                            <!-- Slider Product::Begin -->
                            <div class="kt-notification-v2__item" id="slider-product" type="slider-product" scope="slider">
                                <div class="kt-notification-v2__item-icon">
                                    <i class="flaticon2-cube kt-font-success"></i>
                                </div>
                                <div class="kt-notification-v2__itek-wrapper">
                                    <div class="kt-notification-v2__item-title">
                                        Slider Ürün
                                    </div>
                                </div>
                            </div>
                            <!-- Slider Product::End -->
                            <!-- Slider Banner::Start -->
                            <div class="kt-notification-v2__item" id="slider-banner" type="slider-banner" scope="slider">
                                <div class="kt-notification-v2__item-icon">
                                    <i class="flaticon2-photograph kt-font-success"></i>
                                </div>
                                <div class="kt-notification-v2__itek-wrapper">
                                    <div class="kt-notification-v2__item-title">
                                        Slider Banner
                                    </div>
                                </div>
                            </div>
                            <!-- Slider Banner::End -->
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-9">

                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Tasarım
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">

                        <div id="playground" type="playground" class="row" style="min-height: 50px;">

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</form>