﻿@model ECommerce.Application.Panel.ViewModels.Showcases.Update

<form class="kt-form" id="showcase_update_form">

    <input id="showcase_id" type="hidden" value="@Model.Showcase.Id"/>

    <div class="kt-portlet__body">

        <div class="row">

            <div class="col-lg-3">

                <div class="kt-portlet sticky-tool">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Araçlar
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="kt-notification-v2">
                            <!-- Row::Begin -->
                            <div class="kt-notification-v2__item" id="row" type="row" scope="playground">
                                <div class="kt-notification-v2__item-icon">
                                    <i class="flaticon2-right-arrow kt-font-warning"></i>
                                </div>
                                <div class="kt-notification-v2__itek-wrapper">
                                    <div class="kt-notification-v2__item-title">
                                        Satır
                                    </div>
                                </div>
                            </div>
                            <!-- Row::End -->
                            <!-- Column::Begin -->
                            <div class="kt-notification-v2__item" id="column" type="column" scope="row">
                                <div class="kt-notification-v2__item-icon">
                                    <i class="flaticon2-arrow-1 kt-font-warning"></i>
                                </div>
                                <div class="kt-notification-v2__itek-wrapper">
                                    <div class="kt-notification-v2__item-title">
                                        Sütun
                                    </div>
                                </div>
                            </div>
                            <!-- Column::End -->
                            <!-- Product::Begin -->
                            <div class="kt-notification-v2__item" id="product" type="product" scope="column">
                                <div class="kt-notification-v2__item-icon">
                                    <i class="flaticon2-cube kt-font-warning"></i>
                                </div>
                                <div class="kt-notification-v2__itek-wrapper">
                                    <div class="kt-notification-v2__item-title">
                                        Ürün
                                    </div>
                                </div>
                            </div>
                            <!-- Product::End -->
                            <!-- Banner::Begin -->
                            <div class="kt-notification-v2__item" id="banner" type="banner" scope="column">
                                <div class="kt-notification-v2__item-icon">
                                    <i class="flaticon2-photograph kt-font-warning"></i>
                                </div>
                                <div class="kt-notification-v2__itek-wrapper">
                                    <div class="kt-notification-v2__item-title">
                                        Banner
                                    </div>
                                </div>
                            </div>
                            <!-- Banner::End -->
                            <!-- Slider::Begin -->
                            <div class="kt-notification-v2__item" id="slider" type="slider" scope="column">
                                <div class="kt-notification-v2__item-icon">
                                    <i class="flaticon2-files-and-folders kt-font-warning"></i>
                                </div>
                                <div class="kt-notification-v2__itek-wrapper">
                                    <div class="kt-notification-v2__item-title">
                                        Slider
                                    </div>
                                </div>
                            </div>
                            <!-- Slider::End -->
                            <!-- Slider Product::Begin -->
                            <div class="kt-notification-v2__item" id="slider-product" type="slider-product" scope="slider">
                                <div class="kt-notification-v2__item-icon">
                                    <i class="flaticon2-cube kt-font-success"></i>
                                </div>
                                <div class="kt-notification-v2__itek-wrapper">
                                    <div class="kt-notification-v2__item-title">
                                        Slider Ürün
                                    </div>
                                </div>
                            </div>
                            <!-- Slider Product::End -->
                            <!-- Slider Banner::Start -->
                            <div class="kt-notification-v2__item" id="slider-banner" type="slider-banner" scope="slider">
                                <div class="kt-notification-v2__item-icon">
                                    <i class="flaticon2-photograph kt-font-success"></i>
                                </div>
                                <div class="kt-notification-v2__itek-wrapper">
                                    <div class="kt-notification-v2__item-title">
                                        Slider Banner
                                    </div>
                                </div>
                            </div>
                            <!-- Slider Banner::End -->
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-9">

                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Tasarım
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">

                        <div id="playground" type="playground" class="row" style="min-height: 50px;">

                            @foreach (var rcLoop in Model.Showcase.RowComponents)
                            {
                                <div class="col-lg-12" type="row" scope="playground" draggable="true" not-initialize>

                                    <div class="kt-portlet">
                                        <div class="kt-portlet__head">
                                            <div class="kt-portlet__head-label">
                                                <h3 class="kt-portlet__head-title d-flex kt-mr-10 kt-mr-10 kt-mr-10 ">
                                                    <i class="flaticon2-right-arrow kt-font-warning kt-mr-10 "></i> Satır
                                                </h3>
                                                <div class="showCase colHeader position-relative">
                                                    <label class="textLabel-abs">Başlık</label>
                                                    <input type="text" class="form-control" value="@rcLoop.Header">
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-brand btn-elevate btn-circle btn-icon" onclick="this.parentElement.parentElement.parentElement.remove()"><i class="flaticon2-rubbish-bin"></i></button>
                                        </div>
                                        <div class="kt-portlet__body">

                                            <div class="row inner-playground">

                                                @foreach (var ccLoop in rcLoop.ColumnComponents)
                                                {

                                                    <div class="col-lg-@ccLoop.Width" type="column" scope="row" draggable="true" not-initialize>
                                                        <div class="kt-portlet">
                                                            <div class="kt-portlet__head">
                                                                <div class="kt-portlet__head-label">
                                                                    <h3 class="kt-portlet__head-title d-flex kt-mr-10">
                                                                        <i class="flaticon2-arrow-1 kt-font-warning kt-mr-10"></i> Sütun
                                                                    </h3>
                                                                    <select class="custom-select custom-select-sm form-control form-control-sm" onchange="conchangesize(event)">

                                                                        @for (int i = 3; i <= 12; i++)
                                                                        {
                                                                            <option value="@i" @((i == ccLoop.Width) ? "selected" : "")>@i </option>
                                                                        }

                                                                    </select>
                                                                </div>
                                                                <button type="button" class="btn btn-brand btn-elevate btn-circle btn-icon" onclick="this.parentElement.parentElement.parentElement.remove()"><i class="flaticon2-rubbish-bin"></i></button>
                                                            </div>
                                                            <div class="kt-portlet__body inner-playground">

                                                                @foreach (var pcLoop in ccLoop.ProductComponents)
                                                                {

                                                                    <div class="kt-portlet" type="product" scope="column" draggable="true"  not-initialize>
                                                                        <div class="kt-portlet__head">
                                                                            <div class="kt-portlet__head-label">
                                                                                <h3 class="kt-portlet__head-title d-flex kt-mr-10">
                                                                                    <i class="flaticon2-cube kt-font-warning kt-mr-10"></i> Ürün
                                                                                </h3>
                                                                            </div>
                                                                            <button type="button" class="btn btn-brand btn-elevate btn-circle btn-icon" onclick="this.parentElement.parentElement.remove()"><i class="flaticon2-rubbish-bin"></i></button>
                                                                        </div>
                                                                        <div class="kt-portlet__body">
                                                                            <div class="form-group">
                                                                                <div class="col-lg-12 typeahead">
                                                                                    <label>Ürün</label>
                                                                                    <input type="text" class="form-control" placeholder="Ara" value="@pcLoop.Name">
                                                                                    <input type="hidden" value="@($"{pcLoop.ProductId}-{pcLoop.ProductInformationId}")">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                }

                                                                @foreach (var bcLoop in ccLoop.BannerComponents)
                                                                {

                                                                    <div class="kt-portlet" type="banner" scope="column" draggable="true"  not-initialize>
                                                                        <div class="kt-portlet__head">
                                                                            <div class="kt-portlet__head-label">
                                                                                <h3 class="kt-portlet__head-title d-flex kt-mr-10">
                                                                                    <i class="flaticon2-photograph kt-font-warning kt-mr-10"></i> Banner
                                                                                </h3>
                                                                            </div>
                                                                            <button type="button" class="btn btn-brand btn-elevate btn-circle btn-icon" onclick="this.parentElement.parentElement.remove()"><i class="flaticon2-rubbish-bin"></i></button>
                                                                        </div>
                                                                        <div class="kt-portlet__body"><div class="form-group"><div class="col-lg-12"><label>Fotoğraf</label><input type="file" class="form-control"><input type="hidden" value="@bcLoop.FileName"></div></div><div class="form-group"><div class="col-lg-12"><label>Link</label><input type="text" class="form-control" value="@bcLoop.Link" placeholder="Link"></div></div></div>
                                                                    </div>

                                                                }

                                                                @foreach (var scLoop in ccLoop.SliderComponents)
                                                                {

                                                                    <div class="kt-portlet" type="slider" scope="column" draggable="true"  not-initialize>
                                                                        <div class="kt-portlet__head">
                                                                            <div class="kt-portlet__head-label">
                                                                                <h3 class="kt-portlet__head-title d-flex kt-mr-10">
                                                                                    <i class="flaticon2-files-and-folders kt-font-warning kt-mr-10"></i> Slider
                                                                                </h3>
                                                                            </div>
                                                                            <button type="button" class="btn btn-brand btn-elevate btn-circle btn-icon" onclick="this.parentElement.parentElement.remove()"><i class="flaticon2-rubbish-bin"></i></button>
                                                                        </div>
                                                                        <div class="kt-portlet__body">
                                                                            <div class="row inner-playground">

                                                                                @foreach (var pcLoop in scLoop.ProductComponents)
                                                                                {

                                                                                    <div class="col-lg-3" type="slider-product" scope="slider" draggable="true"  not-initialize>
                                                                                        <div class="kt-portlet">
                                                                                            <div class="kt-portlet__head">
                                                                                                <div class="kt-portlet__head-label">
                                                                                                    <h3 class="kt-portlet__head-title d-flex kt-mr-10">
                                                                                                        <i class="flaticon2-cube kt-font-success kt-mr-10"></i> Slider Ürün
                                                                                                    </h3>
                                                                                                </div>
                                                                                                <button type="button" class="btn btn-brand btn-elevate btn-circle btn-icon" onclick="this.parentElement.parentElement.parentElement.remove()"><i class="flaticon2-rubbish-bin"></i></button>
                                                                                            </div>
                                                                                            <div class="kt-portlet__body">
                                                                                                <div class="form-group">
                                                                                                    <div class="col-lg-12 typeahead">
                                                                                                        <label>Ürün</label>
                                                                                                        <input type="text" class="form-control" placeholder="Ara" value="@pcLoop.Name">
                                                                                                        <input type="hidden" value="@($"{pcLoop.ProductId}-{pcLoop.ProductInformationId}")">
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                }

                                                                                @foreach (var bcLoop in scLoop.BannerComponents)
                                                                                {

                                                                                    <div class="col-lg-4" type="slider-banner" scope="slider" draggable="true"  not-initialize>
                                                                                        <div class="kt-portlet">
                                                                                            <div class="kt-portlet__head">
                                                                                                <div class="kt-portlet__head-label">
                                                                                                    <h3 class="kt-portlet__head-title d-flex kt-mr-10">
                                                                                                        <i class="flaticon2-photograph kt-font-success kt-mr-10"></i> Slider Banner
                                                                                                    </h3>
                                                                                                </div>
                                                                                                <button type="button" class="btn btn-brand btn-elevate btn-circle btn-icon" onclick="this.parentElement.parentElement.parentElement.remove()"><i class="flaticon2-rubbish-bin"></i></button>
                                                                                            </div>
                                                                                            <div class="kt-portlet__body"><div class="form-group"><div class="col-lg-12"><label>Fotoğraf</label><input type="file" class="form-control"><input type="hidden" value="@bcLoop.FileName"></div></div><div class="form-group"><div class="col-lg-12"><label>Link</label><input type="text" value="@bcLoop.Link" class="form-control" placeholder="Link"></div></div></div>
                                                                                        </div>
                                                                                    </div>

                                                                                }

                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                }

                                                            </div>
                                                        </div>
                                                    </div>

                                                }

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            }

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</form>