﻿@model ECommerce.Application.Panel.ViewModels.Accounts.AccessDenied

@{
    Layout = null;
}


<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yetki Hatası</title>
</head>
<body>
    <h1>Yetki Hatası</h1>
</body>
</html>