﻿@model ECommerce.Application.Panel.ViewModels.Accounts.Login
@{
    Layout = null;
}

<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Giriş</title>

    <!-- Font::Begin -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
    <!-- Font::End -->
    <!-- Css::End -->
    <link href="/org/theme/css/login-3.css" rel="stylesheet" />
    <link href="/org/theme/plugins/global/plugins.bundle.css" rel="stylesheet" />
    <link href="/org/theme/css/style.bundle.css" rel="stylesheet" />
    <link href="/org/theme/css/datatables.bundle.css" rel="stylesheet" />

    <!-- Css::End -->
</head>
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize kt-page--loading">

    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--ver kt-grid--root kt-page">
        <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background-image: url(/org/img/upload/bg-1.jpg);">
                <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                    <div class="kt-login__container">
                        @*       <div class="kt-login__logo">
                        <a href="#">
                        <img src="/org/img/logo-s.png" style="width: 120px;" >
                        </a>
                        </div>*@
                        <div class="kt-login__signin">
                            <div class="kt-login__head">
                                <h3 class="kt-login__title">Yönetim Paneli Giriş</h3>
                            </div>
                            <form class="kt-form" id="login_form">

                                <div class="form-group input-group">
                                    <input class="form-control " type="text" placeholder="Kullanıcı Adı" name="username" autocomplete="off" value="" required>
                                </div>

                                <div class="form-group input-group">
                                    <input class="form-control "  type="password" placeholder="Şifre" name="password" autocomplete="off" value="" required>
                                </div>

                            @*     <div class="form-group mt-5">
                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                        <input type="checkbox" name="KeepLoggedIn:boolean">
                                        Oturumumu Açık Tut
                                        <span style="border:1px solid white !important;"></span>
                                    </label>
                                </div> *@

                                <div>
                                    <div id="g-recaptcha" class="input-group mt-4 "></div>
                                </div>

                                <div class="kt-login__actions">
                                    <button id="kt_login_signin_submit" type="button" class="btn btn-brand btn-elevate kt-login__btn-primary">
                                        Giriş Yap
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="kt-login__signup">
                            <div class="kt-login__head">
                                <h3 class="kt-login__title">Sign Up</h3>
                                <div class="kt-login__desc">Enter your details to create your account:</div>
                            </div>
                            <form class="kt-form" action="">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Fullname" name="fullname">
                                </div>
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Email" name="email" autocomplete="off">
                                </div>
                                <div class="input-group">
                                    <input class="form-control" type="password" placeholder="Password" name="password">
                                </div>
                                <div class="input-group">
                                    <input class="form-control" type="password" placeholder="Confirm Password" name="rpassword">
                                </div>
                                <div class="row kt-login__extra">
                                    <div class="col kt-align-left">
                                        <label class="kt-checkbox">
                                            <input type="checkbox" name="agree">I Agree the <a href="#" class="kt-link kt-login__link kt-font-bold">terms and conditions</a>.
                                            <span></span>
                                        </label>
                                        <span class="form-text text-muted"></span>
                                    </div>
                                </div>
                                <div class="kt-login__actions">
                                    <button id="kt_login_signup_submit" class="btn btn-brand btn-elevate kt-login__btn-primary">Sign Up</button>&nbsp;&nbsp;
                                    <button id="kt_login_signup_cancel" class="btn btn-light btn-elevate kt-login__btn-secondary">Cancel</button>
                                </div>
                            </form>
                        </div>
                        <div class="kt-login__forgot">
                            <div class="kt-login__head">
                                <h3 class="kt-login__title">Forgotten Password ?</h3>
                                <div class="kt-login__desc">Enter your email to reset your password:</div>
                            </div>
                            <form class="kt-form" action="">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Email" name="email" id="kt_email" autocomplete="off">
                                </div>
                                <div class="kt-login__actions">
                                    <button id="kt_login_forgot_submit" class="btn btn-brand btn-elevate kt-login__btn-primary">Request</button>&nbsp;&nbsp;
                                    <button id="kt_login_forgot_cancel" class="btn btn-light btn-elevate kt-login__btn-secondary">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Js::Begin -->
    <script src="/org/library/js/jquery.js"></script>
    <script src="/org/library/js/jquery-http-client.js"></script>
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#22b9ff",
                    "light": "#ffffff",
                    "dark": "#282a3c",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                    "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
                }
            }
        };
    </script>
    <script src="/org/theme/plugins/global/plugins.bundle.js"></script>
    <script src="/org/theme/js/scripts.bundle.js"></script>
    <script src="/org/library/js/jquery-notify.js"></script>
    <script src="/org/library/js/jquery-serialize-json.js"></script>
    <script src="/org/library/js/jquery-serializer.js"></script>
    <script src="/org/js/views/account/index.js?v=0.1"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=loadCaptcha&render=explicit" async defer></script>
    <!-- Js::End -->
</body>
</html>