﻿@model ECommerce.Application.Panel.ViewModels.Licenses.Index

<div class="kt-portlet mt25">
    <div class="kt-portlet__body  kt-portlet__body--fit">
        <div class="row row-no-padding row-col-separator-lg">

            <div class="col-md-12 col-lg-4 col-xl-4">

                <!--begin::Total Profit-->
                <div class="kt-widget24">
                    <div class="kt-widget24__details">
                        <div class="kt-widget24__info">
                            <h4 class="kt-widget24__title">
                                Lisans Bitiş Tarihi
                            </h4>
                            <span class="kt-widget24__desc">

                            </span>
                        </div>
                        <span class="kt-widget24__stats kt-font-brand">
                            @Model.ExpirationDate.ToString("yyyy-MM-dd")
                        </span>
                    </div>
                </div>

                <!--end::Total Profit-->
            </div>

            <div class="col-md-12 col-lg-4 col-xl-4">

                <!--begin::New Users-->
                <div class="kt-widget24">
                    <div class="kt-widget24__details">
                        <div class="kt-widget24__info">
                            <h4 class="kt-widget24__title">
                                Kalan Gün Sayısı
                            </h4>
                            <span class="kt-widget24__desc">

                            </span>
                        </div>
                        <span class="kt-widget24__stats kt-font-brand">
                            @Model.RemainDays
                        </span>
                    </div>
                </div>

                <!--end::New Users-->
            </div>

        </div>
    </div>
</div>

<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="la la-puzzle-piece"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Lisans Seçenekleri
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="kt-pricing-1 kt-pricing-1--fixed">
            <div class="kt-pricing-1__items row">
                <div class="kt-pricing-1__item col-lg-4">
                    @*<div class="kt-pricing-1__visual">
                        <div class="kt-pricing-1__hexagon1"></div>
                        <div class="kt-pricing-1__hexagon2"></div>
                        <span class="kt-pricing-1__icon kt-font-brand"><i class="fa flaticon-rocket"></i></span>
                    </div>*@
                    @*<span class="kt-pricing-1__price">Aylık Lisans</span>*@
                    <h2 class="kt-pricing-1__subtitle">@Model.MothlySalesAmount.ToString(".##") TL + KDV</h2>
                    <span class="kt-pricing-1__description">
                        <span>Aylık Lisans</span>
                        <hr/>
                        <span>Aylık lisanslama yaparak</span>
                        <span>ihtiyacınız olduğu sürece kullanabilirsiniz</span>
                    </span>
                    <div class="kt-pricing-1__btn">
                        <button type="button" class="btn btn-brand btn-wide btn-bold btn-upper" onclick="LicenseIndex.OpenModal('M', 'Aylık Lisans', @Model.MothlySalesAmount)">Satın Al</button>
                    </div>
                </div>
                <div class="kt-pricing-1__item col-lg-4">
                    @*<div class="kt-pricing-1__visual">
                        <div class="kt-pricing-1__hexagon1"></div>
                        <div class="kt-pricing-1__hexagon2"></div>
                        <span class="kt-pricing-1__icon kt-font-brand"><i class="fa flaticon-piggy-bank"></i></span>
                    </div>*@
                    @*<span class="kt-pricing-1__price">6 Aylık Lisans</span>*@
                    <h2 class="kt-pricing-1__subtitle">@Model.HalfYearlySalesAmount.ToString(".##") TL + KDV</h2>
                    <span class="kt-pricing-1__description">
                        <span>6 Aylık Lisans</span>
                        <hr/>
                        <span>6 Aylık lisanslama yaparak</span>
                        <span>1 ay ücretsiz kullanabilirsiniz</span>
                    </span>
                    <div class="kt-pricing-1__btn">
                        <button type="button" class="btn btn-brand btn-wide btn-bold btn-upper" onclick="LicenseIndex.OpenModal('HY', '6 Aylık Lisans', @Model.HalfYearlySalesAmount)">Satın Al</button>
                    </div>
                </div>
                <div class="kt-pricing-1__item col-lg-4">
                    @*<div class="kt-pricing-1__visual">
                        <div class="kt-pricing-1__hexagon1"></div>
                        <div class="kt-pricing-1__hexagon2"></div>
                        <span class="kt-pricing-1__icon kt-font-brand"><i class="fa flaticon-gift"></i></span>
                    </div>*@
                    @*<span class="kt-pricing-1__price">Yıllık Lisans</span>*@
                    <h2 class="kt-pricing-1__subtitle">@Model.YearlySalesAmount.ToString(".##") TL + KDV</h2>
                    <span class="kt-pricing-1__description">
                        <span>Yıllık Lisans</span>
                        <hr />
                        <span>Yıllık lisanslama yaparak</span>
                        <span>2 ay ücretsiz kullanabilirsiniz</span>
                    </span>
                    <div class="kt-pricing-1__btn">
                        <button type="button" class="btn btn-brand btn-wide btn-bold btn-upper" onclick="LicenseIndex.OpenModal('Y', 'Yıllık Lisans', @Model.YearlySalesAmount)">Satın Al</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal::Begin-->
<div class="modal fade" id="online_payment_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">Online Ödeme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="modal_body">

                <form id="online-payment">

                    <div class="form-group pos-relative">
                        <label class="input-abs-text">Kart Üzerindeki İsim</label>
                        <input type="text" class="form-control" name="name" required>
                    </div>

                    <div class="form-group pos-relative">
                        <label class="input-abs-text">Kart Numarası</label>
                        <input type="text" class="form-control" name="number" required>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group pos-relative">
                                <label class="input-abs-text">Ay</label>
                                <select class="form-control kt-select2" style="width: 100%" name="month" required>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group pos-relative">
                                <label class="input-abs-text">Yıl</label>
                                <select class="form-control kt-select2" style="width: 100%" name="year" required>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                    <option value="2029">2029</option>
                                    <option value="2030">2030</option>
                                    <option value="2031">2031</option>
                                    <option value="2032">2032</option>
                                    <option value="2033">2033</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group pos-relative">
                        <label class="input-abs-text">Cvv</label>
                        <input type="text" class="form-control" name="cvv" required>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button id="modal_submit" type="button" class="btn btn-primary" onclick="LicenseIndex.Create()">Öde</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->

<link href="/org/theme/css/pricing-1.css" rel="stylesheet" />

<!--3D MODAL JS-->
<script type="text/javascript">
    function handle3d(success, description) {
        var div3d = $('#online_payment_modal');
        div3d.modal('hide');
        var div3dModalBody = $('#online_payment_modal .modal-body');
        div3dModalBody.empty();
        if (success === true) {
            Notify.Show(NotifyType.Success, "Lisans satın alma işlemi gerçekleşmiştir.");
            setTimeout(function () {
                window.location.reload();
            }, 1000);
        }
        else {
            Notify.Show(NotifyType.Error, description);
            setTimeout(function () {
                window.location.reload();
            }, 1000);
        }
    }
</script>

<style>
    iframe {
        min-height: 630px;
        min-width: 69%;
        text-shadow: none;
        border: none;
        position: relative;
        margin: auto;
        display: flex;
        justify-content: center;
    }
</style>

<!--3D MODAL JS-->
@section Scripts {
    <script src="/org/library/js/jquery-serializer.js"></script>
    <script src="/org/library/js/jquery-table.js"></script>
    <script src="/org/js/views/license/index.js"></script>
}