﻿@model ECommerce.Application.Panel.ViewModels.EntireDiscounts.Create

<form class="kt-form" id="entire_discount_create_form">
    <div class="kt-portlet__body">
        <div class="form-group row">
 <div class="col-lg-4 pos-relative">
                <label class="input-abs-text">Uygulama:</label>
                <select name="applicationId" class="form-control kt-selectpicker">

                    @foreach (var aLoop in Model.Applications)
                    {
        <option value="@aLoop.Key">@aLoop.Value</option>}
                </select>
            </div>

            <div class="col-lg-4 pos-relative">
                <label class="input-abs-text">Limit:</label>
                <input type="text" name="entireDiscountSetting[limit]" class="form-control"  autocomplete="off" required>
            </div>

             <div class="col-lg-4  flex-box">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="entireDiscountSetting[discountIsRate]:boolean" value="true" data-unchecked-value="false" checked> İndirim Oransal
                    <span></span>
                </label>
            </div>



        </div>

         <div class="form-group row">
            <div class="col-md-12 pos-relative">
             <label class="input-abs-text">İndirim:</label>
       
            <input type="text" name="entireDiscountSetting[discount]" class="form-control small-placeholder" placeholder="(Eğer indirim oransalsa oranı başında sıfır olarak (0.10) gibi giriniz)" autocomplete="off" required>
        </div>
            </div>
        <div class="form-group row">

            <div class="col-lg-4 pos-relative">
                <label class="input-abs-text">Başlangıç Tarihi:</label>
                <input type="text" name="startDateString" class="form-control kt-datetimepicker"  autocomplete="off" required>
            </div>

            <div class="col-lg-4 pos-relative">
                <label class="input-abs-text">Bitiş Tarihi:</label>
                <input type="text" name="endDateString" class="form-control kt-datetimepicker"  autocomplete="off" required>
            </div>

              <div class="col-lg-4 flex-box">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" checked> Aktif
                    <span></span>
                </label>
            </div>

        </div>
    </div>
</form>