﻿@model ECommerce.Application.Panel.ViewModels.EntireDiscounts.Update

<form class="kt-form" id="entire_discount_update_form">

    <input type="hidden" name="id" value="@Model.EntireDiscount.Id" />

    <div class="kt-portlet__body">
        <div class="form-group row">

            <div class="col-lg-4 pos-relative">
                <label class="input-abs-text">Uygulama:</label>
                <select name="applicationId" class="form-control kt-selectpicker">

                    @foreach (var aLoop in Model.Applications)
                    {
                    <option value="@aLoop.Key" @(Model.EntireDiscount.ApplicationId==aLoop.Key ? "selected" : "" )>
                        @aLoop.Value</option>}
                </select>
            </div>

            <div class="col-lg-4 pos-relative">
                <label class="input-abs-text">Limit:</label>
                <input type="text" name="entireDiscountSetting[limit]" class="form-control"
                    value="@Model.EntireDiscount.EntireDiscountSetting.Limit.ToString().Replace(" ,",".")"
                    placeholder="Limit giriniz" autocomplete="off" required>
            </div>

            <div class="col-lg-4 flex-box">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="entireDiscountSetting[discountIsRate]:boolean" value="true"
                        data-unchecked-value="false" @(Model.EntireDiscount.EntireDiscountSetting.DiscountIsRate
                        ? "checked" : "" )> İndirim Oransal
                    <span></span>
                </label>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-md-12 pos-relative">
                <label class="input-abs-text">İndirim:</label>
                <input type="text" name="entireDiscountSetting[discount]" class="form-control"
                    value="@Model.EntireDiscount.EntireDiscountSetting.Discount.ToString().Replace(" ,",".")"
                    placeholder="İndirim giriniz" autocomplete="off" required>
                <label class="text-danger font-xs"> (Eğer indirim oransalsa oranı başında sıfır olarak (0.10) gibi
                    giriniz)</label>
            </div>
        </div>
        <div class="form-group row">

           <div class="col-lg-4 pos-relative">
                <label class="input-abs-text">Başlangıç Tarihi:</label>
                <input type="text" name="startDateString" class="form-control kt-datetimepicker"
                    value="@Model.EntireDiscount.StartDateString" 
                    autocomplete="off" required>
            </div>

            <div class="col-lg-4 pos-relative">
                <label class="input-abs-text">Bitiş Tarihi:</label>
                <input type="text" name="endDateString" class="form-control kt-datetimepicker"
                    value="@Model.EntireDiscount.EndDateString"  autocomplete="off"
                    required>
            </div>

           <div class="col-lg-4 flex-box">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false"
                        @(Model.EntireDiscount.Active ? "checked" : "")> Aktif
                    <span></span>
                </label>
            </div>

        </div>
    </div>

</form>