﻿@model List<ECommerce.Application.Client.DataTransferObjects.CustomerAddress>


<div class="d-flex flex-wrap  mt-10 width-100 mb-10 customerAdresSlick">

    <div class="address-box d-flex">

        <div class="card-body text-center d-flex align-items-center flex-column justify-content-center">
            <a href="#" onclick="CustomerAddress.OpenUpdateModal(0)" class="color-black" aria-label="addres-update-modal" data-bs-toggle="modal" data-bs-target="#addres-update-modal" id="add-address-btn">
                <span>Yeni adres ekle</span>
                <h4 class="mt-10"><i class="fi-rs-plus"></i></h4>
            </a>
        </div>
    </div>

   <input hidden value="@Model.FirstOrDefault(x=>x.Default)?.Id" id="default-customer-address-id" />

    @foreach (var customerAddres in Model)
    {

        <div class="address-box ml-10">
            <div class="card-header" onclick="CustomerAddress.Default('@customerAddres.Id')">
                <h6 class="mb-0 account-addres-title"><span id="customer-address-title_@customerAddres.Id">@customerAddres.Title</span><img style="@(customerAddres.Default ? "":"display:none")" id="activeCustomerAdressIcon_@customerAddres.Id" class="activeCustomerAdressIcon" src="~/themes/cosmetic/imgs/theme/check.png" /></h6>
            </div>
            <div class="card-body" onclick="CustomerAddress.Default('@customerAddres.Id')">
                <p class="customerName" >@customerAddres.Recipient</p>
                <address class="customerAdress" id="customer-adress_adress_@customerAddres.Id">
                    @customerAddres.Address
                </address>

            </div>
            <div class="card-footer">
                <a href="#" onclick="CustomerAddress.Delete('@customerAddres.Id');" class="btn-small remove-addres-btn">Sil</a>
                <a href="#" onclick="CustomerAddress.OpenUpdateModal('@customerAddres.Id');" class="btn-small color-green" aria-label="addres-update-modal" data-bs-toggle="modal" data-bs-target="#addres-update-modal" id="update-address-btn">Düzenle</a>
            </div>
        </div>
    }


</div>


<!--Adres Update Modal-->
<div class="modal fade custom-modal addres-update-modal" id="addres-update-modal" tabindex="-1" aria-labelledby="addres-update-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                        <div class="modal_addres_body row">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Adres Update Modal-->