﻿@{
    ViewData["Title"] = "Üye Ol";
    ViewData["Description"] = "Fırsat ve kampanyalardan faydalanmak ve hızlı sipariş kolaylığı için lütfen formu doldurup üye olunuz.";

}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index","Home")" ><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
                <span></span>
                <h1 class="font-sm">Üye Ol</h1>
            </div>
        </div>
    </div>
    <div class="page-content pt-50 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="login_wrap widget-taber-content background-white">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">

                                        <p class="mb-30">Hesabınız var mı? <a href="@Url.Action("Login","Account")"> Giriş Yap</a></p>
                                    </div>
                                    <form method="post" id="register-form" class="row">
                                        <div class="col-xs-12 col-md-6">
                                     

                                        <div class="form-group">
                                                <input type="text" required name="username" class="mail registerMail" placeholder="E-posta" autocomplete="off" />
                                                <div class="invalid-message-mail invalid-message" style="display: none;">Mailinizi kontrol ediniz.</div>
                                                <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                                            </div>


                                            <div class="form-group">
                                                <input type="text" required name="customerName" id="name" placeholder="Adınız" autocomplete="off" />
                                                <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" required name="customerSurname" id="surname" placeholder="Soyadınız" autocomplete="off" />
                                                <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <input type="text"  name="customerContactPhone" id="registerPhone" class="phone" placeholder="Telefon Numarası (isteğe bağlı)" autocomplete="off" />
                                                
                                            </div>
                                     
                                            <div class="form-group">
                                                <input required type="password" name="password" placeholder="Şifre" id="rpassword" autocomplete="off" />
                                                <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                                            </div>
                                            <div class="form-group">
                                                <input required type="password" name="passwordAgain" placeholder="Şifre Tekrar" id="rpasswordAgain" autocomplete="off" />
                                                <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                                            </div>
                                        </div>
                                        @*<div class="login_footer form-group">
                                                <div class="chek-form">
                                                    <input type="text" required name="email" placeholder="Güvenlik Kodu *" />
                                                </div>
                                                <span class="security-code">
                                                    <b class="text-new">1</b>
                                                    <b class="text-hot">2</b>
                                                    <b class="text-sale">3</b>
                                                    <b class="text-best">4</b>
                                                </span>
                                            </div>*@
                                        @*<div class="customer-option mb-50">
                                                <div class="custome-radio">
                                                    <input class="form-check-input" required type="radio" name="customer-option" id="person" checked />
                                                    <label class="form-check-label" for="person" data-bs-toggle="collapse">Bireysel</label>
                                                </div>
                                                <div class="custome-radio">
                                                    <input class="form-check-input" required type="radio" name="customer-option" id="corporate" />
                                                    <label class="form-check-label" for="corporate" data-bs-toggle="collapse">Kurumsal</label>
                                                </div>
                                            </div>*@
                                        <div class="login_footer form-group mb-50">
                                            <div class="chek-form">
                                                <div class="custome-checkbox">
                                                    <input class="form-check-input" type="checkbox" name="checkbox" id="registerPrivacy" value="Üyelik Sözleşmesini okudum kabul ediyorum" />
                                                    <label class="form-check-label" for="registerPrivacy"><span> <a href="@Url.Action("RegisterContract","Home")" target="_blank">Üyelik Sözleşmesini</a> okudum kabul ediyorum</span></label>
                                                </div>
                                            </div>
                                            <a href="@Url.Action("RegisterContract","Home")" target="_blank"><i class="fi-rs-book-alt mr-5 text-muted"></i>İncele</a>
                                        </div>
                                        <div class="form-group mb-30 col-xs-12 col-md-6  justify-content-center">
                                            <button type="button" onclick="AccountRegister.Register(event)" class="btn btn-fill-out btn-block hover-up font-weight-bold" name="register">Üye Ol</button>
                                        </div>

                                        <div id="g-recaptcha"></div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-lg-6 pr-30 d-none d-lg-block">
                                  <div class="card-login mt-50">
                                      <a href="#" class="social-login facebook-login">
                                          <img src="/themes/green/imgs/theme/icons/logo-facebook.svg" alt="facebook ile bağlan" />
                                          <span>Facebook İle Kayıt Ol</span>
                                      </a>
                                      <a href="#" class="social-login google-login">
                                          <img src="/themes/green/imgs/theme/icons/logo-google.svg" alt="google ile bağlan" />
                                          <span>Google İle Kayıt Ol</span>
                                      </a>

                                  </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--Register Verify Mail Modal-->

<div class="modal fade custom-modal" id="mailModal" tabindex="-1" aria-labelledby="mailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h4 class="modal-title">E-posta Doğrulama</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <form id="modal-mail-form" autocomplete="off">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label id="modal-mail-phone-number"></label>
                        </div>

                        <div class="form-group col-md-12">
                            <label>E-posta adresinize gelen doğrulama kodunu giriniz</label>
                        </div>

                        <div class="form-group col-md-12">

                            <input type="number" required maxlength="6" name="modalMailCode" id="modalMailCode" class="form-control input-lg" placeholder="E-posta onay Kodunu giriniz" autocomplete="off" />
                            <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>

                        </div>
                        <div class="form-group col-md-12 d-flex justify-content-between">

                            <div class="form-group">
                                <button type="button" id="modal-trymail-form-button" onclick="AccountRegister.CheckVerification(event)" class="btn btn-lg btn-block btn-card  bg-orange">Tekrar E-posta Gönder</button>
                            </div>
                            <div class="form-group">
                                <button type="button" onclick="AccountRegister.CheckVerification(event)" id="modal-mail-form-button" class="btn btn-lg btn-block btn-special">Onayla</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Mail Modal-->

@section Js{
    <script src="https://www.google.com/recaptcha/api.js?onload=loadCaptcha&render=explicit" async defer></script>
}