﻿@model ECommerce.Application.Panel.ViewModels.Groups.Update
<form class="kt-form kt-form--label-right" id="group_update_form">
    <div class="kt-portlet__body">

        <input type="hidden" name="id" value="@Model.Group.Id" />

        <div class="form-group row">

            <div class="col-lg-12">

                <div class="kt-portlet kt-portlet--tabs">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x"
                                role="tablist">

                                @foreach (var lLoop in Model.Languages)
                                {
                                var active = Model.Languages.IndexOf(lLoop) == 0 ? "active" : "";
                                <li class="nav-item">
                                    <a class="nav-link @active" data-toggle="tab"
                                        href="#tab_content_@(Model.Languages.IndexOf(lLoop))_@lLoop.Key" role="tab">
                                        @lLoop.Value
                                    </a>
                                </li>
                                }

                            </ul>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="tab-content">

                            @for (int i = 0; i < Model.Languages.Count; i++) { var
                                groupTranslation=Model.Group.GroupTranslations.FirstOrDefault(ct=> ct.LanguageId ==
                                Model.Languages[i].Key);
                                if (groupTranslation == null) continue;
                                var active = i == 0 ? "active" : "";
                                <div class="tab-pane @active" id="tab_content_@(i)_@Model.Languages[i].Key"
                                    role="tabpanel">

                                    <input type="hidden" name="groupTranslations[@i][languageId]"
                                        value="@Model.Languages[i].Key" />

                                    <div class="form-group pos-relative">
                                        <label class="input-abs-text">Grup Adı:</label>
                                        <input type="text" class="form-control" name="groupTranslations[@i][name]" value="@groupTranslation?.Name"
                                            autocomplete="off" required>

                                    </div>

                                    <div class="form-group pos-relative">
                                        <label class="input-abs-text">Grup Url:</label>
                                        <input type="text" class="form-control"  disabled
                                            value="@groupTranslation?.Url" autocomplete="off" required>
                                    </div>

                                    <div class="form-group pos-relative">
                                        <label class="input-abs-text">Seo Başlık:</label>
                                        <input type="text" class="form-control"
                                            name="groupTranslations[@i][GroupSeoTranslation][title]" 
                                            value="@groupTranslation.GroupSeoTranslation?.Title" autocomplete="off"
                                            required>

                                    </div>

                                    <div class="form-group pos-relative">
                                        <label class="input-abs-text">Seo Anahtar Kelime:</label>
                                        <input type="text" class="form-control"
                                            name="groupTranslations[@i][GroupSeoTranslation][metaKeywords]"
                                            value="@groupTranslation.GroupSeoTranslation?.MetaKeywords"
                                            autocomplete="off" required>
                                    </div>

                                    <div class="form-group pos-relative">
                                        <label class="input-abs-text">Seo Açıklaması:</label>
                                        <input type="text" class="form-control"
                                            name="groupTranslations[@i][GroupSeoTranslation][metaDescription]"
                                            value="@groupTranslation.GroupSeoTranslation?.MetaDescription"
                                            autocomplete="off" required>
                                    </div>

                                    <div class="form-group"></div>
                                    <label>İçerik:</label>
                                    <textarea class="summernote"
                                        name="groupTranslations[@i][GroupContentTranslation][content]">@Html.Raw(groupTranslation.GroupContentTranslation?.Content)</textarea>

                                </div>
                                }

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false"
                        @Html.Raw(Model.Group.Active ? "checked" : "" )> Aktif
                    <span></span>
                </label>

            </div>

        </div>

    </div>
</form>