﻿@model ECommerce.Application.Client.ViewModels.Accounts.CustomerInvoiceInformation
    

<div class="form row" id="customer-invoice-address-form">
    <input type="hidden" id="customer-invoice-address-id" value="@Model.Address.Id" />
    <div class="form-group col-12">
        <label>Adres Başlığı<span class="required"> *</span></label>
        <input required class="form-control" placeholder="Adres adı " type="text" id="customer-invoice-address-title" name="customer-invoice-address-title" autocomplete="off" value="@Model.Address.Title" />
        <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
    </div>
    <div class="form-group col-4">
        <label>Alıcı Adı Soyadı <span class="required"> *</span></label>
        <input required class="form-control" placeholder="Ad" type="text" id="customer-invoice-address-firstname" name="customer-invoice-address-firstname" autocomplete="off" value="@Model.Address.FirstName" />
        <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
    </div>
    <div class="form-group col-4">
        <label>Alıcı Soyadı <span class="required"> *</span></label>
        <input required class="form-control" placeholder="Soyad" type="text" id="customer-invoice-address-lastname" name="customer-invoice-address-lastname" autocomplete="off" value="@Model.Address.LastName" />
        <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
    </div>
    <div class="form-group col-4">
        <label>Alıcı Telefon<span class="required"> *</span></label>
        <input required class="form-control phone" id="customer-invoice-address-phone" placeholder="Telefon" name="customer-invoice-address-phone" autocomplete="off" value="@Model.Address.Phone" onkeyup="CustomerInvoiceInformation.Phonecontrol()"/>
        <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
    </div>
    <div class="form-group col-4">
        <label>Mail <span class="required"> *</span></label>
        <input required class="form-control" placeholder="Mail" type="text" id="customer-invoice-address-mail" name="customer-invoice-address-mail" autocomplete="off" value="@Model.Address.Mail" onkeyup="CustomerInvoiceInformation.MailControl()"/>
        <div class="invalid-message-mail" style="display: none;color:red;">Mail adresinizi kontrol ediniz.</div>
    </div>
    <div class="form-group col-4">
        <label>Vergi Dairesi</label>
        <input type="text" name="invoice-taxOffice" id="customer-invoice-taxOffice" placeholder="Vergi Dairesi (isteğe bağlı)" autocomplete="off" value="@Model.Address.TaxOffice">
    </div>
    <div class="form-group col-4">
        <label>Vergi Numarası</label>
        <input type="text" name="invoice-taxNumber" id="customer-invoice-taxNumber" placeholder="Vergi Numarası (isteğe bağlı)" autocomplete="off" value="@Model.Address.TaxNumber">
    </div>
    <div class="form-group col-lg-4">
        <div class="custom_select">
            <select id="invoice-city-id" onchange="CustomerInvoiceInformation.GetInvoiceDistricts()" class="form-control select-active" required>
                <option value="">İl Seçiniz</option>
                @foreach (var cLoop in Model.Cities)
                {
                    <option value="@cLoop.Id" @(Model.Address.Neighborhood?.District.City.Id == cLoop.Id ? "selected" : "")>@cLoop.Name</option>
                }
            </select>

            <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
        </div>
    </div>
    <div class="form-group col-lg-4">
        <div class="custom_select">
            <select id="invoice-district-id" onchange="CustomerInvoiceInformation.GetInvoiceNeighborhoods()" class="form-control select-active" required>
                <option value="">Seçiniz</option>

                @foreach (var dLoop in Model.Districts)
                {
                    <option value="@dLoop.Id" @(Model.Address.Neighborhood?.District.Id == dLoop.Id ? "selected" : "")>@dLoop.Name</option>
                }
            </select>

            <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
        </div>
    </div>
    <div class="form-group col-lg-4">
        <div class="custom_select">
            <select id="invoice-neighborhood-id" class="form-control select-active" required>
                <option value="">Seçiniz</option>
                @foreach (var nLoop in Model.Neighborhoods)
                {
                    <option value="@nLoop.Id" @(Model.Address.NeighborhoodId == nLoop.Id ? "selected" : "")>@nLoop.Name</option>
                }

            </select>

            <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
        </div>
    </div>
    <div class="form-group col-12">
        <label>Adres Detay<span class="required"> *</span></label>
        <input required class="form-control" placeholder="Tam adresinizi giriniz" type="text" id="customer-invoice-address-addres" name="customer-invoice-address-addres" autocomplete="off" value="@Model.Address.Address" />
        <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
    </div>
    <div class="col-md-7">
        <button type="button" class="btn btn-fill-out submit font-weight-bold" onclick="CustomerInvoiceInformation.Upsert();">Güncelle</button>
    </div>
</div>

    

