﻿@{
    ViewData["Title"] = Html.Raw("Şifremi Unuttum");
    ViewData["Description"] = Html.Raw("Şifrenizi unutmanız durumunda üye olurken ilettiğiniz iletişim kanallarına doğrulama kodu ileteceğiz, bu kod ile şifrenizi yenileyebilirsiniz");

}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index","Home")" ><i class="fi-rs-home mr-5"></i>Ana Sayfa</a> <span></span>
                <a href="@Url.Action("ForgotPassword","Account")" ><h1 class="font-sm">Şifremi Unuttum</h1></a>
            </div>
        </div>
    </div>
    <div class="page-content pt-50 pb-150">
        <div class="container">
            <div class="row">

                <form id="forgot-password-form" class="col-xs-12  col-xl-4 m-auto">
                    <div class="form-group">
                        <input type="text" name="username" placeholder="Lütfen kullanıcı adınızı giriniz.." required />
                        <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                    </div>

                    <div class="form-group mb-30 m-auto  justify-content-center">
                        <button class="btn btn-fill-out btn-block hover-up font-weight-bold" type="button" onclick="AccountForgotPassword.Submit()">Gönder</button>
                    </div>

                    <div id="g-recaptcha"></div>
                </form>
            </div>
        </div>
    </div>
</main>



@section Js{
    <script src="https://www.google.com/recaptcha/api.js?onload=loadCaptcha&render=explicit" async defer></script>
}