﻿@model ECommerce.Application.Client.ViewModels.Accounts.Index
@{
    ViewData["Title"] = Html.Raw("Hesabım");
    ViewData["Description"] = Html.Raw("Kişisel bilgilerinizi ve son siparişlerinizin durumunu detaylı inceleyebilirsiniz.");
}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action(" Index", "Home" )"><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
                <span></span>
                <h1 class="font-sm">Hesabım</h1>
            </div>
        </div>
    </div>
    <div class="page-content pt-100 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab"
                                           href="#dashboard" role="tab" aria-controls="dashboard"
                                           aria-selected="false">
                                            <i class="fi-rs-settings-sliders mr-10"></i>Hesabım
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders"
                                           role="tab" aria-controls="orders" aria-selected="false">
                                            <i class="fi-rs-shopping-bag mr-10"></i>Siparişler
                                        </a>
                                    </li>
                                    @*<li class="nav-item">
                                    <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab"
                                    href="#track-orders" role="tab" aria-controls="track-orders"
                                    aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Sipariş
                                    Takibi</a>
                                    </li>*@
                                    <li class="nav-item">
                                        <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address"
                                           role="tab" aria-controls="address" aria-selected="true">
                                            <i class="fi-rs-marker mr-10"></i>Adreslerim
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                           href="#account-detail" role="tab" aria-controls="account-detail"
                                           aria-selected="true"><i class="fi-rs-user mr-10"></i>Hesap Detayı</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:AccountLogout.Close()">
                                            <i class="fi-rs-sign-out mr-10"></i>Çıkış Yap
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content account dashboard-content pl-50">
                                <!--Account Dashboard-->
                                <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                                     aria-labelledby="dashboard-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">
                                                Merhaba @Model.CustomerUser.Customer.Name
                                                @Model.CustomerUser.Customer.Surname
                                            </h3>

                                            @if (Model.MoneyPointAmount > 0)
                                            {

                                                <span>Siparişinizde kullanabileceğiniz Para Puan tutarı :</span> <strong class="color-orange"> @Model.MoneyPointAmount ₺</strong>
                                            }

                                        </div>
                                        <div class="card-body">
                                            <p>
                                                Hesap kontrol panelinden son siparişlerini <span class="color-filter">Siparişle</span> sekmesini kullanabilirsin.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--Account Dashboard-->
                                <!--Orders-->
                                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">Siparişlerim</h3>
                                        </div>
                                        <div class="card-body orders-account-table">
                                            <div class="table-responsive">
                                                <table class="table" style="display:table;">
                                                    <thead>
                                                        <tr>
                                                            <th>Sipariş No</th>
                                                            <th>Tarih</th>
                                                            <th>Ürünler</th>
                                                            <th>Toplam</th>
                                                            <th>Durumu</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var order in Model.Orders)
                                                        {

                                                            <tr>
                                                                <td>@order.Id</td>
                                                                <td>@order.CreatedDateStr</td>
                                                                <td class="ac-pr-list-td"> <div class="od-account ">@Html.Raw(string.Join("<br>",order.OrderDetails.Select(od => $"<div><a href='{od.ProductInformation.Url}' class='d-flex  align-items-center'><img class='od-img' src='{od.ProductInformation.ProductInformationPhotos[0].FileName}'>  {od.Quantity} adet  {od.ProductInformation.Name}</a></div>")))</div></td>
                                                                <td>@order.Total</td>
                                                                <td>@order.OrderType.OrderTypeTranslation.Name </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--Orders-->
                                <!--Track Order-->
                                <div class="tab-pane fade" id="track-orders" role="tabpanel"
                                     aria-labelledby="track-orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">Sipariş Takibi</h3>
                                        </div>
                                        <div class="card-body customerAddress-from-area">
                                            <p>
                                                Sipariş aşamasında girdiğiniz telefon numrası ve sipariş sonrası sms ile
                                                sizlere ulaştırdığımız sipariş numarasını kullanarak, kargonuzun son
                                                durumunu öğrenebilirsiniz.
                                            </p>
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <form class="customerAddress-form-style mt-30 mb-50" action="#"
                                                          method="post">
                                                        <div class="input-style mb-20">
                                                            <label>Sipariş No</label>
                                                            <input name="order-id" placeholder="Sipariş Numaranız"
                                                                   type="text" />
                                                        </div>
                                                        <div class="input-style mb-20">
                                                            <label>Alıcı Tel No.</label>
                                                            <input name="billing-tel"
                                                                   placeholder="Alıcı telefon numarası" type="tel" />
                                                        </div>
                                                        <button class="submit submit-auto-width" type="submit">
                                                            Kontrol
                                                            Et
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Track Order-->
                                <!--Customer Addres-->
                                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                    <div class="d-flex flex-wrap" id="customer-address">
                                        <h6 class="account-adres-head">Teslimat Adresi</h6>
                                        @Html.PartialAsync("CustomerAddressesPartial",
                                        Model.Customer.CustomerAddresses).Result

                                    </div>
                                    <div class="d-flex flex-wrap" id="customer-invoice-address">
                                        <h6 class="account-adres-head">Fatura Adresi</h6>
                                        @Html.PartialAsync("CustomerInvoiceInformationsPartial",
                                        Model.Customer.CustomerInvoiceInformations).Result
                                    </div>
                                </div>

                                <!--Customer Addres-->
                                <!--Account Detail-->
                                <div class="tab-pane fade" id="account-detail" role="tabpanel"
                                     aria-labelledby="account-detail-tab">
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between">
                                            <h5>Bilgi Güncelleme</h5> <a href="#" class="font-weight-bold color-filter"
                                                                         aria-label="reset-info" data-bs-toggle="modal"
                                                                         data-bs-target="#member-account-Modal" id="resetAccountBtn">
                                                Şifremi
                                                Yenile
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <form method="post" id="member-update-form">
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label>Adınız<span class="required">*</span></label>
                                                        <input required class="form-control"
                                                               value="@Model.Customer.Name" type="text"
                                                               name="customer-name" autocomplete="off" />
                                                        <div class="invalid-message account-detail-invalid-message"
                                                             style="display: none;">
                                                            Bu alan boş olamaz
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>Soyadınız <span class="required">*</span></label>
                                                        <input required class="form-control"
                                                               value="@Model.Customer.Surname" name="customer-surname"
                                                               autocomplete="off" />
                                                        <div class="invalid-message account-detail-invalid-message"
                                                             style="display: none;">
                                                            Bu alan boş olamaz
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>Telefon <span class="required">*</span></label>
                                                        <input required class="form-control phone" id="accountPhone"
                                                               value="@Model.Customer.CustomerContact.Phone"
                                                               name="customer-customercustomerAddress-phone"
                                                               autocomplete="off" />
                                                        <div class="invalid-message account-detail-invalid-message"
                                                             style="display: none;">
                                                            Bu alan boş olamaz
                                                        </div>
                                                    </div>


                                                    @*                <div class="form-group col-md-12">
                                                    <div class="custome-checkbox ">
                                                    <input class="form-check-input" type="checkbox" name="account-sms-verify" id="account-sms-verify">
                                                    <label class="form-check-label label_info" for="account-sms-verify"><span>Sms ile kampanyalardan haberdar olmak istiyorum.</span></label>
                                                    </div>
                                                    <div class="custome-checkbox ">
                                                    <input class="form-check-input" type="checkbox" name="account-mail-verify" id="account-mail-verify">
                                                    <label class="form-check-label label_info" for="account-mail-verify"><span>Mail ile kampanyalardan haberdar olmak istiyorum.</span></label>
                                                    </div>
                                                    </div>*@


                                                    <div class="col-md-7">
                                                        <button type="button"
                                                                class="btn btn-fill-out submit font-weight-bold accountSubmitBtn"
                                                                onclick="AccountMember.Submit()" name="submit"
                                                                value="Submit">
                                                            Bilgileri Güncelle
                                                        </button>
                                                    </div>

                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <!--Account Detail-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Reset Modal-->
    <div class="modal fade custom-modal" id="member-account-Modal" tabindex="-1" aria-labelledby="stockInfoModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">

                            <form method="post" id="member-change-password-form">
                                <div class="form-group">
                                    <label>Şifre<span class="required"> *</span></label>
                                    <input required class="form-control" placeholder="Şifre" type="password"
                                           name="customer-new-password" autocomplete="off" />
                                    <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                                </div>
                                <div class="form-group">
                                    <label>Şifre Tekrar <span class="required"> *</span></label>
                                    <input required class="form-control" type="password" placeholder="Şifre Tekrar"
                                           name="customer-new-password-again" autocomplete="off" />
                                    <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                                </div>
                                <div class="col-md-7">
                                    <button type="button" class="btn btn-fill-out submit font-weight-bold"
                                            onclick="AccountMember.ChangePassword()" name="submit" value="Submit">
                                        Bilgileri
                                        Güncelle
                                    </button>
                                </div>
                            </form>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Reset Modal-->

</main>


@section Js{
    <script src="/themes/baby/js/views/account/customer-address.js?v2"></script>
    <script src="/themes/baby/js/views/account/customer-invoice-address.js"></script>
    <script src="/themes/baby/js/views/account/member.js"></script>

}