﻿@model ECommerce.Application.Panel.ViewModels.VariantValues.IndexPartial

@if (Model.Languages.Count == 1)
{
    <div class="form-group variant-value-container">
        @if (Model.VariantValue != null)
        {
            <input type="hidden" name="variantValues[@Model.Index][id]" value="@Model.VariantValue.Id" />
            <input type="hidden" name="variantValues[@Model.Index][variantId]" value="@Model.VariantValue.VariantId" />
        }

        <input type="hidden" name="variantValues[@Model.Index][variantValueTranslations][][languageId]" value="@Model.Languages[0].Key" />
        <input type="hidden" name="variantValues[@Model.Index][variantValueTranslations][][id]" value="@(Model.VariantValue != null ? Model.VariantValue.VariantValueTranslations[0].Id : 0)" />

        <label>Varyasyon Değeri:</label>
        <input type="text" name="variantValues[@Model.Index][variantValueTranslations][][value]" value="@(Model.VariantValue != null ? Model.VariantValue.VariantValueTranslations[0].Value : "")" class="form-control" placeholder="Varyasyon değeri giriniz" required autocomplete="off">
    </div>
}