﻿@model ECommerce.Application.Client.ViewModels.Brands.Index

@{
    ViewData["Title"] = $"{Model.Brand.Name} Ürünleri";
    ViewData["Description"] = $"{Model.Brand.Name} markasına ait tüm ürünler";
}

@if (Model.Success)
{
    string pageItems = $"pc={Model.PageRecordsCount}&st={Model.PageSorting}";
    string propertyValueIds = "";
    if (Model.PropertyValueIds?.Count > 0)
    {
        propertyValueIds = $"/{string.Join("_", Model.PropertyValueIds)}-pv/";
    }


    <main class="main">
        <div class="page-header mt-15 mb-15">
            <div class="container">
                <div class="tag-header">
                    <div class="row align-items-center">
                        <div class="col-xl-5 group-breadbox">
                            <div class="breadcrumb">
                                <a href="@Url.Action("Index","Home")"><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
                                <span></span>
                                <h1 class="d-inline-block font-16">@Model.Brand.Name</h1>
                            </div>

                        </div>
                        <!--Group Tag Bar-->
                        <div class="col-xl-7 text-end d-none d-xl-block">
                        </div>
                        <!--Group Tag Bar-->
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-30">
            <div class="row flex-row-reverse shop-row">
                <div class="col-lg-4-5">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p>Toplam <strong>@Model.ProductCount</strong> üründen,<strong>@Model.PageProductCount</strong> adet listelendi.</p>
                        </div>
                        <div class="sort-by-product-area">
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps"></i>Göster:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span>
                                            @Model.PageRecordsCount
                                            <i class="fi-rs-angle-small-down"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a @(Model.PageRecordsCount == 20 ? "class=active" : "") href="@($"/{Model.Brand.Url}{propertyValueIds}{$"?pc=20"}&st={Model.PageSorting}")">20</a></li>
                                        <li><a @(Model.PageRecordsCount == 50 ? "class=active" : "") href="@($"/{Model.Brand.Url}{propertyValueIds}{$"?pc=50"}&st={Model.PageSorting}")">50</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sırala:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        @{
                                            string sortingValue = "Sırala";

                                            switch (Model.PageSorting)
                                            {
                                                case 1:
                                                    sortingValue = "Artan Fiyat";
                                                    break;
                                                case 2:
                                                    sortingValue = "Azalan Fiyat";
                                                    break;
                                                case 3:
                                                    sortingValue = "Alfabetik A dan Z'ye";
                                                    break;
                                                case 4:
                                                    sortingValue = "Alfabetik Z dan A'ya";
                                                    break;

                                            }
                                        }
                                        <span>@sortingValue <i class="fi-rs-angle-small-down"></i></span>

                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a @(Model.PageSorting == 0 ? "class=active" : "") href="@($"/{Model.Brand.Url}{propertyValueIds}{$"?st=0"}&pc={Model.PageRecordsCount}")">Sırala</a></li>
                                        <li><a @(Model.PageSorting == 1 ? "class=active" : "") href="@($"/{Model.Brand.Url}{$"?st=1"}&pc={Model.PageRecordsCount}")">Artan Fiyat</a></li>
                                        <li><a @(Model.PageSorting == 2 ? "class=active" : "") href="@($"/{Model.Brand.Url}{$"?st=2"}&pc={Model.PageRecordsCount}")">Azalan Fiyat</a></li>
                                        <li><a @(Model.PageSorting == 3 ? "class=active" : "") href="@($"/{Model.Brand.Url}{propertyValueIds}{$"?st=3"}&pc={Model.PageRecordsCount}")">Alfabetik A dan Z'ye</a></li>
                                        <li><a @(Model.PageSorting == 4 ? "class=active" : "") href="@($"/{Model.Brand.Url}{propertyValueIds}{$"?st=4"}&pc={Model.PageRecordsCount}")">Alfabetik Z dan A'ya</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row product-grid-4" id="products" data-page="0">
                        @foreach (var pLoop in Model.ProductInformations)
                        {
                            @Html.PartialAsync($"/themes/watch/Views/Product/productBox.cshtml", new ECommerce.Application.Common.DataTransferObjects.ProductComponent
                    {
                    ListUnitPrice = pLoop.ProductInformationPrice.ListUnitPrice,
                    Name = pLoop.FullName,
                    ProductInformationId = pLoop.Id,
                    ProductId = pLoop.Id,
                    FileName = pLoop.ProductInformationPhotos.FirstOrDefault() != null ? pLoop.ProductInformationPhotos.FirstOrDefault().FileName : null,
                    UnitPrice = pLoop.ProductInformationPrice.UnitPrice,
                    IsStock=pLoop.IsStock,
                    //AverageRating=pLoop.AverageRating,
                    Url = pLoop.Url,
                    SubTitle = pLoop.SubTitle,
                    VatRate = pLoop.ProductInformationPrice.VatRate,
                    Discount = pLoop.ProductInformationPrice.Discount,
                    ProductLabels = pLoop.Product.ProductLabels.Select(x => x.Value).ToList(),
                    IsSale = pLoop.IsSale,
                    Payor = pLoop.Payor
                    }).Result
                            ;
                        }
                    </div>





                    <!--product grid-->
                    <!--Pagination Number -->
                    <div class="pagination-area mt-20 mb-20">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">

                                @for (int i = 0; i < Model.PagesCount; i++)
                                {
                                    <li class="page-item">
                                        @if (Model.Page == i)
                                        {
                                            <span class="page-link page-link-active">@(i + 1)</span>
                                        }
                                        else
                                        {

                                            <a class="page-link" href="@($"{Model.Brand.Url}{propertyValueIds}{(i != 0 ? $"?p={i}&{pageItems}" : $"?{pageItems}")}")">@(i + 1)</a>

                                        }
                                    </li>
                                }

                            </ul>
                        </nav>
                    </div>
                    <!--Pagination Number -->
                </div>

                <div class="col-lg-1-5 primary-sidebar sticky-sidebar">
                    <!-- Product Filter -->
                    @if (Model.Properties.Count > 0)
                    {
                        <div class="sidebar-widget price_range range mb-10">
                            <h5 class="section-title style-1 mb-10">Detaylı Filtrele</h5>

                            <div class="list-group">
                                <div class="list-group-item mb-10 mt-10">

                                    @foreach (var pLoop in Model.Properties)
                                    {
                                        <div>
                                            <h5 class="fw-900 accordion category-accordion">@pLoop.Name</h5>

                                            <div class="panel">
                                                @foreach (var pvLoop in pLoop.PropertyValues)
                                                {
                                                    <div class="custome-checkbox">

                                                        <input class="form-check-input" type="checkbox" name="property-value" id="property-value_@pvLoop.Id" value="@pvLoop.Id" @(Model.PropertyValueIds != null && Model.PropertyValueIds.Any(x => x == pvLoop.Id) ? "checked" : "") />
                                                        <label class="form-check-label" for="property-value_@pvLoop.Id">@pvLoop.Value</label>
                                                    </div>
                                                }
                                            </div>

                                        </div>
                                    }
                                </div>
                            </div>
                            <a onclick="BrandIndex.Filter('@pageItems');" class="btn btn-sm btn-default btn-block mt-10"><i class="fi-rs-filter mr-5"></i>Arama</a>
                        </div>
                    }
                    <!-- Product Filter -->


                </div>
            </div>
        </div>

    </main>




    @section Js{
    <script src="/themes/watch/js/views/brand/index.js"></script>
    <script>
        BrandIndex.Initialize('/@Model.Brand.Url');
    </script>
                }
}
else
{

}