﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
<!DOCTYPE html>
<html lang="tr">
<head>
    @* Google Tag Manager::Begin *@
    @Html.Raw(ViewData["GoogleTagManagerLayoutHead"])
    @* Google Tag Manager::End *@
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="keywords" content="@ViewData["Keywords"]" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="@ViewData["Url"]" />
    <meta property="og:image" content="/themes/black/imgs/theme/logo.png" />
    <meta name="twitter:card" content="/themes/black/imgs/theme/logo.png">
    <meta name="twitter:site" content="@ViewData["Url"]">
    <meta name="twitter:creator" content="Lafaba">
    <meta name="twitter:title" content="@ViewData["Title"]">
    <meta name="twitter:description" content="@ViewData["Description"]">
    <meta name="twitter:image:src" content="/themes/black/imgs/theme/logo.png">
    <meta property="og:url" content="@ViewData["Url"]">
    <meta property="og:type" content="e-commerce">
    <meta property="og:description" content="@ViewData["Description"]">
    <meta property="og:site_name" content="Lafaba">
    <meta property="article:author" content="https://www.facebook.com/lafabastore/">
    <meta property="article:publisher" content="https://www.facebook.com/lafabastore/">
    <meta itemprop="name" content="@ViewData["Title"]">
    <meta itemprop="description" content="@ViewData["Description"]">
    <meta itemprop="image" content="/themes/black/imgs/theme/logo.png">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/themes/black/imgs/theme/favicon.ico" />
    <!-- Template CSS -->

    <link rel="canonical" href="@ViewData["Url"]" />
    <link rel="stylesheet" href="/themes/black/css/default.css" />
    <link rel="stylesheet" href="/themes/black/css/site-min.css" />
    @* Google Ads::Begin *@
    @Html.Raw(ViewData["GoogleAdsLayout"])
    @* Google Ads::End *@

    @* Google Analytics::Begin *@
    @Html.Raw(ViewData["GoogleAnalyticsLayout"])
    @* Google Analytics::End *@

    @* Facebook Pixel::Begin *@
    @Html.Raw(ViewData["FacebookPixelLayout"])
    @* Facebook Pixel::End *@

    @RenderSection("Head", false)

</head>
<body>
    @* Google Tag Manager::Begin *@
    @Html.Raw(ViewData["GoogleTagManagerLayoutBody"])
    @* Google Tag Manager::End *@

    <div class="headerBox">
        @Html.PartialAsync("/Themes/Black/Views/Shared/header.cshtml").Result
    </div>

    <div id="body">
        @RenderBody()

        @Html.AntiForgeryToken()
        <a href="https://api.whatsapp.com/send?phone=90@(Model.Company.CompanyContact.PhoneNumber)&text=Merhaba%20bilgi%20almak%20istiyorum" class="whatsappButton" target="_blank">
            <img src="/themes/black/imgs/theme/icons/wp.png" alt="Lafaba whatsapp" class="my-float" />
        </a>
    </div>
    <div class="headerBox">
        @Html.PartialAsync("/Themes/Black/Views/Shared/footer.cshtml").Result
    </div>
    <!--Resource-->
    <script>
        @*var titleText =  "@_resource["Success"]";
        var messageText = "@_resource["SuccessBasketText"]";
        var okText =  " @_resource["Okey"]";*@
    </script>

    <!--Resource-->
    <script>

    </script>
    <script src="/js/classes/selector.js"></script>
    <script src="/js/classes/modal.js"></script>
    <script src="/js/classes/network.js"></script>
    <script src="/js/classes/validator.js"></script>
    <script src="/js/classes/shopping-cart.js"></script>
    <script src="/js/classes/tab.js"></script>
    <script src="/js/classes/context.js"></script>

    @RenderSection("Js", false)
    <script src="/themes/black/js/views/account/login.js"></script>
    <script src="/themes/black/js/views/account/forgot-password.js"></script>
    <script src="/themes/black/js/views/account/reset-password.js"></script>
    <script src="/themes/black/js/views/account/logout.js"></script>
    <script src="/themes/black/js/views/account/register.js"></script>
    <script src="/themes/black/js/views/home/bulten-form.js"></script>
    <script src="/themes/black/js/views/home/contact-form.js"></script>
    <script src="/themes/black/js/views/product/index.js"></script>
    <script src="/themes/black/js/third-party/modernizr-3.6.0.min.js"></script>
    <script src="/themes/black/js/third-party/jquery-3.6.0.min.js"></script>
    <script src="/themes/black/js/third-party/jquery-migrate-3.3.0.min.js"></script>
    <script src="/themes/black/js/third-party/bootstrap.bundle.min.js"></script>
    <script src="/themes/black/js/plugins/slick.js"></script>
    <script src="/themes/black/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/themes/black/js/plugins/jquery-ui.js"></script>
    <script src="/themes/black/js/plugins/select2.min.js"></script>
    <script src="/themes/black/js/plugins/jquery.countdown.min.js"></script>
    <script src="/themes/black/js/plugins/scrollup.js"></script>
    <script src="/themes/black/js/plugins/jquery.vticker-min.js"></script>
    <script src="/themes/black/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/themes/black/js/plugins/sweetalert.min.js"></script>
    <script src="/js/classes/search.js"></script>

    <!-- Template  JS -->
    <script src="/themes/black/js/main.js"></script>
    <script src="/themes/black/js/shop.js"></script>

</body>
</html>
