﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
<!--header-->
<header class="header-area header-style header-height">
    <div class="mobile-promotion">
        <div class="head-info-bar">
            <span>Tüm Siparişlerde Ücretsiz Kargo</span>
        </div>
    </div>

    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a href="@Url.Action("Index", "Home")"><img src="/themes/black/imgs/theme/logo.png" alt="logo" /></a>
                </div>
                <div class="header-right">
                    <div class="search-style">
                        <form>

                            <input type="text" placeholder="@_resource["Search"]" id="txtSearch" class="searchInput" />
                            <img src="/themes/black/imgs/theme/icons/search.png" alt="ara" class="txtSearch searchIcon" />
                        </form>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action">
                            <div class="header-action-icon-2">
                                <a href="favorite.html">
                                    <img class="svgInject my-favorite-icon" alt="alt-text" src="/themes/black/imgs/theme/icons/heart.png" />

                                </a>
                            </div>
                            <div class="header-action-icon-2 shoppingCart">
                                <a href="@Url.Action("Index", "ShoppingCart")" class="mini-cart-icon">
                                    <img alt="sepetim" src="/themes/black/imgs/theme/icons/basket.png" />
                                    <span class="pro-count blue basketIconCount" data-totalitems="@Model.ShoppingCartItemsCount">@Model.ShoppingCartItemsCount</span>
                                </a>
                                <a href="@Url.Action("Index", "ShoppingCart")"><span class="lable"></span></a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul class="shoppingCartProduct">
                                        @{
                                            decimal amount = 0;
                                        }
                                        @foreach (var sciLoop in (List<ECommerce.Application.Client.DataTransferObjects.ShoppingCartItem>)Model.ShoppingCartItems)
                                        {


                                            amount += sciLoop.ProductInformation.ProductInformationPrice.TotalUnitPrice;

                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href="@($"/{sciLoop.ProductInformation.Url}")"><img alt="@sciLoop.ProductInformation.Name" src="@sciLoop.ProductInformation.ProductInformationPhotos[0].FileName" /></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="@($"/{sciLoop.ProductInformation.Url}")">@sciLoop.ProductInformation.Name</a></h4>

                                                    @if (sciLoop.GetXPayYGift)
                                                    {
                                                        <h3>
                                                            <span class="color-orange">@string.Format(_resource["ProductGifted"], sciLoop.GetXPayYCount)</span>
                                                        </h3>
                                                    }

                                                    @if (sciLoop.ProductInformation.ProductInformationPrice.TotalUnitPrice > 0)
                                                    {
                                                        
                                                        <h3><span>@string.Format(_resource["NumberQuantity"], sciLoop.Quantity) </span>@sciLoop.ProductInformation.ProductInformationPrice.TotalUnitPrice TL</h3>
                                                    }

                                                </div>


                                            </li>

                                        }
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Toplam <span class="shoppingCartProductAmount">@amount.ToString("N2") TL</span> </h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="@Url.Action("Index", "ShoppingCart")" class="outline" id="cartUrl">@_resource["GoToCart"]</a>
                                            <a href="@Url.Action("Index", "Order")">@_resource["GoToPayment"]</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 shoppingCart">
                                <a>
                                    <img class="svgInject" alt="hesap" src="/themes/black/imgs/theme/icons/user.png" />
                                </a>
                                @if (Model.IsLogin)
                                {
                                    <a><span class="lable ml-0">@Model.CustomerUser.Customer.Name @Model.CustomerUser.Customer.Surname</span></a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                        <ul>
                                            <li>
                                                <a href="@Url.Action("Index", "Account")"><i class="fi fi-rs-user mr-10"></i>@_resource["MyAccount"]</a>
                                            </li>

                                            <li>
                                                <a href="javascript:AccountLogout.Close()"><i class="fi fi-rs-sign-out mr-10"></i>@_resource["LogOut"]</a>
                                            </li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                        <ul>
                                            <li>
                                                <a href="@Url.Action("Register", "Account")"><i class="fi fi-rs-user mr-10"></i>@_resource["Register"]</a>
                                            </li>

                                            <li>
                                                <a href="@Url.Action("Login", "Account")"><i class="fi fi-rs-sign-out mr-10"></i>@_resource["Login"]</a>
                                            </li>
                                        </ul>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a href="@Url.Action("Index", "Home")"><img src="/themes/black/imgs/theme/logo.png" alt="logo" /></a>
                </div>
                <div class="header-nav d-none d-lg-flex">

                    <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                        <nav>
                            <ul>
                                <li><a href="@Url.Action("Index", "Home")">@_resource["Home"]</a></li>

                                <li class="position-static">
                                    <a href="#">@_resource["NewArrivals"] <i class="fi-rs-angle-down"></i></a>
                                    <ul class="mega-menu">
                                        <li class="sub-mega-menu sub-mega-menu-width-66">
                                            <ul class="row">
                                                @foreach (var category in (List<ECommerce.Application.Client.DataTransferObjects.Category>)Model.Categories)
                                                {

                                                    <li class="col-4"><a href="@($"/{category.Url}")">@category.Name</a></li>

                                                }

                                            </ul>
                                        </li>


                                        <li class="sub-mega-menu sub-mega-menu-width-34">
                                            <div class="menu-banner-wrap">
                                                <a href="/melisa-limon-otu-aloysia-triphylla-citriodora-saksida-996-996-p"><img src="/themes/black/imgs/banner/yeni-gelenler.jpg" alt=" Yeni gelenler" /></a>
                                                <div class="menu-banner-content">

                                                    <h3 class="color-white">
                                                        Yeni Gelen Ürünlerde
                                                    </h3>
                                                    <div class="menu-banner-price">
                                                        <span class="new-price color-white">%30 @_resource["Discount"]</span>
                                                    </div>
                                                    <div class="menu-banner-btn">
                                                        <a href="/melisa-limon-otu-aloysia-triphylla-citriodora-saksida-996-996-p">@_resource["Buy"]</a>
                                                    </div>
                                                </div>
                                                <div class="menu-banner-discount">
                                                    <h3>
                                                        <span>%30</span>
                                                        @_resource["Discount"]
                                                    </h3>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>


                                <li>
                                    <a href="/женская-одежда-12808-c">@_resource["Women"]</a>
                                </li>

                                <li>
                                    <a href="/мужская-одежда-12835-c">@_resource["Men"]</a>
                                </li>
                                <li>
                                    <a href="https://www.blog-lafaba.com/">@_resource["Blog"]</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!--Mobile-->
                <div class="header-action-icon-2 d-block d-lg-none">
                    <div class="burger-icon burger-icon-white">
                        <span class="burger-icon-top"></span>
                        <span class="burger-icon-mid"></span>
                        <span class="burger-icon-bottom"></span>
                    </div>
                </div>
                <div class="header-action-right d-flex align-items-baseline d-lg-none">
                    <div><i class="fi fi-rs-search header-mob-search-icon"></i></div>
                    <div class="header-action-icon-2">
                        <a href="favorite.html">
                            <img class="svgInject my-favorite-icon" alt="alt-text" src="/themes/black/imgs/theme/icons/heart.png" />
                        </a>
                    </div>
                    <div class="header-action">

                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon">
                                <img alt="alt-text" src="/themes/black/imgs/theme/icons/basket.png" />
                                <span class="pro-count white basketIconCount" data-totalitems="@Model.ShoppingCartItemsCount">@Model.ShoppingCartItemsCount</span>
                            </a>
                            <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                <ul class="shoppingCartProduct">
                                    @foreach (var shoppingCartItem in (List<ECommerce.Application.Client.DataTransferObjects.ShoppingCartItem>)Model.ShoppingCartItems)
                                    {

                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="@($"/{shoppingCartItem.ProductInformation.Url}")"><img alt="@shoppingCartItem.ProductInformation.Name" src="@shoppingCartItem.ProductInformation.ProductInformationPhotos[0].FileName" /></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="@($"/{shoppingCartItem.ProductInformation.Url}")">@shoppingCartItem.ProductInformation.Name</a></h4>

                                                @if (shoppingCartItem.GetXPayYGift)
                                                {
                                                    <h3>
                                                        <span class="color-orange">@shoppingCartItem.GetXPayYCount ürün hediye edildi</span>
                                                    </h3>
                                                }

                                                @if (shoppingCartItem.ProductInformation.ProductInformationPrice.TotalUnitPrice > 0)
                                                {

                                                    <h3><span>@shoppingCartItem.Quantity @_resource["Quantity"] </span>@shoppingCartItem.ProductInformation.ProductInformationPrice.TotalUnitPrice TL</h3>
                                                }
                                            </div>

                                        </li>

                                    }
                                </ul>
                                <div class="shopping-cart-footer">
                                    <div class="shopping-cart-total">
                                        <h4>@_resource["Total"] <span class="shoppingCartProductAmount">@amount.ToString("N2") TL</span></h4>
                                    </div>
                                    <div class="shopping-cart-button">
                                        <a href="@Url.Action("Index", "ShoppingCart")">@_resource["GoToCart"]</a>
                                        <a href="@Url.Action("Index", "Order")">@_resource["GoToPayment"]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Mobile-->
            </div>
        </div>
    </div>
</header>
<!--Mobile Left Menu-->
<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit d-flex">
                <a href="@Url.Action("Index", "Home")"><img src="/themes/black/imgs/theme/logo-dark.png" alt="logo" class="d-flex align-items-center mobile-menu-logo" /></a>
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">

            <div class="mobile-menu-wrap mobile-header-border">
                <!-- mobile menu start -->
                <nav>
                    <ul class="nav nav-tabs text-uppercase mobile-menu-tabs mb-10">
                        <li class="nav-item mobile-menu-tab-nav-item">
                            <a class="active d-block" id="kadin-tab" data-bs-toggle="tab" href="#kadin">@_resource["Women"]</a>
                        </li>
                        <li class="nav-item mobile-menu-tab-nav-item">
                            <a class="d-block" id="erkek-tab" data-bs-toggle="tab" href="#erkek">@_resource["Men"]</a>
                        </li>

                    </ul>
                    <div class="tab-content entry-main-content">
                        <div class="tab-pane fade show active menu-tab-item" id="kadin">
                            <ul class="menu-tab-item-list-box">
                                <li class="menu-tab-item-list-item" style="background-image: url(/themes/black/imgs/theme/icons/ktum-urunler.png) ">
                                    <a href="" class="">@_resource["AllProducts"] </a>
                                </li>
                                <li class="menu-tab-item-list-item" style="background-image: url(/themes/black/imgs/theme/icons/kyeni-gelenler.png) ">
                                    <a href="" class="">@_resource["NewArrivals"] </a>
                                </li>
                                <li class="menu-tab-item-list-item" style="background-image: url(/themes/black/imgs/theme/icons/elbise.png) ">
                                    <a href="" class="">@_resource["Dress"]</a>
                                </li>
                                <li class="menu-tab-item-list-item" style="background-image: url(/themes/black/imgs/theme/icons/abiye.png) ">
                                    <a href="" class="">@_resource["EveningdDresses"]</a>
                                </li>
                                <li class="menu-tab-item-list-item" style="background-image: url(/themes/black/imgs/theme/icons/ktum-urunler.png) ">
                                    <a href="" class="">@_resource["Jacket"]</a>
                                </li>
                                <li class="menu-tab-item-list-item" style="background-image: url(/themes/black/imgs/theme/icons/kyeni-gelenler.png) ">
                                    <a href="" class="">@_resource["Coats"]</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade menu-tab-item" id="erkek">
                            <ul class="menu-tab-item-list-box">
                                <li class="menu-tab-item-list-item" style="background-image: url(/themes/black/imgs/theme/icons/tum-urunler.png) ">
                                    <a href="" class="">@_resource["AllProducts"] </a>
                                </li>
                                <li class="menu-tab-item-list-item" style="background-image: url(/themes/black/imgs/theme/icons/yeni-gelenler.png) ">
                                    <a href="" class="">@_resource["NewArrivals"]</a>
                                </li>
                                <li class="menu-tab-item-list-item" style="background-image: url(/themes/black/imgs/theme/icons/ust-giyim.png) ">
                                    <a href="" class="">@_resource["TopClothing"]</a>
                                </li>
                                <li class="menu-tab-item-list-item" style="background-image: url(/themes/black/imgs/theme/icons/alt-giyim.png) ">
                                    <a href="" class="">@_resource["BottomClothing"]</a>
                                </li>
                                <li class="menu-tab-item-list-item" style="background-image: url(/themes/black/imgs/theme/icons/tum-urunler.png) ">
                                    <a href="" class="">@_resource["DenimJacket"]</a>
                                </li>
                                <li class="menu-tab-item-list-item" style="background-image: url(/themes/black/imgs/theme/icons/yeni-gelenler.png) ">
                                    <a href="" class="">@_resource["Coats"]</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap">
                <div class="single-mobile-header-info">
                    <a href=""><i class="fi-rs-comment"></i> @_resource["Blog"] </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="@Url.Action("Login", "Account")"><i class="fi-rs-user"></i>@_resource["Login"] / @_resource["Register"] </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="tel:08508404466"><i class="fi-rs-headphones"></i>0850 840 44 66 </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="mailto:info@lafaba.com"><i class="fi-rs-link"></i>info@lafaba.com </a>
                </div>
            </div>
            <div class="mobile-social-icon mb-50">
                <h6 class="mb-15">@_resource["SocialAccounts"]</h6>
                <a href="https://www.facebook.com/lafabastore/"><img src="/themes/black/imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
                <a href="https://tr.pinterest.com/lafabacom/_saved/"><img src="/themes/black/imgs/theme/icons/icon-pinterest-white.svg" alt="" /></a>
                <a href="https://www.instagram.com/lafabastore/"><img src="/themes/black/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
                <a href="https://www.youtube.com/channel/UCkddwflJ4YmyW__uiJGYk4Q"><img src="/themes/black/imgs/theme/icons/icon-youtube-white.svg" alt="" /></a>
            </div>
            <div class="site-copyright">@_resource["Copyright"]</div>
        </div>
    </div>
</div>

<!--Mobile Left Menu-->
<div class="search-overlay " style="display:none;">
    <button type="button" class="btn-close des-none btn-search-close"></button>
    <div class="mobile-search search-style mobile-header-border">
        <input type="text" placeholder="@_resource["Search"]..." id="txtSearchs" name="mobSearch" autocomplete="on" class="searchInputMob searchInput" />
        <button type="submit" class="btn btn-small ml-5 txtSearch txtSearchMob">@_resource["SearchBtn"]</button>

    </div>
</div>
<!--End header-->