﻿@model ECommerce.Application.Panel.ViewModels.Variants.Create

<form class="kt-form" id="variant_create_form">

    <div class="kt-portlet__body">
        <div class="kt-section kt-section--first">

            @if (Model.Languages.Count == 1)
            {
                <input type="hidden" name="variantTranslations[0][languageId]" value="@Model.Languages[0].Key" />

                <div class="form-group">
                    <label>Varyasyon Adı:</label>
                    <input type="text" name="variantTranslations[0][name]" class="form-control" placeholder="Varyasyon adı giriniz" required autocomplete="off">
                </div>
            }

            <div class="form-group">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" class="form-control" name="photoable:boolean">
                    Fotoğraflanabilir
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" class="form-control" name="slicer:boolean">
                    Dilimlenebilir
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" class="form-control" name="varianter:boolean">
                    Varyantlanabilir
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" class="form-control" name="showVariant:boolean">
                    Göster (Fatura,Sipariş ve Web ekranlarında görüntülenir)
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <a href="javascript:VariantIndex.AddVariantValue()" class="btn btn-brand btn-elevate btn-icon-sm">
                    <i class="la la-plus"></i>
                    Yeni Varyasyon Değeri
                </a>
            </div>

            <div id="variant-values"></div>

        </div>
    </div>

</form>