﻿ <!-- Pagination::Begin -->
<div class="mt25">

    <div class="kt-portlet">
        <div class="kt-portlet__body">

            <!--begin: Pagination-->
            <div class="kt-pagination kt-pagination--brand">
                <div class="kt-pagination__toolbar">
                    <div class="pos-relative mr-3">
                        <label class="input-abs-text">Kayıt Sayısı</label>
                        <select class="kt-hidden-select2 ajax_data_length" onchange="VariantIndex.ChangePageRecordsCount(this)">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <span class="pagination__desc">
                        ...
                    </span>
                </div>
                <ul class="kt-pagination__links">
                    ...
                </ul>
            </div>

            <!--end: Pagination-->
        </div>
    </div>

</div>
<!-- Pagination::End -->

<div class="kt-portlet kt-portlet--mobile ">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Varyasyonlar
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <a href="javascript:VariantIndex.OpenCreateModal()" class="btn btn-brand btn-elevate btn-icon-sm">
                    <i class="la la-plus"></i>
                    Yeni Varyasyon
                </a>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">

        <div class="dataTables_wrapper dt-bootstrap4 no-footer">

            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <div class="row">
                        <div id="kt_table_1_filter" class="dataTables_filter">
                            <label class="pos-relative">
                                <span class="input-abs-text">
                                    Arama:
                                </span>
                                <input id="ajax_data_search" type="search" class="form-control form-control-sm" placeholder="" aria-controls="kt_table_1" onchange="VariantIndex.Read(0)">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="ajax_data_info" role="status" aria-live="polite"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">

                <input id="ajax_data_page" type="hidden" value="0" />

                <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>İsim</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="ajax_data"></tbody>
                </table>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="ajax_data_info" role="status" aria-live="polite"></div>
                </div>

            </div>

        </div>

    </div>
</div>
<!-- Pagination::Begin -->
<div class="">

    <div class="kt-portlet">
        <div class="kt-portlet__body">

            <!--begin: Pagination-->
            <div class="kt-pagination kt-pagination--brand">
                <div class="kt-pagination__toolbar">
                    <div class="pos-relative mr-3">
                        <label class="input-abs-text">Kayıt Sayısı</label>
                        <select class="kt-hidden-select2 ajax_data_length" onchange="VariantIndex.ChangePageRecordsCount(this)">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <span class="pagination__desc">
                        ...
                    </span>
                </div>
                <ul class="kt-pagination__links">
                    ...
                </ul>
            </div>

            <!--end: Pagination-->
        </div>
    </div>

</div>
<!-- Pagination::End -->
<!-- Modal::Begin-->
<div class="modal fade" id="variant_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="modal_submit" type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
@section Scripts {
    <script src="/org/library/js/jquery-serializer.js?v=0.7"></script>
    <script src="/org/library/js/jquery-table.js?v=0.7"></script>
    <script src="/org/library/js/jquery-autocomplete.js?v=0.7"></script>
    <script src="/org/library/js/jquery-validation.js?v=0.7" charset="windows-1254"></script>
    <script src="/org/js/views/variant/index.js?v=0.8"></script>
}