﻿@model ECommerce.Application.Panel.ViewModels.Variants.Update

<form class="kt-form" id="variant_update_form">

    <input type="hidden" name="id" class="form-control" value="@Model.Variant.Id">

    <div class="kt-portlet__body">
        <div class="kt-section kt-section--first">

            @if (Model.Languages.Count == 1)
            {
                <input type="hidden" name="variantTranslations[0][id]" value="@Model.Variant.VariantTranslations[0].Id" />
                <input type="hidden" name="variantTranslations[0][languageId]" value="@Model.Variant.VariantTranslations[0].LanguageId" />

                <div class="form-group">
                    <label>Varyasyon Adı:</label>
                    <input type="text" name="variantTranslations[0][name]" value="@Model.Variant.VariantTranslations[0].Name" class="form-control" placeholder="Varyasyon adı giriniz" required>
                </div>
            }

            <div class="form-group">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" class="form-control" name="photoable:boolean" @(Model.Variant.Photoable ? "checked" : "")>
                    Fotoğraflanabilir
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" class="form-control" name="slicer:boolean" @(Model.Variant.Slicer ? "checked" : "")>
                    Dilimlenebilir
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" class="form-control" name="varianter:boolean" @(Model.Variant.Varianter ? "checked" : "")>
                    Varyantlanabilir
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" class="form-control" name="showVariant:boolean" @(Model.Variant.ShowVariant ? "checked" : "")>
                    Göster (Fatura,Sipariş ve Web ekranlarında görüntülenir)
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <a href="javascript:VariantIndex.AddVariantValue()" class="btn btn-brand btn-elevate btn-icon-sm">
                    <i class="la la-plus"></i>
                    Yeni Varyasyon Değeri
                </a>
            </div>

            <div id="variant-values">
                @for (int i = 0; i < Model.Variant.VariantValues.Count; i++)
                {
                    @Html.PartialAsync("/Themes/Org/Views/VariantValue/IndexPartial.cshtml", new ECommerce.Application.Panel.ViewModels.VariantValues.IndexPartial
                {
                    Index = i,
                    Languages = Model.Languages,
                    VariantValue = Model.Variant.VariantValues[i]
                }).Result
                }
            </div>

        </div>
    </div>
</form>