﻿@model DataResponse<Pos>

@if (Model.Success)
{
    <form class="kt-form" id="pos_update_form">

        <div class="kt-portlet__body">
            <div class="kt-section kt-section--first">

                <div class="form-group pos-relative">
                    <label class="input-abs-text">No:</label>
                    <input type="text" name="id" class="form-control" value="@Model.Data.Id" >
                </div>

                <div class="form-group pos-relative">
                    <label class="input-abs-text">Pos Adı:</label>
                    <input type="text" name="name" class="form-control" value="@Model.Data.Name">
                </div>

                <div class="form-group flex-box">
                    <label class="kt-checkbox">
                        <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" @(Model.Data.Active ? "checked" : "")> Aktif
                        <span></span>
                    </label>
                </div>

                <div class="form-group flex-box">
                    <label class="kt-checkbox">
                        <input type="checkbox" name="default:boolean" value="true" data-unchecked-value="false" @(Model.Data.Default ? "checked" : "")> Varsayılan
                        <span></span>
                    </label>
                </div>

            </div>
        </div>

    </form>
}