﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
    <!--category slider-->
<section class="popular-categories mt-15 mb-5 des-none">
    <div class="slider-arrow slider-arrow-2 flex-right categorySlider-columns-arrow" id="categorySlider-columns-arrows"></div>
    <div class="categorySlider-columns-cover position-relative">
        <div class="categorySlider-columns" id="categorySlider-columns">
            <div>
                <div class="mobile-carousel">
                    <div class="inner">
                        <div class="overlay-container bordered overlay-visible">
                            <a href="">
                                <i class="fa fa-truck"></i>
                                <div class="text">
                                    <p class="title">@_resource["MobilTopHeaderItemOne"]</p>
                                    <p class="desc">400 TL @_resource["MobilTopHeaderItemTwo"]</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="mobile-carousel">
                    <div class="inner">
                        <div class="overlay-container bordered overlay-visible">
                            <a href="">
                                <i class="fa fa-angle-double-down"></i>
                                <div class="text">
                                    <p class="title">СКИДКИ КАЖДУЮ НЕДЕЛЮ</p>
                                    <p class="desc">Оставайтесь с нами, не пропустите!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="popular-categories container p-0 position-relative">
    <div class="home-btn-box">
        <a class="btn fashion-btn text-uppercase">@_resource["Women"]</a>
        <a class="btn fashion-btn text-uppercase">@_resource["Men"]</a>
    </div>
    <img class="des-none" src="/themes/black/imgs/page/ana-sayfa-banner-mobil.jpg" />
    <img class="mob-none" src="/themes/black/imgs/page/ana-sayfa-banner-des.jpg" />
</section>
<!--End category slider-->
