﻿<!--Counter Product Component-->
<div class="product-cart-wrap style-2 wow " data-wow-delay="0">
    <div class="product-img-action-wrap">
        <div class="product-img">
            <a href="product.html">
                <img src="/imgs/banner/banner-6.jpg" alt="@(Model.Company.Name) ürünleri" />
            </a>
        </div>
    </div>
    <div class="product-content-wrap">
        <div class="deals-countdown-wrap">
            <div class="deals-countdown" data-countdown="2021/12/25 00:00:00"></div>
        </div>
        <div class="deals-content">
            <h2><a href="product.html">Çin Lanterni Abutilon hybridum, Saksıda</a></h2>
            <div class="product-rate-cover">
                <div class="product-rate d-inline-block">
                    <div class="product-rating" style="width: 90%"></div>
                </div>
                <span class="font-small ml-5 text-muted"> (4.0)</span>
            </div>
            <div>
                <span class="font-small text-muted">Marka <a href="#">{Brand-Name}</a></span>
            </div>
            <div class="product-card-bottom">
                <div class="product-price">
                    <span class="old-price">56,00₺ </span>
                    <span>74,00₺ </span>
                </div>
                <div class="add-cart">
                    <a class="add" href="@Url.Action("Index","ShoppingCart")"><i class="fi-rs-shopping-cart mr-5"></i>Sepete Ekle </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Counter Product Component-->