﻿@model ECommerce.Application.Common.DataTransferObjects.RowComponent


<section>
    <div class="container home-container">
        <div class="row">
            @foreach (var column in Model.ColumnComponents)
            {
                @Html.Partial($"/Themes/Black/Views/Components/Column.cshtml", column)
            }
            </div>
        </div>
</section>


