﻿ <!--category slider-->
<section class="popular-categories mt-15 mb-5">
    <div class="container ">

        <div class="slider-arrow slider-arrow-2 flex-right categorySlider-columns-arrow" id="categorySlider-columns-arrows"></div>
        <div class="categorySlider-columns-cover position-relative">
            <div class="categorySlider-columns" id="categorySlider-columns">
                <div class="productBox-2 bg-9 wow" >
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="/sertifikali-meyve-fidanlari-1-c"><img src="/themes/glasses/imgs/shop/sertifika-fidan.png" alt="Meyve Fidanları" /></a>
                    </figure>
                    <h1 class="categoryIcon-title"><a href="/sertifikali-meyve-fidanlari-1-c">Meyve Fidanları</a></h1>

                </div>
                <div class="productBox-2 bg-10 wow " data-wow-delay=".2s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="/tohumlar-ve-fideler-532-c"><img src="/themes/glasses/imgs/shop/tohum.png" alt="Tohumlar" /></a>
                    </figure>
                    <h6 class="categoryIcon-title"><a href="/tohumlar-ve-fideler-532-c">Tohumlar</a></h6>
                    <span></span>
                </div>
                <div class="productBox-2 bg-11 wow " data-wow-delay=".3s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="/sertifikali-meyve-fidanlari-1-c"><img src="/themes/glasses/imgs/shop/turunc.png" alt="Turunçgiller" /></a>
                    </figure>
                    <h6 class="categoryIcon-title"><a href="/sertifikali-meyve-fidanlari-1-c">Turunçgiller</a></h6>
                    <span></span>
                </div>
                <div class="productBox-2 bg-12 wow " data-wow-delay=".4s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="/sertifikali-meyve-fidanlari-1-c"><img src="/themes/glasses/imgs/shop/kirmizi-meyve.png" alt="Kırmızı Meyveler" /></a>
                    </figure>
                    <h6 class="categoryIcon-title"><a href="/sertifikali-meyve-fidanlari-1-c">Kırmızı Meyveler</a></h6>
                    <span></span>
                </div>
                <div class="productBox-2 bg-13 wow " data-wow-delay=".5s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="/bahce-peyzaj-ihtiyaclari-579-c"><img src="/themes/glasses/imgs/shop/peyzaj.png" alt="Peyzaj" /></a>
                    </figure>
                    <h6 class="categoryIcon-title"><a href="/bahce-peyzaj-ihtiyaclari-579-c">Peyzaj</a></h6>
                    <span></span>
                </div>
                <div class="productBox-2 bg-14 wow " data-wow-delay=".6s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="/sebze-fideleri-11-g"><img src="/themes/glasses/imgs/shop/sebzeFidanlari.png" alt="Sebze Fideleri" /></a>
                    </figure>
                    <h6 class="categoryIcon-title"><a href="/sebze-fideleri-11-g">Sebze Fideleri</a></h6>
                    <span></span>
                </div>
                <div class="productBox-2 bg-15 wow " data-wow-delay=".7s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="/cali-formlu-cicekli-bitkiler-539-c"><img src="/themes/glasses/imgs/shop/balkon.png" alt="Balkon Bitkileri" /></a>
                    </figure>
                    <h6 class="categoryIcon-title"><a href="/cali-formlu-cicekli-bitkiler-539-c">Balkon Bitkileri</a></h6>
                    <span></span>
                </div>
                <div class="productBox-2 bg-12 wow " data-wow-delay=".8s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="/uzumsu-ve-tropikal-meyve-fidanlari-646-c"><img src="/themes/glasses/imgs/shop/tropical.png" alt="Tropikal" /></a>
                    </figure>
                    <h6 class="categoryIcon-title"><a href="/uzumsu-ve-tropikal-meyve-fidanlari-646-c">Tropikal</a></h6>
                    <span></span>
                </div>
                <div class="productBox-2 bg-10 wow " data-wow-delay=".9s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="/ic-mekan-salon-bitkileri-531-c"><img src="/themes/glasses/imgs/shop/ic-mekan.png" alt="İç Mekan" /></a>
                    </figure>
                    <h6 class="categoryIcon-title"><a href="/ic-mekan-salon-bitkileri-531-c">İç Mekan</a></h6>
                    <span></span>
                </div>

                <div class="productBox-2 bg-11 wow " data-wow-delay="0s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="/hediyelik-fidanlar-4-g"><img src="/themes/glasses/imgs/shop/hediyelik.png" alt="Hediyelik Çiçek" /></a>
                    </figure>
                    <h6 class="categoryIcon-title"><a href="/hediyelik-cicek-tasarimi-721-c">Hediyelik Çiçek</a></h6>
                    <span></span>
                </div>
                <div class="productBox-2 bg-13 wow " data-wow-delay=".5s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="/bahce-peyzaj-ihtiyaclari-579-c"><img src="/themes/glasses/imgs/shop/peyzaj.png" alt="Peyzaj" /></a>
                    </figure>
                    <h6 class="categoryIcon-title"><a href="/bahce-peyzaj-ihtiyaclari-579-c">Peyzaj</a></h6>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End category slider-->
<!--
<section class="mobile-category-banner-list d-flex des-none justify-content-center">

    <div class="category-banner-item">
        <a href="/yeni-trendler-623-c">@*<img src="/themes/glasses/imgs/shop/trend.png" alt="@(Model.Company.Name) Trendler" />*@ <h6>Trendler</h6></a>
    </div>
    <div class="category-banner-item">
        <a href="@Url.Action("Discount","Home")">@*<img src="/themes/glasses/imgs/shop/discount.png" alt="@(Model.Company.Name) indirimli ürünler" />*@ <h6>İndirim</h6></a>
    </div>
    <div class="category-banner-item">
        <a href="/bitki-koruma-zirai-ilaclar-12-g">@*<img src="/themes/glasses/imgs/shop/bakim.png" alt="@(Model.Company.Name) bitki bakımı" />*@ <h6>Bakım</h6></a>
    </div>
    <div class="category-banner-item">
        <a href="@Url.Action("Find","Home")">@*<img src="/themes/glasses/imgs/shop/fidanbul.png" alt="@(Model.Company.Name) Hızlı Arama" />*@ <h6>Akıllı Arama</h6></a>
    </div>

</section>
-->