﻿     <!--Pop Products Tabs-->
<section class="product-tabs section-padding position-relative">
    <div class="container">
        <div class="section-title style-2 ">
            <h3>Popüler Ürünler</h3>
            <ul class="nav nav-tabs links" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Çiçek</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Meyve</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">Sebze</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="nav-tab-four" data-bs-toggle="tab" data-bs-target="#tab-four" type="button" role="tab" aria-controls="tab-four" aria-selected="false">Peyzaj</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="nav-tab-five" data-bs-toggle="tab" data-bs-target="#tab-five" type="button" role="tab" aria-controls="tab-five" aria-selected="false">Tropical</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="nav-tab-six" data-bs-toggle="tab" data-bs-target="#tab-six" type="button" role="tab" aria-controls="tab-six" aria-selected="false">Süs</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="nav-tab-seven" data-bs-toggle="tab" data-bs-target="#tab-seven" type="button" role="tab" aria-controls="tab-seven" aria-selected="false">Hediyelik</button>
                </li>
            </ul>
        </div>
        <!--End nav-tabs-->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                <div class="row product-grid-4">
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="product-cart-wrap mb-30 " >
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="product.html">
                                        <img class="default-img" src="/themes/glasses/imgs/shop/product-1-1.jpg" alt="" />
                                        <img class="hover-img" src="/themes/glasses/imgs/shop/product-1-2.jpg" alt="" />
                                    </a>
                                </div>

                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">İndirim</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <div class="product-category">
                                    @*<a href="shop.html">@katergori.name</a>*@
                                </div>
                                <h2><a href="product.html">Kamkat Fidanı Citrus fortunella</a></h2>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div>
                                    <span class="font-small text-muted">Marka <a href="#">.Brand.Name</a></span>
                                </div>
                                <div class="product-card-bottom">
                                    <div class="product-price">
                                        <span class="old-price">96,00 ₺</span>
                                        <span>64,00 ₺</span>
                                    </div>
                                    <div class="add-cart">
                                        <a class="add" href="@Url.Action("Index","ShoppingCart")"><i class="fi-rs-shopping-cart mr-5"></i>Sepete Ekle </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
                <!--End product-grid-4-->
            </div>
            <!--En tab one-->
            <div class="tab-pane fade" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                <div class="row product-grid-4">
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="product-cart-wrap mb-30 " >
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="product.html">
                                        <img class="default-img" src="/themes/glasses/imgs/shop/product-1-1.jpg" alt="" />
                                        <img class="hover-img" src="/themes/glasses/imgs/shop/product-1-2.jpg" alt="" />
                                    </a>
                                </div>

                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">İndirim</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <div class="product-category">
                                    @*<a href="shop.html">@katergori.name</a>*@
                                </div>
                                <h2><a href="product.html">Kamkat Fidanı Citrus fortunella</a></h2>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                <div>
                                    <span class="font-small text-muted">Marka <a href="#">.Brand.Name</a></span>
                                </div>
                                <div class="product-card-bottom">
                                    <div class="product-price">
                                        <span class="old-price">96,00 ₺</span>
                                        <span>64,00 ₺</span>
                                    </div>
                                    <div class="add-cart">
                                        <a class="add" href="@Url.Action("Index","ShoppingCart")"><i class="fi-rs-shopping-cart mr-5"></i>Sepete Ekle </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!--End product-grid-4-->
            </div>
            <!--En tab two-->
            <div class="tab-pane fade" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                <div class="row product-grid-4">
                    <div class="text-centet">
                        Tab 3
                    </div>

                </div>
                <!--End product-grid-4-->
            </div>
            <!--En tab three-->
            <div class="tab-pane fade" id="tab-four" role="tabpanel" aria-labelledby="tab-four">
                <div class="row product-grid-4">

                    <div class="text-centet">
                        Tab 3
                    </div>
                </div>
                <!--End product-grid-4-->
            </div>
            <!--En tab four-->
            <div class="tab-pane fade" id="tab-five" role="tabpanel" aria-labelledby="tab-five">
                <div class="row product-grid-4">
                    <div class="text-centet">
                        Tab 3
                    </div>

                </div>
                <!--End product-grid-4-->
            </div>
            <!--En tab five-->
            <div class="tab-pane fade" id="tab-six" role="tabpanel" aria-labelledby="tab-six">
                <div class="row product-grid-4">
                    <div class="text-centet">
                        Tab 3
                    </div>
                </div>
                <!--End product-grid-4-->
            </div>
            <!--En tab six-->
            <div class="tab-pane fade" id="tab-seven" role="tabpanel" aria-labelledby="tab-seven">
                <div class="row product-grid-4">
                    <div class="text-centet">
                        Tab 3
                    </div>
                </div>
                <!--End product-grid-4-->
            </div>
            <!--En tab seven-->
        </div>
        <!--End tab-content-->
    </div>
</section>
<!--Products Tabs-->