﻿@model ECommerce.Application.Client.ViewModels.Orders.Done
@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@{
    ViewData["Title"] = "Teşekkürler | Siparişiniz Tamamlandı";
    ViewData["Description"] = "Fidan ihtiyaçlarında bizi tercih ettiğiniz için teşekkür ederiz. En kısa sürede ürünlerinizi sizlere ulaştıracağız.";

}


<style>
    .header-action-icon-2.shoppingCart {
        display: none !important;
    }
</style>
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a>
                <span></span> <a href="@Url.Action("Index","ShoppingCart")" rel="nofollow">@_resource["Cart"]</a>
                <span></span> @_resource["Payment"]
                <span></span> @_resource["ThankYou"]
            </div>
        </div>
    </div>
    <div class="container mb-80 mt-20">
        <div class="col-xs-12 col-md-7 text-center m-auto">

            @if (!string.IsNullOrEmpty(Model.PaymentTypeId))
            {
                if (Model.PaymentTypeId.ToUpper() == "C")
                {
                    <h2 class="mb-15 done-head-text">@_resource["DoneSuccessMessage"]</h2>

                    <p>
                        Пожалуйста, введите номер вашего заказа в разделе описания при совершении платежа на счет, указанный ниже. (@Model.OrderId) Вы должны войти.<br />
                        После оплаты ваши заказы будут отправлены на ваш адрес.
                    </p>

                    <!--Havale Ödeme Bilgisi-->
                    <div class="order-wizard-bank-information">

                        <h4>@_resource["BankInformation"]</h4>

                        <div class="card-body payment-type-table" style="position:relative;">
                            <div class="eftName d-flex">
                                <span class="border-right"><img class="width-100px d-flex align-items-center" src="themes/black/imgs/page/garanti.png" alt="garanti bankası" /> </span>
                                <span class="border-right">@_resource["BuyerTitle"]</span>
                                <span>LAFABA TEKSTİL ELK. SAN. VE TİC. LTD. ŞTİ.</span>
                            </div>
                            <div class="eftName d-flex">
                                <input class="border-right ibanNos" value="@Model.Company.CompanyContact.Iban" disabled />
                                <a id="ibanCopy" class="ibanCopy"><img src="/themes/black/imgs/theme/copy-content.png" alt="iban kopyala" /></a>
                            </div>


                        </div>

                    </div>
                    <!--Havale Ödeme Bilgisi-->

                }
                if (Model.PaymentTypeId.ToUpper() == "OO")
                {
                    if (Model.OnlinePaymentPaid)
                    {
        <h2 class="mb-15">@_resource["DoneSuccessMessage"]</h2>
                        <p>
                            Мы свяжемся с вами как можно скорее. номер вашего заказа <strong>@Model.OrderId</strong><br />
                           
                        </p>
                    }
                    else
                    {
        <h2 class="mb-15">Не удалось выполнить платеж. Проверьте данные своей кредитной карты..</h2>

                    }

                }
            }
            else
            {

        <h2 class="mb-15">>@_resource["DoneSuccessMessage"]</h2>
            }



        </div>
    </div>

</main>




@section Js{
    @* Google Ads::Begin *@
    @if (Model.GoogleAdsDone != null && Model.GoogleAdsDone.Success)
        if (Model.GoogleAdsDone.Success)
            @Html.Raw(Model.GoogleAdsDone.Data)
    @* Google Ads::End *@

    @* Google Analytics::Begin *@
    @if (Model.GoogleAnalyticsDone != null && Model.GoogleAnalyticsDone.Success)
        if (Model.GoogleAnalyticsDone.Success)
            @Html.Raw(Model.GoogleAnalyticsDone.Data)
    @* Google Analytics::End *@

    @* Facebook Pixel::Begin *@
    @if (Model.FacebookPixelDone != null && Model.FacebookPixelDone.Success)
        if (Model.FacebookPixelDone.Success)
            @Html.Raw(Model.FacebookPixelDone.Data)
    @* Facebook Pixel::End *@
}