﻿@model DataResponse<MoneyPointSetting>

<div class="kt-portlet kt-portlet--mobile mt25">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Para Puan Ayarı

            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">

        @if (Model.Success)
        {
            <form class="kt-form" id="money_point_setting_update_form">

                <input type="hidden" name="id" value="@Model.Data.Id" />

                <div class="kt-portlet__body">
                    <div class="form-group row">

                        <div class="col-lg-3">
                            <label>Limit:</label>
                            <input type="text" name="limit" class="form-control" value="@Model.Data.Limit" placeholder="Limit giriniz" autocomplete="off">
                        </div>
                        <div class="col-lg-3">
                            <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                <input  type="checkbox" name="earningIsRate:boolean" value="true" data-unchecked-value="false" @(Model.Data.EarningIsRate ? "checked" : "")> Para Puan Oransal
                                <span></span>
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <label>Para Puan:</label>
                            <input type="text" name="earning" class="form-control" value="@Model.Data.Earning" placeholder="Para Puan giriniz" autocomplete="off">
                        </div>

                    </div>
                </div>

            </form>

            <div class="row">
                <div class="col-md-9 text-lg-right">
                    <button id="modal_submit" type="button" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    <script src="/org/library/js/jquery-serializer.js"></script>
    <script src="/org/library/js/jquery-table.js"></script>
    <script src="/org/js/views/money-point-setting/index.js"></script>
}