﻿     <!--Popular Product Slider-->
<section class="section-padding pb-5">
    <div class="container">
        <div class="section-title ">
            <h3 class="">Güncel Fırsatlar</h3>
            <ul class="nav nav-tabs links" id="myTab-2" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="nav-tab-one-1" data-bs-toggle="tab" data-bs-target="#tab-one-1" type="button" role="tab" aria-controls="tab-one" aria-selected="true">İndirim</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="nav-tab-two-1" data-bs-toggle="tab" data-bs-target="#tab-two-1" type="button" role="tab" aria-controls="tab-two" aria-selected="false">En İyi Fiyat</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="nav-tab-three-1" data-bs-toggle="tab" data-bs-target="#tab-three-1" type="button" role="tab" aria-controls="tab-three" aria-selected="false">Çok Satan</button>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-3 d-none d-lg-flex ">
                <div class="banner-img style-2">
                    <div class="banner-text">
                        <h2 class="mb-100 color-white">Doğayı sizlere ulaştırıyoruz</h2>
                        <a href="shop.html" class="btn btn-xs">Alışverişe Başla<i class="fi-rs-arrow-small-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 " data-wow-delay=".4s">
                <div class="tab-content" id="myTabContent-1">
                    <div class="tab-pane fade show active" id="tab-one-1" role="tabpanel" aria-labelledby="tab-one-1">
                        <div class="productSlider-columns-cover arrow-center position-relative">
                            <div class="slider-arrow slider-arrow-2 productSlider-columns-arrow" id="productSlider-columns-arrows"></div>
                            <div class="productSlider-columns carausel-arrow-center" id="productSlider-columns">
                                <div class="product-cart-wrap" >
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="product.html">
                                                <img class="default-img" src="/themes/cosmetic/imgs/shop/product-1-1.jpg" alt="" />
                                                <img class="hover-img" src="/themes/cosmetic/imgs/shop/product-1-2.jpg" alt="" />
                                            </a>
                                        </div>

                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">İndirim</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop.html">{Kategori Name}</a>
                                        </div>
                                        <h2><a href="product.html">Kamkat Fidanı Citrus fortunella</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                        <div>
                                            <span class="font-small text-muted">Marka <a href="#">{Marka Name}</a></span>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span class="old-price">96,00 ₺</span>
                                                <span>64,00 ₺</span>
                                            </div>
                                            <div class="add-cart">
                                                <a class="add" href="@Url.Action("Index","ShoppingCart")"><i class="fi-rs-shopping-cart mr-5"></i>Sepete Ekle </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End product Wrap-->
                                <div class="product-cart-wrap" >
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="product.html">
                                                <img class="default-img" src="/themes/cosmetic/imgs/shop/product-1-1.jpg" alt="" />
                                                <img class="hover-img" src="/themes/cosmetic/imgs/shop/product-1-2.jpg" alt="" />
                                            </a>
                                        </div>

                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">İndirim</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop.html">{Category Name}</a>
                                        </div>
                                        <h2><a href="product.html">Kamkat Fidanı Citrus fortunella</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                        <div>
                                            <span class="font-small text-muted">Marka <a href="#">{Brand Name}</a></span>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span class="old-price">96,00 ₺</span>
                                                <span>64,00 ₺</span>
                                            </div>
                                            <div class="add-cart">
                                                <a class="add" href="@Url.Action("Index","ShoppingCart")"><i class="fi-rs-shopping-cart mr-5"></i>Sepete Ekle </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End product Wrap-->
                                <div class="product-cart-wrap" >
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="product.html">
                                                <img class="default-img" src="/themes/cosmetic/imgs/shop/product-1-1.jpg" alt="" />
                                                <img class="hover-img" src="/themes/cosmetic/imgs/shop/product-1-2.jpg" alt="" />
                                            </a>
                                        </div>

                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">İndirim</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop.html">{Category Name}</a>
                                        </div>
                                        <h2><a href="product.html">Kamkat Fidanı Citrus fortunella</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                        <div>
                                            <span class="font-small text-muted">Marka <a href="#">{Brand Name}</a></span>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span class="old-price">96,00 ₺</span>
                                                <span>64,00 ₺</span>
                                            </div>
                                            <div class="add-cart">
                                                <a class="add" href="@Url.Action("Index","ShoppingCart")"><i class="fi-rs-shopping-cart mr-5"></i>Sepete Ekle </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End product Wrap-->
                                <div class="product-cart-wrap" >
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="product.html">
                                                <img class="default-img" src="/themes/cosmetic/imgs/shop/product-1-1.jpg" alt="" />
                                                <img class="hover-img" src="/themes/cosmetic/imgs/shop/product-1-2.jpg" alt="" />
                                            </a>
                                        </div>

                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">İndirim</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop.html">{Category Name}</a>
                                        </div>
                                        <h2><a href="product.html">Kamkat Fidanı Citrus fortunella</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                        <div>
                                            <span class="font-small text-muted">Marka <a href="#">{Brand Name}</a></span>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span class="old-price">96,00 ₺</span>
                                                <span>64,00 ₺</span>
                                            </div>
                                            <div class="add-cart">
                                                <a class="add" href="@Url.Action("Index","ShoppingCart")"><i class="fi-rs-shopping-cart mr-5"></i>Sepete Ekle </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End product Wrap-->
                                <div class="product-cart-wrap" >
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="product.html">
                                                <img class="default-img" src="/themes/cosmetic/imgs/shop/product-1-1.jpg" alt="" />
                                                <img class="hover-img" src="/themes/cosmetic/imgs/shop/product-1-2.jpg" alt="" />
                                            </a>
                                        </div>

                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">İndirim</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop.html">{Category Name}</a>
                                        </div>
                                        <h2><a href="product.html">Kamkat Fidanı Citrus fortunella</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                        <div>
                                            <span class="font-small text-muted">Marka <a href="#">@Model.Brand.Name</a></span>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span class="old-price">96,00 ₺</span>
                                                <span>64,00 ₺</span>
                                            </div>
                                            <div class="add-cart">
                                                <a class="add" href="@Url.Action("Index","ShoppingCart")"><i class="fi-rs-shopping-cart mr-5"></i>Sepete Ekle </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End product Wrap-->
                            </div>
                        </div>
                    </div>
                    <!--End tab-pane-->
                    <div class="tab-pane fade" id="tab-two-1" role="tabpanel" aria-labelledby="tab-two-1">
                        <div class="productSlider-columns-cover arrow-center position-relative">
                            <div class="slider-arrow slider-arrow-2 productSlider-columns-arrow" id="productSlider-columns-2-arrows"></div>
                            <div class="productSlider-columns carausel-arrow-center" id="productSlider-columns-2">
                                <div class="product-cart-wrap" >
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="product.html">
                                                <img class="default-img" src="/themes/cosmetic/imgs/shop/product-1-1.jpg" alt="" />
                                                <img class="hover-img" src="/themes/cosmetic/imgs/shop/product-1-2.jpg" alt="" />
                                            </a>
                                        </div>

                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="sale">Çok Satan</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop.html">{Category Name}</a>
                                        </div>
                                        <h2><a href="product.html">Kamkat Fidanı Citrus fortunella</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                        <div>
                                            <span class="font-small text-muted">Marka <a href="#">{Brand Name}</a></span>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span class="old-price">96,00 ₺</span>
                                                <span>64,00 ₺</span>
                                            </div>
                                            <div class="add-cart">
                                                <a class="add" href="@Url.Action("Index","ShoppingCart")"><i class="fi-rs-shopping-cart mr-5"></i>Sepete Ekle </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End product Wrap-->

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-three-1" role="tabpanel" aria-labelledby="tab-three-1">
                        <div class="productSlider-columns-cover arrow-center position-relative">
                            <div class="slider-arrow slider-arrow-2 productSlider-columns-arrow" id="productSlider-columns-3-arrows"></div>
                            <div class="productSlider-columns carausel-arrow-center" id="productSlider-columns-3">
                                <div class="product-cart-wrap" >
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="product.html">
                                                <img class="default-img" src="/themes/cosmetic/imgs/shop/product-1-1.jpg" alt="" />
                                                <img class="hover-img" src="/themes/cosmetic/imgs/shop/product-1-2.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="sale">Çok Satan</span>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop.html">{Category Name}</a>
                                        </div>
                                        <h2><a href="product.html">Kamkat Fidanı Citrus fortunella</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                        <div>
                                            <span class="font-small text-muted">Marka <a href="#">@Model.Brand.Name</a></span>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span class="old-price">96,00 ₺</span>
                                                <span>64,00 ₺</span>
                                            </div>
                                            <div class="add-cart">
                                                <a class="add" href="@Url.Action("Index","ShoppingCart")"><i class="fi-rs-shopping-cart mr-5"></i>Sepete Ekle </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End tab-content-->
            </div>
            <!--End Col-lg-9-->
        </div>
    </div>
</section>
<!--Popular Product Slider-->