﻿@model ECommerce.Application.Common.Wrappers.DataResponse<Product>

<div class="row">


    @foreach (var theProductInformation in Model.Data.ProductInformations)
    {
        <div class="col-xl-3">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head kt-portlet__head--noborder">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Stok: @theProductInformation.Stock

                            @if (theProductInformation.Stock > 0)
                            {
                                <br>

                                @($"Maliyet: {theProductInformation.ProductInformationPriceses.FirstOrDefault()?.UnitCost:N2} ₺")
                            }

                            @if (theProductInformation.ProductInformationTranslations.Count > 0 && string.IsNullOrEmpty(theProductInformation.ProductInformationTranslations.First().VariantValuesDescription) == false && theProductInformation.ProductInformationTranslations.First().VariantValuesDescription.IndexOf(",") > -1)
                            {
                                <br>
                                @($"Renk: {theProductInformation.ProductInformationTranslations.FirstOrDefault().VariantValuesDescription.Replace("(", "").Replace(")", "").Replace(",", " - Beden:")}")
                            }
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fit-y kt-margin-b-40">

                    <!--begin::Widget -->
                    <div class="kt-widget kt-widget--user-profile-4">
                        <div class="kt-widget__head">
                            <div class="kt-widget__media">
                                <img src="https://imgr.helpy.com.tr/img/@(theProductInformation.ProductInformationPhotos.FirstOrDefault()?.FileName)/resize?size=150" height="100" />
                            </div>
                            <div class="kt-widget__content">
                                <div class="kt-widget__section">
                                    @theProductInformation.ProductInformationTranslations.FirstOrDefault()?.Name
                                    @if (theProductInformation.Stock > 0)
                                    {
                                        <hr>
                                        <div class="form-group">
                                            <label>Adet</label>
                                            <input type="text" class="form-control" placeholder="Adet" data-stock="@theProductInformation.Stock" data-product-information-id="@theProductInformation.Id" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--end::Widget -->
                </div>
            </div>
        </div>
    }

</div>

<div class="row">
    <div class="col-md-12">

        <div class="form-group">
            <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                <input type="checkbox" id="is-export"> İhracat mı?
                <span></span>
            </label>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-brand" onclick="StockInquiryIndex.CreateWholesaleOrder()">Sipariş Oluştur</button>
        </div>
    </div>
</div>