﻿@model ECommerce.Application.Panel.ViewModels.Products.Index

<div class="row mt25">
    <div class="col-md-12">
        <div class="kt-grid__item kt-grid__item--fluid">
            <div class="kt-portlet kt-portlet--mobile ">
                <div class="kt-portlet__head kt-portlet__head--lg">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon2-cube-1"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Stok Sorgulama
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">

                    <div class="row">

                        <div class="col-md-12">

                            <div class="form-group">
                                <label>
                                    <span class="label-text"> Ürün Model Kodu:</span>
                                    <input id="ajax_data_search_model_code" type="text" class="form-control" placeholder="Model Kodu" aria-controls="kt_table_1" onchange="StockInquiryIndex.Get()">
                                </label>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="html-container">
</div>

@section Scripts {
    <script src="/org/js/views/stock-inquiry/index.js?v=0.27"></script>
}