﻿@using ECommerce.Application.Client.DataTransferObjects
<!--header-->
<header class="header-area header-style header-height">
      <div class="header-middle header-middle-ptb-1 des-search-container ">
        <div class="container">
            <div class="header-wrap">
             
                <div class="header-right">
                    <div class="search-style">
                        <div class="searchForm" method="post" action="#">
                            <select class="select-active searchBar-categorySelect">
                                <option>Kategori Ara</option>
                                @foreach (var category in (List<ECommerce.Application.Client.DataTransferObjects.Category>)Model.Categories)
                                {
                                    <option class="headerCategoryOption" value="@($"/{category.Url}")">
                                        @category.Name
                                    </option>
                                }
                            </select>
                            <input type="text" placeholder="Ürün Ara..." id="txtSearch" class="searchInput" />
                            <img src="/themes/cosmetic/imgs/theme/icons/search.png" alt="ara" class="txtSearch searchIcon" />
                        </div>
                    </div>
                    
                </div>

                <img src="~/themes/cosmetic/imgs/theme/icons/close.png"  class="close-search"/>
            </div>
        </div>
    </div>
    <div class="fl col-12 headerBanner dn-sticky">@Model.Company.CompanyContact.CargoLimit TL ve Üzeri Tüm Siparişlerinizde Kargo Ücretsiz</div>
    
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative des-header-wrap ">
            
                <div class="header-nav d-none d-lg-flex">
                       <div class="logo logo-width-1">
                    <a href="@Url.Action("Index","Home")" class="d-flex"><img src="/themes/cosmetic/imgs/theme/logo.png" alt="logo" /></a>
                </div>
              
        </div>
              <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                        <nav>
                            <ul class="header-nav-ul">
                                <li class="hot-deals"><img src="/themes/cosmetic/imgs/theme/icons/icon-hot.svg" alt="hot deals" /><a href="@Url.Action("Discount","Home")" class="header-a">İndirim</a></li>
                             
                               @foreach (var category in (List<ECommerce.Application.Client.DataTransferObjects.Category>)Model.Categories)
                       {
                                     if(category.Id < 1165){
                                              <li>
                              <a href="/@category.Url" class="header-a">@category.Name</a>
                                    </li>

                                }
                            

                       }

                  
                               

                            </ul>
                        </nav>
             
                             
                    </div>
                <div class="hotline d-none d-lg-flex">
                   <div class="header-action-right">
                        <div class="header-action">
                                 <div class="header-action-icon-2">
                             <span class="d-flex align-items-center des-hamburger-icon hide"> <img alt="diğer kategoriler" src="/themes/cosmetic/imgs/theme/icons/desburger.svg" /></span>
                            </div>
                             <span class="d-flex align-items-center des-search-icon"> <img alt="ara" src="/themes/cosmetic/imgs/theme/icons/searchIcon.svg" /></span>
                      
                            <div class="header-action-icon-2 shoppingCart">
                             
                                <a href="@Url.Action("Index","ShoppingCart")" class="mini-cart-icon">
                                    <img alt="sepetim" src="/themes/cosmetic/imgs/theme/icons/basketIcon.svg" />
                                    <span class="pro-count blue basketIconCount" data-totalitems="@Model.ShoppingCartItemsCount">@Model.ShoppingCartItemsCount</span>
                                </a>
                          
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul class="shoppingCartProduct">
                                        @{
                                            decimal amount = 0;
                                        }
                                        @foreach (var sciLoop in (List<ECommerce.Application.Client.DataTransferObjects.ShoppingCartItem>)Model.ShoppingCartItems)
                                        {


                                            amount += sciLoop.ProductInformation.ProductInformationPrice.TotalUnitPrice;

                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href="@($"/{sciLoop.ProductInformation.Url}")"><img alt="@sciLoop.ProductInformation.FullName" src="@sciLoop.ProductInformation.ProductInformationPhotos[0].FileName" /></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="@($"/{sciLoop.ProductInformation.Url}")">@sciLoop.ProductInformation.FullName</a></h4>

                                                    @if (sciLoop.GetXPayYGift)
                                                    {
                                                        <h3>
                                                            <span class="color-orange">@sciLoop.GetXPayYCount ürün hediye edildi</span>
                                                        </h3>
                                                    }

                                                    @if (sciLoop.ProductInformation.ProductInformationPrice.TotalUnitPrice > 0)
                                                    {

                                                        <h3><span>@sciLoop.Quantity Adet </span>@sciLoop.ProductInformation.ProductInformationPrice.TotalUnitPrice TL</h3>
                                                    }

                                                </div>


                                            </li>

                                        }
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Toplam <span class="shoppingCartProductAmount">@amount.ToString("N2") TL</span> </h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="@Url.Action("Index","ShoppingCart")" class="outline" id="cartUrl">Sepete Git</a>
                                            <a href="@Url.Action("Index","Order")">Ödemeye Geç</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2">
                                <a>
                                    <img class="svgInject" alt="hesap" src="/themes/cosmetic/imgs/theme/icons/accountIcon.svg" />
                                </a>
                                @if (Model.IsLogin)
                                {
                                    <a><span class="lable ml-0">@Model.CustomerUser.Customer.Name @Model.CustomerUser.Customer.Surname</span></a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                        <ul>
                                            <li>
                                                <a href="@Url.Action("Index","Account")"><i class="fi fi-rs-user mr-10"></i>Hesabım</a>
                                            </li>

                                            <li>
                                                <a href="javascript:AccountLogout.Close()"><i class="fi fi-rs-sign-out mr-10"></i>Çıkış Yap</a>
                                            </li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                        <ul>
                                            <li>
                                                <a href="@Url.Action("Register","Account")"><i class="fi fi-rs-user mr-10"></i>Üye Ol</a>
                                            </li>

                                            <li>
                                                <a href="@Url.Action("Login","Account")"><i class="fi fi-rs-sign-out mr-10"></i>Giriş Yap</a>
                                            </li>
                                        </ul>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>

                </div>
                <!--Mobile-->
                <div class="header-action-icon-2 d-block d-lg-none">
                    <div class="burger-icon burger-icon-white">
                        <span class="burger-icon-top"></span>
                        <span class="burger-icon-mid"></span>
                        <span class="burger-icon-bottom"></span>
                    </div>
                </div>
                 <div class="des-none mobile-header-logo">
                <a href="@Url.Action("Index","Home")"><img class="mob-logo" src="/themes/cosmetic/imgs/theme/logo.png" alt="logo" /></a>
            </div>
                <div class="header-action-right d-flex align-items-baseline d-lg-none">

                    <div class="header-action">

                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon">
                                <img alt="alt-text" src="/themes/cosmetic/imgs/theme/icons/basketIcon.svg" />
                                <span class="pro-count white basketIconCount" data-totalitems="@Model.ShoppingCartItemsCount">@Model.ShoppingCartItemsCount</span>
                            </a>
                            <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                <ul class="shoppingCartProduct">
                                    @foreach (var shoppingCartItem in (List<ECommerce.Application.Client.DataTransferObjects.ShoppingCartItem>)Model.ShoppingCartItems)
                                    {



                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="@($"/{shoppingCartItem.ProductInformation.Url}")"><img alt="@shoppingCartItem.ProductInformation.Name" src="@shoppingCartItem.ProductInformation.ProductInformationPhotos[0].FileName" /></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="@($"/{shoppingCartItem.ProductInformation.Url}")">@shoppingCartItem.ProductInformation.Name</a></h4>

                                                @if (shoppingCartItem.GetXPayYGift)
                                                {
                                                    <h3>
                                                        <span class="color-orange">@shoppingCartItem.GetXPayYCount ürün hediye edildi</span>
                                                    </h3>
                                                }

                                                @if (shoppingCartItem.ProductInformation.ProductInformationPrice.TotalUnitPrice > 0)
                                                {

                                                    <h3><span>@shoppingCartItem.Quantity Adet </span>@shoppingCartItem.ProductInformation.ProductInformationPrice.TotalUnitPrice TL</h3>
                                                }
                                            </div>

                                        </li>

                                    }
                                </ul>
                                <div class="shopping-cart-footer">
                                    <div class="shopping-cart-total">
                                        <h4>Toplam <span class="shoppingCartProductAmount">@amount.ToString("N2") TL</span></h4>
                                    </div>
                                    <div class="shopping-cart-button">
                                        <a href="@Url.Action("Index","ShoppingCart")">Sepete Git</a>
                                        <a href="@Url.Action("Index","Order")">Ödemeye Geç</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Mobile-->
            </div>
            <div class="mobile-search search-style mobile-header-border mb-0 mt-15 des-none">

                <input type="text" placeholder="Ürün Ara..." id="txtSearchs" name="mobSearch" autocomplete="on" class="searchInputMob searchInput" />
                <button type="submit" class="btn btn-small txtSearch txtSearchMob"><i class="fi fi-rs-search"></i></button>

            </div>
        </div>
                   <div  class="des-burger-box">
                            <ul>
                                           @foreach (var category in (List<ECommerce.Application.Client.DataTransferObjects.Category>)Model.Categories)
                       {
                                     if(category.Id > 1165){
                                              <li>
                              <a href="/@category.Url" class="header-a">@category.Name</a>
                                    </li>

                                }
                            

                       }
                       </ul>
                        </div>
    </div>
 
</header>
<!--Mobile Left Menu-->
<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="@Url.Action("Index","Home")"><img src="/themes/cosmetic/imgs/theme/logo.png" alt="logo" /></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">

            <div class="mobile-menu-wrap mobile-header-border">
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu font-heading">
                        <li class="menu-item-has-children">
                            <a href="@Url.Action("Index", "Home")" class="d-flex align-items-center"><i class="fi-rs-home"></i> Ana Sayfa</a>

                        </li>
                        <li class="menu-item-has-children">
                            <a href="@Url.Action("Find", "Home")" class="d-flex align-items-center"><i class="fi-rs-search-alt"></i> Akıllı Arama</a>

                        </li>

                        <li class="menu-item-has-children">
                            <a href="#" class="d-flex align-items-center"><i class=fi-rs-list></i> Kategoriler</a>
                            <ul class="dropdown dropdown-head">
                                @foreach (var category in (List<ECommerce.Application.Client.DataTransferObjects.Category>)Model.Categories)
                                {
                                    <li class="menu-item-has-children">
                                        <a href="@($"/{category.Url}")">@category.Name</a>

                                        <ul class="dropdown">
                                            @foreach (var childCategory in category.ChildCategories)
                                            {
                                                <li><a href="@($"/{childCategory.Url}")">@childCategory.Name</a></li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap">
                <div class="single-mobile-header-info">
                    <a href="@Url.Action("Contact","Home")"><i class="fi-rs-marker"></i> Adres </a>
                </div>
                <div class="single-mobile-header-info d-flex">
                    <a href="@Url.Action("Login","Account")"><i class="fi-rs-user"></i>Giriş /  </a> <a href="@Url.Action("Register","Account")">Kayıt  </a>
                </div>
                <div class="single-mobile-header-info">
                    @*<a href="tel:@(Model.Contact.Phone1 != null ? Model.Contact.Phone1 : "")"><i class="fi-rs-headphones"></i>@(Model.Contact.Phone1 != null ? Model.Contact.Phone1 : "") </a>*@
                </div>
            </div>
            @*<div class="mobile-social-icon mb-50">
            <h6 class="mb-15">Sosyal Hesaplar</h6>
            <a href="https://www.facebook.com/fidanistanbul/"><img src="/themes/cosmetic/imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
            <a href="https://twitter.com/fidanistanbul"><img src="/themes/cosmetic/imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
            <a href="https://www.instagram.com/fidanistanbul/"><img src="/themes/cosmetic/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
            <a href="https://www.youtube.com/c/Bahceakademisi"><img src="/themes/cosmetic/imgs/theme/icons/icon-youtube-white.svg" alt="" /></a>
            </div>*@
            <div class="site-copyright">Copyright 2021 © Fidan İstanbul Her Hakkı Gizlidir.</div>
        </div>
    </div>
</div>
<!--Mobile Left Menu-->
<!--End header-->