﻿@model ECommerce.Application.Client.ViewModels.Products.Index
@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource

@if (Model.Success)
{
    ViewData["Title"] = Model.ProductInformation.ProductInformationSeo.Title;
    ViewData["Description"] = Model.ProductInformation.ProductInformationSeo.MetaDescription;
    ViewData["Keywords"] = Model.ProductInformation.ProductInformationSeo.MetaKeywords;
   @section Head{
    <meta property="og:type"                   content="og:product" />
    <meta property="og:title"                  content="@Html.Raw(Model.ProductInformation.ProductInformationSeo?.Title)" />
    <meta property="og:image"                  content="@Model.ProductInformation.ProductInformationPhotos[0].FileName" />
    <meta property="og:description"            content="@Html.Raw(Model.ProductInformation.ProductInformationSeo?.MetaDescription)" />
    <meta property="og:url"                    content="@Html.Raw(ViewData["Url"])" />
    <meta property="product:plural_title"      content="@Html.Raw(Model.ProductInformation.ProductInformationSeo?.Title)" />
    <meta property="product:price:amount"      content="@Model.ProductInformation.ProductInformationPrice.UnitPrice.ToString("N2")"/>
    <meta property="product:price:currency"    content="TRY"/>
     <script type="application/ld+json">
          {
        "@@context": "https://schema.org/",
        "@@type": "Product",
        "name": "@Html.Raw(Model.ProductInformation.ProductInformationSeo?.Title)",
        "image": [
          "@Model.ProductInformation.ProductInformationPhotos[0].FileName"
         ],
        "description": "@Html.Raw(Model.ProductInformation.ProductInformationSeo?.MetaDescription)",
        "sku": "f@(Model.ProductInformation.Product.Id)",
        "mpn": "@(Model.ProductInformation.Product.Id)",
        "brand": {
          "@@type": "Brand",
          "name": "Fidanİstanbul"
        },
        "review": {
          "@@type": "Review",
          "reviewRating": {
            "@@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5"
          },
          "author": {
            "@@type": "Person",
            "name": "Fidan İstanbul"
          }
        },
        "aggregateRating": {
          "@@type": "AggregateRating",
          "ratingValue": "5",
          "reviewCount": "@Model.ProductInformation.ProductInformationComments.Count"
        },
        "offers": {
          "@@type": "AggregateOffer",
          "offerCount": "@Model.ProductInformation.ProductInformationPrice.Discount",
          "lowPrice": "@Model.ProductInformation.ProductInformationPrice.UnitPrice.ToString("N2")",
          "highPrice": "@Model.ProductInformation.ProductInformationPrice.ListUnitPrice.ToString("N2")",
          "priceCurrency": "TRY"
        }
      }

    </script>

    }
    <main class="main product-detail-main">

        <div class="container mb-30" id="productPartial">

             @Html.PartialAsync("IndexPartial", Model.ProductInformation).Result;
          
            
        </div>
    </main>


    <style>
        .whatsappButton {
            display: none !important;
        }

        @@media(max-width:520px) {
            footer {
                padding-bottom: 50px;
            }
        }
    </style>


}


