﻿@model DataResponse<List<ECommerce.Application.Common.DataTransferObjects.KeyValue<string, string>>>

@if (Model.Success)
{
    <div class="form-group ">
        <label>Kargo Firması:</label>
        <select name="change-cargo-company-id" class="form-control kt-select2" style="width: 100%">
            @foreach (var theModel in Model.Data)
            {
                <option value="@theModel.Key">@theModel.Value</option>
            }
        </select>

    </div>
}
else
{
    <div class="alert alert-info" role="alert">
        <div class="alert-icon"><i class="flaticon-danger"></i></div>
        <div class="alert-text">Herhangi bir kargo bulunamadı.</div>
    </div>
}