﻿@model ECommerce.Application.Client.ViewModels.Accounts.CustomerAddress
    

    <div class="form row" id="customer-address-form">
    <input type="hidden" id="customer-address-id" value="@Model.Address.Id" />
    <div class="form-group col-12">
        <label>Adres Başlığı<span class="required"> *</span></label>
        <input required class="form-control" placeholder="Adres adı " type="text" id="customer-address-title" name="customer-address-title" autocomplete="off" value="@Model.Address.Title" />
        <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
    </div>
    <div class="form-group col-6">
        <label>Alıcı Telefon<span class="required"> *</span></label>
        <input required class="form-control phone" id="customer-address-phone" placeholder="Telefon" name="customer-address-phone" autocomplete="off" value="@Model.Address.Phone" onkeyup="CustomerAddress.Phonecontrol()" />
        <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
    </div>
    <div class="form-group col-6">
        <label>Alıcı Adı ve Soyadı <span class="required"> *</span></label>
        <input required class="form-control" placeholder="Ad" type="text" id="customer-address-recipient" name="customer-address-recipient" autocomplete="off" value="@Model.Address.Recipient" />
        <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
    </div>
    <div class="form-group col-lg-4">
        <div class="custom_select">
            <select id="city-id" onchange="CustomerAddress.GetDistricts()" class="form-control select-active" required>
                <option value="">İl Seçiniz</option>
                @foreach (var cLoop in Model.Cities)
                {
                    <option value="@cLoop.Id" @(Model.Address.Neighborhood?.District.City.Id == cLoop.Id ? "selected" : "")>@cLoop.Name</option>
                }
            </select>

            <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
        </div>
    </div>
    <div class="form-group col-lg-4">
        <div class="custom_select">
            <select id="district-id" onchange="CustomerAddress.GetNeighborhoods()" class="form-control select-active" required>
                <option value="">Seçiniz</option>

                @foreach (var dLoop in Model.Districts)
                {
                    <option value="@dLoop.Id" @(Model.Address.Neighborhood?.District.Id == dLoop.Id ? "selected" : "")>@dLoop.Name</option>
                }
            </select>

            <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
        </div>
    </div>
    <div class="form-group col-lg-4">
        <div class="custom_select">
            <select id="neighborhood-id" class="form-control select-active" required>
                <option value="">Seçiniz</option>
                @foreach (var nLoop in Model.Neighborhoods)
                {
                    <option value="@nLoop.Id" @(Model.Address.NeighborhoodId == nLoop.Id ? "selected" : "")>@nLoop.Name</option>
                }
            </select>
            <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
        </div>
    </div>
    <div class="form-group col-12">
        <label>Adres Detay<span class="required"> *</span></label>
        <input required class="form-control" placeholder="Tam adresinizi giriniz" type="text" id="customer-address-address" name="customer-address-addres" autocomplete="off" value="@Model.Address.Address" />
        <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
    </div>
    <div class="col-md-7">
        <button type="button" class="btn btn-fill-out submit font-weight-bold" onclick="CustomerAddress.Upsert();">Güncelle</button>
    </div>
</div>

    

