﻿@model ECommerce.Application.Panel.ViewModels.Companies.Create

<form class="kt-form" id="company_create_form">

    <div class="kt-portlet__body">

        <div class="kt-section kt-section--first">

            <div class="form-group pos-relative">
                <label class="input-abs-text">Ad:</label>
                <input type="text" name="name" class="form-control" value="@Model.Company.Name" autocomplete="off" required>
            </div>

            <div class="form-group pos-relative">
                <label class="input-abs-text">Tam Ad:</label>
                <input type="text" name="fullname" class="form-control" value="@Model.Company.FullName" autocomplete="off" required>
            </div>

            <div class="row">

                <div class="col-md-12">

                    <div class="form-group pos-relative">
                        <label class="input-abs-text">Firma Mail:</label>
                        <input type="text" name="companyContact[email]" class="form-control" autocomplete="off" required>
                    </div>

                    <div class="form-group pos-relative">
                        <label class="input-abs-text">Firma Tel No:</label>
                        <input type="number" name="companyContact[phoneNumber]" class="form-control" autocomplete="off" required>
                    </div>

                    <div class="form-group pos-relative">
                        <label class="input-abs-text">Firma Kayıt No:</label>
                        <input type="number" name="companyContact[registrationNumber]" class="form-control" autocomplete="off">
                    </div>

                    <div class="form-group pos-relative">
                        <label class="input-abs-text">Fatura Adresi</label>
                        <input type="text" name="companyContact[address]" class="form-control" autocomplete="off" required>
                    </div>

                    <div class="form-group pos-relative">
                        <label class="input-abs-text">Vergi Numarası</label>
                        <input type="text" name="companyContact[taxNumber]" class="form-control" autocomplete="off">
                    </div>

                    <div class="form-group pos-relative">
                        <label class="input-abs-text">Vergi Dairesi</label>
                        <input type="text" name="companyContact[taxOffice]" class="form-control" autocomplete="off">
                    </div>

                    <div class="form-group pos-relative">
                        <label class="input-abs-text">Firma Site Url:</label>
                        <input type="text" name="companyContact[webUrl]" class="form-control" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label>Firma Logosu</label>
                        <br />
                        <input id="fileNameImage" type="file" style="display: none;" />
                        <button id="select-fileNameImage" type="button" class="btn btn-success">Seç</button>
                        <img id="fileNameImage-preview" src="@Model.Company.FileName" style="height: 31px; width: 100px;" />
                        <input id="fileNameImageUrl" name="fileName" type="hidden" value="@Model.Company.FileName">
                    </div>

                    @foreach (var cLoop in Model.Company.CompanyConfigurations)
                    {
                        var index = Model.Company.CompanyConfigurations.IndexOf(cLoop);
                        <input type="hidden" name="companyConfigurations[@index][id]" class="form-control" value="@cLoop.Id" autocomplete="off">

                        <div class="form-group pos-relative">
                            <label class="input-abs-text">@cLoop.Name:</label>
                            <input type="text" name="companyConfigurations[@index][value]" class="form-control" value="@cLoop.Value" autocomplete="off">
                        </div>
                    }

                </div>

            </div>

        </div>

    </div>

</form>