﻿@await Html.PartialAsync("/Themes/Org/Views/Shared/DataTablePagination.cshtml")

@await Html.PartialAsync("/Themes/Org/Views/Shared/DataTableTable.cshtml", new ECommerce.Application.Panel.ViewModels.DataTableViewModel{ Name = "Firma Ayarları", Columns = new List<String> { "No", "Ad", "İşlemler" }})

@await Html.PartialAsync("/Themes/Org/Views/Shared/DataTablePagination.cshtml")

@section Scripts {
    <script src="/org/library/js/jquery-serializer-v2.js"></script>
    <script src="/org/library/js/jquery-validation-v2.js"></script>
    <script src="/org/library/js/jquery-data-table.js?v=0.1"></script>
    <script src="/org/library/js/jquery-modal.js"></script>
    <script src="/org/js/views/company/index.js?v=3.2"></script>
}