﻿@model ECommerce.Application.Client.ViewModels.Orders.Done

@{
    ViewData["Title"] = "Teşekkürler | Siparişiniz Tamamlandı";
    ViewData["Description"] = "Fidan ihtiyaçlarında bizi tercih ettiğiniz için teşekkür ederiz. En kısa sürede ürünlerinizi sizlere ulaştıracağız.";
}

@section Head{

    @* Google Analytics::Begin *@
    @if (Model.GoogleAnalyticsDone != null && Model.GoogleAnalyticsDone.Success)
        if (Model.GoogleAnalyticsDone.Success)
            @Html.Raw(Model.GoogleAnalyticsDone.Data)
    @* Google Analytics::End *@

    @* Google Ads::Begin *@
    @if (Model.GoogleAdsDone != null && Model.GoogleAdsDone.Success)
        if (Model.GoogleAdsDone.Success)
            @Html.Raw(Model.GoogleAdsDone.Data)
    @* Google Ads::End *@

    @* Facebook Pixel::Begin *@
    @if (Model.FacebookPixelDone != null && Model.FacebookPixelDone.Success)
        if (Model.FacebookPixelDone.Success)
            @Html.Raw(Model.FacebookPixelDone.Data)
    @* Facebook Pixel::End *@
}

<style>
    .header-action-icon-2.shoppingCart {
        display: none !important;
    }
</style>

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")"><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
                <span></span> <a href="@Url.Action("Index","ShoppingCart")">Sepet</a>
                <span></span> Ödeme
                <span></span> Teşekkürler
            </div>
        </div>
    </div>
    <div class="container mb-80 mt-20">
        <div class="col-xs-12 col-md-7 text-center m-auto">

            @if (!string.IsNullOrEmpty(Model.PaymentTypeId))
            {
                if (Model.PaymentTypeId.ToUpper() == "C")
                {
                    <h2 class="mb-15 done-head-text">Siparişiniz Başarılı Bir Şekilde Oluşmuştur.</h2>

                    <p>
                        Aşağıdaki hesap bilgilerine ödeme yaparken açıklama kısmına sipariş numaranızı <strong class="color-orange">(@Model.OrderId)</strong> girmeniz gerekmektedir.<br />
                        Ödeme sonrası siparişleriniz adresinize kargo edilecektir
                    </p>

                    <!--Havale Ödeme Bilgisi-->
                    <div class="order-wizard-bank-information">

                        <h4>Banka Bilgileri</h4>

                        <div class="card-body payment-type-table" style="position:relative;">
                            <div class="eftName d-flex">
                                <span class="border-right"><img class="width-100px d-flex align-items-center" src="~/themes/glasses/imgs/page/garanti.png" alt="garanti bankası" /> </span>
                                <span class="border-right"> Alıcı Ünvanı</span>
                                <span>@Model.Company.CompanyContact.IbanNameSurname</span>
                            </div>
                            <div class="eftName d-flex">
                                <input class="border-right ibanNos" value="@Model.Company.CompanyContact.Iban" disabled />
                                <a id="ibanCopy" class="ibanCopy"><img src="/themes/glasses/imgs/theme/copy-content.png" alt="iban kopyala" /></a>
                            </div>


                        </div>

                    </div>
                    <!--Havale Ödeme Bilgisi-->

                }
                if (Model.PaymentTypeId.ToUpper() == "OO")
                {
                    if (Model.OnlinePaymentPaid)
                    {
                        <h2 class="mb-15">Siparişiniz Başarılı Bir Şekilde Oluşmuştur.</h2>
                        <p>
                            En kısa sürede sizlerle iletişime geçeceğiz. sipariş numaranız <strong>@Model.OrderId</strong><br />
                            Doğaya kattığınız değer için sonsuz Teşekkürler.
                        </p>
                    }
                    else
                    {
                        <h2 class="mb-15">Ödeme Gerçekleştirelemedi.Lütfen Kredi kartı bilgilerinizi kontrol ediniz.</h2>

                    }

                }
            }
            else
            {

                <h2 class="mb-15">Siparişiniz Başarılı Bir Şekilde Oluşmuştur.</h2>
            }
        </div>
    </div>
</main>


                      

                           