﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@{
    ViewData["Title"] = "Şifre Yenileme";
    ViewData["Description"] = "Şifrenizi bu sayfadan güvenli bir şekilde yenileyebilirsiniz.";
}
<form id="reset-password-form">
    <div>
        <input type="text" name="new-password" />
    </div>

    <div>
        <button type="button" onclick="AccountChangePassword.Submit()">@_resource["SubmitText"]</button>
    </div>
</form>