﻿@model ECommerce.Application.Panel.ViewModels.Orders.Convert

<form class="kt-form" id="order_convert_form">
    <div class="kt-portlet__body">
        <div class="kt-container kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="kt-form">
                <div class="kt-portlet__body">
                    
                    <div class="typeahead">
                        <div class="kt-input-icon kt-input-icon--left">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Ürün Arama..."
                                   id="productInformationId-autocomplete" />
                            <input type="hidden" name="productInformationId" />
                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                        </div>
                        <span class="form-text text-muted">Ürün ile arama yapmak için burayı kullanabilirsiniz.</span>
                    </div>

                    <div class="form-group col-md-12 mt-3">
                        <label class="kt-checkbox">
                            <input type="checkbox" name="available:boolean" value="true" data-unchecked-value="false"> Tedarik Edilebilir
                            <span></span>
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>