﻿@model ECommerce.Application.Panel.ViewModels.Orders.Index

<!--Order Body Begin-->
<div id="summary"></div>

<div class="row">
    <div class="col-md-12">
        <div class="kt-portlet" id="kt_page_portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Siparişler
                        
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">

                        <div class="btn-group dropleft">
                            <button class="btn btn-brand dropleft dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                İşlemler
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                <a class="dropdown-item" href="javascript:OrderIndex.OpenCreateModal()">
                                    <i class="la la-plus"></i>
                                    Yeni Sipariş
                                </a>

                               @*  <a class="dropdown-item" href="javascript:OrderIndex.GetIncompleteOrders()">
                                    <i class="la la-bell"></i>
                                    Tamamlanmamış Siparişler
                                </a> *@

                                <a class="dropdown-item" href="javascript:OrderIndex.Download()">
                                    <i class="la la-print"></i>
                                    Sipariş Listesi İndir
                                </a>

                                @* <a class="dropdown-item" href="javascript:OrderIndex.OpenConvertModal()">
                                    <i class="la la-retweet"></i>
                                    Sipariş Tedarik
                                </a> *@

                                @*        <a class="dropdown-item" href="javascript:OrderIndex.MakeShipped()">
                                <i class="la la-ship"></i>
                                Kargoya Teslim Edildi
                                </a>*@

                                @if (Model.BarcodeWritable)
                                {
                                    <a class="dropdown-item" href="javascript:OrderIndex.Print()">
                                        <i class="la la-barcode"></i>
                                        Barkod Yazdır
                                    </a>
                                }

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <!-- Filter Head Begin-->
                <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row" id="orderFilterRow">
                        <div id="kt_table_1_filter" class="dataTables_filter orderFilterBox flex-box">

                            <div class="form-group">
                                <label class="pos-relative">
                                    <span class="input-abs-text"> Sipariş Tipi</span>
                                    <select id="ajax_data_search_order_type" class="ot-selectpicker" multiple style="width: 23%;">
                                        @foreach (var osLoop in Model.OrderTypes)
                                        {
                                            <option value="@osLoop.Key">@osLoop.Value</option>
                                        }
                                    </select>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="input-abs-text"> Sipariş Kaynağı</span>
                                    <select id="ajax_data_search_order_source" class="form-control kt-select2"
                                            onchange="OrderIndex.Read(0)">
                                        <option value="-1">Tümü</option>
                                        @foreach (var osLoop in Model.OrderSources)
                                        {
                                            <option value="@osLoop.Key">@osLoop.Value</option>
                                        }
                                    </select>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="label-text">Pazaryeri:&nbsp;</span>
                                    <select id="ajax_data_search_marketplace"
                                            class="form-control kt-select2 marketplace-select"
                                            onchange="OrderIndex.Read(0)">
                                        <option value="-1">Tümü</option>
                                        @foreach (var mpLoop in Model.MarketPlaces)
                                        {
                                            <option data-html="<img height='30' width='90' src='org/img/marketplace-icons/@(mpLoop.Key).png'/>"
                                                value="@mpLoop.Key">
                                                @mpLoop.Value
                                            </option>
                                        }
                                    </select>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="label-text">Kargo Firması:&nbsp;</span>
                                    <select id="ajax_data_search_shipment_company"
                                            class="form-control kt-select2 brand-select"
                                            onchange="OrderIndex.Read(0)">
                                        <option value="-1">Tümü</option>
                                        @foreach (var scLoop in Model.ShipmentCompanies)
                                        {
                                            <option data-html="<img height='35' src='org/img/shipment-company-icons/@(scLoop.Key).png'/>"
                                                value="@scLoop.Key">
                                                @scLoop.Value
                                            </option>
                                        }
                                    </select>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="label-text">Sipariş Hazırlama:&nbsp;</span>
                                    <select id="ajax_data_search_order_preparation"
                                            class="form-control kt-select2 order_preparation-select"
                                            onchange="OrderIndex.Read(0)">
                                        <option value="-1">Tümü</option>
                                        <option value="1">
                                            Tekli
                                        </option>
                                        <option value="2">
                                            Çoklu
                                        </option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="label-text"> Sipariş No:</span>
                                    <input id="ajax_data_search_id" type="search"
                                           class="form-control form-control-sm" placeholder=""
                                           aria-controls="kt_table_1" onchange="OrderIndex.Read(0)" />
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="label-text"> Kargo Takip No:</span>
                                    <input id="ajax_data_search_cargo_tracking_number" type="search"
                                           class="form-control form-control-sm" placeholder=""
                                           aria-controls="kt_table_1" onchange="OrderIndex.Read(0)" />
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="pos-relative">
                                    <span class="label-text"> Pazaryeri Sipariş No:</span>
                                    <input id="ajax_data_search_marketplace_order_number" type="search"
                                           class="form-control form-control-sm" placeholder=""
                                           aria-controls="kt_table_1" onchange="OrderIndex.Read(0)" />
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="label-text">Ad:</span>
                                    <input id="ajax_data_search_name" type="search"
                                           class="form-control form-control-sm" placeholder=""
                                           aria-controls="kt_table_1" onchange="OrderIndex.Read(0)" />
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="label-text"> Soyad:</span>
                                    <input id="ajax_data_search_surname" type="search"
                                           class="form-control form-control-sm" placeholder=""
                                           aria-controls="kt_table_1" onchange="OrderIndex.Read(0)" />
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="label-text"> Telefon Numarası:</span>
                                    <input id="ajax_data_search_phone_number" type="search"
                                           class="form-control form-control-sm" placeholder=""
                                           aria-controls="kt_table_1" onchange="OrderIndex.Read(0)" />
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="label-text"> Tarih:</span>
                                    <input id="ajax_data_search_date" class="form-control" autocomplete="off" value="@Html.Raw($"{DateTime.Now.AddDays(-7):dd-MM-yyyy} / {DateTime.Now:dd-MM-yyyy}")" />
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="label-text"> Sepet Numarası:</span>
                                    <input id="ajax_data_search_shopping_number" type="search"
                                           class="form-control form-control-sm" placeholder=""
                                           aria-controls="kt_table_1" onchange="OrderIndex.Read(0)" />
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="label-text"> Ürün Model Kodu:</span>
                                    <input id="ajax_data_search_model_code" type="text" class="form-control" placeholder="Model Kodu Arama..." aria-controls="kt_table_1" onchange="OrderIndex.Read(0)">
                                </label>
                            </div>

                            <div class="form-group">
                                <label>
                                    <span class="label-text"> Ürün Stok Kodu:</span>
                                    <input id="ajax_data_search_stock_code" type="text" class="form-control" placeholder="Ürün Stok Kodu Arama..." aria-controls="kt_table_1" onchange="OrderIndex.Read(0)">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="label-text"> Ürün Barkod:</span>
                                    <input id="ajax_data_search_barcode" type="text" class="form-control" placeholder="Barkod Arama..." aria-controls="kt_table_1" onchange="OrderIndex.Read(0)">
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="label-text">Fatura:&nbsp;</span>
                                    <select id="ajax_data_search_invoiced"
                                            class="form-control kt-select2"
                                            onchange="OrderIndex.Read(0)">
                                        <option value="-1">Tümü</option>
                                        <option value="true">Faturalı</option>
                                        <option value="false">Faturasız</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Filter Head End-->
            </div>
        </div>
    </div>
</div>

<!-- Pagination::Begin -->
<div class="row">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__body">

                <!--begin: Pagination-->
                <div class="kt-pagination kt-pagination--brand">
                    <div class="kt-pagination__toolbar flex-wrap">
                        <div class="pos-relative mr-3 flex-child">
                            <label class="input-abs-text">Sıralama</label>
                            <select class="kt-hidden-select2 ajax_data_sorting" onchange="OrderIndex.ChangeSorting(this)">
                                <option value="Id">Sipariş No</option>
                                <option value="OrderDateAsc">Sipariş Tarihi Azalan</option>
                                <option value="OrderDateDesc">Sipariş Tarihi Artan</option>
                            </select>
                        </div>
                        <div class="pos-relative mr-3 flex-child">
                            <label class="input-abs-text">Kayıt Sayısı</label>
                            <select class="kt-hidden-select2 ajax_data_length" onchange="OrderIndex.ChangePageRecordsCount(this)">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <span class="pagination__desc flex-child">
                            ...
                        </span>
                    </div>
                    <div class="pagination-box">
                        <ul class="kt-pagination__links">
                            ...
                        </ul>
                    </div>
                </div>

                <!--end: Pagination-->
            </div>
        </div>
    </div>
</div>
<!-- Pagination::End -->

<div class="kt-portlet">
    <div class="kt-portlet__body">

        <div class="row">

            <input id="ajax_data_page" type="hidden" value="0" />
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
                    <thead>
                        <tr class="bgGrey">
                            <th width="5%"><a href="javascript:Table.CheckAll()">Tümünü Seç</a></th>
                            <th width="5%">Sipariş No</th>
                            <th width="5%">Müşteri</th>
                            <th width="30%">Detay</th>
                            <th width="5%">Tutar</th>
                            <th width="3%">Para Birimi</th>
                            <th width="15%">Tarih</th>
                            <th width="5%">Sipariş Tipi</th>
                            <th width="10%">Sipariş Kaynağı</th>
                            <th width="12%">Kargo</th>
                            <th width="3%"></th>
                        </tr>
                    </thead>
                    <tbody id="ajax_data"></tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- Pagination::Begin -->
<div class="row">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__body">

                <!--begin: Pagination-->
                <div class="kt-pagination kt-pagination--brand">
                    <div class="kt-pagination__toolbar flex-wrap">
                        <div class="pos-relative mr-3 flex-child">
                            <label class="input-abs-text">Sıralama</label>
                            <select class="kt-hidden-select2 ajax_data_sorting" onchange="OrderIndex.ChangeSorting(this)">
                                <option value="Id">Sipariş No</option>
                                <option value="OrderDateAsc">Sipariş Tarihi Azalan</option>
                                <option value="OrderDateDesc">Sipariş Tarihi Artan</option>
                            </select>
                        </div>
                        <div class="pos-relative mr-3 flex-child">
                            <label class="input-abs-text">Kayıt Sayısı</label>
                            <select class="kt-hidden-select2 ajax_data_length" onchange="OrderIndex.ChangePageRecordsCount(this)">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <span class="pagination__desc flex-child">
                            ...
                        </span>
                    </div>
                    <div class="pagination-box">
                        <ul class="kt-pagination__links">
                            ...
                        </ul>
                    </div>
                </div>

                <!--end: Pagination-->
            </div>
        </div>
    </div>
</div>
<!-- Pagination::End -->
<!--Order Body End-->
<!-- Modal::Begin-->
<div class="modal fade" id="order_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="modal_submit" type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
<!-- Product Information Selection Modal::Begin-->
<div class="modal fade" id="product_information_selection_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="product_information_selection_modal_title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="product_information_selection_modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!-- Product Information Selection Modal::End-->
<!-- Customer Search Modal::Begin-->
<div class="modal fade" id="customer_search_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customer_search_modal_title">Müşteri Ara</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="customer_search_modal_body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group pos-relative">
                            <label class="input-abs-text">Ad</label>
                            <input type="text" class="form-control" id="search_name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group pos-relative">
                            <label class="input-abs-text">Soyad</label>
                            <input type="text" class="form-control" id="search_surname">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group pos-relative">
                            <label class="input-abs-text">Telefon</label>
                            <input type="text" class="form-control" id="search_phone">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-brand" id="search_button">
                            Ara
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div id="search_results" class="col-md-12">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!-- Customer Search Modal::End-->
@section Scripts {
    <script src="/org/library/js/jquery-serializer.js"></script>
    <script src="/org/library/js/jquery-table.js?v=2.2"></script>
    <script src="/org/library/js/jquery-autocomplete.js?v=0.3"></script>
    <script src="/org/js/views/order/index.js?v=16"></script>
    @if (Model.OrderDetailMultiselect == false)
    {
        <script>
            OrderIndex.OrderDetailType = 'Autocomplete';
        </script>
    }

    @if (Model.ShowStock)
    {
        <script>
            OrderIndex.ShowStock = true;
        </script>
    }
}