﻿@model List<ECommerce.Application.Common.DataTransferObjects.KeyValue<int, ProductInformation>>

<form class="kt-form" id="order_create_form">

    <table class="table table-bordered table-hover table-checkable">
        @foreach (var theModel in Model)
        {
            <tr>
                <td>
                    <img src="@theModel.Value.ProductInformationPhotos[0].FileName" width="50"/>
                </td>
                <td>
                    @theModel.Value.ProductInformationName
                </td>
                <td>
                    <a href="javascript:OrderIndex.GetProductInformations(@theModel.Key, '@Html.Raw(theModel.Value.ProductInformationName)', '@theModel.Value.ProductInformationPhotos[0].FileName', @theModel.Value.ProductInformationPriceses[0].UnitPrice)" class="btn btn-info">Ekle</a>
                </td>
            </tr>
        }
    </table>

</form>