﻿@model ECommerce.Application.Panel.DataTransferObjects.Order

<form id="order_return_form">

    <input type="hidden" name="id" value="@Model.Id" />

    <div class="row">

        <div class="col-md-12">

            @{
                var message = $"<b>{@Model.Customer.Name}</b> <b>{@Model.Customer.Surname}</b> isimli müşterinin <b>{@Model.Id}</b> numaralı siparişine ilişkin iade bilgileri.";
                if (Model.MarketPlace != null)
                {
                    message = $"<b>{@Model.Customer.Name}</b> <b>{@Model.Customer.Surname}</b> isimli müşterinin <b>{Model.MarketPlace.Name}</b> tarafından verilmiş <b>{@Model.MarketplaceOrderNumber}</b> numaralı siparişine ilişkin iade bilgileri.";
                }

            }

            <div class="alert alert-info" role="alert">
                <div class="alert-icon"><i class="flaticon-questions-circular-button"></i></div>
                <div class="alert-text">@Html.Raw(@message)</div>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <table id="return-table" class="table table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
                <thead>
                    <tr>
                        <th>
                            İade
                        </th>
                        <th>
                            Ürün Kullanılamaz Halde
                        </th>
                        <th colspan="2">
                            Ürün
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.OrderDetails.Count; i++)
                    {
                        for (int j = 0; j < Model.OrderDetails[i].Quantity; j++)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" name="OrderReturnDetails[@i][orderId]" value="@Model.Id" />
                                    <input type="hidden" name="OrderReturnDetails[@i][productInformationId]" value="@Model.OrderDetails[i].ProductInformationId" />

                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                        <input type="checkbox" name="OrderReturnDetails[@i][isReturn]:boolean" value="true" />
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                        <input type="checkbox" name="OrderReturnDetails[@i][isLoss]:boolean" value="true" />
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <img width="50" src="@Model.OrderDetails[i].ProductInformation.ProductInformationPhotos.FirstOrDefault().FileName" />
                                </td>
                                <td>
                                    @Model.OrderDetails[i].ProductInformation.ProductInformationName
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="form-group pos-relative">
                <label class="input-abs-text">İade Nedeni:</label>

                <select id="return-description" class="form-control kt-select2" name="[orderBilling][returnDescription]" style="width: 100%" required>
                    <option value="">Seçiniz</option>
                    <option value="Ürün görseldekinden farklı geldi.">Ürün görseldekinden farklı geldi.</option>
                    <option value="Ürün kullanılamayacak şekilde elime ulaştı.">Ürün kullanılamayacak şekilde elime ulaştı.</option>
                    <option value="Diğer.">Diğer.</option>
                </select>

            </div>

        </div>

    </div>

</form>