﻿@model ECommerce.Application.Common.DataTransferObjects.Widgets.Summary

<div class="kt-portlet mt25">
    <div class="kt-portlet__body  kt-portlet__body--fit">
        <div class="row row-no-padding row-col-separator-lg">

            <div class="col-md-12 col-lg-4 col-xl-4">

                <!--begin::Total Profit-->
                <div class="kt-widget24">
                    <div class="kt-widget24__details">
                        <div class="kt-widget24__info">
                            <h4 class="kt-widget24__title">
                                Bugün Toplam Sipariş
                            </h4>
                            <span class="kt-widget24__desc">

                            </span>
                        </div>
                        <span class="kt-widget24__stats kt-font-brand">
                            @Model.TodayOrdersCount
                        </span>
                    </div>
                </div>

                <!--end::Total Profit-->
            </div>

            <div class="col-md-12 col-lg-4 col-xl-4">

                <!--begin::New Users-->
                <div class="kt-widget24">
                    <div class="kt-widget24__details">
                        <div class="kt-widget24__info">
                            <h4 class="kt-widget24__title">
                                Bugün Paketlenen Siparişler
                            </h4>
                            <span class="kt-widget24__desc">

                            </span>
                        </div>
                        <span class="kt-widget24__stats kt-font-success">
                            @Model.PackedOrdersCount
                        </span>
                    </div>
                </div>

                <!--end::New Users-->
            </div>

            <div class="col-md-12 col-lg-4 col-xl-4">

                <!--begin::New Feedbacks-->
                <div class="kt-widget24">
                    <div class="kt-widget24__details">
                        <div class="kt-widget24__info">
                            <h4 class="kt-widget24__title">
                                Paketlenmeyen Siparişler
                            </h4>
                            <span class="kt-widget24__desc">

                            </span>
                        </div>
                        <span class="kt-widget24__stats kt-font-warning">
                            @Model.UnpackedOrdersCount
                        </span>
                    </div>
                </div>

                <!--end::New Feedbacks-->
            </div>

        </div>
    </div>
</div>
