﻿@using ECommerce.Application.Panel.ViewModels.Orders
@using ECommerce.Application.Panel.ViewModels.Payments
@model ECommerce.Application.Panel.ViewModels.Orders.Update

<form class="kt-form" id="order_update_form">

    <input type="hidden" name="id" value="@Model.Order.Id" />

    <div class="kt-portlet__body">
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="row">


                <div class="col-md-4">

                    <!--begin::Portlet-->
                    <div class="kt-portlet h-100">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Teslimat Bilgileri
                                </h3>
                            </div>
                        </div>

                        <!--begin::Form-->
                        <div class="kt-form">
                            <div class="kt-portlet__body">
                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Adı</label>
                                    <input type="text" class="form-control" name="orderDeliveryAddress[firstName]"
                                           value="@Model.Order.OrderDeliveryAddress.FirstName" required>
                                </div>
                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Soyadı</label>
                                    <input type="text" class="form-control" name="orderDeliveryAddress[lastName]"
                                           value="@Model.Order.OrderDeliveryAddress.LastName" required>
                                </div>
                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Telefon</label>
                                    <input type="tel" class="form-control" name="orderDeliveryAddress[phoneNumber]"
                                           value="@Model.Order.OrderDeliveryAddress.PhoneNumber">
                                </div>
                                @if (Model.IncludeExport)
                                {
                                    <div class="form-group pos-relative">
                                        <label class="input-abs-text">Ülke</label>
                                        <select id="country-id" class="form-control kt-select2" style="width: 100%"
                                            onchange="OrderIndex.GetCitys()" required>
                                            <option value="">Seçiniz</option>
                                            @foreach (var aLoop in Model.Countries)
                                            {
                                                <option @(Model.Order.OrderDeliveryAddress.Neighborhood.District.City.Country.Id==aLoop.Key
                                                ? "selected" :"") value="@aLoop.Key">@aLoop.Value</option>
                                            }
                                        </select>
                                    </div>
                                }
                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">İl</label>
                                    <select id="city-id" class="form-control kt-select2" style="width: 100%"
                                            onchange="OrderIndex.GetDistricts()" required>
                                        <option value="">Seçiniz</option>
                                        @foreach (var aLoop in Model.OrderDeliveryCitys)
                                        {
                                            <option @(Model.Order.OrderDeliveryAddress.Neighborhood.District.City.Id==aLoop.Id
                                                ? "selected" :"") value="@aLoop.Id">@aLoop.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">İlçe</label>
                                    <select id="district-id" class="form-control kt-select2" style="width: 100%"
                                            onchange="OrderIndex.GetNeighborhoods()" required>
                                        <option value="">Seçiniz</option>
                                        @foreach (var aLoop in Model.OrderDeliveryDistricts)
                                        {
                                            <option @(Model.Order.OrderDeliveryAddress.Neighborhood.District.Id==aLoop.Id
                                                ? "selected" :"") value="@aLoop.Id">@aLoop.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group pos-relative">
                                    <label for="neighborhood-id" class="input-abs-text">Mahalle</label>
                                    <select id="neighborhood-id" class="form-control kt-select2" style="width: 100%"
                                            name="orderDeliveryAddress[neighborhoodId]" required>
                                        <option value="">Seçiniz</option>
                                        @foreach (var aLoop in Model.OrderDeliveryNeighborhoods)
                                        {
                                            <option @(Model.Order.OrderDeliveryAddress.Neighborhood.Id==aLoop.Id
                                                ? "selected" :"") value="@aLoop.Id">@aLoop.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group pos-relative">
                                    <label for="exampleTextarea">Adres</label>
                                    <textarea class="form-control" rows="3"
                                              name="orderDeliveryAddress[address]">@Model.Order.OrderDeliveryAddress.Address</textarea>
                                </div>
                            </div>
                        </div>
                        <!--end::Form-->
                    </div>
                    <!--end::Portlet-->

                </div>

                <div class="col-md-4">
                    <!--begin::Portlet-->
                    <div class="kt-portlet h-100">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Fatura Bilgileri
                                </h3>
                            </div>
                        </div>

                        <!--begin::Form-->
                        <div class="kt-form">
                            <div class="kt-portlet__body">
                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Adı</label>
                                    <input type="text" class="form-control" name="orderInvoiceInformation[firstName]"
                                           value="@Model.Order.OrderInvoiceInformation.FirstName" required>
                                </div>
                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Soyadı</label>
                                    <input type="text" class="form-control" name="orderInvoiceInformation[lastName]"
                                           value="@Model.Order.OrderInvoiceInformation.LastName" required>
                                </div>
                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Telefon</label>
                                    <input type="tel" class="form-control" name="orderInvoiceInformation[phone]"
                                           value="@Model.Order.OrderInvoiceInformation.Phone">
                                </div>
                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Mail</label>
                                    <input type="text" class="form-control" name="orderInvoiceInformation[mail]"
                                           value="@Model.Order.OrderInvoiceInformation.Mail">
                                </div>
                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Vergi Dairesi</label>
                                    <input type="tel" class="form-control" name="orderInvoiceInformation[taxOffice]"
                                           value="@Model.Order.OrderInvoiceInformation.TaxOffice">
                                </div>
                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Vergi Numarası</label>
                                    <input type="text" class="form-control" name="orderInvoiceInformation[taxNumber]"
                                           value="@Model.Order.OrderInvoiceInformation.TaxNumber">
                                </div>
                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Ülke</label>
                                    <select id="invoice-country-id" class="form-control kt-select2" style="width: 100%" onchange="OrderIndex.GetInvoiceCitys()" required>
                                        <option value="">Seçiniz</option>
                                        @foreach (var aLoop in Model.Countries)
                                        {
                                            <option @(Model.Order.OrderInvoiceInformation.Neighborhood.District.City.Country.Id==aLoop.Key
                                                ? "selected" :"") value="@aLoop.Key">@aLoop.Value</option>
                                        }
                                    </select>

                                </div>
                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">İl</label>
                                    <select id="invoice-city-id" class="form-control kt-select2" style="width: 100%" onchange="OrderIndex.GetInvoiceDistricts()"
                                            required>
                                        <option value="">Seçiniz</option>
                                        @foreach (var aLoop in Model.OrderInvoiceCitys)
                                        {
                                            <option @(Model.Order.OrderInvoiceInformation.Neighborhood.District.City.Id==aLoop.Id
                                                ? "selected" :"") value="@aLoop.Id">@aLoop.Name</option>
                                        }
                                    </select>

                                </div>
                                <div class="form-group pos-relative">
                                    <label for="invoice-district-id" class="input-abs-text">İlçe</label>
                                    <select id="invoice-district-id" onchange="OrderIndex.GetInvoiceNeighborhoods()" style="width: 100%" class="form-control kt-select2" required>
                                        <option value="">Seçiniz</option>
                                        @foreach (var aLoop in Model.OrderInvoiceDistricts)
                                        {
                                            <option @(Model.Order.OrderInvoiceInformation.Neighborhood.District.Id==aLoop.Id
                                                ? "selected" :"") value="@aLoop.Id">@aLoop.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group pos-relative">
                                    <label for="invoice-neighborhood-id" class="input-abs-text">Mahalle</label>
                                    <select id="invoice-neighborhood-id" name="orderInvoiceInformation[neighborhoodId]" style="width: 100%" class="form-control kt-select2" required>
                                        <option value="">Seçiniz</option>
                                        @foreach (var aLoop in Model.OrderInvoiceNeighborhoods)
                                        {
                                            <option @(Model.Order.OrderInvoiceInformation.Neighborhood.Id==aLoop.Id
                                                ? "selected" :"") value="@aLoop.Id">@aLoop.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group pos-relative">
                                    <label for="invoice-address" class="input-abs-text">Adres</label>
                                    <textarea class="form-control" rows="3" id="invoice-address"
                                              name="orderInvoiceInformation[address]">@Model.Order.OrderInvoiceInformation.Address</textarea>
                                </div>

                            </div>

                        </div>

                        <!--end::Form-->
                    </div>

                    <!--end::Portlet-->

                </div>

                <div class="col-md-4">

                    <!--begin::Portlet-->
                    <div class="kt-portlet h-100">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Sipariş
                                </h3>
                            </div>
                        </div>

                        <!--begin::Form-->
                        <div class="kt-form">
                            <div class="kt-portlet__body">
                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Sipariş Kaynağı</label>
                                    <select name="orderSourceId" class="form-control kt-selectpicker">

                                        @foreach (var aLoop in Model.OrderSources)
                                        {
                                            <option @(Model.Order.OrderSourceId==aLoop.Key ? "selected" :"")
                                                value="@aLoop.Key">@aLoop.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group" id="marketPlaceId">
                                    <label class="input-abs-text">Pazaryeri</label>
                                    <select name="marketPlaceId" class="form-control kt-selectpicker">
                                        <option value="">Seçiniz</option>
                                        @foreach (var aLoop in Model.MarketPlaces)
                                        {
                                            <option @(Model.Order.MarketplaceId==aLoop.Key ? "selected" :"")
                                                value="@aLoop.Key">@aLoop.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Sipariş Tipi</label>
                                    <select name="orderTypeId" class="form-control kt-selectpicker">

                                        @foreach (var aLoop in Model.OrderTypes)
                                        {
                                            <option @(Model.Order.OrderTypeId==aLoop.Key ? "selected" :"")
                                                value="@aLoop.Key">@aLoop.Value</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Kargo Firması</label>
                                    <select name="orderShipments[0][shipmentCompanyId]"
                                            class="form-control kt-selectpicker">

                                        @foreach (var aLoop in Model.ShipmentCompanies)
                                        {
                                            <option @(Model.Order.OrderShipments[0].ShipmentCompanyId==aLoop.Key
                                                ? "selected" :"") value="@aLoop.Key">@aLoop.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Kargo Takip Url</label>
                                    <input type="text" name="orderShipments[0][trackingUrl]" class="form-control"
                                           value="@Model.Order.OrderShipments[0].TrackingUrl">
                                </div>
                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Kargo Takip Numarası</label>
                                    <input type="text" name="orderShipments[0][trackingCode]" class="form-control"
                                           value="@Model.Order.OrderShipments[0].TrackingCode">
                                </div>

                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Kargo Fiyatı</label>
                                    <input type="number" name="cargoFee" class="form-control"
                                           value="@Model.Order.CargoFee">
                                </div>

                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Komisyon Fiyatı</label>
                                    <input type="number" name="commissionAmount" class="form-control"
                                           value="@Model.Order.CommissionAmount">
                                </div>
                                 <div class="form-group pos-relative">
                                    <label class="input-abs-text">Sipariş Toplam Fiyatı</label>
                                    <input type="number" name="totalAmount" value="@Model.Order.Amount" class="form-control">
                                </div>
                            </div>
                        </div>

                        <!--end::Form-->
                    </div>

                    <!--end::Portlet-->


                </div>

                <div class="col-md-6 mt-3">

                    <!--begin::Portlet-->
                    <div class="kt-portlet h-100">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Ürünler
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">

                            <!--Begin::Tab Content-->
                            <div class="tab-content">

                                <!--begin::tab 1 content-->
                                <div class="tab-pane active" id="kt_widget11_tab1_content">

                                    <!--begin::Widget 11-->
                                    <div class="kt-widget11">
                                        <div>
                                            <div class="form-group">

                                                <div class="form-group">
                                                    <div class="typeahead">
                                                        <label>Ürün:</label>
                                                        @if (Model.OrderDetailMultiselect)
                                                        {
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" name="productId"
                                                                   autocomplete="off">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-danger orderProductListBtn" type="button">Ürünleri Getir</button>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <input type="text" class="form-control" name="productId"
                                                               autocomplete="off">
                                                        }
                                                    </div>
                                                </div>

                                            </div>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <td style="width:10%;padding:8px">Aksiyon</td>
                                                        <td style="width:25%;padding:8px">Fotoğraf</td>
                                                        <td style="width:25%;padding:8px">Ürün</td>
                                                        <td style="width:20%;padding:8px">Adet</td>
                                                        <td style="width:20%;padding:8px" class="kt-align-right">
                                                            Birim
                                                            Fiyatı
                                                        </td>


                                                    </tr>
                                                </thead>
                                                <tbody id="order-detail-tbody">
                                                    @Html.PartialAsync("/Themes/Org/Views/OrderDetail/IndexPartial.cshtml",new
                                                    OrderDetailPartial
                                                    {
                                                    OrderDetails = Model.Order.OrderDetails,
                                                    }).Result
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                    <!--end::Widget 11-->
                                </div>

                                <!--end::tab 1 content-->




                            </div>

                            <!--End::Tab Content-->
                        </div>


                    </div>

                    <!--end::Portlet-->


                </div>

                <div class="col-md-6 mt-3">

                    <!--begin::Portlet-->
                    <div class="kt-portlet h-100">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Ödemeler
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">

                            <!--Begin::Tab Content-->
                            <div class="tab-content">

                                <!--begin::tab 1 content-->
                                <div class="tab-pane active" id="kt_widget11_tab1_content">

                                    <!--begin::Widget 11-->
                                    <div class="kt-widget11">
                                        <div>
                                            <div class="form-group">
                                                <label>Ödeme Tipi</label>
                                                <select id="paymentType" class="form-control kt-selectpicker"
                                                        onchange="OrderIndex.GetPayments(this.value)">

                                                    <option>Seçiniz</option>
                                                    @foreach (var aLoop in Model.PaymentTypes)
                                                    {
                                                        <option value="@aLoop.Key">@aLoop.Value</option>
                                                    }
                                                </select>
                                            </div>

                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <td style="width:10%;padding:8px;">Aksiyon</td>
                                                        <td style="width:50%;padding:8px;">Ödeme Tipi</td>
                                                        <td style="width:20%;padding:8px;">Tutar</td>
                                                        <td style="width:20%;padding:8px;">Ödendi Mi?</td>
                                                    </tr>
                                                </thead>
                                                <tbody id="payment-tbody">
                                                    @Html.PartialAsync("/Themes/Org/Views/Payment/IndexPartial.cshtml",new
                                                    PaymentPartial
                                                    {
                                                    Payments = Model.Order.Payments,
                                                    }).Result
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                    <!--end::Widget 11-->
                                </div>

                                <!--end::tab 1 content-->




                            </div>

                            <!--End::Tab Content-->
                        </div>


                    </div>

                    <!--end::Portlet-->


                </div>


                <div class="col-md-6 mt-5">

                    <!--begin::Portlet-->
                    <div class="kt-portlet h-100">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Sipariş Notları
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">

                            <!--Begin::Tab Content-->
                            <div class="tab-content">

                                <!--begin::tab 1 content-->
                                <div class="tab-pane active" id="kt_widget11_tab1_content">

                                    <!--begin::Widget 11-->
                                    <div class="kt-widget11">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>

                                                        <td style="width:50%"></td>

                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>

                                                        <td>
                                                            <label class="input-abs-text" for="exampleTextarea"></label>
                                                            <textarea class="form-control" rows="3" id="order-notes"
                                                                      name="orderNotes[0][note]">@Html.Raw(Model.Order.OrderNotes.FirstOrDefault()?.Note)</textarea>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                    <!--end::Widget 11-->
                                </div>
                                <!--end::tab 1 content-->
                            </div>
                            <!--End::Tab Content-->
                        </div>
                    </div>
                    <!--end::Portlet-->
                </div>



            </div>
        </div>
    </div>
</form>