﻿@model ECommerce.Application.Client.ViewModels.GeolocationContents.Index


@if (Model.Success)
{
    ViewData["Title"] = $"{Model.City?.Name} {Model.District?.Name} {Model.Neighborhood?.Name} {Model.Keyword}";
    ViewData["Description"] = $"{Model.City?.Name} {Model.District?.Name} {Model.Neighborhood?.Name} bölgesinde {Model.Keyword} ihtiyacınıza en yakın adres Fidan İstanbul";
    ViewData["Keywords"] = $"{Model.City?.Name} {Model.District?.Name} {Model.Neighborhood?.Name} {Model.Keyword}";
    <main class="main pages">

        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index","Home")" ><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>

                    @if (Model.City != null)
                    {
                        if (Model.District == null)
                        {
                            <span></span>
                            <strong>@Model.City.Name @Model.Keyword</strong>
                        }
                        else
                        {
                            <span></span>
                            <a href="@($"{Model.City.Url}-{Model.KeywordUrl}-{Model.City.Id}-gcc")">@Model.City.Name @Model.Keyword</a>
                        }

                    }

                    @if (Model.District != null)
                    {

                        if (Model.Neighborhood == null)
                        {
                            <span></span>
                            <strong>@Model.District.Name @Model.Keyword</strong>
                        }
                        else
                        {
                            <span></span>
                            <a href="@($"{Model.City.Url}-{Model.District.Url}-{Model.KeywordUrl}-{Model.City.Id}-{Model.District.Id}-gcd") ">@Model.District.Name @Model.Keyword</a>
                        }


                    }


                    @if (Model.Neighborhood != null)
                    {
                        <span></span>
                        <strong>@Model.Neighborhood.Name @Model.Keyword</strong>


                    }

                    @if (Model.City == null && Model.District == null && Model.Neighborhood == null)
                    {
                        <span></span>
                        <strong>@Model.Keyword</strong>
                    }


                </div>
            </div>
        </div>




        <div class="page-content ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-page pr-30 mb-lg-0 mb-sm-5">

                                    <div class="single-content single-contentx  mt-20 ">

                                        @if (Model.Keyword == "Fidanlık")
                                        {
                                            <div>
                                                <img src="~/themes/glasses/imgs/page/fidanlik.jpg" alt="@Model.City?.Name @Model.Keyword" class="geoImage" />
                                                @if (Model.Neighborhood != null)
                                                {
                                                    <h1>
                                                        <a href="@($"{Model.City.Url}-{Model.District.Url}-{Model.KeywordUrl}-{Model.City.Id}-{Model.District.Id}-gcd")">@Model.Neighborhood.Name @Model.Keyword</a>
                                                    </h1>
                                                }
                                                else if (Model.District != null)
                                                {
                                                    <h1>
                                                        <a href="@($"{Model.City.Url}-{Model.District.Url}-{Model.KeywordUrl}-{Model.City.Id}-{Model.District.Id}-gcd")">@Model.District.Name @Model.Keyword</a>
                                                    </h1>

                                                }
                                                else if (Model.City != null)
                                                {
                                                    <h1>
                                                        <a href="@($"{Model.City.Url}-{Model.KeywordUrl}-{Model.City.Id}-gcc")">@Model.City.Name @Model.Keyword</a>
                                                    </h1>
                                                }
                                                else if (Model.City != null)
                                                {
                                                    <h1>
                                                        <a href="@($"{Model.City.Url}-{Model.KeywordUrl}-{Model.City.Id}-gcc")">@Model.City.Name @Model.Keyword</a>
                                                    </h1>

                                                }

                                                @if (Model.City == null && Model.District == null && Model.Neighborhood == null)
                                                {

                                                    <h1>
                                                        <strong>@Model.Keyword</strong>
                                                    </h1>
                                                }
                                                <p>
                                                    Yaşadığınız yere en yakın fidancı, fidanlık ve fidan satış noktası için aşağıdaki bilgilerden faydalanabilirsiniz. @Model.City?.Name @Model.District?.Name @Model.Neighborhood?.Name  Bölgesinde yetiştirilmeye uygun meyve fidanı çeşitlerinin hangileri olabileceğini ve en uygun fidan dikim zamanını öğrenebilirsiniz. @Model.City?.Name @Model.District?.Name @Model.Neighborhood?.Name Bölgesinde bahçelerin planlanması ile ilgili olarak bilgi alabilirsiniz.
                                                </p>
                                                <p>
                                                    @Model.City?.Name @Model.District?.Name @Model.Neighborhood?.Name Fidanlık arayışınızda online bir fidanlık olan <a href="@Url.Action("Index","Home")">www.fidanistanbul.com</a> adresini tercih edebilirsiniz.
                                                    Sadece birkaç dakika içinde bahçenizin ihtiyaçlarına ulaşabilirsiniz.
                                                </p>
                                                <p>

                                                    Siparişlerinizi çok daha ekonomik bir yoldan verebilirsiniz.  @Model.City?.Name @Model.District?.Name @Model.Neighborhood?.Name Fidanlıklarına ulaşmak ve alışveriş yapmak için en azından yarım gününüzü harcamanız ve satın aldığınız ürünleri adresinize taşımanız gerekecektir. Oysa <a href="@Url.Action("Index","Home")">fidanistanbul</a> sayfalarından tüm ihiyaçlarınızı satınalabilir ve adresinize kargo ile gelmesini sağlayabilirsiniz.
                                                    <a href="@Url.Action("Index","Home")">www.fidanistanbul.com</a>  @Model.City?.Name @Model.District?.Name @Model.Neighborhood?.Name Fidanlık ihtiyacınıza çözüm olarak aşağıdaki ürün gruplarını en iyi fiyatlarla sunuyor.
                                                </p>
                                                <a href="/sertifikali-meyve-fidanlari-1-c"> Meyve Fidanı</a> <br />
                                                <a href="/dis-mekan-sus-bitkileri-530-c"> Dış Mekan Süs Bitkisi</a><br />
                                                <a href="/ic-mekan-salon-bitkileri-531-c"> İç Mekan Süs Bitkisi</a><br />
                                                <a href="/sebze-tohumu-cesitleri-662-c">Sebze Tohumu</a><br />
                                                <a href="/cicek-tohumlari-578-c">Çiçek Tohumu</a><br />
                                                <a href="/cim-tohumlari-554-c"> Çim Tohumu</a><br />
                                                <a href="/sebze-fideleri-553-c">Sebze Fidesi</a><br />
                                                <a href="/gubre-cesitleri-9-g">Gübre Çeşitleri </a> ve <a href="/gubre-cesitleri-9-g">Gübre Satışı</a><br />
                                                <a href="/gubretorftoprakharc-533-c">Torf ve Toprak Satış</a><br />
                                                <a href="/tibbi-ve-aromatik-bitkiler-568-c">Tıbbi Bitkiler</a>  ve <a href="/tibbi-ve-aromatik-bitkiler-568-c"> Aromatik Bitkiler</a><br />
                                                <a href="/saksilar-622-c">Saksı ve Saksı Çeşitleri</a><br />
                                                <a href="/ic-mekan-salon-bitkileri-531-c">Salon Çiçekleri</a><br />
                                                Fidanistanbul sayfalarında bulabileceğiniz bilgilerin bazıları aşağıda listelenmiştir:
                                                Fidan nasıl dikilir?<br />
                                                Bölgenizde hangi meyve fidanını dikilir?<br />
                                                Fidan nasıl budanır?<br />
                                                Bölgenize en uygun meyve çeşidi hangisidir?<br />
                                                Gübreleme ne zaman yapılır?<br />
                                                Toprak analizi nasıl yapılır?<br />
                                            </div>

                                            <div class="clear clearfix">

                                            </div>

                                        }
                                        else if (Model.Keyword == "Fidancılık")
                                        {
                                            <div>
                                                <img src="~/themes/glasses/imgs/page/geo.jpg" alt="@Model.City?.Name  @Model.Keyword" class="geoImage" />

                                                @if (Model.Neighborhood != null)
                                                {
                                                    <h1>
                                                        <a href="@($"{Model.City.Url}-{Model.District.Url}-{Model.KeywordUrl}-{Model.City.Id}-{Model.District.Id}-gcd")">@Model.Neighborhood.Name @Model.Keyword</a>
                                                    </h1>
                                                    <h2>@Model.Neighborhood.Name Merkezinde,</h2>
                                                }
                                                else if (Model.District != null)
                                                {
                                                    <h1>
                                                        <a href="@($"{Model.City.Url}-{Model.District.Url}-{Model.KeywordUrl}-{Model.City.Id}-{Model.District.Id}-gcd")">@Model.District.Name @Model.Keyword</a>
                                                    </h1>
                                                    <h2>@Model.District.Name Merkezinde;</h2>

                                                }
                                                else if (Model.City != null)
                                                {
                                                    <h1>
                                                        <a href="@($"{Model.City.Url}-{Model.KeywordUrl}-{Model.City.Id}-gcc")">@Model.City.Name @Model.Keyword</a>
                                                    </h1>
                                                    <h2>@Model.City.Name Merkezinde;</h2>
                                                }
                                                else if (Model.City != null)
                                                {
                                                    <h1>
                                                        <a href="@($"{Model.City.Url}-{Model.KeywordUrl}-{Model.City.Id}-gcc")">@Model.City.Name @Model.Keyword</a>
                                                    </h1>
                                                    <h2>@Model.City.Name Merkezinde;</h2>

                                                }
                                                @if (Model.City == null && Model.District == null && Model.Neighborhood == null)
                                                {

                                                    <h1>
                                                        <strong>@Model.Keyword</strong>
                                                    </h1>
                                                }
                                                <p></p>
                                                <a href="/dis-mekan-sus-bitkileri-530-c">Süs Bitkisi</a> ,<br />
                                                <a href="/cicek-tohumlari-578-c">Çiçek</a>,<br />
                                                <a href="/cicek-tohumlari-578-c">Mevsimlik Çiçek</a>,<br />
                                                <a href="/torf-turba-561-c">Torf</a>, <a href="/saksi-topragi-562-c">Toprak</a> ve <a href="/gubretorftoprakharc-533-c">Diğer dökme malzemeler</a>,<br />
                                                <a href="/sertifikali-meyve-fidanlari-1-c"> Meyve Fidanı</a>,<br />
                                                <a href="/ic-mekan-bitkileri-16-g"> İç Mekan Bitkileri</a>,<br />
                                                <a href="/sebze-fideleri-553-c">Sebze Fidesi</a>,<br />
                                                <a href="/cicek-tohumlari-578-c">Çiçek Tohumu</a>,<br />
                                                <a href="/sebze-tohumu-cesitleri-662-c"> Sebze Tohumu</a>,<br />
                                                <a href="/cim-tohumlari-554-c">Çim Tohumu</a>,<br />

                                                <a href="/saksilar-622-c">Saksı Modelleri</a>


                                                gibi birçok balkon ve bahçe malzemesini telefon ya da internet üzerinden sipariş vererek  @Model.City?.Name @Model.District?.Name @Model.Neighborhood?.Name adresinize kargo ile kolayca en uygun fiyatla getirtebilirsiniz.

                                                <p>
                                                    @Model.City?.Name @Model.District?.Name @Model.Neighborhood?.Name fidancılık,  @Model.City?.Name @Model.District?.Name @Model.Neighborhood?.Name fidancılar arayışlarına çözüm bulan fidanistanbul, faaliyetlerine 2005 yılında başlamış ve o günden bu güne teknolojide öncü websitesi <a href="@Url.Action("Index","Home")">www.fidanistanbul.com</a> adresinde aradığınız bir çok ürüne ulaşabilirisiniz. <a href="tel:+902268140041">0226 814 00 41</a> nolu telefonumuzdan da bize ulaşabilirsiniz.


                                                </p>
                                                <p>
                                                    Bize ücretsiz olarak<br />
                                                    @Model.City?.Name @Model.District?.Name @Model.Neighborhood?.Name çevresinde hangi meyve ağaçları yetişir?<br />
                                                    @Model.City?.Name @Model.District?.Name @Model.Neighborhood?.Name bölgesinde hangi bitkiler daha kolay yetişirilebilir?<br />
                                                    gibi konularda danışabilirsiniz?<br />



                                                </p>
                                                <p>
                                                    @Model.City?.Name @Model.District?.Name @Model.Neighborhood?.Name fidancılık ve fidan satış noktası arayışınızda sizlere en uygun fiyatlarla yardımcı oluyoruz. Sayfalarımızda gezmek için yukarıdaki ürünler bölümünü inceleyebilirsiniz.
                                                </p>

                                            </div>



                                            <div class="clear clearfix">

                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                <img src="~/themes/glasses/imgs/page/gul.jpg" alt="@Model.City?.Name  @Model.Keyword" class="geoImage" />

                                                @if (Model.Neighborhood != null)
                                                {
                                                    <h1>
                                                        <a href="@($"{Model.City.Url}-{Model.District.Url}-{Model.KeywordUrl}-{Model.City.Id}-{Model.District.Id}-gcd")">@Model.Neighborhood.Name @Model.Keyword Gül Fidanı</a>
                                                    </h1>

                                                }
                                                else if (Model.District != null)
                                                {
                                                    <h1>
                                                        <a href="@($"{Model.City.Url}-{Model.District.Url}-{Model.KeywordUrl}-{Model.City.Id}-{Model.District.Id}-gcd")">@Model.District.Name @Model.Keyword Gül Fidanı</a>
                                                    </h1>


                                                }
                                                else if (Model.City != null)
                                                {
                                                    <h1>
                                                        <a href="@($"{Model.City.Url}-{Model.KeywordUrl}-{Model.City.Id}-gcc")">@Model.City.Name @Model.Keyword Gül Fidanı</a>
                                                    </h1>

                                                }
                                                else if (Model.City != null)
                                                {
                                                    <h1>
                                                        <a href="@($"{Model.City.Url}-{Model.KeywordUrl}-{Model.City.Id}-gcc")">@Model.City.Name @Model.Keyword Gül Fidanı</a>
                                                    </h1>


                                                }
                                                @if (Model.City == null && Model.District == null && Model.Neighborhood == null)
                                                {

                                                    <h1>
                                                        <strong>@Model.Keyword Gül Fidanı </strong>
                                                    </h1>
                                                }
                                                <p>
                                                    @Model.City?.Name @Model.District?.Name @Model.Neighborhood?.Name civarında Gül Fidanı almak için gerçekten doğru bir adres arıyorsanız <a href="/gul-cesitleri-547-c">gül fidanı çeşitleri</a> sayfası sizler için 2005 yılından beri hizmet vermeye devam ediyor. Mutlaka  @Model.City?.Name @Model.District?.Name @Model.Neighborhood?.Name için <a href="/gul-cesitleri-547-c">Gül Fidanı Fiyatları</a>nı inceleyiniz.  <a href="/baston-gul-fidani-cesitleri-702-c">Baston Gül Fidanı</a> ve <a href="/gul-cesitleri-547-c">Saksıda Gül fidanları</a> için aşağıdaki sayfaları mutlaka görmelisiniz.

                                                </p>

                                                <h3> @Model.City?.Name @Model.District?.Name @Model.Neighborhood?.Name Bölgesinde Gül Fidanı Çeşitleri Hakkında;</h3>

                                            </div>
                                            <p>
                                                Gül fidanı çeşitleri aslında çok dayanıklı bitkilerdir. Bu dayanıklılığı, büyük ve kokulu çiçeklere sahip çeşitleri aşılayarak daha da değerli hale getiriyoruz. Genellikle göz aşısı yöntemi kullanılarak, büyük ve kokulu gül çeşitleri, kök sistemi kuvvetli gül çeşitleri üzerine aşılıyoruz. Böylece aşılı gül fidanı mucizesi ortaya çıkıyor. Aşılı gül fidanının özelliği soğuk iklimlerde de donmadan yaşayabilmesidir.
                                            </p>
                                            <h3> @Model.City?.Name @Model.District?.Name @Model.Neighborhood?.Name kentinde gül fidanı yetiştirmek istiyorsanız; www.fidanistanbul.com sayfalarından sipariş vererek kapınıza kadar teslimini sağlayabilirsiniz.</h3>
                                            <h3>Gül Fidanlarının Özellikleri;</h3>

                                            <p>
                                                Gül fidanlarının tamamı saksıda ve aşılıdır. Bu fidanların aşılı olmayan ve saksıda olmayan fidanlara göre daha güçlü ve tutmuş durumda yani kök sistemini oluşturmuş durumda olduğunu UNUTMAYIN. Ucuz gül fidanı olarak lanse edilen poşette veya çelikten üretilmiş gül fidanlarına harcanacak zamanın telafisi mümkün değildir. <a href="/kokulu-gul-fidani-cesitleri-703-c">kokulu gül çeşitleri</a> sayfamızı inceleyiniz.
                                            </p>

                                            <p>
                                                <a href="/kokulu-gul-fidani-cesitleri-703-c">Kokulu gül fidanı</a> siparişi için linki kullanabilirsiniz. Rosa laxa üzerine büyük goncalı ve kokulu çeşitler aşılıyoruz. Farklı renklerde bulabilirsiniz. <a href="/isparta-gulu-fidani-asili-rosa-damascena-saksida-1001-p">ısparta gül fidanı</a>  fiyatları, <a href="/isparta-gulu-fidani-asili-rosa-damascena-saksida-1001-p">yoğun kokulu gül fidanı</a>,<a href="/sarmasik-gul-fidani-isparta-gulu-rosa-rampicanti-120-cm-saksida-3889-p">reçellik gül fidanı</a> gibi çeşitlerimizi de mutlaka görmenizi tavsiye ediyoruz.
                                                Sarmaşık gül fidanı fiyatlarını merak ediyorsanız https://www.fidanistanbul.com//gul-cesitleri-547-c adresini ziyaret edebilirsiniz.
                                            </p>


                                            <h3> @Model.City?.Name @Model.District?.Name @Model.Neighborhood?.Name Bölgesinde Gül Fidanı Gübreleme</h3>
                                            <p>
                                                Güller sürekli besin kaynağına ihtiyacı olan bitkilerdir. Her yıl gübrelemek önemlidir. Sonbahardaki gübrelemede dikkat edilecek husus ise gübrenin gülün çevresini tamamen örtmesidir. Bu sayede gül kış boyu besinini sürekli alabilecek ve örtülmüş bu gübre sayesinde kökleri soğuktan korunmuş olacaktır. Güller demiri bol kırmızı kumlu ve killi toprakları severler. Az mineralli ve asitli topraklarda verimi ve gelişmeleri düşüktür. Bu durumlarda gübreleme ile bitki desteklenmelidir.
                                            </p>

                                            <p>
                                                @Model.City?.Name @Model.District?.Name @Model.Neighborhood?.Name kentinde de Gül Fidanı bol güneş ışığını sever. Gölge ve az ışıklı ortamlarda gül dikmekten kaçınmak gerekir. Gül fidanı çeşitleri drenajlı toprakları sever. Su tutan topraklara gül fidanı dikildiğinde verimli sonuç alınmaz.
                                            </p>

                                            <p>
                                                Güller dikilmeden önce dikim yeri hazırlanır saksı boyu  genişliğinde yer açılır taş ve otlar temizlenir. Toprak gübre ile karıştırılır, eğer toprak uygunsa harman yapılarak uygulama yapılır.
                                            </p>

                                            <h3>
                                                @Model.City?.Name @Model.District?.Name @Model.Neighborhood?.Name Bölgesinde Gül Fidanı Sulama
                                            </h3>
                                            <p>
                                                Gül Ağacları bitki yapısı olarak dayanıklı bir türdür. Sulamadaki aksaklıklar ve eksiklikler nedeni ile hemen solup kurumazlar. Eksik sulamada güller gelişme göstermeyip tomurcuklanmazlar ve kendilerini korumaya alırlar. Bu durum genç fideler için geçerli değildir. Fidelerde ki su eksikliği bitkiyi bir müddet sonra soldurur ve sonrada kurutur. Sulama işleminde gülün dibinde su biriktirmemek gerekir.
                                            </p>

                                            <p>
                                                Az ve sık sık su vermek gül için uygun değildir. Kış aylarında hafta da hava duruma ve neme göre 1 veya 2 kez su vermek gereklidir. Sadece toprağını ıslatmak yeterli değildir. İlk sulamadan sonra gözlemlerinize ve toprağın drenajına göre bir kez daha su vermek gerekebilir. Saksı gülleri sulamaya daha çok gereksinme duyarlar. Bu güllerin sulamaları daha dikkatli ve özenli yapılmalıdır.
                                            </p>
                                            <p>
                                                Yaz aylarında iklim şartlarına göre, özellikle çok sıcak havalarda 2 günde bir mutlaka sulama yapılmalıdır.
                                            </p>





                                            <div class="clear clearfix">

                                            </div>
                                        }



                                    </div>
                                    <div class="mt-30">
                                        <div>
                                            @if (Model.Neighborhood != null)
                                            {
                                                var q = $"Türkiye {Model.City.Name}, {Model.District.Name} {Model.Neighborhood.Name}";

                                                <div>@q</div>
                                                <iframe src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBDlFq6eSfqrnPtEJgbb5I2ybL1RKQdJIE&q=@q" style="width: 100%; height: 350px;"></iframe>
                                            }
                                            else if (Model.District != null)
                                            {
                                                var q = $"Türkiye {Model.City.Name}, {Model.District.Name}";

                                                <div>@q</div>
                                                <iframe src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBDlFq6eSfqrnPtEJgbb5I2ybL1RKQdJIE&q=@q" style="width: 100%; height: 350px;"></iframe>
                                            }
                                            else if (Model.City != null)
                                            {
                                                var q = $"Türkiye {Model.City.Name}";

                                                <div>@q</div>
                                                <iframe src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBDlFq6eSfqrnPtEJgbb5I2ybL1RKQdJIE&q=@q" style="width: 100%; height: 350px;"></iframe>
                                            }
                                            else
                                            {
                                                var q = $"Türkiye";

                                                <div>@q</div>
                                                <iframe src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBDlFq6eSfqrnPtEJgbb5I2ybL1RKQdJIE&q=@q" style="width: 100%; height: 350px;"></iframe>
                                            }
                                        </div>

                                        <div class="mapGeo">
                                            @foreach (var dLoop in Model.Cities)
                                            {
                                                <a href="@($"{dLoop.Url}-{Model.KeywordUrl}-{dLoop.Id}-gcc")" style=" font-size: 14px;"> @dLoop.Name @Model.Keyword</a>
                                            }
                                        </div>
                                        <div class="mapGeo">
                                            @foreach (var dLoop in Model.Districts)
                                            {
                                                <a href="@($"{Model.City.Url}-{dLoop.Url}-{Model.KeywordUrl}-{Model.City.Id}-{dLoop.Id}-gcd")" style=" font-size: 14px;"> @dLoop.Name @Model.Keyword</a>
                                            }
                                        </div>
                                        <div class="mapGeo">
                                            @foreach (var nLoop in Model.Neighborhoods)
                                            {
                                                <a href="@($"{Model.City.Url}-{Model.District.Url}-{nLoop.Url}-{Model.KeywordUrl}-{Model.City.Id}-{Model.District.Id}-{nLoop.Id}-gcn")" style=" font-size: 14px;"> @nLoop.Name @Model.Keyword</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--sdf-->
    </main>
}
else
{



}
