﻿@model ECommerce.Panel.WebApp.Controllers.Warehouse.Pivots.Update.ViewModel

<form class="kt-form" id="pivot_update_form">
    <div class="kt-portlet__body">

        <input type="hidden" name="id" class="form-control" value="@Model.Pivot.Data.Id">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Depo:</label>
                    <select id="warehouse-id" name="warehouseId" class="form-control form-control-sm select-picker" data-live-search="true">
                        <option value="-1">Seçiniz</option>
                        @foreach (var warehouse in Model.Warehouses.Data)
                        {
                            <option value="@warehouse.Id" @(Model.Pivot.Data.WarehouseId == warehouse.Id ? "selected" : "")>@warehouse.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Pivot Adı:</label>
                    <input type="text" name="name" value="@Model.Pivot.Data.Name" class="form-control" placeholder="Pivot adı giriniz" required>
                </div>
            </div>
        </div>

    </div>
</form>