﻿ <!-- Pagination::Begin -->
<div class="mt25">

    <div class="kt-portlet">
        <div class="kt-portlet__body">

            <!--begin: Pagination-->
            <div class="kt-pagination kt-pagination--brand">
                <div class="kt-pagination__toolbar">
                    <div class="pos-relative mr-3">
                        <label class="input-abs-text">Kayıt Sayısı</label>
                        <select class="kt-hidden-select2 ajax_data_length" onchange="ShelvesIndex.ChangePageRecordsCount(this)">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <span class="pagination__desc">
                        ...
                    </span>
                </div>
                <ul class="kt-pagination__links">
                    ...
                </ul>
            </div>

            <!--end: Pagination-->
        </div>
    </div>

</div>
<!-- Pagination::End -->

<div class="kt-portlet kt-portlet--mobile ">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Raflar
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">

                <div class="btn-group dropleft">
                    <button class="btn btn-brand dropleft dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        İşlemler
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        <a class="dropdown-item" href="javascript:ShelvesIndex.OpenCreateModal()">
                            <i class="la la-plus"></i>
                            Yeni Raf
                        </a>

                        <a class="dropdown-item" href="javascript:ShelvesIndex.PrintModal()">
                            <i class="la la-barcode"></i>
                            Barkod Yazdır
                        </a>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="kt-portlet__body">

        <div class="dataTables_wrapper dt-bootstrap4 no-footer">

            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="ajax_data_info" role="status" aria-live="polite"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">

                <input id="ajax_data_page" type="hidden" value="0" />

                <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
                    <thead>
                        <tr>
                            <th width="5%"><a href="javascript:Table.CheckAll()">Tümünü Seç</a></th>
                            <th>No.</th>
                            <th>İsim</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="ajax_data"></tbody>
                </table>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="ajax_data_info" role="status" aria-live="polite"></div>
                </div>

            </div>

        </div>

    </div>
</div>
<!-- Pagination::Begin -->
<div class="">

    <div class="kt-portlet">
        <div class="kt-portlet__body">

            <!--begin: Pagination-->
            <div class="kt-pagination kt-pagination--brand">
                <div class="kt-pagination__toolbar">
                    <div class="pos-relative mr-3">
                        <label class="input-abs-text">Kayıt Sayısı</label>
                        <select class="kt-hidden-select2 ajax_data_length" onchange="ShelvesIndex.ChangePageRecordsCount(this)">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <span class="pagination__desc">
                        ...
                    </span>
                </div>
                <ul class="kt-pagination__links">
                    ...
                </ul>
            </div>

            <!--end: Pagination-->
        </div>
    </div>

</div>
<!-- Pagination::End -->
<!-- Modal::Begin-->
<div class="modal fade" id="shelf_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="modal_submit" type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="print_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">Barkod Yazdır</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="modal_body">

                <div class="form-group">
                    <label>Genişlik (mm):</label>
                    <input id="print_width" type="text" class="form-control" onchange="ProductIndex.Read(0)" autocomplete="off">
                </div>

                <div class="form-group">
                    <label>Yükseklik (mm):</label>
                    <input id="print_height" type="text" class="form-control" onchange="ProductIndex.Read(0)" autocomplete="off">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="print_submit" type="button" class="btn btn-primary">Yazdır</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
@section Scripts {
    <script src="/org/library/js/jquery-table.js?v=0.7"></script>
    <script src="/org/library/js/jquery-autocomplete.js?v=0.7"></script>
    <script src="/org/js/views/warehouse/shelves/index.js?v=0.8"></script>
}