﻿@model ECommerce.Panel.WebApp.Controllers.Warehouse.Shelves.Update.ViewModel

<form class="kt-form" id="shelf_update_form">

    <input type="hidden" name="id" class="form-control" value="@Model.Shelf.Data.Id">

    <div class="kt-portlet__body">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Depo:</label>
                    <select id="warehouse-id" name="warehouseId" class="form-control form-control-sm select-picker" data-live-search="true">
                        <option value="-1">Seçiniz</option>
                        @foreach (var warehouse in Model.Warehouses.Data)
                        {
                            <option value="@warehouse.Id" @(warehouse.Id == Model.Shelf.Data.Hallway.Floor.Warehouse.Id ? "selected" : "")>@warehouse.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Kat:</label>
                    <select id="floor-id" name="floorId" class="form-control form-control-sm select-picker" data-live-search="true">
                        <option value="-1">Seçiniz</option>
                        @foreach (var floor in Model.Floors.Data)
                        {
                            <option value="@floor.Id" @(floor.Id == Model.Shelf.Data.Hallway.Floor.Id ? "selected" : "")>@floor.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Koridor:</label>
                    <select id="hallway-id" name="hallwayId" class="form-control form-control-sm select-picker" data-live-search="true">
                        <option value="-1">Seçiniz</option>
                        @foreach (var hallway in Model.Hallways.Data)
                        {
                            <option value="@hallway.Id" @(hallway.Id == Model.Shelf.Data.Hallway.Id ? "selected" : "")>@hallway.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Raf Adı:</label>
                    <input type="text" name="name" value="@Model.Shelf.Data.Name" class="form-control" placeholder="Raf adı giriniz" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Sıra Numarası:</label>
                    <input type="text" name="sortNumber" value="@Model.Shelf.Data.SortNumber" class="form-control" placeholder="Sıra numarası giriniz" required autocomplete="off">
                </div>
            </div>
        </div>

    </div>
</form>