﻿@model ECommerce.Application.Panel.ViewModels.Contents.Update
<form class="kt-form kt-form--label-right" id="content_update_form">
    <div class="kt-portlet__body">

        <input type="hidden" name="id" value="@Model.Content.Id" />

        <div class="form-group row">

            <div class="col-lg-12">

                <div class="kt-portlet kt-portlet--tabs">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x"
                                role="tablist">

                                @foreach (var lLoop in Model.Languages)
                                {
                                var active = Model.Languages.IndexOf(lLoop) == 0 ? "active" : "";
                                <li class="nav-item">
                                    <a class="nav-link @active" data-toggle="tab" href="#tab_content_@lLoop.Key"
                                        role="tab">
                                        @lLoop.Value
                                    </a>
                                </li>
                                }

                            </ul>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="tab-content">

                            @for (int i = 0; i < Model.Languages.Count; i++) { var
                                contentTranslation=Model.Content.ContentTranslations.FirstOrDefault(ct=> ct.LanguageId
                                == Model.Languages[i].Key);
                                if (contentTranslation == null) continue;
                                var active = i == 0 ? "active" : "";
                                <div class="tab-pane @active" id="tab_content_@Model.Languages[i].Key" role="tabpanel">

                                    <input type="hidden" name="contentTranslations[@i][languageId]"
                                        value="@Model.Languages[i].Key" />


                                     <div class="form-group pos-relative">
                                    <label class="input-abs-text">Url:</label>
                                    <input type="text" disabled class="form-control" value="@contentTranslation.Url" autocomplete="off">
                                    </div>

                                    <div class="form-group pos-relative">
                                    <label class="input-abs-text">Başlık:</label>
                                    <input type="text" class="form-control" name="contentTranslations[@i][header]"
                                        value="@contentTranslation.Header" placeholder="başlık giriniz"
                                        autocomplete="off" required>
                                            </div>
                                    <div class="form-group pos-relative">
                                    <label class="input-abs-text">Html:</label>
                                    <textarea class="summernote"
                                        name="contentTranslations[@i][ContentTranslationContent][html]">@Html.Raw(contentTranslation.ContentTranslationContent.Html)</textarea>
                                            </div>
                                     <div class="form-group pos-relative">
                                    <label class="input-abs-text">Seo Başlık:</label>
                                    <input type="text" class="form-control"
                                        name="contentTranslations[@i][ContentSeoTranslation][title]"
                                        value="@contentTranslation.ContentSeoTranslation.Title"
                                        placeholder="Seo Başlık giriniz">
                                            </div>
                                    <div class="form-group pos-relative">
                                    <label class="input-abs-text">Seo Anahtar Kelime :</label>
                                    <input type="text" class="form-control"
                                        name="contentTranslations[@i][ContentSeoTranslation][metaKeywords]"
                                        value="@contentTranslation.ContentSeoTranslation.MetaKeywords"
                                        placeholder="Seo Anahtar Kelime giriniz">
                                            </div>

                                    <div class="form-group pos-relative">
                                    <label class="input-abs-text">Seo Açıklama:</label>
                                    <input type="text" class="form-control"
                                        name="contentTranslations[@i][ContentSeoTranslation][metaDescription]"
                                        value="@contentTranslation.ContentSeoTranslation.MetaDescription"
                                        placeholder="Seo Açıklama giriniz">
                                     </div>
                                </div>
                                }

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false"
                        @Html.Raw(Model.Content.Active ? "checked" : "" )> Aktif
                    <span></span>
                </label>

            </div>

        </div>

    </div>
</form>