﻿@model ECommerce.Application.Panel.ViewModels.Expenses.Create

<form class="kt-form kt-form--label-right" id="expense_create_form">
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-lg-6 form-group">
                <label class="input-abs-text">Sipariş Kaynağı:</label>
                <select name="orderSourceId" class="form-control kt-selectpicker" required>
                    <option value="">Seçiniz</option>
                    @foreach (var osLoop in Model.OrderSources)
                    {
                        <option value="@osLoop.Key">@osLoop.Value</option>
                    }
                </select>
            </div>
            <div class="col-lg-6 form-group">
                <label class="input-abs-text">Ürün:</label>
                <select name="productInformationId" class="form-control kt-selectpicker" data-live-search="true">
                    <option value="">Seçiniz</option>
                    @foreach (var piLoop in Model.ProductInformations)
                    {
                        <option value="@piLoop.Key">@piLoop.Value</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <label class="input-abs-text">Pazaryeri:</label>
                    <select name="marketplaceId" class="form-control kt-selectpicker" disabled>
                        <option value="">Seçiniz</option>
                        @foreach (var mLoop in Model.Marketplaces)
                        {
                            <option value="@mLoop.Key">@mLoop.Value</option>
                        }
                    </select>
            </div>
            <div class="col-lg-6 form-group">
                <label class="input-abs-text">Gider Kaynağı:</label>
                    <select name="expenseSourceId" class="form-control kt-selectpicker" required>
                        <option value="">Seçiniz</option>
                        @foreach (var esLoop in Model.ExpenseSources)
                        {
                            <option value="@esLoop.Key">@esLoop.Value</option>
                        }
                    </select>
            </div>
        </div>
        <div class="row">  
            <div class="col-lg-6 pos-relative form-group">
                <label class="input-abs-text">Gider Tarihi:</label>
                <input type="text" class="form-control kt-datetimepicker" name="expenseDate" autocomplete="off" required>
            </div>
            <div class="col-lg-12 pos-relative form-group">
                <label class="input-abs-text">Tutar:</label>
                <input type="text" class="form-control" name="amount" autocomplete="off" required>
            </div>
            <div class="kt-widget11 col-lg-12">
                <label class="input-abs-text"> Gider Notu</label>
                <textarea class="form-control" rows="3" id="expense-note" name="note"></textarea>
            </div>
        </div>
    </div>
</form>