﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@{
    ViewData["Title"] = "Hakkımızda";
    ViewData["Description"] = "Lafaba 2005 yılında peyzaj mimarları tarafından tasarlanmıştır. Bu alandaki en kapsamlı en eski fidan, fide, tohum ve bahçe malzemeleri satışı yapan markalardan biridir.";

}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a> <span></span>
                @_resource["About"]
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="row align-items-center mb-50">

                        <div class="col-lg-12">
                            <div class="pl-25">
                                <h1 class="mb-30 font-lg text-center text-uppercase">@_resource["About"]</h1>
                                <p class="mb-25">
                                    Компания Lafaba была основана в 2007 году семьей Лайык как LAFABA TEKSTİL ELK. ПЕНИЕ. ВЕ ТИК. ООО СТИ. Это модный бренд, основанный в
                                </p>
                                <p>
                                    С момента своего основания он продал миллионы товаров сотням тысяч клиентов в стране и за рубежом и сыграл важную роль в модной одежде людей в разных частях мира. С 2015 года он сотрудничает как с собственным сайтом онлайн-продаж, так и с различными сайтами онлайн-продаж, внедряя внутренний канал розничных онлайн-продаж.
                                </p>
                                <br />
                                <p>
                                    Коллекция Lafaba следует мировым модным тенденциям для сильных и динамичных личностей, которые знают, что хотят носить в современном мире. Она разрабатывает и производит туники, платья, рубашки, брюки, блузки, трикотаж, куртки, сумки и аксессуары из нашего портфолио продукции, чтобы выглядеть в соответствии с тенденциями. Lafaba — это организация, которая постоянно стремится улучшить себя и услуги, которые она предлагает своим клиентам, и обновляется, думая о будущем. В соответствии с этой идеей, в Стамбуле был открыт наш первый магазин, в котором наша продукция носит подпись коллекции Lafaba.
                                </p>
                                <br />
                                <p>
                                    Основными элементами, делающими коллекцию Lafaba уникальной, являются прямой контроль производства, качества и этапов доставки, отсутствие посредников и стороннего производства. Все процессы проектирования, технические и управленческие процессы от производства нашей продукции до ее поступления к потребителю осуществляются из головного офиса Lafaba.
                                </p>
                            </div>
                        </div>

                    </section>

                    <section class="row align-items-center mb-50">
                        <div class="col-lg-12 text-center">
                            <div>
                                <b>Адрес головного офиса:</b> Fevzi Çakmak Mahallesi 758. Sokak No:4
                            </div>
                            <div>
                                Gaziosmanpaşa/İstanbul 34899
                            </div>
                            <div><b>Обслуживание клиентов:</b> <a href="tel:08508404466">0850 840 44 66</a></div>

                            <div><b>Fax:</b> +90 212 640 21 89</div>
                            <div><b>E-mail:</b> <a class="color-lafred" href="mailto:info@lafaba.com">info@lafaba.com</a></div>



                        </div>

                    </section>
                </div>
            </div>
        </div>

    </div>
</main>