﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@model ECommerce.Application.Client.ViewModels.Home.ConsumerRights
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a>
                <span></span>
             @_resource["ConsumerRights"]
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                <div class="single-header style-2">
                                    <h2 class="text-center">ВАЖНЫЕ ПРАВА ПОТРЕБИТЕЛЯ В ЭЛЕКТРОННОЙ КОММЕРЦИИ</h2>

                                </div>
                                <div class="single-content mb-50">
                                    <p>  Электронная коммерция начала использоваться в электронной среде в нашей стране в 1995 году, с увеличением использования Интернета сегодня. Было принято множество правовых норм, касающихся использования электронной коммерции, и были установлены многие права потребителей.</p>

                                    <p>
                                        Потребители в Турции по-прежнему не считают онлайн-покупки безопасными и действуют осторожно.
                                    </p>
                                    <p>
                                        Чтобы предотвратить эту ненадежность, государство наложило правовые санкции на электронную коммерцию.
                                    </p>


                                    <p> Одна из главных причин такого недоверия к потребителю заключается в том, что он недостаточно знает о своих правах. По этой причине, если потребитель будет знать, какими правами он обладает, это позволит ему более комфортно совершать покупки в электронной среде.</p>

                                    <p>
                                        Независимо от того, осуществляется ли процесс покупок в Интернете или нет, защита прав потребителей осуществляется государством, и 6 марта 2011 г. «Положение о дистанционных договорах» было опубликовано в официальном вестнике.
                                    </p>
                                    <ul>
                                        <li>
                                            1.При покупке товара потребителю необходимо знать характеристики товара, его цену и способ оплаты, а также такую ​​информацию, как компания-перевозчик и условия гарантии. Если эта информация недоступна, он имеет право обратиться в суд.


                                        </li>
                                        <li>
                                            2.Покупатель имеет право на возврат и отказ в интернет-магазинах.

                                        </li>
                                        <li>
                                            3.Что касается отказа, потребитель имеет право вернуть товар в течение срока, указанного продавцом, без каких-либо уважительных причин.

                                        </li>
                                        <li>
                                            4.Потребитель не должен получать ложную информацию о снятии/возврате и должен максимально точно узнать свои права.


                                        </li>
                                        <li>
                                            5.Если ошибка продукта, возникшая во время использования любого продукта, приобретенного потребителем через онлайн-продажи, не вызвана покупателем, продавец должен предоставить новый, отремонтировать продукт или вместо этого произвести возврат.

                                        </li>
                                        <li>
                                            6.Если у потребителя есть проблема с компанией, то самое естественное право обратиться в суд по правам потребителей.

                                        </li>
                                        <li>
                                            7.Этот суд работает, чтобы получить результаты для проблем между потребителем и продавцом.

                                        </li>
                                        <li>
                                            8.    Есть ситуации, на которые потребитель должен обратить внимание на этапе доставки.

                                        </li>
                                        <li>
                                            9.    До того, как товар будет получен, он не должен подписывать, что он получен.

                                        </li>
                                        <li>
                                            10.  На этапе доставки груза его должен проверить человек, привезший товар. В случае отсутствия или повреждения товара акт о повреждении должен храниться у грузового офицера потребителя.

                                        </li>
                                        <li>
                                            11.   Потребители также имеют право ознакомиться с условиями гарантии при совершении покупок в Интернете.
                                        </li>
                                    </ul>



                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
