﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@model ECommerce.Application.Client.ViewModels.Home.Contact
@{
    ViewData["Title"] = "Bizimle İletişime Geçin";
    ViewData["Description"] = "Fidan İstanbul ekibi olarak 7/24 bizlere iletişim sayfamızdan ulaşabilirsiniz.";

}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a> <span></span>
                @_resource["Contact"]
            </div>
        </div>
    </div>
    <div class="page-content pt-50">

        <section class="container mb-50 d-none d-md-block">
            <div class="border-radius-15 overflow-hidden">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6015.6549214978295!2d28.902732000000004!3d41.07276400000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb163be8352144ba4!2sLafaba!5e0!3m2!1str!2sus!4v1648131312063!5m2!1str!2sus" width="1800" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="mb-50">
                        <div class="row mb-60">
                            <div class="col-md-4 mb-4 mb-md-0">
                                <h4 class="mb-15 text-brand">@_resource["Mail"]</h4>

                                <abbr title="Email">Email: </abbr><a href="mailto:info@lafaba.com">info@lafaba.com</a><br />
                            </div>
                            <div class="col-md-4 mb-4 mb-md-0">
                                <h4 class="mb-15 text-brand">@_resource["Phone"]</h4>
                                <a href="tel:+908508404466">0850 840 44 66</a> (08:30-18:00)<br>
                                <a href="https://api.whatsapp.com/send?phone=9@(Model.Company.CompanyContact.PhoneNumber)&amp;text=Bilgi%20almak%20istiyorum">WhatsApp Bilgi Hattı</a>&nbsp;(08:30-18:00)


                            </div>
                            <div class="col-md-4">
                                <h4 class="mb-15 text-brand">@_resource["Addres"]</h4>
                                <p>
                                    Fevzi Çakmak Mahallesi 758. Sokak<br />
                                    No:4 34899 Gaziosmanpaşa/İstanbul
                                </p>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="contact-from-area padding-20-row-col">
                                    <h5 class="text-brand mb-10">@_resource["OnlineContactForm"]</h5>

                                    <p class="text-muted mb-30 font-sm">Вы можете связаться с нами, заполнив форму 24/7. Вам ответят как можно скорее. *</p>
                                    <form class="contact-form-style mt-30" id="contact-form" method="post">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <input name="name" id="contact-name-input" placeholder="@_resource["NameSurname"].." type="text" autocomplete="off" required />
                                                    <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <input name="mail" class="mail" id="contact-mail-input" placeholder="@_resource["Mail"]" type="email" autocomplete="off" required />
                                                    <div class="invalid-message-mail invalid-message" style="display: none;">@_resource["ValidateMailText"]</div>
                                                    <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <input name="telephone" id="contact-phoneNumber-input" placeholder="@_resource["Phone"]" type="tel" autocomplete="off" required />
                                                    <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <input name="subject" id="contact-subject-input" placeholder="@_resource["Subject"]" type="text" autocomplete="off" required />
                                                    <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="textarea-style mb-30 form-group">
                                                    <textarea name="message" id="contact-message-input" placeholder="@_resource["MessageText"]" autocomplete="off" required></textarea>
                                                    <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                                </div>
                                                <div id="g-recaptcha"></div>
                                                <button class="submit-auto-width" onclick="ContactSave.save(event)" type="button">@_resource["SubmitText"]</button>
                                            </div>
                                        </div>
                                    </form>
                                    <p class="form-messege"></p>
                                </div>
                            </div>
                            <div class="col-lg-4 pl-50 d-lg-block d-none">
                                <img class="border-radius-15 mt-50" src="/themes/black/imgs/page/contact-2.png" alt="iletişim" />
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>


@section Js{
    <script src="https://www.google.com/recaptcha/api.js?onload=loadCaptcha&render=explicit" async defer></script>
}