﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@{
    ViewData["Title"] = "Hata";
    ViewData["Description"] = "Teknik bir sorun mevcut bunu çözmeye çalışacağız";
}
<main class="main page-404">
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 col-md-12 m-auto text-center">
                    <p class="mb-20"><img src="~/themes/black/imgs/page/logo-dark.png" alt="@_resource["NotFound"]" class="hover-up" /></p>
                    <h1 class="display-2 mb-30">@_resource["NotFound"]</h1>
                    <p class="font-lg text-grey-700 mb-30">
                        Страница, которую вы ищете, могла быть удалена или изменена, пожалуйста, проверьте еще раз.<br />
                        <a href="contact.html"><span> контактная страница</span></a> Вы можете сообщить нам о ситуации.
                    </p>

                    <a class="btn btn-default submit-auto-width font-xs hover-up mt-30" href="@Url.Action("Index", "Home")"><i class="fi-rs-home mr-5"></i> @_resource["Home"]</a>
                </div>
            </div>
        </div>
    </div>
</main>