﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@model ECommerce.Application.Client.ViewModels.Home.Kvkk
@{
    ViewData["Title"] = "Kişisel Verilerin Korunması Kanunu";
    ViewData["Description"] = "Lafaba Kvkk";

}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index","Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a>
                <span>&nbsp; Kvkk</span>
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                <div class="single-header style-2">
                                    <h4>KİŞİSEL VERİLERİN KORUNMASI KANUNU</h4>

                                </div>
                                <div class="single-content mb-50">

                                    <p>
                                        ЛАФАБА ТЕКСТИЛЬ ЛОСЬ. ПЕНИЕ. ВЕ ТИК. ООО СТИ. Основная информация о защите персональных данных, передаваемых в (Lafaba), приведена ниже. Лафаба, Закон № 6698 о защите персональных данных («KVKK») m. В целях выполнения обязательства по освещению, вытекающего из статьи 10, до сведения наших клиентов и третьих лиц, использующих наш веб-сайт и/или мобильные приложения, доводятся следующие пояснения. Lafaba оставляет за собой право обновлять текст настоящего Положения о защите персональных данных в любое время в рамках изменений, которые могут быть внесены в действующее законодательство.
                                        <br />

                                    </p>

                                    <h4>Правовая основа для сбора персональных данных Lafaba:</h4>
                                    <p>
                                        В различных законах существуют положения, касающиеся использования персональных данных наших клиентов. В первую очередь принципы защиты персональных данных были определены законом о защите персональных данных. Кроме того, Закон № 6563 о регулировании электронной торговли включает положение о защите персональных данных. В некоторых случаях предусмотрены уголовные санкции за защиту персональных данных в соответствии с положениями Уголовного кодекса Турции № 5237. С другой стороны, необходимо собирать и использовать данные для выполнения наших обязательств, вытекающих из Закона № 6502 о защите прав потребителей и Положения о дистанционных договорах.
                                    </p>

                                    <h4>Какие методы использует Lafaba для сбора персональных данных?</h4>
                                    <p>
                                        Данные, предоставленные нашими клиентами, совершающими транзакции на веб-сайте www.lafaba.com или в мобильных приложениях, обрабатываются Lafaba в соответствии с согласием наших клиентов и положениями законодательства. Веб-сайт www.lafaba.com, принадлежащий Lafaba, использует файлы cookie. печенье; Это файл, состоящий в основном из букв и цифр, который позволяет обнаруживать устройство, сохраняя его в интернет-браузере или на жестком диске используемого устройства. В целях предоставления более качественных услуг своим посетителям и в рамках своих юридических обязательств www.lafaba.com будет собирать, обрабатывать, передавать третьим лицам и надежно хранить вашу информацию о просмотре при условии, что она не используется вне целей и объем, указанный в настоящем Положении о защите персональных данных.
                                        <br /><br />
                                        файлы cookie www.lafaba.com; log-файлы, пустые файлы gif и/или хранить информацию, которую он собирает из сторонних источников, для создания сводки ваших предпочтений. www.lafaba.com, чтобы проводить специальные акции, предлагать акции и маркетинговые предложения, улучшать содержание веб-сайта или мобильного приложения в соответствии с вашими пожеланиями и/или определять ваши предпочтения; может отслеживать вашу информацию о просмотре и / или историю использования на сайте. www.lafaba.com может сопоставлять информацию, полученную от вас на сайте в разное время или разными способами, например, информацию, полученную онлайн и офлайн, и может использовать эту информацию вместе с информацией из других источников, таких как третьи стороны.     <br /><br /> www.lafaba.com использует сеансовые и постоянные файлы cookie в своем мобильном приложении. Срок действия файла cookie идентификатора сеанса истекает, когда вы закрываете браузер. Постоянный файл cookie остается на вашем жестком диске в течение длительного времени. Следуя инструкциям в файле справки вашего интернет-браузера, или"<a class="my-l" href="https://www.allaboutcookies.org/">www.allaboutcookies.org</a>" veya "<a class="my-l" href="https://www.youronlinechoices.com/">www.youronlinechoices.eu</a>"Вы можете удалить постоянные файлы cookie и отклонить как сеансовые, так и постоянные файлы cookie, посетив сайт www. Если вы отказываетесь от постоянных файлов cookie или сеансовых файлов cookie, вы можете продолжать использовать веб-сайт, мобильное приложение, но вы не сможете получить доступ ко всем функциям веб-сайта, мобильного приложения или ваш доступ может быть ограничен.
                                    </p>
                                    <h4>
                                        Как используются файлы cookie веб-сайта?
                                    </h4>
                                    <p>
                                        www.lafaba.com печенье; Он использует его, чтобы запомнить сделанный вами выбор и персонализировать использование вами веб-сайта/мобильного приложения. Это использование включает в себя файлы cookie, которые сохраняют ваш пароль и поддерживают сеанс вашего веб-сайта/мобильного приложения открытым все время, что избавляет вас от необходимости вводить пароль более одного раза при каждом посещении, а также файлы cookie, которые запоминают и узнают вас при следующих посещениях веб-сайта. веб-сайт/мобильное приложение, включая то, где вы подключаетесь, какой контент вы просматриваете на веб-сайте/мобильном приложении и как вы используете веб-сайт/мобильное приложение, например продолжительность вашего посещения; использует его, чтобы определить, как вы используете веб-сайт/мобильное приложение. Файлы cookie на веб-сайте www.lafaba.com используются в рекламных/рекламных целях для предоставления контента и рекламных объявлений, которые в большей степени соответствуют вашим интересам и вам. Таким образом, когда вы используете веб-сайт и мобильное приложение, они предлагают вам более подходящий контент, персонализированные кампании и продукты и не предлагают вам контент или возможности, которые, как вы ранее заявляли, вам не нужны.
                                    </p>
                                    <h4>
                                        Как Веб-сайт использует сторонние файлы cookie для рекламы и ретаргетинга?
                                    </h4>
                                    <p>
                                        www.lafaba.com куки-файлы веб-сайта также; может использовать «рекламные технологии», чтобы показывать вам рекламу, которая, по его мнению, может вас заинтересовать, когда вы посещаете поисковые системы, веб-сайт, мобильное приложение и/или веб-сайты, на которых размещается реклама веб-сайта. Рекламная технология использует информацию о ваших предыдущих посещениях веб-сайта/мобильного приложения и веб-сайтов/мобильных приложений, где размещается реклама веб-сайта, чтобы показывать вам персонализированную рекламу. При показе этих объявлений в ваш браузер может быть помещен уникальный сторонний файл cookie, чтобы веб-сайт мог вас распознать. Вы можете удалить постоянные файлы cookie и отклонить как сеансовые, так и постоянные файлы cookie, следуя инструкциям в файле «справки» вашего интернет-браузера или посетив «www.allaboutcookies.org» или «www.youronlinechoices.eu».
                                    </p>
                                    <h4>
                                        Для каких целей Lafaba использует персональные данные?
                                    </h4>
                                    <p>
                                        Lafaba сможет записывать, хранить, обновлять, раскрывать, передавать, классифицировать и обрабатывать вашу личную информацию третьим лицам в случаях и в пределах, разрешенных законодательством. Ваши персональные данные используются в следующих целях: Подтверждение личности покупателя/лидера через сайт/мобильные приложения, запись адреса и другой необходимой информации для связи, условия, текущий статус и Для связи с нашими клиентами об обновлениях, предоставить необходимую информацию, подготовить все записи и документы, которые будут являться основанием для совершения сделки в электронном (интернет/мобильном и т.д.) или бумажном носителе, договора о дистанционной купле-продаже и обязательств, принятых в соответствии с договорами, которые мы заключили в соответствии с соответствующие статьи Закона о защите прав потребителей. предоставлять информацию государственным должностным лицам по вопросам, связанным с общественной безопасностью, по запросу и в соответствии с законодательством, чтобы обеспечить лучший опыт покупок для наших клиентов, предоставлять информацию о наших продуктах, которые могут быть заинтересованы наши клиенты, «учитывая интересы наших клиентов». Предоставлять информацию нашим клиентам, проводить кампании, повышать удовлетворенность клиентов, знакомиться с нашими клиентами, которые делают покупки на веб-сайтах и/или в мобильных приложениях, и использовать их в анализе клиентской среды, использовать их в различных маркетинговых и рекламных мероприятиях, а также для организации опросов в электронной и / или физической среде через договорные учреждения Чтобы иметь возможность предлагать нашим клиентам предложения от наших договорных учреждений и партнеров по решениям, информировать наших клиентов о наших услугах, оценивать жалобы клиентов и предложения о наших услугах, для выполнения наших юридических обязательств и осуществления наших прав, вытекающих из действующего законодательства.
                                    </p>

                                    <h4>
                                        Как Lafaba защищает ваши личные данные?
                                    </h4>
                                    <p>
                                        Персональные данные, переданные Lafaba, находятся под наблюдением и контролем Lafaba. Lafaba взяла на себя ответственность в качестве контролера данных за создание необходимой организации, а также за принятие и адаптацию технических мер для защиты конфиденциальности и целостности информации в соответствии с положениями соответствующего действующего законодательства. Зная о наших обязательствах в этом отношении, периодически проводятся тесты на проникновение в соответствии с международными и национальными техническими стандартами конфиденциальности данных, и настоящим информируем вас о том, что мы всегда обновляем нашу политику обработки данных.
                                    </p>
                                    <h4>
                                        Делится ли Lafaba вашими личными данными?
                                    </h4>
                                    <p>
                                        Передача персональных данных наших клиентов третьим лицам происходит в рамках согласия клиентов и, как правило, персональные данные не передаются третьим лицам без согласия наших клиентов. Однако в связи с нашими юридическими обязательствами персональные данные передаются судам и другим государственным учреждениям. Кроме того, персональные данные передаются третьим лицам, нанятым по договору, для предоставления услуг, которые мы берем на себя, и для контроля качества предоставляемых услуг. Принимаются необходимые технические и юридические меры для предотвращения нарушений прав при передаче данных третьим лицам. Тем не менее, Lafaba не несет ответственности за нарушения, которые происходят в зоне риска ответственности третьей стороны и из-за политики защиты данных третьей стороны, получающей персональные данные. Ваши личные данные передаются акционерам Lafaba, нашим прямым/косвенным местным/иностранным аффилированным лицам, учреждениям и организациям-партнерам программы, с которыми мы сотрудничаем для осуществления нашей деятельности, местным/иностранным лицам и учреждениям, от которых мы получаем услуги хранения данных в облаке, а также с местными/международными компаниями, с которыми у нас есть соглашение об отправке коммерческих электронных сообщений нашим клиентам.Они могут быть переданы учреждениям, Межбанковскому карточному центру, банкам-контрактникам и различным местным и зарубежным агентствам, рекламным компаниям и исследовательским компаниям, и другие отечественные/иностранные третьи лица и наши соответствующие деловые партнеры в рамках различных маркетинговых мероприятий, чтобы предоставить вам лучший сервис и обеспечить удовлетворенность клиентов.
                                    </p>
                                    <h4>
                                        Каковы ваши права, вытекающие из Закона о защите персональных данных?
                                    </h4>
                                    <p>В соответствии с Законом о защите персональных данных ваши личные данные;</p>
                                    <ul>
                                        <li>1. Узнайте, обрабатывается ли он,</li>
                                        <li>2. Запрос информации в случае ее обработки</li>
                                        <li>3. Изучение цели обработки и того, используется ли она в соответствии с ее назначением</li>
                                        <li>4. Знание третьих лиц, которым оно было передано дома / за границей</li>
                                        <li>5. Запрос на исправление, если он неполный/неправильно обработанный</li>
                                        <li>6. Запрос на удаление/уничтожение в рамках условий, предусмотренных статьей 7 Закона о защите персональных данных</li>
                                        <li>7. Требование уведомления о сделках, совершенных в соответствии с подпунктами (4) и (5) выше, третьим лицам, которым оно было передано</li>
                                        <li>8. Возражение против появления результата против вас, потому что он анализируется исключительно автоматизированными системами</li>
                                        <li>9. Закон о защите персональных данных Мы хотели бы напомнить вам, что вы имеете право требовать возмещения ущерба в случае, если вы понесли ущерб из-за незаконной обработки.</li>

                                    </ul>
                                    <h4>Как я могу быть проинформирован об изменениях в законодательстве, касающихся персональных данных?</h4>
                                    <p>
                                        Закон о защите персональных данных Права, которые у вас есть в соответствии с ними, являются обязанностями Lafaba. Мы хотели бы сообщить вам, что мы обрабатываем ваши персональные данные с осознанием этого и в объеме, требуемом законодательством, в случае правовых изменений мы будем обновлять эту информацию на нашей странице в соответствии с новым законодательством, и вы можете легко следить обновления на этой странице в любое время.
                                    </p>
                                    <h4>Как я могу быть уверен, что данные актуальны и верны?</h4>
                                    <p>
                                        Закон о защите персональных данных 4. В соответствии со статьей Lafaba обязана обеспечивать точность и актуальность ваших личных данных. В этом контексте, чтобы Lafaba выполняла свои обязательства, вытекающие из действующего законодательства, наши клиенты должны делиться с Lafaba точными и актуальными данными. Если ваши данные каким-либо образом изменятся, мы просим вас обновить ваши данные, связавшись с нами по каналам связи, указанным ниже.
                                    </p>
                                    <h4>Хотите задать Lafaba вопрос о ваших личных данных?</h4>
                                    <p>
                                        Для всех ваших вопросов и комментариев относительно ваших личных данных к нам <a class="my-l" href="mailto:info@lafaba.com">info@lafaba.com</a> Вы можете связаться с нами в любое время по электронной почте.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

