﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a>
                <span></span>
               @_resource["MembershipAgreement"]
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                <div class="single-header style-2">
                                    <h2>@_resource["MembershipAgreement"]</h2>

                                </div>
                                <div class="single-content mb-50">
                                    <h4>Пожалуйста, внимательно прочитайте следующее соглашение, прежде чем стать участником нашего сайта.</h4>


                                    <h5>1. Стороны</h5>

                                    <p>a) www.lafaba.com Интернет-пользователь, который является участником веб-сайта («Член»)</p>

                                    <h5>2. Предмет договора</h5>

                                    <p>
                                        Предметом настоящего Соглашения является определение условий использования участником веб-сайта Lafaba www.lafaba.com.
                                    </p>

                                    <h5>3. Права и обязанности сторон</h5>
                                    <ul>
                                        <li>
                                            3.1. Участник заявляет и обязуется, что личная и другая информация, предоставленная при подписке на веб-сайт www.lafaba.com, является достоверной перед законом, и что Lafaba возместит все убытки, понесенные в связи с несоответствием этой информации.
                                        </li>
                                        <li>
                                            3.2. Член не может передавать пароль, предоставленный ему Lafaba, другим лицам или организациям, право члена на использование указанного пароля принадлежит ему самому. Lafaba оставляет за собой право требовать компенсацию всех видов и другие претензии, возникающие в связи с таким несанкционированным использованием, в отношении любой ответственности, которая может возникнуть по этой причине, а также в отношении всех претензий и требований, которые могут быть предъявлены Lafaba третьими лицами или уполномоченными органами.
                                        </li>
                                        <li>
                                            3.3. Участник принимает и обязуется с самого начала соблюдать положения правовых норм и не нарушать их при использовании веб-сайта www.lafaba.com. В противном случае все возникающие юридические и уголовные обязательства будут связывать члена полностью и исключительно.


                                        </li>
                                        <li>
                                            3.4. Участник не имеет права использовать веб-сайт www.lafaba.com каким-либо образом, нарушающим общественный порядок, нарушающим общественную мораль, беспокоящим и беспокоящим других, а также нарушающим интеллектуальные и авторские права других лиц в незаконных целях. Кроме того, участник не может участвовать в действиях (спам, вирусы, трояны и т. д.) и транзакциях, которые мешают или затрудняют использование услуг другими лицами.


                                        </li>
                                        <li>
                                            3.5. Идеи и мысли, выраженные, написанные и используемые участниками на веб-сайте www.lafaba.com, являются полностью личными мнениями участников и связывают владельца мнения. Эти взгляды и мысли не имеют никакого интереса или связи с Лафабой. Lafaba не несет ответственности за ущерб, который участник может понести из-за идей и мнений, высказанных участником, а также за ущерб, который участник может понести из-за идей и мнений, выраженных третьими лицами.


                                        </li>
                                        <li>
                                            3.6. Lafaba не несет ответственности за несанкционированное чтение данных участников и за любое повреждение программного обеспечения и данных участников. Участник заранее согласился не требовать компенсации от Lafaba за любой ущерб, который он может понести в связи с использованием веб-сайта www.lafaba.com.


                                        </li>
                                        <li>
                                            3.7. Участник соглашается не получать доступ и не использовать программное обеспечение и данные других пользователей Интернета без разрешения. В противном случае юридическая и уголовная ответственность, вытекающая из этого, будет полностью принадлежать члену.


                                        </li>
                                        <li>
                                            3.8. Участник, который нарушает одну или несколько статей, перечисленных в этом членском соглашении, несет личную уголовную и юридическую ответственность за это нарушение и освобождает Lafaba от юридических и уголовных последствий этих нарушений. Кроме того; Lafaba оставляет за собой право потребовать от участника компенсацию за несоблюдение договора о членстве, в случае если событие будет передано в правовое поле в связи с данным нарушением.


                                        </li>
                                        <li>
                                            3.9. Lafaba всегда имеет право в одностороннем порядке удалить членство участника и удалить файлы, документы и информацию клиента, когда это необходимо. Член принимает эту экономию заранее. В этом случае Lafaba не несет ответственности.


                                        </li>
                                        <li>
                                            3.10. www.lafaba.com Программное обеспечение и дизайн веб-сайта являются собственностью Lafaba, а авторские права и/или другие права на интеллектуальную собственность в отношении них защищены соответствующими законами, и они не могут быть использованы, приобретены или изменены участником без разрешения. Другие компании и их продукты, упомянутые на этом веб-сайте, являются товарными знаками их владельцев и также защищены правами интеллектуальной собственности.


                                        </li>
                                        <li>
                                            3.11. Имя и адрес интернет-протокола (IP) поставщика интернет-услуг, используемого Lafaba для улучшения и развития веб-сайта www.lafaba.com и/или для доступа к сайту в рамках правовых норм, дата и время доступа к сайту. , страницы, к которым осуществляется доступ во время нахождения на сайте, и сайт напрямую. Может собираться некоторая информация, например, интернет-адрес веб-сайта, с которого осуществляется подключение.


                                        </li>
                                        <li>
                                            3.12. Lafaba, когда личная информация участника запрашивается в качестве юридического обязательства или (а) действовать в соответствии с требованиями законодательства или соблюдать судебные разбирательства, о которых было сообщено Lafaba; (b) Lafabave может раскрыть информацию, если она добросовестно полагает, что это необходимо для защиты и защиты прав и собственности семьи Lafabawebsite.


                                        </li>
                                        <li>
                                            3.13. Были приняты меры предосторожности для обеспечения того, чтобы на веб-сайте Lafaba не было вирусов и аналогичного программного обеспечения. Кроме того, для обеспечения максимальной безопасности пользователь должен поставить собственную систему защиты от вирусов и обеспечить необходимую защиту. В этом контексте считается, что вход на веб-сайт Lafaba означает, что участник принимает на себя ответственность за все ошибки, которые могут возникнуть в его собственном программном обеспечении и операционных системах, а также за их прямые или косвенные последствия.


                                        </li>
                                        <li>
                                            3.14. Lafaba оставляет за собой право изменять содержимое сайта в любое время, изменять или прекращать предоставление любых услуг пользователям или удалять информацию о пользователе и данные, зарегистрированные на веб-сайте Lafaba.


                                        </li>
                                        <li>
                                            3.15. Lafaba может изменить, обновить или отменить условия членского соглашения в любое время без необходимости предварительного уведомления и/или предупреждения в любой форме или форме. Любое измененное, обновленное или отмененное положение будет действительным для всех членов на дату публикации.


                                        </li>
                                        <li>
                                            3.16. Стороны принимают и заявляют, что все компьютерные записи, принадлежащие Lafaba, будут считаться единственными и достоверными исключительными доказательствами в соответствии со статьей 287 HUMK, и что указанные записи представляют собой соглашение о предоставлении доказательств.


                                        </li>
                                        <li>
                                            3.17. В соответствии с этим соглашением о членстве, Lafaba имеет право отправлять уведомления по электронной почте на зарегистрированные адреса электронной почты своих участников и информирующие SMS-сообщения на их мобильные телефоны, и после утверждения этого соглашения о членстве участник принял отправку уведомления. электронные письма на адрес электронной почты и информационные SMS на мобильный телефон будут засчитаны.
                                        </li>
                                    </ul>


                                    <h5>4. Расторжение договора</h5>

                                    <p>
                                        Это соглашение остается в силе до тех пор, пока участник не отменит свое членство или его членство не будет отменено Lafaba. В случае, если участник нарушает какое-либо положение соглашения о членстве, Lafaba может расторгнуть соглашение в одностороннем порядке, аннулировав членство члена.
                                    </p>


                                    <h5>5. Урегулирование споров</h5>

                                    <p>
                                        Суды и правоохранительные органы Стамбула уполномочены разрешать споры, касающиеся этого контракта.

                                    </p>

                                    <h5>6. Сила</h5>

                                    <p>
                                        Регистрация членства означает, что член ознакомился со всеми статьями членского соглашения и принял статьи членского соглашения. Настоящее Соглашение было заключено в момент членства члена и вступило в силу взаимно.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>