﻿@model ECommerce.Application.Common.DataTransferObjects.ColumnComponent
@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
<main class="main">
    <div class="page-header mt-30 mb-30">
        <div class="container">
            <div class="tag-header">
                <div class="row align-items-center">
                    <div class="col-xl-5">

                        <div class="breadcrumb">
                            <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a>
                            <span></span>
                           @_resource["Search"]
                        </div>
                    </div>
                    <!--Group Tag Bar-->
                </div>
            </div>
        </div>
    </div>

    <div class="row">


        @if (Model.ProductComponents?.Count != 0)
        {
            @foreach (var product in Model.ProductComponents)
            {

                @Html.PartialAsync($"/Themes/Black/Views/Product/productBox.cshtml", product).Result

            }

        }



    </div>

</main>










































