﻿@model ECommerce.Application.Client.ViewModels.Home.WholeSale
@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a>
                <span></span>
                @_resource["WholeSale"]
            </div>
        </div>
    </div>
    <div class="page-content pt-30">
        <h1 class="font-xl text-center">LAFABA @_resource["WholeSale"]</h1>

        <div class="middle-container bg-white">
            <div class="row">
                <img src="~/imgs/page/lafabatoptanmagaza.png" alt="lafaba toptan" style=" max-width: fit-content; margin: auto;" />
                <div class="mb-10 text-center mt-30">
                    <p>
                        Для оптовых закупок вы можете связаться с нами по следующей контактной информации.6
                    </p>
                    <div>
                        <b>@_resource["Phone"]:</b> <a class="color-lafred" href="tel:+902125073700">+90 212 507 37 00</a>
                    </div>

                    <div><b>Whatsapp:</b> <a class="color-lafred" href="http://wa.me/+905354592775">+90 535 459 27 75</a></div>

                    <div><b>Web:</b> <a class="color-lafred" href="http://www.lafabawholesale.com" target="_blank">www.lafabawholesale.com</a></div>
                    <div><b>@_resource["Address"]:</b> Mehmet Nesih Özmen Mahallesi Fidan Sokak No:17 Merter / Güngören / İstanbul</div>
                </div>

            </div>
        </div>

    </div>
</main>










































