﻿@model List<ECommerce.Application.Common.DataTransferObjects.KeyValue<string, string>>

<ul>
    @foreach (var mLoop in Model)
    {
        <li><a href="/@mLoop.Value">@mLoop.Key</a></li>
    }
</ul>