﻿@model ECommerce.Application.Panel.ViewModels.BrandDiscountSettings.Update

<form class="kt-form" id="brand_discount_setting_update_form">

    <input type="hidden" name="id" value="@Model.BrandDiscountSetting.Id" />

    <div class="kt-portlet__body">
        <div class="form-group row">

            <div class="col-lg-4 pos-relative">
                <label class="input-abs-text">Uygulama:</label>
                <select name="applicationId" class="form-control kt-selectpicker">

                    @foreach (var aLoop in Model.Applications)
                    {
        <option value="@aLoop.Key" @(Model.BrandDiscountSetting.ApplicationId == aLoop.Key ? "selected" : "")>@aLoop.Value</option>
}
                </select>
            </div>

            <div class="col-lg-4 pos-relative">
                <label class="input-abs-text">Marka:</label>
                <select name="brandId" class="form-control kt-selectpicker">
                    @foreach (var bLoop in Model.Brands)
                    {
        <option value="@bLoop.Key" @(Model.BrandDiscountSetting.BrandId == bLoop.Key ? "selected" : "")>@bLoop.Value</option>
}
                </select>
            </div>
       
    
              <div class="col-lg-4 flex-box">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="discountIsRate:boolean" value="true" data-unchecked-value="false" @(Model.BrandDiscountSetting.DiscountIsRate ? "checked" : "")> İndirim Oransal
                    <span></span>
                </label>
            </div>
        </div>

        <div class="form-group pos-relative">
            <label class="input-abs-text">İndirim:</label>
            <input type="text" name="discount" class="form-control" value="@Model.BrandDiscountSetting.Discount.ToString().Replace(",",".")" placeholder="İndirim giriniz" autocomplete="off" required>
            <label class="text-danger font-xs"> (Eğer indirim oransalsa oranı başında sıfır olarak (0.10) gibi giriniz)</label>
        </div>

        <div class="form-group row">

            <div class="col-lg-4 pos-relative">
                <label class="input-abs-text">Başlangıç Tarihi:</label>
                <input type="text" name="startDateString" class="form-control kt-datetimepicker" value="@Model.BrandDiscountSetting.StartDateString" placeholder="Başlangıç Tarihi giriniz" autocomplete="off" required>
            </div>

            <div class="col-lg-4 pos-relative">
                <label class="input-abs-text">Bitiş Tarihi:</label>
                <input type="text" name="endDateString" class="form-control kt-datetimepicker" value="@Model.BrandDiscountSetting.EndDateString" placeholder="Bitiş Tarihi giriniz" autocomplete="off" required>
            </div>

            <div class="col-lg-4 flex-box">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" @(Model.BrandDiscountSetting.Active ? "checked" : "")> Aktif
                    <span></span>
                </label>
            </div>

        </div>
    </div>

</form>