﻿<form class="kt-form" id="property_create_form">
    
    <div class="kt-portlet__body">
        <div class="kt-section kt-section--first">
            <div class="form-group pos-relative">
                <label class="input-abs-text">Ürün Özellik Adı:</label>
                <input type="text" name="name" class="form-control" required>
            </div>
        </div>
    </div>

</form>