﻿@model DataResponse<Property>

@if (Model.Success)
{
    <form class="kt-form" id="property_update_form">

        <div class="kt-portlet__body">
            <div class="kt-section kt-section--first">
                <input type="hidden" name="id" value="@Model.Data.Id">

                <div class="form-group pos-relative">
                    <label class="input-abs-text">Ürün Özellik Adı:</label>
                    <input type="text" name="name" class="form-control" value="@Model.Data.PropertyTranslations[0].Name" >
                </div>
            </div>
        </div>

    </form>
}