﻿@model ECommerce.Application.Panel.ViewModels.PaymentTypes.Create

<form class="kt-form kt-form--label-right" id="payment_type_create_form">
    <div class="kt-portlet__body">

        <div class="form-group row">

            <div class="col-lg-12">

                <label>Ödeme Tipi No:</label>
                <input type="text" class="form-control" name="id" placeholder="Ödeme tipi no giriniz">

            </div>

            <div class="col-lg-6">

                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="[paymentTypeSetting][discountIsRate]:boolean" value="true" data-unchecked-value="false" checked> İndirim Oransal
                    <span></span>
                </label>

            </div>

            <div class="col-lg-6">

                <label>İndirim:</label>
                <input type="number" class="form-control" name="[paymentTypeSetting][discount]" placeholder="İndirim giriniz">

            </div>

            <div class="col-lg-6">

                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="[paymentTypeSetting][costIsRate]:boolean" value="true" data-unchecked-value="false" checked> Maliyet Oransal
                    <span></span>
                </label>

            </div>

            <div class="col-lg-6">

                <label>Maliyet:</label>
                <input type="number" class="form-control" name="[paymentTypeSetting][cost]" placeholder="Maliyet giriniz">

            </div>

            <div class="col-lg-6">

                <div class="kt-portlet kt-portlet--tabs">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x" role="tablist">

                                @foreach (var lLoop in Model.Languages)
                                {
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab_content_@lLoop.Key" role="tab">
                            @lLoop.Value
                        </a>
                    </li>
}

                            </ul>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="tab-content">

                            @for (int i = 0; i < Model.Languages.Count; i++)
                            {
                <div class="tab-pane active" id="tab_content_@Model.Languages[i].Key" role="tabpanel">

                    <input type="hidden" name="paymentTypeTranslations[@i][languageId]" value="@Model.Languages[i].Key" />

                    <label>Ödeme Tipi Adı:</label>
                    <input type="text" class="form-control" name="paymentTypeTranslations[@i][name]" placeholder="Ödeme tipi adı giriniz">

                </div>}

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" checked> Aktif
                    <span></span>
                </label>

            </div>

        </div>

    </div>
</form>