﻿@model ECommerce.Application.Panel.ViewModels.PaymentTypes.Update

<form class="kt-form kt-form--label-right" id="payment_type_update_form">
    <div class="kt-portlet__body">

        <input type="hidden" name="id" value="@Model.PaymentType.Id" />


        <div class="row">

            <div class="col-lg-12 form-group pos-relativee">
                <label class="input-abs-text">Ödeme Tipi No:</label>
                <input type="text" class="form-control" disabled name="id" value="@Model.PaymentType.Id" placeholder="Ödeme tipi no giriniz">

            </div>
  
            <div class="col-lg-4 form-group flex-box">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="[paymentTypeSetting][discountIsRate]:boolean" value="true" data-unchecked-value="false" @Html.Raw(Model.PaymentType.PaymentTypeSetting.DiscountIsRate ? "checked" : "")> İndirim Oransal
                    <span></span>
                </label>
            </div>

            <div class="col-lg-8 form-group flex-box">
                <label class="input-abs-text">İndirim:</label>
                <input type="number" class="form-control" name="[paymentTypeSetting][discount]" value="@Model.PaymentType.PaymentTypeSetting.Discount" placeholder="İndirim giriniz">
            </div>

            <div class="col-lg-4 form-group flex-box">

                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="[paymentTypeSetting][costIsRate]:boolean" value="true" data-unchecked-value="false" @Html.Raw(Model.PaymentType.PaymentTypeSetting.CostIsRate ? "checked" : "")> Maliyet Oransal
                    <span></span>
                </label>

            </div>

            <div class="col-lg-8 form-group pos-relative">

                <label class="input-abs-text">Maliyet:</label>
                <input type="number" class="form-control" name="[paymentTypeSetting][cost]" value="@Model.PaymentType.PaymentTypeSetting.Cost" placeholder="Maliyet giriniz">

            </div>

            <div class="col-lg-12 form-group mt-3">

                <div class="kt-portlet kt-portlet--tabs">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x" role="tablist">

                                @foreach (var lLoop in Model.Languages)
                                {
                                    var active = Model.Languages.IndexOf(lLoop) == 0 ? "active" : "";
                    <li class="nav-item">
                        <a class="nav-link @active" data-toggle="tab" href="#tab_content_@lLoop.Key" role="tab">
                            @lLoop.Value
                        </a>
                    </li>}

                            </ul>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="tab-content">

                            @for (int i = 0; i < Model.Languages.Count; i++)
                            {
                                var name = Model.PaymentType.PaymentTypeTranslations.FirstOrDefault(ct => ct.LanguageId == Model.Languages[i].Key)?.Name;
                                var active = i == 0 ? "active" : "";
                <div class="tab-pane @active" id="tab_content_@Model.Languages[i].Key" role="tabpanel">

                    <input type="hidden" name="paymentTypeTranslations[@i][languageId]" value="@Model.Languages[i].Key" />

                    <label>Ödeme Tipi Adı:</label>
                    <input type="text" class="form-control" name="paymentTypeTranslations[@i][name]" placeholder="Ödeme tipi adı giriniz" value="@name">

                </div>}

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 form-group ">

                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" @Html.Raw(Model.PaymentType.Active ? "checked" : "")> Aktif
                    <span></span>
                </label>

            </div>

      </div>

    </div>
</form>