﻿@model ECommerce.Application.Panel.ViewModels.CategoryDiscountSettings.Update

<form class="kt-form" id="category_discount_setting_update_form">

    <input type="hidden" name="id" value="@Model.CategoryDiscountSetting.Id" />

    <div class="kt-portlet__body">
        <div class="form-group row">

            <div class="col-lg-4 pos-relative">
                <label class="input-abs-text">Uygulama:</label>
                <select name="applicationId" class="form-control kt-selectpicker">

                    @foreach (var aLoop in Model.Applications)
                    {
                    <option value="@aLoop.Key" @(Model.CategoryDiscountSetting.ApplicationId==aLoop.Key ? "selected"
                        : "" )>@aLoop.Value</option>
                    }
                </select>
            </div>

            <div class="col-lg-4 flex-box">
                <label class="mb-0 mr-1">Kategori:</label>
                <input class="color-info" type="hidden" name="categoryId"
                    value="@Model.CategoryDiscountSetting.CategoryId" />
                @Model.CategoryDiscountSetting.Category.CategoryTranslations[0].Name

                @*<select name="categoryId" class="form-control kt-selectpicker">
                    @foreach (var cLoop in Model.Categories)
                    {
                    <option value="@cLoop.Key" @(Model.CategoryDiscountSetting.CategoryId==cLoop.Key ? "selected" : ""
                        )>@cLoop.Value</option>}
                </select>*@
            </div>

            <div class="col-lg-4 flex-box">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="discountIsRate:boolean" value="true" data-unchecked-value="false"
                        @(Model.CategoryDiscountSetting.DiscountIsRate ? "checked" : "" )> İndirim Oransal
                    <span></span>
                </label>
            </div>



        </div>
        <div class="form-group row">
            <div class="col-md-12 pos-relative">
                <label class="input-abs-text">İndirim:</label>
                <input type="text" name="discount" class="form-control"
                    value="@Model.CategoryDiscountSetting.Discount.ToString().Replace(" ,",".")"
                    placeholder="İndirim giriniz" autocomplete="off" required>
                <label class="text-danger font-xs"> (Eğer indirim oransalsa oranı başında sıfır olarak (0.10) gibi
                    giriniz)</label>
            </div>
        </div>
        <div class="form-group row">

            <div class="col-lg-4 pos-relative">
                <label class="input-abs-text">Başlangıç Tarihi:</label>
                <input type="text" name="startDateString" class="form-control kt-datetimepicker"
                    value="@Model.CategoryDiscountSetting.StartDateString" placeholder="Başlangıç Tarihi giriniz"
                    autocomplete="off" required>
            </div>

            <div class="col-lg-4 pos-relative">
                <label class="input-abs-text">Bitiş Tarihi:</label>
                <input type="text" name="endDateString" class="form-control kt-datetimepicker"
                    value="@Model.CategoryDiscountSetting.EndDateString" placeholder="Bitiş Tarihi giriniz"
                    autocomplete="off" required>
            </div>

            <div class="col-lg-4 flex-box">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false"
                        @(Model.CategoryDiscountSetting.Active ? "checked" : "" )> Aktif
                    <span></span>
                </label>
            </div>

        </div>
    </div>

</form>