﻿@model ECommerce.Application.Panel.ViewModels.Marketplaces.Update


<form class="kt-form" id="market_place_update_form">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-widget4">
                <input type="hidden" name="id" value="@Model.MarketPlaceCompany.Id" />

                @foreach (var accLoop in Model.MarketPlaceCompany.MarketplaceConfigurations)
                {
                    var index = Model.MarketPlaceCompany.MarketplaceConfigurations.IndexOf(accLoop);
                    <div class="kt-widget4__item">
                        <div class="kt-widget4__info pos-relative">
                            <input type="hidden" name="marketplaceConfigurations[@index][id]" value="@accLoop.Id" />
                            <span class="input-abs-text">@accLoop.Key</span>
                            <input type="text" name="marketplaceConfigurations[@index][value]" class="form-control " value="@accLoop.Value" placeholder="Değer adı giriniz">

                        </div>
                    </div>
                }

            </div>
        </div>

        <div class="col-lg-12 mt-3">

            <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" @Html.Raw(Model.MarketPlaceCompany.Active ? "checked" : "")> Aktif
                <span></span>
            </label>

        </div>

        <div class="col-lg-12 mt-3">

            <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                <input type="checkbox" name="createProduct:boolean" value="true" data-unchecked-value="false" @Html.Raw(Model.MarketPlaceCompany.CreateProduct ? "checked" : "")> Ürün Entegrasyonu
                <span></span>
            </label>

        </div>
        <div class="col-lg-12 mt-3">

            <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                <input type="checkbox" name="readOrder:boolean" value="true" data-unchecked-value="false" @Html.Raw(Model.MarketPlaceCompany.ReadOrder ? "checked" : "")> Sipariş Entegrasyonu
                <span></span>
            </label>

        </div>
        <div class="col-lg-12 mt-3">

            <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                <input type="checkbox" name="updatePrice:boolean" value="true" data-unchecked-value="false" @Html.Raw(Model.MarketPlaceCompany.UpdatePrice ? "checked" : "")> Fiyat Güncelleme
                <span></span>
            </label>

        </div>
        <div class="col-lg-12 mt-3">

            <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                <input type="checkbox" name="updateStock:boolean" value="true" data-unchecked-value="false" @Html.Raw(Model.MarketPlaceCompany.UpdateStock ? "checked" : "")> Stok Güncelleme
                <span></span>
            </label>

        </div>

    </div>


</form>
