﻿@model ECommerce.Application.Common.DataTransferObjects.ColumnComponent


    @{
            @if (Model.SliderComponents?.Count != 0)
        {

            <div class="home-slide-cover mt-10 mb-15 col-12 pr-5 pl-5">
                <div class="hero-slider style-4 dot-style-1 dot-style-1-position-1">
                    @foreach (var slider in Model.SliderComponents)
                    {
                        @Html.PartialAsync($"/Themes/Shoes/Views/Components/Slider-Component.cshtml", slider).Result
                    }
                </div>
                <div class="slider-arrow hero-slider-arrow"></div>
            </div>

        }    
        @if (Model.BannerComponents?.Count != 0)
        {

            @foreach (var banner in Model.BannerComponents)
            {
                <div class="col-lg-4 col-md-6 pr-5 pl-5 mt-10 mb-15">
                    <div class="banner-img wow " data-wow-delay="0">
                        @Html.PartialAsync($"/Themes/Shoes/Views/Components/Banner-Component.cshtml", banner).Result
                    </div>
                </div>
            }



        }
        @if (Model.ProductComponents?.Count != 0)
        {
            @foreach (var product in Model.ProductComponents)
            {

                @Html.PartialAsync($"/Themes/Shoes/Views/Product/productBox.cshtml", product).Result

            }

        }

    }

