﻿@model ECommerce.Application.Common.DataTransferObjects.RowComponent


<section>
    <div class="container-fluid home-container">
        <div class="row">
            @foreach (var column in Model.ColumnComponents)
            {
                @Html.PartialAsync($"/Themes/Shoes/Views/Components/Column.cshtml", column).Result
            }
            </div>
        </div>
</section>


