﻿<form class="kt-form" id="warehouse_create_form">

    <div class="kt-portlet__body">
        <div class="kt-section kt-section--first">

            <div class="form-group">
                <label>Depo Adı:</label>
                <input type="text" name="name" class="form-control" placeholder="Depo adı giriniz" required autocomplete="off">
            </div>

        </div>
    </div>

</form>