﻿@using ECommerce.Panel.WebApp.Controllers.Warehouse.Warehouses.Detail
@using Shared.Results
@model Result<Warehouse>

<form class="kt-form" id="warehouse_update_form">

    <input type="hidden" name="id" class="form-control" value="@Model.Data.Id">

    <div class="kt-portlet__body">
        <div class="kt-section kt-section--first">

            <div class="form-group">
                <label>Depo Adı:</label>
                <input type="text" name="name" value="@Model.Data.Name" class="form-control" placeholder="Depo adı giriniz" required>
            </div>

        </div>
    </div>
</form>