﻿@model ECommerce.Application.Client.ViewModels.Orders.Index
@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@{
    ViewData["Title"] = "Güvenli Ödeme";
    ViewData["Description"] = "Kredi kartı ve havale|Eft ödeme yöntemleri ile güvenli alışveriş yapabilirsiniz.";

    var paymentTypes = Model.PaymentTypes.OrderByDescending(x => x.Id == "PDO").OrderByDescending(x => x.Id == "OO").ToList();



    var first = paymentTypes.FirstOrDefault();


}

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a>
                <span></span> <a href="@Url.Action("Index", "ShoppingCart")" rel="nofollow">@_resource["Cart"]</a>
                <span></span> @_resource["Payment"]
            </div>
        </div>
    </div>
    <div class="container mb-80 mt-20">
        <form id="order-form-0" style="">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="row">
                        <!--Order form-->
                        <div id="customer-information-container">
                            @if (Model.IsLogin)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="registered-address">
                                            <h6 class="registered-address-head d-flex">
                                                <span>
                                                    Adresiniz: <strong id="default-customer-address-title">@Model.CustomerUserDetail.Customer.DefaultCustomerAddress?.Title</strong> <span class="color-orange font-xs">(Değiştir)</span>
                                                    <span id="default-customer-address-address" class="dsisplay-none">
                                                        @Model.CustomerUserDetail.Customer.DefaultCustomerAddress?.Address
                                                    </span>
                                                </span>
                                                <img src="~/themes/shoes/imgs/theme/sort.png" />
                                            </h6>

                                            <div class="registered-address-detail">
                                                <div class="d-flex flex-wrap order-customer-addres-box" id="customer-address">
                                                    @Html.PartialAsync("/Themes/Shoes/Views/Account/CustomerAddressesPartial.cshtml", Model.CustomerUserDetail.Customer.CustomerAddresses).Result
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {


                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <input type="text" required name="fname" value="@Model.Name" placeholder="@_resource["Name"] *" id="name" autocomplete="off">
                                        <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="text" required name="lname" value="@Model.Surname" placeholder="@_resource["Surname"] *" id="surname" autocomplete="off">

                                        <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="form-group col-lg-6">
                                        <input required type="text" name="email" class="mail" id="mail" value="@Model.Email" placeholder="@_resource["Email"]" autocomplete="off">
                                        <div class="invalid-message-mail invalid-message" style="display: none;">@_resource["ValidateMailText"]</div>
                                        <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input required type="text" name="Phone" id="phone" value="@Model.Phone" placeholder="@_resource["Phone"]" autocomplete="off" class="phone">

                                        <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                    </div>

                                </div>
                                <div class="row shipping_calculator">

                                    <div class="form-group col-lg-4">
                                        <div class="custom_select">
                                            <select id="city-id" onchange="CustomerAddress.GetDistricts(@Model.CountryId)" class="form-control select-active" required>
                                                <option value="">İl Seçiniz</option>
                                                @foreach (var cLoop in Model.Cities)
                                                {
                                                    <option value="@cLoop.Id" @(Model.SelectedCityId == cLoop.Id ? "selected" : "")>@cLoop.Name</option>
                                                }
                                            </select>

                                            <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4 @(Model.CountryId > 1 ? "display-none" : "")">
                                        <div class="custom_select">
                                            <select id="district-id" onchange="CustomerAddress.GetNeighborhoods(@Model.CountryId)" class="form-control select-active" required>
                                                <option value="">İlçe Seçiniz</option>


                                            </select>

                                            <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-4 @(Model.CountryId > 1 ? "display-none" : "")">
                                        <div class="custom_select">
                                            <select id="neighborhood-id" class="form-control select-active" required>
                                                <option value="">Mahalle Seçiniz</option>


                                            </select>

                                            <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <textarea style="min-height: 100px;resize: none;" name="billing_address" id="billing_address"
                                              rows="5"
                                              autocomplete="off"
                                              placeholder="@_resource["AddressDetailText"]" required=""></textarea>

                                        <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>



                                    </div>
                                </div>
                            }
                        </div>
                        <!--Order form-->
                        <!--Invoice Address-->
                        <div class="ship_detail" id="ship-invoice">
                            <div class="form-group">
                                <div class="chek-form">
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="differentaddress">
                                        <label class="form-check-label label_info" data-bs-toggle="collapse" data-target="#collapseAddress" href="#collapseAddress" aria-controls="collapseAddress" for="differentaddress"><span>@_resource["İnvoiceChangeText"]</span></label>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseAddress" class="different_address collapse in">
                                @if (Model.IsLogin)
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="registered-invoice-address">
                                                <h5 class="registered-invoice-address-head d-flex">
                                                    <span>
                                                        Adresiniz: <strong id="default-customer-invoice-address-title">@Model.CustomerUserDetail.Customer.DefaultCustomerInvoiceInformation?.Title</strong> <span class="color-orange font-xs">(Değiştir)</span>
                                                        <span id="default-customer-invoice-address-address">
                                                            @Model.CustomerUserDetail.Customer.DefaultCustomerInvoiceInformation?.Address
                                                        </span>
                                                    </span>

                                                    <img src="~/themes/shoes/imgs/theme/sort.png" />

                                                </h5>


                                                <div class="registered-invoice-address-detail">
                                                    <div class="d-flex flex-wrap" id="customer-invoice-address">
                                                        @Html.PartialAsync("/Themes/Shoes/Views/Account/CustomerInvoiceInformationsPartial.cshtml", Model.CustomerUserDetail.Customer.CustomerInvoiceInformations).Result
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="form-group col-lg-6">
                                            <input type="text" required name="invoice-firstName" placeholder="@_resource["Name"] *" id="invoice-firstName" autocomplete="off">

                                            <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <input type="text" required name="invoice-lastName" placeholder="@_resource["Surname"] *" id="invoice-lastName" autocomplete="off">

                                            <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="form-group col-lg-6">
                                            <input required type="text" name="invoice-mail" id="invoice-mail" placeholder="@_resource["Email"]" autocomplete="off">

                                            <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <input required type="text" name="invoice-phone" id="invoice-phone" placeholder="@_resource["Phone"]" autocomplete="off" class="phone">

                                            <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                        </div>
                                    </div>

                                    <div class="row shipping_calculator">
                                        <div class="form-group col-lg-4">
                                            <div class="custom_select">
                                                <select id="invoice-city-id" onchange="CustomerInvoiceInformation.GetInvoiceDistricts(@Model.CountryId)" class="form-control select-active" required>
                                                    <option value="">@_resource["SelectDefaultText"]</option>
                                                    @foreach (var cLoop in Model.Cities)
                                                    {
                                                        <option value="@cLoop.Id" @(Model.SelectedCityId == cLoop.Id ? "selected" : "")>@cLoop.Name</option>
                                                    }
                                                </select>

                                                <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-4 @(Model.CountryId > 1 ? "display-none" : "")">
                                            <div class="custom_select">
                                                <select id="invoice-district-id" onchange="CustomerInvoiceInformation.GetInvoiceNeighborhoods(@Model.CountryId)" class="form-control select-active" required>
                                                    <option value="">@_resource["SelectDefaultText"]</option>


                                                </select>

                                                <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-4 @(Model.CountryId > 1 ? "display-none" : "")">
                                            <div class="custom_select">
                                                <select id="invoice-neighborhood-id" class="form-control select-active" required>
                                                    <option value="">@_resource["SelectDefaultText"]</option>

                                                </select>

                                                <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="form-group col-lg-6">
                                            <input type="text" name="invoice-taxOffice" id="invoice-taxOffice" placeholder="@_resource["TaxOfficeOptional"]">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <input type="text" name="invoice-taxNumber" id="invoice-taxNumber" placeholder="@_resource["TaxNumberOptional"]">
                                        </div>
                                    </div>

                                    <div>
                                        <div class="form-group">
                                            <textarea style="min-height: 100px;resize: none;"
                                                  name="invoice-address"
                                                  id="invoice-address"
                                                  rows="5"
                                                  autocomplete="off"
                                                  placeholder="@_resource["AddressDetailText"]" required></textarea>
                                            <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <!--Invoice Address-->


                        <div class="form-group mb-30">

                            <textarea rows="3" class="order-note" style="resize:none" placeholder="@_resource["OrderNote"]" id="order-note"></textarea>

                        </div>



                    </div>
                </div>
                <div class="col-lg-6">
                    <!--Order Summary-->
                    <div class="border p-40 cart-totals ml-30 mb-50">
                        <div class="d-flex align-items-end justify-content-between mb-30">
                            <h4>@_resource["OrderSummary"]</h4>
                            <h6 class="text-muted">@_resource["Total"]</h6>
                        </div>
                        <div class="divider-2 mb-30"></div>
                        <div class="table-responsive order_table checkout">
                            <table class="table no-border">
                                <tbody>
                                    @foreach (var sciLoop in Model.ShoppingCartItems)
                                    {

                                        <tr class="d-flex">
                                            <td class="image product-thumbnail">
                                                <img src="@sciLoop.ProductInformation.ProductInformationPhotos[0].FileName" alt="@sciLoop.ProductInformation.FullName">

                                            </td>
                                            <td>
                                                <h6 class="w-160 mb-5"><span>@sciLoop.ProductInformation.FullName</span></h6>
                                                @if (sciLoop.GetXPayYGift)
                                                {

                                                    <span class="color-orange">@string.Format(_resource["ProductGifted"], sciLoop.GetXPayYCount) </span>


                                                }
                                                <div class="product-rate-cover">
                                                    <div class="product-rate d-inline-block">
                                                        <div class="product-rating" style="width:100%">
                                                        </div>
                                                    </div>

                                                </div>
                                                @if (sciLoop.ProductInformation.Payor)
                                                {

                                                    <h6 class="text-heading ">
                                                        <span class="color-orange ">@_resource["ProductFreeShipping"]</span>
                                                    </h6>
                                                }
                                            </td>
                                            <td>
                                                <h6 class="text-muted pl-20 pr-20 mob-pd-0">@string.Format(_resource["NumberQuantity"], sciLoop.Quantity)</h6>
                                            </td>
                                            <td>

                                                <h4 class="text-brand chekout-table-price-text">@sciLoop.ProductInformation.ProductInformationPrice.TotalUnitPrice</h4>

                                            </td>

                                        </tr>



                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--Order Summary-->

                </div>
                <div class="col-xs-12 col-lg-4 mobil-fixed-btn">

                    <button class="btn btn-fill-out btn-block step1-next"
                            type="button"
                            onclick="OrderIndex.TabNavigate(1,@Model.IsLogin.ToString().ToLower())">
                        @_resource["GoToPayment"]
                    </button>
                </div>
            </div>
        </form>
        <form id="order-form-1" style="display: none;">
            <div class="row justify-content-center">
                <!--Payment-->
                <div class="col-lg-6">
                    @if (Model.PaymentTypes.Any(x => x.Id == "OO"))
                    {
                        <div id="credit-card-container" class="order-wizard-card-information border mb-15">
                            <div class="row card-header-mobile">
                                <h5 class=" card-info-header">
                                    @_resource["CardInformation"]  <span class="d-flex">
                                        <img class="mr-15" src="/themes/shoes/imgs/theme/icons/payment-visa.svg" alt="visa">
                                        <img class="mr-15" src="/themes/shoes/imgs/theme/icons/payment-master.svg" alt="master">  <img src="~/themes/shoes/imgs/theme/insurance.svg" alt="@Model.Company.Name Güvenli Alışveriş" style="max-width:35px;">
                                    </span>
                                </h5>

                            </div>
                            <div class="form-group">
                                <input type="text" name="cc-name" id="cc-name" class="form-control" autocomplete="off" placeholder="@_resource["CreditCartPlaceholder"]" pattern="[a-zA-Z-]+" required>

                                <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                            </div>
                            <div class="form-group">
                                <input type="tel" name="cc-number" id="cc-number" class="form-control" autocomplete="off" placeholder="@_resource["CreditCartPlaceholderTwo"]" required maxlength="19">

                                <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4 col-md-4">
                                        <select name="cc-expire-month" id="cc-expire-month" class="form-control h65" required>
                                            <option value="">@_resource["SelectDefaultText"]</option>

                                            @for (int i = 1; i <= 12; i++)
                                            {
                                                <option value="@i">@i.ToString().PadLeft(2, '0')</option>
                                            }
                                        </select>

                                        <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                    </div>
                                    <div class="col-4 col-md-4">
                                        <select name="cc-expire-year" id="cc-expire-year" class="form-control h65" required>
                                            <option value="">@_resource["SelectDefaultText"]</option>

                                            @for (int i = 0; i < 15; i++)
                                            {
                                                <option value="@(DateTime.Now.Year + i)">@(DateTime.Now.Year + i)</option>
                                            }
                                        </select>

                                        <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                    </div>
                                    <div class="col-4 col-md-4">
                                        <input type="tel" name="cc-cvv" id="cc-cvv" class="form-control" autocomplete="off" placeholder="@_resource["CvvCode"]" required maxlength="4">

                                        <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                    </div>

                                </div>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body" style="text-align:center;">
                                                <img src="" class="cvv-img" alt="kredi kartı cvv nedir">
                                            </div>
                                            <div class="modal-footer">
                                                <img src="" class="close-img" data-dismiss="modal" alt="modal close icon">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!--Havale Ödeme Bilgisi-->
                    <div class="order-wizard-bank-information" style="display: none;">
                        <h4>Banka Bilgileri</h4>
                        <div class="card-body payment-type-table" style="position:relative;">
                            <div class="eftName d-flex align-items-center">
                                <span class="border-right"><img class="width-100px d-flex align-items-center" src="~/themes/shoes/imgs/theme/@(Model.Company.CompanyContact.IbanType).png" alt="@Model.Company.CompanyContact.IbanType bankası" /> </span>
                                <span class="border-right"> @_resource["BuyerTitle"]</span>
                                <span>@Model.Company.CompanyContact.IbanNameSurname </span>

                            </div>
                            <div class="eftName d-flex">
                                <input class="border-right ibanNos" value="@Model.Company.CompanyContact.Iban" disabled />
                                <a id="ibanCopy" class="ibanCopy"><img src="themes/black/imgs/theme/copy-content.png" alt="iban kopyala" /></a>
                            </div>
                        </div>

                    </div>
                    <!--Havale Ödeme Bilgisi-->
                    @if (Model.IsLogin && Model.CustomerUserDetail?.MoneyPointAmount > 0)
                    {


                        <div class="chek-form order-money-point-information card-body payment-type-table">
                            <h4>@_resource["MoneyPoints"]</h4>
                            <span>@_resource["MoneyPointsText"] :</span> <strong class="color-orange"> @Model.CustomerUserDetail?.MoneyPointAmount₺</strong>

                            <div class="d-flex align-items-center">
                                <div class="custome-checkbox">
                                    <input class="form-check-input" onchange="OrderIndex.UseMoneyPoint()" type="checkbox" name="moneyPointCheck" id="moneyPointCheck" value="@Model.CustomerUserDetail?.MoneyPointAmount" data-type="false" />
                                    <label class="form-check-label d-flex align-items-center" for="moneyPointCheck">@_resource["AmountBalanceText"]</label>

                                </div>
                                <input type="hidden" value="@Model.CustomerUserDetail?.MoneyPointAmount.ToString().Replace(",", ".")" id="total-moneyAmount" />
                                <input class="moneyPointInput" type="number" name="moneyPoint-amount" id="moneyPoint-amount" value="@Model.CustomerUserDetail?.MoneyPointAmount.ToString().Replace(",", ".")" max="@Model.CustomerUserDetail?.MoneyPointAmount.ToString().Replace(",", ".")" min="0" autocomplete="off" onblur="OrderIndex.CheckMoneyPoint()" disabled />
                            </div>

                        </div>
                    }

                    <div class="payment payment-type-form">
                        <h4 class="mb-30 head-bottom-border">@_resource["PaymentType"]</h4>
                        <div class="payment_option">
                            <div class="paymentMain">
                                <div class="form-group payment-option payment-type-list">



                                    @foreach (var ptLoop in paymentTypes)
                                    {



                                        <div class="radio custome-radio custome-radio-@ptLoop.Id">
                                            <input class="form-check-input payment-type" type="radio" name="payment-type" id="@ptLoop.Id" value="@ptLoop.Id"
                                               data-fee="0,0000"
                                               data-cost="@ptLoop.PaymentTypeSetting.Cost"
                                               data-code="@ptLoop.Id"
                                               @(paymentTypes.IndexOf(ptLoop) == 0 ? "checked":"")>
                                            <label for="@ptLoop.Id" class="form-check-label payment-type-label-@ptLoop.Id">
                                                @ptLoop.Name<b class="color-orange ooP-giftText" style="font-size:12px;"></b>
                                                @if (ptLoop.PaymentTypeSetting.Cost > 0)
                                                {
                                                    <span class="color-orange">&nbsp;+ @ptLoop.PaymentTypeSetting.Cost  ₺</span>
                                                }
                                            </label>


                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 col-lg-8 mobil-fixed-btn">
                            <button id="orderEnd" class="btn btn-fill-out btn-block " type="button" onclick="OrderIndex.Create(@Model.IsLogin.ToString().ToLower());">@_resource["CompleteOrder"] <i class="fi-rs-sign-out ml-15"></i></button>
                        </div>
                    </div>
                    <!--Payment-->
                </div>
                <div class="col-lg-6">

                    <div class="border p-40 cart-totals ml-30 mb-15">
                        <div class="d-flex align-items-end justify-content-between mb-30">
                            <h4>@_resource["OrderNote"]</h4>
                            <h6 class="text-muted">@_resource["Total"]</h6>
                        </div>
                        <div class="divider-2 mb-30"></div>
                        <div class="table-responsive">
                            <table class="table no-border basketSummaryTable">
                                <tbody class="basketSummaryTbody">
                                    <tr>
                                        <td class="cart_total_label">
                                            <h6 class="text-muted">@_resource["ProductPrice"]</h6>
                                        </td>
                                        <td class="cart_total_amount">
                                            <h4 class="text-brand text-end">
                                                @Model.TotalUnitPrice.ToString("N2") ₺
                                            </h4>
                                        </td>
                                    </tr>

                                    @if (Model.Configuration?.CargoLimit <= Model.Amount)
                                    {
                                        <tr>
                                            <td class="cart_total_label">
                                                <h6 class="text-muted">@_resource["Cargo"]</h6>
                                            </td>
                                            <td class="cart_total_amount">

                                                <h6 class="text-heading ">
                                                    <span class="color-orange ">@_resource["FreeShipping"]</span>
                                                </h6>


                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td class="cargo_total_label">
                                                <h6 class="text-muted">Kargo Tutarı</h6>
                                            </td>
                                            <td class="cargo_total_amount">
                                                <h4 class="text-brand text-end">
                                                    @Model.Configuration.CargoAmount.ToString("N2") ₺
                                                </h4>
                                            </td>
                                        </tr>
                                    }




                                    <tr id="payment_cost" @(first.PaymentTypeSetting.Cost == 0 ? "style=display:none":"")>
                                        <td class="cargo_total_label">
                                            <h6 class="text-muted">Ödeme Ücreti</h6>
                                        </td>
                                        <td>
                                            <h4 class="text-brand text-end" id="payment_cost_total_amount">
                                                @first.PaymentTypeSetting.Cost.ToString("N2") ₺
                                            </h4>
                                        </td>
                                    </tr>





                                    @if (Model.ShoppingCartDiscount > 0)
                                    {
                                        <tr>
                                            <td class="coupon-code_label">
                                                <h6 class="text-muted">Sepette İndirim</h6>
                                            </td>
                                            <td class="coupon-code_amount">
                                                <h5 class="text-heading">- @Model.ShoppingCartDiscount.ToString("N2") ₺</h5>
                                            </td>
                                        </tr>
                                    }

                                    @if (Model.DiscountCouponDiscount > 0)
                                    {
                                        <tr>
                                            <td class="coupon-code_label">
                                                <h6 class="text-muted">@_resource["CouponDiscount"]</h6>
                                            </td>
                                            <td class="coupon-code_amount">
                                                <h5 class="text-heading text-end">- @Model.DiscountCouponDiscount.ToString("N2") ₺</h5>
                                            </td>
                                        </tr>
                                    }


                                    <tr id="moneyPoint-use-div" class="display-none">
                                        <td class="coupon-code_label">
                                            <h6 class="text-muted">@_resource["MoneyPointDiscount"]</h6>
                                        </td>
                                        <td class="coupon-code_amount">
                                            <h5 class="text-heading text-end" id="moneyPoint-useAmount"></h5>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="cart_total_label">
                                            <h6 class="text-muted color-orange">@_resource["AmountPaid"]</h6>
                                        </td>
                                        <td class="cart_total_amount">
                                            <h4 class="text-brand text-end total-amount" id="total-amount" data-totalAmount="@((Model.Amount + (Model.Configuration?.CargoLimit > Model.Amount ? Model.Configuration.CargoAmount:0)).ToString().Replace(" ,","."))">
                                                @((Model.Amount + first.PaymentTypeSetting.Cost + (Model.Configuration?.CargoLimit > Model.Amount ? Model.Configuration.CargoAmount : 0)).ToString("N2")) ₺
                                            </h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>

                    </div>
                    <!--Order Summary-->
                    <div class="border p-40 cart-totals ml-30 mb-50">
                        <div class="d-flex align-items-end justify-content-between mb-30">
                            <h4>@_resource["OrderSummary"]</h4>
                            <h6 class="text-muted">@_resource["Total"]</h6>
                        </div>
                        <div class="divider-2 mb-30"></div>
                        <div class="table-responsive order_table checkout">
                            <table class="table no-border">
                                <tbody>
                                    @foreach (var sciLoop in Model.ShoppingCartItems)
                                    {

                                        <tr class="d-flex">
                                            <td class="image product-thumbnail"><img src="@sciLoop.ProductInformation.ProductInformationPhotos[0].FileName.Replace("450x600", "50x67")" alt="@sciLoop.ProductInformation.FullName"></td>
                                            <td>
                                                <h6 class="w-160 mb-5"><span>@sciLoop.ProductInformation.FullName</span></h6>
                                                @if (sciLoop.GetXPayYGift)
                                                {

                                                    <span class="color-orange">@string.Format(_resource["ProductGifted"], sciLoop.GetXPayYCount)</span>


                                                }
                                                <div class="product-rate-cover">
                                                    <div class="product-rate d-inline-block">
                                                        <div class="product-rating" style="width:100%">
                                                        </div>
                                                    </div>
                                                    @if (sciLoop.ProductInformation.Payor)
                                                    {
                                                        <h6 class="text-heading text-end">
                                                            <span class="color-orange ">@_resource["ProductFreeShipping"]</span>
                                                        </h6>
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="text-muted pl-20 pr-20 mob-pd-0">@string.Format(_resource["NumberQuantity"], sciLoop.Quantity)</h6>
                                            </td>
                                            <td>
                                                <h4 class="text-brand chekout-table-price-text">@sciLoop.ProductInformation.ProductInformationPrice.TotalUnitPrice</h4>


                                            </td>
                                        </tr>


                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--Order Summary-->
                </div>
            </div>

        </form>

    </div>

</main>


<!--3D MODAL-->
<div class="modal fade custom-modal " id="div-3d" tabindex="-1" aria-labelledby="stockInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog div-3d-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<!--3D MODAL-->
<!--3D MODAL JS-->
<script type="text/javascript">


    function handle3d(success, description, doneUrl) {

        debugger;

        var div3d = $('#div-3d');
        div3d.modal('hide');
        var div3dModalBody = $('#div-3d .modal-body');
        div3dModalBody.empty();


        if (success === true) {
            window.location.href = doneUrl;
        }
        else {
            swal("Hata", description, "warning", {
                button: "Tamam",
                timer: 3000
            });
        }
    }

</script>
<!--3D MODAL JS-->
@section Js{
    <script src="~/themes/shoes/js/views/order/index.js?v=3"></script>
    <script src="/js/classes/mask.js"></script>
    <script src="~/themes/shoes/js/views/account/customer-address.js"></script>
    <script src="~/themes/shoes/js/views/account/customer-invoice-address.js"></script>
    <script>
        OrderIndex.Initialize("order-form", 3);
    </script>
}