﻿@model ECommerce.Application.Panel.ViewModels.MarketplaceCategoryMappings.IndexPartial

@if (Model.Success == false)
{
    <div class="alert alert-info" role="alert">
        <div class="alert-icon"><i class="flaticon-danger"></i></div>
        <div class="alert-text">@Model.Message</div>
    </div>
}
else
{
    <form id="marketplace_form">

        <input type="hidden" id="category-id" value="@Model.CategoryId" />

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <small>@Model.CategoryBreadcrumb</small>
                    <h5>@Model.CategoryName</h5>
                </div>
            </div>
        </div>


        <div>
            <div class="card-body">

                <div class="row">
                    @foreach (var theMarketplace in Model.Marketplaces)
                    {
                        var marketplaceCategoryMapping = Model.MarketplaceCategoryMappings.FirstOrDefault(pim => pim.MarketplaceId == theMarketplace.Id);


                        if (theMarketplace.Id == "TYE") continue;

                        <div class="col-md-3 category-mapping-marketplace-container"
                             data-marketplace-id="@theMarketplace.Id"
                             data-category-id="@Model.CategoryId"
                             data-category-mapping-marketplace-id="@marketplaceCategoryMapping?.Id">

                            <div class="product-marketplace-container marketplace-container-@theMarketplace.Id"
                                 data-marketplace-id="@theMarketplace.Id"
                                 data-is-ecommerce="@theMarketplace.IsECommerce.ToString().ToLower()">

                                <div class="form-group">

                                    <label class="input-abs-text">
                                        <img src="/org/img/marketplace-icons/@(theMarketplace.Id).png" height="15" /> Kategoriler:
                                    </label>

                                    <div class="form-group pos-relative"
                                         data-marketplace-category-code="@marketplaceCategoryMapping?.MarketplaceCategoryCode"
                                         data-marketplace-category-name="@marketplaceCategoryMapping?.MarketplaceCategoryName">

                                        <select name="marketplace-category-id-@theMarketplace.Id" style="height:50px" data-live-search="true"
                                                data-marketplace-id="@theMarketplace.Id" class="form-control kt-selectpicker marketplace-select">
                                            <option value="">Seçiniz</option>

                                            @foreach (var theCategory in theMarketplace.Categories)
                                            {
                                                <option value="@theCategory.Code"
                                                        data-content="<small style='padding-left: 0px'>@((string.IsNullOrEmpty(theCategory.Breadcrumb) ? theCategory.Name : theCategory.Breadcrumb))</small><br />@theCategory.Name"
                                                        data-company-id="@theCategory.CompanyId" @(theCategory.Selected ? "selected" : "")>
                                                    @theCategory.Name
                                                </option>
                                            }
                                        </select>
                                    </div>

                                </div>
                                <div class="marketplace-variant-container" data-marketplace-id="@theMarketplace.Id" data-is-ecommerce="@theMarketplace.IsECommerce.ToString().ToLower()">

                                    @if (Model.MarketplaceVariants.Count > 0)
                                    {

                                        var marketplaceVariant = Model.MarketplaceVariants.FirstOrDefault(mv => mv.MarketplaceId == theMarketplace.Id);

                                        if (marketplaceVariant != null)
                                        {

                                            @foreach (var theVariant in marketplaceVariant.Items.OrderByDescending(v => v.Mandatory))
                                            {
                                                var marketplaceCategoryVariantValue = marketplaceCategoryMapping.MarketplaceCategoryVariantValueMappings?.FirstOrDefault(pimvv => pimvv.MarketplaceVariantCode == theVariant.Code);

                                                if (theVariant.AllowCustom)
                                                {
                                                    <div class="form-group pos-relative"
                                                         data-marketplace-variant-code="@theVariant.Code"
                                                         data-marketplace-variant-name="@theVariant.Name"
                                                         data-allow-custom="@theVariant.AllowCustom.ToString().ToLower()"
                                                         data-mandatory="@theVariant.Mandatory.ToString().ToLower()"
                                                         data-varianter="@theVariant.Varianter.ToString().ToLower()"
                                                         data-multiple="@theVariant.Multiple.ToString().ToLower()"
                                                         data-marketplace-variant-value-code="@marketplaceCategoryVariantValue?.MarketplaceVariantValueCode"
                                                         data-marketplace-variant-value-name="@marketplaceCategoryVariantValue?.MarketplaceVariantValueName">
                                                        <label class="input-abs-text">
                                                            @theVariant.Name:
                                                            @if (theVariant.Mandatory)
                                                            {
                                                                <span class="kt-font-danger">* Zorunlu</span>
                                                            }
                                                        </label>
                                                        <div class="kt-input-icon kt-input-icon--left">
                                                            <input type="text"
                                                                   class="form-control"
                                                                   placeholder=""
                                                                   value="@marketplaceCategoryVariantValue?.MarketplaceVariantValueName" />
                                                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                <span><i class="la la-i-cursor"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    if (theMarketplace.IsECommerce)
                                                    {
                                                        <div class="form-group pos-relative"
                                                             data-marketplace-variant-code="@theVariant.Code"
                                                             data-marketplace-variant-name="@theVariant.Name"
                                                             data-allow-custom="@theVariant.AllowCustom.ToString().ToLower()"
                                                             data-mandatory="@theVariant.Mandatory.ToString().ToLower()"
                                                             data-varianter="@theVariant.Varianter.ToString().ToLower()"
                                                             data-multiple="@theVariant.Multiple.ToString().ToLower()"
                                                             data-marketplace-variant-value-code="@marketplaceCategoryVariantValue?.MarketplaceVariantValueCode"
                                                             data-marketplace-variant-value-name="@marketplaceCategoryVariantValue?.MarketplaceVariantValueName">
                                                            <label class="input-abs-text">
                                                                @theVariant.Name:
                                                                @if (theVariant.Mandatory)
                                                                {
                                                                    <span class="kt-font-danger">* Zorunlu</span>
                                                                }
                                                            </label>
                                                            <div class="typeahead">
                                                                <div class="kt-input-icon kt-input-icon--left">
                                                                    <input type="text" class="form-control" placeholder="" value="@marketplaceCategoryVariantValue?.MarketplaceVariantValueName" />
                                                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                        <span><i class="la la-search"></i></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <div class="form-group pos-relative"
                                                                     data-marketplace-variant-code="@theVariant.Code"
                                                                     data-marketplace-variant-name="@theVariant.Name"
                                                                     data-allow-custom="@theVariant.AllowCustom.ToString().ToLower()"
                                                                     data-mandatory="@theVariant.Mandatory.ToString().ToLower()"
                                                                     data-varianter="@theVariant.Varianter.ToString().ToLower()"
                                                                     data-multiple="@theVariant.Multiple.ToString().ToLower()"
                                                                     data-marketplace-variant-value-code="@marketplaceCategoryVariantValue?.MarketplaceVariantValueCode"
                                                                     data-marketplace-variant-value-name="@marketplaceCategoryVariantValue?.MarketplaceVariantValueName">
                                                                    <label class="input-abs-text">
                                                                        @theVariant.Name:
                                                                        @if (theVariant.Mandatory)
                                                                        {
                                                                            <span class="kt-font-danger">* Zorunlu</span>
                                                                        }
                                                                    </label>
                                                                    <div class="typeahead">
                                                                        <div class="kt-input-icon kt-input-icon--left">
                                                                            <input type="text" class="form-control" placeholder="" value="@marketplaceCategoryVariantValue?.MarketplaceVariantValueName" />
                                                                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                                <span><i class="la la-search"></i></span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <button class="btn btn-primary btn-icon btn-sm"
                                                                        type="button"
                                                                        data-full-search-marketplace-variant-name="@theVariant.Name"
                                                                        data-full-search-marketplace-variant-code="@theVariant.Code">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    }

                                                }
                                            }
                                        }
                                    }

                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>

        </div>


    </form>
}