﻿@model ECommerce.Application.Panel.ViewModels.Orders.OrderDetailPartial

@foreach (var odLoop in Model.OrderDetails)
{
    var index = Model.OrderDetails.IndexOf(odLoop);

    <tr id="order-detail-@odLoop.ProductInformationId" data-order-detail-name="@odLoop.ProductInformation.ProductInformationName" data-order-detail-index="@index">
        <td>
            <button type="button" class="btn btn-danger" onclick="OrderIndex.DeleteProductInformations(@odLoop.ProductInformationId,'@odLoop.ProductInformation.ProductInformationName')">Sil</button>
        </td>
        <td>
            <img width="50" class="img-responsive" src="@odLoop.ProductInformation.ProductInformationPhotos[0].FileName"/>
        </td>
        <td class="align-middle">
            <span class="widget11__sub">@odLoop.ProductInformation.ProductInformationName </span>
            <input type="hidden" name="orderDetails[@index][id]" value="@odLoop.Id" />
            <input type="hidden" name="orderDetails[@index][productInformationId]" value="@odLoop.ProductInformationId" />
            <input type="hidden" name="orderDetails[@index][payor]:boolean"  value="@odLoop.Payor.ToString().ToLower()" />
        </td>
        <td>
            <span class="widget11__sub">
                <input type="number" id="order-detail-quantity-@odLoop.ProductInformationId" name="orderDetails[@index][quantity]" class="form-control" value="@odLoop.Quantity" placeholder="Adet" onkeyup="OrderIndex.CalculateOrderDetails()">
            </span>
        </td>
        <td>
            <span class="widget11__sub">
                <input type="text" name="orderDetails[@index][unitPrice]" class="form-control" value="@odLoop.UnitPrice" placeholder="Birim Fiyatı" onkeyup="OrderIndex.CalculateOrderDetails()">
            </span>
        </td>
    </tr>
}