﻿<!DOCTYPE html>
<html lang="tr">
<head>
     <script type="text/javascript">
        var dataLayer = [];
    </script>
    @* Google Tag Manager::Begin *@
    @Html.Raw(ViewData["GoogleTagManagerLayoutHead"])
    @* Google Tag Manager::End *@

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>@Html.Raw(ViewData["Title"])</title>
    <meta name="description" content="@Html.Raw(ViewData["Description"])" />
    <meta name="keywords" content="@Html.Raw(ViewData["Keywords"])" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="@Html.Raw(ViewData["Title"])" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="@Html.Raw(ViewData["Url"])" />
    <meta property="og:image" content="/themes/glasses/imgs/theme/logo.png" />
    <meta name="twitter:card" content="/themes/glasses/imgs/theme/logo.png">
    <meta name="twitter:site" content="@Html.Raw(ViewData["Url"])">
    <meta name="twitter:creator" content="Saat">
    <meta name="twitter:title" content="@Html.Raw(ViewData["Title"])">
    <meta name="twitter:description" content="@Html.Raw(ViewData["Description"])">
    <meta name="twitter:image:src" content="/themes/glasses/imgs/theme/logo.png">
    <meta property="og:url" content="@Html.Raw(ViewData["Url"])">
    <meta property="og:type" content="e-commerce">
    <meta property="og:description" content="@Html.Raw(ViewData["Description"])">
    <meta property="og:site_name" content="@Model.Company.Name">
    <meta property="article:author" content="@Model.Company.CompanyContact.Facebook">
    <meta property="article:publisher" content="@Model.Company.CompanyContact.Facebook">
    <meta itemprop="name" content="@Html.Raw(ViewData["Title"])">
    <meta itemprop="description" content="@Html.Raw(ViewData["Description"])">
    <meta itemprop="image" content="/themes/glasses/imgs/theme/logo.png">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/themes/glasses/imgs/theme/favicon.png" />
    <!-- Template CSS -->
    <meta name="google-site-verification" content="fefy2V_BTQU3ZgWVz54_GQcTvcgiKEwCfKns-p8IzQo" />
    <link rel="canonical" href="@Html.Raw(ViewData["Url"])" />
    <link rel="stylesheet" href="/themes/glasses/css/default-min.css?v=1" />
    <link rel="stylesheet" href="/themes/glasses/css/site-min.css?v=2" />

    @* Google Ads::Begin *@
    @Html.Raw(ViewData["GoogleAdsLayout"])
    @* Google Ads::End *@

    @* Google Analytics::Begin *@
    @Html.Raw(ViewData["GoogleAnalyticsLayout"])
    @* Google Analytics::End *@

    @* Facebook Pixel::Begin *@
    @Html.Raw(ViewData["FacebookPixelLayout"])
    @* Facebook Pixel::End *@

    @RenderSection("Head", false)
</head>
<body>
    @* Google Tag Manager::Begin *@
    @Html.Raw(ViewData["GoogleTagManagerLayoutBody"])
    @* Google Tag Manager::End *@

    <div class="headerBox">
        @Html.PartialAsync("/Themes/Glasses/Views/Shared/header.cshtml").Result
    </div>

    <div id="body">
        @RenderBody()

        @Html.AntiForgeryToken()
        <a href="https://api.whatsapp.com/send?phone=90@(Model.Company.CompanyContact.PhoneNumber)&text=Merhaba%20bilgi%20almak%20istiyorum" class="whatsappButton" target="_blank">
            <img src="/themes/glasses/imgs/theme/icons/wp.png" alt="@(Model.Company.Name) whatsapp" class="my-float" />
        </a>
    </div>
    <div class="headerBox">
        @Html.PartialAsync("/Themes/Glasses/Views/Shared/footer.cshtml").Result
    </div>
    <script src="/js/classes/selector.js"></script>
    <script src="/js/classes/modal.js"></script>
    <script src="/js/classes/network.js"></script>
    <script src="/js/classes/validator.js"></script>
    <script src="/js/classes/shopping-cart.js"></script>
    <script src="/js/classes/tab.js"></script>
    <script src="/js/classes/context.js"></script>

    @RenderSection("Js", false)
    <script src="/themes/glasses/js/views/account/login.js"></script>
    <script src="/themes/glasses/js/views/account/forgot-password.js"></script>
    <script src="/themes/glasses/js/views/account/reset-password.js"></script>
    <script src="/themes/glasses/js/views/account/logout.js"></script>
    <script src="/themes/glasses/js/views/account/register.js"></script>
    <script src="/themes/glasses/js/views/home/bulten-form.js"></script>
    <script src="/themes/glasses/js/views/home/contact-form.js"></script>
    <script src="/themes/glasses/js/views/product/index.js"></script>
    <script src="/themes/glasses/js/third-party/modernizr-3.6.0.min.js"></script>
    <script src="/themes/glasses/js/third-party/jquery-3.6.0.min.js"></script>
    <script src="/themes/glasses/js/third-party/jquery-migrate-3.3.0.min.js"></script>
    <script src="/themes/glasses/js/third-party/bootstrap.bundle.min.js"></script>
    <script src="/themes/glasses/js/plugins/slick.js"></script>
    <script src="/themes/glasses/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/themes/glasses/js/plugins/jquery-ui.js"></script>
    <script src="/themes/glasses/js/plugins/select2.min.js"></script>
    <script src="/themes/glasses/js/plugins/jquery.countdown.min.js"></script>
    <script src="/themes/glasses/js/plugins/scrollup.js"></script>
    <script src="/themes/glasses/js/plugins/jquery.vticker-min.js"></script>
    <script src="/themes/glasses/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/themes/glasses/js/plugins/sweetalert.min.js"></script>
    <script src="/js/classes/search.js?v2"></script>

    <!-- Template  JS -->
    <script src="/themes/glasses/js/main.js?v=1"></script>
    <script src="/themes/glasses/js/shop.js?v=1"></script>

</body>
</html>
