﻿@model List<ECommerce.Application.Client.DataTransferObjects.Category>

<ul>
    @foreach (var mLoop in Model)
    {
        <li><a href="@mLoop.Url">@mLoop.Name</a></li>

        @if (mLoop.ChildCategories.Count > 0)
        {
            @Html.Partial("/Views/Category/CategoryTreeview.cshtml", mLoop.ChildCategories)
        }
    }
</ul>