﻿@model ECommerce.Application.Client.ViewModels.Categories.Index

@if (Model.Success)
{
    ViewData["Title"] = Model.Category.CategorySeo.Title;
    ViewData["Description"] = Model.Category.CategorySeo.MetaDescription;
    ViewData["Keywords"] = Model.Category.CategorySeo.MetaKeywords;
    string pageItems = $"pc={Model.PageRecordsCount}&st={Model.PageSorting}";
    string propertyValueIds = "";
    if (Model.PropertyValueIds?.Count > 0)
    {
        propertyValueIds = $"/{string.Join("_", Model.PropertyValueIds)}-pv/";
    }

    <main class="main-categori-wrap discount-main">
        <div class="page-header mt-15 mb-15">
            <div class="container">
                <div class="tag-header mob-tag-header">
                    <div class="row align-items-center">
                        <div class="col-xl-5 category-breadbox">
                            <div class="breadcrumb">
                                <a href="@Url.Action("Index","Home")"><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
                                @Html.Raw(Model.Category.CategoryBreadcrumb.Html)
                            </div>
                        </div>
                        <!--Category Tag Bar-->
                        <div class="col-xl-7 text-end d-none d-xl-block category-tag-box">
                            <ul class="tags-list">
                                <li class="font-md color-black find-end-text"> <h1 class="font-lg">@Model.Category.Name</h1></li>
                                @{
                                    foreach (var pLoop in Model.Properties)
                                    {

                                        @foreach (var pvLoop in pLoop.PropertyValues)
                                        {
                                            if (Model.PropertyValueIds != null)
                                            {
                                                if (Model.PropertyValueIds.Contains(pvLoop.Id))
                                                {

                                                    <li class="hover-up">
                                                        <a href="@pvLoop.Id-pv" class="checked-keyword"> @pvLoop.Value</a>
                                                    </li>
                                                }
                                            }
                                        }
                                    }
                                }

                            </ul>
                        </div>
                        <!--Category Tag Bar-->
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-30">
            <div class="row flex-row-reverse shop-row justify-content-center;">
                <div class="col-lg-4-5">
                    <div class="shop-product-fillter">
                        <div class="totall-product mob-none">
                            <p>Toplam <strong>@Model.ProductCount</strong> üründen,<strong>@Model.PageProductCount</strong> adet listelendi.</p>
                        </div>

                        <div class="sort-by-product-area ">
                            <div class="sort-by-cover mr-10 des-none">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by filter-category-btn">
                                        <span><i class="fi-rs-filter"></i>Filtrele <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>

                            </div>
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span>
                                            <i class="fi-rs-apps"></i><span class="mob-none"> Göster:</span> @Model.PageRecordsCount
                                            <i class="fi-rs-angle-small-down"></i>
                                        </span>
                                    </div>

                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a @(Model.PageRecordsCount == 20 ? "class=active" : "") href="@($"/{Model.Category.Url}{propertyValueIds}{$"?pc=20"}&st={Model.PageSorting}")">20</a></li>
                                        <li><a @(Model.PageRecordsCount == 50 ? "class=active" : "") href="@($"/{Model.Category.Url}{propertyValueIds}{$"?pc=50"}&st={Model.PageSorting}")">50</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="sort-by-cover advanced-sorting">
                                <div class="sort-by-product-wrap ">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i> Sırala:<i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        @{

                                            string sortingValue = "";

                                            switch (Model.PageSorting)
                                            {
                                                case 1:
                                                    sortingValue = "Artan Fiyat";
                                                    break;
                                                case 2:
                                                    sortingValue = "Azalan Fiyat";
                                                    break;
                                                case 3:
                                                    sortingValue = "Alfabetik A dan Z'ye";
                                                    break;
                                                case 4:
                                                    sortingValue = "Alfabetik Z dan A'ya";
                                                    break;

                                            }
                                        }

                                        <span>@sortingValue </span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a @(Model.PageSorting == 1 ? "class=active" : "") href="@($"/{Model.Category.Url}{$"?st=1"}&pc={Model.PageRecordsCount}")">Artan Fiyat</a></li>
                                        <li><a @(Model.PageSorting == 2 ? "class=active" : "") href="@($"/{Model.Category.Url}{$"?st=2"}&pc={Model.PageRecordsCount}")">Azalan Fiyat</a></li>
                                        <li><a @(Model.PageSorting == 3 ? "class=active" : "") href="@($"/{Model.Category.Url}{propertyValueIds}{$"?st=3"}&pc={Model.PageRecordsCount}")">Alfabetik A dan Z'ye</a></li>
                                        <li><a @(Model.PageSorting == 4 ? "class=active" : "") href="@($"/{Model.Category.Url}{propertyValueIds}{$"?st=4"}&pc={Model.PageRecordsCount}")">Alfabetik Z dan A'ya</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row product-grid-4" id="products" data-page="0">
                        @foreach (var pLoop in Model.ProductInformations.Where(pLoop => pLoop.IsStock && pLoop.IsSale))
                        {
                            @Html.PartialAsync($"/Themes/glasses/Views/Product/productBox.cshtml", new ECommerce.Application.Common.DataTransferObjects.ProductComponent
                    {
                    ListUnitPrice = pLoop.ProductInformationPrice.ListUnitPrice,
                    Name = pLoop.FullName,
                    ProductInformationId = pLoop.Id,
                    ProductId = pLoop.Id,
                    IsStock=pLoop.IsStock,
                    FileName = pLoop.ProductInformationPhotos.FirstOrDefault() != null ? pLoop.ProductInformationPhotos.FirstOrDefault().FileName : null,
                    UnitPrice = pLoop.ProductInformationPrice.UnitPrice,
                    //AverageRating=pLoop.AverageRating,
                    Url = pLoop.Url,
                    SubTitle = pLoop.SubTitle,
                    VatRate = pLoop.ProductInformationPrice.VatRate,
                    Discount = pLoop.ProductInformationPrice.Discount,
                    ProductLabels = pLoop.Product.ProductLabels.Select(x => x.Value).ToList(),
                    IsSale = pLoop.IsSale,
                    Payor = pLoop.Payor
                    }).Result
                            ;
                        }
                    </div>

                    <!--product grid-->
                    <!--Pagination Number -->
                    <div class="pagination-area mt-20 mb-20">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">

                                @for (int i = 0; i < Model.PagesCount; i++)
                                {
                                    <li class="page-item">
                                        @if (Model.Page == i)
                                        {
                                            <span class="page-link page-link-active">@(i + 1)</span>
                                        }
                                        else
                                        {
                                            <a class="page-link" href="@($"/{Model.Category.Url}{propertyValueIds}{(i != 0 ? $"?p={i}&{pageItems}" : $"?{pageItems}")}")">
                                                @(i + 1)
                                            </a>

                                        }
                                    </li>

                                }

                            </ul>
                        </nav>
                    </div>
                    <!--Pagination Number -->
                    <!--category Content-->

                    <div class="category-content-box row">

                        @Html.Raw(Model.Category.CategoryContent.Content)
                    </div>

                    <!--Category Content-->
                </div>
                <!--Filter Desktop-->

                <div class="col-lg-1-5 primary-sidebar sticky-sidebar">
                    <div class="shop-product-fillter width-100 d-block">
                        <div class="">
                            <!-- Category List -->
                            @{
                                var category = Model.Categories.FirstOrDefault(x => x.Id == Model.Category.Id || x.Id == Model.Category.ParentCategoryId);
                            }


                            @if (category != null)
                            {

                                <button type="button" class="short-list-btn"><i class="fi-rs-arrow-down"></i></button>
                                <div class="sidebar-widget price_range range mb-10">
                                    <h5 class="section-title style-1 mb-10">Ürün Çeşitleri</h5>
                                    <div class="list-group">
                                        <div class="list-group-item mb-10 mt-10 short-list-item">
                                            @foreach (var cLoop in category.ChildCategories)
                                            {
                                                <p class="font-sm mb-2">
                                                    <a href="@($"/{cLoop.Url}")" @Html.Raw(cLoop.Id == Model.Category.Id ? "class=\"active\"" : "")>@cLoop.Name</a>
                                                </p>
                                            }
                                        </div>
                                    </div>

                                </div>


                            }
                            <!-- Category List -->
                        </div>
                    </div>
                    <!-- Product Filter -->
                    @if (Model.Properties.Count > 0)
                    {
                        <div id="filter-overlay" class="customSearch filter-overlay ">
                            <button type="button" class="btn-close des-none btn-filter-close"></button>
                            <div class="sidebar-widget price_range range mb-10">
                                <h5 class="section-title style-1 mb-10">Detaylı Filtrele</h5>
                                <div class="list-group">
                                    <div class="list-group-item mb-10 mt-10">

                                        @foreach (var pLoop in Model.Properties)
                                        {
                                            <div>
                                                <h5 class="accordion category-accordion">@pLoop.Name</h5>

                                                <div class="panel">
                                                    @foreach (var pvLoop in pLoop.PropertyValues)
                                                    {
                                                        <div class="custome-checkbox">

                                                            <input class="form-check-input" type="checkbox" name="property-value" id="property-value_@pvLoop.Id" value="@pvLoop.Id" @(Model.PropertyValueIds != null && Model.PropertyValueIds.Any(x => x == pvLoop.Id) ? "checked" : "") />
                                                            <label class="form-check-label" for="property-value_@pvLoop.Id">@pvLoop.Value</label>
                                                        </div>
                                                    }
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>
                                <a onclick="CategoryIndex.Filter('@pageItems');" class="btn btn-sm btn-default btn-block mt-10 category-filter-btn"><i class="fi-rs-filter mr-5"></i>Fidan Bul</a>
                            </div>
                        </div>
                    }
                    <!-- Product Filter -->


                </div>
                <!--Filter Desktop-->
            </div>
        </div>




    </main>
    @section Js{
    <script src="/themes/glasses/js/views/category/index.js"></script>
    <script>
        CategoryIndex.Initialize('/@Model.Category.Url');
    </script>
    }
}
else
{

}



