﻿@model ECommerce.Application.Panel.ViewModels.Informations.Create

<form class="kt-form kt-form--label-right" id="information_create_form">
    <div class="kt-portlet__body">

        <div class="form-group">

            <div class="col-lg-12">

                <div class="kt-portlet kt-portlet--tabs">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x" role="tablist">

                                @foreach (var lLoop in Model.Languages)
                                {
                                    var active = Model.Languages.IndexOf(lLoop) == 0 ? "active" : "";
                                    <li class="nav-item">
                                        <a class="nav-link @active" data-toggle="tab" href="#tab_information_@lLoop.Key" role="tab">
                                            @lLoop.Value
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="tab-content">

                            @for (int i = 0; i < Model.Languages.Count; i++)
                            {
                                var active = i == 0 ? "active" : "";
                            <div class="tab-pane @active" id="tab_information_@Model.Languages[i].Key" role="tabpanel">

                                <input type="hidden" name="informationTranslations[@i][languageId]" value="@Model.Languages[i].Key" />

                              <div class="form-group pos-relative">
                                <label class="input-abs-text">Başlık:</label>
                                <input type="text" class="form-control" name="informationTranslations[@i][header]" autocomplete="off" required>
                              </div>
                           

                              <div class="form-group pos-relative">
                                  <label class="input-abs-text">Seo Başlık (Title):</label>
                                <input type="text"
                                       class="form-control"
                                       name="informationTranslations[@i][InformationSeoTranslation][title]" required>
                              </div>
                                
                               <div class="form-group pos-relative">
                                <label class="input-abs-text">Seo Açıklama (Description):</label>
                                <input type="text"
                                       class="form-control"
                                       name="informationTranslations[@i][InformationSeoTranslation][metaDescription]" required>
                               </div>

                              <div class="form-group pos-relative"> 
                                   <label class="input-abs-text">Seo Anahtar Kelime :</label>
                                <input type="text" class="form-control" name="informationTranslations[@i][InformationSeoTranslation][metaKeywords]" required>
                              </div>
                                


                               <div class="form-group">
                                  <label>Html:</label>
                                <textarea class="summernote" name="informationTranslations[@i][InformationTranslationContent][html]"></textarea>
                              </div>


                            </div>
                            }

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="form-group">
            <div class="col-lg-6">

                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" checked> Aktif
                    <span></span>
                </label>

            </div>
        </div>
    </div>
</form>