﻿@model ECommerce.Panel.WebApp.Controllers.Xml.Definitions.Create.ViewModel

<form class="kt-form" id="defination_create_form">
    <div class="kt-portlet__body">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Xml Adı:</label>
                    <input type="text" name="name" class="form-control form-control-sm" placeholder="Xml adı giriniz" required autocomplete="off">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Markalar:</label>
                    <select name="brandIds[]" class="form-control form-control-sm select-picker" data-live-search="true" multiple>
                        <option value="-1">Seçiniz</option>
                        @foreach (var bLoop in Model.Brands)
                        {
                            <option value="@bLoop.Key">@bLoop.Value</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
				<div class="form-group">
                    <label>Alanlar:</label>
                    <div class="kt-checkbox-list">
                        <label class="kt-checkbox">
                            <input type="checkbox" name="fields[]" value="Name"> Ürün Adı
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" name="fields[]" value="List Price"> Liste Fiyatı
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" name="fields[]" value="Price"> Satış Fiyatı
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" name="fields[]" value="Stock"> Stok
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" name="fields[]" value="Barcode"> Barkod
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" name="fields[]" value="Variant"> Variant
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" name="fields[]" value="Photo"> Fotoğraf
                            <span></span>
                        </label>
                    </div>
				</div>				
            </div>
        </div>

    </div>
</form>