﻿@model ECommerce.Panel.WebApp.Controllers.Xml.Definitions.Update.ViewModel

<form class="kt-form" id="defination_update_form">
    <div class="kt-portlet__body">

        <input type="hidden" name="id" class="form-control" value="@Model.XmlDefination.Id">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Xml Adı:</label>
                    <input type="text" name="name" class="form-control form-control-sm" placeholder="Xml adı giriniz" required autocomplete="off" value="@Model.XmlDefination.Name">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Markalar:</label>
                    <select name="brandIds[]" class="form-control form-control-sm select-picker" data-live-search="true" multiple>
                        <option value="-1">Seçiniz</option>
                        @foreach (var bLoop in Model.Brands)
                        {
                            <option value="@bLoop.Key" @(Model.XmlDefination.BrandIds.Any(_ => _ == bLoop.Key) ? "selected" : "")>@bLoop.Value</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Alanlar:</label>
                    <div class="kt-checkbox-list">
                        <label class="kt-checkbox">
                            <input type="checkbox" name="fields[]" value="Name" @(Model.XmlDefination.Fields.Contains("Name") ? "checked" : "")> Ürün Adı
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" name="fields[]" value="List Price" @(Model.XmlDefination.Fields.Contains("List Price") ? "checked" : "")> Liste Fiyatı
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" name="fields[]" value="Price" @(Model.XmlDefination.Fields.Contains("Price") ? "checked" : "")> Satış Fiyatı
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" name="fields[]" value="Stock" @(Model.XmlDefination.Fields.Contains("Stock") ? "checked" : "")> Stok
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" name="fields[]" value="Barcode" @(Model.XmlDefination.Fields.Contains("Barcode") ? "checked" : "")> Barkod
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" name="fields[]" value="Variant" @(Model.XmlDefination.Fields.Contains("Variant") ? "checked" : "")> Variant
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" name="fields[]" value="Photo" @(Model.XmlDefination.Fields.Contains("Photo") ? "checked" : "")> Fotoğraf
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>