﻿/*Default Css*/
.flex-box{
    display:flex;
    align-items:center;
}
.text-center {
    text-align: center;
}
#orderFilterRow {
    padding: 20px 20px 5px 20px !important;
    border-radius: 5px;
    margin-bottom: 25px;
}
.dataTables_filter label {
    position: relative;
}
    .dataTables_filter label .label-text {
        position: absolute;
        top: -8px;
        font-size: 12px;
        z-index: 5;
        left: 5px;
        background: white;
        padding: 0px 5px;
    }

.bgGrey th {
  color:black !important;
}

.bgGreytr {
    font-size: 12px;
    text-transform: capitalize;
}

.kt-bg-bg-red {
    background-color: red !important;
}
.updateBtn {
    cursor: pointer !important;
}
.updateBtn i {
        font-size: 2.3rem !important;
}

.pos-relative{
    position:relative;
}
/*.alarmImg {
    position: absolute;
    right: 3px;*/
    /*  top: -5px;*/
    /*object-fit: cover;
    width: 40px;
    height: 40px;
    object-position: left;
}
.alarmMessage div img {
    position: absolute;
    right: 0px;
    top: -19px;
    z-index: 9999999;
}
.alarmMessage a{
    color:black;
}*/
/*.kt-notification__item-icon {
    position: absolute;
    left: 21px;
    top: 15px;
}
.kt-notification__item-title span {
    display: flex;
    position: relative;
    font-size: 12px;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}*/
.input-abs-text {
    position: absolute;
    top: -8px;
    font-size: 10.2px !important;
    z-index: 5;
    left: 13px;
    background: white;
    padding: 1px 2px;
}
.color-white{
    color:white !important;
}
.font-xs{
    font-size:10px !important;
}
.font-sm {
    font-size: 12px !important;
}

.small-placeholder::placeholder {
    font-size: 11px !important;
    color: #fd27eb !important;
}

.wt-200{
    width:200px;
}

.dp-none{
    display:none;
}
.mt25 {
    margin-top: 25px;
}
select{
    min-width:140px;
}

.showcase-grid-select {
    min-width: 60px !important;
    max-width: 60px !important;
}
th{
    color:black !important;
}

tr:nth-child(even) {
    background: #fbfbfb;
}

.btn {

    padding: 0.64rem 1rem !important;
 
}
/*Default Css*/
.photoSrc {
    min-width: 245px;
    min-height: 286px;
    background-size: contain;
    background-position: center;
}

.sticky-tool {
    position: sticky;
    top: 0;
}

.textLabel-abs {
    position: absolute;
    left: 10px;
    background: white;
    padding: 0px 10px;
    top: -6px;
    font-size: 11px;
}

.kt-portlet__head {
    padding: 0px 15px !important;
    align-items: center !important;
}

#ajax_data > tr:nth-child(even) {
    background-color: #fbfbfb;
}

div#kt_table_1_filter {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
}


div#kt_table_1_filter label input, div#kt_table_1_filter label select {
            min-width: 150px;
        }
.kt-subheader-search .dataTables_filter label .label-text {
    color: white !important;
    background: #564fc1;
}

.kt-subheader-search .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: white;
    background: #564fc1;
}
.kt-subheader-search .select2-container--default .select2-selection--single .select2-selection__arrow{
    color:white;
}

.orderFilterBox .form-group {
    margin-right: 10px;
}
.kt-menu__item{
    text-align:left;
}

#product_modal, #product_information_selection_modal, #order_modal {
    overflow-y: scroll !important;
}

td.stckTd {
    position: relative;
    vertical-align: top !important;
}
.stckTd .stckd {
    position: sticky;
    top: 25%;
    height: 100%;
}

.alarmHead {
    height: 60px;
    padding: 20px !important;
}
.alarmHead h3{
    text-align:left !important;
}
/*.alarmItem {
    padding: 15px 15px;
    display: block;
    border-bottom: 1px solid #ecebec;
}*/
.alarm-footer span {
    padding: 4px 5px !important;
}
/*.kt-notification__item {
    align-items: flex-end !important;
}*/
#notifications-count {
    position: absolute;
    right: -6px;
    top: 15px;
    background: #fd27eb;
    z-index: 9;
    border-radius: 50px;
    padding: 0px 6px;
    text-align: center;
    color: white;
}
.alarmIcon {
    position: relative;
    z-index: 1;
    color: #fff;
    background-color: #673ab7;
}
    .alarmIcon:before {
        content: '';
        position: absolute;
        display: block;
        width: 155%;
        height: 155%;
        box-sizing: border-box;
        z-index: -1;
        border-radius: 107px;
        background-color: rgb(255 9 0);
        -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
        animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
        left: -11.5px;
    }
@-webkit-keyframes pulse-ring {
    0% {
        -webkit-transform: scale(0.33);
        transform: scale(0.33);
    }

    80%, 100% {
        opacity: 0;
    }
}

@keyframes pulse-ring {
    0% {
        -webkit-transform: scale(0.33);
        transform: scale(0.33);
    }

    80%, 100% {
        opacity: 0;
    }
}

.kt-widget30 .kt-widget30__head .owl-carousel .center > div {
    cursor: auto;
    background-color: #ffffff !important;
    -webkit-box-shadow: 0px 2px 14px 2px rgb(34 185 255 / 20%) !important;
    box-shadow: 0px 2px 14px 2px rgb(255 255 255 / 20%) !important;
}
.best-saller-pr-btn {
    margin: 20px 15px;
    display: inline-block !important;
}
h3.best-h {
    color: white;
    font-size: 17px;
    padding: 13px;
    position: absolute;
    bottom: 55px;
    text-shadow: 1px 1px 9px #767676;
}

.carousel .kt-widget19__pic {
    position: relative;
    overflow: hidden;
}
.best-img {
    position: relative;
}
.carousel .kt-portlet {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin: 0;
}
.carousel #kt_earnings_widget{
    margin:0px 1px !important;
}
.carousel .bottom-owl{
    padding:15px 10px;
}
    .carousel .bottom-owl span.kt-font-danger {
        font-weight: bold !important;
        font-size: 16px;
    }
/*Large Screen*/
@media(min-width:1400px) {
    div #kt_table_1_filter label input, div#kt_table_1_filter label select {
        min-width: 200px;
    }
 
}
@media(min-width:870px) {
  .des-none{
      display:none !important;
  }
    table {
         display: table !important;
    }
}
/*Large Screen*/


/*Mobil Screen*/
@media(max-width:869px){
    div#kt_table_1_filter {
        flex-flow: column;
    }
    .dataTables_wrapper .dataTables_pager {
        margin-top: 0px;
        
    }
    div#kt_table_1_filter label input, div#kt_table_1_filter label select {
  
        width: 100%;
    }
    .dataTables_wrapper .dataTables_pager {
        margin-top: 3px;
         text-align: right !important; 
    }
    .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
        font-size: 1rem;
    }
    .btn {
        font-size: 12px;
        padding: 5px 5px;
    }
    .mob-none{
        display:none !important;
    }

 
    .total-list-bar {
        text-align: center;
        border: 1px solid #20b0f3;
        padding: 10px;
        border-radius: 5px;
    }
    .report-datepicker-box {
        flex-flow: nowrap !important;
        display: flex !important;
        flex-basis: auto !important;
        flex-grow: initial !important;
    }

        .report-datepicker-box .kt-datetimepicker{
            min-width:auto !important;
        }
    .flex-wrap {
        flex-wrap: wrap;
    }

    .kt-pagination__toolbar .flex-child {
 
        
    }
    .kt-pagination__toolbar .flex-child:nth-child(1) {
        order:2;
    }
        .kt-pagination__toolbar .flex-child:nth-child(2) {
            order: 3;
        }
        .kt-pagination__toolbar .flex-child:nth-child(3) {
            order: 1;
            flex: 1 1 100%;
            margin-bottom:15px;
            font-size:11px
        }
    .pagination-box {
        overflow: hidden;
        overflow-x: scroll;
        margin-top:10px;
    }
        .pagination-box .kt-pagination__links {
            width: 600px;
            justify-content: start !important;
        }

    .kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item {

        table-layout: revert !important;

    }
    img.table-product-img {
        min-width: 100px;
    }
}
/*Mobil Screen*/