﻿@model ECommerce.Application.Panel.ViewModels.BulkPriceUpdates.Index

<div class="kt-portlet kt-portlet--mobile mt25">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Toplu Fiyat Güncelleme
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="form-group col-6 col-md-3 ">
                    <label class="pos-relative">
                        <span class="input-abs-text"> Kategori</span>
                        <select id="ajax_data_search_category_id" class="form-control">
                            @foreach (var cLoop in Model.Categories)
                            {
                                <option value="@cLoop.Key">@cLoop.Value</option>
                            }
                        </select>
                    </label>
                </div>
                <div class="form-group col-6 col-md-3 ">
                    <button type="button" class="btn btn-brand" onclick="BulkPriceUpdateIndex.Download()">İndir</button>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-4 col-md-9 col-sm-12">
                    <div class="dropzone dropzone-default dropzone-brand dz-clickable" id="kt_dropzone_2">
                        <div class="dropzone-msg dz-message needsclick">
                            <input id="file" type="file" />
                            <button type="button" class="btn btn-info" onclick="BulkPriceUpdateIndex.Update()">Gönder</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/org/library/js/jquery-serializer.js"></script>
    <script src="/org/library/js/jquery-table.js"></script>
    <script src="/org/js/views/bulk-price-update/index.js"></script>
}