﻿@model ECommerce.Application.Panel.ViewModels.PropertyValues.Read

<div class="kt-widget4">
    <div class="kt-widget4__item">
        <div class="kt-widget4__info" id="new_property_value">

            <input type="hidden" name="property_id" value="@Model.PropertyId" />

            <input type="text" name="value" class="form-control" placeholder="Değer adı giriniz">

        </div>
        <a href="javascript:PropertyIndex.CreatePropertyValue()" class="btn btn-sm btn-label-brand btn-bold">Kaydet</a>
    </div>
    @foreach (var ppvLoop in Model.PropertyValues)
    {
        <div class="kt-widget4__item">
            <div class="kt-widget4__info">

                <input type="hidden" name="id_@ppvLoop.Id" value="@ppvLoop.Id" />

                <input type="text" name="value_@ppvLoop.Id" class="form-control" value="@ppvLoop.PropertyValueTranslations[0].Value" placeholder="Değer adı giriniz">

            </div>
            <a href="javascript:PropertyIndex.UpdatePropertyValue(@ppvLoop.Id)" class="btn btn-sm btn-label-brand btn-bold">Güncelle</a>
        </div>
    }
</div>