﻿<form id="bank_create_form" class="kt-form kt-form--label-right">

    <div class="kt-portlet__body">

        <div class="form-group pos-relative">
            <label class="input-abs-text">No:</label>
            <input type="text" name="id" class="form-control"  autocomplete="off" required>
        </div>

        <div class="form-group pos-relative">
            <label class="input-abs-text">Banka Adı:</label>
            <input type="text" name="name" class="form-control"  autocomplete="off" required>
        </div>

        <div class="form-group">
            <label class="kt-checkbox">
                <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" checked> Aktif
                <span></span>
            </label>
        </div>

    </div>

</form>