﻿<form id="manager_user_create_form" class="kt-form kt-form--label-right">

    <div class="kt-portlet__body">

        <div class="form-group pos-relative">
            <label class="input-abs-text">Ad:</label>
            <input type="text" name="name" class="form-control" autocomplete="off" required>
        </div>

        <div class="form-group pos-relative">
            <label class="input-abs-text">Soyad:</label>
            <input type="text" name="surname" class="form-control" autocomplete="off" required>
        </div>

        <div class="form-group ">
            <label>Rol:</label>
            <select name="managerRoleId" class="form-control kt-select2">
                @foreach (var cLoop in Model.ManagerRoles)
                {
                    <option value="@cLoop.Key">@cLoop.Value</option>
                }
            </select>
        </div>

        <div class="form-group pos-relative">
            <label class="input-abs-text">Kullanıcı Adı:</label>
            <input type="text" name="username" class="form-control" autocomplete="off" required>
        </div>

        <div class="form-group pos-relative">
            <label class="input-abs-text">Şifre:</label>
            <input type="text" name="password" class="form-control" autocomplete="off" required>
        </div>

    </div>

</form>