﻿@*@model ECommerce.Application.Panel.ViewModels.ManagerUsers.Update

<form class="kt-form" id="manager_user_update_form">

    <div class="kt-portlet__body">
        <div class="kt-section kt-section--first">

            <input type="hidden" name="id" value="@Model.ManagerUser.Id" />

            <div class="form-group pos-relative">
                <label class="input-abs-text">Ad:</label>
                <input type="text" name="name" class="form-control" value="@Model.ManagerUser.Name" autocomplete="off" required>
            </div>

            <div class="form-group pos-relative">
                <label class="input-abs-text">Soyad:</label>
                <input type="text" name="surname" class="form-control" value="@Model.ManagerUser.Surname"  autocomplete="off" required>
            </div>

            <div class="form-group ">
                <label>Rol:</label>
                <select name="managerRoleId" class="form-control kt-select2">
                    @foreach (var cLoop in Model.ManagerRoles)
                    {
                        <option value="@cLoop.Key" @(Model.ManagerUser.ManagerRoleId == cLoop.Key ? "selected" : "")>@cLoop.Value</option>
                    }
                </select>
            </div>

            <div class="form-group pos-relative">
                <label class="input-abs-text">Kullanıcı Adı:</label>
                <input type="text" name="username" class="form-control" value="@Model.ManagerUser.Username" autocomplete="off" required>
            </div>

            <div class="form-group pos-relative">
                <label class="input-abs-text">Şifre:</label>
                <input type="text" name="password" class="form-control" value="@Model.ManagerUser.Password" autocomplete="off" required>
            </div>

        </div>
    </div>

</form>*@