﻿<div class="kt-portlet kt-portlet--mobile mt25">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Limitler
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <form id="limits-form">
            <input type="hidden" name="id" value="@Model?.Data?.Id"/>

            <div class="form-group">
                <label>Tekli:</label>
                <input type="number" name="single" class="form-control" placeholder="Tekli adet giriniz" required autocomplete="off" value="@Model?.Data?.Single">
            </div>

            <div class="form-group">
                <label>Çoklu:</label>
                <input type="number" name="multiple" class="form-control" placeholder="Çoklu adet giriniz" required autocomplete="off" value="@Model?.Data?.Multiple">
            </div>

            <button id="modal-submit" type="button" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="/org/library/js/jquery-table.js?v=0.7"></script>
    <script src="/org/library/js/jquery-autocomplete.js?v=0.7"></script>
    <script src="/org/js/views/warehouse/limits/index.js?v=0.8"></script>
}