﻿@{
    ViewData["Title"] = "Hakkımızda";
    ViewData["Description"] = "Yeşim Kozmetik 2005 yılında peyzaj mimarları tarafından tasarlanmıştır. Bu alandaki en kapsamlı en eski fidan, fide, tohum ve bahçe malzemeleri satışı yapan markalardan biridir.";

}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")"><i class="fi-rs-home mr-5"></i>Ana Sayfa</a> <span></span>
                <h1 class="font-sm">Hakkımızda</h1>
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="row align-items-center mb-50">
                        <div class="col-lg-6">
                            <img src="/themes/cosmetic/imgs/page/hakkimizda.jpg" alt="@(Model.Company.Name) hakkında" class="border-radius-15 mb-md-3 mb-lg-0 mb-sm-4" />
                        </div>
                        <div class="col-lg-6">
                            <div class="pl-25">
                                <h2 class="mb-30">@(Model.Company.Name) Hakkında</h2>
                                <p class="mb-25">
                                    Ülkemizin her bölgesindeki Kuaför Salonları, Güzellik Merkezleri, Ağda salonları ve Bakım Merkezi müşterilerimize kapıda ödemeli malzeme teslimatı yapmaktayız. Bayiliklerini üstlendiğimiz güvenilir markaların kaliteli ürünlerini müşterilerimize ulaştırırken genç ve dinamik yapımız profosyonel yönetim  anlayışımız ile işimizi keyifle yapıyoruz.
                                </p>
                         <p>
                             2018 yılından beri Gaziantep merkez de başlayan Ticaret  yolculuğumuz da güvenilir ve kaliteli hizmet anlayışı, ilkeli ve dürüst ticaret prensiplerine özen göstererek faaliyetimizi sürdürmekteyiz.

                         </p>
                         <h3>Misyonumuz</h3>
                         <p>
                             ‘’Müşteri memnuniyeti paradan daha değerlidir’’ ilkemizden ödün vermeden  tüm müşterilerimizin  mutlu ve keyifli alışveriş  deneyimleri yaşamalarını sürekli kılmaktır.

                         </p>
                         <h3>
                             Vizyonumuz
                         </h3>
                         <p>
                             Kozmetik Sektöründe En Güvenilir ve En Hızlı Büyüyen Şirket Olmak
                         </p>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>

    </div>
</main>