﻿@model ECommerce.Application.Client.ViewModels.Home.DeliveryAndReturns
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" ><i class="fi-rs-home mr-5"></i>Ana Sayfa</a> 
                <span></span>
                <h1 class="font-sm">Teslimat ve İade</h1>
            </div>
        </div>
    </div>
    <div class="page-content pt-30">
        <div class="container">
            <div class="row">
                <div class="middle-container">
                    <div class="head">
                        <h2>Teslimat ve İade</h2>
                        <p class="mb-15">Siz değerli müşterilerimize en kaliteli hizmeti sunabilmek için sizlerin en çok sorduğu soruları ve cevaplarını sizin için derledik...</p>
                    </div>
             <div class="custom__content"> <p>MADDE 1- SATICI</p><p>Ünvanı: @(Model.Company.Name) Ltd. Şti.&nbsp; Bundan sonra SATICI olarak geçecektir.</p><p>Adresi:&nbsp; @Model.Company.CompanyContact.Address </p><p>Telefon: @(Model.Company.CompanyContact.PhoneNumber)</p><p>E-mail: @(Model.Company.CompanyContact.Email)</p><p>MADDE 2- KONU</p><p>İşbu sözleşmenin konusu, TÜKETİCİ'nin SATICI'ya ait "@Model.Company.Name" internet sitesinden elektronik ortamda siparişini yaptığı aşağıda nitelikleri ve satış fiyatı belirtilen ürünün satışı ve teslimi ile ilgili olarak 4077 sayılı Tüketicilerin Korunması Hakkındaki Kanun ve Mesafeli Sözleşmeleri Uygulama Esas ve Usulleri Hakkında Yönetmelik hükümleri gereğince tarafların hak ve yükümlülüklerinin saptanmasıdır.</p><p>MADDE 3- SÖZLEŞME KONUSU ÜRÜN</p><p>Ürünlerin Cinsi ve türü, Miktarı, Marka/Modeli, Rengi, Satış Bedeli web sitesinde belirtildiği gibidir.</p><p>MADDE 4- GENEL HÜKÜMLER</p><p>4.1- TÜKETİCİ, SATICI internet sitesinde sözleşme konusu ürünün/lerin temel nitelikleri, satış fiyatı ve ödeme şekli ile teslimata ilişkin ön bilgileri okuyup bilgi sahibi olduğunu ve elektronik ortamda gerekli teyidi verdiğini beyan eder.</p><p>4.2- Sözleşme konusu maddi ürün, yasal 30 günlük süreyi aşmamak koşulu ile her bir ürün için TÜKETİCİ' nin yerleşim yerinin uzaklığına bağlı olarak internet sitesinde ön bilgiler içinde açıklanan süre içinde TÜKETİCİ veya gösterdiği adresteki kişi/kuruluşa teslim edilir.</p><p>4.3- Sözleşme konusu sanal/yazılımsal ürün, yasal 30 günlük süreyi aşmamak koşulu ile her bir ürün için elektronik olarak SATICI internet sitesinde TÜKETİCİ adına açılmış olan üyelik altında kullanılabilir veya TÜKETİCİ ‘nin kayıtlı e-posta adresinde belirtilen link aracılığı kullanılabilir olarak teslim edilir. Bu ürün tipi için fiziksel gönderim sağlanmaz.</p><p>4.4- SATICI, sözleşme konusu sanal/yazılımsal ürünün siparişte belirtilen niteliklere uygun, varsa kullanım kılavuzu/ları ile teslim edilmesinden sorumludur.</p><p>4.5- Sözleşme konusu ürünün teslimatı için işbu sözleşmenin imzalı nüshasının SATICI'ya ulaştırılmış olması veya TÜKETİCİ tarafından SATICI internet sitesi üzerinden elektronik olarak veya TÜKETİCİ ‘nin kayıtlı e-posta adresine gönderilen onay e-postasına istinaden elektronik olarak TÜKETİCİ tarafından onay alınması ve bedelinin TÜKETİCİ'nın tercih ettiği ödeme şekli ile ödenmiş olması şarttır. Herhangi bir nedenle ürün bedeli ödenmez veya banka kayıtlarında iptal edilir ise, SATICI ürünün teslimi yükümlülüğünden kurtulmuş kabul edilir.</p><p>4.6- Ürünün tesliminden sonra TÜKETİCİ'ye ait kredi kartının TÜKETİCİ'nin kusurundan kaynaklanmayan bir şekilde yetkisiz kişilerce haksız veya hukuka aykırı olarak kullanılması nedeni ile ilgili banka veya finans kuruluşun ürün bedelini SATICI'ya ödememesi halinde, TÜKETİCİ'nin kendisine teslim edilmiş olması kaydıyla maddi ürünün 3 gün içinde SATICI ‘ya iade etmesi zorunludur. Ürün, sanal/yazılımsal ise SATICI lisans anahtarının aktivasyonunu derhal iptal etme hakkına sahiptir. Bu takdirde maddi ürünler için nakliye giderleri TÜKETİCİ'ye aittir.</p><p>4.7- SATICI mücbir sebepler veya maddi ürünler için nakliyeyi engelleyen hava muhalefeti, ulaşımın kesilmesi gibi olağanüstü durumlar nedeni ile sözleşme konusu ürünü süresi içinde teslim edemez ise, durumu TÜKETİCİ'ye bildirmekle yükümlüdür. Bu takdirde TÜKETİCİ siparişin iptal edilmesini, sözleşme konusu ürünün varsa emsali ile değiştirilmesini, ve/veya teslimat süresinin engelleyici durumun ortadan kalkmasına kadar ertelenmesi haklarından birini kullanabilir. TÜKETİCİ'nin siparişi iptal etmesi halinde ödediği tutar 15 gün içinde kendisine nakten ve defaten ödenir.</p><p>4.8- 18 yaşından küçük kişiler SATICI'dan alışveriş yapamaz.</p><p>4.9- Dizgi ve sistem hatalarından meydana gelen fiyat yanlışlıklarından SATICI sorumlu değildir.</p><p>4.10- SATICI, internet sitesinden satışını yaptığı tüm ürünlerin içeriğini, kapsamını ve özelliklerini değiştirme ve iptal etme hakkına sahiptir.</p><p>4.11- Siparişin gerçekleşmesi durumunda ALICI işbu sözleşmenin tüm koşullarını kabul etmiş sayılır.</p><p>MADDE 5- CAYMA HAKKI</p><p>TÜKETİCİ, sözleşme konusu ürünün/lerin kendisine veya gösterdiği adresteki kişi/kuruluşa tesliminden itibaren maddi ürünler için 7 gün içinde işbu sözleşmesinin 6. Maddesinde belirtilen kurallar dahilinde cayma hakkına sahiptir. Cayma hakkının kullanılması için bu süre içinde SATICI'ya faks, e-posta veya telefon ile bildirimde bulunulması ve ürünün 6. madde hükümleri çerçevesinde kullanılmamış olması şarttır. Bu hakkın kullanılması halinde, 3. kişiye veya TÜKETİCİ'ye teslim edilen maddi ürünün SATICI'ya gönderildiğine ilişkin kargo teslim tutanağı örneği ile fatura aslının iadesi zorunludur. Bu belgelerin ulaşmasını takip eden maddi ürünler için 15 gün içinde ürün bedeli TÜKETİCİ'ye edilir. Cayma hakkı nedeni ile iade edilen maddi ürünün kargo bedeli TÜKETİCİ tarafından karşılanır. Fatura aslı ibraz edilmeden iade işlemi gerçekleştirilmez.</p><p>MADDE 6- CAYMA HAKKI KULLANILAMAYACAK ÜRÜNLER</p><p>Niteliği itibarıyla iade edilemeyecek ürünler, hizmetler, modüller, tek kullanımlık ürünler, alan adı, kopyalanabilir yazılım ve programlar, sarf malzemeleri, hızlı bozulan veya son kullanım tarihi geçen ürünler ve hizmet olarak sunulan ürünler&nbsp;için cayma hakkı kullanılamaz.&nbsp;&nbsp;</p><p>MADDE 7 - 7&nbsp;GÜN İADE POLİTİKASI</p><p>SATICI'nın kampanya dahilinde uyguladığı 7&nbsp;gün iade politikası gereğince MÜŞTERİ&nbsp;sistemi iade hakkına sahiptir. Bu 7 gün iade politikası SATICI tarafından iade kampanyası uygulanmadığı zamanlarda geçerli değildir. Sadece kampanya süresince satın alan kullanıcıları kapsar. Kampanyaya dahil olan MÜŞTERİ eğer alan adını ücretsiz olarak SATICI'dan satın almışsa, 7 günlük iade hakkını kullanmak istemesi durumunda;</p><ul><li>Alan adı tahsis ücreti için 12$ + KDV,</li><li>Ücretli SSL kurulum hizmetleri için 15$ + KDV</li></ul><p>kesinti yapılarak kalan tutar müşteriye 7 gün içinde iade edilir.&nbsp;</p><p>7 gün iade politikası sadece <a href="https://@Model.Company.Name/">Bulutweb</a>&nbsp;lisans kullanımı kapsar. Lisans haricinde alınan ek hizmetler (ek modüller, hizmetler dahil) iade sürecine dahil değildir.&nbsp;Promosyonlu veya kampanyalı ürünlerden birinin iade edilmesi durumunda promosyon şartları ortadan kalkar. Email hesabı kullanılmış, reklam veya tanıtım ile ziyaretçi almış web siteleri iade kapsamına girmemektedir.&nbsp;&nbsp;</p><p>İade edilemeyen ürün için promosyonsuz fiyat üzerinden kesinti uygulanır.&nbsp;İade politikamız hakkında detaylar Satış sözleşmesinde ayrıca sunulmuştur.&nbsp;</p><p>MADDE 7- YETKİLİ MAHKEME</p><p>İşbu sözleşmenin uygulanmasında, Sanayi ve Ticaret Bakanlığınca ilan edilen değere kadar Tüketici Hakem Heyetleri ile SATICI'nın yerleşim yerindeki Tüketici Mahkemeleri yetkilidir.</p> </div>
                </div>

            </div>
        </div>
    </div>
</main>