﻿@model ECommerce.Application.Client.ViewModels.Home.DistanceSalesAgreement
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" ><i class="fi-rs-home mr-5"></i>Ana Sayfa</a> 
                <span></span>
                <h1 class="font-sm">Mesafeli Satış Sözleşmesi</h1>
            </div>
        </div>
    </div>
    <div class="page-content pt-30">
        <div class="container">
            <div class="row">
                <div class="middle-container">
                    <div class="head">
                        <h2>Mesafeli Satış Sözleşmesi</h2>
                        <p class="mb-15">Siz değerli müşterilerimize en kaliteli hizmeti sunabilmek için sizlerin en çok sorduğu soruları ve cevaplarını sizin için derledik...</p>
                    </div>
                    <div class="text-description">
<p><span style="font-size: 12pt;"><strong>MADDE 1 TARAFLAR</strong></span></p>
<p><span style="font-size: 12pt;"><strong><br> </strong>1.1-SATICI</span></p>
<table>
<tbody>
<tr>
<td>
<p><span style="font-size: 12pt;"><strong>Ünvanı</strong></span></p>
</td>
<td>
<p><span style="font-size: 12pt;">: @(Model.Company.Name) &nbsp; San ve Dış Tic. Ltd. Şti</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-size: 12pt;"><strong>Mersis</strong></span></p>
</td>
<td>
<p><span style="font-size: 12pt;">: 0395068466000018</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-size: 12pt;"><strong>Telefon</strong></span></p>
</td>
<td>
<p><span style="font-size: 12pt;">: @(Model.Company.CompanyContact.PhoneNumber)</span></p>
</td>
</tr>
<tr>

<td>
<p><span style="font-size: 12pt;">: </span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-size: 12pt;"><strong>Eposta adresi</strong></span></p>
</td>
<td>
<p><span style="font-size: 12pt;">: @(Model.Company.CompanyContact.Email)</span></p>
</td>
</tr>
</tbody>
</table>
<p><br><span style="font-size: 12pt;"> 1.2-ALICI</span></p>
<table>
<tbody>
<tr>
<td>
<p><span style="font-size: 12pt;"><strong>Adı/Soyadı/Ünvanı</strong></span></p>
</td>
<td>
<p><span style="font-size: 12pt;">:</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-size: 12pt;"><strong>Adresi</strong></span></p>
</td>
<td>
<p><span style="font-size: 12pt;">:</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-size: 12pt;"><strong>Telefon</strong></span></p>
</td>
<td>
<p><span style="font-size: 12pt;">:</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-size: 12pt;"><strong>Eposta adresi</strong></span></p>
</td>
<td>
<p><span style="font-size: 12pt;">:</span></p>
</td>
</tr>
</tbody>
</table>
<p><span style="font-size: 12pt;"><strong>MADDE 2 KONU</strong></span></p>
<p><span style="font-size: 12pt;">İşbu sözleşmenin konusu, MÜŞTERİ'nin&nbsp;@(Model.Company.CompanyContact.WebUrl)&nbsp;internet sitesinden elektronik ortamda siparişini yaptığı ve Madde 3.1 de kodu, adı, adedi ve satış fiyatı belirtilen ürünün/ürünlerin satışı ve teslimi ile ilgili olarak 6502 sayılı Tüketicinin Korunması Hakkındaki Kanun hükümleri gereğince tarafların hak ve yükümlülüklerinin saptanmasıdır.</span></p>
<p><span style="font-size: 12pt;"><strong>MADDE 3&nbsp;SÖZLEŞME KONUSU ÜRÜN, ÖDEME VE TESLİMATINA İLİŞKİN HUSUSLARIN BELİRLENMESİ</strong></span></p>
<p><span style="font-size: 12pt;"><strong><br> <br> </strong>3.1-<strong>ÜRÜNLER<br> <br> </strong>Mal ya da hizmetlerin temel özellikleri @(Model.Company.CompanyContact.WebUrl) adresinde yer almaktadır.&nbsp;</span></p>
<p><span style="font-size: 12pt;">Listelenen ve sitede ilan edilen fiyatlar satış fiyatıdır. İlan edilen fiyatlar ve vaatler güncelleme yapılana ve değiştirilene kadar geçerlidir. Süreli olarak ilan edilen fiyatlar ise belirtilen süre sonuna kadar geçerlidir.</span></p>
<p><span style="font-size: 12pt;">Sözleşme Konusu mal ya da hizmetin tüm vergileri satış fiyatına dahildir.</span><br> <br> <br><span style="font-size: 12pt;"> 3.2-<strong>TESLİMAT ŞEKLİ VE PLANI</strong></span></p>
<table>
<tbody>
<tr>
<td>
<p><span style="font-size: 12pt;"><strong>Teslimat Adresi</strong></span></p>
</td>
<td>
<p><span style="font-size: 12pt;">:</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-size: 12pt;"><strong>Teslim Edilecek Kişi</strong></span></p>
</td>
<td>
<p><span style="font-size: 12pt;">:</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-size: 12pt;"><strong>Fatura Bilgileri</strong></span></p>
</td>
<td>
<p><span style="font-size: 12pt;">:</span></p>
</td>
</tr>
</tbody>
</table>
<p><span style="font-size: 12pt;">Ürün sevkiyatlarına ürün @(Model.Company.Name) San. ve Dış Tic. Ltd. Şti. tarafından tedarik edildikten sonraki en geç 2 işgünü içinde başlanacaktır. 150 TL üzeri siparişlerde kargo ücretsizdir. 150 TL altı siparişlerde ürün sevkiyat masrafı olan kargo ücreti ALICI tarafından ödenecektir.&nbsp;</span><br> <br><span style="font-size: 12pt;"> 3.3 GECİKME FAİZİ</span></p>
<p><span style="font-size: 12pt;">Ödeme peşin ya da kredi kartı ile yapılacağı için SATICI tarafından gecikme faizi uygulanmaz.</span></p>
<p><span style="font-size: 12pt;"><strong>MADDE 4 GENEL HÜKÜMLER<br> <br> </strong>4.1) ALICI, @(Model.Company.CompanyContact.WebUrl).com internet sitesinde sözleşme konusu ürünün temel nitelikleri, satış fiyatı ve ödeme şekli ile teslimata ilişkin ön bilgileri okuyup bilgi sahibi olduğunu ve elektronik ortamda gerekli teyidi verdiğini beyan eder. ALICI; bu Ön Bilgilendirmeyi elektronik ortamda teyit etmekle, mesafeli sözleşmelerin akdinden önce, SATICI tarafından ALICI'ya verilmesi gereken adres, siparişi verilen ürünlere ait temel özellikler, ürünlerin vergiler dahil fiyatı, ödeme ve teslimat bilgilerini de doğru ve eksiksiz olarak edindiğini teyid etmiş olur.</span><br> <br><span style="font-size: 12pt;"> 4.2) Sözleşme konusu ürün, yasal 30 günlük süreyi aşmamak koşulu ile her bir ürün için ALICI'nın yerleşim yerinin uzaklığına bağlı olarak internet sitesinde yer alan ön bilgiler içinde açıklanan süre içinde ALICI veya gösterdiği adresteki kişi/kuruluşa teslim edilir.</span><br> <br><span style="font-size: 12pt;"> 4.3) Kargo firmasının, ürünü ALICI’ya teslimi aşamasında karşılaşacağı her türlü sorun nedeniyle, siparişi verilen ürünün ALICI'ya teslim edilememesinden dolayı SATICI sorumlu tutulamaz.</span><br> <br><span style="font-size: 12pt;"> 4.4) SATICI, sözleşme konusu ürünün sağlam, eksiksiz, siparişte belirtilen niteliklere uygun ve varsa garanti belgeleri ve kullanım kılavuzları ile teslim edilmesinden sorumludur.</span><br> <br><span style="font-size: 12pt;"> 4.5) SATICI, sözleşmeden doğan ifa yükümlülüğünün süresi dolmadan ALICI’yı bilgilendirmek ve açıkça onayını almak suretiyle eşit kalite ve fiyatta farklı bir ürün tedarik edebilir.</span><br> <br><span style="font-size: 12pt;"> 4.6) SATICI, sipariş konusu ürün veya hizmetin yerine getirilmesinin imkânsızlaşması halinde sözleşme konusu yükümlülüklerini yerine getiremezse, bu durumu, sözleşmeden doğan ifa yükümlülüğünün süresi dolmadan tüketiciye bildirir ve 10 iş günlük süre içinde toplam bedeli ALICI’ya iade eder.</span><br> <br><span style="font-size: 12pt;"> 4.7) Ürünün teslimatı için işbu Ön Bilgilendirme Formunun elektronik ortamda teyid edilmesi şarttır. Herhangi bir nedenle ürün bedeli ödenmez veya banka kayıtlarında iptal edilir ise, SATICI ürünün teslimi yükümlülüğünden kurtulmuş kabul edilir.</span><br> <br><span style="font-size: 12pt;"> 4.8) Ürünün tesliminden sonra ALICI'ya ait kredi kartının ALICI'nın kusurundan kaynaklanmayan bir şekilde yetkisiz kişilerce haksız veya hukuka aykırı olarak kullanılması nedeni ile ilgili banka veya finans kuruluşun ürün bedelini SATICI'ya ödememesi halinde, ALICI kendisine teslim edilmiş olması kaydıyla ürünü 3 gün içinde SATICI'ya iade etmek zorundadır. Bu takdirde nakliye giderleri ALICI'ya aittir.</span><br> <br><span style="font-size: 12pt;"> 4.9) SATICI mücbir sebepler veya nakliyeyi engelleyen hava muhalefeti, ulaşımın kesilmesi gibi olağanüstü durumlar nedeni ile sözleşme konusu ürünü süresi içinde teslim edemez ise, durumu ALICI'ya bildirmekle yükümlüdür. Bu takdirde ALICI siparişin iptal edilmesini, sözleşme konusu ürünün varsa emsali ile değiştirilmesini ve/veya teslimat süresinin engelleyici durumun ortadan kalkmasına kadar ertelenmesi haklarından birini kullanabilir. ALICI'nın siparişi iptal etmesi halinde ödediği tutar 10 gün içinde kendisine nakden ve defaten ödenir. ALICI’nın kredi kartı ile yaptığı ödemelerde ise, ürün tutarı, siparişin ALICI tarafından iptal edilmesinden sonra 7 gün içerisinde ilgili bankaya iade edilir. Bu tutarın bankaya iadesinden sonra ALICI hesaplarına yansıması tamamen banka işlem süreci ile ilgili olduğundan, ALICI, olası gecikmeler için SATICI’nın herhangi bir şekilde müdahalede bulunmasının mümkün olamayacağını ve SATICI tarafından kredi kartına iade edilen tutarın banka tarafından ALICI hesabına yansıtılmasının ortalama 2 ile 3 haftayı bulabileceğini şimdiden kabul etmektedir.</span><br><span style="font-size: 12pt;"> <strong><br> MADDE 5 ÖDEME İADE PROSEDÜRÜ</strong></span></p>
<ul>
<li><span style="font-size: 12pt;">MÜŞTERİ’nin cayma hakkını kullandığı durumlarda ya da siparişe konu olan ürünün çeşitli sebeplerle tedarik edilememesi veya hakem heyeti kararları ile MÜŞTERİ’ye bedel iadesine karar verilen durumlarda, SATICI tahsil etmiş olduğu tutarın tamamını tahsilatın yapıldığı kredi kartına tek seferde 14 gün içerisinde iade edecektir. Banka tarafından, MÜŞTERİ ürünü kaç taksit ile aldıysa ödeme iadesini de yine taksitli olarak aynı adetteki taksitle MÜŞTERİ kredi kartlarına yapmaktadır. Eğer iade tarihi ile kartın hesap kesim tarihleri çakışmazsa her ay karta 1 (bir) iade yansıyacak ve MÜŞTERİ iade öncesinde ödemiş olduğu taksitleri satışın taksitleri bittikten sonra, iade öncesinde ödemiş olduğu taksitleri sayısı kadar ay daha alacak ve mevcut borçlarından düşmüş olacaktır.</span></li>
</ul>
<p></p>
<ul>
<li><span style="font-size: 12pt;">Satın alınmış ürünlerin iadesi durumunda; SATICI tahsil etmiş olduğu tutarın tamamını tahsilatın yapıldığı kredi kartına tek seferde iade edecektir. Banka tarafından, MÜŞTERİ ürünü kaç taksit ile aldıysa ödeme iadesini de yine taksitli olarak aynı adetteki taksitle MÜŞTERİ kredi kartlarına yapmaktadır. Eğer iade tarihi ile kartın hesap kesim tarihleri çakışmazsa her ay karta 1 (bir) iade yansıyacak ve MÜŞTERİ iade öncesinde ödemiş olduğu taksitleri satışın taksitleri bittikten sonra, iade öncesinde ödemiş olduğu taksitleri sayısı kadar ay daha alacak ve mevcut borçlarından düşmüş olacaktır<strong>.</strong></span></li>
</ul>
<p></p>
<p><span style="font-size: 12pt;">MÜŞTERİ, bu prosedürü okuduğunu ve kabul ettiğini kabul ve taahhüt eder.</span><br> </p>
<p><span style="font-size: 12pt;"><strong>MADDE 6 CAYMA HAKKI</strong></span></p>
<p><span style="font-size: 12pt;">ALICI; mal satışına ilişkin mesafeli sözleşmelerde, ürünün kendisine veya gösterdiği adresteki kişi/kuruluşa teslim tarihinden itibaren 14 (ondört) gün içerisinde hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir gerekçe göstermeksizin malı reddederek sözleşmeden cayma hakkını kullanabilir. Hizmet sunumuna ilişkin mesafeli sözleşmelerde ise, bu süre sözleşmenin imzalandığı tarihte başlar. Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile hizmetin ifasına başlanan hizmet sözleşmelerinde cayma hakkı kullanılamaz. Cayma hakkının kullanımından kaynaklanan masraflar SATICI’ya aittir. Cayma hakkının kullanılması için 14 günlük süre içinde SATICI'ya iadeli taahhütlü posta, faks veya e-posta ile yazılı bildirimde bulunulması ve ürünün 5-e&nbsp;madde hükümleri çerçevesinde kullanılmamış olması şarttır. Bu hakkın kullanılması halinde,</span><br><span style="font-size: 12pt;"> a) 3. kişiye veya ALICI’ya teslim edilen ürünün faturası, (İade edilmek istenen ürünün faturası kurumsal ise, geri iade ederken kurumun düzenlemiş olduğu iade faturası ile birlikte gönderilmesi gerekmektedir. Faturası kurumlar adına düzenlenen sipariş iadeleri İADE FATURASI kesilmediği takdirde tamamlanamayacaktır.)</span><br><span style="font-size: 12pt;"> b) Cayma hakkını kullanırken belirtilen dilekçe,</span><br><span style="font-size: 12pt;"> c) İade edilecek ürünlerin kutusu, ambalajı, varsa standart aksesuarları ile birlikte eksiksiz ve hasarsız olarak teslim edilmesi gerekmektedir.</span><br><span style="font-size: 12pt;"> d) SATICI, cayma bildiriminin kendisine ulaşmasında itibaren en geç 10 günlük süre içerisinde toplam bedeli ve alıcıyı borç altına sokan belgeleri ALICI’ya iade etmek ve 20 günlük süre içerisinde malı iade almakla yükümlüdür.</span><br><span style="font-size: 12pt;"> e) ALICI’nın kusurundan kaynaklanan bir nedenle malın değerinde bir azalma olursa veya iade imkânsızlaşırsa ALICI kusuru oranında SATICI’nın zararlarını tazmin etmekle yükümlüdür. Kişiye özel ölçü ve ürünler SATICI tarafından iade alınamaz. Hijyen gerektiren küpe vb ürünler SATICI tarafından iade alınamaz. Cayma hakkı kullanılmak istenen ürünler kullanılmamış olmalıdır. Bir defaya mahsus paketi açılan teknolojik ürünler SATICI tarafından iade alınamamaktadır.</span><br><span style="font-size: 12pt;"> f) Cayma hakkının kullanılması nedeniyle SATICI tarafından düzenlenen Alışveriş çeki kullanabilme tutarının altına düşülmesi halinde kampanya kapsamında faydalanılan Alışveriş çeki tutarı iptal edilir.</span></p>
<p><span style="font-size: 12pt;"><strong>MADDE 7&nbsp; YETKİLİ MAHKEME</strong></span></p>
<p><span style="font-size: 12pt;">İşbu sözleşmenin uygulanmasında, Sanayi ve Ticaret Bakanlığınca ilan edilen değere kadar Tüketici Hakem Heyetleri ile ALICI'nın veya SATICI'nın yerleşim yerindeki Tüketici Mahkemeleri yetkilidir. Alıcı tarafından başvurulacak&nbsp; merciilerdir.</span></p>
<p><span style="font-size: 12pt;">Siparişin gerçekleşmesi durumunda ALICI işbu sözleşmenin tüm koşullarını kabul etmiş sayılır.</span></p>
<p><span style="font-size: 12pt;">İşbu Sözleşme ticari amaçlarla yapılmıştır.</span></p>
<p><span style="font-size: 12pt;">&nbsp;</span></p>
<table>
<tbody>
<tr>
<td>
<p><span style="font-size: 12pt;">SATICI</span></p>
</td>
<td>
<p><span style="font-size: 12pt;">:</span></p>
</td>
<td>
<p><span style="font-size: 12pt;">@(Model.Company.Name) San. ve Dış Tic. Ltd. Şti</span></p>
</td>
</tr>
<tr>
<td>
<p><span style="font-size: 12pt;">ALICI</span></p>
</td>
<td>
<p><span style="font-size: 12pt;">:</span></p>
</td>
<td></td>
</tr>
<tr>
<td>
<p><span style="font-size: 12pt;">TARİH</span></p>
</td>
<td>
<p><span style="font-size: 12pt;">:</span></p>
</td>
<td></td>
</tr>
</tbody>
</table>
</div>
                </div>

            </div>
        </div>
    </div>
</main>