﻿@model ECommerce.Application.Client.ViewModels.Home.Error
@{
    ViewData["Title"] = "Hata";
    ViewData["Description"] = "Teknik bir sorun mevcut bunu çözmeye çalışacağız";

}
<main class="main page-404">
    <div class="page-content pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 col-md-12 m-auto text-center">
                    <p class="mb-20"><img src="/themes/cosmetic/imgs/page/page-404.png" alt="sayfa bulunamadı" class="hover-up" /></p>
                    <h1 class="display-2 mb-30">Sayfa Bulunamadı</h1>
                    <p class="font-lg text-grey-700 mb-30">
                        Aradığınız sayfa silinmiş veya değişmiş olabilir,
                        <a href="contact.html"><span> iletişim sayfası</span></a> ile bizlere durumu iletebilirsiniz. <br />
                        Alışverişine aşağıdaki kategorilerimizi inceleyerek devam edebilirsin.

                        @if (Model != null && Model.Message != null)
                        {
                            <small>@Model.Message</small>
                        }

                    </p>

                    @foreach (var category in (List<ECommerce.Application.Client.DataTransferObjects.Category>)Model.Categories)
                    {
                        <a href="@($"/{category.Url}")" class="btn btn-default submit-auto-width font-xs hover-up mt-30"> @category.Name</a>
                    }

                </div>
            </div>
        </div>
    </div>
</main>