﻿@model ECommerce.Application.Panel.ViewModels.Stocks.Index

 <!-- Pagination::Begin -->
<div class="row mt25">
        <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__body">

                <!--begin: Pagination-->
                <div class="kt-pagination kt-pagination--brand">
                    <div class="kt-pagination__toolbar">
                        <div class="pos-relative mr-3">
                            <label class="input-abs-text">Kayıt Sayısı</label>
                            <select class="kt-hidden-select2 ajax_data_length" onchange="StockIndex.ChangePageRecordsCount(this)">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <span class="pagination__desc">
                            ...
                        </span>
                    </div>
                    <ul class="kt-pagination__links">
                        ...
                    </ul>
                </div>

                <!--end: Pagination-->
            </div>
        </div>
        </div>
</div>
<!-- Pagination::End -->


<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Stoklar
            </h3>
        </div>

    </div>
    <div class="kt-portlet__body">

        <div class="kt-portlet__body">

            <div class="dataTables_wrapper dt-bootstrap4 no-footer">

                <div class="row">

                    <div class="col-md-2">
                        <div class="form-group row mr-3">
                            <div class="kt-input-icon kt-input-icon--left">
                                <input id="ajax_data_search_name" type="text" class="form-control" placeholder="Ürün Adı Arama..." onchange="StockIndex.Read(0)">
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                            <span class="form-text text-muted ">Ürün adı ile arama yapmak için burayı kullanabilirsiniz.</span>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group row mr-3">
                            <div class="kt-input-icon kt-input-icon--left">
                                <input id="ajax_data_search_stock_code" type="text" class="form-control" placeholder="Stok Kodu Arama..." onchange="StockIndex.Read(0)">
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                            <span class="form-text text-muted">Stok kodu ile arama yapmak için burayı kullanabilirsiniz.</span>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group row row mr-3">
                            <div class="kt-input-icon kt-input-icon--left">
                                <input id="ajax_data_search_barcode" type="text" class="form-control" placeholder="Barkod Arama..." onchange="StockIndex.Read(0)">
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                            <span class="form-text text-muted">Barkod ile arama yapmak için burayı kullanabilirsiniz.</span>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group row  mr-3">
                            <div class="kt-input-icon kt-input-icon--left">
                                <input id="ajax_data_search_model_code" type="text" class="form-control" placeholder="Model Kodu Arama..." onchange="StockIndex.Read(0)">
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                            <span class="form-text text-muted">Model kodu ile arama yapmak için burayı kullanabilirsiniz.</span>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group row mr-3">
                            <div class="kt-input-icon kt-input-icon--left">

                                <select id="ajax_data_search_brand_id"
                                        class="form-control kt-select2"
                                        onchange="StockIndex.Read(0)">
                                    <option value="-1">Tümü</option>
                                    @foreach (var scLoop in Model.Brands)
                                    {
                                        <option value="@scLoop.Key">
                                            @scLoop.Value
                                        </option>
                                    }
                                </select>

                            </div>
                            <span class="form-text text-muted">Marka ile arama yapmak için burayı kullanabilirsiniz.</span>
                        </div>
                    </div>

       

                    <div class="col-md-2">
                        <div class="form-group">
                            <label></label>
                            <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand" style="margin-top:10px">

                                <input type="checkbox"
                                       class="form-control"
                                       id="ajax_data_search_only_stock_available"
                                       onchange="StockIndex.Read(0)" />
                                Sadece Stoklu Ürünler
                                <span></span>
                            </label>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="ajax_data_info" role="status" aria-live="polite"></div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row">

                    <input id="ajax_data_page" type="hidden" value="0" />

                    <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Ürün</th>
                                <th>Stok</th>
                                <th>Sanal Stok</th>
                                <th>Toplam Stok</th>
                            </tr>
                        </thead>
                        <tbody id="ajax_data"></tbody>
                    </table>

                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="ajax_data_info" role="status" aria-live="polite"></div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>

<!-- Pagination::Begin -->
<div class="row">
        <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__body">

                <!--begin: Pagination-->
                <div class="kt-pagination kt-pagination--brand">
                    <div class="kt-pagination__toolbar">
                        <div class="pos-relative mr-3">
                            <label class="input-abs-text">Kayıt Sayısı</label>
                            <select class="kt-hidden-select2 ajax_data_length" onchange="StockIndex.ChangePageRecordsCount(this)">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <span class="pagination__desc">
                            ...
                        </span>
                    </div>
                    <ul class="kt-pagination__links">
                        ...
                    </ul>
                </div>

                <!--end: Pagination-->
            </div>
        </div>
        </div>
</div>
<!-- Pagination::End -->

<!-- Modal::Begin-->
<div class="modal fade" id="stock_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="modal_submit" type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
@section Scripts {
    <script src="/org/library/js/jquery-serializer.js"></script>
    <script src="/org/library/js/jquery-table.js"></script>
    <script src="/org/js/views/stock/index.js"></script>
}