﻿@model ECommerce.Application.Panel.ViewModels.Stocks.Update


<form class="kt-form" id="stock_update_form">

    <div class="kt-portlet__body">
        <div class="kt-section kt-section--first">

            <input type="hidden" name="id" class="form-control" value="@Model.ProductInformation.Id">


            <div class="form-group">
                @if (Model.ProductInformation.ProductInformationPhotos.Count > 0)
                {
                    <img class="table-product-img" height="100" src="@Model.ProductInformation.ProductInformationPhotos[0].FileName">

                }
                <label>@Model.ProductInformation.ProductInformationName</label>
            </div>

            <div class="form-group">

                <label>Stok:</label>
                <input type="number" name="stock" class="form-control" value="@Model.ProductInformation.Stock" placeholder="Stok Giriniz" required>
            </div>
            <div class="form-group">
                <label>Sanal Stok:</label>
                <input type="number" name="virtualStock" class="form-control" value="@Model.ProductInformation.VirtualStock" placeholder="Sanal Stok Giriniz" required>
            </div>
            <div class="form-group">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" class="form-control" name="allVariantStock:boolean">
                    Tüm Varyantlara Uygula
                    <span></span>
                </label>
            </div>



        </div>
    </div>

</form>
