﻿<div class="row mt25">
    <div class="col-md-12">
        <div class="kt-portlet" id="kt_page_portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Kesim Föyleri

                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <!-- Filter Head Begin-->
                <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row" id="orderFilterRow">
                        <div id="kt_table_1_filter" class="dataTables_filter orderFilterBox flex-box">

                            <div class="form-group">
                                <label class="pos-relative">
                                    <span class="input-abs-text"> Tedarikçi</span>
                                    <select id="ajax_data_search_supplier_id" class="ot-selectpicker" style="width: 23%;">
                                        <option value="">Tümü</option>
                                        @foreach (var theSupplier in Model.Suppliers)
                                        {
                                            <option value="@theSupplier.Key">@theSupplier.Value</option>
                                        }
                                    </select>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="label-text"> Model Kodu:</span>
                                    <input id="ajax_data_search_seller_code" type="search"
                                           class="form-control form-control-sm" placeholder=""
                                           aria-controls="kt_table_1" onchange="ReceiptIndex.Read(0)" />
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="pos-relative">
                                    <span class="input-abs-text"> Termin Durumu:</span>
                                    <select id="ajax_data_search_deadline_type" class="ot-selectpicker" style="width: 23%;">
                                        <option value="">Tümü</option>
                                        <option value="15">15 Günden Az Kalanlar</option>
                                        <option value="7">7 Günden Az Kalanlar</option>
                                        <option value="3">3 Günden Az Kalanlar</option>
                                        <option value="-1">Termini Süresi Dolanlar</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="pos-relative">
                                    <span class="input-abs-text"> Teslim Durumu:</span>
                                    <select id="ajax_data_search_delivered" class="ot-selectpicker" style="width: 23%;">
                                        <option value="">Tümü</option>
                                        <option value="1">Evet</option>
                                        <option value="0">Hayır</option>
                                    </select>
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Filter Head End-->
            </div>
        </div>
    </div>
</div>

<!-- Pagination::Begin -->
<div class="row">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__body">

                <!--begin: Pagination-->
                <div class="kt-pagination kt-pagination--brand">
                    <div class="kt-pagination__toolbar flex-wrap">
                        <div class="pos-relative mr-3 flex-child">
                            <label class="input-abs-text">Sıralama</label>
                            <select class="kt-hidden-select2 ajax_data_sorting" onchange="ReceiptIndex.ChangeSorting(this)">
                                <option value="Id">Kesim Föyü No</option>
                                <option value="CreatedDateAsc">Talep Tarihi Azalan</option>
                                <option value="CreatedDateDesc">Talep Tarihi Artan</option>
                                <option value="DeadlineAsc">Termin Tarihi Azalan</option>
                                <option value="DeadlineDesc">Termin Tarihi Artan</option>
                            </select>
                        </div>
                        <div class="pos-relative mr-3 flex-child">
                            <label class="input-abs-text">Kayıt Sayısı</label>
                            <select class="kt-hidden-select2 ajax_data_length" onchange="ReceiptIndex.ChangePageRecordsCount(this)">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <span class="pagination__desc flex-child">
                            ...
                        </span>
                    </div>
                    <div class="pagination-box">
                        <ul class="kt-pagination__links">
                            ...
                        </ul>
                    </div>
                </div>

                <!--end: Pagination-->
            </div>
        </div>
    </div>
</div>
<!-- Pagination::End -->

<div class="kt-portlet">
    <div class="kt-portlet__body">

        <div class="row">

            <input id="ajax_data_page" type="hidden" value="0" />
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
                    <thead>
                        <tr class="bgGrey">
                            <th>No</th>
                            <th>Fotoğraf</th>
                            <th>Model Kodu</th>
                            <th>Tedarikçi</th>
                            <th>Talep Tarihi</th>
                            <th>Termin Tarihi</th>
                            <th>Termine Kalan Gün</th>
                            <th>Teslim Durumu</th>
                            <th>Toplam Adet</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="ajax_data"></tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- Pagination::Begin -->
<div class="row">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__body">

                <!--begin: Pagination-->
                <div class="kt-pagination kt-pagination--brand">
                    <div class="kt-pagination__toolbar flex-wrap">
                        <div class="pos-relative mr-3 flex-child">
                            <label class="input-abs-text">Sıralama</label>
                            <select class="kt-hidden-select2 ajax_data_sorting" onchange="ReceiptIndex.ChangeSorting(this)">
                                <option value="Id">Kesim Föyü No</option>
                                <option value="CreatedDateAsc">Talep Tarihi Azalan</option>
                                <option value="CreatedDateDesc">Talep Tarihi Artan</option>
                                <option value="DeadlineAsc">Termin Tarihi Azalan</option>
                                <option value="DeadlineDesc">Termin Tarihi Artan</option>
                            </select>
                        </div>
                        <div class="pos-relative mr-3 flex-child">
                            <label class="input-abs-text">Kayıt Sayısı</label>
                            <select class="kt-hidden-select2 ajax_data_length" onchange="ReceiptIndex.ChangePageRecordsCount(this)">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <span class="pagination__desc flex-child">
                            ...
                        </span>
                    </div>
                    <div class="pagination-box">
                        <ul class="kt-pagination__links">
                            ...
                        </ul>
                    </div>
                </div>

                <!--end: Pagination-->
            </div>
        </div>
    </div>
</div>
<!-- Pagination::End -->
<!-- Modal::Begin-->
<div class="modal fade" id="receipt_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
@section Scripts {
    <script src="/org/library/js/jquery-serializer.js"></script>
    <script src="/org/library/js/jquery-table.js?v=2.2"></script>
    <script src="/org/js/views/receipt/index.js?v=1.2"></script>
}