﻿@model DataResponse<Receipt>

@if (Model.Success)
{
    <input type="hidden" value="@($"{Model.Data.SellerCode}-{Model.Data.CreatedDate:ddMMyyyy}.pdf")" id="update-file-name" />
    <input type="hidden" value="@Model.Data.UnitMeter" id="update-unit-meter" />
    <input type="hidden" value="@Model.Data.Note" id="update-note" />
    <input type="hidden" value="@Model.Data.Card" id="update-card" />
    <input type="hidden" value="@Model.Data.Ticket" id="update-ticket" />
    <input type="hidden" value="@Model.Data.Wash" id="update-wash" />
    <input type="hidden" value="@Model.Data.Hanger" id="update-hanger" />
    <input type="hidden" value="@Model.Data.Rubber" id="update-rubber" />

    <div class="row">
        <div class="col-md-1">Birim Metraj</div>
        <div class="col-md-11"><b>@Model.Data.UnitMeter</b></div>
    </div>
    <div class="row">
        <div class="col-md-1">Model Kodu:</div>
        <div class="col-md-2"><b>@Model.Data.SellerCode</b></div>
        <div class="col-md-1">Tedarikçi:</div>
        <div class="col-md-2"><b>@Model.Data.SupplierName</b></div>
        <div class="col-md-1">Talep Tarihi:</div>
        <div class="col-md-2"><b>@Model.Data.CreatedDate.ToString("dd-MM-yyyy")</b></div>
        <div class="col-md-1">Termin Tarihi:</div>
        <div class="col-md-2"><b>@Model.Data.Deadline.ToString("dd-MM-yyyy")</b></div>
    </div>


    <div class="row">
        <div class="col-md-2">
            Kart:
        </div>
        <div class="col-md-10">
            <b>@Model.Data.Card</b>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            Ense Etiketi:
        </div>
        <div class="col-md-10">
            <b>@Model.Data.Ticket</b>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            Şeffaf Lastik:
        </div>
        <div class="col-md-10">
            <b>@Model.Data.Rubber</b>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            Yıkama Talimatı:
        </div>
        <div class="col-md-10">
            <b>@Model.Data.Wash</b>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            Askı:
        </div>
        <div class="col-md-10">
            <b>@Model.Data.Hanger</b>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">Not:</div>
        <div class="col-md-10"><b>@Model.Data.Note</b></div>
    </div>

    <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
        <thead>
            <tr>
                <th>Fotoğraf</th>
                <th>Ürün</th>
                <th>İstenilen Adet</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Data.ReceiptItems.Count == 0)
            {
                <tr>
                    <td colspan="3">Gösterilecek veri bulunamadı</td>
                </tr>
            }

            @foreach (var theReceiptItem in Model.Data.ReceiptItems)
            {
                <tr data-update-product-information-id="@theReceiptItem.ProductInformationId" data-update-quantity="@theReceiptItem.Quantity">
                    <td>
                        <a href="@theReceiptItem.ProductInformationPhoto" target="_blank">
                            <img width="30" src="https://imgr.helpy.com.tr/img/@theReceiptItem.ProductInformationPhoto/resize?size=150" />
                        </a>
                    </td>
                    <td>@theReceiptItem.ProductInformationName</td>
                    <td>@theReceiptItem.Quantity</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-12">
            <button type="button" id="download-receipt" class="btn btn-brand receipt" onclick="ReceiptIndex.DownloadPdf();">Pdf İndir</button>
        </div>
    </div>
}