﻿@model ECommerce.Application.Panel.ViewModels.ProductCategorizations.GetViewModel

<form id="product_categorization_form" class="kt-form kt-form--label-right">

    @for (int i = 0; i < Model.Items.Count; i++)
    {
        <div class="row">
            <div class="col-md-3">
                <input type="hidden" name="[items][@i][color]" value="@Model.Items[i].Color" />
                @Model.Items[i].Color
            </div>
            <div class="col-md-3">
                <input type="hidden" name="[items][@i][code]" value="@Model.Items[i].Code" />
                @Model.Items[i].Code
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                        <input type="checkbox" data-target="@(Model.Items[i].Code)-select" name="[items][@i][specialCategorization]:boolean" value="true" data-unchecked-value="false" @(Model.Items[i].SpecialCategorization ? "checked" : "")>
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Kategorizasyon</label>
                    <select class="form-control categorization" id="@(Model.Items[i].Code)-select" name="[items][@i][categorization]" @(Model.Items[i].SpecialCategorization ? "" : "disabled")>
                        <option @(Model.Items[i].Categorization == "CLEAR" ? "selected" : "") value="CLEAR">CLEAR</option>
                        <option @(Model.Items[i].Categorization == "CLEAR II" ? "selected" : "") value="CLEAR II">CLEAR II</option>
                        <option @(Model.Items[i].Categorization == "CLEAR-F-C" ? "selected" : "") value="CLEAR-F-C">CLEAR-F-C</option>
                        <option @(Model.Items[i].Categorization == "DISCOUNT" ? "selected" : "") value="DISCOUNT">DISCOUNT</option>
                        <option @(Model.Items[i].Categorization == "K-CLEAR" ? "selected" : "") value="K-CLEAR">K-CLEAR</option>
                        <option @(Model.Items[i].Categorization == "K-CLEAR II" ? "selected" : "") value="K-CLEAR II">K-CLEAR II</option>
                        <option @(Model.Items[i].Categorization == "K-DISCOUNT" ? "selected" : "") value="K-DISCOUNT">K-DISCOUNT</option>
                        <option @(Model.Items[i].Categorization == "K-NEW" ? "selected" : "") value="K-NEW">K-NEW</option>
                        <option @(Model.Items[i].Categorization == "K-NOS" ? "selected" : "") value="K-NOS">K-NOS</option>
                        <option @(Model.Items[i].Categorization == "NEW" ? "selected" : "") value="NEW">NEW</option>
                        <option @(Model.Items[i].Categorization == "NOS" ? "selected" : "") value="NOS">NOS</option>
                        <option @(Model.Items[i].Categorization == "STAR" ? "selected" : "") value="STAR">STAR</option>
                        <option @(Model.Items[i].Categorization == "T-CLEAR" ? "selected" : "") value="T-CLEAR">T-CLEAR</option>
                        <option @(Model.Items[i].Categorization == "T-NOS" ? "selected" : "") value="T-NOS">T-NOS</option>
                    </select>
                </div>
            </div>
        </div>
    }

</form>