﻿@model List<ECommerce.Domain.Entities.ProductCategorizationHistory>

<table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
    <thead>
        <tr>
            <th>Sku Kodu</th>
            <th>Eski</th>
            <th>Yeni</th>
            <th>Tarih</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loopModel in Model)
        {
            <tr>
                <td>@loopModel.SkuCode</td>
                <td>@loopModel.OldValue</td>
                <td>@loopModel.NewValue</td>
                <td>@loopModel.CreatedDate.ToString("dd-MM-yyyy")</td>
            </tr>
        }
    </tbody>

</table>