﻿<footer class="main">

    <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
            <div class="row">
                <div class=" col col-md-4 ">
                    <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0 wow " data-wow-delay="0">
                        <div class="logo mb-30">
                            <a href="@Url.Action("Index", "Home")" class="mb-15"><img src="/themes/baby/imgs/theme/logo.png" style="max-width:200px;" alt="logo" /></a>
                           <p class="font-md text-heading">Bebeğiniz ve çocuğunuz için tüm ihtiyacınızı birkaç tıkla satın alabilirsiniz. Yeni doğan giyim ürünlerinden bebek tulumlarına, bebek bezinden banyo ürünlerine kadar geniş bir ürün yelpazesi sizi bekliyor. </p> 
                        </div>
                        <ul class="contact-infor">

                            <li><img src="/themes/baby/imgs/theme/icons/icon-contact.svg" alt="iletişim numaraları" /><strong>tel:</strong><span><a href="tel:@(Model.Company.CompanyContact.PhoneNumber)"> @(Model.Company.CompanyContact.PhoneNumber)</a> </span></li>
                            <li><img src="/themes/baby/imgs/theme/icons/icon-email-2.svg" alt="mail adresi" /><strong>email:</strong><span><a mailto="@Model.Company.CompanyContact.Email ">@Model.Company.CompanyContact.Email</a></span></li>
                            <li>
                                <img src="/themes/baby/imgs/theme/icons/icon-location.svg" alt="adres" /><strong>adres: </strong> <span>
                                   @Model.Company.CompanyContact.Address 
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-link-widget col wow " >
                    <h4 class="widget-title">Kurumsal</h4>
                    <ul class="footer-list mb-sm-5 mb-md-0">
                        <li><a href="@Url.Action("About","Home")">Hakkımızda</a></li>
                        <li><a href="@Url.Action("Faq","Home")">Sık Sorulan Sorular</a></li>
                        @*<li><a href="#">Kullanım Sözleşmesi</a></li>*@
                        @*<li><a href="#">Banka Hesap Numaraları</a></li>*@
                        <li><a href="@Url.Action("Kvkk","Home")">Kvkk</a></li>
                        <li><a href="@Url.Action("Contact","Home")">İletişim</a></li>
                        <li><a href="@Url.Action("RegisterContract","Home")">Üyelik Sözleşmesi</a></li>
                        @*<li> <a href="@Url.Action("PaymentInfo", "Home")">Banka Hesap Numaraları</a></li>*@
                    </ul>
                </div>
                <div class="footer-link-widget col wow " data-wow-delay=".2s">
                    <h4 class="widget-title">Kategoriler</h4>
                    <ul class="footer-list mb-sm-5 mb-md-0">
                       @foreach (var category in (List<ECommerce.Application.Client.DataTransferObjects.Category>)Model.Categories)
                       {
                           <li>
                              <a href="/@category.Url">@category.Name</a>
                           </li>
                       }
                      
                    </ul>
                </div>
                <div class="footer-link-widget col wow " data-wow-delay=".4s">
                    <h4 class="widget-title">Haber listemize kaydol</h4>
                    <div class="footer-link-widget news-bulten col wow " data-wow-delay=".5s">


                        <form class="form-subcriber" id="bultenForm">
                            <div class="custome-checkbox">
                                <input class="form-check-input" type="checkbox" name="bulten-kvkk" id="bulten-kvkk" >
                                <label class="form-check-label label_info" for="bulten-kvkk"><span>Aydınlatma Metnini (KVKK) okudum, onaylıyorum.</span></label>
                            </div>
                            <div class="d-flex">
                                <input type="email" placeholder="Mail adresinizi giriniz." id="bulten-mail-input" name="bultenMail" class="mail" required autocomplete="off" />
                                <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>

                                <button onclick="BultenSave.save(event)" class="btn ml-15 bulten-save-btn" type="submit">Kayıt</button>
                            </div>
                        </form>
                        <div class="mobile-social-icon">
                            <h6>Takip Et</h6>
                            <a href="@Model.Company.CompanyContact.Facebook"><img src="/themes/baby/imgs/theme/icons/icon-facebook-white.svg" alt="@Model.Company.Name facebook" /></a>
                       
                            <a href="@Model.Company.CompanyContact.Instagram"><img src="/themes/baby/imgs/theme/icons/icon-instagram-white.svg" alt="@Model.Company.Name instagram" /></a>

                            <a href="@Model.Company.CompanyContact.Youtube"><img src="/themes/baby/imgs/theme/icons/icon-youtube-white.svg" alt="@Model.Company.Name youtube" /></a>
                        
                        </div>

                    </div>
                </div>

            </div>
           </div>
    </section>
    <div class="container pb-30 wow " data-wow-delay="0">
        <div class="row align-items-center">
            <div class="col-12 mb-30">
                <div class="footer-bottom"></div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-6">
                <p class="font-sm mb-5
                   ">&copy; 2005 - @DateTime.Now.Year, <strong class="text-brand"><a href="@Url.Action("Index","Home")">@Model.Company.Name </a></strong> Her Hakkı Gizlidir</p>
                <p class="font-sm">
                  
                    256bit SSL (Güvenlik Sertifikası) ile internette 100% Güvenli Alışveriş.
                </p>

            </div>
     
            <div class="col-xl-5 col-lg-6 col-md-6 text-end d-none d-md-block">

                <img class="" src="/themes/baby/imgs/theme/payment-method.png" alt="ödeme yöntemlerimiz" />

            </div>
        </div>
    </div>
</footer>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center">
                <img class="loadingGif" src="/themes/baby/imgs/theme/loading.gif" alt="@(Model.Company.Name) loading icon" />
            </div>
        </div>
    </div>
</div>