﻿@model ECommerce.Application.Panel.ViewModels.MarketplaceVariantMappings.IndexPartial

<form id="marketplace_form" class="kt-form">

    <input type="hidden" name="variant[id]" value="@Model.Variant.Id" />

    <div class="row">
        <div class="col-md-1">
            @Model.Variant.VariantTranslations[0].Name
        </div>
        <div class="col-md-11">
            <div class="row">
                @foreach (var theMarketplace in Model.Marketplaces)
                {
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="input-abs-text">
                                <img src="/org/img/marketplace-icons/@(theMarketplace.Id).png" height="15" /> Varyasyonlar:
                            </label>
                            <select class="form-control kt-selectpicker marketplace-variant" data-live-search="true" multiple data-marketplace-id="@theMarketplace.Id">
                                <option value="">Seçiniz</option>
                                @foreach (var theVariant in theMarketplace.Variants)
                                {
                                    <option value="@theVariant.Code" data-allow-custom="@theVariant.AllowCustom.ToString().ToLower()" data-mandatory="@theVariant.Mandatory.ToString().ToLower()" data-company-id="@theVariant.CompanyId" @Html.Raw(theVariant.Selected ? "selected" : "")>@theVariant.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    @foreach (var theVariantValue in Model.Variant.VariantValues)
    {
        <div class="row">
            <div class="col-md-1">
                @theVariantValue.VariantValueTranslations[0].Value
            </div>
            <div class="col-md-11">
                <div class="row">
                    @foreach (var theMarketplace in Model.Marketplaces)
                    {
                        <div class="col-md-2 marketplace-variant-container" data-marketplace-id="@theMarketplace.Id" data-variant-value-id="@theVariantValue.Id" data-is-ecommerce="@theMarketplace.IsECommerce.ToString().ToLower()">

                            @{
                                var marketplaceVariantValueMappings = theVariantValue.MarketplaceVariantValueMappings.Where(mvvm => mvvm.MarketplaceId == theMarketplace.Id).ToList();

                                foreach (var marketplaceVariantValueMapping in marketplaceVariantValueMappings)
                                {
                                    if (marketplaceVariantValueMapping.AllowCustom)
                                    {
                                        <div class="form-group"
                                             data-marketplace-variant-code="@marketplaceVariantValueMapping.MarketplaceVariantCode"
                                             data-marketplace-variant-name="@marketplaceVariantValueMapping.MarketplaceVariantName"
                                             data-allow-custom="@marketplaceVariantValueMapping.AllowCustom.ToString().ToLower()"
                                             data-mandatory="@marketplaceVariantValueMapping.Mandatory.ToString().ToLower()"
                                             data-company-id="@marketplaceVariantValueMapping.CompanyId">

                                            <div class="kt-input-icon kt-input-icon--left">
                                                <label class="input-abs-text">
                                                    <img src="/org/img/marketplace-icons/@(theMarketplace.Id).png" height="15" />  @marketplaceVariantValueMapping.MarketplaceVariantName
                                                </label>
                                                <input type="text" class="form-control" placeholder="" value="@marketplaceVariantValueMapping.MarketplaceVariantValueName" />
                                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                    <span><i class="la la-i-cursor"></i></span>
                                                </span>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group"
                                             data-marketplace-variant-code="@marketplaceVariantValueMapping.MarketplaceVariantCode"
                                             data-marketplace-variant-name="@marketplaceVariantValueMapping.MarketplaceVariantName"
                                             data-allow-custom="@marketplaceVariantValueMapping.AllowCustom.ToString().ToLower()"
                                             data-mandatory="@marketplaceVariantValueMapping.Mandatory.ToString().ToLower()"
                                             data-company-id="@marketplaceVariantValueMapping.CompanyId"
                                             data-marketplace-variant-value-code="@marketplaceVariantValueMapping.MarketplaceVariantValueCode"
                                             data-marketplace-variant-value-name="@marketplaceVariantValueMapping.MarketplaceVariantValueName">

                                            <div class="typeahead">
                                                <div class="kt-input-icon kt-input-icon--left">
                                                    <label class="input-abs-text">
                                                        <img src="/org/img/marketplace-icons/@(theMarketplace.Id).png" height="15" /> @marketplaceVariantValueMapping.MarketplaceVariantName
                                                    </label>
                                                    <input type="text" class="form-control" placeholder="" value="@marketplaceVariantValueMapping.MarketplaceVariantValueName" />
                                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                        <span><i class="la la-search"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }

                        </div>
                    }
                </div>
            </div>
        </div>
    }
</form>