﻿<div class="row mt25">
    <div class="col-md-12">
        <div class="kt-pagination kt-pagination--brand">
            <div class="kt-pagination__toolbar">

                <div class="pos-relative mr-3">
                    <label class="input-abs-text">Kayıt Sayısı</label>
                    <select class="dt-page-records-count kt-hidden-select2">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>

                <span class="pagination__desc dt-description">
                    ...
                </span>
            </div>
            <ul class="kt-pagination__links dt-pagination">
                ...
            </ul>
        </div>
    </div>
</div>