﻿@model ECommerce.Application.Panel.ViewModels.DataTableViewModel

<div class="kt-portlet kt-portlet--mobile mt25">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                @Model.Name
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">

        <div class="dataTables_wrapper dt-bootstrap4 no-footer">

            <div class="row">

                <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
                    <thead>
                        <tr>
                            @foreach (var theColumn in Model.Columns)
                            {
                                <th>@theColumn</th>
                            }
                        </tr>
                    </thead>
                    <tbody class="dt-data"></tbody>
                </table>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="ajax_data_info" role="status" aria-live="polite"></div>
                </div>
            </div>

        </div>

    </div>
</div>
