﻿@model List<String>

<table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
    <thead>
        <tr>
            @foreach (var theColumn in Model)
            {
                <th>@theColumn</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody class="table-v2-data"></tbody>
</table>