﻿@model ECommerce.Application.Panel.ViewModels.AccountingCompanies.Update


    <form class="kt-form" id="accounting-company_update_form">

        <div class="kt-widget4">
              <input type="hidden" name="id" value="@Model.AccountingCompany.Id" />
            @foreach (var accLoop in Model.AccountingCompany.AccountingConfigurations)
            {

                var index = Model.AccountingCompany.AccountingConfigurations.IndexOf(accLoop);

                <div class="kt-widget4__item">
                    <div class="kt-widget4__info">
                        <input type="hidden" name="accountingConfigurations[@index][id]" value="@accLoop.Id" />
                        <span>@accLoop.Key</span>
                        <input type="text" name="accountingConfigurations[@index][value]" class="form-control" value="@accLoop.Value" placeholder="Değer adı giriniz">

                    </div>
                </div>
            }
        </div>

    </form>
