﻿@model ECommerce.Application.Common.Interfaces.Services.ISettingService


<ul class="kt-menu__nav">
    <li class="kt-menu__item alfa-menu-item mr-3" aria-haspopup="true">
        <a href="/"
           class="kt-menu__link ">
            <i class="kt-menu__link-icon flaticon2-protection"></i><span class="kt-menu__link-text">Ana Sayfa</span>
        </a>
    </li>
    <li class="kt-menu__item  alfa-menu-item mr-3" aria-haspopup="true">
        <a href="/Order"
           class="kt-menu__link ">
            <i class="kt-menu__link-icon fa fa-boxes"></i><span class="kt-menu__link-text">Siparişler</span>
        </a>
    </li>
    <li class="kt-menu__item  kt-menu__item--submenu  mr-3" aria-haspopup="true"
        data-ktmenu-submenu-toggle="hover">
        <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
            <i class="kt-menu__link-icon flaticon2-cube-1"></i><span class="kt-menu__link-text">Katalog</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="kt-menu__submenu ">
            <span class="kt-menu__arrow"></span>
            <ul class="kt-menu__subnav">
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Product"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Ürünler</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/ProductPrice"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Toplu Ürün İşlemleri</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/BulkOrder"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Sipariş Toplama</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Category"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Kategoriler</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Brand"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Markalar</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Variant"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Varyasyonlar</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Stock"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Stoklar</span>
                    </a>
                </li>


                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Supplier"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Tedarikçiler</span>
                    </a>
                </li>
                @*         <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/StockInquiry"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Stok Sorgulama</span>
                    </a>
                </li> *@
            </ul>
        </div>
    </li>
    <li class="kt-menu__item  kt-menu__item--submenu  mr-3" aria-haspopup="true"
        data-ktmenu-submenu-toggle="hover">
        <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
            <i class="kt-menu__link-icon flaticon-graphic-2"></i><span class="kt-menu__link-text">Rapor</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
        </a>

        <div class="kt-menu__submenu ">
            <span class="kt-menu__arrow"></span>
            <ul class="kt-menu__subnav">

                @if (Model.IncludeWMS)
                {
                    <li class="kt-menu__item kt-menu__item--submenu"
                        data-ktmenu-submenu-toggle="hover"
                        aria-haspopup="true">
                        <a href="javascript:;"
                           class="kt-menu__link kt-menu__toggle">
                            <span class="kt-menu__link-text">KPI</span>
                            <i class="kt-menu__hor-arrow la la-angle-right"></i>
                            <i class="kt-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
                            <ul class="kt-menu__subnav">
                                <li class="kt-menu__item "
                                    aria-haspopup="true">
                                    <a href="/Warehouse/WorkOrders/KpiPicking"
                                       class="kt-menu__link ">
                                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="kt-menu__link-text">İş Emri Toplama</span>
                                    </a>
                                </li>
                                <li class="kt-menu__item "
                                    aria-haspopup="true">
                                    <a href="/Warehouse/WorkOrders/KpiPacking"
                                       class="kt-menu__link ">
                                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="kt-menu__link-text">İş Emri Paketleme</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                }


                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Report"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Satış Raporu</span>
                    </a>
                </li>

                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Report/ProductBasedSalesReport"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Ürün Bazlı Rapor</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Report/SoldTogetherReport"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Birlikte Satılanlar</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Report/PackagingReport"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Paketleme Raporu</span>
                    </a>
                </li>
                @* 

                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Report/ColorBasedSalesReport"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Renk Bazlı Ürün Raporu</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Report/StockAlert"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Stok Uyarı</span>
                    </a>
                </li>

                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Receipt"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Kesim Föyleri</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Stocktaking"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Stok Sayımı</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Report/PickedReport"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Sipariş Toplama Raporu</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Report/UnsoldProductReport"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Satılmayan Ürünler Raporu</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Report/Return"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">İade Raporu</span>
                    </a>
                </li> *@
            </ul>
        </div>
    </li>



    @if (Model.IncludeWMS)
    {
        <li class="kt-menu__item  kt-menu__item--submenu  mr-3" aria-haspopup="true"
            data-ktmenu-submenu-toggle="hover">
            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                <i class="kt-menu__link-icon flaticon2-cube-1"></i><span class="kt-menu__link-text">WMS</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="kt-menu__submenu">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                    <li class="kt-menu__item kt-menu__item--submenu"
                        data-ktmenu-submenu-toggle="hover"
                        aria-haspopup="true">
                        <a href="javascript:;"
                           class="kt-menu__link kt-menu__toggle">
                            <i class="kt-menu__link-icon flaticon2-cube-1"></i>
                            <span class="kt-menu__link-text">Depo</span>
                            <i class="kt-menu__hor-arrow la la-angle-right"></i>
                            <i class="kt-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--right">
                            <ul class="kt-menu__subnav">
                                <li class="kt-menu__item "
                                    aria-haspopup="true">
                                    <a href="/Warehouse/Warehouses"
                                       class="kt-menu__link ">
                                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="kt-menu__link-text">Depolar</span>
                                    </a>
                                </li>
                                <li class="kt-menu__item "
                                    aria-haspopup="true">
                                    <a href="/Warehouse/Floors"
                                       class="kt-menu__link ">
                                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="kt-menu__link-text">Katlar</span>
                                    </a>
                                </li>
                                <li class="kt-menu__item "
                                    aria-haspopup="true">
                                    <a href="/Warehouse/Hallways"
                                       class="kt-menu__link ">
                                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="kt-menu__link-text">Koridorlar</span>
                                    </a>
                                </li>
                                <li class="kt-menu__item "
                                    aria-haspopup="true">
                                    <a href="/Warehouse/Shelves"
                                       class="kt-menu__link ">
                                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="kt-menu__link-text">Raflar</span>
                                    </a>
                                </li>
                                <li class="kt-menu__item "
                                    aria-haspopup="true">
                                    <a href="/Warehouse/Products"
                                       class="kt-menu__link ">
                                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="kt-menu__link-text">Raf Stok</span>
                                    </a>
                                </li>
                                <li class="kt-menu__item "
                                    aria-haspopup="true">
                                    <a href="/Warehouse/Pivots"
                                       class="kt-menu__link ">
                                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="kt-menu__link-text">Pivot Alanı</span>
                                    </a>
                                </li>
                                <li class="kt-menu__item "
                                    aria-haspopup="true">
                                    <a href="/Warehouse/Pivots/PivotShelves"
                                       class="kt-menu__link ">
                                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="kt-menu__link-text">Pivot Raflar</span>
                                    </a>
                                </li>
                                <li class="kt-menu__item "
                                    aria-haspopup="true">
                                    <a href="/Warehouse/Limits"
                                       class="kt-menu__link ">
                                        <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="kt-menu__link-text">Limitler</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="kt-menu__item " aria-haspopup="true">
                        <a href="/Warehouse/WorkOrders"
                           class="kt-menu__link ">
                            <span></span><span class="kt-menu__link-text">İş Emirleri</span>
                        </a>
                    </li>
                    @*     <li class="kt-menu__item " aria-haspopup="true">
                        <a href="/Xml/Definations"
                           class="kt-menu__link ">
                            <span></span><span class="kt-menu__link-text">Xml</span>
                        </a>
                    </li> *@

                </ul>
            </div>
        </li>

    }

    <li class="kt-menu__item  kt-menu__item--submenu " aria-haspopup="true"
        data-ktmenu-submenu-toggle="hover">
        <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
            <i class="kt-menu__link-icon flaticon-settings-1"></i><span class="kt-menu__link-text">Ayarlar</span><i class="kt-menu__ver-arrow la la-angle-right"></i>
        </a>
        <div class="kt-menu__submenu ">
            <span class="kt-menu__arrow"></span>
            <ul class="kt-menu__subnav">
                @if (Model.IncludeECommerce || Model.IncludeMarketplace)
                {
                    @*     <li class="kt-menu__item " aria-haspopup="true">
                        <a href="/ShipmentCompany"
                           class="kt-menu__link ">
                            <span></span><span class="kt-menu__link-text">Kargo Şirketleri</span>
                        </a>
                    </li> *@
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a href="/AccountingCompany"
                           class="kt-menu__link ">
                            <span></span><span class="kt-menu__link-text">Muhasebe Firmaları</span>
                        </a>
                    </li>
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a href="/ProductSourceDomain"
                           class="kt-menu__link ">
                            <span></span><span class="kt-menu__link-text">Xml Sağlayıcısı</span>
                        </a>
                    </li>
                }
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Marketplace"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Pazaryeri</span>
                    </a>
                </li>
                <li class="kt-menu__item " aria-haspopup="true">
                    <a href="/Company"
                       class="kt-menu__link ">
                        <span></span><span class="kt-menu__link-text">Firma Ayarları</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>