﻿@model ECommerce.Application.Panel.ViewModels.Homes.Index

@if (Model.UserRole != "sales")
{
    <div class="kt-portlet mt25">
        <div class="kt-portlet__body  kt-portlet__body--fit">
            <div class="row row-no-padding row-col-separator-lg">

                <div class="col-md-12 col-lg-4 col-xl-4">

                    <!--begin::Total Profit-->
                    <div class="kt-widget24">
                        <div class="kt-widget24__details">
                            <div class="kt-widget24__info">
                                <h4 class="kt-widget24__title">
                                    Bugün Toplam Sipariş
                                </h4>
                                <span class="kt-widget24__desc">

                                </span>
                            </div>
                            <span class="kt-widget24__stats kt-font-brand">
                                @Model.Widget.OrderSummary.TodayOrdersCount
                            </span>
                        </div>
                    </div>

                    <!--end::Total Profit-->
                </div>

                <div class="col-md-12 col-lg-4 col-xl-4">

                    <!--begin::New Users-->
                    <div class="kt-widget24">
                        <div class="kt-widget24__details">
                            <div class="kt-widget24__info">
                                <h4 class="kt-widget24__title">
                                    Bugün Paketlenen Siparişler
                                </h4>
                                <span class="kt-widget24__desc">

                                </span>
                            </div>
                            <span class="kt-widget24__stats kt-font-success">
                                @Model.Widget.OrderSummary.PackedOrdersCount
                            </span>
                        </div>
                    </div>

                    <!--end::New Users-->
                </div>

                <div class="col-md-12 col-lg-4 col-xl-4">

                    <!--begin::New Feedbacks-->
                    <div class="kt-widget24">
                        <div class="kt-widget24__details">
                            <div class="kt-widget24__info">
                                <h4 class="kt-widget24__title">
                                    Paketlenmeyen Siparişler
                                </h4>
                                <span class="kt-widget24__desc">

                                </span>
                            </div>
                            <span class="kt-widget24__stats kt-font-warning">
                                @Model.Widget.OrderSummary.UnpackedOrdersCount
                            </span>
                        </div>
                    </div>

                    <!--end::New Feedbacks-->
                </div>

            </div>
        </div>
    </div>
}

@if (Model.UserRole == "manager")
{
    <div class="row">

        <div class="col-md-6">

            <div class="row">
                <div class="col-md-12">
                    <small id="refresh-date-time" class="float-right"></small>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <small class="kt-font-bolder">Bugünkü Net Ciro</small>

                    <table>
                        <tr>
                            <td>
                                <h2 id="current-sales-amount" class="kt-font-warning kt-font-boldest"></h2>
                            </td>
                            <td style="padding-left: 10px">
                                <h4 id="sales-amount-rate" class="kt-font-brand"></h4>
                            </td>
                        </tr>
                    </table>

                    <small class="kt-font-bolder">Dünkü Net Ciro</small>
                    <h6 id="yesterday-current-sales-amount" class="kt-font-brand"></h6>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="float-left mr-5">
                        <small class="kt-font-bolder">Net Sipariş Adedi</small>
                        <h2 id="order-count" class="kt-font-warning kt-font-boldest"></h2>

                        <small class="kt-font-bolder">Dünkü Net Sipariş Adedi</small>
                        <h6 id="yesterday-order-count" class="kt-font-brand"></h6>

                        <h6 id="order-count-rate" class="kt-font-brand"></h6>
                    </div>
                    <div class="float-left mr-5">
                        <small class="kt-font-bolder">Net Satış Adedi</small>
                        <h2 id="product-count" class="kt-font-warning kt-font-boldest"></h2>

                        <small class="kt-font-bolder">Dünkü Net Satış Adedi</small>
                        <h6 id="yesterday-product-count" class="kt-font-brand"></h6>

                        <h6 id="product-count-rate" class="kt-font-brand"></h6>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <canvas id="financial-widget-chart"></canvas>
                </div>
            </div>

        </div>

        <div class="col-md-3">

            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Pazaryeri Sipariş Sayıları
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-widget4">
                        @foreach (var theMarketplaceCount in Model.Widget.MarketplaceCounts)
                        {
                            <div class="kt-widget4__item">
                                <span class="kt-widget4__icon">
                                    <img src="/org/img/marketplace-icons/@(theMarketplaceCount.MarketplaceId).png" width="75" />
                                </span>
                                <span class="kt-widget4__number kt-font-info">

                                    <span class="kt-font-bold kt-label-font-color-1" style="display: block;">
                                        @theMarketplaceCount.Count Adet
                                    </span>
                                    <span class="kt-widget12__value kt-font-brand">
                                        @theMarketplaceCount.SalesAmount.ToString("N2") ₺
                                    </span>

                                </span>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-3">

            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Pazaryeri Aktif Ürün Sayıları
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-widget4">
                        @foreach (var theMarketplaceProductCount in Model.Widget.MarketplaceProductCounts)
                        {
                            <div class="kt-widget4__item">
                                <span class="kt-widget4__icon">
                                    <img src="/org/img/marketplace-icons/@(theMarketplaceProductCount.MarketplaceId).png" width="75" />
                                </span>
                                <span class="kt-widget4__number kt-font-info">@theMarketplaceProductCount.Count</span>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>

    </div>
}

<div class="row">

    @if (Model.Widget.TopSellers != null && Model.Widget.TopSellers.Count > 0)
    {
        <div class="col-md-12">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            En Çok Satan Ürünler
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-widget4">
                        <div class="row">

                            @{
                                var topSellers = Model.Widget.TopSellers.Take(4).ToList();
                                for (int i = 0; i < topSellers.Count; i++)
                                {
                                    var theTopSeller = Model.Widget.TopSellers[i];

                                    <div class="col-md-3">

                                        <div class="row">

                                            <div class="col-md-4">

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="alert alert-secondary" style="margin-bottom: 5px;" role="alert">
                                                            <div class="alert-text kt-font-bolder" style="text-align: center;">
                                                                @(i + 1)

                                                                @if (i == 0)
                                                                {
                                                                    @("⭐")
                                                                }
                                                                else if (i == 1)
                                                                {
                                                                    @("❤️‍🔥")
                                                                }
                                                                else if (i == 2)
                                                                {
                                                                    @("💃🏻")
                                                                }
                                                                else if (i == 3)
                                                                {
                                                                    @("😍")
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <img src="@theTopSeller.FileName" />
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-8">
                                                <div class="row" style="margin-bottom: 10px;">
                                                    <div class="col-md-12 kt-font-bolder">
                                                        @theTopSeller.Name
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom: 10px;">
                                                    <div class="col-md-12 kt-font-warning kt-font-bolder">
                                                        <h5>
                                                            @($"{(theTopSeller.SalesAmount / theTopSeller.Quantity):N2} TL")
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        Satılan Adet:
                                                    </div>
                                                    <div class="col-md-6 kt-font-bolder">
                                                        @theTopSeller.Quantity
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        Satış Rakamı:
                                                    </div>
                                                    <div class="col-md-6 kt-font-bolder">
                                                        @($"{theTopSeller.SalesAmount:N2} TL")
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        Güncel Stok:
                                                    </div>
                                                    <div class="col-md-6 kt-font-bolder">
                                                        @theTopSeller.Stock
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/org/js/views/home/index.js?v=0.0.3"></script>
    @if (Model.UserRole == "manager")
    {
        <script>
            HomeIndex.Subscribe();
        </script>
    }
}

