﻿@model ECommerce.Application.Panel.ViewModels.Products.Create

<form id="product_create_form" class="kt-form kt-form--label-right">

    <div class="kt-portlet__body">

        <div class="row">

            <div class="col-md-2">

                <div class="pos-relative">
                    <label class="input-abs-text">Ürün Tipi:</label>
                    <select name="type" class="form-control kt-selectpicker" onchange="ProductIndex.ChangeProductType(this.value)">
                        <option value="PI">Ürün</option>
                        <option value="PC">Ürün Kombini</option>
                    </select>
                </div>

            </div>

            <div class="col-md-2">

                <div class="pos-relative">
                    <label class="input-abs-text">Marka:</label>
                    <select name="brandId" class="form-control kt-selectpicker" data-live-search="true" required>
                        @foreach (var bLoop in Model.Brands)
                        {
                            <option value="@bLoop.Key">@bLoop.Value</option>
                        }
                    </select>
                </div>

            </div>

            <div class="col-md-2">

                <div class="pos-relative">
                    <label class="input-abs-text">Tedarikçi:</label>
                    <select name="supplierId" class="form-control kt-selectpicker" data-live-search="true" required>
                        @foreach (var sLoop in Model.Suppliers)
                        {
                            <option value="@sLoop.Key">@sLoop.Value</option>
                        }
                    </select>
                </div>

            </div>

            @*            <div class="col-md-2">

            <div class="pos-relative">
            <label class="input-abs-text">Grup:</label>
            <select name="groupId" class="form-control kt-selectpicker" data-live-search="true" required>
            @foreach (var gLoop in Model.Groups)
            {
            <option value="@gLoop.Key">@gLoop.Value</option>
            }
            </select>
            </div>

            </div>*@

            <div class="col-md-2">

                <div class="pos-relative">
                    <label class="input-abs-text">Kategori:</label>
                    <select name="categoryId" class="form-control kt-selectpicker" data-live-search="true" required>
                        @foreach (var cLoop in Model.Categories)
                        {
                            <option value="@cLoop.Key">@cLoop.Value</option>
                        }
                    </select>
                </div>

            </div>

            @if (Model.IncludeECommerce)
            {
                <div class="col-md-2">

                    <div class="pos-relative">
                        <label class="input-abs-text">Ek Kategoriler:</label>
                        <select id="multiCategoryIds" class="form-control kt-selectpicker" data-live-search="true" multiple>

                            @foreach (var caLoop in Model.Categories)
                            {

                                <option value="@caLoop.Key">
                                    @caLoop.Value
                                </option>

                            }

                        </select>
                    </div>

                </div>
            }

        </div>

        <div class="row mt-3 mb-3">

            @if (Model.IncludeECommerce)
            {
                <div class="col-md-2">

                    <div class="pos-relative">
                        <label class="input-abs-text">Ürün Özellikleri:</label>
                        <select id="productProperties" class="form-control kt-selectpicker" data-live-search="true" multiple>
                            @foreach (var vLoop in Model.Properties)
                            {
                                <optgroup label="@vLoop.PropertyTranslations[0].Name">
                                    @foreach (var vvLoop in vLoop.PropertyValues)
                                    {
                                        <option data-variant-id="@vLoop.Id" data-variant-name="@vLoop.PropertyTranslations[0].Name"
                                    value="@vvLoop.Id">@vvLoop.PropertyValueTranslations[0].Value</option>
                                    }
                                </optgroup>
                            }
                        </select>
                    </div>

                </div>
            }

            @if (Model.IncludeECommerce)
            {
                <div class="col-md-2">

                    <div class="pos-relative">
                        <label class="input-abs-text">Ürün Etiketleri</label>
                        <select id="productLabels" class="form-control kt-selectpicker" data-live-search="true" multiple>

                            @foreach (var lLoop in Model.Labels)
                            {

                                <option value="@lLoop.Key">
                                    @lLoop.Value
                                </option>

                            }

                        </select>
                    </div>

                </div>
            }

            @if (Model.IncludeAccounting)
            {
                <div class="col-md-2">

                    <div class="form-group">
                        <label></label>
                        <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand" style="margin-top:10px">

                            <input type="checkbox" class="form-control" name="AccountingProperty:boolean" value="true"
                               data-unchecked-value="false" checked>
                            Xml / Erp Ürün<br /> Bilgilerini Güncelle
                            <span></span>
                        </label>
                    </div>

                </div>
            }

            @if (Model.IncludeMarketplace)
            {
               

                <div class="col-md-2">

                    <div class="form-group pos-relative">

                        <label class="input-abs-text">Model Kodu:</label>
                        <input type="text" class="form-control" name="sellerCode" autocomplete="off" required />

                    </div>

                </div>
            }

            @if (Model.Variants.Count > 0)
            {
                <div class="col-md-2">

                    <div class="pos-relative">
                        <label class="input-abs-text">Ürün Varyasyonları:</label>
                        <select id="variants" class="form-control kt-selectpicker" data-live-search="true" multiple>
                            @foreach (var vLoop in Model.Variants)
                            {
                                <optgroup label="@vLoop.VariantTranslations[0].Name">
                                    @foreach (var vvLoop in vLoop.VariantValues)
                                    {
                                        <option data-variant-id="@vLoop.Id"
                                    data-variant-name="@vLoop.VariantTranslations[0].Name"
                                    data-variant-photoable="@vLoop.Photoable"
                                    data-variant-show-variant="@vLoop.ShowVariant"
                                    value="@vvLoop.Id">
                                            @vvLoop.VariantValueTranslations[0].Value
                                        </option>
                                    }
                                </optgroup>
                            }
                        </select>
                    </div>

                </div>

                <div class="col-md-2">

                    <button type="button" onclick="ProductIndex.ProductInformationPartial()"
                        class="btn btn-brand">
                        Varyasyonları Getir
                    </button>

                </div>
            }

        </div>

        <div class="col-lg-12">

            <div class="kt-portlet kt-portlet--tabs">
                @if (Model.Languages.Count > 1)
                {
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x" role="tablist">

                                @for (int j = 0; j < Model.Languages.Count; j++)
                                {
                                    var active = j == 0 ? "active" : "";
                                    <li class="nav-item">
                                        <a class="nav-link @active" data-toggle="tab" href="#tab_content_Languages_@(j)_@Model.Languages[j].Key"
                                   role="tab">
                                            @Model.Languages[j].Value
                                        </a>
                                    </li>
                                }


                            </ul>
                        </div>
                    </div>
                }
                <div class="kt-portlet__body">
                    <div class="tab-content">

                        @{

                            @for (int j = 0; j < Model.Languages.Count; j++)
                            {
                                var active = j == 0 ? "active" : "";

                                <div class="tab-pane @active" id="tab_content_Languages_@(j)_@Model.Languages[j].Key" role="tabpanel">
                                    <input type="hidden" name="productTranslations[@j][id]" value="0" />
                                    <input type="hidden" name="productTranslations[@j][languageId]" value="@Model.Languages[j].Key" />
                                    <label>Ürün Adı:</label>
                                    <input type="text" class="form-control" name="productTranslations[@j][name]" placeholder="Ürün adı giriniz" autocomplete="off">
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>

        </div>

        <div class="row m-5" style="display: none;" name="product-type-pc">

            <div class="col-md-12">

                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Kombin Ürünleri
                            </h3>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="kt-form">
                        <div class="kt-portlet__body">

                            <div class="alert alert-info" role="alert">
                                <div class="alert-icon"><i class="flaticon-questions-circular-button"></i></div>
                                <div class="alert-text">Kombininizi oluşturacak ürünleri ve adetleri seçiniz.</div>
                            </div>

                            <div class="form-group">
                                <div class="typeahead">
                                    <input type="text" class="form-control" name="productId" placeholder="Ürün seçiniz" autocomplete="off">
                                </div>
                            </div>

                            <table>
                                <thead>
                                    <tr>
                                        <td style="width:25%"></td>
                                        <td style="width:50%">Ürün</td>
                                        <td style="width:25%">Adet</td>
                                    </tr>
                                </thead>
                                <tbody id="product-information-combine-tbody">
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <!--end::Form-->
                </div>

            </div>

        </div>

        <div id="product_informations"></div>

    </div>

</form>

<script>
    ProductIndex.FileImageUpload();
</script>