﻿@model ECommerce.Application.Panel.ViewModels.Products.Index

<div class="row mt25">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-cube-1"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Filtre
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Ürün Adı:</label>
                            <input id="ajax_data_search_name" type="text" class="form-control" onchange="ProductIndex.Read(0)" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Model Kodu:</label>
                            <input id="ajax_data_search_model_code" type="text" class="form-control" onchange="ProductIndex.Read(0)" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Stok Kodu:</label>
                            <input id="ajax_data_search_stock_code" type="text" class="form-control" onchange="ProductIndex.Read(0)" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Barkod:</label>
                            <input id="ajax_data_search_barcode" type="text" class="form-control" onchange="ProductIndex.Read(0)" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Kategori:</label>
                            <select id="ajax_data_search_category_id" class="form-control select-picker"
                                    onchange="ProductIndex.Read(0)" data-live-search="true">
                                <option value="-1">Tümü</option>
                                @foreach (var osLoop in Model.Categories)
                                {
                                    <option value="@osLoop.Key">@osLoop.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Marka:</label>
                            <select id="ajax_data_search_brand_id" class="form-control select-picker"
                                    onchange="ProductIndex.Read(0)">
                                <option value="-1">Tümü</option>
                                @foreach (var osLoop in Model.Brands)
                                {
                                    <option value="@osLoop.Key">@osLoop.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Ürün Kaynağı:</label>
                            <select id="ajax_data_search_product_domain_source_id" class="form-control select-picker"
                                    onchange="ProductIndex.Read(0)">
                                <option value="-1">Tümü</option>
                                @foreach (var osLoop in Model.ProductSourceDomains)
                                {
                                    <option value="@osLoop.Key">@osLoop.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Ürün Özelliği</label>
                            <select id="ajax_data_search_product_property" class="form-control select-picker" onchange="ProductIndex.Read(0)">
                                <option value="-1">Tümü</option>

                                <option value="1">Stoklu Ürünler</option>
                                <option value="2">Fotoğrafsız Ürünler</option>
                                <option value="3">Pazaryerinde ürün ve fiyat güncellenmeyecek ürünler</option>

                            </select>
                        </div>
                    </div>
                </div>
                @if (Model.Tenant == "Lafaba")
                {
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Tedarikçi:</label>
                                <select id="ajax_data_search_supplier" class="form-control select-picker" onchange="ProductIndex.Read(0)" data-live-search="true">
                                    <option value="-1">Tümü</option>
                                    @foreach (var sLoop in Model.Suppliers)
                                    {
                                        <option value="@sLoop">@sLoop</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Kategorizasyon:</label>
                                <select id="ajax_data_search_product_categorization" class="form-control select-picker"
                                        onchange="ProductIndex.Read(0)" data-live-search="true">
                                    <option value="-1">Tümü</option>
                                    @foreach (var pcLoop in Model.ProductCategorizations)
                                    {
                                        <option value="@pcLoop">@pcLoop</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Renk Bazlı Kategorizasyon:</label>
                                <select id="ajax_data_search_special_categorization" class="form-control select-picker" onchange="ProductIndex.Read(0)">
                                    <option value="-1">Tümü</option>

                                    <option value="1">Evet</option>
                                    <option value="2">Hayır</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Beden Tablosu:</label>
                                <select id="ajax_data_search_size_table" class="form-control select-picker" onchange="ProductIndex.Read(0)">
                                    <option value="-1">Tümü</option>

                                    <option value="true">Evet</option>
                                    <option value="false">Hayır</option>

                                </select>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Pagination::Begin -->
<div class="row">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__body">

                <!--begin: Pagination-->
                <div class="kt-pagination kt-pagination--brand">
                    <div class="kt-pagination__toolbar">
                        <div class="pos-relative mr-3">
                            <label class="input-abs-text">Kayıt Sayısı</label>
                            <select class="kt-hidden-select2 ajax_data_length" onchange="ProductIndex.ChangePageRecordsCount(this)">
                                <option value="10" selected>10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <span class="pagination__desc">
                            ...
                        </span>
                    </div>
                    <ul class="kt-pagination__links">
                        ...
                    </ul>
                </div>
                <!--end: Pagination-->

            </div>
        </div>
    </div>
</div>
<!-- Pagination::End -->

<div class="row">
    <div class="col-md-12">
        <div class="kt-grid__item kt-grid__item--fluid">
            <div class="kt-portlet kt-portlet--mobile ">
                <div class="kt-portlet__head kt-portlet__head--lg">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon2-cube-1"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Ürünler
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">

                            <div class="btn-group dropleft">
                                <button class="btn btn-brand dropleft dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    İşlemler
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <a href="javascript:ProductIndex.OpenCreateModal()" class="dropdown-item">
                                        <i class="la la-plus"></i>
                                        Yeni Ürün
                                    </a>
                                    <a href="javascript:ProductIndex.DownloadBulkMarketplaceExcel()" class="dropdown-item">
                                        <i class="la la-download"></i>
                                        Ürün Exceli İndir
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">

                    <div class="dataTables_wrapper dt-bootstrap4 no-footer">

                        @* <div class="row">

                        <input id="ajax_data_page" type="hidden" value="0" />


                        </div> *@
                        <div id="ajax_table"></div>

                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="ajax_data_info" role="status" aria-live="polite"></div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pagination::Begin -->
<div class="row">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__body">

                <!--begin: Pagination-->
                <div class="kt-pagination kt-pagination--brand">
                    <div class="kt-pagination__toolbar">
                        <div class="pos-relative mr-3">
                            <label class="input-abs-text">Kayıt Sayısı</label>
                            <select class="kt-hidden-select2 ajax_data_length" onchange="ProductIndex.ChangePageRecordsCount(this)">
                                <option value="10" selected>10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <span class="pagination__desc">
                            ...
                        </span>
                    </div>
                    <ul class="kt-pagination__links">
                        ...
                    </ul>
                </div>

                <!--end: Pagination-->
            </div>
        </div>
    </div>
</div>
<!-- Pagination::End -->
<!-- Modal::Begin-->
<div class="modal fade" id="product_modal" tabindex="-1" role="dialog" aria-labelledby="modal-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="modal_submit" type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
<!-- Modal::Begin-->
<div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog" aria-labelledby="modal-2" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm_modal_title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="confirm_modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="confirm_modal_submit" type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
<!-- Modal::Begin-->
<div class="modal fade" id="bulk_marketplace_modal" tabindex="-1" role="dialog" aria-labelledby="modal-2" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bulk_marketplace_modal_title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="bulk_marketplace_modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
<!-- Modal::Begin-->
<div class="modal fade" id="variant_value_modal" tabindex="-1" role="dialog" aria-labelledby="modal-1" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="variant_value_modal_title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="variant_value_modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
<!-- Modal::Begin-->
<div class="modal fade" id="categorization_modal" tabindex="-1" role="dialog" aria-labelledby="modal-1" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">Renk Bazlı Kategorizasyon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="categorization_modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="categorization_submit" type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
<!-- Modal::Begin-->
<div class="modal fade" id="size_table_modal" tabindex="-1" role="dialog" aria-labelledby="modal-1" aria-hidden="true">
    <div class="modal-dialog modal modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">Beden Tablosu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="size_table_modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="size_table_submit" type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
<!-- Modal::Begin-->
<div class="modal fade" id="categorization_log_modal" tabindex="-1" role="dialog" aria-labelledby="modal-1" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">Renk Bazlı Kategorizasyon Logları</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="categorization_log_modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/org/library/js/jquery-validation.js?v=0.7" charset="utf-8"></script>
    <script src="/org/library/js/jquery-serializer.js?v=0.7"></script>
    <script src="/org/library/js/jquery-table.js?v=4.0"></script>
    <script src="/org/library/js/jquery-autocomplete.js?v=0.8"></script>
    <script src="/org/js/views/product/index.js?v=0.50"></script>
    <script type="text/javascript">
        ProductIndex.Tenant = '@Model.Tenant';
    </script>
}