﻿@model ECommerce.Application.Panel.ViewModels.Products.ReadViewModel

<style>
    .product-gallery-item {
        box-shadow: #00000014 0px 0px 15px;
        border-radius: 10px;
        height: 100px;
        border-radius: 10px;
        cursor: pointer;
        object-fit: cover;
    }
</style>

@{
    Dictionary<string, string> colors = new Dictionary<string, string>();
    colors.Add("TY", "#fbf8ee");
    colors.Add("HB", "#fae4db");
    colors.Add("PA", "#eadcff");
    colors.Add("IK", "#dffbef");
    colors.Add("TYE", "#fbf8ee");
    colors.Add("CS", "#dffbef");
    colors.Add("PTT", "#fae4db");
    colors.Add("TSoft", "#dffbef");
    colors.Add("N11", "#dffbef");
    colors.Add("N11V2", "#dffbef");
}

<table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
    <thead style="position: sticky; top: 80px; z-index: 2; left: 0; right: 0">
        <tr>
            <th rowspan="2" style="background-color: white">Ürün Bilgisi</th>
            <th rowspan="2" style="background-color: white; width: 3%">
                <a href="javascript:void(0)" class="sortable" style="display: flex;align-items: center;"><span>Stok</span></a>
            </th>
            @if (Model.Marketplaces.Count > 0)
            {
                <th colspan="@Model.Marketplaces.Count" style="background-color: white">Pazaryerleri</th>
            }
            <th rowspan="2" style="background-color: white">İşlemler</th>
        </tr>
        <tr>
            @foreach (var theMarketplace in Model.Marketplaces)
            {
                <th style="background-color: @colors[theMarketplace]; width: 6%">
                    <img src="/org/img/marketplace-icons/@(theMarketplace == "N11V2" ? "N11" : theMarketplace).png" width="50">
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var theProduct in Model.Products)
        {
            <tr>
                <td>
                    <div class="row">
                        <div class="col-md-6">

                            <a href="@theProduct.Photo" target="_blank">
                                <img class="product-gallery-item" height="100" src="https://imgr.helpy.com.tr/img/@theProduct.Photo/resize?size=150" />
                            </a>

                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">@theProduct.Name</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="javascript:navigator.clipboard.writeText('@theProduct.Barcode');Notify.Show(NotifyType.Info, '<b>@theProduct.Barcode</b> kopyalandı.');" class="kt-font-bold">@theProduct.Barcode <i class="la la-copy"></i> </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="javascript:navigator.clipboard.writeText('@theProduct.Code');Notify.Show(NotifyType.Info, '<b>@theProduct.Code</b> kopyalandı.');" class="kt-font-bold">@theProduct.Code <i class="la la-copy"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    @theProduct.Stock
                </td>
                @foreach (var theMarketplace in Model.Marketplaces)
                {
                    <td>

                        <div class="row">
                            <div class="col-md-12">
                                @if (theProduct.MarketplaceStatuses.ContainsKey(theMarketplace))
                                {
                                    <span class="kt-badge  kt-badge--@(theProduct.MarketplaceStatuses[theMarketplace] ? "success" : "warning")">
                                        <i class="la la-@(theProduct.MarketplaceStatuses[theMarketplace] ? "check" : "close")"></i>
                                    </span>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <small>
                                    @if (theProduct.MarketplaceStatuses.ContainsKey(theMarketplace))
                                    {
                                        @theProduct.MarketplacePrices[theMarketplace]
                                    }
                                </small>
                            </div>
                        </div>

                        @if (theProduct.MarketplaceUrls.ContainsKey(theMarketplace) && string.IsNullOrEmpty(theProduct.MarketplaceUrls[theMarketplace]) == false)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="@theProduct.MarketplaceUrls[theMarketplace]" class="kt-font-bold" target="_blank">
                                        <small>Aç</small>
                                    </a>
                                </div>
                            </div>
                        }

                    </td>
                }
                <td>
                    <span class="dropdown">
                        <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="false" title="güncelle">
                            <i class="la la-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:ProductIndex.OpenUpdateModal('@theProduct.Id')">
                                <i class="la la-edit"></i> Güncelle
                            </a>
                            <a class="dropdown-item" href="javascript:ProductIndex.OpenMarketPlaceSettingsModal(@theProduct.Id)">
                                <i class="la la la-gears"></i>
                                Pazaryeri Ayarları
                            </a>
                            <a class="dropdown-item" href="javascript:ProductIndex.OpenPriceUpdateModal(@theProduct.Id)">
                                <i class="la la-ruble"></i>
                                Fiyat Güncelle
                            </a>
                            @if (Model.Tenant == "Lafaba")
                            {
                                <a class="dropdown-item" href="javascript:ProductIndex.OpenSizeTableModal(@theProduct.Id)">
                                    <i class="la la-street-view"></i>
                                    Beden Tablosu
                                </a>
                                <a class="dropdown-item" href="javascript:ProductIndex.OpenCategorizationModal(@theProduct.Id)">
                                    <i class="la la-table"></i>
                                    Renk Bazlı Kategorizasyon
                                </a>
                                <a class="dropdown-item" href="javascript:ProductIndex.OpenCategorizationLogModal(@theProduct.Id)">
                                    <i class="la la-newspaper-o"></i>
                                    Renk Bazlı Kategorizasyon Logları
                                </a>
                            }
                            <a class="dropdown-item" href="javascript:ProductIndex.OpenProductDeletedModal(@theProduct.Id)">
                                <i class="la la-exclamation"></i>
                                Ürünü Sil
                            </a>
                        </div>
                    </span>
                </td>
            </tr>

        }
    </tbody>
</table>
