﻿@model ECommerce.Application.Panel.ViewModels.Products.SlicedReadViewModel

<style>
    .hide {
        display: none;
    }

    .seperate {
        border-top: #ebedf2 3px solid !important;
    }

    .custom-img {
        box-shadow: #00000014 0px 0px 15px;
        border-radius: 10px;
        object-fit: cover;
        height: 100px;
    }

    .product-gallery {
        position: relative;
        height: 100px;
    }

    .product-gallery-item {
        position: absolute;
        top: 0;
        z-index: 0;
        border-radius: 10px;
        opacity: 0.3;
        cursor: pointer;
        object-fit: cover;
    }
</style>

@{
    Dictionary<string, string> colors = new Dictionary<string, string>();
    colors.Add("TY", "#fbf8ee");
    colors.Add("HB", "#fae4db");
    colors.Add("PA", "#eadcff");
    colors.Add("IK", "#dffbef");
    colors.Add("TYE", "#fbf8ee");
    colors.Add("CS", "#dffbef");
    colors.Add("PTT", "#fae4db");
    colors.Add("N11", "#dffbef");
    colors.Add("N11V2", "#dffbef");
    colors.Add("TSoft", "#ffebcd");
    colors.Add("LCW", "#dae5ff");
    colors.Add("BY", "#eaeaff");
}

<table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
    <thead style="position: sticky; top: 80px; z-index: 2; left: 0; right: 0">
        <tr>
            <th rowspan="2" colspan="2" style="background-color: white">Ürün Bilgisi</th>
            <th rowspan="2" style="background-color: white; width: 7%">Vary.</th>
            <th rowspan="2" style="background-color: white; width: 3%">
                <a href="javascript:void(0)" class="sortable" style="display: flex;align-items: center;"><span>Stok</span></a>
            </th>
            <th rowspan="2" style="background-color: white; width: 3%">İa. Or.</th>
            @if (Model.Marketplaces.Count > 0)
            {
                <th colspan="@Model.Marketplaces.Count" style="background-color: white">Pazaryerleri</th>
            }

            <th rowspan="2" style="background-color: white">İşlemler</th>
        </tr>
        <tr>
            @foreach (var theMarketplace in Model.Marketplaces)
            {
                <th style="background-color: @colors[theMarketplace]; width: 6%">
                    <img src="/org/img/marketplace-icons/@(theMarketplace == "N11V2" ? "N11" : theMarketplace).png" width="50">
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var theProduct in Model.Products)
        {
            var seperate = Model.Products.IndexOf(theProduct) > 0;

            <tr>
                <td class="@(seperate ? "seperate" : "")">
                    @if (theProduct.ModelsCount > 0)
                    {
                        <a href="javascript:ProductIndex.Collapse('@($"P-{theProduct.Guid}")')">
                            <i class="la la-angle-down" id="@($"P-{theProduct.Guid}-Icon")"></i>
                        </a>
                    }
                </td>
                <td class="@(seperate ? "seperate" : "")">
                    <div class="row">
                        <div class="col-md-6 product-gallery">

                            @for (int i = 0; i < theProduct.Models.Count; i++)
                            {
                                if (i > 4)
                                {
                                    continue;
                                }

                                <a href="@theProduct.Models[i].Photo" target="_blank">
                                    <img class="table-product-img product-gallery-item" height="100" src="https://imgr.helpy.com.tr/img/@theProduct.Models[i].Photo/resize?size=150" />
                                </a>
                            }

                            @if (theProduct.Models.Count > 5)
                            {
                                <span class="kt-badge kt-badge--warning  kt-badge--inline kt-badge--pill" style="position: absolute;z-index: 1;left: @((5 * 30) + 30)px;top: 5px;box-shadow: #00000014 0px 0px 15px;">
                                    +@(theProduct.Models.Count - 5)
                                </span>
                            }

                            @for (int i = 0; i < theProduct.Categorizations.Length; i++)
                            {
                                <span class="kt-badge kt-badge--primary  kt-badge--inline kt-badge--pill" style="position: absolute;z-index: 1;left: @(((theProduct.Models.Count > 5 ? 5 : theProduct.Models.Count) * 30) + 30)px;top: @((i * 25) + 30)px;box-shadow: #00000014 0px 0px 15px;">
                                    @theProduct.Categorizations[i]
                                </span>
                            }

                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">@theProduct.Name</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="javascript:navigator.clipboard.writeText('@theProduct.Code');Notify.Show(NotifyType.Info, '<b>@theProduct.Code</b> kopyalandı.');" class="kt-font-bold">@theProduct.Code <i class="la la-copy"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="@(seperate ? "seperate" : "")">
                    <div>
                        <small>
                            @theProduct.ModelsCount
                        </small>
                    </div>
                    Varyant
                </td>
                <td class="@(seperate ? "seperate" : "")">
                    @theProduct.Stock
                </td>
                <td class="@(seperate ? "seperate" : "")">
                    % @theProduct.ReturnRate.ToString("N2")
                </td>
                @foreach (var theMarketplace in Model.Marketplaces)
                {
                    <td class="@(seperate ? "seperate" : "")" style="background-color: @colors[theMarketplace]">

                        <div class="row">
                            <div class="col-md-12">
                                @if (theProduct.MarketplaceStatuses.ContainsKey(theMarketplace))
                                {
                                    foreach (var status in theProduct.MarketplaceStatuses[theMarketplace])
                                    {
                                        <span class="kt-badge  kt-badge--@(status ? "success" : "warning")">
                                            <i class="la la-@(status ? "check" : "close")"></i>
                                        </span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @if (theProduct.MarketplaceListPrices.ContainsKey(theMarketplace))
                                {
                                    <small>
                                        @theProduct.MarketplaceListPrices[theMarketplace] ₺
                                    </small>
                                }

                                @if (theProduct.MarketplacePrices.ContainsKey(theMarketplace))
                                {
                                    <small>
                                        @theProduct.MarketplacePrices[theMarketplace] ₺
                                    </small>
                                }
                            </div>
                        </div>

                        @if (theProduct.MarketplaceUrls.ContainsKey(theMarketplace) && string.IsNullOrEmpty(theProduct.MarketplaceUrls[theMarketplace]) == false)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="@theProduct.MarketplaceUrls[theMarketplace]" class="kt-font-bold" target="_blank">
                                        <small>Aç</small>
                                    </a>
                                </div>
                            </div>
                        }

                    </td>
                }
                <td class="@(seperate ? "seperate" : "")">
                    <span class="dropdown">
                        <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="false" title="güncelle">
                            <i class="la la-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:ProductIndex.OpenUpdateModal('@theProduct.Id')">
                                <i class="la la-edit"></i> Güncelle
                            </a>
                            <a class="dropdown-item" href="javascript:ProductIndex.OpenMarketPlaceSettingsModal(@theProduct.Id)">
                                <i class="la la la-gears"></i>
                                Pazaryeri Ayarları
                            </a>
                            <a class="dropdown-item" href="javascript:ProductIndex.OpenPriceUpdateModal(@theProduct.Id)">
                                <i class="la la-ruble"></i>
                                Fiyat Güncelle
                            </a>
                            @if (Model.Tenant == "Lafaba")
                            {
                                <a class="dropdown-item" href="javascript:ProductIndex.OpenSizeTableModal(@theProduct.Id)">
                                    <i class="la la-street-view"></i>
                                    Beden Tablosu
                                </a>
                                <a class="dropdown-item" href="javascript:ProductIndex.OpenCategorizationModal(@theProduct.Id)">
                                    <i class="la la-table"></i>
                                    Renk Bazlı Kategorizasyon
                                </a>
                                <a class="dropdown-item" href="javascript:ProductIndex.OpenCategorizationLogModal(@theProduct.Id)">
                                    <i class="la la-newspaper-o"></i>
                                    Renk Bazlı Kategorizasyon Logları
                                </a>
                            }
                            <a class="dropdown-item" href="javascript:ProductIndex.OpenProductDeletedModal(@theProduct.Id)">
                                <i class="la la-exclamation"></i>
                                Ürünü Sil
                            </a>
                        </div>
                    </span>
                </td>
            </tr>

            foreach (var theModel in theProduct.Models)
            {
                <tr class="@($"P-{theProduct.Guid}") hide" data-model-code="@theModel.Code">
                    <td>
                        @if (theModel.VariantsCount > 1)
                        {
                            <a href="javascript:ProductIndex.Collapse('@($"M-{theModel.Guid}")')">
                                <i class="la la-angle-down" id="@($"M-{theModel.Guid}-Icon")"></i>
                            </a>
                        }
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-4" id="chart-@theModel.Code-container">
                                <canvas id="chart-@theModel.Code"></canvas>
                            </div>
                            <div class="col-md-2" style="position: relative; height: 100px">
                                <a href="@theModel.Photo" target="_blank">
                                    <img class="table-product-img custom-img" height="100" src="https://imgr.helpy.com.tr/img/@theModel.Photo/resize?size=150" style="position: absolute; right: 0px; margin-right: 20px" />
                                </a>

                                @if (string.IsNullOrEmpty(theModel.Categorization) == false)
                                {
                                    <span class="kt-badge kt-badge--primary  kt-badge--inline kt-badge--pill" style="position: absolute;
    z-index: 1;
    right: 0px;
    top: 5px;
    box-shadow: #00000014 0px 0px 15px;">
                                        @theModel.Categorization
                                    </span>
                                }
                            </div>
                            <div class="col-md-6">

                                @if (theModel.VariantsCount > 1)
                                {
                                    <div class="row">
                                        <div class="col-md-12">@theModel.Name</div>
                                    </div>
                                }

                                @if (string.IsNullOrEmpty(theModel.Code) == false)
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="javascript:navigator.clipboard.writeText('@theModel.Code');Notify.Show(NotifyType.Info, '<b>@theModel.Code</b> kopyalandı.');" class="kt-font-bold">@theModel.Code <i class="la la-copy"></i> </a>
                                        </div>
                                    </div>
                                }

                                @if (theModel.VariantsCount == 1)
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="javascript:navigator.clipboard.writeText('@theModel.Variants.FirstOrDefault().Barcode');Notify.Show(NotifyType.Info, '<b>@theModel.Variants.FirstOrDefault().Barcode</b> kopyalandı.');" class="kt-font-bold">@theModel.Variants.FirstOrDefault().Barcode <i class="la la-copy"></i> </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="javascript:navigator.clipboard.writeText('@theModel.Variants.FirstOrDefault().StockCode');Notify.Show(NotifyType.Info, '<b>@theModel.Variants.FirstOrDefault().StockCode</b> kopyalandı.');" class="kt-font-bold">@theModel.Variants.FirstOrDefault().StockCode <i class="la la-copy"></i> </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </td>
                    <td>
                        @if (theModel.VariantsCount == 1)
                        {
                            if (string.IsNullOrEmpty(theModel.Slicer) == false && string.IsNullOrEmpty(theModel.SlicerValue) == false)
                            {
                                <div>
                                    <small>@theModel.Slicer:</small>
                                </div>
                                <div class="kt-font-bold">@theModel.SlicerValue</div>
                            }

                            if (string.IsNullOrEmpty(theModel.Variants.FirstOrDefault().Varianter) == false && string.IsNullOrEmpty(theModel.Variants.FirstOrDefault().VarianterValue) == false)
                            {
                                <div>
                                    <small>@theModel.Variants.FirstOrDefault().Varianter:</small>
                                </div>
                                <div class="kt-font-bold">@theModel.Variants.FirstOrDefault().VarianterValue</div>
                            }
                        }
                        else
                        {
                            if (string.IsNullOrEmpty(theModel.Slicer) == false && string.IsNullOrEmpty(theModel.SlicerValue) == false)
                            {
                                <div>
                                    <small>@theModel.Slicer:</small>
                                </div>
                                <div class="kt-font-bold">@theModel.SlicerValue</div>
                            }
                        }
                    </td>
                    <td>@theModel.Stock</td>
                    <td>% @theModel.ColorReturnRate.ToString("N2")</td>
                    @foreach (var theMarketplace in Model.Marketplaces)
                    {
                        <td style="background-color: @colors[theMarketplace]">

                            <div class="row">
                                <div class="col-md-12">
                                    @if (theModel.MarketplaceStatuses.ContainsKey(theMarketplace))
                                    {
                                        foreach (var status in theModel.MarketplaceStatuses[theMarketplace])
                                        {
                                            <span class="kt-badge  kt-badge--@(status?"success":"warning")">
                                                <i class="la la-@(status?"check":"close")"></i>
                                            </span>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @if (theModel.MarketplaceListPrices.ContainsKey(theMarketplace))
                                    {
                                        <small>
                                            @theModel.MarketplaceListPrices[theMarketplace] ₺
                                        </small>
                                    }

                                    @if (theModel.MarketplacePrices.ContainsKey(theMarketplace))
                                    {
                                        <small>
                                            @theModel.MarketplacePrices[theMarketplace] ₺
                                        </small>
                                    }
                                </div>
                            </div>

                        </td>
                    }
                    <td></td>
                </tr>

                if (theModel.VariantsCount > 1)
                {
                    foreach (var theVariant in theModel.Variants)
                    {
                        <tr class="@($"M-{theModel.Guid}") @($"P-{theProduct.Guid}-Child") hide">
                            <td></td>
                            <td>
                                <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-11">
                                                <a href="javascript:navigator.clipboard.writeText('@theVariant.Barcode');Notify.Show(NotifyType.Info, '<b>@theVariant.Barcode</b> kopyalandı.');" class="kt-font-bold">@theVariant.Barcode <i class="la la-copy"></i> </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a href="javascript:navigator.clipboard.writeText('@theVariant.StockCode');Notify.Show(NotifyType.Info, '<b>@theVariant.StockCode</b> kopyalandı.');" class="kt-font-bold">@theVariant.StockCode <i class="la la-copy"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                @if (string.IsNullOrEmpty(theVariant.Varianter) == false && string.IsNullOrEmpty(theVariant.VarianterValue) == false)
                                {
                                    <div>
                                        <small>@theVariant.Varianter:</small>
                                    </div>
                                    <div class="kt-font-bold">
                                        @theVariant.VarianterValue
                                    </div>
                                }
                            </td>
                            <td>@theVariant.Stock</td>
                            <td>% @theVariant.ReturnRate.ToString("N2")</td>
                            @foreach (var theMarketplace in Model.Marketplaces)
                            {
                                var productInformationMarketplace = theVariant.ProductInformationMarketplaces.FirstOrDefault(pim => pim.MarketplaceId == theMarketplace);

                                <td style="background-color: @colors[theMarketplace]">

                                    @if (productInformationMarketplace is not null)
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="kt-badge  kt-badge--@(productInformationMarketplace.Opened?"success":"warning")">
                                                    <i class="la la-@(productInformationMarketplace.Opened?"check":"close")"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <small>@productInformationMarketplace.ListUnitPrice.ToString("N2") ₺</small>
                                                <small>@productInformationMarketplace.UnitPrice.ToString("N2") ₺</small>
                                            </div>
                                        </div>

                                        @if (productInformationMarketplace.Opened)
                                        {

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a href="@productInformationMarketplace.Url" class="kt-font-bold" target="_blank">
                                                        <small>Aç</small>
                                                    </a>
                                                </div>
                                            </div>
                                        }

                                    }

                                </td>
                            }
                            <td></td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>
