﻿@using ECommerce.Application.Panel.ViewModels.Products
@model ECommerce.Application.Panel.ViewModels.Products.Update

<form id="product_update_form" class="kt-form kt-form--label-right">

    <!-- Hiddens::Begin-->
    <input type="hidden" name="id" value="@Model.Product.Id" />
    <!-- Hiddens::End-->

    <div class="kt-portlet__body">

        <div class="row">

            <div class="col-md-2">

                <div class="pos-relative">
                    <label class="input-abs-text">Ürün Tipi:</label>
                    <select name="type" class="form-control form-control kt-selectpicker" disabled>
                        <option value="PI" @(Model.Product.Type =="PI" ? "selected" :"")>Ürün</option>
                        <option value="PC" @(Model.Product.Type =="PC" ? "selected" :"")>Ürün Kombini</option>
                    </select>
                </div>

            </div>

            <div class="col-md-2">

                <div class="pos-relative">
                    <label class="input-abs-text">Marka:</label>
                    <select name="brandId" class="form-control kt-selectpicker" data-live-search="true">
                        @foreach (var bLoop in Model.Brands)
                        {
                            <option value="@bLoop.Key" @(Model.Product.BrandId == bLoop.Key ? "selected" : "")>@bLoop.Value</option>
                        }
                    </select>
                </div>

            </div>

            <div class="col-md-2">

                <div class="pos-relative">
                    <label class="input-abs-text">Tedarikçi:</label>
                    <select name="supplierId" class="form-control kt-selectpicker" data-live-search="true">
                        @foreach (var sLoop in Model.Suppliers)
                        {
                            <option value="@sLoop.Key" @(Model.Product.SupplierId == sLoop.Key ? "selected" : "")>@sLoop.Value</option>
                        }
                    </select>
                </div>

            </div>

            <div class="col-md-2">

                <div class="pos-relative">
                    <label class="input-abs-text">Kategori:</label>
                    <select name="categoryId" class="form-control kt-selectpicker" data-live-search="true">
                        @foreach (var cLoop in Model.Categories)
                        {
                            <option value="@cLoop.Key" @(Model.Product.CategoryId == cLoop.Key ? "selected" : "")>@cLoop.Value</option>
                        }
                    </select>
                </div>

            </div>

            @if (Model.IncludeECommerce)
            {
                <div class="col-md-2">

                    <div class="pos-relative">
                        <label class="input-abs-text">Ek Kategoriler:</label>
                        <select id="multiCategoryIds" class="form-control kt-selectpicker" data-live-search="true" multiple>

                            @foreach (var caLoop in Model.Categories)
                            {
                                var selected = Model.Product.MultiCategoryIds.Any(cat => cat == caLoop.Key);

                                <option @(selected ? "selected" : "")
                                value="@caLoop.Key">
                                    @caLoop.Value
                                </option>

                            }

                        </select>
                    </div>

                </div>
            }

        </div>

        <div class="row mt-3 mb-3">

            @if (Model.IncludeECommerce)
            {
                <div class="col-md-2">

                    <div class="pos-relative">
                        <label class="input-abs-text">Ürün Özellikleri:</label>
                        <select id="productProperties" class="form-control kt-selectpicker" data-live-search="true" multiple>
                            @foreach (var vLoop in Model.ProductProperties)
                            {
                                <optgroup label="@vLoop.PropertyTranslations[0].Name">
                                    @foreach (var vvLoop in vLoop.PropertyValues)
                                    {
                                        var selected = Model.Product.ProductProperties.Any(ppp => ppp.PropertyValueId == vvLoop.Id);

                                        <option @(selected ? "selected" : "")
                                    data-variant-id="@vLoop.Id"
                                    data-variant-name="@vLoop.PropertyTranslations[0].Name"
                                    value="@vvLoop.Id">
                                            @vvLoop.PropertyValueTranslations[0].Value
                                        </option>
                                    }
                                </optgroup>
                            }
                        </select>
                    </div>

                </div>
            }

            @if (Model.IncludeECommerce)
            {
                <div class="col-md-2">

                    <div class="pos-relative">
                        <label class="input-abs-text">Ürün Etiketleri</label>
                        <select id="productLabels" class="form-control kt-selectpicker" data-live-search="true" multiple>
                            @foreach (var lLoop in Model.Labels)
                            {
                                <option value="@lLoop.Key" @(Model.Product.ProductLabels.Any(x => x.LabelId == lLoop.Key) ? "selected" : "")>
                                    @lLoop.Value
                                </option>
                            }

                        </select>
                    </div>

                </div>
            }

            @if (Model.IncludeAccounting)
            {
                <div class="col-md-2">

                    <div class="form-group">
                        <label></label>
                        <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand" style="margin-top:10px">

                            <input type="checkbox" class="form-control" name="AccountingProperty:boolean" value="true"
                               data-unchecked-value="false" @Html.Raw(Model.Product.AccountingProperty ? "checked" : "" )>
                            Xml / Erp Ürün<br /> Bilgilerini Güncelle
                            <span></span>
                        </label>
                    </div>

                </div>
            }

            @if (Model.IncludeMarketplace)
            {
               

                <div class="col-md-2">

                    <div class="form-group pos-relative">

                        <label class="input-abs-text">Model Kodu:</label>
                        <input type="text" class="form-control" name="sellerCode" autocomplete="off" required value="@Model.Product.SellerCode" />

                    </div>

                </div>
            }

            @if (Model.Variants.Count > 0)
            {
                <div class="col-md-2">

                    <div class="pos-relative">
                        <label class="input-abs-text">Ürün Varyasyonları:</label>
                        <select id="variants" asp-items="variantSelectListItems" class="form-control kt-selectpicker" data-live-search="true" multiple>
                            @foreach (var vLoop in Model.Variants)
                            {
                                <optgroup label="@vLoop.VariantTranslations[0].Name">
                                    @foreach (var vvLoop in vLoop.VariantValues)
                                    {
                                        <option @(Model.Product.ProductInformations.Any(pi => pi.ProductInformationVariants.Any(pv => pv.VariantValueId == vvLoop.Id)) ? "selected" : "")
                                    data-variant-id="@vLoop.Id"
                                    data-variant-name="@vLoop.VariantTranslations[0].Name"
                                    data-variant-photoable="@vLoop.Photoable"
                                    data-variant-show-variant="@vLoop.ShowVariant"
                                    value="@vvLoop.Id">
                                            @vvLoop.VariantValueTranslations[0].Value
                                        </option>
                                    }
                                </optgroup>
                            }
                        </select>
                    </div>

                </div>

                <div class="col-md-2">

                    <button type="button" onclick="ProductIndex.ProductInformationPartial('update')"
                        class="btn btn-brand">
                        Varyasyonları Getir
                    </button>

                </div>
            }

        </div>

        @if (Model.Product.Type == "PC") //ProductCombine
        {
            <div class="row m-5" name="product-type-pc">

                <div class="col-md-12">

                    <div class="kt-portlet">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Kombin Ürünleri
                                </h3>
                            </div>
                        </div>

                        <!--begin::Form-->
                        <div class="kt-form">
                            <div class="kt-portlet__body">

                                <div class="alert alert-info" role="alert">
                                    <div class="alert-icon"><i class="flaticon-questions-circular-button"></i></div>
                                    <div class="alert-text">Kombininizi oluşturacak ürünleri ve adetleri seçiniz.</div>
                                </div>

                                <div class="form-group">
                                    <div class="typeahead">
                                        <input type="text" class="form-control" name="productId" placeholder="Ürün seçiniz" autocomplete="off">
                                    </div>
                                </div>

                                <table>
                                    <thead>
                                        <tr>
                                            <td style="width:25%"></td>
                                            <td style="width:50%">Ürün</td>
                                            <td style="width:25%">Adet</td>
                                        </tr>
                                    </thead>
                                    <tbody id="product-information-combine-tbody">
                                        @Html.PartialAsync("/Themes/Org/Views/ProductInformationCombine/IndexPartial.cshtml",new ProductInformationCombinePartial
                                    {
                                    ProductInformationCombines = Model.Product.ProductInformations[0].ProductInformationCombines,
                                    }).Result
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <!--end::Form-->
                    </div>

                </div>
            </div>
        }
        <div class="col-lg-12">

            <div class="kt-portlet kt-portlet--tabs">
                @if (Model.Languages.Count > 1)
                {
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x" role="tablist">

                                @for (int j = 0; j < Model.Languages.Count; j++)
                                {
                                    var active = j == 0 ? "active" : "";
                                    <li class="nav-item">
                                        <a class="nav-link @active" data-toggle="tab" href="#tab_content_Languages_@(j)_@Model.Languages[j].Key"
                                   role="tab">
                                            @Model.Languages[j].Value
                                        </a>
                                    </li>
                                }


                            </ul>
                        </div>
                    </div>
                }
                <div class="kt-portlet__body">
                    <div class="tab-content">

                        @{

                            @for (int j = 0; j < Model.Languages.Count; j++)
                            {
                                var active = j == 0 ? "active" : "";
                                var productTranslation = Model.Product.ProductTranslations.FirstOrDefault(x => x.LanguageId == Model.Languages[j].Key);

                                <div class="tab-pane @active" id="tab_content_Languages_@(j)_@Model.Languages[j].Key" role="tabpanel">
                                    <input type="hidden" name="productTranslations[@j][id]" value="@productTranslation?.Id" />
                                    <input type="hidden" name="productTranslations[@j][languageId]" value="@Model.Languages[j].Key" />
                                    <label>Ürün Adı:</label>
                                    <input type="text" class="form-control" name="productTranslations[@j][name]" value="@productTranslation?.Name"  placeholder="Ürün adı giriniz" autocomplete="off">
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>

        </div>

        <div id="product_informations">

            @Html.PartialAsync("/Themes/Org/Views/ProductInformation/IndexPartial.cshtml", new ECommerce.Application.Panel.ViewModels.Products.IndexPartial{
            Currencies=Model.Currencies,
            Languages=Model.Languages,
            MaxBarcode=Model.MaxBarcode,
            MaxStockCode=Model.MaxStockCode,
            ProductInformations=Model.Product.ProductInformations,
            IncludeECommerce=Model.IncludeECommerce,
            Success = true
            }).Result

        </div>

    </div>

</form>