﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@model ECommerce.Application.Client.ViewModels.Groups.Index


@if (Model.Success)
{
    ViewData["Title"] = Model.Group.GroupSeo.Title;
    ViewData["Description"] = Model.Group.GroupSeo.MetaDescription;
    ViewData["Keywords"] = Model.Group.GroupSeo.MetaKeywords;
    string pageItems = $"pc={Model.PageRecordsCount}&st={Model.PageSorting}";
    string propertyValueIds = "";
    if (Model.PropertyValueIds?.Count > 0)
    {
        propertyValueIds = $"/{string.Join("_", Model.PropertyValueIds)}-pv/";
    }

    <main class="main">
        <div class="page-header mt-15 mb-15">
            <div class="container">
                <div class="tag-header">
                    <div class="row align-items-center">
                        <div class="col-xl-5 group-breadbox">
                            <div class="breadcrumb">
                                <a href="@Url.Action("Index","Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a>
                                <span></span>
                                <h1 class="d-inline-block font-16">@Model.Group.Name</h1>
                            </div>

                        </div>
                        <!--Group Tag Bar-->
                        <div class="col-xl-7 text-end d-none d-xl-block">
                            <ul class="tags-list">
                                <li class="font-md color-black find-end-text"></li>
                                @{
                                    foreach (var pLoop in Model.Properties)
                                    {

                                        @foreach (var pvLoop in pLoop.PropertyValues)
                                        {
                                            if (Model.PropertyValueIds != null)
                                            {
                                                if (Model.PropertyValueIds.Contains(pvLoop.Id))
                                                {

                                                    <li class="hover-up">
                                                        <a href="@pvLoop.Id-pv" class="checked-keyword">@pvLoop.Value</a>
                                                    </li>
                                                }
                                            }
                                        }
                                    }
                                }


                            </ul>
                        </div>
                        <!--Group Tag Bar-->
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-30">
            <div class="row flex-row-reverse shop-row">
                <div class="col-lg-4-5">
                    <div class="shop-product-fillter">

                        <div class="sort-by-product-area ">
                            <!-- Group List -->

                            @if (Model.Group != null)
                            {
                                <div class="sort-by-cover mr-10 category-list-dropdown">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-grid"></i> Ürün Grupları <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul class="category-list-dropdown-list">
                                            @foreach (var cLoop in Model.Groups)
                                            {
                                                <li>
                                                    <a href="@cLoop.Url"> @cLoop.Name</a>
                                                </li>
                                            }

                                        </ul>
                                    </div>
                                </div>

                            }
                            <!-- Group List -->
                        </div>
                        <div class="sort-by-product-area ">
                            <div class="sort-by-cover mr-10 des-none">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by filter-category-btn">
                                        <span><i class="fi-rs-filter"></i>Filtrele <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>

                            </div>
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span>
                                            <i class="fi-rs-apps"></i><span class="mob-none"> Göster:</span> @Model.PageRecordsCount
                                            <i class="fi-rs-angle-small-down"></i>
                                        </span>
                                    </div>

                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a @(Model.PageRecordsCount == 20 ? "class=active" : "") href="@($"/{Model.Group.Url}{propertyValueIds}{$"?pc=20"}&st={Model.PageSorting}")">20</a></li>
                                        <li><a @(Model.PageRecordsCount == 50 ? "class=active" : "") href="@($"/{Model.Group.Url}{propertyValueIds}{$"?pc=50"}&st={Model.PageSorting}")">50</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="sort-by-cover advanced-sorting">
                                <div class="sort-by-product-wrap ">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i> Sırala:<i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        @{

                                            string sortingValue = "";

                                            switch (Model.PageSorting)
                                            {
                                                case 1:
                                                    sortingValue = "Artan Fiyat";
                                                    break;
                                                case 2:
                                                    sortingValue = "Azalan Fiyat";
                                                    break;
                                                case 3:
                                                    sortingValue = "Alfabetik A dan Z'ye";
                                                    break;
                                                case 4:
                                                    sortingValue = "Alfabetik Z dan A'ya";
                                                    break;

                                            }
                                        }

                                        <span>@sortingValue </span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a @(Model.PageSorting == 1 ? "class=active" : "") href="@($"/{Model.Group.Url}{$"?st=1"}&pc={Model.PageRecordsCount}")">Artan Fiyat</a></li>
                                        <li><a @(Model.PageSorting == 2 ? "class=active" : "") href="@($"/{Model.Group.Url}{$"?st=2"}&pc={Model.PageRecordsCount}")">Azalan Fiyat</a></li>
                                        <li><a @(Model.PageSorting == 3 ? "class=active" : "") href="@($"/{Model.Group.Url}{propertyValueIds}{$"?st=3"}&pc={Model.PageRecordsCount}")">Alfabetik A dan Z'ye</a></li>
                                        <li><a @(Model.PageSorting == 4 ? "class=active" : "") href="@($"/{Model.Group.Url}{propertyValueIds}{$"?st=4"}&pc={Model.PageRecordsCount}")">Alfabetik Z dan A'ya</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row product-grid-4" id="products" data-page="0">
                        @foreach (var pLoop in Model.ProductInformations)
                        {
                            @Html.PartialAsync($"/Themes/Black/Views/Product/productBox.cshtml", new ECommerce.Application.Common.DataTransferObjects.ProductComponent
                       {
                           ListUnitPrice = pLoop.ProductInformationPrice.ListUnitPrice,
                           Name = pLoop.Name,
                           ProductInformationId = pLoop.Id,
                           ProductId = pLoop.Id,
                           FileName = pLoop.ProductInformationPhotos.FirstOrDefault() != null ? pLoop.ProductInformationPhotos.FirstOrDefault().FileName : null,
                           UnitPrice = pLoop.ProductInformationPrice.UnitPrice,
                           Url = pLoop.Url,
                           SubTitle = pLoop.SubTitle,
                           VatRate = pLoop.ProductInformationPrice.VatRate,
                           Discount = pLoop.ProductInformationPrice.Discount,
                           ProductLabels = pLoop.Product.ProductLabels.Select(x => x.Value).ToList(),
                           IsSale = pLoop.IsSale,
                           IsStock=pLoop.IsStock,
                           Payor = pLoop.Payor
                       }).Result;
                        }
                    </div>





                    <!--product grid-->
                    <!--Pagination Number -->
                    <div class="pagination-area mt-20 mb-20">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">

                                @for (int i = 0; i < Model.PagesCount; i++)
                                {


                                    <li class="page-item"><a class="page-link" href="@($"/{Model.Group.Url}{propertyValueIds}{(i != 0 ? $"?p={i}&{pageItems}" : $"?{pageItems}")}")">@(i+1)</a></li>

                                }

                            </ul>
                        </nav>
                    </div>
                    <!--Pagination Number -->
                    <!--Group Content-->
                    <div class="category-content-box row">

                        @Html.Raw(Model.Group.GroupContent.Content)
                    </div>
                    <!--Group Content-->
                </div>

                <div class="col-lg-1-5 primary-sidebar sticky-sidebar">

                    <!-- Group List -->
                    @*<div class="sidebar-widget widget-category-2 mb-30" id="body-left">
                            <h5 class="section-title style-1 mb-10">Ürün Grupları</h5>
                            <ul class="subCategory">
                                @foreach (var cLoop in Model.Groups)
                                {

                                    <li>
                                        <a href="@cLoop.Url"> @cLoop.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>*@
                    <!-- Group List -->
                    <!-- Product Filter -->
                    @if (Model.Properties.Count > 0)
                    {
                        <div id="filter-overlay" class="customSearch filter-overlay ">
                            <button type="button" class="btn-close des-none btn-filter-close"></button>
                            <div class="sidebar-widget price_range range mb-10">
                                <h5 class="section-title style-1 mb-10">Detaylı Filtrele</h5>

                                <div class="list-group">
                                    <div class="list-group-item mb-10 mt-10">

                                        @foreach (var pLoop in Model.Properties)
                                        {
                                            <div>
                                                <h5 class="fw-900 accordion category-accordion">@pLoop.Name</h5>

                                                <div class="panel">
                                                    @foreach (var pvLoop in pLoop.PropertyValues)
                                                    {
                                                        <div class="custome-checkbox">

                                                            <input class="form-check-input" type="checkbox" name="property-value" id="@pvLoop.Id" value="@pvLoop.Id" @(Model.PropertyValueIds != null && Model.PropertyValueIds.Any(x => x == pvLoop.Id) ? "checked" : "") />
                                                            <label class="form-check-label" for="@pvLoop.Id">@pvLoop.Value</label>
                                                        </div>
                                                    }
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>
                                <a onclick="GroupIndex.Filter('@pageItems');" class="btn btn-sm btn-default btn-block mt-10 category-filter-btn"><i class="fi-rs-filter mr-5"></i>Fidan Bul</a>
                            </div>

                        </div>
                    }
                    <!-- Product Filter -->
                </div>

            </div>
        </div>

    </main>

    @section Js{
        <script src="~/themes/black/js/views/group/index.js"></script>
        <script>
            GroupIndex.Initialize('/@Model.Group.Url');
        </script>
    }
}
else
{

}
