﻿@model ECommerce.Application.Panel.ViewModels.Contacts.Create

<form class="kt-form kt-form--label-right" id="contact_create_form">
    <div class="kt-portlet__body">

        <div class="form-group">

            <div class="col-lg-12">

                <div class="kt-portlet kt-portlet--tabs">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x" role="tablist">

                                @foreach (var lLoop in Model.Languages)
                                {
                                    var active = Model.Languages.IndexOf(lLoop) == 0 ? "active" : "";
                    <li class="nav-item">
                        <a class="nav-link @active" data-toggle="tab" href="#tab_contact_@lLoop.Key" role="tab">
                            @lLoop.Value
                        </a>
                    </li>}

                            </ul>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="tab-content">

                            @for (int i = 0; i < Model.Languages.Count; i++)
                            {
                                var active = i == 0 ? "active" : "";
                            <div class="tab-pane @active" id="tab_contact_@Model.Languages[i].Key" role="tabpanel">
                             <div class="pos-relative  form-group">
                                <label class="input-abs-text">Adres Açıklaması:</label>
                                <input type="text" class="form-control" name="contactTranslations[@i][description]"  autocomplete="off" required>
                             
                                 <input type="hidden" name="contactTranslations[@i][languageId]" value="@Model.Languages[i].Key" />
                                    </div>
                            </div>
                            }
                              <div class="kt-form">
                                    <div class="kt-grid kt-grid--desktop kt-grid--ver-desktop">
                                        <div class="kt-grid__item kt-grid__item--middle">
                                            <div class="row ">
                                                <div class="col-lg-6 form-group">
                                                    <div class="kt-input-icon kt-input-icon--pill kt-input-icon--right pos-relative">
                                                        <label class="input-abs-text"> Adres: </label>
                                                        <input type="text" class="form-control" name="address"
                                                            value="" autocomplete="off" required>
                                                       
                                                    </div>
                                                </div>
                                            <div class="col-lg-6 form-group">
                                                    <div class="kt-input-icon kt-input-icon--pill kt-input-icon--right pos-relative">
                                                        <label class="input-abs-text">Telefon Numarası 1:  </label>
                                                        <input type="text" class="form-control" name="phone1"
                                                            value="" autocomplete="off" required>
                                                        
                                                    </div>
                                                </div>
                                         <div class="col-lg-6 form-group">
                                                    <div class="kt-input-icon kt-input-icon--pill kt-input-icon--right pos-relative">
                                                    <label class="input-abs-text">Telefon Numarası 2:</label>
                                                         <input type="text" class="form-control" name="phone2"
                                                            value="" autocomplete="off" required>
                                                  
                                                    </div>
                                                </div>
                                             <div class="col-lg-6 form-group">
                                                    <div class="kt-input-icon kt-input-icon--pill kt-input-icon--right pos-relative">
                                                       <label class="input-abs-text">Whatsapp Numarası: </label>
                                                        <input type="text" class="form-control" name="whatsapp"
                                                            value="" autocomplete="off" required>
                                                       
                                                    </div>
                                                </div>
                                             <div class="col-lg-6 form-group">
                                                    <div class="kt-input-icon kt-input-icon--pill kt-input-icon--right pos-relative">
                                                        <label class="input-abs-text">Email: </label>
                                                        <input type="text" class="form-control" name="email"
                                                            value="" autocomplete="off" required>
                                                           
                                                    </div>
                                                </div>
                                                     <div class="col-lg-6 form-group">
                                                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                                     <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" checked> Aktif
                                                    <span></span>
                                                </label>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


      
    </div>
</form>