﻿<form class="kt-form kt-form--label-right" id="sms_provider_create_form">
    <div class="kt-portlet__body">

        <div class="form-group">
            <label>No:</label>
            <input type="text" name="id" class="form-control" placeholder="No giriniz" autocomplete="off" required>
        </div>

        <div class="form-group">
            <label>Sms Sağlayıcı Adı:</label>
            <input type="text" name="name" class="form-control" placeholder="Sms Sağlayıcı adı giriniz" autocomplete="off" required>
        </div>

    </div>
</form>