﻿@model ECommerce.Application.Panel.ViewModels.SmsProviderCompanies.Update

    <form class="kt-form" id="sms_provider_update_form">

         <div class="kt-widget4">
            <input type="hidden" name="id" value="@Model.SmsProviderCompany.Id" />

            @foreach (var accLoop in Model.SmsProviderCompany.SmsProviderConfigurations)
            {

                var index = Model.SmsProviderCompany.SmsProviderConfigurations.IndexOf(accLoop);
                <div class="kt-widget4__item">
                    <div class="kt-widget4__info">
                        <input type="hidden" name="smsProviderConfigurations[@index][id]" value="@accLoop.Id" />
                        <span>@accLoop.Key</span>
                        <input type="text" name="smsProviderConfigurations[@index][value]" class="form-control" value="@accLoop.Value" placeholder="Değer adı giriniz">

                    </div>
                </div>
            }
        </div>
    </form>
