﻿@model ECommerce.Application.Panel.ViewModels.GoogleConfigrations.Update
<form class="kt-form kt-form--label-right" id="googleConfigration_update_form">
    <div class="kt-portlet__body">

        <input type="hidden" name="id" value="@Model.GoogleConfigration.Id" />

        <div class="form-group row">
          

            <div class="col-lg-8 pos-relative">
                <label class="input-abs-text">@Model.GoogleConfigration.Name :</label>
                <input type="text" class="form-control" name="code" value="@Model.GoogleConfigration.Code"  autocomplete="off" required>
                        
            </div>


            <div class="col-lg-4 flex-box">

                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input class="input-abs-text" type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" @Html.Raw(Model.GoogleConfigration.Active ? "checked" : "")> Aktif
                    <span></span>
                </label>

            </div>

        </div>

    </div>
</form>