﻿@model ECommerce.Application.Panel.ViewModels.PosConfigurations.Read

<div class="kt-widget4">
    <div class="kt-widget4__item">
        <div class="kt-widget4__info" id="new_pos_configuration">

            <input type="hidden" name="posId" value="@Model.PosId" />

            <input type="text" name="id" class="form-control" placeholder="No giriniz">

            <input type="text" name="key" class="form-control" placeholder="Anahtar giriniz">

            <input type="text" name="value" class="form-control" placeholder="Değer adı giriniz">

        </div>
        <a href="javascript:PosIndex.CreatePosConfigurationValue()" class="btn btn-sm btn-label-brand btn-bold">Kaydet</a>
    </div>
    @foreach (var pcLoop in Model.PosConfigurations)
    {
        <div class="kt-widget4__item">
            <div class="kt-widget4__info">

                <input type="hidden" name="id_@pcLoop.Id" value="@pcLoop.Id" />

                <input type="text" name="key_@pcLoop.Id" class="form-control" value="@pcLoop.Key" placeholder="Anahtar giriniz">

                <input type="text" name="value_@pcLoop.Id" class="form-control" value="@pcLoop.Value" placeholder="Değer adı giriniz">

            </div>
            <a href="javascript:PosIndex.UpdatePosConfigurationValue('@pcLoop.Id')" class="btn btn-sm btn-label-brand btn-bold">Güncelle</a>
        </div>
    }
</div>