﻿@model ECommerce.Application.Panel.ViewModels.Categories.Create

<form class="kt-form kt-form--label-right" id="category_create_form">
    <div class="kt-portlet__body">

        <div class="form-group">

            <div class="kt-portlet kt-portlet--tabs">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-toolbar">
                        <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x" role="tablist">

                            @foreach (var lLoop in Model.Languages)
                            {
                                var active = Model.Languages.IndexOf(lLoop) == 0 ? "active" : "";
                                <li class="nav-item">
                                    <a class="nav-link @active" data-toggle="tab" href="#tab_content_@lLoop.Key" role="tab">
                                        @lLoop.Value
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="tab-content">

                        @for (int i = 0; i < Model.Languages.Count; i++)
                        {
                            var active = i == 0 ? "active" : "";
                            <div class="tab-pane @active" id="tab_content_@Model.Languages[i].Key form-group" role="tabpanel">

                                <input type="hidden" name="categoryTranslations[@i][languageId]" value="@Model.Languages[i].Key" />

                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Kategori Adı:</label>
                                    <input type="text" class="form-control" name="categoryTranslations[@i][name]" autocomplete="off" required>
                                </div>

                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Seo Başlık:</label>
                                    <input type="text" class="form-control" name="categoryTranslations[@i][CategorySeoTranslation][title]" autocomplete="off" required>
                                </div>

                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Seo Anahtar Kelime:</label>
                                    <input type="text" class="form-control" name="categoryTranslations[@i][CategorySeoTranslation][metaKeywords]" autocomplete="off" required>
                                </div>
                                <div class="form-group pos-relative">
                                    <label class="input-abs-text">Seo Açıklaması:</label>
                                    <input type="text" class="form-control" name="categoryTranslations[@i][CategorySeoTranslation][metaDescription]" autocomplete="off" required>
                                </div>
                                <div class="form-group ">
                                    <label>İçerik:</label>
                                    <textarea class="summernote" name="categoryTranslations[@i][CategoryContentTranslation][content]"></textarea>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

        </div>

        <div class="kt-portlet__body kt-container  kt-container--fluid ">

            <div class="form-group">
                <input id="fileNameImage" type="file" style="display: none;" />
                <button id="select-fileNameImage" type="button" class="btn btn-success">Seç</button>
                <img src="~/img/upload/uploadImg.png" style="height: 65px; width: 65px;" id="fileNameImage-preview" />

                <input id="fileNameImageUrl" name="fileName" type="hidden" value="">
            </div>

            <div class="form-group">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" checked> Aktif
                    <span></span>
                </label>
            </div>

            <div class="form-group ">
                <label>Üst Kategori:</label>
                <select name="parentCategoryId" class="form-control kt-select2">
                    <option value="0"></option>
                    @foreach (var cLoop in Model.Categories)
                    {
                        <option value="@cLoop.Key">@cLoop.Value</option>
                    }
                </select>

            </div>

        </div>

    </div>
</form>