﻿@model ECommerce.Application.Panel.ViewModels.Categories.Update

<form class="kt-form kt-form--label-right" id="category_update_form">
    <div class="kt-portlet__body">

        <input type="hidden" name="id" value="@Model.Category.Id" />

        <div class="form-group row">

            <div class="col-lg-12">

                <div class="kt-portlet kt-portlet--tabs">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x" role="tablist">

                                @foreach (var lLoop in Model.Languages)
                                {
                                    var active = Model.Languages.IndexOf(lLoop) == 0 ? "active" : "";
                                    <li class="nav-item">
                                        <a class="nav-link @active" data-toggle="tab" href="#tab_content_@lLoop.Key" role="tab">
                                            @lLoop.Value
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="tab-content">

                            @for (int i = 0; i < Model.Languages.Count; i++)
                            {
                                var categoryTranslation = Model.Category.CategoryTranslations.FirstOrDefault(ct => ct.LanguageId == Model.Languages[i].Key);
                                if (categoryTranslation == null) continue;
                                var active = i == 0 ? "active" : "";
                                <div class="tab-pane @active" id="tab_content_@Model.Languages[i].Key" role="tabpanel">

                                    <input type="hidden" name="categoryTranslations[@i][languageId]" value="@Model.Languages[i].Key" />

                                    <div class="form-group pos-relative">
                                        <label class="input-abs-text">Kategori Adı:</label>
                                        <input type="text" class="form-control" name="categoryTranslations[@i][name]" value="@categoryTranslation?.Name" autocomplete="off" required>
                                    </div>

                                    <div class="form-group pos-relative">
                                        <label class="input-abs-text">Kategori Url:</label>
                                        <input type="text" class="form-control" disabled value="@categoryTranslation?.Url" autocomplete="off" required>
                                    </div>

                                    <div class="form-group pos-relative">
                                        <label class="input-abs-text">Seo Başlık:</label>
                                        <input type="text" class="form-control" name="categoryTranslations[@i][CategorySeoTranslation][title]" value="@categoryTranslation.CategorySeoTranslation?.Title" autocomplete="off" required>
                                    </div>

                                    <div class="form-group pos-relative">
                                        <label class="input-abs-text">Seo Anahtar Kelime:</label>
                                        <input type="text" class="form-control" name="categoryTranslations[@i][CategorySeoTranslation][metaKeywords]" value="@categoryTranslation.CategorySeoTranslation?.MetaKeywords" autocomplete="off" required>
                                    </div>
                                    <div class="form-group pos-relative">
                                        <label class="input-abs-text">Seo Açıklaması:</label>
                                        <input type="text" class="form-control" name="categoryTranslations[@i][CategorySeoTranslation][metaDescription]" placeholder="Seo Açıklaması giriniz" value="@categoryTranslation.CategorySeoTranslation?.MetaDescription" autocomplete="off" required>
                                    </div>
                                    <label>İçerik:</label>
                                    <textarea class="summernote" name="categoryTranslations[@i][CategoryContentTranslation][content]">@Html.Raw(categoryTranslation.CategoryContentTranslation?.Content)</textarea>

                                </div>
                            }

                        </div>
                    </div>
                </div>

            </div>

            <div class="kt-portlet__body kt-container  kt-container--fluid ">
                <div class="form-group">
                    <input id="fileNameImage" type="file" style="display: none;" />
                    <button id="select-fileNameImage" type="button" class="btn btn-success">Seç</button>
                    <img id="fileNameImage-preview" src="@Model.Category.FileName" style="height: 65px; width: 65px;" />
                    <input id="fileNameImageUrl" name="fileName" type="hidden" value="@Model.Category.FileName">
                </div>



                <div class="form-group">
                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                        <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" @Html.Raw(Model.Category.Active ? "checked" : "")> Aktif
                        <span></span>
                    </label>
                </div>



                <label>Üst Kategori:</label>
                <select name="parentCategoryId" class="form-control kt-select2">
                    <option value="0"></option>
                    @foreach (var cLoop in Model.Categories)
                    {
                        <option value="@cLoop.Key" @(Model.Category.ParentCategoryId == cLoop.Key ? "selected" : "")>@cLoop.Value</option>
                    }
                </select>
            </div>



        </div>

    </div>
</form>