﻿@model ECommerce.Application.Panel.ViewModels.ProductPrices.AccountingPrice


<form id="product_price_accounting_price_form" class="kt-form kt-form--label-right">

    <div class="kt-portlet__body">


        <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
            <thead>
                <tr>
                    <th width="10%">
                              <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                            <input type="checkbox" onclick="ProductPriceIndex.AccountingPriceCheckAll(this.checked)">
                            Tümünü Seç
                            <span></span>
                            </label>

                            </th>
                    <th width="30%">Pazaryeri</th>
                    <th width="20%">Toplam Ürün Sayısı</th>
                    <th width="20%">Erp/Xml Güncellensin Sayısı</th>
                    <th width="20%">Erp/Xml Güncellenmesin Sayısı</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.MarketplaceAccountingPrices.Count == 0)
                {
                    <tr>
                        <td colspan="5">Gösterilecek veri bulunamadı</td>
                    </tr>
                }

                @foreach (var pi in Model.MarketplaceAccountingPrices)
                {
                    <tr>
                        <td align="center" style="height:50px;vertical-align:top;">
                            <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand kt-checkbox-marketplace-accounting-price">
                                <input type="checkbox" value="@pi.MarketplaceId">
                                <span></span>
                            </label>
                        </td>
                        <td><img src="/org/img/marketplace-icons/@(pi.MarketplaceId).png" width="50" style="margin-right: 15px;"> </td>
                        <td>@pi.AccountingPriceTotalCount</td>
                        <td>@pi.OpenAccountingPriceCount</td>
                        <td>@pi.ClosedAccountingPriceCount</td>
                    </tr>
                }

                <tr>
                    <th style="height: 50px;vertical-align: top;">
                        Seçiniz :
                    </th>
                    <td colspan="4" >
                        @if (Model.AccountingPrices.Count > 0)
                        {
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="kt-input-icon kt-input-icon--left">

                                        <select id="accountingPriceId"
                                            class="form-control kt-select2">                                          
                                            @foreach (var accountingprice in Model.AccountingPrices)
                                            {
                                                <option value="@accountingprice.Key">
                                                    @accountingprice.Value
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            </tbody>
        </table>


    </div>

</form>
