﻿@model ECommerce.Application.Panel.ViewModels.ProductPrices.Create


<form id="product_price_create_form" class="kt-form kt-form--label-right">

    <div class="kt-portlet__body">

        <div class="form-group row">

            <div class="col-md-12">

                <div class="pos-relative">
                    <label class="input-abs-text">Güncellenecek Fiyat:</label>
                    <select name="updatePriceId" class="form-control kt-selectpicker" data-live-search="true" required>
                        @foreach (var bLoop in Model.MarketplacePrices)
                        {
                            <option value="@bLoop.Key">@bLoop.Value</option>
                        }
                    </select>
                </div>

            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">

                <div class="pos-relative">
                    <label class="input-abs-text">Kaynak Fiyat:</label>
                    <select name="sourcePriceId" class="form-control kt-selectpicker" data-live-search="true" required>
                        @foreach (var bLoop in Model.MarketplacePrices)
                        {
                            <option value="@bLoop.Key">@bLoop.Value</option>
                        }
                    </select>
                </div>

            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">

                <div class="pos-relative">
                    <label class="input-abs-text">Yapılacak Fiyat İşlemi:</label>
                    <select name="productPriceId:number" class="form-control kt-selectpicker" data-live-search="true" required>
                        @foreach (var bLoop in Model.ActionPrices)
                        {
                            <option value="@bLoop.Key">@bLoop.Value</option>
                        }
                    </select>
                </div>

            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">

                <div class="pos-relative">
                    <label class="priceValue input-abs-text">Değer:</label>
                    <input type="number" name="priceCalculated:number" class="form-control small-placeholder" placeholder="İşlem yapılacak fiyat değeri" autocomplete="off" required>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">

                <div class="pos-relative">
                    <label class="input-abs-text">Küsürat İşlemi:</label>
                    <select name="productPriceFractionId:number" class="form-control kt-selectpicker" data-live-search="true" required>
                        @foreach (var bLoop in Model.FractionPrices)
                        {
                            <option value="@bLoop.Key">@bLoop.Value</option>
                        }
                    </select>
                </div>

            </div>
        </div>
        @if (Model.IncludeAccounting)
        {
            <div class="form-group row">
                <div class="col-md-12">

                    <div class="pos-relative">
                        <label class="input-abs-text">Erp/Xml Aç/Kapa:</label>
                        <select name="accountingPriceId:number" class="form-control kt-selectpicker" data-live-search="true" required>
                            @foreach (var bLoop in Model.AccountingPrices)
                            {
                                <option value="@bLoop.Key">@bLoop.Value</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        }
        else
        {
            <input type="hidden"  name="accountingPriceId:number" value="1" />
        }
    </div>

</form>
