﻿@model ECommerce.Application.Panel.ViewModels.Products.Index
<!-- Pagination::Begin -->
<div class="row mt25">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__body">

                <!--begin: Pagination-->
                <div class="kt-pagination kt-pagination--brand">
                    <div class="kt-pagination__toolbar">
                        <div class="pos-relative mr-3">
                            <label class="input-abs-text">Kayıt Sayısı</label>
                            <select class="kt-hidden-select2 ajax_data_length" onchange="ProductPriceIndex.ChangePageRecordsCount(this)">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <span class="pagination__desc">
                            ...
                        </span>
                    </div>
                    <ul class="kt-pagination__links">
                        ...
                    </ul>
                </div>

                <!--end: Pagination-->
            </div>
        </div>
    </div>
</div>
<!-- Pagination::End -->
<div class="row">
    <div class="col-md-12">
        <div class="kt-grid__item kt-grid__item--fluid">
            <div class="kt-portlet kt-portlet--mobile ">
                <div class="kt-portlet__head kt-portlet__head--lg">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon2-cube-1"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Toplu Ürün İşlemleri
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">


                            <div class="btn-group dropleft">
                                <button class="btn btn-brand dropleft dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    İşlemler
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <a href="javascript:ProductPriceIndex.OpenBulkMarketplaceModal()" class="dropdown-item">
                                        <i class="la la-adjust"></i>
                                        Toplu Excel İşlemi Oluştur
                                    </a>
                                    <a href="javascript:ProductPriceIndex.OpenCreatePriceModal()" class="dropdown-item">
                                        <i class="la la-adjust"></i>
                                        Toplu Fiyat İşlemi Oluştur
                                    </a>

                                    <a href="javascript:ProductPriceIndex.OpenUpdatePriceModal()" class="dropdown-item">
                                        <i class="la la-ruble"></i>
                                        Toplu Fiyat İşlemlerini Güncelle
                                    </a>
                                    @if (Model.IncludeAccounting)
                                    {
                                        <a href="javascript:ProductPriceIndex.OpenAccountingPriceModal()" class="dropdown-item">
                                            <i class="la la-edit"></i>
                                            Pazaryerinde Toplu Erp/Xml Aç/Kapat
                                        </a>
                                    }
                                    <a href="javascript:ProductPriceIndex.OpenProductUpdatePriceModal()" class="dropdown-item">
                                        <i class="la la-edit"></i>
                                        Pazaryerinde Toplu Ürün Ve Fiyat Güncellenmesin Aç/Kapat
                                    </a>

                                    

                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">

                    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div id="kt_table_1_filter" class="dataTables_filter orderFilterBox flex-box">

                            <div class="row" id="orderFilterRow">

                                <div class="form-group">
                                    <label>
                                        <span class="label-text"> Ürün Adı:</span>
                                        <input id="ajax_data_search_name" type="text" class="form-control" placeholder="Ürün Adı Arama..." aria-controls="kt_table_1" onchange="ProductPriceIndex.Read(0)">
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <span class="label-text"> Ürün Stok Kodu:</span>
                                        <input id="ajax_data_search_stock_code" type="text" class="form-control" placeholder="Stok kodu Arama..." aria-controls="kt_table_1" onchange="ProductPriceIndex.Read(0)">
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <span class="label-text"> Ürün Barkod:</span>
                                        <input id="ajax_data_search_barcode" type="text" class="form-control" placeholder="Barkod Arama..." aria-controls="kt_table_1" onchange="ProductPriceIndex.Read(0)">
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <span class="label-text"> Ürün Model Kodu:</span>
                                        <input id="ajax_data_search_model_code" type="text" class="form-control" placeholder="Model Kodu Arama..." aria-controls="kt_table_1" onchange="ProductPriceIndex.Read(0)">
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <span class="input-abs-text"> Marka</span>
                                        <select id="ajax_data_search_brand_id" class="form-control kt-select2"
                                                onchange="ProductPriceIndex.Read(0)">
                                            <option value="-1">Tümü</option>
                                            @foreach (var osLoop in Model.Brands)
                                            {
                                                <option value="@osLoop.Key">@osLoop.Value</option>
                                            }
                                        </select>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <span class="input-abs-text"> Kategori</span>
                                        <select id="ajax_data_search_category_id" class="form-control kt-select2"
                                                onchange="ProductPriceIndex.Read(0)">
                                            <option value="-1">Tümü</option>
                                            @foreach (var osLoop in Model.Categories)
                                            {
                                                <option value="@osLoop.Key">@osLoop.Value</option>
                                            }
                                        </select>
                                    </label>
                                </div>

                                @if (Model.ProductSourceDomains.Count > 0)
                                {
                                    <div class="form-group">
                                        <label>
                                            <span class="input-abs-text"> Ürün Kaynağı</span>
                                            <select id="ajax_data_search_product_domain_source_id" class="form-control kt-select2"
                                                onchange="ProductPriceIndex.Read(0)">
                                                <option value="-1">Tümü</option>
                                                @foreach (var osLoop in Model.ProductSourceDomains)
                                                {
                                                    <option value="@osLoop.Key">@osLoop.Value</option>
                                                }
                                            </select>
                                        </label>
                                    </div>
                                }

                                @if (Model.IncludeAccounting && Model.AccountingPrices.Count > 0)
                                {
                                    <div class="form-group">
                                        <label>
                                            <span class="input-abs-text"> Erp/Xml Fiyat Güncellemesi</span>
                                            <select id="ajax_data_search_product_xmlerp_id" class="form-control kt-select2"
                                                onchange="ProductPriceIndex.Read(0)">
                                                <option value="-1">Tümü</option>
                                                @foreach (var osLoop in Model.AccountingPrices)
                                                {
                                                    <option value="@osLoop.Key">@osLoop.Value</option>
                                                }
                                            </select>
                                        </label>
                                    </div>

                                }

                                <div class="form-group">
                                    <label>
                                        <span class="input-abs-text"> Ürün Özelliği</span>
                                        <select id="ajax_data_search_product_property" class="form-control kt-select2"
                                                onchange="ProductPriceIndex.Read(0)">
                                            <option value="-1">Tümü</option>
                                            <option value="1">Stoklu ürünler</option>
                                            <option value="2">Fotoğrafsız ürünler</option>
                                            <option value="3">Pazaryerinde ürün ve fiyat güncellenmeyecek ürünler</option>

                                        </select>
                                    </label>
                                </div>



                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-5">
                                            <div class="dataTables_info" id="ajax_data_info" role="status" aria-live="polite"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <input id="ajax_data_page" type="hidden" value="0" />

                            <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
                                <thead>
                                    <tr>
                                        <th width="5%">No.</th>
                                        <th width="5%">Ürün Kaynağı</th>
                                        <th width="5%">Model Kodu</th>
                                        <th width="25%">Foto</th>
                                        <th width="40%">Fiyat</th>
                                        <th width="20%">Yeni Fiyat</th>
                                    </tr>
                                </thead>
                                <tbody id="ajax_data"></tbody>
                            </table>

                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="ajax_data_info" role="status" aria-live="polite"></div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pagination::Begin -->
<div class="row">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__body">

                <!--begin: Pagination-->
                <div class="kt-pagination kt-pagination--brand">
                    <div class="kt-pagination__toolbar">
                        <div class="pos-relative mr-3">
                            <label class="input-abs-text">Kayıt Sayısı</label>
                            <select class="kt-hidden-select2 ajax_data_length" onchange="ProductPriceIndex.ChangePageRecordsCount(this)">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <span class="pagination__desc">
                            ...
                        </span>
                    </div>
                    <ul class="kt-pagination__links">
                        ...
                    </ul>
                </div>

                <!--end: Pagination-->
            </div>
        </div>
    </div>
</div>
<!-- Pagination::End -->
<!-- Modal::Begin-->
<div class="modal fade" id="product_price_create_modal" tabindex="-1" role="dialog" aria-labelledby="modal-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="product_price_create_modal_title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="product_price_create_modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="product_price_create_modal_submit" type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
<!-- Modal::Begin-->
<div class="modal fade" id="product_price_update_modal" tabindex="-1" role="dialog" aria-labelledby="modal-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="product_price_update_modal_title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="product_price_update_modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="product_price_delete_modal_submit" type="button" class="btn btn-danger">Toplu Fiyat İşlemlerini Geri Al</button>

                <button id="product_price_update_modal_submit" type="button" class="btn btn-primary">Toplu Fiyat İşlemlerini Güncelle</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
<!-- Modal::Begin-->
<div class="modal fade" id="product_price_accounting_price_modal" tabindex="-1" role="dialog" aria-labelledby="modal-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="product_price_accounting_price_modal_title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="product_price_accounting_price_modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="product_price_accounting_price_modal_submit" type="button" class="btn btn-primary">Güncelle</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->

<!-- Modal::Begin-->
<div class="modal fade" id="product_price_update_price_modal" tabindex="-1" role="dialog" aria-labelledby="modal-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="product_price_update_price_modal_title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="product_price_update_price_modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="product_price_update_price_modal_submit" type="button" class="btn btn-primary">Güncelle</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->


<!-- Modal::Begin-->
<div class="modal fade" id="bulk_marketplace_modal" tabindex="-1" role="dialog" aria-labelledby="modal-2" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bulk_marketplace_modal_title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="bulk_marketplace_modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
@section Scripts {
    <script src="/org/library/js/jquery-validation.js?v=0.6" charset="utf-8"></script>
    <script src="/org/library/js/jquery-serializer.js"></script>
    <script src="/org/library/js/jquery-table.js?v=3.0"></script>
    <script src="/org/js/views/product-price/index.js"></script>

}