﻿@model ECommerce.Application.Panel.ViewModels.ProductPrices.ProductUpdatePrice


<form id="product_price_update_price_form" class="kt-form kt-form--label-right">

    <div class="kt-portlet__body">


        <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
            <thead>
                <tr>
                    <th width="10%">
                              <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                            <input type="checkbox" onclick="ProductPriceIndex.UpdatePriceCheckAll(this.checked)">
                            Tümünü Seç
                            <span></span>
                            </label>

                            </th>
                    <th width="30%">Pazaryeri</th>
                    <th width="20%">Toplam Ürün Sayısı</th>
                    <th width="20%">Ürün ve Fiyat Güncellensin Sayısı</th>
                    <th width="20%">Ürün ve Fiyat Güncellenmesin Sayısı</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.MarketplaceUpdateProductPrices.Count == 0)
                {
                    <tr>
                        <td colspan="5">Gösterilecek veri bulunamadı</td>
                    </tr>
                }

                @foreach (var pi in Model.MarketplaceUpdateProductPrices)
                {
                    <tr>
                        <td align="center" style="height:50px;vertical-align:top;">
                            <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand kt-checkbox-marketplace-update-price">
                                <input type="checkbox" value="@pi.MarketplaceId">
                                <span></span>
                            </label>
                        </td>
                        <td><img src="/org/img/marketplace-icons/@(pi.MarketplaceId).png" width="50" style="margin-right: 15px;"> </td>
                        <td>@pi.UpdateProductPriceTotalCount</td>
                        <td>@pi.OpenUpdateProductPriceCount</td>
                        <td>@pi.ClosedUpdateProductPriceCount</td>
                    </tr>
                }

                <tr>
                    <th style="height: 50px;vertical-align: top;">
                        Seçiniz :
                    </th>
                    <td colspan="4" >
                        @if (Model.UpdateProductPrices.Count > 0)
                        {
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="kt-input-icon kt-input-icon--left">

                                        <select id="updatePriceId"
                                            class="form-control kt-select2">
                                            @foreach (var updateprice in Model.UpdateProductPrices)
                                            {
                                                <option value="@updateprice.Key">
                                                    @updateprice.Value
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            </tbody>
        </table>


    </div>

</form>
