﻿@model ECommerce.Application.Panel.ViewModels.ProductPrices.Update


<form id="product_price_update_form" class="kt-form kt-form--label-right">

    <div class="kt-portlet__body">


        <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
            <thead>
                <tr>
                    <th width="50%">Pazaryeri</th>
                    <th width="50%">Güncellenecek Ürün Sayısı</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.MarketplaceUpdatePrices.Count == 0)
                {
                         <tr>
                <td colspan="2">Gösterilecek veri bulunamadı</td>
            </tr>
                }

                @foreach (var pi in Model.MarketplaceUpdatePrices)
                {
                     <tr>
                        <td><img src="/org/img/marketplace-icons/@(pi.Key).png" width="50" style="margin-right: 15px;"> </td>
                        <td>@pi.Value</td>
                    </tr>
                }
            </tbody>
        </table>


    </div>

</form>
