﻿@model ECommerce.Application.Client.ViewModels.Products.Index

@if (Model.Success)
{
   @* var tags = Model.ProductInformation.ProductInformationContent.Tags != null ? string.Join(",", Model.ProductInformation.ProductInformationContent.Tags) : "";
    if (!string.IsNullOrEmpty(tags))
    {
        tags = tags.Replace("\r", "");
    }*@

    ViewData["Title"] = Html.Raw(Model.ProductInformation.ProductInformationSeo?.Title);
    ViewData["Description"] = Html.Raw(Model.ProductInformation.ProductInformationSeo?.MetaDescription);
  
    @section Head{
    <meta property="og:type"                   content="og:product" />
    <meta property="og:title"                  content="@Html.Raw(Model.ProductInformation.ProductInformationSeo?.Title)" />
    <meta property="og:image"                  content="@Model.ProductInformation.ProductInformationPhotos[0].FileName" />
    <meta property="og:description"            content="@Html.Raw(Model.ProductInformation.ProductInformationSeo?.MetaDescription)" />
    <meta property="og:url"                    content="@Html.Raw(ViewData["Url"])" />
    <meta property="product:plural_title"      content="@Html.Raw(Model.ProductInformation.ProductInformationSeo?.Title)" />
    <meta property="product:price:amount"      content="@Model.ProductInformation.ProductInformationPrice.UnitPrice.ToString().Replace(",",".")"/>
    <meta property="product:price:currency"    content="TRY"/>

    <script type="application/ld+json">
{
  "@@context":"https://schema.org",
  "@@type":"Product",
  "productID":"@(Model.ProductInformation.Product.Id)",
  "name":"@Html.Raw(Model.ProductInformation.ProductInformationSeo?.Title.Replace("\"", ""))",
  "description":"@Html.Raw(Model.ProductInformation.ProductInformationSeo?.MetaDescription.Replace("\"", ""))",
  "url":"@Html.Raw(ViewData["Url"])",
  "image":"@Model.ProductInformation.ProductInformationPhotos[0].FileName",
  "brand": "fidanistanbul",
  "offers": [
    {
      "@@type": "Offer",
      "price": "@Html.Raw(Model.ProductInformation.ProductInformationPrice.UnitPrice.ToString().Replace(",","."))",
      "priceCurrency": "TRY",
      "itemCondition": "https://schema.org/NewCondition",
      "availability": "InStock"
    }
  ],
  "additionalProperty": [{
    "@@type": "PropertyValue",
    "propertyID": "@Model.ProductInformation.Product.CategoryId",
    "value": "@Html.Raw(Model.ProductInformation.Product.Categories[0].Name)"
  }]
}
</script>

     <script type="application/ld+json">
          {
        "@@context": "https://schema.org/",
        "@@type": "Product",
        "name": "@Html.Raw(Model.ProductInformation.ProductInformationSeo?.Title.Replace("\"", ""))",
        "image": [
          "@Model.ProductInformation.ProductInformationPhotos[0].FileName"
         ],
        "description": "@Html.Raw(Model.ProductInformation.ProductInformationSeo?.MetaDescription.Replace("\"", ""))",
        "sku": "f@(Model.ProductInformation.Product.Id)",
        "mpn": "@Model.ProductInformation.Barcode",
        "brand": {
          "@@type": "Brand",
          "name": "fidanistanbul"
        },
        "review": {
          "@@type": "Review",
          "reviewRating": {
            "@@type": "Rating",
            "ratingValue": "@*@(Model.ProductInformation.AverageRating == 0 ? 5 : @Model.ProductInformation.AverageRating.ToString("N0"))*@",
            "bestRating": "5"
          },
          "author": {
            "@@type": "Person",
            "name": "@(Model.Company.Name)"
          }
        },
        "aggregateRating": {
          "@@type": "AggregateRating",
          "ratingValue": "@*@(Model.ProductInformation.AverageRating == 0 ? 5 : @Model.ProductInformation.AverageRating.ToString("N0"))*@",
          "reviewCount": "@(Model.ProductInformation.ProductInformationComments.Count == 0 ? 5 : Model.ProductInformation.ProductInformationComments.Count )"
        },
        "offers": {
          "@@type": "AggregateOffer",
          "offerCount": "@(Model.ProductInformation.ProductInformationPrice.Discount == 0 ? 1 : Model.ProductInformation.ProductInformationPrice.Discount)",
          "lowPrice": "@Html.Raw(Model.ProductInformation.ProductInformationPrice.UnitPrice.ToString().Replace(",","."))",
          "highPrice": "@Html.Raw(Model.ProductInformation.ProductInformationPrice.ListUnitPrice.ToString().Replace(",","."))",
          "priceCurrency": "TRY"
        }
      }

    </script>

    

    }

    <main class="main product-detail-main">

        <div class="container mb-30" id="productPartial">

            @Html.PartialAsync("IndexPartial", Model.ProductInformation).Result


        </div>







    </main>

    <style>
        .whatsappButton {
            display: none !important;
        }

        @@media(max-width:520px) {
            footer {
                padding-bottom: 50px;
            }
        }
    </style>
    <script src="~/themes/baby/js/views/product/zoom.js"></script>
}


