﻿@*@model ECommerce.Application.Panel.ViewModels.ManagerRoles.Create

<form id="manager_role_create_form" class="kt-form kt-form--label-right">

    <div class="kt-portlet__body">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Ad:</label>
                    <input type="text" name="name" class="form-control" autocomplete="off" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @for (int i = 0; i < Model.ManagementPages.Count; i++)
                {
                    <div class="form-group">
                        <label class="kt-checkbox kt-checkbox--bold">
                            <input type="checkbox" name="managerRoleManagementPages[][managementPageId]" value="@Model.ManagementPages[i].Id"> @Model.ManagementPages[i].Name
                            <span></span>
                        </label>
                    </div>
                }
            </div>
        </div>

    </div>

</form>*@