﻿@*@model ECommerce.Application.Panel.ViewModels.ManagerRoles.Update

<form class="kt-form" id="manager_role_update_form">

    <div class="kt-portlet__body">
        <div class="kt-section kt-section--first">

            <input type="hidden" name="id" value="@Model.ManagerRole.Id" />

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Ad:</label>
                        <input type="text" name="name" class="form-control" value="@Model.ManagerRole.Name" autocomplete="off" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    @for (int i = 0; i < Model.ManagementPages.Count; i++)
                    {
                        <div class="form-group">
                            <label class="kt-checkbox kt-checkbox--bold">
                                <input type="checkbox" name="managerRoleManagementPages[][managementPageId]" value="@Model.ManagementPages[i].Id" @(Model.ManagerRole.ManagerRoleManagementPages.Any(x => x.ManagementPageId == Model.ManagementPages[i].Id) ? "checked" : "")> @Model.ManagementPages[i].Name
                                <span></span>
                            </label>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>

</form>*@