﻿@model ECommerce.Application.Client.ViewModels.Searches.Index
@{
    ViewData["Title"] = Html.Raw($"Fidan İstanbul | {Model.Keyword}");
    ViewData["Description"] = Html.Raw($"{Model.Keyword} araması sonucu ürünlerimizi listeledik. Aradığınız ürüne ulaşamama durumunda farklı bir kelime ile arama yapmanızı rica ederiz");

}
@if (Model.Success)
{

    string pageItems = $"pc={Model.PageRecordsCount}&st={Model.PageSorting}";

    <main class="main">
        <div class="page-header mt-15 mb-15">
            <div class="container">
                <div class="tag-header">
                    <div class="row align-items-center">
                        <div class="col-xl-5 category-breadbox">

                            <div class="breadcrumb">
                                <a href="@Url.Action("Index","Home")"><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
                                <span></span>
                                <h1 class="font-sm">@Model.Keyword</h1>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container-md mb-30">
            <div class="shop-product-fillter">
                <div class="totall-product">
                    <p>Toplam <strong>@Model.ProductCount</strong> üründen,<strong>@Model.PageProductCount</strong> adet listelendi.</p>
                </div>
                <div class="sort-by-product-area ">
                    <div class="sort-by-cover mr-10">
                        <div class="sort-by-product-wrap">
                            <div class="sort-by">
                                <span><i class="fi-rs-apps"></i>Göster:</span>
                            </div>
                            <div class="sort-by-dropdown-wrap">
                                <span>
                                    @Model.PageRecordsCount
                                    <i class="fi-rs-angle-small-down"></i>
                                </span>
                            </div>
                        </div>
                        <div class="sort-by-dropdown">
                            <ul>
                                <li><a @(Model.PageRecordsCount == 20 ? "class=active" : "") href="@($"/Search?q={Model.Keyword}&{$"pc=20"}&st={Model.PageSorting}")">20</a></li>
                                <li><a @(Model.PageRecordsCount == 50 ? "class=active" : "") href="@($"/Search?q={Model.Keyword}&{$"pc=50"}&st={Model.PageSorting}")">50</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="sort-by-cover">
                        <div class="sort-by-product-wrap">
                            <div class="sort-by">
                                <span><i class="fi-rs-apps-sort"></i>Sırala:</span>
                            </div>
                            <div class="sort-by-dropdown-wrap">
                                @{

                                    string sortingValue = "Sırala";

                                    switch (Model.PageSorting)
                                    {
                                        case 1:
                                            sortingValue = "Artan Fiyat";
                                            break;
                                        case 2:
                                            sortingValue = "Azalan Fiyat";
                                            break;
                                        case 3:
                                            sortingValue = "Alfabetik A dan Z'ye";
                                            break;
                                        case 4:
                                            sortingValue = "Alfabetik Z dan A'ya";
                                            break;

                                    }
                                }

                                <span>@sortingValue <i class="fi-rs-angle-small-down"></i></span>
                            </div>
                        </div>
                        <div class="sort-by-dropdown">
                            <ul>
                                <li><a @(Model.PageSorting == 0 ? "class=active" : "") href="@($"/Search?q={Model.Keyword}&st=0&pc={Model.PageRecordsCount}")">Sırala</a></li>
                                <li><a @(Model.PageSorting == 1 ? "class=active" : "") href="@($"/Search?q={Model.Keyword}&st=1&pc={Model.PageRecordsCount}")">Artan Fiyat</a></li>
                                <li><a @(Model.PageSorting == 2 ? "class=active" : "") href="@($"/Search?q={Model.Keyword}&st=2&pc={Model.PageRecordsCount}")">Azalan Fiyat</a></li>
                                <li><a @(Model.PageSorting == 3 ? "class=active" : "") href="@($"/Search?q={Model.Keyword}&st=3&pc={Model.PageRecordsCount}")">Alfabetik A dan Z'ye</a></li>
                                <li><a @(Model.PageSorting == 4 ? "class=active" : "") href="@($"/Search?q={Model.Keyword}&st=4&pc={Model.PageRecordsCount}")">Alfabetik Z dan A'ya</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row product-grid-4 justify-content-center" id="products" data-page="0">
                @foreach (var pLoop in Model.ProductInformations)
                {
                    @Html.PartialAsync($"/Themes/Cosmetic/Views/Product/productBox.cshtml", new ECommerce.Application.Common.DataTransferObjects.ProductComponent
            {
            ListUnitPrice = pLoop.ProductInformationPrice.ListUnitPrice,
            Name = pLoop.Name,
            ProductInformationId = pLoop.Id,
            ProductId = pLoop.Id,
            FileName = pLoop.ProductInformationPhotos.FirstOrDefault() != null ? pLoop.ProductInformationPhotos.FirstOrDefault().FileName : null,
            UnitPrice = pLoop.ProductInformationPrice.UnitPrice,
            SubTitle = pLoop.SubTitle,
            VatRate = pLoop.ProductInformationPrice.VatRate,
            Discount = pLoop.ProductInformationPrice.Discount,
            ProductLabels = pLoop.Product.ProductLabels.Select(x => x.Value).ToList(),
            IsSale = pLoop.IsSale,
            Payor = pLoop.Payor,
            Url=pLoop.Url,
            IsStock=pLoop.IsStock,
            ShoppingCartDiscount=false,
            VariantValuesDescription=pLoop.VariantValuesDescription
            }).Result
                    ;
                }
            </div>

            <!--Pagination Number -->
            <div class="pagination-area mt-20 mb-20">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">

                        @for (int i = 0; i < Model.PagesCount; i++)
                        {

                            <li class="page-item">
                                @if (Model.Page == i)
                                {
                                    <span class="page-link page-link-active">@(i + 1)</span>
                                }
                                else
                                {
                                    <a class="page-link" href="@($"/Search?q={Model.Keyword}{(i != 0 ? $"&p={i}&{pageItems}" : $"&{pageItems}")}")">@(i + 1)</a>
                                }
                            </li>
                        }

                    </ul>
                </nav>
            </div>
            <!--Pagination Number -->



        </div>

    </main>

}
else
{

}