﻿<div class="kt-portlet__body">

    <div class="row">

        <div class="form-group col-6 col-md-3 ">
            <button type="button" class="btn btn-brand" onclick="ProductIndex.DownloadBulkMarketplace()">İndir</button>
        </div>

        <div class="col-lg-4 col-md-9 col-sm-12">
            <div class="dropzone dropzone-default dropzone-brand dz-clickable" id="kt_dropzone_2">
                <div class="dropzone-msg dz-message needsclick">
                    <input id="bulk-marketplace-file" type="file" />
                    <button type="button" class="btn btn-info" onclick="ProductIndex.UpdateBulkMarketplace()">Gönder</button>
                </div>
            </div>
        </div>

    </div>

</div>