﻿<form class="kt-form" id="integration_create_form">
    <div class="kt-portlet__body">





        <div class="row">


            <div class="col-md-6">
                <div class="kt-heading kt-heading--md">Xml Tanımlama Bilgileri</div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Xml Adresi:</label>
                            <input type="text" id="xml-url" class="form-control" placeholder="Giriniz" required autocomplete="off" value="https://www.aslansaat.com/connectprof/tdk2eerm_aslansaatcomsimgesaat">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-brand" type="button" onclick="IntegrationsIndex.Preview()">İleri</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="kt-heading kt-heading--md">Xml Önizleme</div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Xml:</label>
                            <textarea id="xml-preview" class="form-control" rows="10"></textarea>
                        </div>
                    </div>
                </div>

                <div class="kt-heading kt-heading--md">Ürün Düğüm Seçimi</div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Ürün Düğüm Adı:</label>
                            <input type="text" id="product-element-name" class="form-control" placeholder="Giriniz" required autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-brand" type="button" onclick="IntegrationsIndex.Resolve()">Çözümle</button>
                        </div>
                    </div>
                </div>

            </div>


        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="kt-heading kt-heading--md">Xml Adresleme</div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Ürün Adı:</label>
                            <select id="product-name" class="form-control element-names" data-live-search="true"></select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Kategori:</label>
                            <select id="category-name" class="form-control element-names" data-live-search="true"></select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Marka:</label>
                            <select id="brand-name" class="form-control element-names" data-live-search="true"></select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Fotoğraf:</label>
                            <select id="photo" class="form-control element-names" data-live-search="true"></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Stok Kodu:</label>
                            <select id="stock-code" class="form-control element-names" data-live-search="true"></select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Barkod:</label>
                            <select id="barcode" class="form-control element-names" data-live-search="true"></select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Liste Fiyatı:</label>
                            <select id="list-unit-price" class="form-control element-names" data-live-search="true"></select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Satış Fiyatı:</label>
                            <select id="unit-price" class="form-control element-names" data-live-search="true"></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Açıklama:</label>
                            <select id="description" class="form-control element-names" data-live-search="true"></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Varyant:</label>
                            <select id="variant" class="form-control element-names" data-live-search="true"></select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Varyant Adı:</label>
                            <select id="variant-name" class="form-control element-names" data-live-search="true"></select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Varyant Değer:</label>
                            <select id="variant-value" id="photo" class="form-control element-names" data-live-search="true"></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-brand" type="button" onclick="IntegrationsIndex.Test()">Test Et</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>








    </div>
</form>