﻿@model List<ECommerce.Panel.WebApp.Controllers.Xml.Integrations.Test.Product>

<div class="kt-widget30" id="kt_earnings_widget">
    <div class="kt-widget30__body">
        <div class="owl-carousel">

            @foreach (var theProduct in Model)
            {

                <div class="carousel">

                    <div class="kt-widget kt-widget--user-profile-1">
                        <div class="kt-widget__head">
                            <div class="kt-widget__media">
                                <img src="@theProduct.Photos.FirstOrDefault()?.Url" alt="image">
                            </div>
                            <div class="kt-widget__content">
                                <div class="kt-widget__section">
                                    <a href="#" class="kt-widget__username">
                                        @theProduct.Name
                                    </a>
                                    <span class="kt-widget__subtitle">
                                        @theProduct.UnitPrice
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="kt-widget__body">
                            @theProduct.Description

                            @foreach (var theVariant in theProduct.Variants)
                            {
                                <span class="kt-badge kt-badge--brand kt-badge--inline kt-badge--pill kt-badge--rounded">
                                    @theVariant.Name: @theVariant.Value
                                </span>
                            }
                        </div>
                    </div>

                </div>

            }

        </div>
    </div>
</div>