﻿@{
    ViewData["Title"] = "Hakkımızda";
    ViewData["Description"] = "En kaliteli dünya markası bebek giyim ürünlerine bebbeo garantisi ve güvencesi ile sahip olabilirsin";

}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")"><i class="fi-rs-home mr-5"></i>Ana Sayfa</a> <span></span>
                <h1 class="font-sm">Hakkımızda</h1>
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="row align-items-center mb-50">
                        <div class="col-lg-6">
                            <img src="/themes/baby/imgs/page/hakkimizda.jpg" alt="@(Model.Company.Name) hakkında" class="border-radius-15 mb-md-3 mb-lg-0 mb-sm-4" />
                        </div>
                        <div class="col-lg-6">
                            <div class="pl-25">
                                <h2 class="mb-30">@(Model.Company.Name) Hakkında</h2>
                                <p class="mb-25">
                                  Dünyanın en bilinen markaların en favori ürünlerini güncel bir şekilde sizlere sunuyoruz.
                                </p>
                         <p>
                            10 yıllık tecrübemiz ile birlikte gelen modern ve kaliteli anlayışımızı siz değerli müşterilerimize sunmak. Aynı zamanda 10 yıllık tecrübemize daha da tecrübe katmanın heyecanıyla, dünyanın en kaliteli markalarını tek çatı altında toplamanın gururunu yaşıyoruz.

                         </p>
                         <h3>Misyonumuz</h3>
                         <p>
                             ‘’Müşteri memnuniyeti paradan daha değerlidir’’ ilkemizden ödün vermeden  tüm müşterilerimizin  mutlu ve keyifli alışveriş  deneyimleri yaşamalarını sürekli kılmaktır.

                         </p>
                         <h3>
                             Vizyonumuz
                         </h3>
                         <p>
                            Bebek Giyim Sektöründe En Güvenilir ve En Hızlı Büyüyen Şirket Olmak
                         </p>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>

    </div>
</main>