﻿
@{
    ViewData["Title"] = "";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" ><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
                <span></span>
                <h1 class="font-sm">Banka Hesap Bilgileri</h1>
            </div>
        </div>
    </div>
    <div class="page-content pt-30">
        <div class="middle-container">
            <div class="row">
                <h1 class="font-xl">Hesap Numaralarımız</h1>

                <p class="mb-10">Havale veya Eft işlemleriniz de kullanacağınız sitemize ait hesap numaralarımız aşağıda listelenmektedir.</p>

                <h2 class="font-xl">Garanti Bankası @Model.Company.CompanyContact.IbanType</h2>
                <div class="mb-10">
                    <p>
                        HESAP ADI: @Model.Company.CompanyContact.IbanNameSurname<br>
                        ŞUBE:<br>
                       
                        IBAN @Model.Company.CompanyContact.Iban
                    </p>
                </div>
                <hr />
       

            </div>
        </div>
    </div>
</main>