﻿@model ECommerce.Application.Panel.ViewModels.Products.Update

<form id="product_update_form" class="kt-form kt-form--label-right">

    <!-- Hiddens::Begin-->
    <input type="hidden" name="id" value="@Model.Product.Id" />
    <!-- Hiddens::End-->

    <div class="kt-portlet__body">

        <div class="form-group row">
            <div class="col-md-12 pos-relative">
                <label class="input-abs-text">Ürün Varyasyonları:</label>
                <select id="variants" asp-items="variantSelectListItems" class="form-control kt-selectpicker" data-live-search="true" multiple>
                    @foreach (var vLoop in Model.Variants)
                    {
                        <optgroup label="@vLoop.VariantTranslations[0].Name">
                            @foreach (var vvLoop in vLoop.VariantValues)
                            {
                                <option @(Model.Product.ProductInformations.Any(pi => pi.ProductInformationVariants.Any(pv => pv.VariantValueId == vvLoop.Id)) ? "selected" : "") data-variant-id="@vLoop.Id" data-variant-name="@vLoop.VariantTranslations[0].Name" value="@vvLoop.Id">@vvLoop.VariantValueTranslations[0].Value</option>
                            }
                        </optgroup>
                    }
                </select>

            </div>
            <div class="col-md-12">
                <button type="button" onclick="ProductIndex.ProductInformationPartial('update')" class="btn btn-primary">Ekle</button>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-12">

                <div class="kt-portlet kt-portlet--tabs">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x" role="tablist">

                                @foreach (var lLoop in Model.Languages)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#tab_content_@lLoop.Key" role="tab">
                                            @lLoop.Value
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="tab-content">

                     @*       @foreach (var lLoop in Model.Languages)
                            {
                                var productTranslation = Model.Product.ProductTranslations.FirstOrDefault(pt => pt.LanguageId == lLoop.Key);

                                <div class="tab-pane active" id="tab_content_@lLoop.Key" role="tabpanel">

                                    <input type="hidden" name="productTranslations[0][id]" value="@productTranslation?.Id" />
                                    <input type="hidden" name="productTranslations[0][languageId]" value="@lLoop.Key" />

                                    <label>Ürün Adı:</label>
                                    <input type="text" value="@productTranslation.Name" class="form-control" name="productTranslations[0][name]" placeholder="Ürün adı giriniz">

                                </div>
                            }*@

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-12">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" checked> Aktif
                    <span></span>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-6">
                <label>Tedarikçi:</label>
                <select name="supplierId" class="form-control kt-select2">
                    @foreach (var sLoop in Model.Suppliers)
                    {
                        <option value="@sLoop.Key" @(Model.Product.SupplierId == sLoop.Key ? "selected" : "")>@sLoop.Value</option>
                    }
                </select>
            </div>
            <div class="col-lg-6">
                <label>Marka:</label>
                <select name="brandId" class="form-control kt-select2">
                    @foreach (var bLoop in Model.Brands)
                    {
                        <option value="@bLoop.Key" @(Model.Product.BrandId == bLoop.Key ? "selected" : "")>@bLoop.Value</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <label>Ürün Etiketleri</label>
                <div class="kt-checkbox-inline">

                    @foreach (var lLoop in Model.Labels)
                    {
                        <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                            <input type="checkbox" name="label" value="@lLoop.Key"> <img src="@lLoop.Value" />
                            <span></span>
                        </label>
                    }

                </div>
            </div>
        </div>

        <div id="product_informations">
            @for (int i = 0; i < Model.Product.ProductInformations.Count; i++)
            {
                <input type="hidden" name="productInformations[@i][id]" value="@Model.Product.ProductInformations[i].Id" />

                <div name="product_information_@i" class="form-group row">
                    <h1>@Model.Product.ProductInformations[i].ToString()</h1>

                    <button type="button" class="btn btn-brand" onclick="ProductIndex.RemoveProductInformation(@i)">Sil</button>
                </div>

                <div name="product_information_@i" class="form-group row">

                    @for (int k = 0; k < Model.Product.ProductInformations[i].ProductInformationVariants.Count; k++)
                    {
                        <input type="hidden" name="productInformations[@i][productVariants][@k][variantValueId]" value="@Model.Product.ProductInformations[i].ProductInformationVariants[k].VariantValueId" />

                        <input type="hidden" name="productInformations[@i][productVariants][@k][variantValue][id]" value="@Model.Product.ProductInformations[i].ProductInformationVariants[k].VariantValue.Id" />

                        <input type="hidden" name="productInformations[@i][productVariants][@k][variantValue][variantValueTranslations][0][value]" value="@Model.Product.ProductInformations[i].ProductInformationVariants[k].VariantValue.VariantValueTranslations[0].Value" />
                    }

                    <div class="col-lg-6">

                        <div class="kt-portlet kt-portlet--tabs">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-toolbar">
                                    <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x" role="tablist">

                                        @for (int j = 0; j < Model.Currencies.Count; j++)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#tab_content_@Model.Currencies[j].Key" role="tab">
                                                    @Model.Currencies[j].Value
                                                </a>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                            <div class="kt-portlet__body">
                                <div class="tab-content">

                                    @for (int j = 0; j < Model.Currencies.Count; j++)
                                    {
                                        var productInformationPrice = Model.Product.ProductInformations[i].ProductInformationPriceses.FirstOrDefault(pip => pip.CurrencyId == Model.Currencies[j].Key);

                                        <div class="tab-pane active" id="tab_content_@Model.Currencies[j].Key" role="tabpanel">

                                            <input type="hidden" name="productInformations[@i][productInformationPriceses][@j][id]" value="@productInformationPrice?.Id" />

                                            <input type="hidden" name="productInformations[@i][productInformationPriceses][@j][currencyId]" value="@Model.Currencies[j].Key" />

                                            <label>Liste Fiyatı:</label>
                                            <input type="text" class="form-control" name="productInformations[@i][productInformationPriceses][@j][listUnitPrice]" value="@productInformationPrice?.ListUnitPrice" placeholder="Liste fiyatı giriniz">

                                            <label>Satış Fiyatı:</label>
                                            <input type="text" class="form-control" name="productInformations[@i][productInformationPriceses][@j][unitPrice]" value="@productInformationPrice?.UnitPrice" placeholder="Satış fiyatı giriniz">

                                            <label>Maliyet:</label>
                                            <input type="text" class="form-control" name="productInformations[@i][productInformationPriceses][@j][unitCost]" value="@productInformationPrice?.UnitCost" placeholder="Maliyet giriniz">

                                            <label>Vergi Oranı:</label>
                                            <input type="text" class="form-control" name="productInformations[@i][productInformationPriceses][@j][vatRate]" value="@productInformationPrice?.VatRate" placeholder="Vergi oranı giriniz">

                                        </div>
                                    }

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">

                        <label>Barkod:</label>
                        <input type="text" class="form-control" name="productInformations[@i][barcode]" value="@Model.Product.ProductInformations[i].Barcode" placeholder="Barkod giriniz">

                        <label>Stok Kodu:</label>
                        <input type="text" class="form-control" name="productInformations[@i][stockCode]" value="@Model.Product.ProductInformations[i].StockCode" placeholder="Stok kodu giriniz">

                        <label>Stok:</label>
                        <input type="text" class="form-control" name="productInformations[@i][stock]" value="@Model.Product.ProductInformations[i].Stock" placeholder="Stok giriniz">

                    </div>

                </div>
            }
        </div>

    </div>
</form>