﻿<div class="row mt25">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-cube-1"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Filtre
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="row">
                    
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>İş Emri No:</label>
                            <input id="ajax_data_search_workorder_id" type="text" class="form-control" onchange="WorkOrdersIndex.Read(0)" autocomplete="off">
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Sipariş No:</label>
                            <input id="ajax_data_search_order_id" type="text" class="form-control" onchange="WorkOrdersIndex.Read(0)" autocomplete="off">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Statüler:</label>
                            <select id="ajax_data_search_status_id" class="form-control select-picker" onchange="WorkOrdersIndex.Read(0)" data-live-search="true">
                                <option value="">Tümü</option>
                                <option value="0">Bekliyor</option>
                                <option value="1">Toplanıyor</option>
                                <option value="2">Toplantı</option>
                                <option value="3">Paketleniyor</option>
                                <option value="4">Paketlendi</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tarih:</label>
                            <input type="text" class="form-control" id="ajax_data_search_created_date_time" onchange="WorkOrdersIndex.Read(0)" readonly />
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- Pagination::Begin -->
<div>

    <div class="kt-portlet">
        <div class="kt-portlet__body">

            <!--begin: Pagination-->
            <div class="kt-pagination kt-pagination--brand">
                <div class="kt-pagination__toolbar">
                    <div class="pos-relative mr-3">
                        <label class="input-abs-text">Kayıt Sayısı</label>
                        <select class="kt-hidden-select2 ajax_data_length" onchange="WarehousesIndex.ChangePageRecordsCount(this)">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <span class="pagination__desc">
                        ...
                    </span>
                </div>
                <ul class="kt-pagination__links">
                    ...
                </ul>
            </div>

            <!--end: Pagination-->
        </div>
    </div>

</div>
<!-- Pagination::End -->

<div class="kt-portlet kt-portlet--mobile ">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                İş Emirleri
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">

        <div class="dataTables_wrapper dt-bootstrap4 no-footer">

            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="ajax_data_info" role="status" aria-live="polite"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">

                <input id="ajax_data_page" type="hidden" value="0" />

                <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Durum</th>
                            <th>İçerik</th>
                            <th width="20%">Tarih</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="ajax_data"></tbody>
                </table>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="ajax_data_info" role="status" aria-live="polite"></div>
                </div>

            </div>

        </div>

    </div>
</div>

<!-- Pagination::Begin -->
<div class="">

    <div class="kt-portlet">
        <div class="kt-portlet__body">

            <!--begin: Pagination-->
            <div class="kt-pagination kt-pagination--brand">
                <div class="kt-pagination__toolbar">
                    <div class="pos-relative mr-3">
                        <label class="input-abs-text">Kayıt Sayısı</label>
                        <select class="kt-hidden-select2 ajax_data_length" onchange="WarehousesIndex.ChangePageRecordsCount(this)">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <span class="pagination__desc">
                        ...
                    </span>
                </div>
                <ul class="kt-pagination__links">
                    ...
                </ul>
            </div>

            <!--end: Pagination-->
        </div>
    </div>

</div>
<!-- Pagination::End -->
<!-- Modal::Begin-->
<div class="modal fade" id="workorder_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
@section Scripts {
    <script src="/org/library/js/jquery-table.js?v=0.7"></script>
    <script src="/org/library/js/jquery-autocomplete.js?v=0.7"></script>
    <script src="/org/js/views/warehouse/workorders/index.js?v=0.9"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            WorkOrdersIndex.Read(0);
        });
    </script>
}