﻿<div class="row mt25">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-cube-1"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Filtre
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="row">
                    
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>İş Emri No:</label>
                            <input id="ajax_data_search_id" type="text" class="form-control" onchange="WorkOrdersIndex.ReadKpiPacking(0)" autocomplete="off">
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Personel:</label>
                            <input id="ajax_data_search_personel_name" type="text" class="form-control" onchange="WorkOrdersIndex.ReadKpiPacking(0)" autocomplete="off">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pagination::Begin -->
<div>

    <div class="kt-portlet">
        <div class="kt-portlet__body">

            <!--begin: Pagination-->
            <div class="kt-pagination kt-pagination--brand">
                <div class="kt-pagination__toolbar">
                    <div class="pos-relative mr-3">
                        <label class="input-abs-text">Kayıt Sayısı</label>
                        <select class="kt-hidden-select2 ajax_data_length" onchange="WarehousesIndex.ChangePageRecordsCount(this)">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <span class="pagination__desc">
                        ...
                    </span>
                </div>
                <ul class="kt-pagination__links">
                    ...
                </ul>
            </div>

            <!--end: Pagination-->
        </div>
    </div>

</div>
<!-- Pagination::End -->

<div class="kt-portlet kt-portlet--mobile ">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                İş Emirleri Paketleme
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">

        <div class="dataTables_wrapper dt-bootstrap4 no-footer">

            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="ajax_data_info" role="status" aria-live="polite"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">

                <input id="ajax_data_page" type="hidden" value="0" />

                <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Başlangıç Tarihi</th>
                            <th>Bitiş Tarihi</th>
                            <th>Süre</th>
                            <th>Personel</th>
                        </tr>
                    </thead>
                    <tbody id="ajax_data"></tbody>
                </table>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="ajax_data_info" role="status" aria-live="polite"></div>
                </div>

            </div>

        </div>

    </div>
</div>

<!-- Pagination::Begin -->
<div class="">

    <div class="kt-portlet">
        <div class="kt-portlet__body">

            <!--begin: Pagination-->
            <div class="kt-pagination kt-pagination--brand">
                <div class="kt-pagination__toolbar">
                    <div class="pos-relative mr-3">
                        <label class="input-abs-text">Kayıt Sayısı</label>
                        <select class="kt-hidden-select2 ajax_data_length" onchange="WarehousesIndex.ChangePageRecordsCount(this)">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <span class="pagination__desc">
                        ...
                    </span>
                </div>
                <ul class="kt-pagination__links">
                    ...
                </ul>
            </div>

            <!--end: Pagination-->
        </div>
    </div>

</div>
<!-- Pagination::End -->
@section Scripts {
    <script src="/org/library/js/jquery-table.js?v=0.7"></script>
    <script src="/org/library/js/jquery-autocomplete.js?v=0.7"></script>
    <script src="/org/js/views/warehouse/workorders/index.js?v=0.8"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            WorkOrdersIndex.ReadKpiPacking(0);
        });
    </script>
}