﻿@using ECommerce.Panel.WebApp.Controllers.Warehouse.WorkOrders.Detail
@using Shared.Results
@model Result<WorkOrder>

<form class="kt-form" id="workorder_update_form">

    <input type="hidden" name="id" class="form-control" value="@Model.Data.Id">

    <div class="kt-portlet__body">
        <div class="kt-section kt-section--first">

            <div class="row">

                @foreach (var item in Model.Data.Items)
                {
                    <div class="col-md-3">

                        <img src="@item.PhotoUrl" class="form-group" />

                        <div class="row form-group">
                            <div class="col-md-12">

                                <span class="kt-badge kt-badge--inline kt-badge--danger">@item.Quantity</span>

                                <span class="kt-badge kt-badge--inline kt-badge--success">@item.PuttedQuantity</span>

                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-4">
                                <label>Barkod:</label>
                            </div>
                            <div class="col-md-8">

                                <a href="javascript:navigator.clipboard.writeText('@item.Barcode');Notify.Show(NotifyType.Info, '<b>@item.Barcode</b> kopyalandı.');" class="kt-font-bold">@item.Barcode <i class="la la-copy"></i> </a>

                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-4">
                                <label>Model Kodu:</label>
                            </div>
                            <div class="col-md-8">

                                <a href="javascript:navigator.clipboard.writeText('@item.ModelCode');Notify.Show(NotifyType.Info, '<b>@item.ModelCode</b> kopyalandı.');" class="kt-font-bold">@item.ModelCode <i class="la la-copy"></i> </a>

                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-4">
                                <label>Fatura No:</label>
                            </div>
                            <div class="col-md-8">

                                <a href="javascript:navigator.clipboard.writeText('@item.InvoiceNumber');Notify.Show(NotifyType.Info, '<b>@item.InvoiceNumber</b> kopyalandı.');" class="kt-font-bold">@item.InvoiceNumber <i class="la la-copy"></i> </a>

                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-4">
                                <label>Sipariş No:</label>
                            </div>
                            <div class="col-md-8">

                                <a href="javascript:navigator.clipboard.writeText('@item.OrderId');Notify.Show(NotifyType.Info, '<b>@item.OrderId</b> kopyalandı.');" class="kt-font-bold">@item.OrderId <i class="la la-copy"></i> </a>

                            </div>
                        </div>

                    </div>
                }

            </div>

        </div>
    </div>
</form>