﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
<footer class="main">

    <section class="featured section-padding footer-section-top">
        <div class="container">
            <div class="row">
                <div class="footer-link-widget col-xs-12 col-md-4 m-auto">
                    <h5 class="widget-title"> <a href="@Url.Action("Index", "Home")" class="d-flex align-items-center justify-content-center"><img class="footer-logo" src="/themes/shoes/imgs/theme/logo.png" alt="logo" /></a></h5>
                </div>
                <div class="mobile-social-icon">

                    @if (!string.IsNullOrEmpty(Model.Company.CompanyContact.Instagram))
                    {
                        <a href="@Model.Company.CompanyContact.Instagram"><img src="/themes/black/imgs/theme/icons/icon-instagram-white.svg" alt="@Model.Company.Name instagram" /></a>

                    }

                </div>

            </div>
        </div>
    </section>
    <div class="bg-black">
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">

                    <div class="footer-link-widget col wow ">
                        <h5 class="widget-title">@_resource["FooterWidgetOne"]</h5>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><a href="@Url.Action("About","Home")">@_resource["About"]</a></li>
                            <li><a href="@Url.Action("ReturnExchange","Home")">İade & Değişim Koşulları</a></li>
                            <li><a href="@Url.Action("Contact","Home")">@_resource["Contact"]</a></li>

                        </ul>
                    </div>
                    <div class="footer-link-widget col wow " data-wow-delay=".2s">
                        <h5 class="widget-title">ALIŞVERİŞ BİLGİLERİ</h5>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><a href="@Url.Action("Register","Account")">@_resource["Register"]</a></li>
                            <li><a href="@Url.Action("RegisterContract","Home")">@_resource["MembershipAgreement"]</a></li>
                        </ul>
                    </div>
                    <div class="footer-link-widget col wow" data-wow-delay=".3s">
                        <h5 class="widget-title">@_resource["FooterWidgetThree"]</h5>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><a href="@Url.Action("Kvkk","Home")">Kvkk</a></li>
                            <li><a href="@Url.Action("ConsumerRights","Home")">@_resource["ConsumerRights"]</a></li>
                            <li><a href="@Url.Action("Faq","Home")">@_resource["FAQ"]</a></li>
                        </ul>
                    </div>

                    <div class="footer-link-widget  col-12 col-md-4 pt-15">
                        <h5 class="widget-title">BİZDEN HABERLER</h5>
                        <span class="widget-title">
                            Bültenimize Üye Olun ! Tüm İndirim ve Fırsatlardan İlk Sizin Haberiniz Olsun !


                        </span>
                        <form class="form-subcriber d-flex mt-5" id="bultenForm">

                            <input type="email" placeholder="E-posta adresinizi yazın..." id="bulten-mail-input" name="bultenMail" class="mail" required />

                            <button onclick="BultenSave.save(event)" class="btn ml-15 bulten-save-btn" type="submit">Gönder</button>
                        </form>
                    </div>


                </div>
            </div>
        </section>
        <div class="container pb-30 wow " data-wow-delay="0">
            <div class="row align-items-center">
                <div class="col-12 mb-30">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <p class="mb-5 color-white font-xxs">&copy; 2005 - @DateTime.Now.Year, <strong class="color-white font-xxs">@Model.Company.Name </strong> @_resource["Copyright"]</p>


                </div>
                <div class="col-xl-4 col-lg-6 text-center d-none d-xl-block">
                    <div class="d-lg-inline-flex mr-30">
                        <img class="" src="/themes/shoes/imgs/theme/banks.png" alt="ödeme yöntemlerimiz" />
                    </div>

                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 text-end d-none d-md-block">
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- Preloader Start -->
<div id="preloader-active" style="display:none">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center">
                <img class="loadingGif" src="/themes/Shoes/imgs/theme/loading.gif" alt="@Model.Company.Name loading icon" />
            </div>
        </div>
    </div>
</div>