﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
<!--header-->
<header class="header-area header-style header-height">
    @*<div class="mobile-promotion">
    <div class="head-info-bar">
    <span>Tüm Siparişlerde Ücretsiz Kargo</span>
    </div>
    </div>*@

    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="topbar header-topbar mb-30">
            <div class="container  d-flex justify-content-between">
                <div class="top-wp-box">
                    Whatsapp Hattı: @Model.Company.CompanyContact.PhoneNumber
                </div>
                <div class="header-top-right-box d-flex">
                    @*<a href="@Url.Action("Index", "Home")" class="header-top-chilf-item">Sipariş Takibi</a>*@
                    <a href="@Url.Action("About", "Home")" class="header-top-chilf-item">Hakkımızda</a>
                    <a href="@Url.Action("Contact", "Home")" class="header-top-chilf-item">İletişim</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="header-wrap mb-30">
                <div class="logo logo-width-1">
                    <a href="@Url.Action("Index", "Home")"><img src="/themes/shoes/imgs/theme/logo.png" alt="logo" /></a>
                </div>
                <div class="header-right">
                    <div class="search-style">
                        <form>

                            <input type="text" placeholder="Ara" id="txtSearch" class="searchInput" />
                            <span class="txtSearch searchIcon">Ara</span>
                        </form>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action">
                            <div class="header-action-icon-2 shoppingCart">
                                <a>
                                    <img class="svgInject" alt="hesap" src="/themes/shoes/imgs/theme/icons/user.png" />
                                </a>
                                @if (Model.IsLogin)
                                {
                                    <a><span class="lable ml-0">@Model.CustomerUser.Customer.Name @Model.CustomerUser.Customer.Surname</span></a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                        <ul>
                                            <li>
                                                <a href="@Url.Action("Index", "Account")"><i class="fi fi-rs-user mr-10"></i>@_resource["MyAccount"]</a>
                                            </li>

                                            <li>
                                                <a href="javascript:AccountLogout.Close()"><i class="fi fi-rs-sign-out mr-10"></i>@_resource["LogOut"]</a>
                                            </li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                        <ul>
                                            <li>
                                                <a href="@Url.Action("Register", "Account")"><i class="fi fi-rs-user mr-10"></i>@_resource["Register"]</a>
                                            </li>

                                            <li>
                                                <a href="@Url.Action("Login", "Account")"><i class="fi fi-rs-sign-out mr-10"></i>@_resource["Login"]</a>
                                            </li>
                                        </ul>
                                    </div>
                                }

                            </div>
                            <div class="header-action-icon-2 shoppingCart">
                                <a href="@Url.Action("Index", "ShoppingCart")" class="mini-cart-icon">
                                    <img alt="sepetim" src="/themes/shoes/imgs/theme/icons/basket.png" />
                                    <span class="pro-count blue basketIconCount" data-totalitems="@Model.ShoppingCartItemsCount">@Model.ShoppingCartItemsCount</span>
                                </a>
                                <a href="@Url.Action("Index", "ShoppingCart")"><span class="lable"></span></a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul class="shoppingCartProduct">
                                        @{
                                            decimal amount = 0;
                                        }
                                        @foreach (var sciLoop in (List<ECommerce.Application.Client.DataTransferObjects.ShoppingCartItem>)Model.ShoppingCartItems)
                                        {


                                            amount += sciLoop.ProductInformation.ProductInformationPrice.TotalUnitPrice;

                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href="@($"/{sciLoop.ProductInformation.Url}")"><img alt="@sciLoop.ProductInformation.FullName" src="@sciLoop.ProductInformation.ProductInformationPhotos[0].FileName" /></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="@($"/{sciLoop.ProductInformation.Url}")">@sciLoop.ProductInformation.FullName</a></h4>

                                                    @if (sciLoop.GetXPayYGift)
                                                    {
                                                        <h3>
                                                            <span class="color-orange">@string.Format(_resource["ProductGifted"], sciLoop.GetXPayYCount)</span>
                                                        </h3>
                                                    }

                                                    @if (sciLoop.ProductInformation.ProductInformationPrice.TotalUnitPrice > 0)
                                                    {

                                                        <h3><span>@string.Format(_resource["NumberQuantity"], sciLoop.Quantity) </span>@sciLoop.ProductInformation.ProductInformationPrice.TotalUnitPrice TL</h3>
                                                    }

                                                </div>


                                            </li>

                                        }
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Toplam <span class="shoppingCartProductAmount">@amount.ToString("N2") TL</span> </h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="@Url.Action("Index", "ShoppingCart")" class="outline" id="cartUrl">@_resource["GoToCart"]</a>
                                            <a href="@Url.Action("Index", "Order")">@_resource["GoToPayment"]</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap justify-content-center position-relative">
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a href="@Url.Action("Index", "Home")"><img src="/themes/shoes/imgs/theme/logo.png" alt="logo" /></a>
                </div>
                <div class="header-nav d-none d-lg-flex">

                    <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                        <nav>
                            <ul>
                                <li><a href="@Url.Action("Index", "Home")">@_resource["Home"]</a></li>







                                @foreach (var category in (List<ECommerce.Application.Client.DataTransferObjects.Category>)Model.Categories)
                                {
                                    <li class="position-static">
                                        <a href="@($"/{category.Url}")">@category.Name</a>

                                        @if (category.ChildCategories.Count > 0)
                                        {


                                            <ul class="mega-menu">
                                                <li class="sub-mega-menu sub-mega-menu-width-66">
                                                    <ul class="row">
                                                        @foreach (var ccLoop in category.ChildCategories)
                                                        {

                                                            @*<a class="menu-title" href="#">Grup Adı 1</a>*@

                                                            <li class="col-4"><a href="@($"/{ccLoop.Url}")">@ccLoop.Name</a></li>
                                                        }
                                                    </ul>
                                                </li>



                                            </ul>
                                        }
                                    </li>

                                }


                            </ul>
                        </nav>
                    </div>
                </div>

                <!--Mobile-->
                <div class="mob-head-tools-bar">
                    <div class="header-action-icon-2 d-block d-lg-none">
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span>
                            <span class="burger-icon-mid"></span>
                            <span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                    <div class="header-action-right d-flex align-items-baseline d-lg-none">


                        <div class="header-action">

                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon">
                                    <img alt="alt-text" src="/themes/shoes/imgs/theme/icons/basket.png" />
                                    <span class="pro-count white basketIconCount" data-totalitems="@Model.ShoppingCartItemsCount">@Model.ShoppingCartItemsCount</span>
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul class="shoppingCartProduct">
                                        @foreach (var shoppingCartItem in (List<ECommerce.Application.Client.DataTransferObjects.ShoppingCartItem>)Model.ShoppingCartItems)
                                        {

                                            <li>
                                                <div class="shopping-cart-img">
                                                    <a href="@($"/{shoppingCartItem.ProductInformation.Url}")"><img alt="@shoppingCartItem.ProductInformation.Name" src="@shoppingCartItem.ProductInformation.ProductInformationPhotos[0].FileName" /></a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="@($"/{shoppingCartItem.ProductInformation.Url}")">@shoppingCartItem.ProductInformation.Name</a></h4>

                                                    @if (shoppingCartItem.GetXPayYGift)
                                                    {
                                                        <h3>
                                                            <span class="color-orange">@shoppingCartItem.GetXPayYCount ürün hediye edildi</span>
                                                        </h3>
                                                    }

                                                    @if (shoppingCartItem.ProductInformation.ProductInformationPrice.TotalUnitPrice > 0)
                                                    {

                                                        <h3><span>@shoppingCartItem.Quantity @_resource["Quantity"] </span>@shoppingCartItem.ProductInformation.ProductInformationPrice.TotalUnitPrice TL</h3>
                                                    }
                                                </div>

                                            </li>

                                        }
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>@_resource["Total"] <span class="shoppingCartProductAmount">@amount.ToString("N2") TL</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="@Url.Action("Index", "ShoppingCart")">@_resource["GoToCart"]</a>
                                            <a href="@Url.Action("Index", "Order")">@_resource["GoToPayment"]</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Mobile-->
            </div>
        </div>
    </div>
    <div class="mobile-search search-style mobile-header-border des-none">
        <input type="text" placeholder="@_resource["Search"]..." id="txtSearchs" name="mobSearch" autocomplete="on" class="searchInputMob searchInput" />
        <button type="submit" class="btn btn-small ml-5 txtSearch txtSearchMob">@_resource["SearchBtn"]</button>

    </div>
</header>
<!--Mobile Left Menu-->
<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit d-flex">
                <a href="@Url.Action("Index", "Home")"><img src="/themes/shoes/imgs/theme/logo.png" alt="logo" class="d-flex align-items-center mobile-menu-logo" /></a>
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">

            <div class="mobile-menu-wrap mobile-header-border">
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu font-heading">
                  
                        @foreach (var category in (List<ECommerce.Application.Client.DataTransferObjects.Category>)Model.Categories)
                        {
                            <li class="menu-item-has-children">
                                <a href="@category.Url" class="d-flex align-items-center"> @category.Name</a>

                                @if (category.ChildCategories.Count > 0)
                                {


                                    <ul class="dropdown dropdown-head" >
                                        @foreach (var child1 in category.ChildCategories)
                                        {

                                            <li class="menu-item-has-children">

                                                <a href="@child1.Url">@child1.Name</a>
                                            </li>
                                        }



                                    </ul>
                                }
                            </li>

                        }



                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap">

                <div class="single-mobile-header-info">
                    <a href="@Url.Action("Login", "Account")"><i class="fi-rs-user"></i>@_resource["Login"] / @_resource["Register"] </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="tel:@(Model.Company.CompanyContact.PhoneNumber.ToString().Trim())"><i class="fi-rs-headphones"></i>@Model.Company.CompanyContact.PhoneNumber </a>
                </div>
                @if (!string.IsNullOrEmpty(Model.Company.CompanyContact.Email.Trim()))
                {
                    <div class="single-mobile-header-info">
                        <a href="mailto:@Model.Company.CompanyContact.Email"><i class="fi-rs-link"></i>@Model.Company.CompanyContact.Email </a>
                    </div>
                }

            </div>
            <div class="mobile-social-icon mb-50">
                <h6 class="mb-15">@_resource["SocialAccounts"]</h6>
                <a href="@Model.Company.CompanyContact.Instagram"><img src="/themes/shoes/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
            </div>
            <div class="site-copyright">@_resource["Copyright"]</div>
        </div>
    </div>
</div>

<!--Mobile Left Menu-->
<!--End header-->