﻿@model ECommerce.Application.Panel.ViewModels.Feeds.Create

<form class="kt-form kt-form--label-right" id="feed_create_form">
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-lg-4 form-group">
                <label class="input-abs-text">Feed Şablonu:</label>
                <select name="FeedTemplateId" class="form-control kt-selectpicker" required>
                    <option value="">Seçiniz</option>
                    @foreach (var osLoop in Model.FeedTemplates)
                    {
                        <option value="@osLoop.Key">@osLoop.Value</option>
                    }
                </select>
            </div>
            <div class="col-lg-4 form-group">
                <div class="typeahead">
                    <label class="input-abs-text">Ad:</label>
                    <input type="text" class="form-control" name="name"
                           autocomplete="off" required>
                </div>
            </div>
            <div class="col-lg-4 form-group">
                <div class="typeahead">
                    <label class="input-abs-text">Ürün:</label>
                    <input type="text" class="form-control" id="productId"
                           autocomplete="off">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <tags class="tagify tagify--outside" aria-haspopup="true" aria-expanded="false" role="tagslist">

                    

                </tags>

            </div>
        </div>

    </div>
</form>