﻿@model ECommerce.Application.Panel.ViewModels.Feeds.Update

<form class="kt-form kt-form--label-right" id="feed_update_form">
    <div class="kt-portlet__body">
        <input type="hidden" name="id" value="@Model.Feed?.Id" />
        <div class="row">
            <div class="col-lg-4 form-group">
                <label class="input-abs-text">Feed Şablonu:</label>
                <select name="FeedTemplateId" class="form-control kt-selectpicker" required>
                    <option value="">Seçiniz</option>
                    @foreach (var osLoop in Model.FeedTemplates)
                    {
                        <option value="@osLoop.Key" @(osLoop.Key == Model.Feed?.FeedTemplateId ? "selected" : "")>@osLoop.Value</option>
                    }
                </select>
            </div>
            <div class="col-lg-4 form-group">
                <div class="typeahead">
                    <label class="input-abs-text">Ad:</label>
                    <input type="text" class="form-control" name="name"
                           autocomplete="off" value="@Model.Feed.Name" required>
                </div>
            </div>
            <div class="col-lg-4 form-group">
                <div class="typeahead">
                    <label class="input-abs-text">Ürün:</label>
                    <input type="text" class="form-control" id="productId"
                           autocomplete="off">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <tags class="tagify tagify--outside" aria-haspopup="true" aria-expanded="false" role="tagslist">

                    @foreach (var fdLoop in Model.Feed.FeedDetails)
                    {
                        <tag contenteditable="false" spellcheck="false" class="tagify__tag " role="tag">
                            <x title="" class="tagify__tag__removeBtn" role="button" aria-label="remove tag"></x>
                            <div><span class="tagify__tag-text">@fdLoop.ProductInformationName</span></div>
                            <input type="hidden" name="FeedDetails[][productInformationId]" value="@fdLoop.ProductInformationId" />
                        </tag>
                    }

                </tags>

            </div>
        </div>

    </div>
</form>