﻿@model ECommerce.Application.Panel.ViewModels.Payments.PaymentPartial


@foreach (var pLoop in Model.Payments)
{
    var index = Model.Payments.IndexOf(pLoop);

    <tr id="payment-tbody-@pLoop.PaymentTypeId" data-payment-name="@pLoop.PaymentType.PaymentTypeName" data-payment-index="@index">

        <td align="center" class="center align-center">
            <button type="button" class="btn btn-danger" onclick="OrderIndex.DeleteGetPayments('@pLoop.PaymentTypeId','@pLoop.PaymentType.PaymentTypeName')">Sil</button>
        </td>
        <td class="align-middle">
            <span class="widget11__sub">@pLoop.PaymentType.PaymentTypeName</span>
            <input type="hidden" name="payments[@index][paymentTypeId]" value="@pLoop.PaymentTypeId" />
            <input type="hidden" name="payments[@index][id]" value="@pLoop.Id" />
        </td>
        <td>
            <span class="widget11__sub">
                <input type="text" name="payments[@index][amount]" class="form-control" value="@pLoop.Amount">
                </span> 
        </td>
        <td>
            <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                <input type="checkbox" name="payments[@index][paid]:boolean"  @(pLoop.Paid ? "checked" : "")> Ödendi
                <span></span>
            </label>
        </td>


    </tr>
}