﻿@model ECommerce.Application.Client.ViewModels.Informations.Index



@if (Model.Success)
{
    ViewData["Title"] = Model.Information.InformationSeo.Title;
    ViewData["Description"] = Model.Information.InformationSeo.MetaDescription;
    ViewData["Keywords"] = Model.Information.InformationSeo.MetaKeywords;

    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index","Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
                    <span>&nbsp; @Model.Information.Header</span>
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                    <div class="single-header style-2">
                                        <h4>@Model.Information.Header</h4>

                                    </div>
                                    <div class="single-content single-contentx mb-50">

                                        @Html.Raw(Model.Information.InformationContent.Html)

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

}
