﻿@model ECommerce.Application.Panel.ViewModels.DiscountCoupons.Create

<form class="kt-form kt-form--label-right" id="discount_coupon_create_form">
    <div class="kt-portlet__body">
        
                <div class="row mb-2">
                      <div class="form-group  col-md-2 flex-box">
            <label class="kt-checkbox">
                <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false"> Aktif
                <span></span>
            </label>
        </div>
              <div class="form-group flex-box col-md-4">

            <label class="kt-checkbox">
                <input type="checkbox" name="disountCouponSetting[singleUse]:boolean" value="true"
                    data-unchecked-value="false"> Tek Kullanımlık
                <span></span>
            </label>

        </div>

            <div class="form-group flex-box col-md-6">

            <label class="kt-checkbox">
                <input type="checkbox" name="disountCouponSetting[discountIsRate]:boolean" value="true"
                    data-unchecked-value="false"> İndirim Oransal
                <span></span>
            </label>

        </div>
              
</div>

           <div class="row">
            <div class="form-group pos-relative col-md-12">
            <label class="input-abs-text">Kupon Kodu:</label>
            <input type="text" name="code" class="form-control"  autocomplete="off" required>
        </div>
    
           </div>
             <div class="row">
        <div class="form-group pos-relative col-md-12">
            <label class="input-abs-text">Uygulama:</label>
            <select name="applicationId" class="form-control kt-selectpicker">

                @foreach (var aLoop in Model.Applications)
                {
                <option value="@aLoop.Key">@aLoop.Value</option>
                }
            </select>
        </div>
           </div>

        <div class="form-group pos-relative">

            <label class="input-abs-text">Alt Limit:</label>
            <input type="text" class="form-control" name="disountCouponSetting[limit]" autocomplete="off" required>

        </div>


        <div class="form-group pos-relative">

            <label class="input-abs-text">İndirim:</label>
            <input type="text" class="form-control" name="disountCouponSetting[discount]"
                autocomplete="off" required>

        </div>
       

    </div>
</form>