﻿@model ECommerce.Application.Panel.ViewModels.DiscountCoupons.Update

<form class="kt-form" id="discount_coupon_update_form">

    <input type="hidden" name="id" value="@Model.DiscountCoupon.Id" />

    <div class="kt-portlet__body">


        <!--Check-->
       <div class="row mb-3">
                   <div class="form-group  col-md-2 flex-box">
            <label class="kt-checkbox">
                <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" @(Model.DiscountCoupon.Active ? "checked" : "")> Aktif
                <span></span>
            </label>
        </div>
               <div class="form-group  col-md-4 flex-box">
                <label class="kt-checkbox">
                    <input type="checkbox" name="disountCouponSetting[singleUse]:boolean" value="true" data-unchecked-value="false" @(Model.DiscountCoupon.DisountCouponSetting.SingleUse ? "checked" : "")> Tek Kullanımlık
                    <span></span>
                </label>
            </div>

               <div class="form-group  col-md-4 flex-box">

                    <label class="kt-checkbox">
                        <input type="checkbox" name="disountCouponSetting[discountIsRate]:boolean" value="true" data-unchecked-value="false" @(Model.DiscountCoupon.DisountCouponSetting.DiscountIsRate ? "checked" : "")> İndirim Oransal
                        <span></span>
                    </label>

                </div>
       </div>
<!--Check-->


        <div class="form-group pos-relative">
            <label class="input-abs-text">Kod:</label>
            <input type="text" name="code" value="@Model.DiscountCoupon.Code" class="form-control" placeholder="Kod giriniz" autocomplete="off" required>
        </div>
 
         <div class="form-group pos-relative">
         
               <label class="input-abs-text">Uygulama:</label>
                <select name="applicationId" class="form-control kt-selectpicker">

                    @foreach (var aLoop in Model.Applications)
                    {
        <option value="@aLoop.Key" @(Model.DiscountCoupon.ApplicationId == aLoop.Key ? "selected" : "")>@aLoop.Value</option>
}
                </select>
        
        </div>

       
        <div class="form-group pos-relative">
                 <label class="input-abs-text">Limit:</label>
                <input type="text" class="form-control" value="@Model.DiscountCoupon.DisountCouponSetting.Limit" name="disountCouponSetting[limit]" placeholder="Limit giriniz" autocomplete="off" required>
            </div>
    


      
         
        

            <div class="form-group">
          

                    <label>İndirim:</label>
                    <input type="text" class="form-control" value="@Model.DiscountCoupon.DisountCouponSetting.Discount" name="disountCouponSetting[discount]" placeholder="İndirim giriniz" autocomplete="off" required>

                </div>
           
          
        </div>

</form>