﻿@model DataResponse<List<ProductInformation>>

<div class="row">
    <div class="col-md-12">
        <div class="kt-checkbox-inline">
            <div class="row">

                @foreach (var dLoop in Model.Data)
                {
                    <div class="col-md-6">
                        <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                            <input type="checkbox" class="variant-selection" value="@string.Join(",", dLoop.ProductInformationVariants.Select(pv => pv.VariantValueId).OrderBy(id => id))" checked> @Html.Raw(string.Join(" ", dLoop.ProductInformationVariants.Select(pv => $"<b>{pv.VariantValue.Variant.VariantTranslations[0].Name}:</b> {pv.VariantValue.VariantValueTranslations[0].Value}")))
                            <span></span>
                        </label>
                    </div>
                }

            </div>
        </div>
    </div>
</div>