﻿@model ECommerce.Application.Panel.ViewModels.Products.IndexPartial

@if (!Model.Success)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                <div class="alert-icon"><i class="flaticon-danger"></i></div>
                <div class="alert-text">Bir şeyler ters gitti.</div>
            </div>
        </div>
    </div>
}
else if (Model.Accordion)
{
    <div id="accordion" class="accordion accordion-light accordion-toggle-arrow">

        @*Variant Template::Begin*@
        <div class="card variant-template">

            <div class="card-header" id="headingThree_-1" name="product_information_-1">
                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree_-1" aria-expanded="false" aria-controls="collapseOne2">
                    Şablon
                </div>
            </div>

            <div id="collapseThree_-1" class="collapse" aria-labelledby="headingThree_-1" data-parent="#accordion">
                <div class="card-body">

                    @Html.PartialAsync("/Themes/Org/Views/ProductInformation/ProductInformationPartial.cshtml", new ECommerce.Application.Panel.ViewModels.Products.ProductInformationPartial{
                Index = -1,
                ProductInformation = new ProductInformation{
                Barcode = Model.MaxBarcode.ToString(),
                StockCode = Model.MaxStockCode.ToString()
                },
                Languages = Model.Languages,
                Currencies = Model.Currencies,
                IncludeECommerce=Model.IncludeECommerce
                }).Result

                    <button type="button"
                        class="btn btn-brand"
                        onclick="ProductIndex.ProductInformationVariantUpdate()">
                        Şablonu Tümüne Uygula
                    </button>

                    <button type="button"
                        class="btn btn-success"
                        onclick="ProductIndex.ProductInformationVariantUpdate(true)">
                        Şablonu Yeni Varyasyonlara Uygula
                    </button>

                </div>
            </div>

        </div>
        @*Variant Template::End*@

        @for (int i = 0; i < Model.ProductInformations.Count; i++)
        {
            <div class="card @(Model.ProductInformations[i].Id == 0 ? "new-variant" : "")" data-index="@i">

                <div class="card-header" id="headingThree_@i" name="product_information_@i">
                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree_@i" aria-expanded="false" aria-controls="collapseOne2">

                        <div class="col-md-1">
                            <button type="button" class="btn btn-danger btn-sm mr-3" onclick="ProductIndex.RemoveProductInformation(@i, @Model.ProductInformations[i].Id != 0)">Sil</button>
                        </div>

                        <div class="col-md-7">


                            @Model.ProductInformations[i].ProductInformationTranslations?[0].Name
                            <br />
                            <small>
                                @(Model.ProductInformations[i].ProductInformationTranslations != null
                                    && Model.ProductInformations[i].ProductInformationTranslations[0].FullVariantValuesDescription != null
                                    ? Model.ProductInformations[i].ProductInformationTranslations[0].FullVariantValuesDescription
                                    : Model.ProductInformations[i].ToString())

                            </small>

                        </div>
                        <div class="col-md-4">
                            @Html.Raw(Model.ProductInformations[i].Photoable ? "<span class=\"kt-badge kt-badge--info kt-badge--inline kt-badge--pill\">Fotoğraflanabilir</span>" : "") @Html.Raw(Model.ProductInformations[i].Id == 0 ? "<span class=\"kt-badge kt-badge--success kt-badge--inline kt-badge--pill\">Yeni Varyasyon</span>" : "")
                        </div>

                    </div>
                </div>

                <div id="collapseThree_@i" class="collapse" aria-labelledby="headingThree_@i" data-parent="#accordion">
                    <div class="card-body">

                        @Html.PartialAsync("/Themes/Org/Views/ProductInformation/ProductInformationPartial.cshtml", new ECommerce.Application.Panel.ViewModels.Products.ProductInformationPartial{
                Index = i,
                ProductInformation=Model.ProductInformations[i],
                Languages=Model.Languages,
                Currencies=Model.Currencies,
                IncludeECommerce = Model.IncludeECommerce
                }).Result

                    </div>
                </div>

            </div>
        }

    </div>
}
else
{
    @Html.PartialAsync("/Themes/Org/Views/ProductInformation/ProductInformationPartial.cshtml", new ECommerce.Application.Panel.ViewModels.Products.ProductInformationPartial{
        Index = 0,
        ProductInformation = Model.ProductInformations[0],
        Languages=Model.Languages,
                Currencies=Model.Currencies,
                IncludeECommerce = Model.IncludeECommerce
    }).Result
}