﻿@model ECommerce.Application.Panel.ViewModels.ProductInformations.PriceUpdate

<form id="price_update_form">
    <div class="row">
        <div class="col-md-2">
            <div class="pos-relative form-group">
                <label class="input-abs-text">Liste Fiyatı:</label>
                <input type="text" class="form-control template-list-unit-price" value="0" autocomplete="off">
            </div>
        </div>
        <div class="col-md-2">
            <div class="pos-relative form-group">
                <label class="input-abs-text">Satış Fiyatı:</label>
                <input type="text" class="form-control template-unit-price" value="0" autocomplete="off">
            </div>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-info apply-all">Tümüne Uygula</button>
        </div>
    </div>

    @foreach (var theData in Model.ProductInformations)
    {
        <input type="hidden" name="ProductInformations[@Model.ProductInformations.IndexOf(theData)][Id]:number" value="@theData.Id" />

        <div class="row mt25">
            <div class="col-md-2">
                <img src="@theData.ProductInformationPhotos.FirstOrDefault()?.FileName" width="120" />

                @if (Model.IncludeAccounting)
                {
                    <div class="col-md-12 form-group">

                        <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                            <input type="checkbox" class="check-all-product_marketplace_active" />
                            <div class="small">Xml / Erp için <br>Fiyat Güncellensin</div>
                            <span></span>
                        </label>

                    </div>
                }

            </div>
            <div class="col-md-10">

                @theData.ProductInformationName

                <div style="display: flex; flex-direction: row; justify-content: space-around;">

                    <div>

                        <input type="hidden" name="ProductInformations[@Model.ProductInformations.IndexOf(theData)][ProductInformationPriceses][0][Id]:number" value="@theData.ProductInformationPriceses.FirstOrDefault().Id" />

                        <div class="form-group" style="height: 30px;">
                            @await Component.InvokeAsync("Logo", 50)
                        </div>

                        <div class="pos-relative form-group">
                            <label class="input-abs-text">Liste Fiyatı:</label>
                            <input type="text" class="form-control list-unit-price" name="ProductInformations[@Model.ProductInformations.IndexOf(theData)][ProductInformationPriceses][0][ListUnitPrice]:number" autocomplete="off" value="@theData.ProductInformationPriceses.FirstOrDefault()?.ListUnitPrice" required>
                        </div>

                        <div class="pos-relative form-group">
                            <label class="input-abs-text">Satış Fiyatı:</label>
                            <input type="text"
                               class="form-control unit-price"
                               name="ProductInformations[@Model.ProductInformations.IndexOf(theData)][ProductInformationPriceses][0][UnitPrice]:number"
                               autocomplete="off"
                               value="@theData.ProductInformationPriceses.FirstOrDefault()?.UnitPrice"
                               required>
                        </div>

                        @if (Model.IncludeAccounting)
                        {
                            <div class="col-md-12 form-group">

                                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                    <input type="checkbox"
                                   class="marketplace-accounting-price product_marketplace_active"
                                   name="ProductInformations[@Model.ProductInformations.IndexOf(theData)][ProductInformationPriceses][0][AccountingPrice]:boolean"
                                   value="@theData.ProductInformationPriceses.FirstOrDefault().AccountingPrice"
                                   @(theData.ProductInformationPriceses.FirstOrDefault().AccountingPrice ? "checked" : "") />
                                    <div class="small">Xml / Erp için <br>Fiyat Güncellensin</div>
                                    <span></span>
                                </label>

                            </div>
                        }

                    </div>

                    @foreach (var theProductInformationMarketplace in theData.ProductInformationMarketplaces)
                    {
                        <div style="margin-left: 10px;">

                            <input type="hidden" name="ProductInformations[@Model.ProductInformations.IndexOf(theData)][ProductInformationMarketplaces][@theData.ProductInformationMarketplaces.IndexOf(theProductInformationMarketplace)][Id]:number" value="@theProductInformationMarketplace.Id" />

                            <input type="hidden" name="ProductInformations[@Model.ProductInformations.IndexOf(theData)][ProductInformationMarketplaces][@theData.ProductInformationMarketplaces.IndexOf(theProductInformationMarketplace)][MarketplaceId]" value="@theProductInformationMarketplace.MarketplaceId" />

                            <div class="form-group" style="height: 30px;">
                                <img src="/org/img/marketplace-icons/@(theProductInformationMarketplace.MarketplaceId).png" width="75" />
                            </div>

                            <div class="pos-relative form-group">
                                <label class="input-abs-text">Liste Fiyatı:</label>
                                <input type="text" class="form-control list-unit-price" name="ProductInformations[@Model.ProductInformations.IndexOf(theData)][ProductInformationMarketplaces][@theData.ProductInformationMarketplaces.IndexOf(theProductInformationMarketplace)][ListUnitPrice]:number" autocomplete="off" value="@theProductInformationMarketplace.ListUnitPrice" required>
                            </div>

                            <div class="pos-relative form-group">
                                <label class="input-abs-text">Satış Fiyatı:</label>
                                <input type="text" class="form-control unit-price" name="ProductInformations[@Model.ProductInformations.IndexOf(theData)][ProductInformationMarketplaces][@theData.ProductInformationMarketplaces.IndexOf(theProductInformationMarketplace)][UnitPrice]:number" autocomplete="off" value="@theProductInformationMarketplace.UnitPrice" required>
                            </div>

                            @if (Model.IncludeAccounting)
                            {
                                <div class="col-md-12 form-group">

                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                                        <input type="checkbox"
                                   class="marketplace-accounting-price product_marketplace_active"
                                   name="ProductInformations[@Model.ProductInformations.IndexOf(theData)][ProductInformationMarketplaces][@theData.ProductInformationMarketplaces.IndexOf(theProductInformationMarketplace)][AccountingPrice]:boolean"
                                   value="@theProductInformationMarketplace.AccountingPrice"
                                   @(theProductInformationMarketplace.AccountingPrice ? "checked" : "") />
                                        <div class="small">Xml / Erp için <br>Fiyat Güncellensin</div>
                                        <span></span>
                                    </label>

                                </div>
                            }

                        </div>
                    }

                </div>

            </div>
        </div>
    }
</form>