﻿@model ECommerce.Application.Panel.ViewModels.Products.ProductInformationTranslationPartial

<input type="hidden" name="productInformations[@Model.ProductInformationIndex][productInformationTranslations][@Model.Index][id]"
       value="@(Model.ProductInformationTranslation == null ? 0 : Model.ProductInformationTranslation.Id)" />

<input type="hidden" name="productInformations[@Model.ProductInformationIndex][productInformationTranslations][@Model.Index][languageId]"
       value="@Model.Languages[Model.Index].Key" />

<input type="hidden" name="productInformations[@Model.ProductInformationIndex][productInformationTranslations][@Model.Index][url]"
       value="@Model.ProductInformationTranslation?.Url" />

<div class="form-group pos-relative">
    <label class="input-abs-text">İsim:</label>
    <input type="text" class="form-control" autocomplete="off"   @(Model.ProductInformationIndex == -1 ? "" :"required")  
           name="productInformations[@Model.ProductInformationIndex][productInformationTranslations][@Model.Index][name]"
           value="@Model.ProductInformationTranslation?.Name">
</div>
@if (Model.IncludeECommerce)
{
    <div class="form-group pos-relative">
        <label class="input-abs-text">Alt Yazı:</label>
        <input type="text" class="form-control" autocomplete="off"
           name="productInformations[@Model.ProductInformationIndex][productInformationTranslations][@Model.Index][subTitle]"
           value="@Model.ProductInformationTranslation?.SubTitle">
    </div>

    <div class="form-group pos-relative">
        <label class="input-abs-text">Seo Başlık (Title):</label>
        <input type="text" class="form-control" autocomplete="off"
           name="productInformations[@Model.ProductInformationIndex][productInformationTranslations][@Model.Index][ProductInformationSeoTranslation][title]">
    </div>
    <div class="form-group pos-relative">
        <label class="input-abs-text">Seo Açıklama (Description):</label>
        <input type="text" class="form-control" autocomplete="off"
           name="productInformations[@Model.ProductInformationIndex][productInformationTranslations][@Model.Index][ProductInformationSeoTranslation][metaDescription]">
    </div>
    <div class="form-group pos-relative">
        <label class="input-abs-text">Seo Anahtar Kelime :</label>
        <input type="text" class="form-control" autocomplete="off"
           name="productInformations[@Model.ProductInformationIndex][productInformationTranslations][@Model.Index][ProductInformationSeoTranslation][metaKeywords]"
           value="@Model.ProductInformationTranslation?.ProductInformationSeoTranslation?.MetaKeywords">
    </div>

    <div class="form-group">
        <label>Ürün Kısa Açıklama (Spot):</label>
        <textarea class="summernote"
              name="productInformations[@Model.ProductInformationIndex][productInformationTranslations][@Model.Index][ProductInformationContentTranslation][description]">@Html.Raw(Model.ProductInformationTranslation?.ProductInformationContentTranslation?.Description)</textarea>
    </div>
}

<label>Ürün İçerik:</label>
<textarea class="summernote"
          name="productInformations[@Model.ProductInformationIndex][productInformationTranslations][@Model.Index][ProductInformationContentTranslation][content]">@Html.Raw(Model.ProductInformationTranslation?.ProductInformationContentTranslation?.Content)</textarea>