﻿@model ECommerce.Application.Panel.ViewModels.Products.ProductInformationPartial

<div name="product_information_@Model.Index">

    <input type="hidden" name="productInformations[@Model.Index][id]"
           value="@Model.ProductInformation.Id" />

    <input type="hidden" name="productInformations[@Model.Index][photoable]:boolean"
           value="@Model.ProductInformation.Photoable" />

    <input type="hidden" name="productInformations[@Model.Index][active]:boolean"
           value="true" />


    <input type="hidden" name="productInformations[@Model.Index][groupId]"
           value="@Model.ProductInformation.GroupId" />
    <div class="row">

        <div class="col-md-2">

            <div class="form-group pos-relative">

                <label class="input-abs-text">Barkod:</label>
                <input type="number" class="form-control" name="productInformations[@Model.Index][barcode]" maxlength="20" autocomplete="off" @(Model.Index == -1 ? "" :"required")
                       value="@Model.ProductInformation.Barcode" />
            </div>

        </div>

        <div class="col-md-2">

            <div class="form-group pos-relative">

                <label class="input-abs-text">Stok Kodu:</label>
                <input type="text" class="form-control" name="productInformations[@Model.Index][stockCode]" autocomplete="off" @(Model.Index == -1 ? "" :"required")
                       value="@Model.ProductInformation.StockCode" />
            </div>

        </div>

        <div class="col-md-2">

            <div class="form-group pos-relative">

                <label class="input-abs-text">Stok:</label>
                <input type="number" name="productInformations[@Model.Index][stock]" class="form-control" value="@Model.ProductInformation.Stock" placeholder="Stok Giriniz"
                       @(Model.Index == -1 ? "" :"required") />

            </div>

        </div>

        <div class="col-md-2">

            <div class="form-group pos-relative">

                <label class="input-abs-text">Raf Kodu:</label>
                <input type="text" name="productInformations[@Model.Index][shelfCode]" class="form-control" value="@Model.ProductInformation.ShelfCode" placeholder="Raf Kodu Giriniz" />

            </div>

        </div>

        <div class="col-md-2">

            <div class="form-group pos-relative">

                <label class="input-abs-text">Sku Kodu:</label>
                <input type="text" name="productInformations[@Model.Index][skuCode]" class="form-control" value="@Model.ProductInformation.SkuCode" placeholder="Sku Kodu Giriniz" />

            </div>

        </div>

        @if (Model.IncludeECommerce)
        {
            <div class="col-md-2">

                <div class="form-group">
                    <label></label>
                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand" style="margin-top:10px">

                        <input type="checkbox" class="form-control" name="productInformations[@Model.Index][payor]:boolean" value="true"
                           data-unchecked-value="false" @Html.Raw(Model.ProductInformation.Payor ? "checked" : "" )>
                        Kargo Bedava
                        <span></span>
                    </label>
                </div>

            </div>


            <div class="col-md-2">

                <div class="form-group">
                    <label></label>
                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand" style="margin-top:10px">

                        <input type="checkbox" class="form-control" name="productInformations[@Model.Index][isSale]:boolean" value="true"
                           data-unchecked-value="false" @Html.Raw(Model.ProductInformation.IsSale ? "checked" : "" )>
                        Ürün Satışa Açık Mı?
                        <span></span>
                    </label>
                </div>

            </div>

            <div class="col-md-2">

                <div class="form-group">
                    <label></label>
                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand" style="margin-top:10px">

                        <input type="checkbox" class="form-control" name="productInformations[@Model.Index][active]:boolean" value="true"
                           data-unchecked-value="false" @Html.Raw(Model.ProductInformation.Active ? "checked" : "" )>
                        Aktif
                        <span></span>
                    </label>
                </div>

            </div>
        }

    </div>

    @if (Model.ProductInformation.ProductInformationVariants != null)
        for (int k = 0; k < Model.ProductInformation.ProductInformationVariants.Count; k++)
        {
            <div class="variant_productInformations_@Model.Index">

                <input type="hidden"
               name="productInformations[@Model.Index][productInformationVariants][@k][variantValueId]"
               value="@Model.ProductInformation.ProductInformationVariants[k].VariantValueId" />

                <input type="hidden" name="productInformations[@Model.Index][productInformationVariants][@k][variantValue][id]"
               value="@Model.ProductInformation.ProductInformationVariants[k].VariantValue.Id" />

                <input type="hidden"
               name="productInformations[@Model.Index][productInformationVariants][@k][variantValue][variant][variantTranslations][0][name]"
               value="@Model.ProductInformation.ProductInformationVariants[k].VariantValue.Variant.VariantTranslations[0].Name" />

                <input type="hidden"
               data-variant="@Model.ProductInformation.ProductInformationVariants[k].VariantValue.Variant.VariantTranslations[0].Name"
               name="productInformations[@Model.Index][productInformationVariants][@k][variantValue][variantValueTranslations][0][value]"
               value="@Model.ProductInformation.ProductInformationVariants[k].VariantValue.VariantValueTranslations[0].Value.Trim()" />


                <input type="hidden"
               name="productInformations[@Model.Index][productInformationVariants][@k][variantValue][variant][showVariant]:boolean"
               value="@Model.ProductInformation.ProductInformationVariants[k].VariantValue.Variant.ShowVariant" />
            </div>
        }

    @if (Model.Languages.Count == 1)
    {
        @Html.PartialAsync("/Themes/Org/Views/ProductInformation/ProductInformationTranslationPartial.cshtml", new ECommerce.Application.Panel.ViewModels.Products.ProductInformationTranslationPartial{
    Index = 0,
    ProductInformationIndex = Model.Index,
    Languages=Model.Languages,
    Currencies=Model.Currencies,
    ProductInformationTranslation = Model.ProductInformation.ProductInformationTranslations==null?null:Model.ProductInformation.ProductInformationTranslations[0],
    IncludeECommerce = Model.IncludeECommerce
    }).Result
    }
    else
    {
        <div class="kt-portlet kt-portlet--tabs">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-toolbar">
                    <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x" role="tablist">

                        @for (int j = 0; j < Model.Languages.Count; j++)
                        {
                            var active = j == 0 ? "active" : "";
                            <li class="nav-item">
                                <a class="nav-link @active" data-toggle="tab" href="#tab_content_Languages_@(Model.Index)_@Model.Languages[j].Key"
                           role="tab">
                                    @Model.Languages[j].Value
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="tab-content">

                    @for (int j = 0; j < Model.Languages.Count; j++)
                    {
                        var productInformationTranslation = Model
                        .ProductInformation.ProductInformationTranslations?.FirstOrDefault(pip => pip.LanguageId ==
                        Model.Languages[j].Key);
                        var active = j == 0 ? "active" : "";
                        <div class="tab-pane @active" id="tab_content_Languages_@(Model.Index)_@Model.Languages[j].Key" role="tabpanel">

                            @Html.PartialAsync("/Themes/Org/Views/ProductInformation/ProductInformationTranslationPartial.cshtml", new ECommerce.Application.Panel.ViewModels.Products.ProductInformationTranslationPartial{
                    Index = j,
                    ProductInformationIndex = Model.Index,
                    Languages=Model.Languages,
                    Currencies=Model.Currencies,
                    ProductInformationTranslation = Model
                    .ProductInformation.ProductInformationTranslations?.FirstOrDefault(pip => pip.LanguageId ==
                    Model.Languages[j].Key),
                    IncludeECommerce = Model.IncludeECommerce
                    }).Result

                        </div>
                    }

                </div>
            </div>
        </div>
    }

    @if (Model.Currencies.Count == 1)
    {
        @Html.PartialAsync("/Themes/Org/Views/ProductInformation/ProductInformationPricePartial.cshtml", new ECommerce.Application.Panel.ViewModels.Products.ProductInformationPricePartial{
    Index = 0,
    ProductInformationIndex = Model.Index,
    Languages=Model.Languages,
    Currencies=Model.Currencies,
    ProductInformationPrice = Model.ProductInformation.ProductInformationPriceses==null?null:Model.ProductInformation.ProductInformationPriceses[0]
    }).Result
    }
    else
    {
        <div class="kt-portlet kt-portlet--tabs">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-toolbar">
                    <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x" role="tablist">

                        @for (int j = 0; j < Model.Currencies.Count; j++)
                        {
                            var active = j == 0 ? "active" : "";
                            <li class="nav-item">
                                <a class="nav-link @active" data-toggle="tab" href="#tab_content_Currencies_@(Model.Index)_@Model.Currencies[j].Key"
                           role="tab">
                                    @Model.Currencies[j].Value
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="tab-content">

                    @for (int j = 0; j < Model.Currencies.Count; j++)
                    {
                        var productInformationPrice = Model.ProductInformation
                        .ProductInformationPriceses?.FirstOrDefault(pip => pip.CurrencyId == Model.Currencies[j].Key);
                        var active = j == 0 ? "active" : "";
                        <div class="tab-pane @active" id="tab_content_Currencies_@(Model.Index)_@Model.Currencies[j].Key" role="tabpanel">

                            @Html.PartialAsync("/Themes/Org/Views/ProductInformation/ProductInformationPricePartial.cshtml", new ECommerce.Application.Panel.ViewModels.Products.ProductInformationPricePartial{
                    Index = j,
                    ProductInformationIndex = Model.Index,
                    Languages=Model.Languages,
                    Currencies=Model.Currencies,
                    ProductInformationPrice = productInformationPrice
                    }).Result

                        </div>
                    }

                </div>
            </div>
        </div>
    }

    <!-- Photos::Begin-->
    @if (Model.ProductInformation.Photoable)
    {
        <div class="row m-5" name="product-type-pc">

            <div class="col-md-12">

                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                @Model.ProductInformation.ProductInformationTranslations?[0].FullVariantValuesDescription Ürün Fotoğrafları
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-wrapper">
                                <a href="javascript:void(0)" name="addButton"
                               data-product-information-id="@Model.Index" class="btn btn-brand btn-elevate btn-icon-sm">
                                    <i class="la la-plus"></i>
                                    Fotoğraf Ekle
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="kt-form">
                        <div class="kt-portlet__body" id="productInformationPhoto_@Model.Index">

                            @if (Model.ProductInformation.ProductInformationPhotos != null)
                                @for (int j = 0; j < Model.ProductInformation.ProductInformationPhotos.Count; j++)
                                {
                                    var productInformationPhoto = Model.ProductInformation.ProductInformationPhotos[j];

                                    <div class="col-lg-12 productInformationPhoto" id="productInformation-photo-item-@j">
                                        <div class="form-group row" style="display:flex;align-items:center;justify-content: space-around;">
                                            <label class="col-xl-1 col-lg-1 col-form-label">Sıra</label>
                                            <input class="col-form-label photoİndex form-control touchspin" type="number" value="@productInformationPhoto.DisplayOrder" style="flex:0.1"
                                       name="productInformations[@Model.Index][ProductInformationPhotos][@j][displayOrder]">

                                            <div class="productPhoto" style="flex:0.7;text-align:center;">
                                                <div class="kt-avatar kt-avatar--outline " id="kt_user_avatar_1">
                                                    <input type="hidden" name="productInformations[@Model.Index][ProductInformationPhotos][@j][id]" value="@productInformationPhoto.Id" />

                                                    <input type="hidden"
                                               id="filename_@(productInformationPhoto.Id)_@Model.Index"
                                               name="productInformations[@Model.Index][ProductInformationPhotos][@j][fileName]"
                                               value="@productInformationPhoto.FileName"
                                               class="form-control">

                                                    <div class="kt-avatar__holder photoSrc" id="fileNameImage-preview_@(productInformationPhoto.Id)_@Model.Index" style="background-image: url(@productInformationPhoto.FileName)"></div>
                                                    <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                                        <i class="fa fa-pen"></i>

                                                        <input type="file" name="profile_avatar" data-product-information-id="@Model.Index" data-photo-id="@productInformationPhoto.Id">
                                                    </label>

                                                </div>
                                            </div>

                                            <div class="photoRemove" style="flex:0.2">
                                                <a title="Sil" name="photoRemove" data-productInformation-photo-item="@j" class="btn btn-lg btn-warning btn-icon btn-icon-lg">
                                                    <i class="la la-trash"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }

                        </div>
                    </div>

                    <!--end::Form-->
                </div>

            </div>
        </div>

    }
    <!-- Photos::End-->
</div>