﻿@model ECommerce.Application.Panel.ViewModels.Products.ProductInformationPricePartial

<input type="hidden" name="productInformations[@Model.ProductInformationIndex][productInformationPriceses][@Model.Index][id]"
       value="@(Model.ProductInformationPrice == null ? 0 : Model.ProductInformationPrice.Id)" />

<input type="hidden" name="productInformations[@Model.ProductInformationIndex][productInformationPriceses][@Model.Index][currencyId]"
       value="@Model.Currencies[Model.Index].Key" />

<div class="row mt-3">

    <div class="col-md-12">

        <div class="alert alert-info" role="alert">
            <div class="alert-icon"><i class="flaticon-questions-circular-button"></i></div>
            <div class="alert-text">Maliyetin farklı bir para biriminden günlük çevrilierek hesaplanması istiyorsanız aşağıdaki <b>Maliyet Birimi</b> seçeğini işaretleyin.</div>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-2">

        <div class="kt-input-icon kt-input-icon--left">
            <label class="input-abs-text">Liste Fiyatı:</label>
            <input type="number"
                   class="form-control"
                   autocomplete="off"
                   name="productInformations[@Model.ProductInformationIndex][productInformationPriceses][@Model.Index][listUnitPrice]"
                   value="@Model.ProductInformationPrice?.ListUnitPrice"
                   @(Model.ProductInformationIndex == -1 ? "" :"required") />
            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                <span><i class="la la-money"></i></span>
            </span>
        </div>

    </div>

    <div class="col-md-2">

        <div class="form-group pos-relative">
            <label class="input-abs-text">Satış Fiyatı:</label>
            <input type="number" class="form-control" autocomplete="off" @(Model.ProductInformationIndex == -1 ? "" :"required")
                   name="productInformations[@Model.ProductInformationIndex][productInformationPriceses][@Model.Index][unitPrice]"
                   value="@Model.ProductInformationPrice?.UnitPrice" />
        </div>

    </div>

    <div class="col-md-2">

        <div class="form-group pos-relative">
            <label class="input-abs-text">Maliyet Birimi:</label>
            <select name="productInformations[@Model.ProductInformationIndex][productInformationPriceses][@Model.Index][conversionCurrencyId]" class="form-control kt-selectpicker curSelect" onchange="ProductIndex.CurSelect()">
                <option value="">Kur Değiştirme</option>
                <option value="USD" @(Model.ProductInformationPrice?.ConversionCurrencyId == "USD" ? "selected" : "")>USD</option>
                <option value="EUR" @(Model.ProductInformationPrice?.ConversionCurrencyId == "EUR" ? "selected" : "")>EUR</option>
            </select>
        </div>

    </div>

    <div class="col-md-2">

        <div class="form-group pos-relative tlCost @(Model.ProductInformationPrice?.ConversionCurrencyId != null ? "dp-none" : "")">
            <label class="input-abs-text">Maliyet:</label>
            <input type="number" class="form-control" autocomplete="off" @(Model.ProductInformationIndex == -1 ? "" :"required")
                   name="productInformations[@Model.ProductInformationIndex][productInformationPriceses][@Model.Index][unitCost]"
                   value="@(Model.ProductInformationPrice != null ? Model.ProductInformationPrice.UnitCost : 0)" />
        </div>

        <div class="form-group pos-relative @(Model.ProductInformationPrice?.ConversionCurrencyId ?? "dp-none") conversionUnitCost">
            <label class="input-abs-text">Maliyet: <span class="curType">@Model.ProductInformationPrice?.ConversionCurrencyId</span></label>
            <input type="number" class="form-control" autocomplete="off" @(Model.ProductInformationIndex == -1 ? "" :"required")
                   name="productInformations[@Model.ProductInformationIndex][productInformationPriceses][@Model.Index][conversionUnitCost]"
                   value="@(Model.ProductInformationPrice !=null ? Model.ProductInformationPrice?.ConversionUnitCost : 0)" />
        </div>

    </div>

    <div class="col-md-2">

        <div class="form-group pos-relative">
            <label class="input-abs-text">Vergi Oranı:</label>
            <select name="productInformations[@Model.ProductInformationIndex][productInformationPriceses][@Model.Index][vatRate]" class="form-control kt-selectpicker">
                <option value="0.20" @(Model.ProductInformationPrice != null && Model.ProductInformationPrice?.VatRate == 0.20m ? "selected" : "")>20</option>
                <option value="0.18" @(Model.ProductInformationPrice !=null && Model.ProductInformationPrice?.VatRate == 0.18m ? "selected" : "")>18</option>
                <option value="0.10" @(Model.ProductInformationPrice != null && Model.ProductInformationPrice?.VatRate == 0.10m ? "selected" : "")>10</option>
                <option value="0.08" @(Model.ProductInformationPrice !=null && Model.ProductInformationPrice?.VatRate == 0.08m ? "selected" : "")>8</option>
                <option value="0.01" @(Model.ProductInformationPrice !=null && Model.ProductInformationPrice?.VatRate == 0.01m ? "selected" : "")>1</option>
            </select>
        </div>

    </div>

</div>