﻿@model ECommerce.Application.Common.DataTransferObjects.RowComponent


<section class="">
    <div class="container home-container">
        <div class="row">
            @foreach (var column in Model.ColumnComponents)
            {
                @Html.PartialAsync($"/themes/watch/Views/Components/Column.cshtml", column).Result
            }
            </div>
        </div>
</section>


