﻿/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
}

thead {
    font-weight: 600;
}

.loadingGif {
    max-width: 200px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}

*:focus,
select:focus,
.custom-select:focus,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.display-none {
    display: none !important;
    visibility: hidden;
}

.color-white {
    color: white !important;
}

a {
    color: #2d2d2d;
}

    a:hover {
        color: #FDC040;
    }

li.hr span {
    width: 100%;
    height: 1px;
    background-color: #e4e4e4;
    margin: 20px 0;
    display: block;
}
/*--- Ortak Class---------------------*/
::-moz-selection {
    background: #2d2d2d;
    color: #fff;
}

::selection {
    background: #2d2d2d;
    color: #fff;
}

::-moz-selection {
    background: #2d2d2d;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #838383;
}

:-ms-input-placeholder {
    color: #838383;
}

::-ms-input-placeholder {
    color: #838383;
}

::placeholder {
    color: #838383;
}

.fix {
    overflow: hidden;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.section {
    float: left;
    width: 100%;
}

.width-100px {
    max-width: 100px;
}

.f-right {
    float: right;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.bg-img {
    background-position: center center;
    background-size: cover;
}

.position-relative {
    position: relative;
}

.height-100vh {
    height: 100vh !important;
}

.invalid-message {
    display: inherit;
    color: red;
    font-size: 12px;
    position: absolute;
    top: -13px;
    left: 22px;
    background: white;
    padding: 1px 10px;
}

textarea {
    resize: none !important;
}
    /*Focus Style*/
    *:focus,
    select:focus,
    .custom-select:focus,
    button:focus,
    textarea:focus,
    textarea.form-control:focus,
    input.form-control:focus,
    input[type=text]:focus,
    input[type=password]:focus,
    input[type=email]:focus,
    input[type=number]:focus,
    [type=text].form-control:focus,
    [type=password].form-control:focus,
    [type=email].form-control:focus,
    [type=tel].form-control:focus,
    [contenteditable].form-control:focus {
        outline: none !important;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
/*Focus Style*/
.bg-grey-9 {
    background-color: #f4f5f9;
}
/*Border Radius*/
.border-radius {
    border-radius: 4px;
}

.border-radius-5 {
    border-radius: 5px;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-15 {
    border-radius: 15px;
}

.border-radius-20 {
    border-radius: 20px;
}
/*Border Radius*/
/*İmage Style*/
.img-hover-scale img {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    transition: transform .5s,-webkit-transform .5s;
}

.img-hover-scale:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    transition: transform .5s,-webkit-transform .5s;
}

.hover-up {
    -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

    .hover-up:hover {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
        transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    }
/*İmage Style*/
/*Text & Background Color - Size*/
.text-brand {
    color: #2d2d2d !important;
}

.text-brand-2 {
    color: #FDC040 !important;
}

.text-primary {
    color: #5a97fa !important;
}

.text-warning {
    color: #ff9900 !important;
}

.text-danger {
    color: #FD6E6E !important;
}

.text-success {
    color: #81B13D !important;
}

.text-info {
    color: #2cc1d8 !important;
}

.text-grey-4 {
    color: #adadad !important;
}

.text-muted {
    color: #B6B6B6 !important;
}

.text-7 {
    color: #d77f7a !important;
}

.text-8 {
    color: #63a2c1 !important;
}

.color-orange {
    color: #ff6409 !important;
}

.text-white {
    color: #fff !important;
}

.text-grey-5, .text-grey-5 a, .text-hover-grey-5:hover {
    color: #a2a2a2 !important;
}

.bg-brand {
    background-color: #2d2d2d !important;
}

.bg-primary {
    background-color: #5a97fa !important;
}

.bg-warning {
    background-color: #ff9900 !important;
}

.bg-danger {
    background-color: #FD6E6E !important;
}

.bg-success {
    background-color: #81B13D !important;
}

.bg-info {
    background-color: #2cc1d8 !important;
}

.bg-grey-4 {
    background-color: #adadad !important;
}

.bg-1 {
    background-color: #fddde4 !important;
}

.bg-2 {
    background-color: #cdebbc !important;
}

.bg-3 {
    background-color: #d1e8f2 !important;
}

.bg-4 {
    background-color: #cdd4f8 !important;
}

.bg-5 {
    background-color: #f6dbf6 !important;
}

.bg-6 {
    background-color: #fff2e5 !important;
}

.bg-7 {
    background-color: #d77f7a !important;
}

.bg-8 {
    background-color: #63a2c1 !important;
}

.bg-9 {
    background-color: #F2FCE4 !important;
}

.bg-10 {
    background-color: #FFFCEB !important;
}

.bg-11 {
    background-color: #ECFFEC !important;
}

.bg-12 {
    background-color: #FEEFEA !important;
}

.bg-13 {
    background-color: #FFF3EB !important;
}

.bg-14 {
    background-color: #FFF3FF !important;
}

.bg-15 {
    background-color: #F2FCE4 !important;
}

.bg-grey-9 {
    background-color: #f4f5f9 !important;
}

.font-xs {
    font-size: 13px;
}
/*Text & Background Color - Size*/
.div-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.middle-container {
    max-width: 1200px;
    margin: auto;
    padding: 50px;
    background-color: #f4f6fa;
    border-radius: 5px;
}


.bg-grey-1 {
    background: #fafbfc;
}

.box-shadow-none {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.flex-horizontal-center {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.w-36px {
    max-width: 36px;
}

.ml-15 {
    margin-left: 15px;
}

.border {
    border: 1px solid #ececec !important;
}

.head-bottom-border {
    border-bottom: 1px solid #ecebec;
    padding-bottom: 15px;
}

.box-shadow-outer-6 {
    -webkit-box-shadow: 20px 20px 54px rgba(0, 0, 0, 0.03);
    box-shadow: 20px 20px 54px rgba(0, 0, 0, 0.03);
}

    .box-shadow-outer-6:hover {
        -webkit-box-shadow: 20px 20px 54px rgba(0, 0, 0, 0.05);
        box-shadow: 20px 20px 54px rgba(0, 0, 0, 0.05);
    }

.box-shadow-outer-7 {
    -webkit-box-shadow: 0 0 11px 0 rgba(78, 42, 222, 0.03), 0 8px 16px 0 rgba(78, 42, 222, 0.08);
    box-shadow: 0 0 11px 0 rgba(78, 42, 222, 0.03), 0 8px 16px 0 rgba(78, 42, 222, 0.08);
}

    .box-shadow-outer-7:hover {
        -webkit-box-shadow: 0 0 14px 0 rgba(78, 42, 222, 0.03), 0 8px 18px 0 rgba(78, 42, 222, 0.09);
        box-shadow: 0 0 14px 0 rgba(78, 42, 222, 0.03), 0 8px 18px 0 rgba(78, 42, 222, 0.09);
    }

.box-shadow-outer-3, .box-hover-shadow-outer-3:hover {
    -webkit-box-shadow: 0 5px 16px 0 rgba(118, 126, 173, 0.09);
    box-shadow: 0 5px 16px 0 rgba(118, 126, 173, 0.09);
}
/*Border Style*/
.border-1 {
    border-width: 1px !important;
}

.border-2 {
    border-width: 2px !important;
}

.border-3 {
    border-width: 3px !important;
}

.border-dotted {
    border-style: dotted !important;
}

.border-solid {
    border-style: solid !important;
}

.border-double {
    border-style: double !important;
}

.border-dashed {
    border-style: dashed !important;
}

.border-brand {
    border-color: #2d2d2d !important;
}

.border-muted {
    border-color: #f7f8f9;
}

.section-border {
    border-top: 1px solid #e6e9ec;
    border-bottom: 1px solid #e6e9ec;
}

.border-color-1 {
    border-color: #e0dede;
}

.border-right {
    border-right: 1px solid #ececec;
    margin-right: 10px;
    padding-right: 10px;
}

.find-border-right {
    border-right: 1px solid #ececec;
}

.find-header {
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 18px;
}
/*Border Style*/
/*Action Style*/
a,
button,
img,
input,
span,
h4 {
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
/*Action Style*/
/*Animation*/
@-webkit-keyframes slideleft {
    10% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        right: 0;
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    90% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        right: 100%;
    }
}

@keyframes slideleft {
    10% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        right: 0;
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    90% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        right: 100%;
    }
}

[data-loader='spinner'] {
    width: 35px;
    height: 35px;
    display: inline-block;
    -webkit-animation: spinner 1.2s infinite ease-in-out;
    animation: spinner 1.2s infinite ease-in-out;
    background: url(../imgs/favicon.ico);
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
        transform: perspective(120px) rotateX(0) rotateY(0);
    }

    50% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0);
        transform: perspective(120px) rotateX(-180deg) rotateY(0);
    }

    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
        transform: perspective(120px) rotateX(0) rotateY(0);
    }

    50% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0);
        transform: perspective(120px) rotateX(-180deg) rotateY(0);
    }

    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
}

@-webkit-keyframes shadow-pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0px rgba(239, 63, 72, 0.8);
        box-shadow: 0 0 0 0px rgba(239, 63, 72, 0.8);
    }

    100% {
        -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
    }
}

@keyframes shadow-pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0px rgba(239, 63, 72, 0.8);
        box-shadow: 0 0 0 0px rgba(239, 63, 72, 0.8);
    }

    100% {
        -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
    }
}

@-webkit-keyframes shadow-pulse-big {
    0% {
        -webkit-box-shadow: 0 0 0 0px rgba(239, 63, 72, 0.1);
        box-shadow: 0 0 0 0px rgba(239, 63, 72, 0.1);
    }

    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

@keyframes shadow-pulse-big {
    0% {
        -webkit-box-shadow: 0 0 0 0px rgba(239, 63, 72, 0.1);
        box-shadow: 0 0 0 0px rgba(239, 63, 72, 0.1);
    }

    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

@-webkit-keyframes jump {
    0% {
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes jump {
    0% {
        -webkit-transform: translate3d(0, 20%, 0);
        transform: translate3d(0, 20%, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.jump {
    -webkit-transform-origin: 0;
    transform-origin: 0;
    -webkit-animation: jump .5s linear alternate infinite;
    animation: jump .5s linear alternate infinite;
}
/*Animation*/
/*Typography */
body {
    color: #222121;
   font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading,
.display-1,
.display-2,
.heading-sm-1 {
   font-family: 'Nunito Sans', sans-serif;
    color: #253D4E;
    font-weight: 700;
    line-height: 1.2;
}

.slider-text {
    color: white;
    text-shadow: 1px 1px black;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 15px;
}

.display-1 {
    font-size: 96px;
    line-height: 1;
}

.display-2 {
    font-size: 72px;
    line-height: 1;
}

.heading-sm-1 {
    font-size: 14px;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px;
    color: #222121;
}

.text-heading {
    color: #253D4E;
}

p:last-child {
    margin-bottom: 0;
}

.font-weight-bold {
    font-weight: 700;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
}

b {
    font-weight: 500;
}

.font-16 {
    font-size: 16px !important;
}

strong,
.fw-600 {
    font-weight: 600;
}

.fw-900 {
    font-weight: 900;
}

.fw-300 {
    font-weight: 300;
}

.section-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: end;
    margin-bottom: 44px;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

    .section-title .title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row;
        flex-flow: row;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .section-title h3 {
        font-weight: 700;
        font-size: 32px;
        margin-right: 30px;
    }

    .section-title a.show-all {
        font-size: 16px;
        color: #7E7E7E;
    }

        .section-title a.show-all:hover {
            color: #2d2d2d;
        }

.color-black {
    color: black !important;
}

.totall-product strong {
    color: #2d2d2d;
}

.section-title a.show-all i {
    font-size: 12px;
    margin-left: 5px;
}

.section-title.style-1 {
    position: relative;
    border-bottom: 1px solid #ececec;
    padding-bottom: 20px;
    font-size: 24px;
}

    .section-title.style-1::after {
        content: "";
        width: 80px;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #BCE3C9;
    }

.section-title span {
    color: #2d2d2d;
}

h5.widget-title {
    font-size: 18px;
    font-weight: 600;
}

.text-body {
    color: #7E7E7E !important;
}

.font-xxs {
    font-size: 12px;
}

.font-xs {
    font-size: 13px;
}

.font-sm {
    font-size: 14px;
}

.font-md {
    font-size: 16px;
}

.font-lg {
    font-size: 17px;
}

.font-xl {
    font-size: 19px;
}

.font-xxl {
    font-size: 58px;
}

.text-hot {
    color: #f74b81;
}

.text-new {
    color: #55bb90;
}

.text-sale {
    color: #67bcee;
}

.text-best {
    color: #f59758;
}

.fw-700 {
    font-weight: 700;
}
/*Typography */
/*Buton Style*/
.btn-default {
    color: #fff;
    background-color: #2d2d2d;
    border-radius: 50px;
    padding: 13px 28px;
    font-family: 'Montserrat', sans-serif
}

    .btn-default i {
        font-weight: 400;
        font-size: 12px;
        margin-left: 10px;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }

    .btn-default:hover i {
        margin-left: 15px;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }

.btn-lg {
    padding: 13px 28px;
    font-size: 16px;
}

.btn-sm {
    padding: 8px 18px !important;
    font-size: 12px;
}

.btn-md {
    padding: 10px 24px !important;
    font-size: 12px;
}

.btn-outline {
    background-color: transparent !important;
}

.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn {
   font-family: 'Nunito Sans', sans-serif;
}

    .btn:hover {
        color: #fff;
    }

.btn-shadow-brand {
    -webkit-box-shadow: 0 2px 6px 0 rgba(88, 151, 251, 0.16);
    box-shadow: 0 2px 6px 0 rgba(88, 151, 251, 0.16);
    border: 1px solid #f7f8f9;
}

    .btn-shadow-brand:hover {
        border: 1px solid #2d2d2d;
    }

.btn-brand {
    background-color: #2d2d2d;
    border-color: #2d2d2d;
}

.btn-find {
    max-width: 45%;
    margin: auto;
    position: sticky;
    bottom: 9px;
    z-index: 25;
    border: 5px solid #e2e2e2 !important;
    font-size: 20px !important;
}

.btn-heading, button.btn-heading[type="submit"] {
    background-color: #253D4E;
    border-color: #253D4E;
    font-weight: 700;
    border: 0;
}
.home-btn-box {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    top: 50%;
    display: flex;
    justify-content: center;
}
a.btn.fashion-btn {
    margin: 15px;
    background: white;
    color: black;
    border-radius: 0;
    border: 1px solid #2d2d2d;
}
.call-center-btn {
    background-color: #fdc040 !important;
    color: black !important;
    opacity: 1;
}

    .call-center-btn img {
        max-width: 30px;
    }

button.submit, button[type='submit'] {
    font-size: 16px;
    font-weight: 500;
    padding: 15px 40px;
    color: #ffffff;
    border: none;
    background-color: #2d2d2d;
    border: 1px solid #29A56C;
    border-radius: 10px;
}


    button.submit:hover, button[type='submit']:hover {
        background-color: #29A56C !important;
    }

.btn-brand:hover {
    background-color: #29A56C !important;
}

.news-bulten {
    min-width: 400px !important;
}

.btn-login {
    font-weight: 600;
}

    .btn-login .btn {
        min-width: unset;
    }

    .btn-login li {
        margin: 0px 5px 0;
        display: inline-block;
    }

        .btn-login li a {
            border-radius: 5px;
            padding: 15px 25px;
            color: #fff;
            display: block;
            line-height: 1;
            text-transform: none;
            letter-spacing: 0;
            font-size: 14px;
        }

.btn, .button {
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 4px;
    color: #fff;
    border: 1px solid transparent;
    background-color: #2d2d2d;
    cursor: pointer;
    -webkit-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    letter-spacing: 0.5px;
}

.whatsappButton {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    max-width: 39px;
    margin-top: 11px;
    margin-left: 5px;
}

#ibanCopy {
    border: none;
    background: none !important;
}

    #ibanCopy img {
        max-width: 30px;
    }

.btn-block {
    width: 100%;
}

.btn:hover, .button:hover {
    background-color: #FDC040;
}

.btn.btn-sm, .button.btn-sm {
    padding: 8px 18px;
    font-size: 12px;
    text-transform: none;
    line-height: 1.8;
}

.btn.btn-xs, .button.btn-xs {
    padding: 7px 8px 7px 12px;
    font-size: 12px;
    text-transform: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 1.3;
}

    .btn.btn-xs i, .button.btn-xs i {
        font-size: 14px !important;
        line-height: 0;
    }

.btn.btn-rounded, .button.btn-rounded {
    border-radius: 50px;
}

.btn.btn-secondary, .button.btn-secondary {
    background-color: #3e5379;
    border-color: #3e5379;
}

.btn.btn-facebook, .button.btn-facebook {
    background: #3b5998;
    border-color: #3b5998;
}

.btn.btn-google, .button.btn-google {
    background: #d85040;
    border-color: #d85040;
}

.btn.btn-brush, .button.btn-brush {
    background-color: transparent;
    color: #2d2d2d;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
   font-family: 'Nunito Sans', sans-serif;
}

    .btn.btn-brush i, .button.btn-brush i {
        margin: 3px 0 0 5px;
    }

    .btn.btn-brush.btn-brush-1, .button.btn-brush.btn-brush-1 {
        background-image: url(../imgs/theme/btn-brush-bg-1.png);
    }

    .btn.btn-brush.btn-brush-2, .button.btn-brush.btn-brush-2 {
        background-image: url(../imgs/theme/btn-brush-bg-2.png);
    }

    .btn.btn-brush.btn-brush-3, .button.btn-brush.btn-brush-3 {
        background-image: url(../imgs/theme/btn-brush-bg-3.png);
    }


.comments-area .btn-reply {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .comments-area .btn-reply i {
        margin-left: 5px;
        font-size: 12px;
    }

.tags .btn, .tags .button {
    border-radius: 4px;
    float: left;
}

.swal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    flex-direction: 1;
}

    .swal-footer .swal-button-container {
        flex: 1;
    }

        .swal-footer .swal-button-container button {
            width: 100%;
        }

.swal-button-container, .swal-button:active, .swal-button-container:active, .swal-button-container:hover, .swal-button:after, .swal-button:focus, .swal-button-container:focus {
    outline: 0 !important;
    outline: none !important;
    outline: none !important;
    border: none !important;
    outline-offset: inherit !important;
    box-shadow: none !important;
}
/*Buton Style*/
/*** Sosyal Medya  *******/
.text-center.social-icons ul {
    display: inline-block;
}

.social-icons li {
    float: left;
    list-style: none;
}

    .social-icons li a {
        float: left;
        font-size: 16px;
        text-align: center;
        margin: 0 4px 4px 0;
        border-radius: 4px;
        border: 0;
        background: 0 0;
        color: #333;
        overflow: hidden;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }

.dark .social-icons li a {
    color: #fff;
}

.social-icons.social-icons-colored a,
.social-icons.social-icons-colored-hover a:hover {
    color: #fff !important;
    border: 0;
}

.social-icons.social-icons-colored .social-rss a,
.social-icons.social-icons-colored-hover .social-rss a:hover,
.social-icons.social-icons-colored .social-snapchat a,
.social-icons.social-icons-colored-hover .social-snapchat a:hover {
    background-color: #faa33d;
}

.social-icons.social-icons-colored .social-facebook a,
.social-icons.social-icons-colored-hover .social-facebook a:hover {
    background-color: #5d82d1;
}

.social-icons.social-icons-colored .social-twitter a,
.social-icons.social-icons-colored-hover .social-twitter a:hover {
    background-color: #40bff5;
}

.social-icons.social-icons-colored .social-vimeo a,
.social-icons.social-icons-colored-hover .social-vimeo a:hover {
    background-color: #35c6ea;
}

.social-icons.social-icons-colored .social-myspace a,
.social-icons.social-icons-colored-hover .social-myspace a:hover {
    background-color: #008dde;
}

.social-icons.social-icons-colored .social-youtube a,
.social-icons.social-icons-colored-hover .social-youtube a:hover {
    background-color: #ef4e41;
}

.social-icons.social-icons-colored .social-instagram a,
.social-icons.social-icons-colored-hover .social-instagram a:hover {
    background-color: #e53d00;
}

.social-icons.social-icons-colored .social-gplus a,
.social-icons.social-icons-colored-hover .social-gplus a:hover {
    background-color: #d68400;
}

.social-icons.social-icons-colored .social-stumbleupon a,
.social-icons.social-icons-colored-hover .social-stumbleupon a:hover {
    background-color: #ff5c30;
}

.social-icons.social-icons-colored .social-lastfm a,
.social-icons.social-icons-colored-hover .social-lastfm a:hover {
    background-color: #f34320;
}

.social-icons.social-icons-colored .social-pinterest a,
.social-icons.social-icons-colored-hover .social-pinterest a:hover {
    background-color: #e13138;
}

.social-icons.social-icons-colored .social-google a,
.social-icons.social-icons-colored-hover .social-google a:hover {
    background-color: #eb5e4c;
}

.social-icons.social-icons-colored .social-evernote a,
.social-icons.social-icons-colored-hover .social-evernote a:hover {
    background-color: #9acf4f;
}

.social-icons.social-icons-colored .social-dribbble a,
.social-icons.social-icons-colored-hover .social-dribbble a:hover {
    background-color: #f7659c;
}

.social-icons.social-icons-colored .social-skype a,
.social-icons.social-icons-colored-hover .social-skype a:hover {
    background-color: #13c1f3;
}

.social-icons.social-icons-colored .social-forrst a,
.social-icons.social-icons-colored-hover .social-forrst a:hover {
    background-color: #45ad76;
}

.social-icons.social-icons-colored .social-linkedin a,
.social-icons.social-icons-colored-hover .social-linkedin a:hover {
    background-color: #238cc8;
}

.social-icons.social-icons-colored .social-wordpress a,
.social-icons.social-icons-colored-hover .social-wordpress a:hover {
    background-color: #2592c3;
}

.social-icons.social-icons-colored .social-grooveshark a,
.social-icons.social-icons-colored-hover .social-grooveshark a:hover {
    background-color: #ffb21d;
}

.social-icons.social-icons-colored .social-delicious a,
.social-icons.social-icons-colored-hover .social-delicious a:hover {
    background-color: #377bda;
}

.social-icons.social-icons-colored .social-behance a,
.social-icons.social-icons-colored-hover .social-behance a:hover {
    background-color: #1879fd;
}

.social-icons.social-icons-colored .social-dropbox a,
.social-icons.social-icons-colored-hover .social-dropbox a:hover {
    background-color: #17a3eb;
}

.social-icons.social-icons-colored .social-soundcloud a,
.social-icons.social-icons-colored-hover .social-soundcloud a:hover {
    background-color: #ff7e30;
}

.social-icons.social-icons-colored .social-deviantart a,
.social-icons.social-icons-colored-hover .social-deviantart a:hover {
    background-color: #6a8a7b;
}

.social-icons.social-icons-colored .social-yahoo a,
.social-icons.social-icons-colored-hover .social-yahoo a:hover {
    background-color: #ab47ac;
}

.social-icons.social-icons-colored .social-flickr a,
.social-icons.social-icons-colored-hover .social-flickr a:hover {
    background-color: #ff48a3;
}

.social-icons.social-icons-colored .social-digg a,
.social-icons.social-icons-colored-hover .social-digg a:hover {
    background-color: #75788d;
}

.social-icons.social-icons-colored .social-blogger a,
.social-icons.social-icons-colored-hover .social-blogger a:hover {
    background-color: #ff9233;
}

.social-icons.social-icons-colored .social-tumblr a,
.social-icons.social-icons-colored-hover .social-tumblr a:hover {
    background-color: #426d9b;
}

.social-icons.social-icons-colored .social-quora a,
.social-icons.social-icons-colored-hover .social-quora a:hover {
    background-color: #ea3d23;
}

.social-icons.social-icons-colored .social-github a,
.social-icons.social-icons-colored-hover .social-github a:hover {
    background-color: #3f91cb;
}

.social-icons.social-icons-colored .social-amazon a,
.social-icons.social-icons-colored-hover .social-amazon a:hover {
    background-color: #ff8e2e;
}

.social-icons.social-icons-colored .social-xing a,
.social-icons.social-icons-colored-hover .social-xing a:hover {
    background-color: #1a8e8c;
}

.social-icons.social-icons-colored .social-wikipedia a,
.social-icons.social-icons-colored-hover .social-wikipedia a:hover {
    background-color: #b3b5b8;
}

.social-icons.social-icons-border li a {
    border: 1px solid #d7d7d7;
    background: 0 0;
    color: #333;
}

.dark .social-icons.social-icons-border li a {
    border: 1px solid #333 !important;
}

.dark .social-icons li a .social-icons.social-icons-dark li a {
    background: #888;
    color: #fff;
}

.social-icons.social-icons-light li a {
    background: #fff;
    color: #333;
    border: 1px solid #ececec;
}

.social-icons.social-icons-rounded li a {
    border-radius: 50%;
}

.social-icons.social-icons-square li a {
    border-radius: 0;
}

.social-icons.social-icons-xs li a {
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 12px;
}

.social-icons.social-icons-sm li a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 13px;
}

.social-icons.social-icons-md li a {
    height: 38px;
    width: 38px;
    line-height: 38px;
    font-size: 16px;
}

.social-icons.social-icons-lg li a {
    height: 42px;
    width: 42px;
    line-height: 42px;
    font-size: 18px;
}

.social-icons.social-icons-xl li a {
    height: 48px;
    width: 48px;
    line-height: 48px;
    font-size: 18px;
}

.dark .social-icons:not(.social-icons-colored):not(.social-icons-colored-hover) li a:hover {
    background-color: #1f1f1f;
}

.social-icons li:hover i {
    -webkit-animation: toTopFromBottom .2s forwards;
    animation: toTopFromBottom .2s forwards;
}
.my-favorite-icon {
    margin-bottom: -1.5px;
    max-width: 23px !important;
}
/*** Sosyal Medya  *******/
/*Form Element Style*/
input:-moz-placeholder,
textarea:-moz-placeholder {
    opacity: 1;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
}

input {
    border: 1px solid #ececec;
    border-radius: 10px;
    height: 64px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 20px;
    font-size: 16px;
    width: 100%;
}

    input:focus {
        background: transparent;
        border: 1px solid #BCE3C9;
    }

    input.square {
        border-radius: 0;
    }

    input.coupon {
        height: 47px;
        font-size: 14px;
    }

select {
    width: 100%;
    background: transparent;
    border: 0px solid #ececec;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    color: #7E7E7E;
}

option {
    background: #fff;
    border: 0px solid #626262;
    padding-left: 10px;
    font-size: 16px;
}

textarea {
    border: 1px solid #ececec;
    border-radius: 10px;
    height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    width: 100%;
    min-height: 100px;
}

    textarea:focus {
        background: transparent;
        border: 1px solid #BCE3C9;
    }

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border-bottom: 3px solid #414648;
    border-radius: 0;
    border-right: 0;
    height: 50px;
    padding-left: 0;
    border-top: 0;
    border-left: 0;
    font-weight: bold;
}

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 50px;
        font-size: 14px;
        padding: 0;
       font-family: 'Nunito Sans', sans-serif;
        color: #253D4E;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 26px;
        position: absolute;
        top: 12px;
        right: 15px;
        width: 20px;
    }

.custom_select {
    position: relative;
    width: 100%;
}

    .custom_select .select2-container {
        max-width: 155px;
        min-width: 100%;
    }

    .custom_select .nice-select {
        width: 100%;
        margin-bottom: 1rem;
    }

    .custom_select .select2-container--default .select2-selection--single {
        border: 1px solid #ececec;
        border-radius: 4px;
        height: 50px;
        line-height: 50px;
        padding-left: 20px;
        font-size: 14px;
    }

        .custom_select .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 50px;
            font-size: 14px;
            padding-left: 0;
        }

        .custom_select .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 9px;
            right: 14px;
        }

.select2-dropdown {
    border: 1px solid #ececec;
    border-radius: 0 0 4px 4px;
    padding: 15px;
    min-width: 220px;
}

    .select2-dropdown .select2-search--dropdown {
        padding: 0;
    }

        .select2-dropdown .select2-search--dropdown .select2-search__field {
            border: 1px solid #BCE3C9;
            margin-bottom: 15px;
            border-radius: 5px;
            height: 40px;
            padding-left: 20px;
        }

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.select2-results__options::-webkit-scrollbar {
    width: 16px;
    background-clip: padding-box;
}

.select2-results__options::-webkit-scrollbar-track {
    background-color: #F4F4F4;
    height: 8px;
    background-clip: padding-box;
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid rgba(0, 0, 0, 0);
}

.select2-results__options::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: #d1d1d1;
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid rgba(0, 0, 0, 0);
}

.select2-results__options::-webkit-scrollbar-button {
    display: none;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #ececec;
    color: unset;
}

.select2-container {
    max-width: 135px;
}
/*Form Element Style*/
/*Form Style*/
.contact-from-area .contact-form-style button {
    font-size: 17px;
    font-weight: 500;
    padding: 20px 40px;
    color: #ffffff;
    border: none;
    background-color: #253D4E;
    border-radius: 10px;
   font-family: 'Nunito Sans', sans-serif;
}

    .contact-from-area .contact-form-style button:hover {
        background-color: #2d2d2d !important;
    }

.form-group {
    margin-bottom: 1rem;
    position: relative;
}

    .form-group input {
        background: #fff;
        border: 1px solid #ececec;
        height: 64px;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding-left: 20px;
        font-size: 16px;
        width: 100%;
    }

        .form-group input:focus {
            background: transparent;
            border-color: #BCE3C9;
        }

label {
    margin-bottom: 5px;
}

.security-code {
    display: inline-block;
    border-radius: 10px;
    height: 64px;
    line-height: 64px;
    padding: 0 40px;
    font-size: 24px;
    font-weight: bold;
    background: #BCE3C9;
}

    .security-code b {
        font-size: 24px;
        font-weight: bold;
    }

.custome-radio .form-check-label,
.custome-checkbox .form-check-label {
    position: relative;
    cursor: pointer;
}

.custome-checkbox .form-check-label {
    position: relative;
    cursor: pointer;
    color: #000000;
    padding: 0;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

    .custome-checkbox .form-check-label::before {
        content: "";
        border: 2px solid #2d2d2d;
        height: 17px;
        width: 17px;
        margin: 0px 8px 0 0;
        display: inline-block;
        vertical-align: middle;
        border-radius: 2px;
    }

    .custome-checkbox .form-check-label span {
        vertical-align: middle;
    }

.custome-checkbox input[type="checkbox"]:checked + .form-check-label::after {
    opacity: 1;
}

.custome-checkbox input[type="checkbox"] + .form-check-label::after {
    content: "";
    width: 11px;
    position: absolute;
    top: 50%;
    left: 3px;
    opacity: 0;
    height: 6px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: translateY(-65%) rotate(-45deg);
    transform: translateY(-65%) rotate(-45deg);
}

.custome-radio .form-check-input,
.custome-checkbox .form-check-input {
    display: none;
}

.login_footer {
    margin-bottom: 20px;
    margin-top: 5px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

footer .mobile-social-icon {
    justify-content: flex-start !important;
    padding: 35px 0px;
}

.hotline p {
    font-size: 20px !important;
}

.custome-checkbox input[type="checkbox"]:checked + .form-check-label::before {
    background-color: #2d2d2d;
    border-color: #2d2d2d;
}

.custome-checkbox input[type="checkbox"]:checked + .form-check-label::after {
    opacity: 1;
}

.divider-text-center {
    text-align: center;
    position: relative;
}


    .divider-text-center::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        right: 0;
        border-top: 1px solid #ddd;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .divider-text-center span {
        background-color: #fff;
        padding: 0 15px;
        position: relative;
        text-transform: uppercase;
    }
/*Form Style*/
/*Customer Comments Style*/
.comments-area {
    background: transparent;
    border-top: 1px solid #ececec;
    margin-top: 50px;
}

    .comments-area h5 {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .comments-area .comment-list {
        padding-bottom: 48px;
    }

        .comments-area .comment-list:last-child {
            padding-bottom: 0px;
        }

        .comments-area .comment-list.left-padding {
            padding-left: 25px;
        }

        .comments-area .comment-list .single-comment {
            margin: 0 0 15px 0;
            border: 1px solid #f2f2f2;
            border-radius: 15px;
            padding: 20px;
            -webkit-transition: 0.2s;
            transition: 0.2s;
        }

            .comments-area .comment-list .single-comment:not(:last-child) {
                border-bottom: 1px solid #ececec;
            }

            .comments-area .comment-list .single-comment img {
                min-width: 80px;
                max-width: 80px;
            }

            .comments-area .comment-list .single-comment .reply {
                opacity: 0;
                -webkit-transition: 0.2s;
                transition: 0.2s;
            }

            .comments-area .comment-list .single-comment:hover {
                -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
                -webkit-transition: 0.2s;
                transition: 0.2s;
            }

                .comments-area .comment-list .single-comment:hover .reply {
                    opacity: 1;
                    -webkit-transition: 0.2s;
                    transition: 0.2s;
                }

    .comments-area p {
        font-size: 16px !important;
    }

    .comments-area .thumb {
        margin-right: 20px;
    }

        .comments-area .thumb img {
            width: 70px;
            border-radius: 50%;
        }

    .comments-area .date {
        font-size: 14px;
        color: #999999;
        margin-bottom: 0;
        margin-left: 20px;
    }

    .comments-area .comment {
        margin-bottom: 10px;
        color: #777777;
        font-size: 15px;
    }

    .comments-area .btn-reply {
        background-color: transparent;
        color: #888888;
        padding: 5px 18px;
        font-size: 14px;
        display: block;
        font-weight: 400;
    }

    .comments-area.style-2 {
        border: 0;
        margin-top: 0;
        padding: 25px 0;
    }

    .comments-area h4 {
        margin-bottom: 35px;
        color: #2a2a2a;
        font-size: 18px;
    }

.comment-form .email {
    padding-right: 0px;
}
/*Customer Comments Style*/
/*Customer Comments Form*/
.form-control {
    border: 1px solid #f0e9ff;
    border-radius: 10px;
    height: 48px;
    padding-left: 18px;
    font-size: 16px;
    background: transparent;
}

.comment-form {
    margin-bottom: 20px;
}

    .comment-form .form-group {
        margin-bottom: 20px;
    }

    .comment-form textarea {
        min-height: 100px;
        padding-top: 15px;
    }

        .comment-form textarea:focus {
            background: transparent;
            outline: none !important;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-color: #BCE3C9;
        }

.form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control::-webkit-input-placeholder {
    font-weight: 300;
    color: #999999;
    color: #777777;
}

.form-control:-ms-input-placeholder {
    font-weight: 300;
    color: #999999;
    color: #777777;
}

.form-control::-ms-input-placeholder {
    font-weight: 300;
    color: #999999;
    color: #777777;
}

.form-control::placeholder {
    font-weight: 300;
    color: #999999;
    color: #777777;
}

.nice-select .list {
    width: 100%;
}

.button-contactForm {
    background: #2d2d2d;
    color: #fff;
    border-color: #2d2d2d;
    padding: 12px 25px;
}

.search-form form {
    position: relative;
}

    .search-form form input {
        -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .search-form form button {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0;
        border: none;
        font-size: 20px;
        height: 100%;
        padding: 0 24px;
        background-color: transparent;
        color: #242424;
    }

        .search-form form button:hover {
            color: #fff;
        }
/*Customer Comments Form*/
/*Slider Animation*/
.single-animation-wrap.slick-active .slider-animated-1 h1 {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.single-animation-wrap.slick-active .slider-animated-1 h2 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.single-animation-wrap.slick-active .slider-animated-1 h3 {
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.single-animation-wrap.slick-active .slider-animated-1 h4 {
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.single-animation-wrap.slick-active .slider-animated-1 span {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.single-animation-wrap.slick-active .slider-animated-1 p {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.single-animation-wrap.slick-active .slider-animated-1 a.btn {
    -webkit-animation-delay: 2.0s;
    animation-delay: 2.0s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.single-animation-wrap.slick-active .slider-animated-1.slider-product-price {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
}

.single-animation-wrap.slick-active .slider-animated-1 .single-slider-img img {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.single-animation-wrap.slick-active .slider-animated-1 .slider-product-offer-wrap,
.single-animation-wrap.slick-active .slider-animated-1 .slider-product-offer-wrap-2 {
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.hero-slider {
    position: relative;
}



    .hero-slider .single-hero-slider.rectangle {
        border-radius: 0;
    }


    .hero-slider img {
        border-radius: 30px;
    }


    .hero-slider.style-5 img {
        border-radius: 10px;
    }

    .hero-slider.style-5 .single-hero-slider {
        border-radius: 10px;
    }

.dot-style-1 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

    .dot-style-1 ul li {
        margin: 0 3px;
    }

        .dot-style-1 ul li button {
            width: 15px;
            height: 15px;
            border-radius: 30px;
            border: 1px solid;
            padding: 0;
            font-size: 0px;
            border-color: #253D4E;
            background: none;
            -webkit-transition: all 0.3s linear;
            transition: all 0.3s linear;
        }

            .dot-style-1 ul li button:hover {
                background: #BCE3C9;
            }

        .dot-style-1 ul li.slick-active button {
            background: #2d2d2d;
            border-color: #2d2d2d;
        }

.dot-style-1.dot-style-1-position-1 ul {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 15px;
}

.dot-style-1.dot-style-1-position-2 ul {
    position: absolute;
    left: 6%;
    bottom: 15px;
}

.dot-style-1.dot-style-1-center ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.dot-style-1.dot-style-1-mt1 ul {
    margin-top: 30px;
}

.slider-arrow {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    width: 100%;
}

    .slider-arrow .slider-btn {
        cursor: pointer;
        background: #F2F3F4;
        width: 45px;
        height: 45px;
        position: absolute;
        display: block;
        z-index: 100;
        border-radius: 50%;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
        text-align: center;
        line-height: 45px;
        font-size: 16px;
        color: #7E7E7E;
    }

        .slider-arrow .slider-btn.slider-prev {
            left: 20px;
        }

            .slider-arrow .slider-btn.slider-prev i {
                margin-right: 2px;
            }

        .slider-arrow .slider-btn.slider-next {
            right: 20px;
        }

            .slider-arrow .slider-btn.slider-next i {
                margin-left: 2px;
            }

        .slider-arrow .slider-btn:hover {
            background-color: #2d2d2d;
            color: #fff;
            border-color: #2d2d2d;
        }

    .slider-arrow.slider-arrow-2 .slider-btn {
        width: 40px;
        height: 40px;
        line-height: 44px;
        font-size: 24px;
    }

    .slider-arrow.slider-arrow-2.flex-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: end;
        justify-content: space-between;
        -webkit-transform: unset;
        transform: unset;
        left: 0;
        right: 0;
        margin: auto;
    }

        .slider-arrow.slider-arrow-2.flex-right .slider-btn {
            position: relative;
            left: unset;
            right: unset;
        }

            .slider-arrow.slider-arrow-2.flex-right .slider-btn.slider-prev {
                margin-right: 10px;
            }

    .slider-arrow.slider-arrow-3 .slider-btn {
        width: 30px;
        height: 30px;
        line-height: 28px;
        font-size: 12px;
        margin-top: -15px;
    }

    .slider-arrow.style-3 .slider-btn {
        width: 40px;
        height: 40px;
        border: 1px solid #dcdeed;
        line-height: 40px;
        font-size: 12px;
        margin-top: -20px;
    }

#categorySlider-columns-arrows .slider-prev, #categorySlider-columns-arrows .slider-next {
    position: absolute;
    top: 36%;
    left: 0;
}

#categorySlider-columns-arrows .slider-next {
    left: initial;
    right: 0px;
}

.home-slide-cover {
    position: relative;
}

    .home-slide-cover .slider-arrow {
        left: 0;
    }

    .home-slide-cover .hero-slider-content-2 {
        padding-left: 50px;
    }
/*Slider | Carousel*/
.categorySlider-columns-cover .categorySlider-columns {
    overflow: hidden;
    margin: 0 -12px;
}

    .categorySlider-columns-cover .categorySlider-columns .productBox-2 {
        margin-right: 6px;
        margin-left: 6px;
    }

.productSlider-columns-cover .productSlider-columns {
    overflow: hidden;
    margin: 0 -12px;
}

    .productSlider-columns-cover .productSlider-columns .product-cart-wrap {
        margin-right: 12px;
        margin-left: 12px;
    }



.productSlider-columns-cover .product-cart-wrap {
    margin-bottom: 20px;
}

    .productSlider-columns-cover .product-cart-wrap:hover {
        -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    }

.bg-grey-10 {
    background-color: #d0f3ec;
}

.bg-orange {
    background: #ec6110 !important;
}

.home-slider .slider-arrow {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.home-slider:hover .slider-arrow {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.home-slider.style-2 {
    background: url(../imgs/banner/banner-12.png) no-repeat center bottom;
    background-size: cover;
    width: 100%;
    padding: 50px 0;
}
/*Slider | Carousel partition*/


/*Padding Style*/
.section-padding-30 {
    padding: 30px 0;
}

.section-padding-50 {
    padding: 50px 0;
}

.section-padding-60 {
    padding: 60px 0;
}

.section-padding {
    padding: 25px 0;
}

.ptb-0 {
    padding: 0;
}

.ptb-10 {
    padding: 10px 0;
}

.ptb-20 {
    padding: 20px 0;
}

.ptb-30 {
    padding: 30px 0;
}

.ptb-35 {
    padding: 35px 0;
}

.ptb-32 {
    padding: 32px 0;
}

.ptb-40 {
    padding: 40px 0;
}

.ptb-50 {
    padding: 50px 0;
}

.ptb-60 {
    padding: 60px 0;
}

.ptb-70 {
    padding: 70px 0;
}

.ptb-80 {
    padding: 80px 0;
}

.ptb-90 {
    padding: 90px 0;
}

.ptb-100 {
    padding: 100px 0;
}

.ptb-110 {
    padding: 110px 0;
}

.ptb-120 {
    padding: 120px 0;
}

.ptb-130 {
    padding: 130px 0;
}

.ptb-140 {
    padding: 140px 0;
}

.ptb-150 {
    padding: 150px 0;
}

.ptb-160 {
    padding: 160px 0;
}

.ptb-170 {
    padding: 170px 0;
}

.ptb-177 {
    padding: 177px 0;
}

.ptb-180 {
    padding: 180px 0;
}

.ptb-190 {
    padding: 190px 0;
}

.ptb-200 {
    padding: 200px 0;
}

.ptb-210 {
    padding: 210px 0;
}

.ptb-220 {
    padding: 220px 0;
}

.ptb-290 {
    padding: 290px 0;
}

.ptb-310 {
    padding: 310px 0;
}

.p-10 {
    padding: 10px !important;
}

.p-15 {
    padding: 15px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-25 {
    padding: 25px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-40 {
    padding: 40px !important;
}

.p-65 {
    padding: 65px !important;
}

.pt-5 {
    padding-top: 5px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-25 {
    padding-top: 25px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-35 {
    padding-top: 35px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-45 {
    padding-top: 45px !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.pt-55 {
    padding-top: 55px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.pt-65 {
    padding-top: 65px !important;
}

.pt-70 {
    padding-top: 70px !important;
}

.pt-75 {
    padding-top: 75px !important;
}

.pt-80 {
    padding-top: 80px !important;
}

.pt-85 {
    padding-top: 85px !important;
}

.pt-90 {
    padding-top: 90px !important;
}

.pt-95 {
    padding-top: 95px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pt-105 {
    padding-top: 105px !important;
}

.pt-110 {
    padding-top: 110px !important;
}

.pt-115 {
    padding-top: 115px !important;
}

.pt-120 {
    padding-top: 120px !important;
}

.pt-125 {
    padding-top: 125px !important;
}

.pt-130 {
    padding-top: 130px !important;
}

.pt-135 {
    padding-top: 135px !important;
}

.pt-140 {
    padding-top: 140px !important;
}

.pt-145 {
    padding-top: 145px !important;
}

.pt-150 {
    padding-top: 150px !important;
}

.pt-155 {
    padding-top: 155px !important;
}

.pt-160 {
    padding-top: 160px !important;
}

.pt-165 {
    padding-top: 165px !important;
}

.pt-170 {
    padding-top: 170px !important;
}

.pt-175 {
    padding-top: 175px !important;
}

.pt-180 {
    padding-top: 180px !important;
}

.pt-185 {
    padding-top: 185px !important;
}

.pt-190 {
    padding-top: 190px !important;
}

.pt-195 {
    padding-top: 195px !important;
}

.pt-200 {
    padding-top: 200px !important;
}

.pt-260 {
    padding-top: 260px !important;
}

.pb-5 {
    padding-bottom: 5px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-15 {
    padding-bottom: 15px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-25 {
    padding-bottom: 25px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pb-35 {
    padding-bottom: 35px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-45 {
    padding-bottom: 45px !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pb-55 {
    padding-bottom: 55px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}

.pb-65 {
    padding-bottom: 65px !important;
}

.pb-70 {
    padding-bottom: 70px !important;
}

.pb-75 {
    padding-bottom: 75px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.pb-85 {
    padding-bottom: 85px !important;
}

.pb-90 {
    padding-bottom: 90px !important;
}

.pb-95 {
    padding-bottom: 95px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}

.pb-105 {
    padding-bottom: 105px !important;
}

.pb-110 {
    padding-bottom: 110px !important;
}

.pb-115 {
    padding-bottom: 115px !important;
}

.pb-120 {
    padding-bottom: 120px !important;
}

.pb-125 {
    padding-bottom: 125px !important;
}

.pb-130 {
    padding-bottom: 130px !important;
}

.pb-135 {
    padding-bottom: 135px !important;
}

.pb-140 {
    padding-bottom: 140px !important;
}

.pb-145 {
    padding-bottom: 145px !important;
}

.pb-150 {
    padding-bottom: 150px !important;
}

.pb-155 {
    padding-bottom: 155px !important;
}

.pb-160 {
    padding-bottom: 160px !important;
}

.pb-165 {
    padding-bottom: 165px !important;
}

.pb-170 {
    padding-bottom: 170px !important;
}

.pb-175 {
    padding-bottom: 175px !important;
}

.pb-180 {
    padding-bottom: 180px !important;
}

.pb-185 {
    padding-bottom: 185px !important;
}

.pb-190 {
    padding-bottom: 190px !important;
}

.pb-195 {
    padding-bottom: 195px !important;
}

.pb-200 {
    padding-bottom: 200px !important;
}

.pl-5 {
    padding-left: 5px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-15 {
    padding-left: 15px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-25 {
    padding-left: 25px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pl-35 {
    padding-left: 35px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.pl-45 {
    padding-left: 45px !important;
}

.pl-50 {
    padding-left: 50px !important;
}

.pl-55 {
    padding-left: 55px !important;
}

.pl-60 {
    padding-left: 60px !important;
}

.pl-65 {
    padding-left: 65px !important;
}

.pl-70 {
    padding-left: 70px !important;
}

.pl-75 {
    padding-left: 75px !important;
}

.pl-80 {
    padding-left: 80px !important;
}

.pl-85 {
    padding-left: 85px !important;
}

.pl-90 {
    padding-left: 90px !important;
}

.pl-95 {
    padding-left: 95px !important;
}

.pl-100 {
    padding-left: 100px !important;
}

.pl-105 {
    padding-left: 105px !important;
}

.pl-110 {
    padding-left: 110px !important;
}

.pl-115 {
    padding-left: 115px !important;
}

.pl-120 {
    padding-left: 120px !important;
}

.pl-125 {
    padding-left: 125px !important;
}

.pl-130 {
    padding-left: 130px !important;
}

.pl-135 {
    padding-left: 135px !important;
}

.pl-140 {
    padding-left: 140px !important;
}

.pl-145 {
    padding-left: 145px !important;
}

.pl-150 {
    padding-left: 150px !important;
}

.pl-155 {
    padding-left: 155px !important;
}

.pl-160 {
    padding-left: 160px !important;
}

.pl-165 {
    padding-left: 165px !important;
}

.pl-170 {
    padding-left: 170px !important;
}

.pl-175 {
    padding-left: 175px !important;
}

.pl-180 {
    padding-left: 180px !important;
}

.pl-185 {
    padding-left: 185px !important;
}

.pl-190 {
    padding-left: 190px !important;
}

.pl-195 {
    padding-left: 195px !important;
}

.pl-200 {
    padding-left: 200px !important;
}

.pr-5 {
    padding-right: 5px !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pr-25 {
    padding-right: 25px !important;
}

.pr-30 {
    padding-right: 30px !important;
}

.pr-35 {
    padding-right: 35px !important;
}

.pr-40 {
    padding-right: 40px !important;
}

.pr-45 {
    padding-right: 45px !important;
}

.pr-50 {
    padding-right: 50px !important;
}

.pr-55 {
    padding-right: 55px !important;
}

.pr-60 {
    padding-right: 60px !important;
}

.pr-65 {
    padding-right: 65px !important;
}

.pr-70 {
    padding-right: 70px !important;
}

.pr-75 {
    padding-right: 75px !important;
}

.pr-80 {
    padding-right: 80px !important;
}

.pr-85 {
    padding-right: 85px !important;
}

.pr-90 {
    padding-right: 90px !important;
}

.pr-95 {
    padding-right: 95px !important;
}

.pr-100 {
    padding-right: 100px !important;
}

.pr-105 {
    padding-right: 105px !important;
}

.pr-110 {
    padding-right: 110px !important;
}

.pr-115 {
    padding-right: 115px !important;
}

.pr-120 {
    padding-right: 120px !important;
}

.pr-125 {
    padding-right: 125px !important;
}

.pr-130 {
    padding-right: 130px !important;
}

.pr-135 {
    padding-right: 135px !important;
}

.pr-140 {
    padding-right: 140px !important;
}

.pr-145 {
    padding-right: 145px !important;
}

.pr-150 {
    padding-right: 150px !important;
}

.pr-155 {
    padding-right: 155px !important;
}

.pr-160 {
    padding-right: 160px !important;
}

.pr-165 {
    padding-right: 165px !important;
}

.pr-170 {
    padding-right: 170px !important;
}

.pr-175 {
    padding-right: 175px !important;
}

.pr-180 {
    padding-right: 180px !important;
}

.pr-185 {
    padding-right: 185px !important;
}

.pr-190 {
    padding-right: 190px !important;
}

.pr-195 {
    padding-right: 195px !important;
}

.pr-200 {
    padding-right: 200px !important;
}

.plr-5-percent {
    padding: 0 5%;
}

/*Margin Default Classes*/
.mtb-0 {
    margin: 0;
}

.mtb-10 {
    margin: 10px 0;
}

.mtb-15 {
    margin: 15px 0;
}

.mtb-20 {
    margin: 20px 0;
}

.mtb-30 {
    margin: 30px 0;
}

.mtb-40 {
    margin: 40px 0;
}

.mtb-50 {
    margin: 50px 0;
}

.mtb-60 {
    margin: 60px 0;
}

.mtb-70 {
    margin: 70px 0;
}

.mtb-80 {
    margin: 80px 0;
}

.mtb-90 {
    margin: 90px 0;
}

.mtb-100 {
    margin: 100px 0;
}

.mtb-110 {
    margin: 110px 0;
}

.mtb-120 {
    margin: 120px 0;
}

.mtb-130 {
    margin: 130px 0;
}

.mtb-140 {
    margin: 140px 0;
}

.mtb-150 {
    margin: 150px 0;
}

.mtb-290 {
    margin: 290px 0;
}

.mb-24 {
    margin-bottom: 24px;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-35 {
    margin-top: 35px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-45 {
    margin-top: 45px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-55 {
    margin-top: 55px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-65 {
    margin-top: 65px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-75 {
    margin-top: 75px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-85 {
    margin-top: 85px !important;
}

.mt-90 {
    margin-top: 90px !important;
}

.mt-95 {
    margin-top: 95px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mt-105 {
    margin-top: 105px !important;
}

.mt-110 {
    margin-top: 110px !important;
}

.mt-115 {
    margin-top: 115px !important;
}

.mt-120 {
    margin-top: 120px !important;
}

.mt-125 {
    margin-top: 125px !important;
}

.mt-130 {
    margin-top: 130px !important;
}

.mt-135 {
    margin-top: 135px !important;
}

.mt-140 {
    margin-top: 140px !important;
}

.mt-145 {
    margin-top: 145px !important;
}

.mt-150 {
    margin-top: 150px !important;
}

.mt-155 {
    margin-top: 155px !important;
}

.mt-160 {
    margin-top: 160px !important;
}

.mt-165 {
    margin-top: 165px !important;
}

.mt-170 {
    margin-top: 170px !important;
}

.mt-175 {
    margin-top: 175px !important;
}

.mt-180 {
    margin-top: 180px !important;
}

.mt-185 {
    margin-top: 185px !important;
}

.mt-190 {
    margin-top: 190px !important;
}

.mt-195 {
    margin-top: 195px !important;
}

.mt-200 {
    margin-top: 200px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-35 {
    margin-bottom: 35px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-45 {
    margin-bottom: 45px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-55 {
    margin-bottom: 55px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-65 {
    margin-bottom: 65px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-75 {
    margin-bottom: 75px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-85 {
    margin-bottom: 85px !important;
}

.mb-90 {
    margin-bottom: 90px !important;
}

.mb-95 {
    margin-bottom: 95px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.mb-105 {
    margin-bottom: 105px !important;
}

.mb-110 {
    margin-bottom: 110px !important;
}

.mb-115 {
    margin-bottom: 115px !important;
}

.mb-120 {
    margin-bottom: 120px !important;
}

.mb-125 {
    margin-bottom: 125px !important;
}

.mb-130 {
    margin-bottom: 130px !important;
}

.mb-135 {
    margin-bottom: 135px !important;
}

.mb-140 {
    margin-bottom: 140px !important;
}

.mb-145 {
    margin-bottom: 145px !important;
}

.mb-150 {
    margin-bottom: 150px !important;
}

.mb-155 {
    margin-bottom: 155px !important;
}

.mb-160 {
    margin-bottom: 160px !important;
}

.mb-165 {
    margin-bottom: 165px !important;
}

.mb-170 {
    margin-bottom: 170px !important;
}

.mb-175 {
    margin-bottom: 175px !important;
}

.mb-180 {
    margin-bottom: 180px !important;
}

.mb-185 {
    margin-bottom: 185px !important;
}

.mb-190 {
    margin-bottom: 190px !important;
}

.mb-195 {
    margin-bottom: 195px !important;
}

.mb-200 {
    margin-bottom: 200px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.ml-25 {
    margin-left: 25px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-35 {
    margin-left: 35px !important;
}

.ml-40 {
    margin-left: 40px !important;
}

.ml-45 {
    margin-left: 45px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.ml-55 {
    margin-left: 55px !important;
}

.ml-60 {
    margin-left: 60px !important;
}

.ml-65 {
    margin-left: 65px !important;
}

.ml-70 {
    margin-left: 70px !important;
}

.ml-75 {
    margin-left: 75px !important;
}

.ml-80 {
    margin-left: 80px !important;
}

.ml-85 {
    margin-left: 85px !important;
}

.ml-90 {
    margin-left: 90px !important;
}

.ml-95 {
    margin-left: 95px !important;
}

.ml-100 {
    margin-left: 100px !important;
}

.ml-105 {
    margin-left: 105px !important;
}

.ml-110 {
    margin-left: 110px !important;
}

.ml-115 {
    margin-left: 115px !important;
}

.ml-120 {
    margin-left: 120px !important;
}

.ml-125 {
    margin-left: 125px !important;
}

.ml-130 {
    margin-left: 130px !important;
}

.ml-135 {
    margin-left: 135px !important;
}

.ml-140 {
    margin-left: 140px !important;
}

.ml-145 {
    margin-left: 145px !important;
}

.ml-150 {
    margin-left: 150px !important;
}

.ml-155 {
    margin-left: 155px !important;
}

.ml-160 {
    margin-left: 160px !important;
}

.ml-165 {
    margin-left: 165px !important;
}

.ml-170 {
    margin-left: 170px !important;
}

.ml-175 {
    margin-left: 175px !important;
}

.ml-180 {
    margin-left: 180px !important;
}

.ml-185 {
    margin-left: 185px !important;
}

.ml-190 {
    margin-left: 190px !important;
}

.ml-195 {
    margin-left: 195px !important;
}

.ml-200 {
    margin-left: 200px !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mr-25 {
    margin-right: 25px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-35 {
    margin-right: 35px !important;
}

.mr-40 {
    margin-right: 40px !important;
}

.mr-45 {
    margin-right: 45px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

.mr-55 {
    margin-right: 55px !important;
}

.mr-60 {
    margin-right: 60px !important;
}

.mr-65 {
    margin-right: 65px !important;
}

.mr-70 {
    margin-right: 70px !important;
}

.mr-75 {
    margin-right: 75px !important;
}

.mr-80 {
    margin-right: 80px !important;
}

.mr-85 {
    margin-right: 85px !important;
}

.mr-90 {
    margin-right: 90px !important;
}

.mr-95 {
    margin-right: 95px !important;
}

.mr-100 {
    margin-right: 100px !important;
}

.mr-105 {
    margin-right: 105px !important;
}

.mr-110 {
    margin-right: 110px !important;
}

.mr-115 {
    margin-right: 115px !important;
}

.mr-120 {
    margin-right: 120px !important;
}

.mr-125 {
    margin-right: 125px !important;
}

.mr-130 {
    margin-right: 130px !important;
}

.mr-135 {
    margin-right: 135px !important;
}

.mr-140 {
    margin-right: 140px !important;
}

.mr-145 {
    margin-right: 145px !important;
}

.mr-150 {
    margin-right: 150px !important;
}

.mr-155 {
    margin-right: 155px !important;
}

.mr-160 {
    margin-right: 160px !important;
}

.mr-165 {
    margin-right: 165px !important;
}

.mr-170 {
    margin-right: 170px !important;
}

.mr-175 {
    margin-right: 175px !important;
}

.mr-180 {
    margin-right: 180px !important;
}

.mr-185 {
    margin-right: 185px !important;
}

.mr-190 {
    margin-right: 190px !important;
}

.mr-195 {
    margin-right: 195px !important;
}

.mr-200 {
    margin-right: 200px !important;
}

.m-auto {
    margin: auto;
}
/*Margin Options End*/
.h65 {
    height: 65px;
}

.width-100 {
    width: 100% !important;
}

@media(max-width:869px) {
    .slider-arrow .slider-btn {
        width: 30px;
        height: 30px;
        line-height: 35px;
    }

    .btn-find {
        max-width: 95%;
    }

    .middle-container {
        padding: 15px;
    }

    .categorySlider-columns-cover .categorySlider-columns .productBox-2 {
        margin-right: 5px;
        margin-left: 5px;
    }

    .page-content.pt-50.pb-150, .page-content.pt-100.pb-150 {
        padding-top: 15px !important;
    }

    .category-filter-btn {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 93%;
    }

    .btn-filter-close {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: larger;
        z-index: 2;
    }
}

@media(max-width:420px) {
    .mob-pd-0 {
        padding: 0 !important;
    }
}
