﻿@model ECommerce.Application.Client.ViewModels.Contents.Index

@{
    ViewData["Title"] = Model.Content.ContentSeo.Title;
    ViewData["Description"] = Model.Content.ContentSeo.MetaDescription;
    ViewData["Keywords"] = Model.Content.ContentSeo.MetaKeywords;
}

@if (Model.Success)
{

    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index","Home")" ><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
                    <h1 class="font-sm">&nbsp; @Model.Content.Header</h1>
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                    <div class="single-header style-2">
                                        <h4>@Model.Content.Header</h4>

                                    </div>
                                    <div class="single-content single-contentx mb-50">

                                        @Html.Raw(Model.Content.ContentContent.Html)

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
}
else
{

}