﻿@model ECommerce.Application.Panel.ViewModels.ProductSourceDomains.Update


<form class="kt-form" id="market_place_update_form">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-widget4">
                <input type="hidden" name="id" value="@Model.ProductSourceDomain.Id" />

                <div class="form-group pos-relative">
                    <label class="input-abs-text">Ad:</label>
                    <input type="text" class="form-control" name="name" value="@Model.ProductSourceDomain.Name"  autocomplete="off" required>
                </div>

                @foreach (var accLoop in Model.ProductSourceDomain.ProductSourceConfigurations)
                {
                    var index = Model.ProductSourceDomain.ProductSourceConfigurations.IndexOf(accLoop);
                    <div class="kt-widget4__item">
                        <div class="kt-widget4__info pos-relative">
                            <input type="hidden" name="productSourceConfigurations[@index][id]" value="@accLoop.Id" />
                            <span class="input-abs-text">@accLoop.Key</span>
                            <input type="text" name="productSourceConfigurations[@index][value]" class="form-control " value="@accLoop.Value" placeholder="Değer adı giriniz">

                        </div>
                    </div>
                }

            </div>
        </div>

        <div class="col-lg-12 mt-3">

            <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" @Html.Raw(Model.ProductSourceDomain.Active ? "checked" : "")> Aktif
                <span></span>
            </label>

        </div>

    </div>


</form>
