﻿@model ECommerce.Application.Panel.ViewModels.FrequentlyAskedQuestions.Update
<form class="kt-form kt-form--label-right" id="frequentlyAskedQuestion_update_form">
    <div class="kt-portlet__body">

        <input type="hidden" name="id" value="@Model.FrequentlyAskedQuestion.Id" />

        <div class="form-group row">

            <div class="col-lg-12">

                <div class="kt-portlet kt-portlet--tabs">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x" role="tablist">

                                @foreach (var lLoop in Model.Languages)
                                {
                                    var active = Model.Languages.IndexOf(lLoop) == 0 ? "active" : "";

                                    <li class="nav-item">
                                        <a class="nav-link @active" data-toggle="tab" href="#tab_frequentlyAskedQuestion_@lLoop.Key" role="tab">
                                            @lLoop.Value
                                        </a>
                                    </li>
}

                            </ul>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="tab-content">

                            @for (int i = 0; i < Model.Languages.Count; i++)
                            {
                                var frequentlyAskedQuestionTranslation = Model.FrequentlyAskedQuestion.FrequentlyAskedQuestionTranslations.FirstOrDefault(ct => ct.LanguageId == Model.Languages[i].Key);
                                if (frequentlyAskedQuestionTranslation == null) continue;
                                var active = i == 0 ? "active" : "";

                                <div class="tab-pane @active" id="tab_frequentlyAskedQuestion_@Model.Languages[i].Key" role="tabpanel">

                                    <input type="hidden" name="frequentlyAskedQuestionTranslations[@i][languageId]" value="@Model.Languages[i].Key" />

                                  <div class="row">
                                      <div class="col-lg-12 form-group pos-relative">
                                                <label class="input-abs-text">Başlık:</label>
                                    <input type="text" class="form-control" name="frequentlyAskedQuestionTranslations[@i][header]" value="@frequentlyAskedQuestionTranslation.Header" placeholder="Başlık giriniz" autocomplete="off" required>
                                          </div>
                                           <div class="col-lg-12 form-group pos-relative">
                                                <label class="input-abs-text">Açıklama:</label>
                                    <textarea class="form-control"
                                              placeholder="Açıklama giriniz"
                                              name="frequentlyAskedQuestionTranslations[@i][description]"
                                              rows="4">
@frequentlyAskedQuestionTranslation.Description</textarea>
                                          </div>

                                      
                                  </div>


                                </div>
                                }

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" @Html.Raw(Model.FrequentlyAskedQuestion.Active ? "checked" : "")> Aktif
                    <span></span>
                </label>

            </div>

        </div>

    </div>
</form>