﻿@model ECommerce.Application.Client.ViewModels.ShoppingCarts.Index

@{
    ViewData["Title"] = Html.Raw("Sepetim");
}

<main class="main">
    <div class="container mb-80 mt-50 shopMain">
        <div class="row">
            <div class="col-lg-8">
                <div>
                    @if (!Model.IsLogin)
                    {
                        <div class="fast-login-basket mob-none cart-totals border">
                            Alışverişini daha hızlı tamamlamak için <a href="@Url.Action("Login","Account")">Giriş Yap</a>
                        </div>
                    }
                    <div class="container ptb-0">

                        @if (Model.Success)
                        {
                            @foreach (var sciLoop in Model.ShoppingCartItems)
                            {

                                <div id="shopping-cart-item-@sciLoop.ProductInformationId">
                                    <div class="basketItemBox row">
                                        <div class="image product-thumbnail pt-20 col-3 col-md-1">
                                            <img src="@sciLoop.ProductInformation.ProductInformationPhotos[0].FileName" alt="@sciLoop.ProductInformation.FullName">
                                        </div>
                                        <div class="product-des product-name col-9 col-md-4">
                                            <h6 class="mb-5">
                                                <a class="product-name mb-10 text-heading" href="@sciLoop.ProductInformation.Url">@sciLoop.ProductInformation.FullName</a>
                                            </h6>
                                            @if (sciLoop.GetXPayYGift)
                                            {

                                                <span class="color-orange">@sciLoop.GetXPayYCount ürün hediye edildi</span>


                                            }
                                        </div>
                                        <div class="price col-4 col-md-2">

                                            @if (sciLoop.ProductInformation.ProductInformationPrice.TotalUnitPrice > 0)
                                            {
                                                <p class="price" style="display: flex; flex-direction: column;">
                                                    <del>@sciLoop.ProductInformation.ProductInformationPrice.ListUnitPrice</del>
                                                    <strong class="color-orange">
                                                        @sciLoop.ProductInformation.ProductInformationPrice.UnitPrice ₺
                                                    </strong>
                                                </p>
                                            }
                                            else
                                            {

                                                <span class="color-orange">Hediye</span>
                                            }

                                        </div>
                                        <div class="text-center detail-info col-3 col-md-2">
                                            <div class="detail-extralink mr-15">
                                                <div class="detail-qty border radius position-relative">

                                                    <a href="javascript:void(0)" class="qty-up">
                                                        <i class="fi-rs-plus-small"></i>
                                                    </a>

                                                    <input class="qty-val" value="@sciLoop.Quantity" type="number" min="1" />



                                                    @if (sciLoop.Quantity > 1)
                                                    {
                                                        <a href="javascript:void(0)" class="qty-down">
                                                            <i class="fi-rs-minus-small"></i>
                                                        </a>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                        <div class="price col-5 col-md-2">
                                            <h4 class="text-brand">@sciLoop.ProductInformation.ProductInformationPrice.TotalUnitPrice ₺</h4>
                                        </div>
                                        <div class="action text-center col-3 col-md-1">
                                            <a href="javascript:ShoppingCartIndex.Remove(@sciLoop.ProductInformationId);"
                                       class="text-body remove-item remove-item-@sciLoop.ProductInformationId"
                                       data-item="@sciLoop.ProductInformationId">
                                                <i class="fi-rs-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    </div>
                </div>
                <div class="divider-2 mb-30"></div>
                <div class="cart-action d-flex justify-content-between mob-none">
                    <a class="btn btn-two" href="@Url.Action("Index","Home")"><i class="fi-rs-arrow-left mr-10"></i>Alışverişe Devam Et</a>
                    @*<a class="btn mr-10 mb-sm-15" href="javascript:ShoppingCart.Update();"><i class="fi-rs-refresh mr-10"></i>Sepeti Güncelle</a>*@
                </div>

            </div>
            <div class="col-lg-4">
                <div class="border p-md-4 cart-totals ml-30 basketSummary">
                    <div class="table-responsive">
                        <table class="table no-border basketSummaryTable">
                            <tbody class="basketSummaryTbody">
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Sepet Toplamı</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h4 class="text-brand-3 text-end">
                                            @Model.TotalListUnitPrice.ToString("N2") ₺
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">İndirimli Toplamı</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h4 class="text-brand-3 text-end">
                                            @((Model.TotalUnitPrice).ToString("N2")) ₺
                                        </h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label" width="35%">
                                        <h6 class="text-muted">Kargo</h6>
                                    </td>
                                    <td class="cart_total_amount text-end" width="65%">
                                        @if (Model.Configuration?.CargoLimit > Model.Amount)
                                        {

                                            <h6 class="text-heading text-end">
                                                Ücretsiz Kargo İçin son <span class="color-orange">
                                                    @((Model.Configuration.CargoLimit - Model.Amount).ToString("N2")) ₺
                                                </span>
                                            </h6>
                                        

                                        }
                                        else
                                        {
                                            <h6 class="text-heading text-end">
                                                <span class="color-orange ">Kargo Ücretsiz</span>
                                            </h6>
                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" colspan="2">
                                        <div class="divider-2 mt-10 mb-10"></div>
                                    </td>
                                </tr>
                                @if (Model.DiscountCouponDiscount > 0)
                                {
                                    <tr>
                                        <td class="coupon-code_label">
                                            <h6 class="text-muted">Kupon indirimi</h6>
                                        </td>
                                        <td class="coupon-code_amount">
                                            <h5 class="text-heading text-end">-@Model.DiscountCouponDiscount.ToString("N2") ₺</h5>
                                        </td>
                                    </tr>
                                }

                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="color-orange">Ödenecek Tutar</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h4 class="text-brand text-end total-amount" data-totalAmount="@Model.Amount.ToString("N0")">
                                            @Model.Amount.ToString("N2") ₺
                                        </h4>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                        <div class="couponBox mb-15">
                            <form id="discount-coupon-code-container" class="position-relative" action="#">
                                <div class="d-flex justify-content-between">

                                    @if (Model.DiscountCoupon != null && !string.IsNullOrEmpty(Model.DiscountCoupon.Code))
                                    {
                                        <button class="btn couponRemove"
                                            type="button"
                                            onclick="javascript: ShoppingCartIndex.DiscountCouponClear();">
                                            <i class="fi-rs-delete mr-10"></i>Sil
                                        </button>
                                    }


                                    <input class="font-medium mr-15 coupon"
                                           type="text"
                                           id="discount-coupon-code"
                                           name="Coupon"
                                           @Html.Raw(Model.DiscountCoupon != null ? $"value=\"{Model.DiscountCoupon.Code}\"" : "")
                                           placeholder="Varsa indirim kodunuzu giriniz."
                                           required>

                                    <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>

                                    <button class="btn coupon-btn"
                                            type="button"
                                            onclick="javascript: ShoppingCartIndex.DiscountCoupon();">
                                        <i class="fi-rs-label mr-10"></i>Gönder
                                    </button>

                                </div>
                            </form>
                        </div>
                    </div>

                    <a href="@Url.Action("Index","Order")" class="btn mb-20 w-100 basket-fixed-btn">Sepeti Onayla<i class="fi-rs-sign-out ml-15"></i></a>
                </div>
            </div>
        </div>

        @if (Model.ShoppingCartDiscountedProducts != null && Model.ShoppingCartDiscountedProducts.Count > 0)
        {

            <div class="col-md-12 justify-content-center">
                <div class="row product-grid-4" id="products" data-page="0">
                    <div><h3 class="font-heading mt-10">Sepete Özel Ek İndirim</h3></div>
                    <div class="productSlider-columns-cover arrow-center position-relative">
                        <div class="slider-arrow slider-arrow-2 productSlider-columns-arrow" id="productSlider-columns-arrows"></div>
                        <div class="productSlider-columns carausel-arrow-center" id="productSlider-columnss">
                            @foreach (var pLoop in Model.ShoppingCartDiscountedProducts)
                            {
                                if (Model.ShoppingCartItems.Any(x => x.ProductInformationId == pLoop.ProductInformation.Id && !x.ShoppingCartDiscount)) continue;

                                @Html.PartialAsync($"/themes/watch/Views/Product/productBox.cshtml", new ECommerce.Application.Common.DataTransferObjects.ProductComponent
                        {
                        ListUnitPrice = pLoop.ProductInformation.ProductInformationPrice.ListUnitPrice,
                        Name = pLoop.ProductInformation.FullName,
                        ProductInformationId = pLoop.ProductInformation.Id,
                        ProductId = pLoop.ProductInformation.Product.Id,
                        IsStock=pLoop.ProductInformation.IsStock,
                        FileName = pLoop.ProductInformation.ProductInformationPhotos.FirstOrDefault() != null ? pLoop.ProductInformation.ProductInformationPhotos[0].FileName : null,
                        UnitPrice = pLoop.ProductInformation.ProductInformationPrice.UnitPrice,
                        Url = pLoop.ProductInformation.Url,
                        SubTitle = pLoop.ProductInformation.SubTitle,
                        VatRate = pLoop.ProductInformation.ProductInformationPrice.VatRate,
                        Discount = pLoop.ProductInformation.ProductInformationPrice.Discount,
                        ProductLabels = pLoop.ProductInformation.Product.ProductLabels.Select(x => x.Value).ToList(),
                        Payor = pLoop.ProductInformation.Payor,
                        IsSale = pLoop.ProductInformation.IsSale,
                        ShoppingCartDiscount = true
                        }).Result
                                ;
                            }
                        </div>
                    </div>


                </div>
            </div>



        }


    </div>
</main>

@section Js {
    <script src="/themes/watch/js/views/shopping-cart/index.js"></script>
    @if (Model.Success)
    {
        <script>
            @foreach (var sciLoop in Model.ShoppingCartItems)
            {

                <text>
                    ShoppingCartIndex.InitializeItem(@sciLoop.ProductInformation.Id, @sciLoop.ShoppingCartDiscount.ToString().ToLower());
                </text>

            }
        </script>
    }
}