﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@{
    ViewData["Title"] = "Hakkımızda";
    ViewData["Description"] = $"{Model.Company.Name} ekibi olarak 7/24 bizlere iletişim sayfamızdan ulaşabilirsiniz.";

}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a> <span></span>
                @_resource["About"]
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="row align-items-center mb-50">

                        <div class="col-lg-12">
                            <div class="pl-25">
                                <h1 class="mb-30 font-lg text-center text-uppercase">Hakkımızda</h1>
                            
                            </div>
                        </div>

                    </section>

                    <section class="row  mb-50">
                        <div class="col-lg-7 ">
                                 <h4 class="mt-3 mb-3">
                                @Model.Company.Name
                            </h4>
                        <p>
                            Sektördeki talep ve beklentileri engin tecrübesi ile değerlendirerek, kaliteli hizmet anlayışı ile bilinçli müşteri portföyü oluşturmaya çalışmaktadır. Bunları yaparken ilkeleri ve doğruları vazgeçilmezleridir.
                        </p>
                        <h4 class="mt-3 mb-3">
                            AYAK SAĞLIĞI İÇİN AYAKKABI
                        </h4>   
                        <p>
                            Yanlış ayakkabı seçimi çocukluktan itibaren tüm gelişiminizi engelleyen ,bağlı bulunduğu bacak, bel, sırt ve omurilik rahatsızlıklarının temel nedenlerinden biridir. Ayağın anatomik yapısında ve sağlığında ciddi problemlere neden olan yanlış ayakkabı seçimi, tırnak batması, tırnak mantarı, topuk dikeni, nasır, koku ve terlemeye yol açan rahatsızlıklara neden olur. Ayaklarımız, çoğu zaman unuttuğumuz ve gün boyu farkında olmadan basınç uyguladığımız organlarımızdır. Doğduğumuzda kemik yerine, elastikli yapılar bulunan ayağımızın sağlığı en az %95 oranlarındayken; yaşam şartları, aşırı kilo, bakımsızlık, hareketsizlik ve en önemlisi yanlış ayakkabı seçimi ile bu oran yetişkin insanlarda %40’a kadar düşüyor. Ekibimiz sizlere özel olarak sunduğu ürünlerin arkasında bir sağlık yatıyor bilgisini veriyor.
                        </p>   

                        </div>
                          <div class="col-lg-5 ">
                           <h4 class="mt-3 mb-3">
                                İlkelerimiz
                            </h4>

                            <ul>
                                <li>
                                        %100 Müşteri Memnuniyeti
                                </li>
                                 <li>
                                      Güvenilir Hizmet
                                </li>
                                 <li>
                                     Dürüst Bir Politika
                                </li>
                                 <li>
                                     Uzman İsimlerle Çalışma Prensibi
                                </li>
                                 <li>
                                     Her Daim Destek Anlayışı
                                </li>
                                 <li>
                                     Uzun Yıllar Beraber Çalışma
                                </li>
                                <li>
                                    Sorunlarınız , Sorunlarımızdır Kuralı
                                </li>
                            </ul>

                        













                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>
</main>