﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@model ECommerce.Application.Client.ViewModels.Home.ConsumerRights
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a>
                <span></span>
             @_resource["ConsumerRights"]
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                <div class="single-header style-2">
                                    <h2 class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">E-TİCARETTE ÖNEMLİ TÜKETİCİ HAKLARI</font></font></h2>

                                </div>
                                <div class="single-content mb-50">
                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">  E-ticaret, günümüzde internet kullanımının artmasıyla birlikte 1995 yılında ülkemizde elektronik ortamda kullanılmaya başlanmıştır. </font><font style="vertical-align: inherit;">E-ticaret kullanımına ilişkin birçok yasal düzenleme yapılmış ve birçok tüketici hakkı tesis edilmiştir.</font></font></p>

                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                        Türkiye'deki tüketiciler hala online alışverişi güvenli görmüyor ve temkinli ilerliyor.
                                    </font></font></p>
                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                        Bu güvensizliği önlemek için devlet e-ticarete yasal yaptırımlar uygulamıştır.
                                    </font></font></p>


                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tüketicinin bu güvensizliğinin temel nedenlerinden biri haklarını yeterince bilmemesidir. </font><font style="vertical-align: inherit;">Bu nedenle tüketicinin hangi haklara sahip olduğunu bilmesi elektronik ortamda daha rahat alışveriş yapmasını sağlayacaktır.</font></font></p>

                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                        Online alışveriş süreci gerçekleştirilip gerçekleştirilmediğine bakılmaksızın, tüketicinin korunması devlet tarafından yürütülmekte olup, 6 Mart 2011 tarihinde Resmi Gazete'de "Mesafeli Sözleşmelere İlişkin Yönetmelik" yayımlanmıştır.
                                    </font></font></p>
                                    <ul>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                            1. Tüketici, bir ürünü satın alırken, ürünün özelliklerini, fiyatını ve ödeme şeklini, ayrıca taşıyıcı firma ve garanti koşulları gibi bilgileri bilmelidir. </font><font style="vertical-align: inherit;">Bu bilgi mevcut değilse, mahkemeye başvurma hakkına sahiptir.


                                        </font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                            2. Alıcı, çevrimiçi mağazalarda iade ve reddetme hakkına sahiptir.

                                        </font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                            3. Redde ilişkin olarak, tüketici, malı, satıcı tarafından belirtilen süre içinde herhangi bir sebep göstermeksizin iade etme hakkına sahiptir.

                                        </font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                            4. Tüketici, cayma/iade konusunda yanlış bilgi almamalı ve haklarını olabildiğince doğru bilmelidir.


                                        </font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                            5. Tüketicinin online satış yoluyla satın aldığı herhangi bir ürünün kullanımı sırasında meydana gelen bir ürün hatası alıcıdan kaynaklanmıyorsa, satıcı yenisini temin etmeli, ürünü tamir etmeli ya da para iadesi yapmalıdır.

                                        </font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                            6. Tüketicinin firma ile bir sorunu varsa o zaman en doğal hakkı tüketici mahkemesine gitmektir.

                                        </font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                            7. Bu mahkeme, tüketici ile satıcı arasındaki sorunların sonuçlandırılması için çalışır.

                                        </font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                            8. Teslimat aşamasında tüketicinin dikkat etmesi gereken durumlar vardır.

                                        </font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                            9. Mallar teslim alınmadan önce teslim aldığını imzalamasına gerek yoktur.

                                        </font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                            10. Malın teslimi aşamasında, malları getiren kişi tarafından kontrol edilmelidir. </font><font style="vertical-align: inherit;">Eksik veya hasarlı mal olması durumunda, tüketicinin kargo görevlisi tarafından hasar tutanağı tutulması zorunludur.

                                        </font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                            11. Tüketiciler ayrıca online alışveriş yaparken garanti şartlarını inceleme hakkına sahiptir.
                                        </font></font></li>
                                    </ul>



                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
