﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@model ECommerce.Application.Client.ViewModels.Home.Contact
@{
    ViewData["Title"] = "Bizimle İletişime Geçin";
    ViewData["Description"] = $"{Model.Company.Name} ekibi olarak 7/24 bizlere iletişim sayfamızdan ulaşabilirsiniz.";

}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a> <span></span>
                @_resource["Contact"]
            </div>
        </div>
    </div>
    <div class="page-content pt-50">

        <section class="container mb-50 d-none d-md-block">
            <div class="border-radius-15 overflow-hidden row">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d952611.4317911179!2d28.49244136607405!3d40.84680222325146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa7040068086b%3A0xe1ccfe98bc01b0d0!2zxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1661369505973!5m2!1str!2str" width="1800" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </section>
        <div class="container">
  
    
                        
                        <div class="row mb-50">
       <div class="col-lg-5  d-lg-block ">
                              <div class="row mb-60 bg-grey">
                            <div class="col-md-12 mb-4 mb-md-0 contact-item-border">
                                <h4 class="mb-15 text-brand">Müşteri Hizmetleri</h4>
                            <span title="Telefon">Tel: </span><a href="tel:+@(Model.Company.CompanyContact.PhoneNumber.ToString().Trim())">@Model.Company.CompanyContact.PhoneNumber</a><br />

                            </div>
                            <div class="col-md-12 mb-4 mb-md-0 contact-item-border">
                                <h4 class="mb-15 text-brand">@_resource["Phone"]</h4>
                            <a href="tel:+@(Model.Company.CompanyContact.PhoneNumber.ToString().Trim())">@Model.Company.CompanyContact.PhoneNumber</a> (08:30-18:00)<br>
                                <a href="https://api.whatsapp.com/send?phone=@(Model.Company.CompanyContact.PhoneNumber)&amp;text=Bilgi%20almak%20istiyorum">WhatsApp Bilgi Hattı</a>&nbsp;(08:30-18:00)


                            </div>
                            <div class="col-md-12 contact-item-border">
                                <h4 class="mb-15 text-brand">@_resource["Addres"]</h4>
                                <p>
                                @Model.Company.CompanyContact.Address
                                </p>


                            </div>
                             
                        </div>
                            </div>                     
                            
<div class="col-xl-7 mm-t-5px">
                                <div class="contact-from-area padding-20-row-col">
                                    <h5 class="text-brand mb-10">@_resource["OnlineContactForm"]</h5>

                                    <p class="text-muted mb-30 font-sm">7/24 formu doldurarak bizimle iletişime geçebilirsiniz. Size en kısa sürede cevap verilecektir.</p>
                                    <form class="contact-form-style mt-30" id="contact-form" method="post">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <input name="name" id="contact-name-input" placeholder="@_resource["NameSurname"].." type="text" autocomplete="off" required />
                                                    <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <input name="mail" class="mail" id="contact-mail-input" placeholder="@_resource["Mail"]" type="email" autocomplete="off" required />
                                                    <div class="invalid-message-mail invalid-message" style="display: none;">@_resource["ValidateMailText"]</div>
                                                    <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <input name="telephone" id="contact-phoneNumber-input" placeholder="@_resource["Phone"]" type="tel" autocomplete="off" required />
                                                    <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <input name="subject" id="contact-subject-input" placeholder="@_resource["Subject"]" type="text" autocomplete="off" required />
                                                    <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="textarea-style mb-10 form-group">
                                                    <textarea name="message" id="contact-message-input" placeholder="@_resource["MessageText"]" autocomplete="off" required></textarea>
                                                    <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                                </div>
                                                <div id="g-recaptcha"></div>
                                                <button class="submit-auto-width mt-10" onclick="ContactSave.save(event)" type="button">@_resource["SubmitText"]</button>
                                            </div>
                                        </div>
                                    </form>
                                    <p class="form-messege"></p>
                                </div>
                            </div>
                            
                        </div>
            
          
    
        </div>
    </div>
</main>


@section Js{
    <script src="https://www.google.com/recaptcha/api.js?onload=loadCaptcha&render=explicit" async defer></script>
}