﻿@model ECommerce.Application.Client.ViewModels.Categories.Index
@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@{
    ViewData["Title"] = "Fidan İstanbul İndirimli Ürünler";
    ViewData["Description"] = "Stoklarla sınırlı indirimli ürünlerimizi satın alarak fırsatları değerlendirebilirsiniz.";

}

@{
    string pageItems = $"pc={Model.PageRecordsCount}&st={Model.PageSorting}";
    string propertyValueIds = "";

    if (Model.PropertyValueIds?.Count > 0)
    {
        propertyValueIds = $"/{string.Join("_", Model.PropertyValueIds)}-pv/";
    }
    <main class="main">
        <div class="page-header mt-15 mb-15">
            <div class="container">
                <div class="tag-header">
                    <div class="row align-items-center">
                        <div class="col-xl-5 category-breadbox">

                            <div class="breadcrumb">
                                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a>
                                <span></span>
                                Товары со скидкой
                            </div>
                        </div>
                        <!--Category Tag Bar-->
                        <div class="col-xl-7 text-end d-none d-xl-block">
                            <ul class="tags-list">
                                <li class="font-md color-black find-end-text-discount">Наши продукты со скидками 50% и более. </li>

                            </ul>
                        </div>
                        <!--Category Tag Bar-->
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-30">
            <div class="row flex-row-reverse shop-row justify-content-center">
                <div class="col-lg-4-5">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p>@_resource["Total"] <strong>@Model.ProductCount</strong> из продукта,<strong>@Model.PageProductCount</strong> перечисленные предметы.</p>
                        </div>
                        <div class="sort-by-product-area ">
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps"></i>Шоу:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span>
                                            @Model.PageRecordsCount
                                            <i class="fi-rs-angle-small-down"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown display-none">
                                    <ul>
                                        <li><a @(Model.PageRecordsCount == 20 ? "class=active" : "") href="">20</a></li>
                                        <li><a @(Model.PageRecordsCount == 50 ? "class=active" : "") href="">50</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>@_resource["SortBy"]:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        @{

                                            string sortingValue = "";

                                            switch (Model.PageSorting)
                                            {
                                                case 1:
                                                    sortingValue = $"{_resource["IncreasedPrice"]}";
                                                    break;
                                                case 2:
                                                    sortingValue = $"{_resource["DecreasingPrice"]}";
                                                    break;
                                                case 3:
                                                    sortingValue = $"{_resource["AtoZ"]}";
                                                    break;
                                                case 4:
                                                    sortingValue = $"{_resource["ZtoA"]}";
                                                    break;

                                            }
                                        }

                                        <span>@sortingValue <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown display-none">
                                    <ul>
                                        <li><a @(Model.PageSorting == 1 ? "class=active" : "") href="@($"/{Model.Category.Url}{$"?st=1"}&pc={Model.PageRecordsCount}")">@_resource["IncreasedPrice"]</a></li>
                                        <li><a @(Model.PageSorting == 2 ? "class=active" : "") href="@($"/{Model.Category.Url}{$"?st=2"}&pc={Model.PageRecordsCount}")">@_resource["DecreasingPrice"]</a></li>
                                        <li><a @(Model.PageSorting == 3 ? "class=active" : "") href="@($"/{Model.Category.Url}{propertyValueIds}{$"?st=3"}&pc={Model.PageRecordsCount}")">@_resource["AtoZ"]</a></li>
                                        <li><a @(Model.PageSorting == 4 ? "class=active" : "") href="@($"/{Model.Category.Url}{propertyValueIds}{$"?st=4"}&pc={Model.PageRecordsCount}")">@_resource["ZtoA"]</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row product-grid-4 justify-content-center" id="products" data-page="0">
                        @foreach (var pLoop in Model.ProductInformations)
                        {
                            if (pLoop.ProductInformationPrice.Discount >= 10)
                            {
                                @Html.PartialAsync($"/Themes/Black/Views/Product/productBox.cshtml", new ECommerce.Application.Common.DataTransferObjects.ProductComponent
                           {
                               ListUnitPrice = pLoop.ProductInformationPrice.ListUnitPrice,
                               Name = pLoop.Name,
                               ProductInformationId = pLoop.Id,
                               ProductId = pLoop.Id,
                               FileName = pLoop.ProductInformationPhotos.FirstOrDefault() != null ? pLoop.ProductInformationPhotos.FirstOrDefault().FileName : null,
                               UnitPrice = pLoop.ProductInformationPrice.UnitPrice,
                               Url = pLoop.Url,
                               SubTitle = pLoop.SubTitle,
                               VatRate = pLoop.ProductInformationPrice.VatRate,
                               IsSale = pLoop.IsSale,
                               IsStock=pLoop.IsStock,
                               Payor = pLoop.Payor,
                               Discount = pLoop.ProductInformationPrice.Discount,
                               ProductLabels = pLoop.Product.ProductLabels.Select(x => x.Value).ToList(),
                               ShoppingCartDiscount = false
                           }).Result;

                            }
                        }
                    </div>

                    <!--product grid-->
                    <!--Pagination Number -->
                    <div class="pagination-area mt-20 mb-20">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">

                                @for (int i = 0; i < Model.PagesCount; i++)
                                {

                                    <li class="page-item"><a class="page-link" href="@($"/discount{propertyValueIds}{(i != 0 ? $"?p={i}&{pageItems}" : $"?{pageItems}")}")">@(i+1)</a></li>

                                }

                            </ul>
                        </nav>
                    </div>
                    <!--Pagination Number -->
                </div>


            </div>
        </div>

    </main>
}