﻿@model ECommerce.Application.Client.ViewModels.Home.Faq
@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@{
    ViewData["Title"] = "Sıkça Sorulan Sorulan";
    ViewData["Description"] = "Müşterilerimizin sıkça sorduğu soruları listeledik ve cevapları ile sizlere bu sayfada topladık.";

}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
               <a href="@Url.Action("Index","Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a>
                <span>&nbsp; @_resource["FAQ"]</span>
            </div>
        </div>
    </div>
    <div class="page-content pt-30">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="head">
                        <h2 class="text-center mb-25">&nbsp; @_resource["FAQ"]</h2>

                    </div>
                    <!--Burası Faq diğer sitedeki yapıda yapıldı göstermek için doğru yapı değil-->
                    @foreach (var frequentlyAskedQuestion in Model.FrequentlyAskedQuestions)
                    {
                        <button class="accordion faqCordion"><i class="fi-rs-comment-alt position-relative mr-10" style="color: #3ec76a;top:2px"></i> @frequentlyAskedQuestion.Header</button>

                        <div class="panel">
                            <span class="color-black">@_resource["Reply"] :</span>  @Html.Raw(frequentlyAskedQuestion.Description)
                        </div>
                    }


                </div>

            </div>
        </div>
    </div>
</main>