﻿@model ECommerce.Application.Client.ViewModels.Home.Index
@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource

@{
    ViewData["Title"] = $"Kadın Giyim Sanal Mağaza - {Model.Company.Name}";
    ViewData["Description"] = @Model.Company.Name;
    ViewData["Keywords"] = @Model.Company.Name;
}

<main class="main">


    @if (Model.Showcase != null)
    {
        foreach (var row in Model.Showcase.RowComponents)
        {
            @Html.PartialAsync($"/Themes/Shoes/Views/Components/Row.cshtml", row).Result
        }
    }



</main>