﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@{
    ViewData["Title"] = "";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a>
                <span></span>
              @_resource["BankAccountNumbers"]
            </div>
        </div>
    </div>
    <div class="page-content pt-30">
        <h1 class="font-xl text-center mb-15">@_resource["BankInformation"]</h1>

        <div class="middle-container">
            <div class="row">
                <h2 class="font-xl">HALKBANK</h2>
                <div class="mb-10">
                    <p>
                        <strong>@_resource["AccountName"] :</strong> LAFABA TEKSTİL ELK. SAN. VE TİC. LTD. ŞTİ.<br>
                        <strong>ШУБЕ :</strong> GAZİOSMANPAŞA | 0766<br>
                        <strong>количество:</strong> 10260836<br>
                        <strong>IBAN:</strong> TR69 0001 2009 7660 0010 2608 36
                    </p>
                </div>
                <div>
                    Для заказов, способ оплаты которых выбран как банковский перевод, оплата должна быть произведена в течение 3 (трех) рабочих дней. Заказы, не оплаченные в течение 3 (трех) рабочих дней, автоматически аннулируются системой. Вам необходимо связаться со службой поддержки по поводу оплаты за отмененный заказ.
                </div>

            </div>
        </div>

    </div>
</main>