﻿<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" ><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
                <span></span> 
                <h1 class="font-sm">Üyelik Sözleşmesi</h1>
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                <div class="single-header style-2">
                                    <h2>Üyelik Sözleşmesi</h2>

                                </div>
                                <div class="single-content mb-50">
                                    <h4>lütfen sitemize üye olmadan önce aşağıda yer alan sözleşmeyi dikkatlice okuyunuz .</h4>


                                    <h5>1. Taraflar</h5>

                                    <p>a) @Model.Company.CompanyContact.WebUrl.ToString().Replace("https://","") internet sitesine üye olan internet kullanıcısı ("Üye")</p>

                                    <h5>2. Sözleşmenin Konusu</h5>

                                    <p>
                                        İşbu Sözleşme'nin konusu @Model.Company.Name'nın sahip olduğu internet sitesi @Model.Company.CompanyContact.WebUrl.ToString().Replace("https://","") 'dan üyenin faydalanma şartlarının belirlenmesidir.
                                    </p>

                                    <h5>3. Tarafların Hak ve Yükümlülükleri</h5>
                                    <ul>
                                        <li>
                                            3.1. Üye, @Model.Company.CompanyContact.WebUrl.ToString().Replace("https://","") internet sitesine üye olurken verdiği kişisel ve diğer sair bilgilerin kanunlar önünde doğru olduğunu, @Model.Company.Name'nın bu bilgilerin gerçeğe aykırılığı nedeniyle uğrayacağı tüm zararları aynen ve derhal tazmin edeceğini beyan ve taahhüt eder.
                                        </li>
                                        <li>
                                            3.2. Üye, @Model.Company.Name tarafından kendisine verilmiş olan şifreyi başka kişi ya da kuruluşlara veremez, üyenin söz konusu şifreyi kullanma hakkı bizzat kendisine aittir. Bu sebeple doğabilecek tüm sorumluluk ile üçüncü kişiler veya yetkili merciler tarafından @(Model.Company.Name)'ya karşı ileri sürülebilecek tüm iddia ve taleplere karşı, @Model.Company.Name'nın söz konusu izinsiz kullanımdan kaynaklanan her türlü tazminat ve sair talep hakkı saklıdır.
                                        </li>
                                        <li>
                                            3.3. Üye @Model.Company.CompanyContact.WebUrl.ToString().Replace("https://","") internet sitesini kullanırken yasal mevzuat hükümlerine riayet etmeyi ve bunları ihlal etmemeyi baştan kabul ve taahhüt eder. Aksi takdirde, doğacak tüm hukuki ve cezai yükümlülükler tamamen ve münhasıran üyeyi bağlayacaktır.


                                        </li>
                                        <li>
                                            3.4. Üye, @Model.Company.CompanyContact.WebUrl.ToString().Replace("https://","") internet sitesini hiçbir şekilde kamu düzenini bozucu, genel ahlaka aykırı, başkalarını rahatsız ve taciz edici şekilde, yasalara aykırı bir amaç için, başkalarının fikri ve telif haklarına tecavüz edecek şekilde kullanamaz. Ayrıca, üye başkalarının hizmetleri kullanmasını önleyici veya zorlaştırıcı faaliyet (spam, virus, truva atı, vb.) ve işlemlerde bulunamaz.


                                        </li>
                                        <li>
                                            3.5. @Model.Company.CompanyContact.WebUrl.ToString().Replace("https://","") internet sitesinde üyeler tarafından beyan edilen, yazılan, kullanılan fikir ve düşünceler, tamamen üyelerin kendi kişisel görüşleridir ve görüş sahibini bağlar. Bu görüş ve düşüncelerin @Model.Company.Name'yla hiçbir ilgi ve bağlantısı yoktur. @Model.Company.Name'nın üyenin beyan edeceği fikir ve görüşler nedeniyle üçüncü kişilerin uğrayabileceği zararlardan ve üçüncü kişilerin beyan edeceği fikir ve görüşler nedeniyle üyenin uğrayabileceği zararlardan dolayı herhangi bir sorumluluğu bulunmamaktadır.


                                        </li>
                                        <li>
                                            3.6. @Model.Company.Name, üye verilerinin yetkisiz kişilerce okunmasından ve üye yazılım ve verilerine gelebilecek zararlardan dolayı sorumlu olmayacaktır. Üye, @Model.Company.CompanyContact.WebUrl.ToString().Replace("https://","") internet sitesinin kullanılmasından dolayı uğrayabileceği herhangi bir zarar yüzünden @(Model.Company.Name)dan tazminat talep etmemeyi peşinen kabul etmiştir.


                                        </li>
                                        <li>
                                            3.7. Üye, diğer internet kullanıcılarının yazılımlarına ve verilerine izinsiz olarak ulaşmamayı veya bunları kullanmamayı kabul etmiştir. Aksi takdirde, bundan doğacak hukuki ve cezai sorumluluklar tamamen üyeye aittir.


                                        </li>
                                        <li>
                                            3.8. İşbu üyelik sözleşmesi içerisinde sayılan maddelerden bir ya da birkaçını ihlal eden üye işbu ihlal nedeniyle cezai ve hukuki olarak şahsen sorumlu olup, @Model.Company.Name'yı bu ihlallerin hukuki ve cezai sonuçlarından ari tutacaktır. Ayrıca; işbu ihlal nedeniyle, olayın hukuk alanına intikal ettirilmesi halinde, @Model.Company.Name'nın üyeye karşı üyelik sözleşmesine uyulmamasından dolayı tazminat talebinde bulunma hakkı saklıdır.


                                        </li>
                                        <li>
                                            3.9. @Model.Company.Name'nın her zaman tek taraflı olarak gerektiğinde üyenin üyeliğini silme, müşteriye ait dosya, belge ve bilgileri silme hakkı vardır. Üye işbu tasarrufu önceden kabul eder. Bu durumda, @Model.Company.Name'nın hiçbir sorumluluğu yoktur.


                                        </li>
                                        <li>
                                            3.10. @Model.Company.CompanyContact.WebUrl.ToString().Replace("https://","") internet sitesi yazılım ve tasarımı @Model.Company.Name mülkiyetinde olup, bunlara ilişkin telif hakkı ve/veya diğer fikri mülkiyet hakları ilgili kanunlarca korunmakta olup, bunlar üye tarafından izinsiz kullanılamaz, iktisap edilemez ve değiştirilemez. Bu web sitesinde adı geçen başkaca şirketler ve ürünleri sahiplerinin ticari markalarıdır ve ayrıca fikri mülkiyet hakları kapsamında korunmaktadır.


                                        </li>
                                        <li>
                                            3.11. @Model.Company.Name tarafından @Model.Company.CompanyContact.WebUrl.ToString().Replace("https://","") internet sitesinin iyileştirilmesi, geliştirilmesine yönelik olarak ve/veya yasal mevzuat çerçevesinde siteye erişmek için kullanılan İnternet servis sağlayıcısının adı ve Internet Protokol (IP) adresi, Siteye erişilen tarih ve saat, sitede bulunulan sırada erişilen sayfalar ve siteye doğrudan bağlanılmasını sağlayan Web sitesinin Internet adresi gibi birtakım bilgiler toplanabilir.


                                        </li>
                                        <li>
                                            3.12. @Model.Company.Name, üyenin kişisel bilgilerini yasal bir zorunluluk olarak istendiğinde veya (a) yasal gereklere uygun hareket etmek veya @(Model.Company.Name)ya tebliğ edilen yasal işlemlere uymak; (b) @(Model.Company.Name)ve @(Model.Company.Name)web sitesi ailesinin haklarını ve mülkiyetini korumak ve savunmak için gerekli olduğuna iyi niyetle kanaat getirdiği hallerde açıklayabilir.


                                        </li>
                                        <li>
                                            3.13. @(Model.Company.Name)web sitesinin virus ve benzeri amaçlı yazılımlardan arındırılmış olması için mevcut imkanlar dahilinde tedbir alınmıştır. Bunun yanında nihai güvenliğin sağlanması için kullanıcının, kendi virus koruma sistemini tedarik etmesi ve gerekli korunmayı sağlaması gerekmektedir. Bu bağlamda üye @(Model.Company.Name) web sitesi'ne girmesiyle, kendi yazılım ve işletim sistemlerinde oluşabilecek tüm hata ve bunların doğrudan yada dolaylı sonuçlarından kendisinin sorumlu olduğunu kabul etmiş sayılır.


                                        </li>
                                        <li>
                                            3.14. @(Model.Company.Name), sitenin içeriğini dilediği zaman değiştirme, kullanıcılara sağlanan herhangi bir hizmeti değiştirme yada sona erdirme veya @(Model.Company.Name) web sitesinde kayıtlı kullanıcı bilgi ve verilerini silme hakkını saklı tutar.


                                        </li>
                                        <li>
                                            3.15. @(Model.Company.Name), üyelik sözleşmesinin koşullarını hiçbir şekil ve surette ön ihbara ve/veya ihtara gerek kalmaksızın her zaman değiştirebilir, güncelleyebilir veya iptal edebilir. Değiştirilen, güncellenen yada yürürlükten kaldırılan her hüküm , yayın tarihinde tüm üyeler bakımından hüküm ifade edecektir.


                                        </li>
                                        <li>
                                            3.16. Taraflar, @(Model.Company.Name)'ya ait tüm bilgisayar kayıtlarının tek ve gerçek münhasır delil olarak, HUMK madde 287'ye uygun şekilde esas alınacağını ve söz konusu kayıtların bir delil sözleşmesi teşkil ettiği hususunu kabul ve beyan eder.


                                        </li>
                                        <li>
                                            3.17. @(Model.Company.Name), iş bu üyelik sözleşmesi uyarınca, üyelerinin kendisinde kayıtlı elektronik posta adreslerine bilgilendirme mailleri ve cep telefonlarına bilgilendirme SMS'leri gönderme yetkisine sahip olmakla beraber, üye işbu üyelik sözleşmesini onaylamasıyla beraber bilgilendirme maillerinin elektronik posta adresine ve bilgilendirme SMS'lerinin cep telefonuna gönderilmesini kabul etmiş sayılacaktır.
                                        </li>
                                    </ul>


                                    <h5>4. Sözleşmenin Feshi</h5>

                                    <p>
                                        İşbu sözleşme üyenin üyeliğini iptal etmesi veya @(Model.Company.Name) tarafından üyeliğinin iptal edilmesine kadar yürürlükte kalacaktır. @(Model.Company.Name) üyenin üyelik sözleşmesinin herhangi bir hükmünü ihlal etmesi durumunda üyenin üyeliğini iptal ederek sözleşmeyi tek taraflı olarak feshedebilecektir.
                                    </p>


                                    <h5>5. İhtilaflarin Halli</h5>

                                    <p>
                                        İşbu sözleşmeye ilişkin ihtilaflarda İstanbul Mahkemeleri ve İcra Daireleri yetkilidir.

                                    </p>

                                    <h5>6. Yürürlük</h5>

                                    <p>
                                        Üyenin, üyelik kaydı yapması üyenin üyelik sözleşmesinde yer alan tüm maddeleri okuduğu ve üyelik sözleşmesinde yer alan maddeleri kabul ettiği anlamına gelir. İşbu Sözleşme üyenin üye olması anında akdedilmiş ve karşılıklı olarak yürürlülüğe girmiştir.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>