﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@{
    ViewData["Title"] = "İade & Değişim Koşulları";
    ViewData["Description"] = "";

}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a> <span></span>
                @_resource["About"]
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="row align-items-center mb-5">

                        <div class="col-lg-12">
                            <div class="pl-25">
                                <h1 class="mb-30 font-lg text-center text-uppercase">İade & Değişim Koşulları</h1>
                            
                            </div>
                        </div>

                    </section>

                    <section class="row  mb-50">
                        <div class="col-lg-12">
                              

                        <p>
                                İade/Değişimler Satın Almış Olduğunuz Ürünü Teslim Aldığınız Tarihten İtibaren 15 Gün İçin de Yapılmalıdır. Aksi Takdir de İşlem Yapılmamaktadır.
                            </p>
                       
                        <p>
                                Kusurlu Ürün/ Eksik/ Yanlış Gönderilen Ürünlerin Kargo Masrafları Firmamıza Aittir. Haricin de Yapılan İade/Değişimlerdeki Kargo Masraflarınin Bir Kısmını,
                                Size Yansıtıyoruz.
                                Seri Sonu Satılan Ürünlerin Değişim/İadesi yapılmamaktadır.
                            </p>
                            <h4 class="mt-3 mb-3">
                                İade Değişimler İçin Detaylı Bilgi & Destek Wp:

                            </h4>
                            <p>
                                Hafta içi 10:00 - 18:00
                                0554 191 80 87
                            </p>
                        </div>
                      
                    </section>
                </div>
            </div>
        </div>

    </div>
</main>