﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
                <span></span>
                Sıkça Sorulan Sorular
            </div>
        </div>
    </div>
    <div class="page-content pt-30">
        <div class="container">
            <div class="row">
                <div class="middle-container">
                    <div class="head">
                        <h2>Sıkça Sorulan Sorular</h2>
                        <p class="mb-15">Siz değerli müşterilerimize en kaliteli hizmeti sunabilmek için sizlerin en çok sorduğu soruları ve cevaplarını sizin için derledik...</p>
                    </div>
                    <!--Burası Faq diğer sitedeki yapıda yapıldı göstermek için doğru yapı değil-->
                    <button class="accordion">Site Kullanımı hakkında sık sorulanlar</button>

                    <div class="panel">
                        <h4>Nasıl Alış veriş yapılır?</h4>
                        <h5>Elektronik alışveriş yapma adımları :</h5>
                        <ul>
                            <li class="mb-15">
                                1. Öncelikle sitemize üye olmanız gerekmektedir. Bu işlem güvenlik için önem taşımaktadır.
                                -Üye olabilmek için veya "Yeni Üye Kayıt" linklerini kullanabilirsiniz.
                            </li>
                            <li class="mb-15">
                                2. Almak istediğiniz ürünleri belirledikten sonra "Sepete Ekle" butonuna tıklayarak alışveriş sepetinize atabilirsiniz. Daha sonra ürün adedini artırabilirsiniz. Alışveriş sepetinin amacı, müşterinin seçer seçmez satın alma zorunluluğunu ortadan kaldırarak kolaylık sağlamaktır.

                            </li>
                            <li class="mb-15">
                                3. Alışveriş Sepetinizde ürünle ilgili fiyat ve diğer bilgileri görebilir. Ayrıca, ürünlerin miktarlarını değiştirebilir, sepetinizden çıkarabilirsiniz. Ürün fiyatları ve tutar bilgilerine KDV dahildir.

                            </li>
                            <li class="mb-15">
                                4. Sepetinizdeki ürünleri 2 farklı şekilde alabilirsiniz; Kredi kartı ile peşin ödeme ya da havale ile ödeme. Ödeme şeklini seçtikten sonra seçtiğiniz ödeme şekline göre detay ekranı gelmektedir. İstenilen verileri girdikten sonra "Satın Al" butonuna tıklayın.
                            </li>
                            <li class="mb-15">
                                5. Eğer ödemeyi kredi kartı ile yapacaksanız; siparişi onayladığınız anda, bilgiler net üzerinden özel bir geçiş yoluyla ödemeyi yapan veya ödemeyi teslim alan bankaların bu işlemi onayladıkları veya reddettikleri network işleme mekanizmasına (SSL) ulaşır. Kredi kartı bilgileriniz geçerli ise siparişiniz kabul edilir. Aldığınız ürünlerin ücreti banka yoluyla bize ulaşır. Sipariş olumlu bir şekilde tamamlandığı taktirde, müşteriye siparişiyle ilgili bilgilerin yer aldığı bir e-mail gönderilir. Satın alınan ürün, önceden anlaşılmış olan güvenilir bir kargo şirketlerinden müşterinin seçtiği biri tarafından, siparişi teslim alacak kişiye kimlik gösterilmesi karşılığında teslim edilir.
                                <br>
                                Eğer ödemeyi havale ya da EFT yoluyla yapmak isterseniz, ödeme yaptıktan sonra üye sayfanızdan "Havale/Eft Bildirim formu" nu doldurup "gönder" i tıklayınız.
                            </li>
                            <li class="mb-15">
                                6. Bu işlemler sonunda, sistem size otomatik olarak bir sipariş numarası verecektir ve sipariş izleme modülüne yönlendirecektir. Bu numara, daha sonra ödeme ve sipariş takip işlemlerinin gerçekleştirilmesi için mutlaka kaydedilmelidir.
                            </li>
                            <li class="mb-15">
                                7. Sipariş izleme modülü "ALIŞVERİŞ LİSTEM" yardımıyla yaptığınız siparişlerin durumunu istediğiniz zaman kontrol edebilirsiniz.
                            </li>


                        </ul>
                        <ul>
                            <li class="mb-15">
                                <b>Sitenize Üye Olmuştum Üye Adımı Hatırlıyorum Ama Şifremi Unuttum.Nasıl Öğrenebilirim?</b>
                                <br>
                                -Sınırsız danışma hattımızı arayarak ya da zopim canlı chat destek bölümümüzden yardım alabilirsiniz.Ya da sitemize üye olduğunuzda size gönderilen üye bilgilendirme mailinden de ulaşabilirsiniz.
                            </li>
                            <li class="mb-15">
                                <b>Sitenize Üyeyim,Bazen Sipariş Veriyorum.Size Verdiğim Tüm Siparişler Üyeliğimde Duruyor mu Yoksa Belli Sürelerle Siliniyor mu?</b>
                                <br>
                                -Hiçbir siparişiniz sistemden silinmez.Uzun yıllar geçse bile üyeliğinizde her zaman geçmiş siparişlerinizi görebilirsiniz.
                            </li>
                            <li class="mb-15">
                                <b>Neden Üye Olmalıyım?</b>
                                <br>
                                -Üye olmanız üyelerimize özel sunduğumuz özel kampanyalardan haberdar olmanızı ve faydalanmanızı sağlar.Ayrıca herzaman size özel sayfalarınıza girerek siparişinizin durumunu , kargo takip bilgilerinizi kontrol edebilirsiniz.


                            </li>
                            <li class="mb-15">
                                <b>Sitenize Üye Olmak Ücretli midir? Ya da Belli Bir Süre Sonra Ücrete Tabi Olacak mı?</b>
                                <br>
                                -Hayır.Sitemize tamamen ücretsiz olarak üye olunmaktadır.İleriki süreçte de herhangi bir üyelik ücreti sizden talep edilmeyecektir.
                            </li>
                        </ul>




                    </div>
                    <button class="accordion">Alışveriş İşlemleri hakkında sık sorulanlar</button>
                    <div class="panel">
                        <h4>Nasıl Alış Veriş Yapılır?</h4>
                        <h5>Elektronik alışveriş yapma adımları :</h5>
                        <ul>
                            <li class="mb-15">
                                1. Öncelikle sitemize üye olmanız gerekmektedir.
                                -Üye olabilmek için veya "Yeni Üye Kayıt" linklerini kullanabilirsiniz.
                            </li>
                            <li class="mb-15">
                                2. Almak istediğiniz ürünleri belirledikten sonra "Sepete Ekle" butonuna tıklayarak alışveriş sepetinize atabilirsiniz. Daha sonra ürün adedini artırabilirsiniz. Alışveriş sepetinin amacı, müşterinin seçer seçmez satın alma zorunluluğunu ortadan kaldırarak kolaylık sağlamaktır.

                            </li>
                            <li class="mb-15">
                                3. Alışveriş Sepetinizde ürünle ilgili fiyat ve diğer bilgileri görebilir. Ayrıca, ürünlerin miktarlarını değiştirebilir, sepetinizden çıkarabilirsiniz. Ürün fiyatları ve tutar bilgilerine KDV dahildir.

                            </li>
                            <li class="mb-15">
                                4. Sepetinizdeki ürünleri 2 farklı şekilde alabilirsiniz; Kredi kartı ile peşin ödeme ya da havale ile ödeme. Ödeme şeklini seçtikten sonra seçtiğiniz ödeme şekline göre detay ekranı gelmektedir. İstenilen verileri girdikten sonra "Satın Al" butonuna tıklayın.
                            </li>
                            <li class="mb-15">
                                5. Eğer ödemeyi kredi kartı ile yapacaksanız; siparişi onayladığınız anda, bilgiler net üzerinden özel bir geçiş yoluyla ödemeyi yapan veya ödemeyi teslim alan bankaların bu işlemi onayladıkları veya reddettikleri network işleme mekanizmasına (SSL) ulaşır. Kredi kartı bilgileriniz geçerli ise siparişiniz kabul edilir. Aldığınız ürünlerin ücreti banka yoluyla bize ulaşır. Sipariş olumlu bir şekilde tamamlandığı taktirde, müşteriye siparişiyle ilgili bilgilerin yer aldığı bir e-mail gönderilir. Satın alınan ürün, önceden anlaşılmış olan güvenilir bir kargo şirketlerinden müşterinin seçtiği biri tarafından, siparişi teslim alacak kişiye kimlik gösterilmesi karşılığında teslim edilir.
                                <br>
                                Eğer ödemeyi havale ya da EFT yoluyla yapmak isterseniz, ödeme yaptıktan sonra üye sayfanızdan "Havale/Eft Bildirim formu" nu doldurup "gönder" i tıklayınız.
                            </li>
                            <li class="mb-15">
                                6. Bu işlemler sonunda, sistem size otomatik olarak bir sipariş numarası verecektir ve sipariş izleme modülüne yönlendirecektir. Bu numara, daha sonra ödeme ve sipariş takip işlemlerinin gerçekleştirilmesi için mutlaka kaydedilmelidir.
                            </li>
                            <li class="mb-15">
                                7. Sipariş izleme modülü "ALIŞVERİŞ LİSTEM" yardımıyla yaptığınız siparişlerin durumunu istediğiniz zaman kontrol edebilirsiniz.
                            </li>


                        </ul>
                        <ul>
                            <li class="mb-15">
                                <b>Sadece Site Üzerinden Mi Sipariş Verebiliyorum? Yoksa Telefonla da Sipariş Verebilir Miyim?</b>
                                <br>
                                -İsterseniz sitemizden online bir şekilde siparişinizi verebilirsiniz.Ya da sitemizin iletişim kısmında yer alan numaralardan da bizi arayarak sipariş verebilirsiniz.
                                Ancak en sağlıklı olan site üzerinden sipariş vermenizdir.Böylelikle nezaman hangi siparişi verdiğinizi,siparişinizin onaylanıp onaylanmadığını,son durumunun ne olduğunu ve kargo takip bilgilerinizi rahatlıkla takip edebilirsiniz.
                            </li>
                            <li class="mb-15">
                                <b>İstanbul da ya da Farklı Şehirlerde Şubeniz Var mı?</b>
                                <br>
                                -Hayır. Yalova da hizmet veren ve sadece Yalova dan gönderim yapan bir firmayız.İstanbul ya da farklı hiçbir şehirde şubemiz bulunmuyor.
                            </li>
                            <li class="mb-15">
                                <b>Fidanları Görerek Almak İstiyorum.Mümkün mü?Yoksa Sadece Kargo İle Mi Gönderiyorsunuz?</b>
                                <br>
                                -Tabi ki mümkündür. Haftanın her günü 08:00- 17:00 arasında satış noktamıza gelip fidanlarınızı kendiniz seçebilirsiniz.İsterseniz burada seçtiğiniz fidanları kargo ile bile gönderebiliriz.<br>
                                Açık adres ve krokimiz İLETİŞİM bölümünde yer almaktadır.Ayrıca yine müşteri hizmetlerimizi arayarak detaylı yol tarifi de alabilirsiniz.

                            </li>
                            <li class="mb-15">
                                <b>Online Sipariş Verdim ve Ödeme Yaptım. Siparişimde Yer Alan Tüm Ürünler Stoklarda Mevcut mu Nasıl Emin Olabilirim?</b>
                                <br>
                                -Sitemiz herzaman güncel tutulmaktadır. Stoklarda mevcut olmayan hiç bir ürünün sizin sepetenize eklenmesine sistem izin vermez.Sepete eklediğiniz tüm ürünlerin mevcut olduğundan emin olabilirsiniz.
                            </li>
                            <li class="mb-15">
                                <b>Alacağım Fidan Açık Köklü mü Yoksa Tüplü Mü Geliyor?</b>
                                <br>
                                -Sitemizde hem açık köklü hem de tüplü fidanların satışı yapılmaktadır.Sertifikalı meyve fidanları kategorisindeki tüm ürünlerimiz tüplü/ saksılı olarak gelmektedir.Sertifikalı açık köklü meyve fidanları kategorisindeki tüm ürünlerse açık köklü olarak gönderilmektedir.
                                Açık köklü fidan dikiminin yapılamayacağı dönemlerde ise iki kategorideki tüm fidanların fiyatları aynı olacak şekilde güncellenmekte ve açık köklü yazan fidanlar da tüplü olarak gönderilmektedir.
                            </li>
                            <li class="mb-15">
                                <b>Açık Köklü Fidan Almak İstiyorum.Ne Zaman Almalıyım ve Dikmeliyim?</b>
                                <br>
                                -Açık köklü fidanlarımız kasım- nisan ayları arasında mevcut olmaktadır.Bu zaman diliminde satın alabilirsiniz.Satın alınan açık köklü fidanları hemen dikmeniz gerekmektedir.
                            </li>
                            <li class="mb-15">
                                <b>Açık Köklü Fidanların Tutma Olasılığı Nedir? Garanti Veriyor musunuz?</b>
                                <br>
                                -Açık köklü fidanlara maalesef garanti veremiyoruz.Genellikle hemen teslim alındığı gibi dikilen fidanlar tutmaktadır.Kök sistemini dikimde güzelce kapattıgınız surece tutma olasılıgını arttırırsınız. Ancak yine de açık köklü fidanların tutma şansının %85 olduğunu bilerek alışveriş yapmanızı tavsiye ederiz.
                            </li>
                            <li class="mb-15">
                                <b>Açık Köklü Fidanla Tüplü Fidan Arasındaki Fark Nedir?</b>
                                <br>
                                -Tüplü fidanlar kök sistemi oturmuş,tutmuş ve garantili fidanlardır.Sene boyunda dileğinizi zaman dikebilirsiniz.Dikim mevsimini beklemenize gerek yoktur.Yapraksız gelen ve bahar aylarında da hareketlenmeyen tutmayan fidanlar için bizimle irtibata geçebilirsiniz.
                                Açık köklü fidanlar ise topraktan sökülür ve kökleri hava almayacak şekilde ambalajlanıp gönderilen fidanlardır.Sadece kasım- nisan ayları arasında dikim yapılırsa tutar.Açık köklü fidanlarımızın tutması ile ilgili maalesef garanti veremiyoruz.Küçük bir ihtimal de olsa tutmama riskini bilerek alışveriş yapmanızı tavsiye ederiz.
                            </li>
                            <li class="mb-15">
                                <b>Meyve Fidanı Sipariş Vermek İstiyorum Ama genel Özellikleri (Yaş, Boy vs.) Bilmek İstiyorum.</b>
                                <br>
                                -Meyve fidanlarımız internet sitemizde ürün açıklamalarında farklı bir bilgi yazılmadığı takdirde genellikle 2,5-3 yaşındadır,boyları ise 100-150 cm arasındadır.
                            </li>
                            <li class="mb-15">
                                <b>Sipariş Vermek İstediğim Bazı Ürünlerde Boy ,Yaş Bilgisi Yer Almıyor,Bunları Nasıl Öğrenebilirim?</b>
                                <br>
                                -Herzaman sınırsız danışma hattımızı ya da sipariş hatlarımızı arayarak ürünlerin tüm özelliklerini müşteri hizmetleri personelimizden öğrenebilirsiniz.
                            </li>
                            <li class="mb-15">
                                <b>Neden Üye Olmalıyım?</b>
                                <br>
                                -Üye olmanız üyelerimize özel sunduğumuz özel kampanyalardan haberdar olmanızı ve faydalanmanızı sağlar.Ayrıca herzaman size özel sayfalarınıza girerek siparişinizin durumunu , kargo takip bilgilerinizi kontrol edebilirsiniz.
                            </li>
                        </ul>

                    </div>
                    <!--Burası Faq diğer sitedeki yapıda yapıldı göstermek için doğru yapı değil-->
                    <!--Foreach ile dönebilceğimiz doğru Yapı budur-->
                    <button class="accordion">Soru 3 </button>
                    <div class="panel">
                        <p>Cevap 3</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>