﻿@model ECommerce.Application.Client.ViewModels.Home.ShoppingProcedure
@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a>
                <span>&nbsp; @_resource["ShoppingProcedure"]</span>
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                <div class="single-header style-2">
                                    <h1 class="font-xl text-center text-uppercase">@_resource["ShoppingProcedure"]</h1>

                                </div>
                                <div class="single-content mb-50">
                                    <h6 class="font-md">Elektronik alışveriş yapma adımları:</h6>
                                    <p>
                                        "Вы можете «Покупать без членства» или  <a href="@Url.Action("Register", "Account")" class="color-lafred">"@_resource["Register"]"</a>; Вы можете делать покупки, оформив подписку на нашей странице. Став участником нашего сайта, вы сможете воспользоваться нашими специальными предложениями и преимуществами для участников.
                                    </p>

                                    <p>
                                        После того, как вы определите цвет и размер товаров, которые хотите купить, вы можете добавить их в корзину, нажав кнопку «Добавить в корзину». Вы можете изменить и контролировать количество продуктов, добавляемых в корзину. Цель корзины — обеспечить удобство, избавив покупателя от необходимости покупать товар, как только он его выберет.
                                    </p>

                                    <p>
                                        Вы можете увидеть цену и другую информацию о товаре в корзине, изменить количество товаров и удалить их из корзины. Информация о ценах и количестве товаров включает НДС.
                                    </p>

                                    <p>
                                        Вы можете увидеть цену и другую информацию о товаре в корзине, изменить количество товаров и удалить их из корзины. Информация о ценах и количестве товаров включает НДС.
                                    </p>

                                    <p>
                                        Если вы собираетесь произвести оплату кредитной картой; Как только вы подтвердите заказ, информация попадает на сетевой процессинговый механизм (SSL), где банки, осуществляющие платеж или принимающие платеж по специальному проходу через Интернет, одобряют или отклоняют эту транзакцию. Если данные вашей кредитной карты верны, ваш заказ будет принят. Стоимость продуктов, которые вы покупаете, поступает к нам через банк. Если заказ выполнен положительно, клиенту отправляется электронное письмо с информацией о его заказе. Приобретенный товар доставляется заказчику через выбранную заказчиком договорную грузовую компанию. Товар доставляется грузовой компанией в обмен на предъявление удостоверения личности получателю заказа.

                                    </p>

                                    <p>
                                        По окончании этих процессов система автоматически присвоит вам номер заказа и направит вас к модулю отслеживания заказов. Этот номер должен быть записан для последующих процессов оплаты и отслеживания заказа.
                                    </p>
                                    <p>
                                        ваши заказы, <a href="@Url.Action("Index","Acoount")" class="color-lafred">"Hesabım"</a>; Вы можете проверить это на вкладке «Мои заказы» в разделе. «Мои заказы» с доставкой вашего заказа до груза; Стадию вашего заказа вы можете узнать по ссылке «Где мой груз?» на вкладке.
                                    </p>

                                    <p>
                                        Если заказанные товары поставляются после подтверждения оплаты заказа, они доставляются к грузу в течение 24 часов. Продукция, которую необходимо поставить, будет доставлена ​​покупателю грузом не позднее, чем в течение 3 (трех) рабочих дней.
                                    </p>
                                    <p>
                                        Наша компания не несет ответственности за задержки с грузом из-за погодных условий и других форс-мажорных обстоятельств.
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>