﻿@model ECommerce.Application.Client.ViewModels.Home.WholeSale
@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a>
                <span></span>
                @_resource["WholeSale"]
            </div>
        </div>
    </div>
    <div class="page-content pt-30">
        <h1 class="font-xl text-center">LAFABA @_resource["WholeSale"]</h1>

        <div class="middle-container bg-white">
            <div class="row">
             
            </div>
        </div>

    </div>
</main>










































