﻿@model ECommerce.Application.Client.DataTransferObjects.ProductInformation
@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource

<div class="page-header breadcrumb-wrap">
    <div class="">
        <div class="breadcrumb pd-breadcrummb">
            <a href="@Url.Action("Index","Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i></a>
            @Html.Raw(Model.ProductInformationBreadcrumb.Html)
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-xl-12">
        <div class="product-detail accordion-detail">
            <div class="row mb-20 mt-30 mob-mt-0 justify-content-center position-relative">
                <div class="col-md-5 left-product-detail">
                    <div class="mb-md-0 mb-10">
                        <!--Gallery -->
                        <!-- THUMBNAILS -->
                        <div class="thumbBox mob-none">
                            <div class="slider-nav-thumbnails pd-slick">

                                @foreach (var productInformationPhoto in Model.ProductInformationPhotos)
                                {
                                    if (Model.ProductInformationPhotos.Count >= 2)
                                    {
                                        <div><img class="width-100px mb-10" src="@productInformationPhoto.FileName" alt="@Model.Name" /></div>

                                    }
                                }
                            </div>
                        </div>
                        <!-- THUMBNAILS -->
                        <div class="detail-gallery">
                            <div class="pd-icon-box">
                                @{
                                    var i = 1;


                                    foreach (var pt in Model.Product.ProductLabels)
                                    {
                                        <span class="hot hot-@i">@pt.Value</span>
                                        i++;
                                    }

                                    if (Model.Payor)
                                    {
                                        <span class="hot hot-@i">@_resource["FreeCargo"]</span>
                                        i++;
                                    }
                                }
                            </div>

                            <!-- MAIN SLIDES -->
                            <div class="product-image-slider">


                                @foreach (var productInformationPhoto in Model.ProductInformationPhotos)
                                {
                                    <figure class="pd-img-figure" data-scale="2.2" data-image="@productInformationPhoto.FileName">
                                        <a href="@productInformationPhoto.FileName" class="lightgallery">
                                            <img src="@productInformationPhoto.FileName">
                                        </a>
                                    </figure>


                                }


                            </div>


                        </div>
                        <!-- End Gallery -->
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="detail-info">
                        <h1 class="product-detail-name">@Model.Name</h1>
                        <div class="font-md">@_resource["ProductCode"]: @Model.StockCode</div>
                        <div class="clearfix product-price-cover">
                            <div class="product-price primary-color float-left">
                                @*      @if (Model.ProductInformationPrice.Discount > 0)
                                {
                                <span>
                                <span class="old-price font-md">@Model.ProductInformationPrice.ListUnitPrice ₺</span>
                                </span>
                                }*@

                                <span class="quickView-Current-Price current-price ">@Model.ProductInformationPrice.UnitPrice.ToString("N2") ₺</span>

                            </div>
                        </div>

                        <div id="product-variant">
                            @foreach (var vLoop in Model.Variants.OrderByDescending(x => x.Photoable))
                            {
                                <div class="attr-detail mb-10">
                                    <strong class="mr-15  mb-10">@vLoop.Name: </strong>

                                    @{
                                        string cssString = vLoop.Photoable ? "color-filter" : "size-filter";
                                    }

                                    <ul class="list-filter font-small @cssString">
                                        @foreach (var vvLoop in vLoop.VariantValues)
                                        {
                                            if (vvLoop.Active)
                                            {
                                                string selected = vvLoop.Selected ? (vvLoop.Sale ? "active" : "active-stock-out") : (vvLoop.Sale ? "" : "stock-out");

                                                if (vLoop.Photoable)
                                                {

                                                    <li class="@selected"><a href="javascript:ProductIndex.GetVariants(@vvLoop.ProductInformationId)"><img src="@vvLoop.ImageUrl" /></a></li>
                                                    @*<li class="@selected"><a href="@vvLoop.Url"><img src="@vvLoop.ImageUrl" /></a></li>*@

                                                }
                                                else
                                                {

                                                    <li class="@selected">
                                                        @*<a href="@vvLoop.Url"><span data-size="@vvLoop.Value" data-stock="1">@vvLoop.Value</span></a>*@
                                                        <a href="javascript:ProductIndex.GetVariants(@vvLoop.ProductInformationId)">
                                                            <span data-size="@vvLoop.Value" data-stock="1">@vvLoop.Value</span>

                                                        </a>
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                            }
                        </div>



                        <!--Varyant-->
                        <div class="detail-extralink mb-30 product-detail-fixed-button col-12 col-md-7">
                            @*<div class="detail-qty border radius product-qty">
                            <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                            <span class="qty-val">1</span>
                            <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                            </div>*@
                            <div class="product-detail-btn-box product-extra-link2">

                                <div id="product-shopping-cart">
                                    @if (Model.IsSale && Model.IsStock)
                                    {
                                        <a href="javascript:ShoppingCart.Add(@Model.Id, 1);" type="submit" class="button button-add-to-cart"><i class="fi-rs-shopping-cart"></i>@_resource["AddCart"]</a>
                                    }
                                    else
                                    {
                                        <a class="add action-btn action-btn pd-stock-btn width-100" href="#" aria-label="stock-info" data-bs-toggle="modal" data-bs-target="#stockModal">
                                            @_resource["NotifyWhenInStock"]
                                        </a>
                                    }
                                </div>

                                <a aria-label="call-center" class="action-btn hover-up call-center-btn d-flex align-items-center justify-content-center" href="https://api.whatsapp.com/send?phone=90@(Model.Company.CompanyContact.PhoneNumber)&text=@Model.Name%20Bilgi%20almak%20istiyorum"><img src="/themes/shoes/imgs/theme/icons/whatsapp.png" alt="whatsapp" /></a>

                            </div>
                        </div>
                        <!--Content & installment Tab-->
                        <div>
                            <ul class="nav nav-tabs text-uppercase  mb-10">
                                <li class="nav-item">
                                    <a class="product-detail-tab-item active" id="content-tab" data-bs-toggle="tab" href="#content">Açıklama</a>
                                </li>


                            </ul>
                        </div>
                        <div class="tab-content entry-main-content ">
                            <div class="tab-pane fade show active menu-tab-item " id="content">
                                <div class="short-desc product-spot">
                                    @(Html.Raw(Model.ProductInformationContent.Description))
                                </div>
                            </div>

                        </div>
                        <!--Content & installment Tab-->
                        <!-- Detail Info -->
                    </div>

                </div>

                <!--<div class="row mt-60">
                <div class="col-12">
                    <h2 class="section-title style-1 mb-30">İlgili Ürünler</h2>
                </div>-->
                <!--Popular Product Slider-->
                <!--Popular Product Slider-->
                <!--</div>-->
            </div>
        </div>

    </div>


</div>


<div class="container mb-30 ">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-10 m-auto p-0">



            <h2 class="section-title style-1 mb-30">Benzer Ürünler</h2>

            <div class="popular-products">
                @foreach (var pLoop in Model.CategoryProducts)
                {

                    @Html.PartialAsync($"/Themes/Shoes/Views/Product/productBox.cshtml", new ECommerce.Application.Common.DataTransferObjects.ProductComponent
                {
                ListUnitPrice = pLoop.ProductInformationPrice.ListUnitPrice,
                Name = pLoop.Name,
                ProductInformationId = pLoop.Id,
                ProductId = pLoop.Id,
                FileName = pLoop.ProductInformationPhotos.FirstOrDefault() != null ? pLoop.ProductInformationPhotos.FirstOrDefault().FileName : null,
                UnitPrice = pLoop.ProductInformationPrice.UnitPrice,
                Url = pLoop.Url,
                SubTitle = pLoop.SubTitle,
                VatRate = pLoop.ProductInformationPrice.VatRate,
                Discount = pLoop.ProductInformationPrice.Discount,
                ProductLabels = pLoop.Product.ProductLabels.Select(x => x.Value).ToList(),
                IsSale = pLoop.IsSale,
                Payor = pLoop.Payor
                }).Result
                    ;

                }
            </div>
            <div class="slider-arrow popular-products-arrow"></div>
        </div>
    </div>
</div>


<!--Stock Modal-->
<div class="modal fade custom-modal" id="stockModal" tabindex="-1" aria-labelledby="stockInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 mb-md-0 mb-sm-5 text-center">
                        <h4 class="d-flex align-items-center justify-content-center"> @Model.Name</h4>
                        <p class="text-center">Stoğa gelince sms ile haber almak için telefon numaranızı giriniz.</p>
                    </div>
                    <div class="form-group mt-30 position-relative d-flex">
                        <span class="stock-icon-text"><i class="fi-rs-add fi-rs-smartphone"></i> Sms için numaranızı giriniz.</span>
                        <input required type="text" name="stockPhone" id="stockPhone" value="" placeholder="0 (5__) ___ __ __" autocomplete="off" class="phone mr-20">
                        <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                        <a href="javascript:ProductIndex.ProductInformationSubscriptionCreate(@Model.Id)" class="btn action-btn d-flex align-items-center">@_resource["Submit"]</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Stock Modal-->



<script type="text/javascript">

    document.title = '@Html.Raw(Model.ProductInformationSeo.Title)';
    document.querySelector('meta[name="description"]').setAttribute("content", '@Html.Raw(Model.ProductInformationSeo.MetaDescription)');
    document.querySelector('meta[name="keywords"]').setAttribute("content", '@Html.Raw(Model.ProductInformationSeo.MetaKeywords)');
    window.history.pushState('@Html.Raw(Model.ProductInformationSeo.Title)', '@Html.Raw(Model.ProductInformationSeo.Title)', '/@Html.Raw(Model.Url)');


</script>
<script src="~/themes/shoes/js/views/product/zoom.js"></script>