﻿@model ECommerce.Application.Common.DataTransferObjects.ProductComponent
@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
<!--Producuct Component-->
@{
    var imageUrl = "/imgs/theme/no-image.png";
    if (Model.FileName != null)
    {
        imageUrl = Model.FileName;
    }
}
<div class="col-lg-1-3 col-md-3 col-6 col-sm-6 productBoxMain mb-15 mt-10 pl-5 pr-5">

    <div class="product-cart-wrap" data-wow-delay=".1s">
        <div class="product-badges product-badges-position product-badges-mrg">


            @{

                var i = 1;


                foreach (var pt in Model.ProductLabels)
                {
                    if (i == 3) continue;
                    <span class="hot hot-@i">@pt</span>
                    i++;

                }

                if (Model.Payor)
                {
                    <span class="hot hot-@i">@_resource["FreeCargo"]</span>
                    i++;
                }
            }

        </div>
        <div class="product-img-action-wrap">

            <div class="product-img product-img-zoom">
                <a href="@($"/{Model.Url}")">
                    @if (imageUrl != null)
                    {
                        <img class="default-img" src="@imageUrl" alt="@Model.Name" />

                    }
                    else
                    {
                        <img class="default-img lazy" src="~/imgs/theme/no-image.jpg" alt="@Model.Name" />
                    }
                </a>
            </div>


        </div>
        <div class="product-content-wrap">

            <h2><a href="@($"/{Model.Url}")">@Model.Name</a></h2>

            <div class="product-card-bottom">
                <div class="product-price">
              
                    <span>@Model.UnitPrice.ToString("N2") ₺</span>
                </div>
                @*     @if (Model.IsSale)
                {
                <div class="add-cart">
                @if (Model.ShoppingCartDiscount)
                {
                <a class="add" href="javascript:ShoppingCart.AddShoppingCartDiscount(@Model.ProductInformationId, 1);">

                <div class="addText">@_resource["AddCart"]</div>
                </a>
                }
                else
                {
                <a class="add" href="javascript:ShoppingCart.Add(@Model.ProductInformationId, 1);">

                <div class="addText">@_resource["AddCart"]</div>
                </a>
                }

                </div>
                }
                else
                {
                <a class="add action-btn stock-btn" href="#" aria-label="stock-info" data-bs-toggle="modal" data-bs-target="#stockModal-@Model.ProductInformationId">
                <div class="addText">@_resource["NotifyWhenInStock"]</div>
                </a>

                <!--Stock Modal-->
                <div class="modal fade custom-modal" id="stockModal-@Model.ProductId" tabindex="-1" aria-labelledby="stockInfoModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 mb-md-0 mb-sm-5 text-center">
                <h4 class="d-flex align-items-center justify-content-center"> <img class="stock-modal-product-img mr-10" src="@imageUrl" alt="@Model.Name" /> @Model.Name</h4>
                <p class="text-center">Stoğa gelince sms ile haber almak için telefon numaranızı giriniz.</p>
                </div>
                <div class="form-group mt-30 position-relative d-flex">
                <span class="stock-icon-text"><i class="fi-rs-add fi-rs-smartphone"></i> Sms için numaranızı giriniz.</span>

                <input required type="text" name="stockPhone" id="stockPhone" value="" placeholder="0 (5__) ___ __ __" autocomplete="off" class="phone mr-20" />
                <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>

                <a href="javascript:ProductIndex.ProductInformationSubscriptionCreate(@Model.ProductInformationId)" class="btn action-btn d-flex align-items-center">@_resource["SubmitText"]</a>



                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                <!--Stock Modal-->
                }*@
            </div>
        </div>
    </div>
</div>


<!--end product card-->
