﻿@model ECommerce.Application.Panel.ViewModels.GetXPayYSettings.Update

<form class="kt-form" id="get_x_pay_y_setting_update_form">

    <input type="hidden" name="id" value="@Model.GetXPayYSetting.Id" />

    <div class="kt-portlet__body">
        <div class="form-group row mb-4">

            <div class="col-lg-6 pos-relative">
                <label class="input-abs-text">Uygulama:</label>
                <select name="applicationId" class="form-control kt-selectpicker">
                  
                    @foreach (var aLoop in Model.Applications)
                    {
        <option value="@aLoop.Key" @(Model.GetXPayYSetting.ApplicationId == aLoop.Key ? "selected" : "")>@aLoop.Value</option>
}
                </select>
            </div>
              <div class="col-lg-6 pos-relative">
                <label class="input-abs-text">Ürün Fiyat Alt Limit:</label>
                <input type="text" name="xLimit" class="form-control" value="@Model.GetXPayYSetting.XLimit.ToString().Replace(",",".")" placeholder="X Limit giriniz" autocomplete="off">
            </div>
          

        

        </div>

        <div class="form-group row mb-4">
            <div class="col-lg-6 pos-relative">
                <label class="input-abs-text">X Adet Al:</label>
                <input type="text" name="x" class="form-control" value="@Model.GetXPayYSetting.X"  autocomplete="off">
            </div>

           <div class="col-lg-6 pos-relative">
                <label class="input-abs-text">Y Adet Öde:</label>
                <input type="text" name="y" class="form-control" value="@Model.GetXPayYSetting.Y"  autocomplete="off">
            </div>
        </div>

        <div class="form-group row">

           <div class="col-lg-5 pos-relative">
                <label class="input-abs-text">Başlangıç Tarihi:</label>
                <input type="text" name="startDateString" class="form-control kt-datetimepicker" value="@Model.GetXPayYSetting.StartDateString"  autocomplete="off">
            </div>

            <div class="col-lg-5 pos-relative">
                <label class="input-abs-text">Bitiş Tarihi:</label>
                <input type="text" name="endDateString" class="form-control kt-datetimepicker" value="@Model.GetXPayYSetting.EndDateString" autocomplete="off">
            </div>

            <div class="col-lg-2 flex-box">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" @(Model.GetXPayYSetting.Active ? "checked" : "")> Aktif
                    <span></span>
                </label>
            </div>

        </div>
    </div>

</form>