﻿<form class="kt-form" id="pivot_shelf_create_form">
    <div class="kt-portlet__body">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Depo:</label>
                    <select id="warehouse-id" name="warehouseId" class="form-control form-control-sm select-picker" data-live-search="true">
                        <option value="-1">Seçiniz</option>
                        @foreach (var warehouse in Model.Data)
                        {
                            <option value="@warehouse.Id">@warehouse.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Pivot:</label>
                    <select id="pivot-id" name="pivotId" class="form-control form-control-sm select-picker" data-live-search="true">
                        <option value="-1">Seçiniz</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Pivot Raf Adı:</label>
                    <input type="text" name="name" class="form-control form-control-sm" placeholder="Pivot Raf adı giriniz" required autocomplete="off">
                </div>
            </div>
        </div>

    </div>
</form>