﻿@model ECommerce.Panel.WebApp.Controllers.Warehouse.Pivots.PivotShelves.Update.ViewModel

<form class="kt-form" id="pivot_shelf_update_form">
    <div class="kt-portlet__body">

        <input type="hidden" name="id" class="form-control" value="@Model.PivotShelf.Data.Id">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Depo:</label>
                    <select id="warehouse-id" name="warehouseId" class="form-control form-control-sm select-picker" data-live-search="true">
                        <option value="-1">Seçiniz</option>
                        @foreach (var warehouse in Model.Warehouses.Data)
                        {
                            <option value="@warehouse.Id" @(Model.PivotShelf.Data.Pivot.WarehouseId == warehouse.Id ? "selected" : "")>@warehouse.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Pivot:</label>
                    <select id="pivot-id" name="pivotId" class="form-control form-control-sm select-picker" data-live-search="true">
                        <option value="-1">Seçiniz</option>
                        @foreach (var pivot in Model.Pivots.Data)
                        {
                            <option value="@pivot.Id" @(Model.PivotShelf.Data.Pivot.Id == pivot.Id ? "selected" : "")>@pivot.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Pivot Raf Adı:</label>
                    <input type="text" name="name" value="@Model.PivotShelf.Data.Name" class="form-control form-control-sm" placeholder="Pivot Raf adı giriniz" required autocomplete="off">
                </div>
            </div>
        </div>

    </div>
</form>