﻿@model ECommerce.Application.Panel.ViewModels.ShipmentCompanies.Update


    <form class="kt-form" id="shipment_company_update_form">

        <div class="kt-widget4">
            <input type="hidden" name="id" value="@Model.ShipmentCompanyCompany.Id" />

            @foreach (var accLoop in Model.ShipmentCompanyCompany.ShipmentCompanyConfigurations)
            {

                var index = Model.ShipmentCompanyCompany.ShipmentCompanyConfigurations.IndexOf(accLoop);
                <div class="kt-widget4__item">
                    <div class="kt-widget4__info">
                        <input type="hidden" name="shipmentCompanyConfigurations[@index][id]" value="@accLoop.Id" />
                        <span>@accLoop.Key</span>
                        <input type="text" name="shipmentCompanyConfigurations[@index][value]" class="form-control" value="@accLoop.Value" placeholder="Değer adı giriniz">

                    </div>
                </div>
            }
        </div>


    </form>
