﻿@model ECommerce.Application.Client.ViewModels.Home.Contact
@{
    ViewData["Title"] = "Bizimle İletişime Geçin";
    ViewData["Description"] = "Fidan İstanbul ekibi olarak 7/24 bizlere iletişim sayfamızdan ulaşabilirsiniz.";

}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")"><i class="fi-rs-home mr-5"></i>Ana Sayfa</a> <span></span>
                <h1 class="font-sm">İletişim</h1>
            </div>
        </div>
    </div>
    <div class="page-content pt-20">

        <section class="container mb-50 d-none d-md-block">
            <div class="border-radius-15 overflow-hidden">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.0662239492917!2d28.940714315045536!3d41.023807079299274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caba1841bbcd1f%3A0x4f52a5f04a305eb8!2sgozlukvegozluk!5e0!3m2!1str!2str!4v1670107225852!5m2!1str!2str" width="1800" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="mb-50">
                        <div class="row mb-60">
                            <div class="col-md-4 mb-4 mb-md-0">
                                <h4 class="mb-15 text-brand">Merkez Ofis</h4>
                               @Model.Company.CompanyContact.Address 
                            </div>
                            <div class="col-md-4 mb-4 mb-md-0">
                                <h4 class="mb-15 text-brand">Telefonlar</h4>
                                <a href="tel:+9@(Model.Company.CompanyContact.PhoneNumber)">@Model.Company.CompanyContact.PhoneNumber</a> <br>
                       
                                <a href="https://api.whatsapp.com/send?phone=9@(Model.Company.CompanyContact.PhoneNumber)&amp;text=Bilgi almak istiyorum">WhatsApp Bilgi Hattı</a>


                            </div>
                            <div class="col-md-4">
                                <h4 class="mb-15 text-brand">EPOSTA</h4>
                                <abbr title="Email">Email: </abbr><a href="mailto:@Model.Company.CompanyContact.Email">@Model.Company.CompanyContact.Email</a><br />

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="contact-from-area padding-20-row-col">
                                    <h5 class="text-brand mb-10">Online İletişim Formu</h5>

                                    <p class="text-muted mb-30 font-sm">7/24 formu doldurarak iletişime geçebilirsiniz. Sizlere en kısa sürede geri dönüş yapılacaktır. *</p>
                                    <form class="contact-form-style mt-30" id="contact-form" method="post">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <input name="name" id="contact-name-input" placeholder="Adınız Soyadınız.." type="text" autocomplete="off" required />
                                                    <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <input name="mail" class="mail" id="contact-mail-input" placeholder="E-Posta" type="email" autocomplete="off" required />
                                                    <div class="invalid-message-mail invalid-message" style="display: none;">Mailinizi kontrol ediniz.</div>
                                                    <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <input name="telephone" id="contact-phoneNumber-input" placeholder="Telefon" type="tel" autocomplete="off" required />
                                                    <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group">
                                                    <input name="subject" id="contact-subject-input" placeholder="Konu" type="text" autocomplete="off" required />
                                                    <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12">
                                                <div class="textarea-style mb-30 form-group">
                                                    <textarea name="message" id="contact-message-input" placeholder="Mesaj" autocomplete="off" required></textarea>
                                                    <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                                                </div>
                                               
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group d-flex justify-content-between width-100 flex-row-reverse recaptchaBox">
                                                    <div id="g-recaptcha"></div>
                                                    <button class="submit-auto-width contact-btn" onclick="ContactSave.save(event)" type="button">Gönder</button>
                                                </div>
                                            </div>
                                        </div>
                                      
                                    </form>
                                    <p class="form-messege"></p>
                                </div>
                            </div>
                            <div class="col-lg-4 pl-50 d-lg-block d-none">
                                <img class="border-radius-15 mt-50" src="/themes/watch/imgs/page/contact-2.jpg" alt="iletişim." />
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>


@section Js{
    <script src="https://www.google.com/recaptcha/api.js?onload=loadCaptcha&render=explicit" async defer></script>
}