﻿@model ECommerce.Application.Client.ViewModels.Categories.Index
@{
    ViewData["Title"] = " İndirimli Ürünler";
    ViewData["Description"] = "Stoklarla sınırlı indirimli ürünlerimizi satın alarak fırsatları değerlendirebilirsiniz.";

}

@{
    string pageItems = $"pc={Model.PageRecordsCount}&st={Model.PageSorting}";
    string propertyValueIds = "";

    if (Model.PropertyValueIds?.Count > 0)
    {
        propertyValueIds = $"/{string.Join("_", Model.PropertyValueIds)}-pv/";
    }
    <main class="main">
        <div class="page-header mt-15 mb-15">
            <div class="container">
                <div class="tag-header">
                    <div class="row align-items-center">
                        <div class="col-xl-5 category-breadbox">

                            <div class="breadcrumb">
                                <a href="@Url.Action("Index", "Home")"><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
                                <span></span>
                                Süper İndirimli Ürünler
                            </div>
                        </div>
                        <!--Category Tag Bar-->
                        <div class="col-xl-7 text-end d-none d-xl-block">
                            <ul class="tags-list">
                                <li class="font-md color-black find-end-text-discount"><h1 class="font-sm">%50 ve üzeri indirimlere sahip ürünlerimiz.</h1> </li>

                            </ul>
                        </div>
                        <!--Category Tag Bar-->
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-30">
            @if (Model.ProductInformations != null)
            {
                <div class="row flex-row-reverse shop-row justify-content-center">
                    <div class="col-lg-4-5">
                        <div class="shop-product-fillter">
                            <div class="totall-product">
                                <p>Toplam <strong>@Model.ProductCount</strong> üründen,<strong>@Model.PageProductCount</strong> adet listelendi.</p>
                            </div>
                            <div class="sort-by-product-area ">
                                <div class="sort-by-cover mr-10">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps"></i>Göster:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span>
                                                @Model.PageRecordsCount
                                                <i class="fi-rs-angle-small-down"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown ">
                                        <ul>
                                            <li><a @(Model.PageRecordsCount == 20 ? "class=active" : "") href="@($"discount{propertyValueIds}{$"?pc=20"}&st={Model.PageSorting}")">20</a></li>
                                            <li><a @(Model.PageRecordsCount == 50 ? "class=active" : "") href="@($"discount{propertyValueIds}{$"?pc=50"}&st={Model.PageSorting}")">50</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sırala:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            @{

                                                string sortingValue = "Sırala";

                                                switch (Model.PageSorting)
                                                {
                                                    case 1:
                                                        sortingValue = "Artan Fiyat";
                                                        break;
                                                    case 2:
                                                        sortingValue = "Azalan Fiyat";
                                                        break;
                                                    case 3:
                                                        sortingValue = "Alfabetik A dan Z'ye";
                                                        break;
                                                    case 4:
                                                        sortingValue = "Alfabetik Z dan A'ya";
                                                        break;

                                                }
                                            }

                                            <span>@sortingValue <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown ">
                                        <ul>

                                            <li><a @(Model.PageSorting == 1 ? "class=active" : "") href="@($"discount{$"?st=1"}&pc={Model.PageRecordsCount}")">Artan Fiyat</a></li>
                                            <li><a @(Model.PageSorting == 2 ? "class=active" : "") href="@($"discount{$"?st=2"}&pc={Model.PageRecordsCount}")">Azalan Fiyat</a></li>
                                            <li><a @(Model.PageSorting == 3 ? "class=active" : "") href="@($"discount{propertyValueIds}{$"?st=3"}&pc={Model.PageRecordsCount}")">Alfabetik A dan Z'ye</a></li>
                                            <li><a @(Model.PageSorting == 4 ? "class=active" : "") href="@($"discount{propertyValueIds}{$"?st=4"}&pc={Model.PageRecordsCount}")">Alfabetik Z dan A'ya</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row product-grid-4 justify-content-center" id="products" data-page="0">
                            @foreach (var pLoop in Model.ProductInformations)
                            {
                                if (pLoop.ProductInformationPrice.Discount >= 10)
                                {
                                    @Html.PartialAsync($"/themes/watch/Views/Product/productBox.cshtml", new ECommerce.Application.Common.DataTransferObjects.ProductComponent
                    {
                    ListUnitPrice = pLoop.ProductInformationPrice.ListUnitPrice,
                    Name = pLoop.Name,
                    ProductInformationId = pLoop.Id,
                    ProductId = pLoop.Id,
                    IsStock=pLoop.IsStock,
                    FileName = pLoop.ProductInformationPhotos.FirstOrDefault() != null ? pLoop.ProductInformationPhotos.FirstOrDefault().FileName : null,
                    UnitPrice = pLoop.ProductInformationPrice.UnitPrice,
                    Url = pLoop.Url,
                    SubTitle = pLoop.SubTitle,
                    VatRate = pLoop.ProductInformationPrice.VatRate,
                    IsSale = pLoop.IsSale,
                    Payor = pLoop.Payor,
                    Discount = pLoop.ProductInformationPrice.Discount,
                    ProductLabels = pLoop.Product.ProductLabels.Select(x => x.Value).ToList(),
                    ShoppingCartDiscount = false
                    }).Result
                                    ;

                                }
                            }
                        </div>

                        <!--product grid-->
                        <!--Pagination Number -->
                        <div class="pagination-area mt-20 mb-20">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">

                                    @for (int i = 0; i < Model.PagesCount; i++)
                                    {
                                        <li class="page-item">
                                            @if (Model.Page == i)
                                            {
                                                <span class="page-link page-link-active">@(i + 1)</span>
                                            }
                                            else
                                            {
                                                <a class="page-link" href="@($"/discount{propertyValueIds}{(i != 0 ? $"?p={i}&{pageItems}" : $"?{pageItems}")}")">@(i + 1)</a>
                                            }
                                        </li>

                                    }




                                </ul>
                            </nav>
                        </div>
                        <!--Pagination Number -->
                    </div>


                </div>
            }
            else
            {

                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-10 col-md-12 m-auto text-center">

                            <h5 class="mb-30">%50 Üzeri indirimli ürün bulunamadı</h5>
                            <p class="font-lg text-grey-700 mb-30">
                                Alışverişine aşağıdaki kategorilerimizi inceleyerek devam edebilirsin.
                            </p>

                            @foreach (var category in (List<ECommerce.Application.Client.DataTransferObjects.Category>)Model.Categories)
                            {


                                <a href="@($"/{category.Url}")" class="btn btn-default submit-auto-width font-xs hover-up mt-30"> @category.Name</a>
                            }

                        </div>
                    </div>
                </div>

            }


        </div>

    </main>
}