﻿@{
    ViewData["Title"] = "";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" ><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
                <span></span>
                <h1 class="font-sm">Banka Hesap Bilgileri</h1>
            </div>
        </div>
    </div>
    <div class="page-content pt-30">
        <div class="middle-container">
            <div class="row">
                <h1 class="font-xl">Hesap Numaralarımız</h1>

                <p class="mb-10">Havale veya Eft işlemleriniz de kullanacağınız sitemize ait hesap numaralarımız aşağıda listelenmektedir.</p>



                <h2 class="font-xl">Garanti Bankası</h2>
                <div class="mb-10">
                    <p>
                        HESAP ADI: <br>
                        ŞUBE: Yalova Şubesi (247)<br>
                        NO: 6668964<br>
                        IBAN TR
                    </p>
                </div>
                <hr />
                <h2 class="font-xl">PTT Posta Çeki Hesabı</h2>
                <div>
                    <p>
                        HESAP ADI: <br>
                        ŞUBE:  Şubesi<br>
                        NO: 6116083<br>
                        TL
                    </p>
                </div>

            </div>
        </div>
    </div>
</main>