﻿@model ECommerce.Application.Client.ViewModels.Payments.Index

@{
    Layout = null;
}

<html>
<body>
    <script type="text/javascript">
      @if (Model.Success)
        {
            <text>
            parent.handle3d(true, null, '@Model.DoneUrl');
            </text>
        }
        else
        {
            <text>
            parent.handle3d(false, '@Html.Raw(Model.Message)', null);
            </text>
        }
    </script>
</body>
</html>