﻿@model ECommerce.Application.Common.DataTransferObjects.ColumnComponent


    @{
        @if (Model.SliderComponents?.Count != 0)
        {

            <div class="home-slide-cover ptb-0">
                <div class="hero-slider style-4 dot-style-1 dot-style-1-position-1">
                    @foreach (var slider in Model.SliderComponents)
                    {
                        @Html.PartialAsync($"/themes/baby/Views/Components/Slider-Component.cshtml", slider).Result
                    }
                </div>
                <div class="slider-arrow hero-slider-arrow"></div>
            </div>

        }
        @if (Model.BannerComponents?.Count != 0)
        {

            @foreach (var banner in Model.BannerComponents)
            {
                <div class="col-lg-4 col-md-6 mb-10 mt-10 pl-5 pr-5">
                    <div class="banner-img wow " data-wow-delay="0">
                    @Html.PartialAsync($"/themes/baby/Views/Components/Banner-Component.cshtml", banner).Result
                    </div>
                </div>
            }



        }
        @if (Model.ProductComponents?.Count != 0)
        {
            @foreach (var product in Model.ProductComponents)
            {

            @Html.PartialAsync($"/themes/baby/Views/Product/productBox.cshtml", product).Result

            }

        }

    }

