﻿@model ECommerce.Application.Panel.ViewModels.FacebookConfigrations.Create

<form class="kt-form kt-form--label-right" id="facebookConfigration_create_form">
    <div class="kt-portlet__body">

        <div class="form-group">
            <div class="col-lg-6">

                <label>Kod:</label>
                <input type="text" class="form-control" name="code" placeholder="kodu giriniz" autocomplete="off" required>

            </div>

            <div class="col-lg-6">

                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" checked> Aktif
                    <span></span>
                </label>

            </div>
        </div>
    </div>
</form>