﻿@model ECommerce.Application.Panel.ViewModels.FacebookConfigrations.Update
<form class="kt-form kt-form--label-right" id="facebookConfigration_update_form">
    <div class="kt-portlet__body">

        <input type="hidden" name="id" value="@Model.FacebookConfigration.Id" />

        <div class="form-group row">
          

            <div class="col-lg-6 pos-relative">

                <label class="input-abs-text">@Model.FacebookConfigration.Name:</label>
                <input type="text" class="form-control" name="code" value="@Model.FacebookConfigration.Code"  autocomplete="off" required>

            </div>


            <div class="col-lg-6 flex-box">
                <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                    <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" @Html.Raw(Model.FacebookConfigration.Active ? "checked" : "")> Aktif
                    <span></span>
                </label>
            </div>

        </div>

    </div>
</form>