﻿@model ECommerce.Application.Panel.ViewModels.ShoppingCartDiscountedProducts.Create

<form class="kt-form kt-form--label-right" id="shopping_cart_discounted_product_create_form">

    <div class="kt-portlet__body">

        <div class="form-group row">
            <label>İndirim:</label>
            <label class="text-danger"> (Lütfen oranı başında sıfır olarak (0.10) gibi giriniz)</label>
            <input type="number" name="[shoppingCartDiscountedProductSetting][discount]" class="form-control" placeholder="İndirim giriniz" autocomplete="off">
        </div>

        <div class="form-group row">
            <label class="kt-checkbox">
                <input type="checkbox" name="[shoppingCartDiscountedProductSetting][discountIsRate]:boolean" value="true" data-unchecked-value="false" checked> İndirim Oransal
                <span></span>
            </label>
        </div>

        <div class="form-group row">

            <label>Ürün:</label>
            <select name="productId" class="form-control kt-selectpicker">

                @foreach (var pLoop in Model.Products)
                {
    <option value="@pLoop.Key">@pLoop.Value</option>}
            </select>

        </div>

        <div class="form-group row">

            <label>Uygulama:</label>
            <select name="applicationId" class="form-control kt-selectpicker">

                @foreach (var aLoop in Model.Applications)
                {
    <option value="@aLoop.Key">@aLoop.Value</option>}
            </select>

        </div>

        <div class="form-group row">
            <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" checked> Aktif
                <span></span>
            </label>
        </div>

    </div>

</form>