﻿@model ECommerce.Application.Panel.ViewModels.ShoppingCartDiscountedProducts.Update

<form class="kt-form" id="shopping_cart_discounted_product_update_form">

    <input type="hidden" name="id" value="@Model.ShoppingCartDiscountedProduct.Id" />

    <div class="kt-portlet__body">

        <div class="form-group row">
            <label>İndirim:</label>
            <label class="text-danger"> (Lütfen oranı başında sıfır olarak (0.10) gibi giriniz)</label>
            <input type="number" name="[shoppingCartDiscountedProductSetting][discount]" value="@Model.ShoppingCartDiscountedProduct.ShoppingCartDiscountedProductSetting.Discount.ToString().Replace(",",".")" class="form-control" placeholder="İndirim giriniz" autocomplete="off">
        </div>

        <div class="form-group row">
            <label class="kt-checkbox">
                <input type="checkbox" name="[shoppingCartDiscountedProductSetting][discountIsRate]:boolean" value="true" data-unchecked-value="false" @(Model.ShoppingCartDiscountedProduct.ShoppingCartDiscountedProductSetting.DiscountIsRate ? "checked" : "")> İndirim Oransal
                <span></span>
            </label>
        </div>

        <div class="form-group row">

            <label>Ürün:</label>
            <select name="productId" class="form-control kt-selectpicker">
                @foreach (var pLoop in Model.Products)
                {
                    <option value="@pLoop.Key" @(Model.ShoppingCartDiscountedProduct.ProductId == pLoop.Key ? "selected" : "")>@pLoop.Value</option>
                }
            </select>

        </div>

        <div class="form-group row">

            <label>Uygulama:</label>
            <select name="applicationId" class="form-control kt-selectpicker">

                @foreach (var aLoop in Model.Applications)
                {
                    <option value="@aLoop.Key" @(Model.ShoppingCartDiscountedProduct.ApplicationId == aLoop.Key ? "selected" : "")>@aLoop.Value</option>
                }
            </select>

        </div>
        <div class="form-group row">
            <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" @(Model.ShoppingCartDiscountedProduct.Active ? "checked" : "")> Aktif
                <span></span>
            </label>
        </div>
    </div>

</form>