﻿@model ECommerce.Application.Client.DataTransferObjects.ProductInformation
@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource



<div class="page-header breadcrumb-wrap">
    <div class="container">
        <div class="breadcrumb pd-breadcrummb">
            <a href="@Url.Action("Index","Home")"><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
            @Html.Raw(Model.ProductInformationBreadcrumb.Html)
        </div>
    </div>
</div>

<div class="container mb-30 ">
    <div class="col-xl-10 col-lg-12 m-auto">

        <div class="row justify-content-center">

            <div class="col-xl-10">
                <div class="product-detail accordion-detail">
                    <div class="row mb-20 mt-30 mob-mt-0">
                        <div class="col-md-5 col-sm-12 col-xs-12 mb-md-0 mb-10">
                            <div class="detail-gallery">
                                <div class="pd-icon-box">
                                    @{
                                        var i = 1;
                                        if (Model.Payor)
                                        {
                                            <span class="hot hot-@i">Kargo Bedava</span>
                                            i++;
                                        }

                                        foreach (var pt in Model.Product.ProductLabels)
                                        {

                                            <span class="hot hot-@i">@pt.Value</span>
                                            i++;
                                        }
                                    }
                                </div>
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    @foreach (var productInformationPhoto in Model.ProductInformationPhotos)
                                    {
                                        <figure class="border-radius-10 pd-img-figure zoom" onmousemove="zoom(event)" style="background-image: url(@productInformationPhoto.FileName)">
                                            <img src="@productInformationPhoto.FileName" alt="@Model.Name" />
                                        </figure>
                                    }
                                </div>
                                <!-- THUMBNAILS -->
                                <div class="slider-nav-thumbnails pd-slick">

                                    @foreach (var productInformationPhoto in Model.ProductInformationPhotos)
                                    {
                                        if (Model.ProductInformationPhotos.Count >= 2)
                                        {
                                            <div><img src="@productInformationPhoto.FileName" alt="@Model.Name" /></div>
                                        }
                                    }
                                </div>
                            </div>
                            <!-- End Gallery -->
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="detail-info pr-30 pl-30">

                                <h1 class="product-detail-name">@Model.FullName</h1>
                                <div class="sub-title">@Model.SubTitle</div>


                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">

                                        @if (@Model.ProductInformationPrice.Discount > 0)
                                        {
                                            <span>
                                                <span class="save-price font-md color3 ">%@Model.ProductInformationPrice.Discount İndirim</span>
                                                <span class="old-price font-md">@Model.ProductInformationPrice.ListUnitPrice ₺</span>
                                            </span>
                                        }

                                        <span class="quickView-Current-Price current-price text-brand ">@Model.ProductInformationPrice.UnitPrice.ToString("N2") ₺</span>


                                    </div>
                                </div>

                                <div class="short-desc product-spot @(Model.ProductInformationPhotos.Count >= 2 ? "inThumb" : "noThumb")">
                                    @(Html.Raw(Model.ProductInformationContent.Description))
                                </div>
                                <div class="mt-10 mb-10 pd-category-name">Kategori: <span class="color-orange"><a href="@Model.Product.Categories[0].Url">@Model.Product.Categories[0].Name</a></span></div>

                                @if (Model.Product.ProductInformations.Count > 1)
                                {


                                    <div id="product-variant">

                                        <div class="attr-detail mb-10 ">

                                            <ul class="list-filter font-small color-filter variant-box">
                                                @foreach (var vLoop in Model.Product.ProductInformations)
                                                {
                                                    string selected = vLoop.Id == Model.Id ? "active" : "";

                                                    <li class="@selected variant-item"><a href="@vLoop.Url">@vLoop.VariantValuesDescription</a></li>
                                                }

                                            </ul>
                                        </div>
                                    </div>

                                }

                                <div class="detail-extralink mb-30 product-detail-fixed-button">
                                    @*<div class="detail-qty border radius product-qty">
                                    <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                    <span class="qty-val">1</span>
                                    <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                    </div>*@
                                    <div class="product-detail-btn-box product-extra-link2">
                                        @if (Model.IsSale)
                                        {
                                            <a href="javascript:ShoppingCart.Add(@Model.Id, 1);" type="submit" class="button button-add-to-cart"><i class="fi-rs-shopping-cart"></i>Sepete Ekle</a>
                                        }
                                        else
                                        {
                                            <a class="add action-btn action-btn pd-stock-btn width-100" href="#" aria-label="stock-info" data-bs-toggle="modal" data-bs-target="#stockModal-@Model.Id">
                                                Haber Ver
                                            </a>
                                        }
                                        <a aria-label="call-center" class="action-btn hover-up call-center-btn d-flex align-items-center justify-content-center" href="https://api.whatsapp.com/send?phone=90@(Model.Company.CompanyContact.PhoneNumber)&text=@Model.Name%20Bilgi%20almak%20istiyorum"><img src="/themes/cosmetic/imgs/theme/icons/whatsapp.png" alt="whatsapp" /></a>

                                    </div>
                                </div>
                                <div class="font-xs">

                                    <ul class="d-flex">
                                        <li class="mb-5 mr-10">SKU: <a href="#">@Model.Stock</a></li>
                                        <li class="mb-5 mr-10">Barkod: @Model.Barcode</li>
                                        @*<li class="mb-5">Etiket: <a href="#" rel="tag">@Model.Product.Categories.Select(x=</a>, <a href="#" rel="tag">Turunç</a>, <a href="#" rel="tag">Fidan</a></li>*@
                                        <li>Stok:<span class="in-stock text-brand ml-5">@Model.StockCode Adet</span></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Detail Info -->
                        </div>

                    </div>
                    <div class="product-info">
                        <div class="tab-style3">
                            <ul class="nav nav-tabs text-uppercase">
                                <li class="nav-item">
                                    <a class="nav-link active" id="Description-tab" data-bs-toggle="tab" href="#Description">Detaylar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Vendor-info-tab" data-bs-toggle="tab" href="#Vendor-info">Uzman Görüşü</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="product-feature-tab" data-bs-toggle="tab" href="#product-features">Ürün Özellikleri</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Coments">Yorumlar (@Model.ProductInformationComments.Count)</a>
                                </li>
                            </ul>
                            <div class="tab-content shop_info_tab entry-main-content">
                                <div class="tab-pane fade show active" id="Description">
                                    <div class="">
                                        @Html.Raw(Model.ProductInformationContent.Content)


                                        <!--TAGS-->
                                        @*           <div class="product-content-tag">
                                        @if (Model.ProductInformationContent.Tags != null)
                                        foreach (var tLoop in Model.ProductInformationContent.Tags)
                                        {
                                        <a href="/@Model.Url">@tLoop</a>
                                        }
                                        </div>*@
                                        <!--TAGS-->


                                    </div>
                                </div>
                                <div class="tab-pane fade" id="Vendor-info">

                                    @Html.Raw(Model.ProductInformationContent.ExpertOpinion)
                                </div>
                                <div class="tab-pane fade" id="product-features">
                                    <ul class="">
                                        @foreach (var productProperty in Model.Product.ProductProperties)
                                        {
                                            <li class="mb-5">@productProperty.Property: <a href="/fidan-bul/@productProperty.PropertyValueId-pv" class="text-brand">@productProperty.Value</a></li>

                                        }


                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="Coments">
                                    @if (Model.ProductInformationComments.Count > 0)
                                    {


                                        <!--Comments-->
                                        <div class="comments-area">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <h4 class="mb-30">Müşteri soruları ve cevapları</h4>
                                                    <div class="comment-list">

                                                        @foreach (var productInformationComment in Model.ProductInformationComments)
                                                        {

                                                            <div class="single-comment justify-content-between d-flex mb-30">
                                                                <div class="user justify-content-between d-flex">
                                                                    <div class="thumb text-center d-flex flex-column position-relative">
                                                                        <img src="/themes/cosmetic/imgs/blog/author-2.png" alt="@productInformationComment.FullName" />
                                                                        <a href="#" class="font-heading text-brand customer-comment-name">@productInformationComment.FullName</a>
                                                                    </div>
                                                                    <div class="desc">
                                                                        <div class="d-flex justify-content-between mb-10">
                                                                            <div class="d-flex align-items-center">
                                                                                <span class="font-xs text-muted">@productInformationComment.CreatedDateStr</span>
                                                                            </div>
                                                                            @*     <div class="product-rate d-inline-block">
                                                                    <div class="product-rating" style="width: @productInformationComment.RatingPercent.ToString().Replace(",",".")%"></div>
                                                                    </div>*@
                                                                        </div>
                                                                        <p class="mb-10">@productInformationComment.Comment </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }



                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!--comment form-->
                                    }
                                    @if (true)
                                    {
                                        <div class="comment-form">
                                            <h4 class="mb-15">Yorum Ekle</h4>
                                            <!--Rate Comment-->
                                            <!--Rate Comment-->
                                            <div class="row">
                                                <div class="col-lg-8 col-md-12">
                                                    <form class="form-contact comment_form" id="commentForm">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <input class="form-control" name="name" id="name" autocomplete="off" type="text" placeholder="Adınız" required />
                                                                    <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">


                                                                    <div class="rate">
                                                                        <input type="hidden" id="rate-star" value="0" />
                                                                        @for (int rs = 5; rs >= 1; rs--)
                                                                        {
                                                                            <a class="rate__star" id="rate-star-@rs" onclick="ProductIndex.RateStar(@rs)" href="#rate-star-@rs" data-rate="@rs"><i class="fa fa-star"></i></a>

                                                                        }

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <textarea class="form-control w-100" name="comment" id="comment" placeholder="Yorumunuz" required></textarea>
                                                                    <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                                                                </div>
                                                            </div>



                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" onclick="ProductIndex.ProductInformationCommentCreate(@Model.Id)" class="button button-contactForm">Yorumu Gönder</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row mt-60">
                        <div class="col-12">
                            <h2 class="section-title style-1 mb-30">İlgili Ürünler</h2>
                        </div>-->
                    <!--Popular Product Slider-->
                    <!--Popular Product Slider-->
                    <!--</div>-->
                </div>
            </div>

        </div>

    </div>



</div>

<div class="container mb-30 ">
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8 m-auto p-0">



            <h2 class="section-title style-1 mb-30">Benzer Ürünler</h2>

            <div class="popular-products">
                @foreach (var pLoop in Model.CategoryProducts)
                {

                    @Html.PartialAsync($"/Themes/Cosmetic/Views/Product/productBox.cshtml", new ECommerce.Application.Common.DataTransferObjects.ProductComponent
                {
                ListUnitPrice = pLoop.ProductInformationPrice.ListUnitPrice,
                Name = pLoop.FullName,
                ProductInformationId = pLoop.Id,
                ProductId = pLoop.Id,
                FileName = pLoop.ProductInformationPhotos.FirstOrDefault() != null ? pLoop.ProductInformationPhotos.FirstOrDefault().FileName : null,
                UnitPrice = pLoop.ProductInformationPrice.UnitPrice,
                Url = pLoop.Url,
                SubTitle = pLoop.SubTitle,
                VatRate = pLoop.ProductInformationPrice.VatRate,
                Discount = pLoop.ProductInformationPrice.Discount,
                ProductLabels = pLoop.Product.ProductLabels.Select(x => x.Value).ToList(),
                IsSale = pLoop.IsSale,
                Payor = pLoop.Payor
                }).Result
                    ;

                }
            </div>
            <div class="slider-arrow popular-products-arrow"></div>
        </div>
    </div>
</div>


<!--Stock Modal-->
<div class="modal fade custom-modal" id="stockModal-@Model.Id" tabindex="-1" aria-labelledby="stockInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 mb-md-0 mb-sm-5 text-center">
                        <h4 class="d-flex align-items-center justify-content-center"> @Model.Name</h4>
                        <p class="text-center">Stoğa gelince sms ile haber almak için telefon numaranızı giriniz.</p>
                    </div>
                    <div class="form-group mt-30 position-relative d-flex">
                        <span class="stock-icon-text"><i class="fi-rs-add fi-rs-smartphone"></i> Sms için numaranızı giriniz.</span>
                        <input required type="text" name="stockPhone" id="stockPhone" value="" placeholder="0 (5__) ___ __ __" autocomplete="off" class="phone mr-20">
                        <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                        <a href="javascript:ProductIndex.ProductInformationSubscriptionCreate(@Model.Id)" class="btn action-btn d-flex align-items-center">Gönder</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Stock Modal-->
<!--Comment Modal-->
<div class="modal fade custom-modal" id="comment-@Model.Id" tabindex="-1" aria-labelledby="commentModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<!--Comment Modal-->
<!--Şimdilik kapatıldı varinataçlınca ürün etkiketleri yani tags eklenmesi grekiyor eklemeden açma-->
@*<script type="text/javascript">
    \
    document.title = '@Html.Raw(Model.ProductInformationSeo.Title)';
    document.querySelector('meta[name="description"]').setAttribute("content", '@Html.Raw(Model.ProductInformationSeo.MetaDescription)');
    document.querySelector('meta[name="keywords"]').setAttribute("content", '@Html.Raw(Model.ProductInformationSeo.MetaKeywords)');
    window.history.pushState('@Html.Raw(Model.ProductInformationSeo.Title)', '@Html.Raw(Model.ProductInformationSeo.Title)', '/@Html.Raw(Model.Url)');


</script>*@


<!--Comment Modal-->