﻿@model ECommerce.Application.Panel.ViewModels.Notifications.Index

<!-- Pagination::Begin -->
<div class="row mt25">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__body">

                <!--begin: Pagination-->
                <div class="kt-pagination kt-pagination--brand">
                    <div class="kt-pagination__toolbar flex-wrap">
                        <div class="pos-relative mr-3 flex-child">
                            <label class="input-abs-text">Sıralama</label>
                            <select class="kt-hidden-select2 ajax_data_sorting" onchange="NotificationIndex.ChangeSorting(this)">
                                <option value="Id">Sipariş No</option>
                                <option value="OrderDate">Sipariş Tarihi</option>
                            </select>
                        </div>
                        <div class="pos-relative mr-3 flex-child">
                            <label class="input-abs-text">Kayıt Sayısı</label>
                            <select class="kt-hidden-select2 ajax_data_length" onchange="NotificationIndex.ChangePageRecordsCount(this)">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <span class="pagination__desc flex-child">
                            ...
                        </span>
                    </div>
                    <div class="pagination-box">
                        <ul class="kt-pagination__links">
                            ...
                        </ul>
                    </div>
                </div>

                <!--end: Pagination-->
            </div>
        </div>
    </div>
</div>
<!-- Pagination::End -->
<!-- Pagination::End -->
<div class="row">
    <div class="col-md-12">
        <div class="kt-grid__item kt-grid__item--fluid">
            <div class="kt-portlet kt-portlet--mobile ">
                <div class="kt-portlet__head kt-portlet__head--lg">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon2-cube-1"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Ürünler
                        </h3>
                    </div>

                </div>
                <div class="kt-portlet__body">

                    <div class="dataTables_wrapper dt-bootstrap4 no-footer">

                        <div class="row">
                            <div id="kt_table_1_filter" class="dataTables_filter orderFilterBox flex-box">

                                <div class="form-group">
                                    <label class="pos-relative">
                                        <span class="input-abs-text"> Bildirim Tipi</span>
                                        <select id="ajax_data_search_type" class="ot-selectpicker" multiple style="width: 23%;">

                                            @foreach (var ntLoop in Model.NotificationTypes)
                                            {
                                                <option value="@ntLoop.Key">@ntLoop.Value</option>
                                            }

                                        </select>
                                    </label>
                                </div>


                                <div class="form-group">
                                    <label>
                                        <span class="label-text">Pazaryeri:&nbsp;</span>
                                        <select id="ajax_data_search_marketplace"
                                                class="form-control kt-select2 marketplace-select"
                                                onchange="NotificationIndex.Read(0)">
                                            <option value="-1">Tümü</option>
                                            @foreach (var mpLoop in Model.Marketplaces)
                                            {
                                                <option data-html="<img height='30' width='90' src='org/img/marketplace-icons/@(mpLoop.Key).png'/>"
                                                    value="@mpLoop.Key">
                                                    @mpLoop.Value
                                                </option>
                                            }
                                        </select>
                                    </label>
                                </div>

                                <div class="form-group">

                                    <label class="kt-input-icon kt-input-icon--left">
                                        <span class="label-text"> Ürün Adı:</span>

                                        <input id="ajax_data_search_name" type="text" class="form-control" placeholder="Ürün Adı Arama..." onchange="NotificationIndex.Read(0)">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>

                                    </label>

                                </div>


                                <div class="form-group">
                                    <label>
                                        <span class="label-text"> Ürün Model Kodu:</span>
                                        <input id="ajax_data_search_model_code" type="text" class="form-control" placeholder="Model Kodu Arama..." aria-controls="kt_table_1" onchange="NotificationIndex.Read(0)">
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <span class="label-text"> Ürün Stok Kodu:</span>
                                        <input id="ajax_data_search_stock_code" type="text" class="form-control" placeholder="Ürün Stok Kodu Arama..." aria-controls="kt_table_1" onchange="NotificationIndex.Read(0)">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>
                                        <span class="label-text"> Ürün Barkod:</span>
                                        <input id="ajax_data_search_barcode" type="text" class="form-control" placeholder="Barkod Arama..." aria-controls="kt_table_1" onchange="NotificationIndex.Read(0)">
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="row">

                            <input id="ajax_data_page" type="hidden" value="0" />

                            <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
                                <thead>
                                    <tr>
                                        <th width="10%">Pazaryeri</th>
                                        <th width="10%">Bildirim Tipi</th>
                                        <th width="30%">İsim</th>
                                        <th width="40%">Mesaj</th>
                                        <th width="10%">Tarih</th>
                                    </tr>
                                </thead>
                                <tbody id="ajax_data"></tbody>
                            </table>

                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="ajax_data_info" role="status" aria-live="polite"></div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pagination::Begin -->
<div class="row">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__body">

                <!--begin: Pagination-->
                <div class="kt-pagination kt-pagination--brand">
                    <div class="kt-pagination__toolbar flex-wrap">

                 @*       <div class="pos-relative mr-3 flex-child">
                            <label class="input-abs-text">Kayıt Sayısı</label>
                            <select class="kt-hidden-select2 ajax_data_length" onchange="NotificationIndex.ChangePageRecordsCount(this)">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>*@
                        <span class="pagination__desc flex-child">
                            ...
                        </span>
                    </div>
                    <div class="pagination-box">
                        <ul class="kt-pagination__links">
                            ...
                        </ul>
                    </div>
                </div>

                <!--end: Pagination-->
            </div>
        </div>
    </div>
</div>
<!-- Pagination::End -->
@section Scripts {
    <script src="/org/library/js/jquery-validation.js?v=0.7" charset="utf-8"></script>
    <script src="/org/library/js/jquery-serializer.js?v=0.7"></script>
    <script src="/org/library/js/jquery-table.js?v=4.0"></script>
    <script src="/org/library/js/jquery-autocomplete.js?v=0.7"></script>
    <script src="/org/js/views/notification/index.js"></script>

}