﻿@model ECommerce.Application.Panel.ViewModels.Notifications.Index

@if (Model.NotificationItems.Count == 0)
{
    <div class="kt-grid kt-grid--ver" style="min-height: 200px;">
        <div class="kt-grid kt-grid--hor kt-grid__item kt-grid__item--fluid kt-grid__item--middle">
            <div class="kt-grid__item kt-grid__item--middle kt-align-center">
                Herşey yolunda!
                <br>Gösterilecek bir uyarı bulunamadı.
            </div>
        </div>
    </div>
}
else
{
    foreach (var theModel in Model.NotificationItems)
    {
        <div class="kt-notification__item notf-@theModel.Id">
            <div class="kt-notification__item-icon">
                <div>
                    @if (string.IsNullOrEmpty(theModel.PhotoUrl) == false)
                    {
                        <img src="@theModel.PhotoUrl" />
                    }

                    @*<button type="button" class="btn btn-brand mt-3" onclick="Layout.Delete('@theModel.MarketplaceRequestTypeId', '@theModel.Id')">Sil</button>*@

                @*    @if (theModel.MarketplaceRequestTypeId == "UP")
                    {
                        <button type="button" class="btn btn-brand mt-3" onclick="Layout.OpenPriceUpdateModal(@theModel.ProductId)">Aç</button>
                    }
                    else if (theModel.MarketplaceRequestTypeId == "US")
                    {
                        <button type="button" class="btn btn-brand mt-3" onclick="Layout.OpenStockUpdateModal(@theModel.ProductInformationId)">Aç</button>
                    }*@
                </div>
            </div>
            <div class="kt-notification__item-details">
                <div class="kt-notification__item-title">
                    <img src="/org/img/marketplace-icons/@(theModel.MarketplaceId).png" width="60" />
                </div>

                <div class="kt-notification__item-time">
                    @theModel.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss")
                </div>

                <div class="mt-3">
                    <div>
                        Hata Mesajı:
                    </div>
                    @theModel.Message
                </div>

                <div class="mt-3">
                    <div>Barkod:</div>
                    <a style="font-weight: 500" href="javascript:navigator.clipboard.writeText('@theModel.Barcode');Notify.Show(NotifyType.Info, '<b>@theModel.Barcode</b> kopyalandı.');">
                        @theModel.Barcode <i class="la la-copy"></i>
                    </a>
                </div>

                <div class="mt-3">
                    <div>Stok Kodu:</div>
                    <a style="font-weight: 500" href="javascript:navigator.clipboard.writeText('@theModel.StockCode');Notify.Show(NotifyType.Info, '<b>@theModel.StockCode</b> kopyalandı.');">
                        @theModel.StockCode <i class="la la-copy"></i>
                    </a>
                </div>

                <div>
@*                    <button type="button" class="btn btn-warning mt-3" onclick="Layout.Ignore(@theModel.Validation.ToString().ToLower(), @theModel.ValidationNotificationId, @theModel.MarketplaceRequestDetailId, @theModel.ProductInformationMarketplaceId, '@theModel.MarketplaceRequestTypeId')">Bu Ürünü Bir Daha Gösterme</button>
                    <button type="button" class="btn btn-danger mt-3" onclick="Layout.Delete(@theModel.Validation.ToString().ToLower(), @theModel.ValidationNotificationId, @theModel.MarketplaceRequestDetailId, '@theModel.MarketplaceRequestTypeId')">Sil</button>*@
                </div>
            </div>
        </div>
    }
}