﻿@model ECommerce.Application.Panel.ViewModels.Labels.Update


<form class="kt-form" id="label_update_form">

    <div class="kt-portlet__body">

        <input type="hidden" name="id" value="@Model.Label.Id" />

        <div class="form-group row">

            <div class="col-lg-12">

                <div class="kt-portlet kt-portlet--tabs">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-toolbar">
                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-line-2x" role="tablist">

                                @foreach (var lLoop in Model.Languages)
                                {
                                    var active = Model.Languages.IndexOf(lLoop) == 0 ? "active" : "";
                                    <li class="nav-item">
                                        <a class="nav-link @active" data-toggle="tab" href="#tab_content_@lLoop.Key" role="tab">
                                            @lLoop.Value
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>

                    <div class="kt-portlet__body">
                        <div class="tab-content">

                            @for (int i = 0; i < Model.Languages.Count; i++)
                            {
                                var labelTranslation = Model.Label.LabelTranslations.FirstOrDefault(ct => ct.LanguageId == Model.Languages[i].Key);
                                if (labelTranslation == null) continue;
                                var active = i == 0 ? "active" : "";
                                <div class="tab-pane @active" id="tab_content_@Model.Languages[i].Key" role="tabpanel">

                                    <input type="hidden" name="labelTranslations[@i][languageId]" value="@Model.Languages[i].Key" />

                                    <div class="form-group pos-relative">
                                     <label class="input-abs-text">İsim:</label>
                                    <input type="text" class="form-control" name="labelTranslations[@i][value]" value="@labelTranslation.Value" autocomplete="off" required>
                                    </div>

                                </div>
                            }

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-12">
            <div class="row">
              <div class="form-group pos-relative col-lg-8">
                  <label class="input-abs-text">Sıra:</label>
                    <input type="number" class="form-control" name="displayOrder" placeholder="Sıra giriniz" value="@Model.Label.DisplayOrder" autocomplete="off" required>
                </div>
                <div class="form-group col-lg-4 flex-box">
                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--brand">
                        <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" @Html.Raw(Model.Label.Active ? "checked" : "")> Aktif
                        <span></span>
                    </label>
                </div>
            </div>

             </div>


        </div>

    </div>

</form>