﻿@model ECommerce.Application.Panel.ViewModels.LicenseCheck3ds.Index

@{
    Layout = null;
}

<html>
<head>
    <script type="text/javascript">
        @if (Model.Success)
        {
            <text>
                parent.handle3d(true, null);
            </text>
        }
        else
        {
            <text>
                parent.handle3d(false, '@Html.Raw(Model.Message)');
            </text>
        }
    </script>
</head>
<body>
</body>
</html>