﻿@model ECommerce.Application.Panel.ViewModels.Products.ProductInformationCombinePartial


@foreach (var picLoop in Model.ProductInformationCombines)
{

    var index = Model.ProductInformationCombines.IndexOf(picLoop);

    <tr id="product-information-combine-@picLoop.ContainProductInformationId"
    data-product-information-name="@picLoop.Name"
    data-product-information-index="@index">

        <td>
            <button type="button" class="btn btn-danger" onclick="ProductIndex.DeleteProductInformationCombines(@picLoop.ContainProductInformationId,'@picLoop.Name')">Sil</button>
        </td>
        <td class="align-middle">
            <span class="widget11__sub">@picLoop.Name </span>
            <input type="hidden" name="productInformations[0][productInformationCombines][@index][containProductInformationId]" value="@picLoop.ContainProductInformationId" />
            <input type="hidden" name="productInformations[0][productInformationCombines][@index][id]" value="@picLoop.Id" />

        </td>
        <td>
            <span class="widget11__sub">
                <input type="number"
                   id="product-information-combine-quantity-@picLoop.ContainProductInformationId"
                   class="form-control touchspin"
                   value="@picLoop.Quantity"
                   placeholder="Adet"
                   name="productInformations[0][productInformationCombines][@index][quantity]" />
            </span>
        </td>
    </tr>
}