﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@{
    ViewData["Title"] = "Şifremi Unuttum";
    ViewData["Description"] = "Şifrenizi unutmanız durumunda üye olurken ilettiğiniz iletişim kanallarına doğrulama kodu ileteceğiz, bu kod ile şifrenizi yenileyebilirsiniz";

}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index","Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a> <span></span>
                <a href="@Url.Action("ForgotPassword","Account")" rel="nofollow">@_resource["ForgotMyPassword"]</a>
            </div>
        </div>
    </div>
    <div class="page-content pt-50 pb-150">
        <div class="container">
            <div class="row">

                <form id="forgot-password-form" class="col-xs-12  col-xl-4 m-auto">
                    <div class="form-group">
                        <input type="text" name="username" placeholder="Пожалуйста, введите имя пользователя.." required />
                        <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                    </div>

                    <div class="form-group mb-30 m-auto  justify-content-center">
                        <button class="btn btn-fill-out btn-block hover-up font-weight-bold" type="button" onclick="AccountForgotPassword.Submit()">@_resource["SubmitText"]</button>
                    </div>

                    <div id="g-recaptcha"></div>
                </form>
            </div>
        </div>
    </div>
</main>