﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@model ECommerce.Application.Client.ViewModels.Accounts.Index
@{
    ViewData["Title"] = "Hesabım";
    ViewData["Description"] = "Kişisel bilgilerinizi ve son siparişlerinizin durumunu detaylı inceleyebilirsiniz.";

}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a>
                <span></span>
                @_resource["MyAccount"]
            </div>
        </div>
    </div>
    <div class="page-content pt-100 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>            @_resource["MyAccount"]</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>@_resource["Orders"]</a>
                                    </li>
                                    @*<li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Sipariş Takibi</a>
                                        </li>*@
                                    <li class="nav-item">
                                        <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true">
                                            <i class="fi-rs-marker mr-10"></i>мои адреса
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>@_resource["AccountDetail"]</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:AccountLogout.Close()"><i class="fi-rs-sign-out mr-10"></i>@_resource["LogOut"]</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content account dashboard-content pl-50">
                                <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">Привет @Model.Customer.Name @Model.Customer.Surname</h3>


                                            <span>Siparişinizde kullanabileceğiniz Para Puan tutarı :</span> <strong class="color-orange"> @Model.CustomerUser.MoneyPointAmount ₺</strong>

                                        </div>
                                        <div class="card-body">
                                            <p>
                                                Последние заказы из панели управления аккаунтом <span class="color-filter">по порядку</span> Вы можете использовать табл.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">@_resource["Orders"]</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Номер заказа</th>
                                                            <th>История</th>
                                                            <th>Продукты</th>
                                                            <th>Всего</th>
                                                            <th>положение дел</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var order in Model.Orders)
                                                        {
                                                            <tr>
                                                                <td>@order.Id</td>
                                                                <td>@order.CreatedDateStr</td>
                                                                <td>@Html.Raw(string.Join("<br/>", order.OrderDetails.Select(od => $"{od.Quantity} x {od.ProductInformation.Name}")))</td>
                                                                <td>@order.Total</td>
                                                                <td>@order.OrderType.OrderTypeTranslation.Name  </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">@_resource["OrderTracking"]</h3>
                                        </div>
                                        <div class="card-body contact-from-area">
                                            <p>Вы можете узнать последний статус вашего груза, используя номер телефона, который вы указали на этапе заказа, и номер заказа, который мы отправили вам по SMS после заказа. </p>
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <form class="contact-form-style mt-30 mb-50" action="#" method="post">
                                                        <div class="input-style mb-20">
                                                            <label>Номер заказа</label>
                                                            <input name="order-id" placeholder="Sipariş Numaranız" type="text" />
                                                        </div>
                                                        <div class="input-style mb-20">
                                                            <label>Номер телефона получателя.</label>
                                                            <input name="billing-tel" placeholder="Телефон покупателя" type="tel" />
                                                        </div>
                                                        <button class="submit submit-auto-width" type="submit">@_resource["Checkit"]</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Customer Addres-->
                                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                    <div class="d-flex flex-wrap" id="customer-address">
                                        <h6 class="account-adres-head">Teslimat Adresi</h6>
                                        @Html.PartialAsync("CustomerAddressesPartial", Model.Customer.CustomerAddresses).Result

                                    </div>
                                    <div class="d-flex flex-wrap" id="customer-invoice-address">
                                        <h6 class="account-adres-head">Fatura Adresi</h6>
                                        @Html.PartialAsync("CustomerInvoiceInformationsPartial", Model.Customer.CustomerInvoiceInformations).Result
                                    </div>
                                </div>

                                <!--Customer Addres-->
                                <!--Account Detail-->
                                <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between">
                                            <h5>Обновление информации</h5>  <a href="#" class="font-weight-bold color-filter" aria-label="reset-info" data-bs-toggle="modal" data-bs-target="#member-account-Modal" id="resetAccountBtn">@_resource["PasswordUpdate"]</a>
                                        </div>
                                        <div class="card-body">
                                            <form method="post" id="member-update-form">
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label>@_resource["Name"]<span class="required">*</span></label>
                                                        <input required class="form-control" value="@Model.Customer.Name" type="text" name="customer-name" autocomplete="off" />
                                                        <div class="invalid-message account-detail-invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>@_resource["Surname"] <span class="required">*</span></label>
                                                        <input required class="form-control" value="@Model.Customer.Surname" name="customer-surname" autocomplete="off" />
                                                        <div class="invalid-message account-detail-invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>Telefon <span class="required">*</span></label>
                                                        <input required class="form-control phone" id="accountPhone" value="@Model.Customer.CustomerContact.Phone" name="customer-customerContact-phone" autocomplete="off" />
                                                        <div class="invalid-message account-detail-invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label>Mail <span class="required">*</span></label>
                                                        <input required class="form-control" type="email" value="@Model.Customer.CustomerContact.Mail" name="customer-customerContact-mail" autocomplete="off" />
                                                        <div class="invalid-message account-detail-invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <div class="custome-checkbox ">
                                                            <input class="form-check-input" type="checkbox" name="account-sms-verify" id="account-sms-verify">
                                                            <label class="form-check-label label_info" for="account-sms-verify"><span>Sms ile kampanyalardan haberdar olmak istiyorum.</span></label>
                                                        </div>
                                                        <div class="custome-checkbox ">
                                                            <input class="form-check-input" type="checkbox" name="account-mail-verify" id="account-mail-verify">
                                                            <label class="form-check-label label_info" for="account-mail-verify"><span>Mail ile kampanyalardan haberdar olmak istiyorum.</span></label>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-7">
                                                        <button type="button" class="btn btn-fill-out submit font-weight-bold" onclick="AccountMember.Submit()" name="submit" value="Submit">@_resource["Обновить информацию"]</button>
                                                    </div>

                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <!--Account Detail-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Reset Modal-->
    <div class="modal fade custom-modal" id="member-account-Modal" tabindex="-1" aria-labelledby="stockInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">

                            <form method="post" id="member-change-password-form">
                                <div class="form-group">
                                    <label>Şifre<span class="required"> *</span></label>
                                    <input required class="form-control" placeholder="Şifre" type="password" name="customer-new-password" autocomplete="off" />
                                    <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                </div>
                                <div class="form-group">
                                    <label>Şifre Tekrar <span class="required"> *</span></label>
                                    <input required class="form-control" type="password" placeholder="Şifre Tekrar" name="customer-new-password-again" autocomplete="off" />
                                    <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                </div>
                                <div class="col-md-7">
                                    <button type="button" class="btn btn-fill-out submit font-weight-bold" onclick="AccountMember.ChangePassword()" name="submit" value="Submit">Bilgileri Güncelle</button>
                                </div>
                            </form>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Reset Modal-->
</main>


@section Js{
    <script src="~/themes/black/js/views/account/customer-address.js"></script>
    <script src="~/themes/black/js/views/account/customer-invoice-address.js"></script>
    <script src="/themes/black/js/views/account/member.js"></script>
}