﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@{
    ViewData["Title"] = "Giriş Yap";
    ViewData["Description"] = "Mevcut bir üyelğiniz var ise üyelik bilgilerinizi kullanarak giriş yapabilirsiniz.";

}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a>
                <span></span>
               @_resource["Login"]
            </div>
        </div>
    </div>
    <div class="page-content pt-50 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                    <div class="row">
                        <div class="col-lg-6 pr-30 d-none d-lg-block">
                            <img class="border-radius-15" src="/imgs/page/login.png" alt="" />
                        </div>
                        <div class="col-lg-6 col-md-8">
                            <div class="login_wrap widget-taber-content background-white">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h1 class="mb-5">    @_resource["Login"]</h1>
                                        <p class="mb-30"><a href="@Url.Action("Register","Account")">@_resource["Register"].</a></p>
                                    </div>
                                    <form method="post" id="login-form">
                                        <div class="form-group">
                                            <input type="text" required name="username" id="username" placeholder="@_resource["UserName"] *" />
                                            <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                        </div>
                                        <div class="form-group">
                                            <input required type="password" name="password" id="password" placeholder="Şifreniz *" />
                                            <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                        </div>

                                 
                                        <div class="form-group">
                                            <button type="button" class="btn btn-heading btn-block hover-up" value="Giriş Yap" onclick="AccountLogin.Login()" name="login">@_resource["Login"]</button>
                                        </div>

                                        <div id="g-recaptcha"></div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Js{
    <script src="https://www.google.com/recaptcha/api.js?onload=loadCaptcha&render=explicit" async defer></script>
}