﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@{
    ViewData["Title"] = "Üye Ol";
    ViewData["Description"] = "Fırsat ve kampanyalardan faydalanmak ve hızlı sipariş kolaylığı için lütfen formu doldurup üye olunuz.";

}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a>
                <span></span>
               @_resource["Register"]
            </div>
        </div>
    </div>
    <div class="page-content pt-50 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="login_wrap widget-taber-content background-white">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">

                                        <p class="mb-30">У тебя есть аккаунт? <a href="@Url.Action("Login", "Account")">@_resource["Login"]</a></p>
                                    </div>
                                    <form method="post" id="register-form" class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <input type="text" required name="username" placeholder="@_resource["UserName"]" autocomplete="off" />
                                                <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>

                                            </div>
                                            <div class="form-group">
                                                <input type="text" required name="customerName" id="name" placeholder="@_resource["Name"]" autocomplete="off" />
                                                <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" required name="customerSurname" id="surname" placeholder="@_resource["Surname"]" autocomplete="off" />
                                                <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <input type="text" required name="customerContactPhone" id="registerPhone" class="phone" placeholder="@_resource["Phone"]" autocomplete="off" />
                                                <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" required name="customerContactMail" class="mail" placeholder="Mail" autocomplete="off" />
                                                <div class="invalid-message-mail invalid-message" style="display: none;">@_resource["ValidateMailText"]</div>
                                                <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                            </div>
                                            <div class="form-group">
                                                <input required type="password" name="password" placeholder="Şifre" id="rpassword" autocomplete="off" />
                                                <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                            </div>
                                            <div class="form-group">
                                                <input required type="password" name="passwordAgain" placeholder="Şifre Tekrar" id="rpasswordAgain" autocomplete="off" />
                                                <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                                            </div>
                                        </div>
                                        @*<div class="login_footer form-group">
                                                <div class="chek-form">
                                                    <input type="text" required name="email" placeholder="Güvenlik Kodu *" />
                                                </div>
                                                <span class="security-code">
                                                    <b class="text-new">1</b>
                                                    <b class="text-hot">2</b>
                                                    <b class="text-sale">3</b>
                                                    <b class="text-best">4</b>
                                                </span>
                                            </div>*@
                                        @*<div class="customer-option mb-50">
                                                <div class="custome-radio">
                                                    <input class="form-check-input" required type="radio" name="customer-option" id="person" checked />
                                                    <label class="form-check-label" for="person" data-bs-toggle="collapse">Bireysel</label>
                                                </div>
                                                <div class="custome-radio">
                                                    <input class="form-check-input" required type="radio" name="customer-option" id="corporate" />
                                                    <label class="form-check-label" for="corporate" data-bs-toggle="collapse">Kurumsal</label>
                                                </div>
                                            </div>*@
                                        <div class="login_footer form-group mb-50">
                                            <div class="chek-form">
                                                <div class="custome-checkbox">
                                                    <input class="form-check-input" type="checkbox" name="checkbox" id="registerPrivacy" value="Я прочитал членское соглашение, я принимаю" />
                                                    <label class="form-check-label" for="registerPrivacy"><span> <a href="@Url.Action("RegisterContract", "Home")" target="_blank">Соглашение о членстве</a> я прочитал я принимаю</span></label>
                                                </div>
                                            </div>
                                            <a href="@Url.Action("RegisterContract", "Home")" target="_blank"><i class="fi-rs-book-alt mr-5 text-muted"></i>@_resource["Examine"]</a>
                                        </div>
                                        <div class="form-group mb-30 col-xs-12 col-md-6  justify-content-center">
                                            <button type="button" onclick="AccountRegister.Register(event)" class="btn btn-fill-out btn-block hover-up font-weight-bold" name="register">@_resource["Register"]</button>
                                        </div>

                                        <div id="g-recaptcha"></div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-lg-6 pr-30 d-none d-lg-block">
                                  <div class="card-login mt-50">
                                      <a href="#" class="social-login facebook-login">
                                          <img src="/imgs/theme/icons/logo-facebook.svg" alt="facebook ile bağlan" />
                                          <span>Facebook İle Kayıt Ol</span>
                                      </a>
                                      <a href="#" class="social-login google-login">
                                          <img src="/imgs/theme/icons/logo-google.svg" alt="google ile bağlan" />
                                          <span>Google İle Kayıt Ol</span>
                                      </a>

                                  </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--Register Verify Sms Modal-->

<div class="modal fade custom-modal" id="smsModal" tabindex="-1" aria-labelledby="smsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h4 class="modal-title">Смс-подтверждение</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <form id="modal-sms-form" autocomplete="off">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label id="modal-sms-phone-number"></label>
                        </div>

                        <div class="form-group col-md-12">
                            <label>Telefon numaranıza gelen doğrulama kodunu giriniz</label>
                        </div>

                        <div class="form-group col-md-12">

                            <input type="number" required maxlength="6" name="modalSmsCode" id="modalSmsCode" class="form-control input-lg" placeholder="Sms Kodunu giriniz" autocomplete="off" />
                            <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>

                        </div>
                        <div class="form-group col-md-12 d-flex justify-content-between">

                            <div class="form-group">
                                <button type="button" id="modal-trysms-form-button" onclick="AccountRegister.Register(event)" class="btn btn-lg btn-block btn-card  bg-orange">Tekrar Sms Gönder</button>
                            </div>
                            <div class="form-group">
                                <button type="button" onclick="AccountRegister.Register(event)" id="modal-sms-form-button" class="btn btn-lg btn-block btn-special">Onayla</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Sms Modal-->

@section Js{
    <script src="https://www.google.com/recaptcha/api.js?onload=loadCaptcha&render=explicit" async defer></script>
}