﻿@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@model ECommerce.Application.Client.ViewModels.Accounts.ResetPassword
@{
    ViewData["Title"] = "Şifre Resetleme";
    ViewData["Description"] = "Şifrenizi resetlemek için yeni şifrenizi 2 kere giriniz.";

}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Home")" rel="nofollow"><i class="fi-rs-home mr-5"></i>@_resource["Home"]</a> <span></span>
                <a href="@Url.Action("ResetPassword", "Account")" rel="nofollow">@_resource["PasswordUpdate"]</a>
            </div>
        </div>
    </div>

    <div class="page-content pt-50 pb-150">
        <div class="container">
            <div class="row">
                <form id="reset-password-form" class="col-xs-12  col-xl-4 m-auto">
                    <div class="form-group">

                        <input type="hidden" name="token" value="@Model.Token" />
                    </div>
                    <div class="form-group">
                        <input type="password" name="new-password" placeholder="Yeni şifrenizi giriniz." required />
                        <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                    </div>
                    <div class="form-group">
                        <input type="password" name="new-password-again" placeholder="Yenişifrenizi tekrar giriniz." required />
                        <div class="invalid-message" style="display: none;">@_resource["ValidateNullMessage"]</div>
                    </div>
                    <div class="form-group mb-30 m-auto  justify-content-center">
                        <button class="btn btn-fill-out btn-block hover-up font-weight-bold" type="button" onclick="AccountResetPassword.Submit()">@_resource["SubmitText"]</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</main>


