﻿<div class="row mt25">

    <div class="col-md-12">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Renk Bazlı Satış Raporu
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">

                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tarih Aralığı:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="la la-calendar"></i>
                                    </span>
                                </div>
                                <input class="form-control" id="ajax_data_report_date" autocomplete="off" value="@Html.Raw($"{DateTime.Now:dd-MM-yyyy} / {DateTime.Now:dd-MM-yyyy}")" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Model Kodu:</label>
                            <input id="ajax_data_search_seller_code" class="form-control" onchange="ColorBasedSalesReportIndex.Refresh()" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Sku:</label>
                            <input id="ajax_data_search_sku_code" class="form-control" onchange="ColorBasedSalesReportIndex.Refresh()" />
                        </div>
                    </div>

                    @if (Model != null)
                    {
                        <div class="col-md-3">
                            <label>Pazaryeri</label>
                            <select class="form-control" id="ajax_data_marketplace_id">
                                <option value="">Tümü</option>
                                @foreach (var mLoop in Model.Marketplaces)
                                {
                                    <option value="@mLoop.Key">@mLoop.Value</option>
                                }
                            </select>
                        </div>
                    }

                </div>

                <div class="row">

                    <div class="col-md-3">

                        <div class="form-group">
                            <label>Kategorizasyon</label>
                            <select class="form-control" id="ajax_data_categorization" data-live-search="true">
                                <option value="" selected>Tümü</option>
                            </select>
                        </div>

                    </div>

                    <div class="col-md-3">

                        <div class="form-group">
                            <label>Tedarikçi</label>
                            <select class="form-control" id="ajax_data_brand" data-live-search="true">
                                <option value="" selected>Tümü</option>
                            </select>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <label>Son 3 Gün</label>
                        <select class="form-control" id="ajax_data_last_3_day">
                            <option value="">Tümü</option>
                            <option value="15">15</option>
                            <option value="7">7</option>
                            <option value="3">3</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label> Ortalama Satış</label>
                        <select class="form-control" id="ajax_data_average">
                            <option value="">Tümü</option>
                            <option value="15">15</option>
                            <option value="7">7</option>
                            <option value="3">3</option>
                        </select>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-3">
                        <label>Kategori</label>
                        <select class="form-control" id="ajax_data_category_id" data-live-search="true">
                            <option value="0">Tümü</option>
                            @foreach (var cLoop in Model.Categories)
                            {
                                <option value="@cLoop.Key">@cLoop.Value</option>
                            }
                        </select>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-12">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Renkler <span class="kt-badge kt-badge--info kt-badge--inline kt-badge--pill" id="total-quantity"></span> <span class="kt-badge kt-badge--info kt-badge--inline kt-badge--pill" id="total-stock"></span>
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">

                <div class="dataTables_wrapper dt-bootstrap4 no-footer">

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                        </div>
                        <div class="col-sm-12 col-md-6">
                        </div>
                    </div>

                    <div id="report-partial" class="row"></div>

                </div>

            </div>
        </div>

    </div>
</div>

<!-- Modal::Begin-->
<div class="modal fade" id="report_modal" tabindex="-1" role="dialog" aria-labelledby="modal-2" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div id="modal_body" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
<!-- Modal::Begin-->
<div class="modal fade" id="last_36_modal" tabindex="-1" role="dialog" aria-labelledby="modal-2" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="min-width: 99% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ay/Kategorize Rapor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div id="last_36_modal_body" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
<style>
    #last_36_modal{
        padding: 0 !important;
    }
</style>
@section Scripts {
    <script src="/org/js/views/report/color-based-sales-report.js?v=2.6"></script>
    <script src="/org/js/views/report/modal-index.js"></script>
}