﻿@model ECommerce.Application.Panel.ViewModels.Reports.ColorBasedSalesReportPartial

<table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline" id="color-based-sales-table">
    <thead>
        <tr>
            <th>Fotoğraf</th>
            <th style="cursor: pointer; color: #5867dd !important;">Model Kodu</th>
            <th style="cursor: pointer; color: #5867dd !important;" sorting-type="number">Satılan Adet</th>
            <th style="cursor: pointer; color: #5867dd !important;" sorting-type="number">Kalan Adet</th>
            <th style="cursor: pointer; color: #5867dd !important;">Sku Kodu</th>
            <th>Ürün Kategorizasyonları</th>
            <th>Marka</th>
            <th style="cursor: pointer; color: #5867dd !important;">Ürün</th>
            <th>Son 30 Gün</th>
            <th>Son 7 Gün</th>
            <th>Son 3 Gün</th>
            <th>Ortalama Satış</th>
        </tr>
    </thead>
    @if (Model.Datas?.Items?.Count == 0)
    {
        <tr>
            <td colspan="11">Gösterilecek veri bulunamadı</td>
        </tr>
    }

    @foreach (var oprLoop in Model.Datas.Items)
    {
        <tr data-last-3-day="@oprLoop.DailyStock" data-average="@oprLoop.AverageStock" data-categorization="@oprLoop.CategorizationsString" data-brand="@oprLoop.BrandsString">
            <td>
                <a href="@oprLoop.FileName" target="_blank">
                    <img width="50" src="https://imgr.helpy.com.tr/img/@oprLoop.FileName/resize?size=150" />
                </a>
            </td>
            <td>
                <div style="margin-top: 5px">
                    <a style="font-weight: 500" href="javascript:navigator.clipboard.writeText('@oprLoop.SellerCode');Notify.Show(NotifyType.Info, '<b>@oprLoop.SellerCode</b> kopyalandı.' );">@oprLoop.SellerCode <i class="la la-copy"></i> </a>

                    <a href="javascript:ColorBasedSalesReportIndex.OpenStockModal(@oprLoop.ProductId, undefined, @oprLoop.HasReceipt.ToString().ToLower())">Aç</a>
                </div>

                @if (oprLoop.HasReceipt)
                {

                    <div class="kt-font-danger" style="margin-top: 5px">
                        <i class="fa fa-info-circle"></i>&nbsp;
                        Sipariş Mevcut!
                    </div>
                }
            </td>
            <td>@oprLoop.Quantity.ToString("")</td>
            <td>@oprLoop.Stock.ToString("")</td>
            <td>
                <div style="margin-top: 5px">
                    <a style="font-weight: 500" href="javascript:navigator.clipboard.writeText('@oprLoop.SkuCode');Notify.Show(NotifyType.Info, '<b>@oprLoop.SkuCode</b> kopyalandı.' );">@oprLoop.SkuCode <i class="la la-copy"></i> </a>

                    <a href="javascript:ColorBasedSalesReportIndex.OpenStockModal(@oprLoop.ProductId, '@oprLoop.SkuCode')">Aç</a>
                </div>
                <div style="margin-top: 5px">
                    <a href="javascript:ColorBasedSalesReportIndex.OpenLast36('@oprLoop.ProductId', '@oprLoop.SkuCode')">
                        <i class="la la-table"></i> Ay/Kategorize Rapor
                    </a>
                </div>
            </td>
            <td>
                @foreach (var theCategorization in oprLoop.Categorizations)
                {
                    <div>@theCategorization</div>
                }
            </td>
            <td>
                @foreach (var theBrand in oprLoop.Brands)
                {
                    <div>@theBrand</div>
                }
            </td>
            <td data-tooltip="@oprLoop.Name" style="cursor: pointer;" data-toggle="kt-tooltip" title="@oprLoop.Name">
                @oprLoop.DisplayName
            </td>
            <td>
                <div>@oprLoop.MonthlyQuantity</div>
                <small>@Html.Raw($"Ortalama: <b>{oprLoop.MonthlyQuantityAverage:n2}</b>")</small>
                <div>
                    <small>@Html.Raw($"<b>{oprLoop.MonthlyStock}</b> günlük stok")</small>
                </div>
            </td>
            <td>
                <div>@oprLoop.WeeklyQuantity</div>
                @if (oprLoop.WeeklyIncrement)
                {
                    <i class="fa fa-arrow-up kt-font-success"></i>
                }
                else
                {
                    <i class="fa fa-arrow-down kt-font-danger"></i>
                }
                <small>@Html.Raw($"Ortalama: <b>{oprLoop.WeeklyQuantityAverage:n2}</b>")</small>
                <div>
                    <small>@Html.Raw($"<b>{oprLoop.WeeklyStock}</b> günlük stok")</small>
                </div>
            </td>
            <td>
                <div>@oprLoop.DailyQuantity</div>
                @if (oprLoop.DailyIncrement)
                {
                    <i class="fa fa-arrow-up kt-font-success"></i>
                }
                else
                {
                    <i class="fa fa-arrow-down kt-font-danger"></i>
                }
                <small>@Html.Raw($"Ortalama: <b>{oprLoop.DailyQuantityAverage:n2}</b>")</small>
                <div>
                    <small>@Html.Raw($"<b>{oprLoop.DailyStock}</b> günlük stok")</small>
                </div>
            </td>
            <td>
                <div>@oprLoop.AverageQuantity</div>
                <small>@Html.Raw($"Ortalama: <b>{oprLoop.AverageQuantityAverage:n2}</b>")</small>
                <div>
                    <small>@Html.Raw($"<b>{oprLoop.AverageStock}</b> günlük stok")</small>
                </div>
            </td>
        </tr>
    }
    @*     <tfoot>
    <tr>
    <th></th>
    <th></th>
    <th>@Model.Datas.Items.Sum(or => or.Quantity)</th>
    <th>@Model.Datas.Items.Sum(or => or.Stock)</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    </tr>
    </tfoot> *@
</table>

<script type="text/javascript">

    /* Categorizations */
    @Html.Raw($"var categorizations = [{string.Join(",", Model.Categorizations.Select(c => $"{{key: '{c.Key}', value: '{c.Value}'}}"))}]");

    $('#ajax_data_categorization').html('');

    $('#ajax_data_categorization').append('<option value="">Tümü</option>');

    for (var i = 0; i < categorizations.length; i++) {
        $('#ajax_data_categorization').append(`<option value="${categorizations[i].key}" data-content="${categorizations[i].key} <span class='kt-badge kt-badge--info kt-badge--inline kt-badge--rounded'>${categorizations[i].value}</span>">${categorizations[i].key}</option>`);
    }

    /* Brands */
    @Html.Raw($"var brands = [{string.Join(",", Model.Brands.Select(b => $"{{key: '{b.Key}', value: '{b.Value}'}}"))}]");

    $('#ajax_data_brand').html('');

    $('#ajax_data_brand').append('<option value="">Tümü</option>');

    for (var i = 0; i < brands.length; i++) {
        $('#ajax_data_brand').append(`<option value="${brands[i].key}" data-content="${brands[i].key} <span class='kt-badge kt-badge--info kt-badge--inline kt-badge--rounded'>${brands[i].value}</span>">${brands[i].key}</option>`);
    }

    /* Refresh */
    $('#ajax_data_categorization').selectpicker('refresh');
    $('#ajax_data_brand').selectpicker('refresh');

    $('#total-quantity').html(`Satış: ${@Model.Datas.Items.Sum(or => or.Quantity)}`);
    $('#total-stock').html(`Stok: ${@Model.Datas.Items.Sum(or => or.Stock)}`);

</script>