﻿@model ECommerce.Application.Panel.ViewModels.Reports.Header

<div class="col-md-12 col-lg-3 col-xl-3">

    <!--begin::Total Profit-->
    <div class="kt-widget24">
        <div class="kt-widget24__details">
            <div class="kt-widget24__info">
                <h4 class="kt-widget24__title">
                    Toplam Satış
                </h4>
                <span class="kt-widget24__desc">

                </span>
            </div>
            <span class="kt-widget24__stats kt-font-brand">
                @Model.TotalSaleAmount.ToString("N2") ₺
            </span>
        </div>
    </div>

    <!--end::Total Profit-->
</div>

<div class="col-md-12 col-lg-3 col-xl-3">

    <!--begin::New Users-->
    <div class="kt-widget24">
        <div class="kt-widget24__details">
            <div class="kt-widget24__info">
                <h4 class="kt-widget24__title">
                    Toplam Maliyet
                </h4>
                <div class="row small">
                    
                    <div class="col-md-4">
                        Ürün:
                    </div>

                    <div class="col-md-8">
                        @Model.TotalProductCostAmount.ToString("N2") ₺
                    </div>

                </div>
                <div class="row small">

                    <div class="col-md-4">
                        Kargo:
                    </div>

                    <div class="col-md-8">
                        @Model.TotalShippingCostAmount.ToString("N2") ₺
                    </div>

                </div>
                <div class="row small">

                    <div class="col-md-4">
                        Kom.:
                    </div>

                    <div class="col-md-8">
                        @Model.TotalCommissionAmount.ToString("N2") ₺
                    </div>

                </div>
            </div>
            <span class="kt-widget24__stats kt-font-danger">
                @Model.TotalCostAmount.ToString("N2") ₺
            </span>
        </div>
    </div>

    <!--end::New Users-->
</div>

<div class="col-md-12 col-lg-3 col-xl-3">

    <!--begin::New Users-->
    <div class="kt-widget24">
        <div class="kt-widget24__details">
            <div class="kt-widget24__info">
                <h4 class="kt-widget24__title">
                    Toplam Gider
                </h4>
                <div class="row small">

                    <div class="col-md-4">
                        Ürün:
                    </div>

                    <div class="col-md-8">
                        @Model.TotalAmountProductBasedExpenses.ToString("N2") ₺
                    </div>

                </div>
                <div class="row small">

                    <div class="col-md-4">
                        Diğer:
                    </div>

                    <div class="col-md-8">
                        @Model.OtherExpensesTotalAmount.ToString("N2") ₺
                    </div>

                </div>
            </div>
            <span class="kt-widget24__stats kt-font-danger">
                @Model.TotalExpenseAmount.ToString("N2") ₺
            </span>
        </div>
    </div>

    <!--end::New Users-->
</div>

<div class="col-md-12 col-lg-3 col-xl-3">

    <!--begin::New Feedbacks-->
    <div class="kt-widget24">
        <div class="kt-widget24__details">
            <div class="kt-widget24__info">
                <h4 class="kt-widget24__title">
                    Brüt Kar
                </h4>
                <span class="kt-widget24__desc">

                </span>
            </div>
            <span class="kt-widget24__stats kt-font-success">
                @(Model.ProfitAmount.ToString("N2")) ₺
            </span>
        </div>
    </div>

    <!--end::New Feedbacks-->
</div>