﻿@model Dictionary<string,string>

<div class="kt-portlet mt25">
    <div class="kt-portlet__body  kt-portlet__body--fit">
        <div id="report-partial3" class="row row-no-padding row-col-separator-lg"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Satış Raporu
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">

                <div class="dataTables_wrapper dt-bootstrap4 no-footer">

                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="pos-relative">

                                <div class="kt-input-icon kt-input-icon--left">
                                    <span class="input-abs-text"> Tarih:</span>
                                    <input id="ajax_data_report_date" class="form-control" autocomplete="off" value="@Html.Raw($"{DateTime.Now:dd-MM-yyyy} / {DateTime.Now:dd-MM-yyyy}")">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-calendar"></i></span>
                                    </span>
                                </div>

                            </div>
                        </div>

                        @if (Model != null)
                        {
                            <div class="col-lg-2 col-md-3 col-sm-12">
                                <div class="pos-relative">

                                    <label class="pos-relative">
                                        <span class="input-abs-text"> Pazaryeri</span>
                                        <select id="ajax_data_marketplace_id" class="ot-selectpicker">
                                            <option value="">Tümü</option>
                                            @foreach (var mLoop in Model)
                                            {
                                                <option value="@mLoop.Key">@mLoop.Value</option>
                                            }
                                        </select>
                                    </label>

                                </div>
                            </div>
                        }

                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="pos-relative">

                                <label class="pos-relative">
                                    <span class="input-abs-text"> Minimum Satış Adedi</span>
                                    <select id="ajax_data_min_quantity" class="ot-selectpicker">
                                        <option value="0">Tümü</option>
                                        <option value="100">100</option>
                                        <option value="250">250</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </label>

                            </div>
                        </div>

                    </div>

                    <div id="report-partial" class="row"></div>

                </div>

            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Satış Ürün Raporu
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">

                <div class="dataTables_wrapper dt-bootstrap4 no-footer">

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                        </div>
                        <div class="col-sm-12 col-md-6">
                        </div>
                    </div>

                    <div id="report-partial2" class="row"></div>

                </div>

            </div>
        </div>

    </div>
</div>

<!-- Modal::Begin-->
<div class="modal fade" id="report_modal" tabindex="-1" role="dialog" aria-labelledby="modal-2" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div id="modal_body" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
@section Scripts {
    <script src="/org/js/views/report/index.js?v=1.5"></script>
    <script src="/org/js/views/report/modal-index.js"></script>
}