﻿@model ECommerce.Application.Panel.ViewModels.Reports.Last36ViewModel

@foreach (var year in Model.Years)
{
    if (Model.Items.Any(item => item.Date.StartsWith($"{year}-")) || Model.AllItems.Any(item => item.Date.StartsWith($"{year}-")))
    {
        <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
            <thead>
                <tr>
                    <th colspan="13" class="text-center">@year</th>
                </tr>
                <tr>
                    <th></th>
                    @foreach (var month in Model.Months)
                    {
                        <th width="7.69%" class="text-center">@month</th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Renk</td>
                    @foreach (var month in Model.Months)
                    {
                        <td>
                            @{
                                var items = Model.Items.Where(item => item.Date == $"{year}-{month}").ToList();
                                foreach (var item in items)
                                {
                                    <div class="row" style="@((items.Count>1?"margin-bottom: 3px;":""))">
                                        <div class="col-md-8">
                                            <span class="kt-badge kt-badge--primary  kt-badge--inline kt-badge--pill" style="box-shadow: #00000014 0px 0px 15px;">
                                                @item.Categorization
                                            </span>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            @item.Quantity
                                        </div>
                                    </div>
                                }
                            }
                        </td>
                    }
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Toplam</th>
                    @foreach (var month in Model.Months)
                    {
                        <th class="text-right">
                            @{
                                var sum = Model.Items.Where(item => item.Date == $"{year}-{month}").Sum(item => item.Quantity);
                                if (sum > 0)
                                {
                                    @sum
                                }
                            }
                        </th>
                    }
                </tr>
                <tr>
                    <th>Model Toplam</th>
                    @foreach (var month in Model.Months)
                    {
                        <th class="text-right">
                            @{
                                var items = Model.AllItems.Where(item => item.Date == $"{year}-{month}").ToList();
                                foreach (var item in items)
                                {
                                    <div>@($"{item.Categorization} {item.Quantity}")</div>
                                }
                            }
                        </th>
                    }
                </tr>
            </tfoot>
        </table>
    }
}