﻿@model ECommerce.Application.Panel.ViewModels.Reports.Index

<table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline table-responsive">
    <thead>
        <tr>
            <th width="10%">Sip. Kaynağı</th>
            <th width="10%">Adet</th>
            <th width="10%">Tutar</th>
            <th width="15%">Ürün Maliyeti</th>
            <th width="15%">Kargo</th>
            <th width="10%">Komisyon</th>
            <th width="20%">Brüt Kar</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.OrderReport.OrderReportItems.Count == 0)
        {
            <tr>
                <td colspan="8">Gösterilecek veri bulunamadı</td>
            </tr>
        }

        @foreach (var orLoop in Model.OrderReport.OrderReportItems)
        {
            var displayName = orLoop.OrderSourceName;
            @if (string.IsNullOrEmpty(orLoop.MarketplaceId) == false)
            {
                displayName = $@"<img src=""/org/img/marketplace-icons/{orLoop.MarketplaceId}.png"" width=""50px;""/>";
            }

            <tr>
                <td>@Html.Raw(displayName)</td>
                <td>@orLoop.Count.ToString("N0") </td>
                <td>@orLoop.Amount.ToString("N2") ₺</td>
                <td>@orLoop.ProductCost.ToString("N2") ₺</td>
                <td>@orLoop.CargoFeeCost.ToString("N2") ₺</td>
                <td>@orLoop.CommissionAmount.ToString("N2") ₺</td>
                <td>@orLoop.Profit.ToString("N2") ₺</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr style="background:#fbfbfb">
            <th></th>
            <th>@Model.OrderReport.TotalCount.ToString("N0")</th>
            <th>@Model.OrderReport.TotalAmount.ToString("N2") ₺</th>
            <th>@Model.OrderReport.TotalProductCost.ToString("N2") ₺</th>
            <th>@Model.OrderReport.TotalCargoFeeCost.ToString("N2") ₺</th>
            <th>@Model.OrderReport.TotalCommissionAmount.ToString("N2") ₺</th>
            <th>@Model.OrderReport.Profit.ToString("N2") ₺</th>
        </tr>
    </tfoot>
</table>