﻿@model ECommerce.Application.Panel.ViewModels.Reports.Index

<table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
    <thead>
        <tr>
            <th>Fotoğraf</th>

            <th>
                <a href="javascript:void(0)" class="sortable" style="display: flex;align-items: center;"><span>Model Kodu</span></a>
            </th>
            <th>
                <a href="javascript:void(0)" class="sortable" style="display: flex;align-items: center;"><span>Satılan Adet</span></a>
            </th>

            <th>
                <a href="javascript:void(0)" class="sortable" style="display: flex;align-items: center;"><span>Kalan Adet</span></a>
            </th>
            <th>Ürün</th>

            <th>Sku Kodu</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.OrderProductReports.Count == 0)
        {
            <tr>
                <td colspan="3">Gösterilecek veri bulunamadı</td>
            </tr>
        }

        @foreach (var oprLoop in Model.OrderProductReports)
        {
            <tr>
                <td>
                    <a href="@oprLoop.FileName" target="_blank">
                        <img width="50" src="https://imgr.helpy.com.tr/img/@oprLoop.FileName/resize?size=150" />
                    </a>
                </td>
                <td>
                    <div style="margin-top: 5px">
                        <a style="font-weight: 500" href="javascript:navigator.clipboard.writeText('@oprLoop.SellerCode');Notify.Show(NotifyType.Info, '<b>@oprLoop.SellerCode</b> kopyalandı.' );">@oprLoop.SellerCode <i class="la la-copy"></i> </a>

                        <div>
                            <a href="javascript:ReportIndex.OpenStockModal(@oprLoop.ProductId)">Aç</a>
                        </div>
                    </div>
                </td>
                <td>@oprLoop.Quantity.ToString("N0")</td>
                <td>@oprLoop.Stock.ToString("N0")</td>
                <td>
                    @oprLoop.Name
                    <div style="margin-top: 5px">
                        <a style="font-weight: 500" href="javascript:navigator.clipboard.writeText('@oprLoop.StockCode');Notify.Show(NotifyType.Info, '<b>@oprLoop.StockCode</b> kopyalandı.' );">@oprLoop.StockCode <i class="la la-copy"></i> </a>
                    </div>
                    <div style="margin-top: 5px">
                        <a style="font-weight: 500" href="javascript:navigator.clipboard.writeText('@oprLoop.Barcode');Notify.Show(NotifyType.Info, '<b>@oprLoop.Barcode</b> kopyalandı.' );">@oprLoop.Barcode <i class="la la-copy"></i> </a>
                    </div>
                </td>

                <td>
                    <div style="margin-top: 5px">
                        <a style="font-weight: 500" href="javascript:navigator.clipboard.writeText('@oprLoop.SkuCode');Notify.Show(NotifyType.Info, '<b>@oprLoop.SkuCode</b> kopyalandı.' );">@oprLoop.SkuCode <i class="la la-copy"></i> </a>

                        <a href="javascript:ReportIndex.OpenStockModal(@oprLoop.ProductId, '@oprLoop.SkuCode')">Aç</a>
                    </div>
                </td>



            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>@Model.OrderProductReports.Sum(or => or.Quantity)</th>
            <th></th>
        </tr>
    </tfoot>
</table>