﻿@model ECommerce.Application.Panel.ViewModels.Reports.PackagingReport

<table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline ">
    <thead>
        <tr>
            <th width="30%">Personel</th>
            <th width="20%">Adet</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Datas == null || Model.Datas.Count == 0)
        {
            <tr>
                <td colspan="2">Gösterilecek veri bulunamadı</td>
            </tr>
        }

        @if (Model.Datas != null && Model.Datas.Count > 0)
            foreach (var dLoop in Model.Datas)
            {
                <tr>
                    <td>@Html.Raw(dLoop.Key)</td>
                    <td>@dLoop.Value</td>
                </tr>
            }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            @if (Model.Datas != null && Model.Datas.Count > 0)
            {
                <th>@Model.Datas.Sum(d => d.Value)</th>
            }
            else
            {
                <th>0</th>
            }
        </tr>
    </tfoot>
</table>