﻿@model ECommerce.Application.Panel.ViewModels.Reports.PickedReport

@{
    var usernames = Model.Datas.PickedItems.GroupBy(pi => pi.Username).OrderByDescending(pi => pi.Sum(pi2 => pi2.OrderQuantity)).Select(pi => pi.Key).ToList();
    foreach (var theUsername in usernames)
    {
        var actions = Model.Datas.PickedItems.Where(pi => pi.Username == theUsername).ToList();

        <div class="col-md-4">

            <div class="kt-portlet kt-portlet--mobile kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            @theUsername
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">




                    <div class="kt-widget12">
                        <div class="kt-widget12__content">
                            <div class="kt-widget12__item">
                                <div class="kt-widget12__info">
                                    <span class="kt-widget12__desc">Sipariş Adeti</span>
                                    <span class="kt-widget12__value">@actions.Sum(a=>a.OrderQuantity)</span>
                                </div>
                                <div class="kt-widget12__info">
                                    <span class="kt-widget12__desc">Ürün Adeti</span>
                                    <span class="kt-widget12__value">@actions.Sum(a=>a.ProductQuantity)</span>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="kt-timeline-v3">
                        <div class="kt-timeline-v3__items">

                            @{
                                foreach (var theAction in actions)
                                {
                                    <div class="kt-timeline-v3__item kt-timeline-v3__item--info">
                                        <span class="kt-timeline-v3__item-time">
                                            @($"{theAction.Hour.ToString().PadLeft(2, '0')}:00")
                                        </span>
                                        <div class="kt-timeline-v3__item-desc">
                                            <span class="kt-timeline-v3__item-text">
                                                <span style="width: 90px; display: inline-block">Sipariş Adeti:</span> <b style="width: 30px; display: inline-block">@theAction.OrderQuantity</b>
                                            </span>
                                            <br />
                                            <span class="kt-timeline-v3__item-text">
                                                <span style="width: 90px; display: inline-block">Ürün Adeti:</span> <b style="width: 30px; display: inline-block">@theAction.ProductQuantity</b>
                                            </span>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
}