﻿<div class="row mt25">

    <div class="col-md-12">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Toplama Raporu
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">

                <div class="dataTables_wrapper dt-bootstrap4 no-footer">

                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="pos-relative">

                                <div class="kt-input-icon kt-input-icon--left">
                                    <span class="input-abs-text"> Tarih:</span>
                                    <input id="ajax_data_report_date" class="form-control" autocomplete="off" value="@Html.Raw($"{DateTime.Now:dd-MM-yyyy} / {DateTime.Now:dd-MM-yyyy}")">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-calendar"></i></span>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>

<div id="report-partial" class="row"></div>

@section Scripts {
    <script src="/org/js/views/report/picked-report.js"></script>

}