﻿@model ECommerce.Application.Panel.ViewModels.Reports.ProductBasedSalesReport

<table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Ürün</th>
            <th>
                <a href="javascript:void(0)" class="sortable" style="display: flex;align-items: center;"><span>Adet</span></a>
            </th>
            @*<i class="la la-arrow-up"></i>*@
            <th>Ortalama Ürün Maliyeti</th>
            <th>Ortalama Kargo Tutarı</th>
            <th>Ortalama Satış Tutarı</th>

            <th>Toplam Ürün Maliyeti</th>
            <th>Toplam Kargo Tutarı</th>
            <th>Toplam Komisyon</th>

            <th>
                <a href="javascript:void(0)" class="sortable" style="display: flex;align-items: center;"><span>Toplam Gider</span></a>
            </th>
            <th>Toplam Maliyet</th>
            <th>
                <a href="javascript:void(0)" class="sortable" style="display: flex;align-items: center;"><span>Ciro</span></a>
            </th>
            <th>
                <a href="javascript:void(0)" class="sortable" style="display: flex;align-items: center;"><span>Brüt Kar</span></a>
            </th>
            <th>
                <a href="javascript:void(0)" class="sortable" style="display: flex;align-items: center;"><span>Karlılık Oranı</span></a>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ProductBasedSalesReports.Count == 0)
        {
            <tr>
                <td colspan="12">Gösterilecek veri bulunamadı</td>
            </tr>
        }

        @foreach (var orLoop in Model.ProductBasedSalesReports)
        {
            <tr>
                <td><img width="100" src="@orLoop.FileName" /></td>
                <td>@orLoop.Name</td>
                <td>@orLoop.Quantity</td>

                <td>@orLoop.AvgUnitCost.ToString("N2") ₺</td>
                <td>@orLoop.AvgUnitCargoFee.ToString("N2") ₺</td>
                <td>@orLoop.AvgUnitPrice.ToString("N2") ₺</td>

                <td>@orLoop.TotalProductCost.ToString("N2") ₺</td>
                <td>@orLoop.TotalCargoFee.ToString("N2") ₺</td>
                <td>@orLoop.TotalCommissionAmount.ToString("N2") ₺</td>

                <td>
                    <a href="javascript:ProductBasedSalesReportIndex.OpenCreateModal(@orLoop.Id)"><i class="la la-edit"></i> @orLoop.ExpenseAmount.ToString("N2") ₺</a>
                </td>
                <td>@orLoop.TotalCost.ToString("N2") ₺</td>
                <td>@orLoop.TotalSalesAmount.ToString("N2") ₺</td>

                <td>@orLoop.Profit.ToString("N2") ₺</td>
                <td>
                    @{
                        var progressBarClass = "bg-red";
                        if (orLoop.ProfitRate > 80)
                            progressBarClass = "success";
                        else if (orLoop.ProfitRate > 50)
                            progressBarClass = "warning";

                    }

                    @orLoop.ProfitRate.ToString("N0")%
                    <div class="progress progress-sm">
                        <div class="progress-bar kt-bg-@progressBarClass" role="progressbar" style="width: @orLoop.ProfitRate.ToString("N0").Replace(",",".")%;" aria-valuenow="@orLoop.ProfitRate.ToString("N0").Replace(",",".")" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th>@Model.ProductBasedSalesReports.Sum(or => or.Quantity)</th>
            <th></th>
            <th></th>
            <th></th>
            <th>@Model.ProductBasedSalesReports.Sum(or => or.TotalProductCost).ToString("N2")</th>
            <th>@Model.ProductBasedSalesReports.Sum(or => or.TotalCargoFee).ToString("N2")</th>
            <th>@Model.ProductBasedSalesReports.Sum(or => or.TotalCommissionAmount).ToString("N2")</th>
            <th>@Model.ProductBasedSalesReports.Sum(or => or.ExpenseAmount).ToString("N2")</th>
            <th>@Model.ProductBasedSalesReports.Sum(or => or.TotalCost).ToString("N2")</th>
            <th>@Model.ProductBasedSalesReports.Sum(or => or.TotalSalesAmount).ToString("N2")</th>
            <th>@Model.ProductBasedSalesReports.Sum(or => or.Profit).ToString("N2")</th>
            <th>
                @{
                    decimal averageProfitRate = 0;
                    if (Model.ProductBasedSalesReports.Count > 0)
                        averageProfitRate = Model.ProductBasedSalesReports.Average(pbsp => pbsp.ProfitRate);

                    var averageProgressBarClass = "bg-red";
                    if (averageProfitRate > 80)
                        averageProgressBarClass = "success";
                    else if (averageProfitRate > 50)
                        averageProgressBarClass = "warning";

                }

                @averageProfitRate.ToString("N0")%
                <div class="progress progress-sm">
                    <div class="progress-bar kt-bg-@averageProgressBarClass" role="progressbar" style="width:@averageProfitRate.ToString("N0").Replace(",",".")%;" aria-valuenow="@averageProfitRate.ToString("N0").Replace(",",".")" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </th>
        </tr>
    </tfoot>
</table>