﻿@model ECommerce.Application.Panel.ViewModels.Reports.ProductBasedSalesReport

<div class="kt-portlet mt25">
    <div class="kt-portlet__body  kt-portlet__body--fit">
        <div id="report-partial2" class="row row-no-padding row-col-separator-lg"></div>
    </div>
</div>

<div class="kt-portlet mt25">
    <div class="kt-portlet__body  kt-portlet__body--fit">
        <div id="report-partial3" class="row row-no-padding row-col-separator-lg"></div>
    </div>
</div>

<div class="row">

    <div class="col-md-12">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Ürün Bazlı Satış Raporu
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">

                <div class="dataTables_wrapper dt-bootstrap4 no-footer">

                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-12">
                            <div class="pos-relative">

                                <div class="kt-input-icon kt-input-icon--left">
                                    <span class="input-abs-text"> Tarih:</span>
                                    <input id="ajax_data_report_date" class="form-control" autocomplete="off" value="@Html.Raw($"{DateTime.Now:dd-MM-yyyy} / {DateTime.Now:dd-MM-yyyy}")">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-calendar"></i></span>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="report-partial" class="row"></div>

                </div>

            </div>
        </div>

    </div>

</div>

<!-- Modal::Begin-->
<div class="modal fade" id="expense_modal" tabindex="-1" role="dialog" aria-labelledby="modal-1" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="modal_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="modal_submit" type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal::End-->
@section Scripts {
    <script src="/org/js/views/report/product-based-sales-report.js?v=0.3"></script>
    <script src="/org/library/js/jquery-validation-v2.js"></script>
    <script src="/org/library/js/jquery-serializer.js"></script>
}