﻿@model ECommerce.Application.Panel.ViewModels.Reports.ProductBasedSalesReport

@if (Model.ProductBasedSalesReports.Count > 0)
{
    <div class="col-md-12 col-lg-4 col-xl-4">

        @{
            var product1 = Model.ProductBasedSalesReports.OrderByDescending(x => x.Quantity).First();
        }

        <!--begin::Total Profit-->
        <div class="kt-widget24">
            <div class="kt-widget24__details">

                <div class="kt-widget24__info">

                    <h4 class="kt-widget24__title">
                        En Çok Satan
                    </h4>
                    <span class="kt-widget24__desc">
                        @(product1.Name.Length > 35 ? product1.Name.Substring(0, 35) : product1.Name)
                    </span>


                </div>

                <span class="kt-widget24__stats kt-font-brand">
                    @product1.Quantity
                    <img src="@product1.FileName" width="50" />
                </span>

            </div>

        </div>

        <!--end::Total Profit-->
    </div>

    <div class="col-md-12 col-lg-4 col-xl-4">

        @{
            var product2 = Model.ProductBasedSalesReports.OrderByDescending(x => x.ProfitRate).First();

            var progressBarClass = "danger";
            if (product2.ProfitRate > 80)
                progressBarClass = "success";
            else if (product2.ProfitRate > 50)
                progressBarClass = "warning";
        }

        <!--begin::Total Profit-->
        <div class="kt-widget24">
            <div class="kt-widget24__details">

                <div class="kt-widget24__info">

                    <h4 class="kt-widget24__title">
                        Karlılık Oranı En Yüksek
                    </h4>
                    <span class="kt-widget24__desc">
                        @(product2.Name.Length > 35 ? product2.Name.Substring(0, 35) : product2.Name)
                    </span>

                </div>

                <span class="kt-widget24__stats kt-font-@progressBarClass">
                    @product2.ProfitRate.ToString("N0") %
                    <img src="@product2.FileName" width="50" />
                </span>

            </div>

        </div>

        <!--end::Total Profit-->
    </div>

    <div class="col-md-12 col-lg-4 col-xl-4">

        @{
            var product3 = Model.ProductBasedSalesReports.OrderByDescending(x => x.TotalSalesAmount).First();

            progressBarClass = "danger";
            if (product3.ProfitRate > 80)
                progressBarClass = "success";
            else if (product3.ProfitRate > 50)
                progressBarClass = "warning";
        }

        <!--begin::Total Profit-->
        <div class="kt-widget24">
            <div class="kt-widget24__details">

                <div class="kt-widget24__info">

                    <h4 class="kt-widget24__title">
                        Cirosu En Yüksek
                    </h4>
                    <span class="kt-widget24__desc">
                        @(product3.Name.Length > 35 ? product3.Name.Substring(0, 35) : product3.Name)
                    </span>

                </div>

                <span class="kt-widget24__stats kt-font-@progressBarClass">
                    @product3.TotalSalesAmount.ToString("N2") ₺
                    <img src="@product3.FileName" width="50" />
                </span>

            </div>

        </div>

        <!--end::Total Profit-->
    </div>
}