﻿@model ECommerce.Application.Panel.ViewModels.Reports.ProductBasedStockReport

<input type="hidden" value="@Model.ReceiptFileName" id="receipt-file-name" />

@if (Model.HasReceipt)
{
    <div class="alert alert-warning fade show" role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">Sipariş Mevcut!</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
}

<table id="product_based_stock_report" class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
    <thead>
        <tr>
            <th>Fotoğraf</th>
            <th>Ürün</th>
            <th>Model Kodu</th>
            <th>Sku Kodu</th>
            <th>
                <a href="javascript:ModalIndex.Sorting(4, true)" style="display: flex; align-items: center;"><span>Satılan Adet</span></a>
            </th>
            <th>
                <a href="javascript:ModalIndex.Sorting(5, true)" style="display: flex; align-items: center;"><span>Kalan Adet</span></a>
            </th>
            <th class="receipt" style="display: none;">
                İstenilen Adet
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Datas.Count == 0)
        {
            <tr>
                <td colspan="7">Gösterilecek veri bulunamadı</td>
            </tr>
        }

        @foreach (var oprLoop in Model.Datas)
        {
            <tr>
                <td>
                    <a href="@oprLoop.FileName" target="_blank">
                        <img width="30" src="https://imgr.helpy.com.tr/img/@oprLoop.FileName/resize?size=150" />
                    </a>
                </td>
                <td>
                    @oprLoop.Name @oprLoop.VariantValuesDescription

                    @if (string.IsNullOrEmpty(oprLoop.ReceiptDescription) == false)
                    {
                        <div class="kt-font-danger" style="margin-top: 5px">
                            <i class="fa fa-info-circle"></i>&nbsp;
                            Sipariş Mevcut!
                            <div>
                                @oprLoop.ReceiptDescription
                            </div>
                        </div>
                    }
                </td>
                <td>
                    <a style="font-weight: 500" href="javascript:navigator.clipboard.writeText('@oprLoop.SellerCode');Notify.Show(NotifyType.Info, '<b>@oprLoop.SellerCode</b> kopyalandı.' );">@oprLoop.SellerCode <i class="la la-copy"></i> </a>
                </td>
                <td>
                    <a style="font-weight: 500" href="javascript:navigator.clipboard.writeText('@@oprLoop.SkuCode');Notify.Show(NotifyType.Info, '<b>@oprLoop.SkuCode</b> kopyalandı.' );">@oprLoop.SkuCode <i class="la la-copy"></i> </a>
                </td>
                <td>@oprLoop.SoldQuantity</td>
                <td>@oprLoop.Stock</td>
                <td class="receipt" style="display: none;">
                    <input type="number"
                           data-receipt-product-information-id="@oprLoop.ProductInformationId"
                           class="form-control"
                           placeholder="Adet Giriniz"
                           autocomplete="off"
                           value="0" />
                </td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>@Model.Datas.Sum(d => d.SoldQuantity)</th>
            <th>@Model.Datas.Sum(d => d.Stock)</th>
            <th></th>
        </tr>
    </tfoot>
</table>