﻿<div class="row mt25">
    <div class="col-md-12">
        <div class="kt-portlet" id="kt_page_portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        İade Raporu
                    </h3>
                </div>

            </div>
            <div class="kt-portlet__body">
                <!-- Filter Head Begin-->
                <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Pazaryerleri:</label>
                                <select id="ajax_data_search_marketplace_id" class="form-control kt-selectpicker" data-live-search="true" onchange="UnsoldProductReportIndex.Read(0)">
                                    @foreach (var theModel in Model)
                                    {
                                        <option value="@theModel.Key">@theModel.Value</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Tarih Aralığı:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" id="ajax_data_report_date" autocomplete="off" value="@Html.Raw($"{DateTime.Now:dd-MM-yyyy} / {DateTime.Now:dd-MM-yyyy}")" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Filter Head End-->
            </div>
        </div>
    </div>
</div>

<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Kayıtlar
            </h3>
        </div>

    </div>
    <div class="kt-portlet__body" id="ajax_table">


    </div>
</div>

@section Scripts {
    <script src="/org/js/views/report/return.js?v=0.2"></script>
}