﻿@model Dictionary<string,int>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
        <thead>
            <tr class="bgGrey">
                <th>Neden</th>
                <th>Adet</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count == 0)
            {
                <tr>
                    <td colspan="2">Gösterilecek kayıt bulunamadı.</td>
                </tr>
            }

            @foreach (var theModel in Model)
            {
                <tr>
                    <td>@theModel.Key</td>
                    <td>@theModel.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>