﻿@model ECommerce.Application.Panel.ViewModels.Reports.SoldTogetherReport

<table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline table-responsive">
    <thead>
        <tr>
            <th width="80%">Ürünler</th>
            <th width="20%">Adet</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Datas?.Count == 0)
        {
            <tr>
                <td colspan="2">Gösterilecek veri bulunamadı</td>
            </tr>
        }

        @foreach (var dLoop in Model.Datas)
        {
            <tr>
                <td>
                    <div class="row">
                        @foreach (var piLoop in dLoop.ProductInformations)
                        {
                            <div class="col-md-3">
                                <img width="50" src="@piLoop.ProductInformationPhotos.FirstOrDefault()?.FileName" />
                                @piLoop.ProductInformationTranslations[0].VariantValuesDescription
                            </div>
                        }
                    </div>
                </td>
                <td>@dLoop.Count</td>
            </tr>
        }
    </tbody>
</table>