﻿@model List<ECommerce.Application.Panel.DataTransferObjects.StockAlert>

<style>
    .product-photo {
        box-shadow: #00000014 0px 0px 15px;
        border-radius: 10px;
        object-fit: cover;
    }
</style>

<div class="row mt25">
    <div class="col-md-12">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Stok Uyarı
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">

                <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
                    <thead>
                        <tr>
                            <th>Fotoğraf</th>
                            <th>Ürün</th>
                            <th>Model Kodu</th>
                            <th>Renk Kodu</th>
                            <th>Kalan Adet</th>
                            <th>Ortalama Satış</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var loopModel in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@loopModel.FileName" target="_blank">
                                        <img height="100" class="product-photo" src="https://imgr.helpy.com.tr/img/@loopModel.FileName/resize?size=150" />
                                    </a>
                                </td>
                                <td>@loopModel.Name</td>
                                <td>
                                    <a href="javascript:navigator.clipboard.writeText('@loopModel.SellerCode');Notify.Show(NotifyType.Info, '<b>@loopModel.SellerCode</b> kopyalandı.');" class="kt-font-bold">@loopModel.SellerCode <i class="la la-copy"></i> </a>
                                </td>
                                <td>
                                    <a href="javascript:navigator.clipboard.writeText('@loopModel.SkuCode');Notify.Show(NotifyType.Info, '<b>@loopModel.SkuCode</b> kopyalandı.');" class="kt-font-bold">@loopModel.SkuCode <i class="la la-copy"></i> </a>
                                </td>
                                <td>@loopModel.Stock</td>
                                <td>
                                    <div>
                                        <small>Ortalama: <b>@loopModel.DailyQuantity</b></small>
                                    </div>
                                    <div>
                                        <small><b>@loopModel.Remain</b> günlük stok</small>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>