﻿<div class="row mt25">
    <div class="col-md-12">
        <div class="kt-portlet" id="kt_page_portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-shopping-cart-1"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Satılmayan Ürünler

                    </h3>
                </div>

            </div>
            <div class="kt-portlet__body">
                <!-- Filter Head Begin-->
                <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Gün</label>
                                <select id="ajax_data_search_period" class="form-control kt-selectpicker" data-live-search="true" onchange="UnsoldProductReportIndex.Read(0)">
                                    <option value="W">7</option>
                                    <option value="HM">15</option>
                                    <option value="M" selected>30</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Satılan Adet</label>
                                <select id="ajax_data_search_quantity" class="form-control kt-selectpicker" data-live-search="true" onchange="UnsoldProductReportIndex.Read(0)">
                                    <option value="0" selected>0</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Sku Kodu</label>
                                <input type="text" class="form-control" id="ajax_data_search_sku_code" onchange="UnsoldProductReportIndex.Read(0)" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Model Kodu</label>
                                <input type="text" class="form-control" id="ajax_data_search_seller_code" onchange="UnsoldProductReportIndex.Read(0)" />
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Kategorizasyon</label>
                                <select id="ajax_data_search_categorization" class="form-control kt-selectpicker" data-live-search="true" onchange="UnsoldProductReportIndex.Read(0)">
                                    <option value="">Tümü</option>
                                    <option value="CLEAR">CLEAR</option>
                                    <option value="CLEAR-F-C">CLEAR-F-C</option>
                                    <option value="K-CLEAR">K-CLEAR</option>
                                    <option value="K-NEW">K-NEW</option>
                                    <option value="K-NOS">K-NOS</option>
                                    <option value="NEW">NEW</option>
                                    <option value="NOS">NOS</option>
                                    <option value="STAR">STAR</option>
                                    <option value="T-CLEAR">T-CLEAR</option>
                                    <option value="T-NOS">T-NOS</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Marka</label>
                                <select id="ajax_data_search_brand" class="form-control kt-selectpicker" data-live-search="true" onchange="UnsoldProductReportIndex.Read(0)">
                                    <option value="">Tümü</option>
                                    <option value="Sibel Aydın">Sibel Aydın</option>
                                    <option value="NOS">NOS</option>
                                    <option value="Ares">Ares</option>
                                    <option value="Dans">Dans</option>
                                    <option value="Karpefingo">Karpefingo</option>
                                    <option value="Lafaba Aksesuar">Lafaba Aksesuar</option>
                                    <option value="Pınar Özdemir-Coco Dress">Pınar Özdemir-Coco Dress</option>
                                    <option value="Ecrin">Ecrin</option>
                                    <option value="Lafaba Street">Lafaba Street</option>
                                    <option value="Twilight">Twilight</option>
                                    <option value="Regard">Regard</option>
                                    <option value="Lafaba">Lafaba</option>
                                    <option value="Lafaba Man">Lafaba Man</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Filter Head End-->
            </div>
        </div>
    </div>
</div>

<!-- Pagination::Begin -->
<div class="row">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__body">

                <!--begin: Pagination-->
                <div class="kt-pagination kt-pagination--brand">
                    <div class="kt-pagination__toolbar flex-wrap">
                        <div class="pos-relative mr-3 flex-child">
                            <label class="input-abs-text">Sıralama</label>
                            <select class="kt-hidden-select2 ajax_data_sorting" onchange="UnsoldProductReportIndex.ChangeSorting(this)">
                                <option value="QuantityDesc">Satılan Adet Azalan</option>
                                <option value="QuantityAsc">Satılan Adet Artan</option>
                                <option value="StockDesc" selected>Stok Azalan</option>
                                <option value="StockAsc">Stok Artan</option>
                                <option value="SellerCodeDesc">Model Kodu Azalan</option>
                                <option value="SellerCodeAsc">Model Kodu Artan</option>
                                <option value="SkuCodeDesc">Renk Kodu Azalan</option>
                                <option value="SkuCodeAsc">Renk Kodu Artan</option>
                            </select>
                        </div>
                        <div class="pos-relative mr-3 flex-child">
                            <label class="input-abs-text">Kayıt Sayısı</label>
                            <select class="kt-hidden-select2 ajax_data_length" onchange="UnsoldProductReportIndex.ChangePageRecordsCount(this)">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <span class="pagination__desc flex-child">
                            ...
                        </span>
                    </div>
                    <div class="pagination-box">
                        <ul class="kt-pagination__links">
                            ...
                        </ul>
                    </div>
                </div>

                <!--end: Pagination-->
            </div>
        </div>
    </div>
</div>
<!-- Pagination::End -->

<div class="kt-portlet">
    <div class="kt-portlet__body">

        <div class="row">

            <input id="ajax_data_page" type="hidden" value="0" />
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-checkable dataTable no-footer dtr-inline">
                    <thead>
                        <tr class="bgGrey">
                            <th>Fotoğraf</th>
                            <th style="cursor: pointer; color: #5867dd !important" onclick="UnsoldProductReportIndex.HeaderSorting(this)" data-sorting="SellerCodeAsc">
                                Model Kodu
                            </th>
                            <th style="cursor: pointer; color: #5867dd !important" onclick="UnsoldProductReportIndex.HeaderSorting(this)" data-sorting="StockAsc">
                                Stok
                            </th>
                            <th style="cursor: pointer; color: #5867dd !important" onclick="UnsoldProductReportIndex.HeaderSorting(this)" data-sorting="QuantityAsc">
                                Satılan Adet
                            </th>
                            <th style="cursor: pointer; color: #5867dd !important" onclick="UnsoldProductReportIndex.HeaderSorting(this)" data-sorting="SkuCodeAsc">
                                Renk Kodu
                            </th>
                            <th>Kategorizasyon</th>
                            <th>Marka</th>
                            <th>Stok Maliyeti</th>
                            <th>Stok Değeri</th>
                            <th>Ürün</th>
                        </tr>
                    </thead>
                    <tbody id="ajax_data"></tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- Pagination::Begin -->
<div class="row">
    <div class="col-md-12">
        <div class="kt-portlet">
            <div class="kt-portlet__body">

                <!--begin: Pagination-->
                <div class="kt-pagination kt-pagination--brand">
                    <div class="kt-pagination__toolbar flex-wrap">
                        <div class="pos-relative mr-3 flex-child">
                            <label class="input-abs-text">Sıralama</label>
                            <select class="kt-hidden-select2 ajax_data_sorting" onchange="UnsoldProductReportIndex.ChangeSorting(this)">
                                <option value="QuantityDesc">Satılan Adet Azalan</option>
                                <option value="QuantityAsc">Satılan Adet Artan</option>
                                <option value="StockDesc" selected>Stok Azalan</option>
                                <option value="StockAsc">Stok Artan</option>
                                <option value="SellerCodeDesc">Model Kodu Azalan</option>
                                <option value="SellerCodeAsc">Model Kodu Artan</option>
                                <option value="SkuCodeDesc">Renk Kodu Azalan</option>
                                <option value="SkuCodeAsc">Renk Kodu Artan</option>
                            </select>
                        </div>
                        <div class="pos-relative mr-3 flex-child">
                            <label class="input-abs-text">Kayıt Sayısı</label>
                            <select class="kt-hidden-select2 ajax_data_length" onchange="UnsoldProductReportIndex.ChangePageRecordsCount(this)">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <span class="pagination__desc flex-child">
                            ...
                        </span>
                    </div>
                    <div class="pagination-box">
                        <ul class="kt-pagination__links">
                            ...
                        </ul>
                    </div>
                </div>

                <!--end: Pagination-->
            </div>
        </div>
    </div>
</div>
<!-- Pagination::End -->
@section Scripts {
    <script src="/org/library/js/jquery-table.js?v=2.2"></script>
    <script src="/org/js/views/report/unsold-product-report.js?v=0.2"></script>
}