﻿@model ECommerce.Application.Client.ViewModels.Home.Faq
@{
    ViewData["Title"] = "Sıkça Sorulan Sorulan";
    ViewData["Description"] = "Müşterilerimizin sıkça sorduğu soruları listeledik ve cevapları ile sizlere bu sayfada topladık.";

}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index","Home")" ><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
                <h1 class="font-sm">&nbsp; Sıkça Sorulan Sorular</h1>
            </div>
        </div>
    </div>
    <div class="page-content pt-30">
        <div class="container">
            <div class="row">
                <div class="middle-container">
                    <div class="head">
                        <h2>Sıkça Sorulan Sorular</h2>
                        <p class="mb-15">Siz değerli müşterilerimize en kaliteli hizmeti sunabilmek için sizlerin en çok sorduğu soruları ve cevaplarını sizin için derledik...</p>
                    </div>
                    <!--Burası Faq diğer sitedeki yapıda yapıldı göstermek için doğru yapı değil-->
                    @foreach (var frequentlyAskedQuestion in Model.FrequentlyAskedQuestions)
                    {
                        <button class="accordion">@frequentlyAskedQuestion.Header</button>

                        <div class="panel">
                            <span class="color-black">Cevap :</span>  @Html.Raw(frequentlyAskedQuestion.Description)
                        </div>
                    }


                </div>

            </div>
        </div>
    </div>
</main>