﻿@model ECommerce.Application.Client.ViewModels.Home.Find
@{
    ViewData["Title"] = Html.Raw("Fidan Bul - Akıllı Arama | Size En Uygun Fidanlara Hızlı Ulaş");
    ViewData["Description"] = Html.Raw("Fidan İstanbul'un akıllı filtreleme sayfası ile yaşam alanınıza en uygun fidanlara hızlı bir şekilde ulaşabilirsiniz.");

}
@if (Model.Success)
{
    string pageItems = $"pc={Model.PageRecordsCount}&st={Model.PageSorting}";
    string propertyValueIds = "";
    if (Model.PropertyValueIds?.Count > 0)
    {
        propertyValueIds = $"/{string.Join("_", Model.PropertyValueIds)}-pv/";
    }

    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="tag-header">
                    <div class="row align-items-center">
                        <div class="col-xl-3 ">

                            <div class="breadcrumb">
                                <a href="@Url.Action("Index","Home")"><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
                                <span></span>
                                <h1 class="font-sm">Akıllı Arama</h1>

                            </div>
                        </div>

                        <!--Category Tag Bar-->
                        <div class="col-xl-7 text-end d-none d-xl-block">
                            <ul class="tags-list find-tags-list category-tag-box">
                                <li class="font-md color-black find-end-text"></li>
                                @{
                                    foreach (var pLoop in Model.Properties)
                                    {

                                        @foreach (var pvLoop in pLoop.PropertyValues)
                                        {

                                            if (Model.PropertyValueIds.Contains(pvLoop.Id))
                                            {
                                                <li class="hover-up">
                                                    <a class="checked-keyword"><i class="fi-rs-cross mr-10 @pvLoop.Id" id="@pvLoop.Id" data-remove-tag="@pvLoop.Id"></i> @pvLoop.Value</a>
                                                </li>
                                            }
                                        }
                                    }


                                }
                            </ul>
                        </div>
                        <!--Category Tag Bar-->
                        <div class="col-xl-2 new-find-filter justify-content-end">
                            <a href="#find-pagination" class="btn btn-small bg-orange">Yeni Filtre</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-content pt-10">

            <div class="middle-container bg-white pt-10">
                @if (@Model.ProductCount > 0)
                {
                    <div class="shop-product-fillter" id="find-top-filter">
                        <div class="totall-product">

                            <p>Toplam <strong>@Model.ProductCount</strong> üründen,<strong>@Model.PageProductCount</strong> adet listelendi.</p>


                        </div>

                        <div class="sort-by-product-area ">
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps"></i>Göster:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span>
                                            @Model.PageRecordsCount
                                            <i class="fi-rs-angle-small-down"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a @(Model.PageRecordsCount == 20 ? "class=active" : "") href="@($"/fidan-bul{propertyValueIds}{$"?pc=20"}&st={Model.PageSorting}")">20</a></li>
                                        <li><a @(Model.PageRecordsCount == 50 ? "class=active" : "") href="@($"/fidan-bul{propertyValueIds}{$"?pc=50"}&st={Model.PageSorting}")">50</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sırala:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        @{

                                            string sortingValue = "Sırala";

                                            switch (Model.PageSorting)
                                            {
                                                case 1:
                                                    sortingValue = "Artan Fiyat";
                                                    break;
                                                case 2:
                                                    sortingValue = "Azalan Fiyat";
                                                    break;
                                                case 3:
                                                    sortingValue = "Alfabetik A dan Z'ye";
                                                    break;
                                                case 4:
                                                    sortingValue = "Alfabetik Z dan A'ya";
                                                    break;

                                            }
                                        }

                                        <span>@sortingValue <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a @(Model.PageSorting == 0 ? "class=active" : "") href="@($"/fidan-bul{propertyValueIds}{$"?st=0"}&pc={Model.PageRecordsCount}")">Sırala</a></li>
                                        <li><a @(Model.PageSorting == 1 ? "class=active" : "") href="@($"/fidan-bul{propertyValueIds}{$"?st=1"}&pc={Model.PageRecordsCount}")">Artan Fiyat</a></li>
                                        <li><a @(Model.PageSorting == 2 ? "class=active" : "") href="@($"/fidan-bul{propertyValueIds}{$"?st=2"}&pc={Model.PageRecordsCount}")">Azalan Fiyat</a></li>
                                        <li><a @(Model.PageSorting == 3 ? "class=active" : "") href="@($"/fidan-bul{propertyValueIds}{$"?st=3"}&pc={Model.PageRecordsCount}")">Alfabetik A dan Z'ye</a></li>
                                        <li><a @(Model.PageSorting == 4 ? "class=active" : "") href="@($"/fidan-bul{propertyValueIds}{$"?st=4"}&pc={Model.PageRecordsCount}")">Alfabetik Z dan A'ya</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                }
                else
                {
                    <div class="shop-product-fillter" id="find-top-filter">
                        <div class="noFindtText">
                            <p>Aramanıza uygun ürün bulunamadı <strong>%50</strong> indirimli ürünlerimizi listeledik</p>

                        </div>
                    </div>
                }

                <div class="row product-grid-4 find-product-box" id="products" data-page="0">
                    @foreach (var pLoop in Model.ProductInformations.Where(pLoop => pLoop.IsStock && pLoop.IsSale))
                    {
                        @Html.PartialAsync($"/Themes/Glasses/Views/Product/productBox.cshtml", new ECommerce.Application.Common.DataTransferObjects.ProductComponent
                {
                ListUnitPrice = pLoop.ProductInformationPrice.ListUnitPrice,
                Name = pLoop.Name,
                ProductInformationId = pLoop.Id,
                ProductId = pLoop.Id,
                FileName = pLoop.ProductInformationPhotos.FirstOrDefault() != null ? pLoop.ProductInformationPhotos.FirstOrDefault().FileName : null,
                UnitPrice = pLoop.ProductInformationPrice.UnitPrice,
                //AverageRating=pLoop.AverageRating,
                Url = pLoop.Url,
                SubTitle = pLoop.SubTitle,
                VatRate = pLoop.ProductInformationPrice.VatRate,
                Discount = pLoop.ProductInformationPrice.Discount,
                ProductLabels = pLoop.Product.ProductLabels.Select(x => x.Value).ToList(),
                IsSale = pLoop.IsSale,
                Payor = pLoop.Payor
                }).Result
                        ;
                    }

                    @foreach (var pLoop in Model.DiscountedProductInformations.Where(pLoop => pLoop.IsStock && pLoop.IsSale))
                    {
                        if (pLoop.ProductInformationPrice.Discount >= 10)
                        {
                            @Html.PartialAsync($"/Themes/Glasses/Views/Product/productBox.cshtml", new ECommerce.Application.Common.DataTransferObjects.ProductComponent
                {
                ListUnitPrice = pLoop.ProductInformationPrice.ListUnitPrice,
                Name = pLoop.Name,
                ProductInformationId = pLoop.Id,
                ProductId = pLoop.Id,
                FileName = pLoop.ProductInformationPhotos.FirstOrDefault() != null ? pLoop.ProductInformationPhotos.FirstOrDefault().FileName : null,
                UnitPrice = pLoop.ProductInformationPrice.UnitPrice,
                Url = pLoop.Url,
                SubTitle = pLoop.SubTitle,
                VatRate = pLoop.ProductInformationPrice.VatRate,
                IsSale = pLoop.IsSale,
                Payor = pLoop.Payor,
                Discount = pLoop.ProductInformationPrice.Discount,
                ProductLabels = pLoop.Product.ProductLabels.Select(x => x.Value).ToList(),
                ShoppingCartDiscount = false
                }).Result
                            ;

                        }
                    }
                </div>
                <!--Pagination Number -->
                <div class="pagination-area find-pagination" id="find-pagination">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">

                            @for (int i = 0; i < Model.PagesCount; i++)
                            {
                                <li class="page-item">
                                    @if (Model.Page == i)
                                    {
                                        <span class="page-link page-link-active">@(i + 1)</span>
                                    }
                                    else
                                    {
                                        <a class="page-link" href="@($"/fidan-bul{propertyValueIds}{(i != 0 ? $"?p={i}&{pageItems}" : $"?{pageItems}")}")">@(i + 1)</a>

                                    }
                                </li>
                            }

                        </ul>
                    </nav>
                </div>
                <!--Pagination Number -->
                <div class="row position-relative" id="find-box">

                    @{
                        foreach (var find in Model.Properties)
                        {
                            <div class="col-md-2 find-item-box">
                                <h3 class="find-header">@find.Name</h3>
                                <div class="custome-checkbox find-checkbox-box">
                                    @foreach (var findChild in find.PropertyValues)
                                    {
                                        <input class="form-check-input find-input" type="checkbox" name="property-value" id="property-value_@findChild.Id" value="@findChild.Id" data-value="@findChild.Value" @Html.Raw((Model.PropertyValueIds.Any(x => x == findChild.Id) ? "checked" : "")) />
                                        <label class="form-check-label" for="property-value_@findChild.Id"><span>@findChild.Value</span></label>
                                    }

                                </div>

                            </div>
                        }
                    }

                    <a onclick="FindIndex.Filter('@pageItems')" class="btn btn-sm btn-default btn-find"><i class="fi-rs-filter mr-5"></i> Filtrele ve Fidan Bul</a>

                </div>

            </div>
        </div>

    </main>

    @section Js{
    <script src="/themes/cosmetic/js/views/find/index.js?v=1"></script>

    }
}
else
{

}









































