﻿@model ECommerce.Application.Client.ViewModels.Home.Index
@inject Microsoft.Extensions.Localization.IStringLocalizer<ECommerce.Client.WebApp.Localize.Resource> _resource
@{
    ViewData["Title"] = Html.Raw("");
    ViewData["Description"] = Html.Raw("");
    ViewData["Keywords"] = Html.Raw("");
}
<style>
    #preloader-active{
        display:none !important;
    }
</style>
<main class="main" >
    
    @if (Model.Showcase != null)
    {
        foreach (var row in Model.Showcase.RowComponents)
        {
            @Html.PartialAsync($"/Themes/Glasses/Views/Components/Row.cshtml", row).Result
        }
    }

</main>
