﻿@model ECommerce.Application.Client.ViewModels.Home.Kvkk
@{
    ViewData["Title"] = Html.Raw("Kişisel Verilerin Korunması Kanunu");
    ViewData["Description"] = Html.Raw("Kvkk");

}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index","Home")" ><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
                <h1 class="font-sm">&nbsp; Kvkk</h1>
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                <div class="single-header style-2">
                                    <h4>KİŞİSEL VERİLERİN KORUNMASI KANUNU AYDINLATMA METNİ</h4>

                                </div>
                                <div class="single-content mb-50">

                                    <p>
                                        @(Model.Company.Name) olarak, kişisel verilerinizin güvenliği konusuna önem vermekteyiz. Bu bilinçle, sizlere ait her türlü
                                        kişisel verinin mümkün olabilen en iyi şekilde ve özenle işlenerek muhafaza edilmesine büyük
                                        hassasiyet göstermekteyiz. Bu sorumluluğumuzun bilinci ile 6698 sayılı Kişisel Verilerin Korunması
                                        Kanunu (Bundan sonra Kanun olarak belirtilecektir.) ve ilgili mevzuat kapsamında Veri Sorumlusu
                                        sıfatıyla, kişisel verilerinizi aşağıda belirtilen çerçevede işlemekteyiz.
                                        <br />

                                    </p>
                                    <p>
                                        Kanun kapsamında, veri işleme, kişisel verilerin tamamen veya kısmen otomatik olan ya da herhangi
                                        bir veri kayıt sisteminin parçası olmak kaydıyla otomatik olmayan yollarla kişisel verilerinizi elde
                                        etmemiz, kaydetmemiz, saklamamız, güncellememiz, sınıflandırmamız, mevzuatın izin verdiği üçüncü
                                        kişilerle paylaşmamız veya onlara devretmemiz gibi konularda veriler üzerinde gerçekleştirilen her
                                        türlü işlemi ifade etmektedir.
                                    </p>
                                    <h4>KİŞİSEL VERİLERİN TOPLANMASI, İŞLENMESİ VE İŞLEME AMAÇLARI</h4>
                                    <p>
                                        Sizlere yüksek standartlarda hizmet sunabilmek ile kişisel verilerinizi, verilen hizmetin niteliğine bağlı
                                        olarak aşağıda belirtilen amaç kapsamında;
                                    </p>

                                    <ul>
                                        <li>
                                            Şirketçe sunduğumuz ürün ve hizmetlerin belirlenen yasal çerçevede sunulabilmesi,
                                        </li>
                                        <li>
                                            Şirketimizin sözleşme ve yasadan doğan mesuliyetlerini eksiksiz ve doğru bir şekilde yerine
                                            getirebilmesi,
                                        </li>
                                        <li>
                                            Şirketimiz tarafından sunulan ürün ve hizmetlerden sizleri faydalandırmak için gerekli
                                            çalışmaların iş birimlerimiz tarafından yapılması, ürün ve hizmetlerin sizlerin beğeni, kullanım
                                            alışkanlıkları ve ihtiyaçlarına göre özelleştirilerek sizlere önerilmesi,
                                        </li>
                                        <li>
                                            Şirketimizle iş ilişkisi içerisinde olan kişilerin hukuki ve ticari güvenliğinin temini,
                                        </li>
                                        <li>
                                            Şirketimiz tarafından yürütülen iletişime yönelik idari operasyonlar,
                                        </li>
                                        <li>
                                            Şirkete ait lokasyonların fiziksel güvenliğini ve denetimini sağlamak,
                                        </li>
                                        <li>
                                            Müşterilerin değerlendirme/şikayet yönetimi süreçleri, itibar araştırma süreçleri, etkinlik
                                            yönetimi, hukuki uyum süreci, denetim, mali işler,
                                        </li>
                                        <li>
                                            Şirketimizin ticari ve iş stratejilerinin belirlenmesi ve uygulanması ve Şirketimizin insan
                                            kaynakları politikalarının yürütülmesinin temini,
                                        </li>
                                        <li>
                                            Şirketimizin eğitim faaliyetlerinin devam edebilmesi amaçlarıyla
                                        </li>

                                    </ul>
                                    <p>
                                        KVK Kanunu’nun 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dahilinde
                                        kişisel verilerinizi sözleşme kapsamında veya fiziksel mekânlar ve benzeri kanallardan sözlü, yazılı,
                                        görsel, ya da elektronik olarak elde etmekteyiz.
                                    </p>
                                    <p>
                                        Bu kapsamda tüm firmamız tarafından yürütülen faaliyetler çerçevesinde ve yukarda bahsi geçen
                                        amaçla elde edilen, başlıca <b>genel ve özel nitelikli kişisel veriler aşağıda sıralanmıştır</b>;
                                    </p>
                                    <ul>
                                        <li>
                                            Adınız, soyadınız, TC kimlik numaranız, Türk vatandaşı olmamanız halinde pasaport numaranız veya
                                            geçici TC kimlik numaranız, doğum tarihiniz gibi kimlik verileriniz,

                                        </li>
                                        <li>
                                            Adresiniz, Telefon numaranız, Elektronik posta adresiniz gibi iletişim verileriniz,

                                        </li>
                                        <li>
                                            Banka hesap numaranız, IBAN numaranız gibi finansal verileriniz,

                                        </li>
                                        <li>
                                            Hizmetlerimizi değerlendirmek amacı ile paylaştığınız yanıt ve yorumlarınız,

                                        </li>
                                        <li>
                                            Web sitemizin kullanımı sırasında elde edilen gezinme bilgileri, IP adresi, tarayıcı bilgileri ve kendi
                                            rızanız ile ilettiğiniz konum verileriniz.
                                        </li>

                                    </ul>

                                    <p>
                                        Yukarıda sayılmış olan kişisel verileriniz ile özel nitelikli kişisel verileriniz KVK Kanunu’nun 5. ve 6.
                                        maddelerinde belirtilen <b>
                                            kişisel veri işleme şartları ile aşağıda yer alan amaçlar kapsamında
                                            işlenebilecektir:
                                        </b>
                                    </p>

                                    <ul>
                                        <li>
                                            Web sitesi/mobil uygulamalar üzerinden alışveriş yapanın/yaptıranın kimlik bilgilerini teyit
                                            etmek,
                                        </li>

                                        <li>
                                            İletişim için adres ve diğer gerekli bilgileri kaydetmek,
                                        </li>
                                        <li>
                                            Mesafeli satış sözleşmesi ve Tüketicinin Korunması Hakkında Kanun&#39;un ilgili maddeleri
                                            tahtında akdettiğimiz sözleşmelerin koşulları, güncel durumu ve güncellemeler ile ilgili
                                            müşterilerimiz ile iletişime geçmek, gerekli bilgilendirmeleri yapabilmek,
                                        </li>
                                        <li>
                                            Elektronik (internet/mobil vs.) veya kağıt ortamında işleme dayanak olacak tüm kayıt ve
                                            belgeleri düzenlemek,
                                        </li>
                                        <li>
                                            Mesafeli satış sözleşmesi ve Tüketicinin Korunması Hakkında Kanun&#39;un ilgili maddeleri
                                            tahtında akdettiğimiz sözleşmeler uyarınca üstlenilen yükümlülükleri ifa etmek,
                                             Kamu güvenliğine ilişkin hususlarda talep halinde ve mevzuat gereği kamu görevlilerine bilgi
                                            verebilmek,
                                        </li>
                                        <li>
                                            Müşterilerimize daha iyi bir alışveriş deneyimini sağlamak, &quot;müşterilerimizin ilgi alanlarını
                                            dikkate alarak&quot; müşterilerimizin ilgilenebileceği ürünlerimiz hakkında müşterilerimize bilgi
                                            verebilmek, kampanyaları aktarmak,
                                        </li>
                                        <li>
                                            Müşteri memnuniyetini artırmak, web sitesi ve/veya mobil uygulamalardan alışveriş yapan
                                            müşterilerimizi tanıyabilmek ve müşteri çevresi analizinde kullanabilmek, çeşitli pazarlama ve
                                            reklam faaliyetlerinde kullanabilmek ve bu kapsamda anlaşmalı kuruluşlar aracılığıyla
                                            elektronik ortamda ve/veya fiziki ortamda anketler düzenlemek,
                                        </li>

                                        <li>

                                            Anlaşmalı kurumlarımız ve çözüm ortaklarımız tarafından müşterilerimize öneri sunabilmek,
                                            hizmetlerimizle ilgili müşterilerimizi bilgilendirebilmek,
                                        </li>
                                        <li>
                                            Hizmetlerimiz ile ilgili müşteri şikayet ve önerilerini değerlendirebilmek,
                                        </li>
                                        <li>
                                            Yasal yükümlülüklerimizi yerine getirebilmek ve yürürlükteki mevzuattan doğan haklarımızı
                                            kullanabilmek,
                                        </li>

                                        <li>
                                            Pazarlama, Medya ve İletişim, Web ve mobil kanallarda özel içeriklerin, somut ve soyut
                                            faydaların tasarlanması ve iletilebilmesi.
                                        </li>


                                    </ul>
                                    <p>
                                        Yukarıda belirtilen “Kişisel ve Özel Nitelikli Kişisel Verileriniz” @(Model.Company.Name)  ve dış hizmet
                                        sağlayıcıların bünyesinde fiziki ve elektronik arşivlerde büyük bir titizlik ve mevzuat hükümlerine riayet
                                        edilerek muhafaza edilebilecektir.
                                    </p>
                                    <h4>KİŞİSEL VERİLERİN AKTARILMASI</h4>
                                    <p>
                                        Müşterilerimize ait kişisel verilerin üçüncü kişiler ile paylaşımı, müşterilerin izni çerçevesinde
                                        gerçekleşmekte ve kural olarak müşterimizin onayı olmaksızın kişisel verileri üçüncü kişilere
                                        aktarılmamaktadır. Bununla birlikte, yasal yükümlülüklerimiz nedeniyle ve bunlarla sınırlı olmak üzere
                                        mahkemeler ve diğer kamu kurumları ile kişisel veriler paylaşılmaktadır. Ayrıca, taahhüt ettiğimiz
                                        hizmetleri sağlayabilmek ve verilen hizmetlerin kalite kontrolünü yapabilmek için anlaşmalı üçüncü
                                        kişilere kişisel veri aktarımı yapılmaktadır.
                                        <br />     <br />
                                        Üçüncü kişilere veri aktarımı sırasında hak ihlallerini
                                        önlemek için gerekli teknik ve hukuki önlemler alınmaktadır. Bununla birlikte, kişisel verileri alan
                                        üçüncü kişinin veri koruma politikalarından dolayı ve üçüncü kişinin sorumluluğundaki risk alanında
                                        meydana gelen ihlallerden @(Model.Company.Name)  sorumlu değildir. Kişisel verileriniz, 6698 Sayılı Kişisel
                                        Verilerin Korunması Kanunu, sair mevzuat hükümleri çerçevesinde ve yukarıda açıklanan amaçlarla iş
                                        ortaklarımıza, tedarikçilerimize, Şirket yetkililerine, hissedarlarımıza, kanunen yetkili kamu kurumları
                                        ve özel kişiler ile aşağıda belirtilen
                                    </p>
                                    <ul>
                                        <li>
                                            Emniyet Genel Müdürlüğü ve diğer kolluk kuvvetleri,
                                        </li>
                                        <li>
                                            Adli makamlar,
                                        </li>
                                        <li>
                                            Yetki vermiş olduğunuz kanuni temsilcileriniz,
                                        </li>
                                        <li>
                                            Çalışmakta olduğumuz avukatlar, vergi danışmanları ve denetçiler de dâhil olmak üzere danışmanlık
                                            aldığımız üçüncü kişiler,
                                        </li>
                                        <li>
                                            Düzenleyici ve denetleyici kurumlar ve resmi merciler,
                                        </li>
                                        <li>
                                            Hizmetlerinden faydalandığımız veya işbirliği içerisinde olduğumuz tedarikçilerimiz, destek hizmet
                                            sağlayıcılarımız, arşiv hizmeti sağlayıcılarımız ve iş ortaklarımız (daha detaylı bilgi için firmamıza
                                            yazılı başvurarak bilgi edinebilirsiniz.) ile
                                        </li>

                                    </ul>
                                    <h4>KİŞİSEL VERİLERİN KORUNMASI</h4>
                                    <p>
                                       @(Model.Company.Name)  ile paylaşılan kişisel veriler, @(Model.Company.Name)  gözetimi ve kontrolü altındadır. @(Model.Company.Name)

                                        yürürlükteki ilgili mevzuat hükümleri gereğince bilginin gizliliğinin, bütünlüğünün ve
                                        erişebilirliğinin korunması amacıyla gerekli organizasyonu kurmak ve teknik önlemleri almak ve
                                        uyarlamak konusunda veri sorumlusu sıfatıyla sorumluluğu üstlenmiştir. <br /><br />Bu konudaki
                                        yükümlülüğümüzün bilincinde olarak veri gizliliğini konu alan uluslararası ve ulusal teknik standartlara
                                        uygun surette periyodik aralıklarda sızma testleri yaptırılmakta ve bu kapsamda veri işleme
                                        politikalarımızı her zaman güncellemekteyiz.
                                    </p>
                                    <h4>KİŞİSEL VERİ TOPLAMANIN YÖNTEMİ VE HUKUKİ SEBEBİ</h4>
                                    <p>
                                        Kişisel verileriniz, her türlü sözlü, yazılı, görsel ya da elektronik ortamda, yukarıda yer verilen amaçlar
                                        ve @(Model.Company.Name)  faaliyet konusuna dahil her türlü işin yasal çerçevede yürütülebilmesi ve bu
                                        kapsamda @(Model.Company.Name) ’ ın akdi ve kanuni yükümlülüklerini tam ve gereği gibi ifa edebilmesi
                                        için toplanmakta ve işlenmektedir. İşbu kişiler verilerinizin toplanmasının hukuki sebebi başta 6698
                                        sayılı Kişisel Verilerin Korunması Kanunu, olmak üzere sair mevzuat hükümleridir.<br /><br />
                                        Şirketimize ait Kişisel Verileri Korunması ve İşlenmesi Politikasına, Kişisel Verileri Saklama ve İmha
                                        Politikasına ve Ziyaretçi Aydınlatma Metnine kurum web sitemiz üzerinden ulaşabilirsiniz.
                                    </p>
                                    <h4>KİŞİSEL VERİLERİN KORUNMASINA YÖNELİK HAKLARINIZ</h4>
                                    <p>
                                        Kanun ve ilgili mevzuatlar uyarınca;
                                    </p>
                                    <ul>
                                        <li>
                                            Kişisel veri işlenip işlenmediğini öğrenme,
                                        </li>
                                        <li>
                                            Kişisel veriler işlenmişse buna ilişkin bilgi talep etme,
                                        </li>
                                        <li>
                                            Kişisel sağlık verilerine erişim ve bu verileri isteme,
                                        </li>
                                        <li>
                                            Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
                                        </li>
                                        <li>
                                            Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
                                        </li>
                                        <li>
                                            Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme,
                                        </li>
                                        <li>
                                            Kişisel verilerin silinmesini veya yok edilmesini isteme,
                                        </li>
                                        <li>
                                            Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesine ve/veya kişisel
                                            verilerin silinmesini veya yok edilmesine ilişkin işlemlerin kişisel verilerin aktarıldığı üçüncü kişilere
                                            bildirilmesini isteme,
                                        </li>
                                        <li>
                                            İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi
                                            aleyhine bir sonucun ortaya çıkmasına itiraz etme,
                                        </li>
                                        <li>
                                            Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini
                                            talep etme haklarına sahipsiniz.
                                        </li>

                                    </ul>
                                    <h4>VERİ GÜVENLİĞİ VE BAŞVURU HAKKI</h4>
                                    <p>
                                        Kişisel verileriniz teknik ve idari imkânlar dâhilinde titizlikle korunmakta ve gerekli güvenlik tedbirleri,
                                        teknolojik imkânlar da göz önünde bulundurularak olası risklere uygun bir düzeyde sağlanmaktadır.
                                        KVK Kanunu’nun 13. maddesinin 1. fıkrası gereğince, yukarıda belirtilen haklarınızı kullanmak ile ilgili
                                        talebinizi, yazılı veya Kişisel Verileri Koruma Kurulu’nun belirlediği diğer yöntemlerle Şirketimize
                                        iletebilirsiniz. Yukarıda belirtilen haklarınızı kullanmak için kimliğinizi tespit edici gerekli bilgiler ile KVK
                                        Kanunu’nun 11. maddesinde belirtilen haklardan kullanmayı talep ettiğiniz hakkınıza yönelik
                                        açıklamalarınızı içeren talebinizi
                                    </p>
                                    <p>
                                        Kanun kapsamındaki taleplerinizi web sitemizdeki “Kişisel Verilerin Korunması Kanunu Uyarınca
                                        Başvuru Formu” nu doldurarak;<br /><br />

                                    </p>

                                    <p><b>Hacımehmet Ovası Rahmi Üstel Caddesi No:137 Toki'den sonra 500m</b> adresine bizzat teslim edebilir,</p>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

