﻿@model ECommerce.Application.Common.DataTransferObjects.ColumnComponent
<main class="main">
    <div class="page-header mt-30 mb-30">
        <div class="container">
            <div class="tag-header">
                <div class="row align-items-center">
                    <div class="col-xl-5">

                        <div class="breadcrumb">
                            <a href="@Url.Action("Index", "Home")" ><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
                            <span></span>
                            <h1 class="font-sm">Arama Sonuçları</h1>
                        </div>
                    </div>
                    <!--Group Tag Bar-->
                </div>
            </div>
        </div>
    </div>

    <div class="row">


        @if (Model.ProductComponents?.Count != 0)
        {
            @foreach (var product in Model.ProductComponents.Where(pLoop => pLoop.IsStock && pLoop.IsSale))
            {

                @Html.PartialAsync($"/Themes/Glasses/Views/Product/productBox.cshtml", product).Result

            }

        }



    </div>

</main>










































