﻿<form class="kt-form kt-form--label-right" id="brand_create_form">
    <div class="kt-portlet__body">
        <div class="form-group pos-relative">
            <label class="input-abs-text">Marka Adı:</label>
            <input type="text" name="name" class="form-control"  autocomplete="off" required>
        </div>
        <div class="form-group">
            <label class="kt-checkbox">
                <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false"> Aktif
                <span></span>
            </label>
        </div>
    </div>
</form>