﻿@await Html.PartialAsync("/Themes/Org/Views/Shared/DataTablePagination.cshtml")

@await Html.PartialAsync("/Themes/Org/Views/Shared/DataTableTable.cshtml", new ECommerce.Application.Panel.ViewModels.DataTableViewModel{ Name = "Markalar", JsName = "_brandDataTable", Columns = new List<String> { "No", "Ad", "Aktif", "İşlemler" }})

@await Html.PartialAsync("/Themes/Org/Views/Shared/DataTablePagination.cshtml")

@section Scripts {
    <script src="/org/library/js/jquery-serializer-v2.js?v=0.2"></script>
    <script src="/org/library/js/jquery-validation-v2.js?v=0.2"></script>
    <script src="/org/library/js/jquery-data-table.js?v=0.2"></script>
    <script src="/org/library/js/jquery-modal.js?v=0.2"></script>
    <script src="/org/library/js/jquery-autocomplete.js?v=0.2"></script>
    <script src="/org/js/views/brand/index.js?v=0.6"></script>
}