﻿@model DataResponse<Brand>

@if (Model.Success)
{
    <form class="kt-form" id="brand_update_form">

        <input type="hidden" name="id" value="@Model.Data.Id" />

        <div class="kt-portlet__body">
            <div class="kt-section kt-section--first">
                <div class="form-group pos-relative">
                    <label class="input-abs-text">Marka Adı:</label>
                    <input type="text" name="name" class="form-control" value="@Model.Data.Name" placeholder="Marka adı giriniz" autocomplete="off" required>
                </div>
                <div class="form-group pos-relative">
                    <label class="input-abs-text">Marka Url:</label>
                    <input type="text"  class="form-control" value="@Model.Data.Url" disabled autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label class="kt-checkbox">
                        <input type="checkbox" name="active:boolean" value="true" data-unchecked-value="false" @(Model.Data.Active ? "checked" : "")> Aktif
                        <span></span>
                    </label>
                </div>
            </div>
        </div>

    </form>
}