﻿@model ECommerce.Application.Panel.ViewModels.WholesaleOrders.UpdateViewModel

<div class="row">

    <div class="col-md-12">

        <div class="form-group pos-relative">
            <label class="input-abs-text">Sipariş Tipi</label>
            <select id="orderTypeId" class="form-control kt-selectpicker">

                @foreach (var theWholesaleOrderType in Model.WholesaleOrderTypes)
                {
                    <option @(Model.WholesaleOrder.WholesaleOrderType.Name == theWholesaleOrderType.Value ? "selected" : "")
                            value="@theWholesaleOrderType.Key">@theWholesaleOrderType.Value</option>
                }

            </select>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-12">

        <div class="form-group">

            <button class="btn btn-brand" onclick="WholesaleOrderIndex.Update(@Model.WholesaleOrder.Id)">Güncelle</button>

        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-12">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Fotoğraf</td>
                    <td>Ürün</td>
                    <td>Adet</td>
                </tr>
            </thead>
            <tbody id="order-detail-tbody">
                @foreach (var theWholesaleOrderDetail in Model.WholesaleOrder.WholesaleOrderDetails)
                {
                    <tr>
                        <td>
                            <img class="table-product-img" src="https://imgr.helpy.com.tr/img/@(theWholesaleOrderDetail.ProductInformation.ProductInformationPhotos.FirstOrDefault().FileName)/resize?size=150" height="100" />
                        </td>
                        <td>@theWholesaleOrderDetail.ProductInformation.ProductInformationName</td>
                        <td>@theWholesaleOrderDetail.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>

@* <form class="kt-form" id="order_update_form">

    <input type="hidden" name="id" value="@Model.WholesaleOrder.Id" />

    <div class="kt-portlet__body">
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        </div>
    </div>

</form> *@