﻿@{
    ViewData["Title"] = "Giriş Yap";
    ViewData["Description"] = "Mevcut bir üyelğiniz var ise üyelik bilgilerinizi kullanarak giriş yapabilirsiniz.";

}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="@Url.Action("Index","Home")" ><i class="fi-rs-home mr-5"></i>Ana Sayfa</a>
                <span></span>
                <h1 class="font-sm"> Giriş Yap</h1>
            </div>
        </div>
    </div>
    <div class="page-content pt-50 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 col-md-10 m-auto">
                    <div class="row">
                        <div class="col-lg-5 pr-30 d-lg-block">
                            <img class="border-radius-15" src="/themes/glasses/imgs/page/login-1.png" alt="" />
                        </div>
                        <div class="col-lg-6 col-md-8">
                            <div class="login_wrap widget-taber-content background-white">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h1 class="mb-5 font-md">Giriş Yap</h1>
                                        <p class="mb-30 d-flex justify-content-between"><a href="@Url.Action("Register","Account")">hemen üye olun.</a>  <a class="color-link" href="@Url.Action("ForgotPassword","Account")">Şifremi Unuttum</a></p>
                                    </div>
                                    <form method="post" id="login-form">
                                        <div class="form-group">
                                            <input type="text" required name="username" id="username" class="mail" placeholder="E-posta *" />
                                              <div class="invalid-message-mail invalid-message" style="display: none;">Mailinizi kontrol ediniz.</div>
                                                <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                                        </div>
                                        <div class="form-group">
                                            <input required type="password" name="password" id="password" placeholder="Şifreniz *" />
                                            <div class="invalid-message" style="display: none;">Bu alan boş olamaz</div>
                                        </div>
                                        @*<div class="login_footer form-group">
            <div class="chek-form">
                <input type="text" required name="email" placeholder="Güvenlik Kodu *" />
            </div>
            <span class="security-code">
                <b class="text-new">8</b>
                <b class="text-hot">6</b>
                <b class="text-sale">7</b>
                <b class="text-best">5</b>
            </span>
        </div>*@
                                      @*    <div class="login_footer form-group mb-50">
                                          <div class="chek-form">
                                                <div class="custome-checkbox">
                                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="Beni Hatırla" />
                                                    <label class="form-check-label" for="exampleCheckbox1"><span>Beni Hatırla</span></label>
                                                </div>
                                            </div>
                                           
                                        </div>*@
                                     
                                        <div class="form-group">
                                            <button type="button" class="btn btn-heading btn-block hover-up" value="Giriş Yap" onclick="AccountLogin.Login()" name="login">Giriş Yap</button>
                                        </div>

                                        <div id="g-recaptcha"></div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Js{
    <script src="https://www.google.com/recaptcha/api.js?onload=loadCaptcha&render=explicit" async defer></script>
}